﻿@model BLL.ViewModels.UserTypeViewmodel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="divError" class="errorMsg" style="text-align: left; width: 100%;"></div>
<div id="divJSValidation" class="errorMsg">
    <div class="errorMsg">
        @Html.ValidationSummary()
    </div>
</div>
<form action="@Url.Content("~/User/SaveProfile")" method="post" id="frmProfile">
    @*<div class="errorMsg">
        @Html.ValidationSummary()
    </div>*@
    <table>
        @if (Model.user.HeadCompanyId != null && Model.user.HeadCompanyId != 0)
        {
            <tr>
                <td>
                    Company : @Html.TextBoxFor(x=>x.CompanyName, new { @id = "txtHeadCompany", @disabled = "disabled;" })
                </td>
            </tr>
        }
    </table>
    <table width="100%" class="content">
        <tr>
            <td style="width:350px;">
                <table width="100%">
                    <tr>
                        <td class="subHeading" colspan="2">Basic</td>
                    </tr>
                    <tr>
                        <td width="30%" nowrap="nowrap">First Name:</td>
                        <td>
                            @Html.TextBoxFor(model => model.user.FirstName, new { @id = "txtFName" })
                            @Html.HiddenFor(model => model.user.UserId)
                            @Html.HiddenFor(model => model.user.UserTypeId)
                            
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Middle Name:</td>
                        <td>@Html.TextBoxFor(model => model.user.MiddleInitial)</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Last Name:</td>
                        <td>@Html.TextBoxFor(model => model.user.LastName, "", new { @id = "txtLName" })</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Email:</td>
                        <td>@Html.TextBoxFor(model => model.user.Email, "", new { @id = "txtEmail" })</td>
                    </tr>
                    <tr id="trCPOCPhoneHeading">
                        <td class="subHeading" colspan="2">Phone Numbers</td>
                    </tr>
                    <tr id="trCPOCMobile">
                        <td nowrap="nowrap">Mobile Phone #:</td>
                        <td>@Html.TextBoxFor(model => model.user.MobilePhone, "", new { @class = "PhoneNo" })</td>
                    </tr>
                    <tr id="trCPOCWorkPhone">
                        <td nowrap="nowrap">Work Phone #:</td>
                        <td>@Html.TextBoxFor(model => model.user.WorkPhone, "", new { @class = "PhoneNo" })</td>
                    </tr>
                    @* <tr id="trCPOCAddressHeading">
                            <td class="subHeading" colspan="2">Address</td>
                        </tr>
                        <tr id="trCPOCAddressPO">
                            <td nowrap="nowrap">Address or PO #:</td>
                            <td>@Html.TextBoxFor(model => model.user.AddressPO)</td>
                        </tr>
                        <tr id="trCPOCStreetNo">
                            <td nowrap="nowrap">Street #:</td>
                            <td>@Html.TextBoxFor(model => model.user.AddressLine1)</td>
                        </tr>
                        <tr id="trCPOCStreetName">
                            <td nowrap="nowrap">Street Name:</td>
                            <td>@Html.TextBoxFor(model => model.user.StreetAddress)</td>
                        </tr>*@
                    <tr id="trCPOCAddressHeading">
                        <td class="subHeading">Address:</td>
                        <td>@Html.TextBoxFor(model => model.user.StreetAddress)</td>
                    </tr>
                    <tr id="trCPOCZip">
                        <td nowrap="nowrap">Zip:</td>
                        <td>@Html.TextBoxFor(model => model.user.Zip, new { @id = "txtZip", @onblur = "populateZipData('txtZip','ddlState','txtCity')" })</td>
                    </tr>
                    <tr id="trCPOCState">
                        <td nowrap="nowrap">State:</td>
                        <td>@Html.DropDownListFor(model => model.user.State, new SelectList(Model.StateList, "Key", "Value", Model.user.State), new { @id = "ddlState", @style = "width:150px;" })</td>
                    </tr>
                    <tr id="trCPOCCity">
                        <td nowrap="nowrap">City:</td>
                        <td>@Html.TextBoxFor(model => model.user.City, new { @id = "txtCity" })</td>
                    </tr>
                </table>
            </td>
            <td width="50%" valign="top">
                <table>
                    <tr>
                        <td class="subHeading" colspan="2">Login</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">User Name:</td>
                        <td>
                            @Html.TextBoxFor(model => model.user.UserName, new { @id = "txtUserName", @disabled = "disabled;" })
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Password:</td>
                        <td>
                            <input name="Password" value='@Model.user.Password' id="txtPassword" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td>
                            <input name="ConfirmPassword" value='@Model.user.Password' id="txtConfPassword" type="password" onblur="compare();" />
                            <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer" colspan="2">
                <input type="button" class="buttonYellow_100" value="Save" id="submit" onclick="return saveProfile();">
            </td>
        </tr>
    </table>
</form>


    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function compare() {
            //Perform validation when all the previous required fields have data else let the controller handle those validations.
            var valueToReturn = true;
            debugger;

            if ($("#txtUserName").val().length != 0)
            {
                if ($("#txtConfPassword") != "")
                {
                    var pass = $('#txtPassword').val();
                    var confPass = $('#txtConfPassword').val();
                    var letters = false;
                    var numbers = false;
                    var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                    var number = /^[0-9]+$/; //PATTERN FOR NUMBERS

                    if ($('#txtPassword').val() != $('#txtConfPassword').val())
                    {
                        passwordNotMatch("Passwords do not match.");
                        valueToReturn = false;
                    }
                    else if (pass.length < 8)
                    {
                        passwordNotMatch("Password should be at least 8 characters.");
                        valueToReturn = false;
                    }

                    for (i = 0; i < pass.length; i++)
                    {
                        if (pass.substr(i, 1).match(alpha))
                        {
                            letters = true; //AT LEAST ONE LETTER EXISTS
                        }
                        else if (pass.substr(i, 1).match(number))
                        {
                            numbers = true; //AT LEAST ONE NUMBER EXISTS
                        }
                    }

                    //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                    if ((letters == false && numbers == false && valueToReturn != false) || (letters == false && numbers == true && valueToReturn != false) || (letters == true && numbers == false && valueToReturn != false))
                    {

                        passwordNotMatch("Password should contain at least one upper case  letter, one lower case  letter,one digit, one special character and  Minimum 8 in length.");
                        valueToReturn = false;

                    }

                    if (valueToReturn == true)
                    {
                        $("#divJSValidation").html('');
                        $("#tdConfirmPassword").html('');
                    }
                }
            }
            return valueToReturn;
        }

        function passwordNotMatch(message)
        {
            $("#tdConfirmPassword").css("display", "block");
            $('#txtPassword').val('');
            $('#txtConfPassword').val('');
            $("#tdConfirmPassword").text(message);
            $("#divJSValidation").html(message);
        }

        function populateZipData(zipControl, stateControl, cityControl)
        {
            debugger;
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")", { ZipCode: $("#" + zipControl).val() }, function (data) {
                if (data != -1)
                {
                    $("#" + stateControl).val(data.State);
                    $("#" + cityControl).val(data.City);
                }
                else
                {
                    $("#" + stateControl).val("");
                    $("#" + cityControl).val("");
                }
            });
        }

        function saveProfile()
        {
            document.getElementById("divError").innerHTML = ""
            debugger;
            var FirstName = $('#txtFName').val();
            var LastName = $('#txtLName').val();
            var UserName = $('#txtUserName').val();
            var Password = $('#txtPassword').val();
            var CPassword = $('#txtConfPassword').val();
            var Email = $('#txtEmail').val();

            var isValid = true;
            var isValidErrorMsg = '';

            if (FirstName.trim() == '') {
                isValid = false;
                isValidErrorMsg += "Select First Name required.<br/>";
            }
            if (LastName.trim() == '') {
                isValid = false;
                isValidErrorMsg += "Select Last Name required.<br/>";
            }
            if (UserName.trim() == '') {
                isValid = false;
                isValidErrorMsg += "User Name field required.<br/>";
            }
            if (Password.trim() == '') {
                isValid = false;
                isValidErrorMsg += "Password field required.<br/>";
            }
            if (CPassword.trim() == '') {
                isValid = false;
                isValidErrorMsg += "Confirm Password field required.<br/>";
            }
            if (CPassword.trim() != Password.trim()) {
                isValid = false;
                isValidErrorMsg += "Password and Confirm Password field should have to be same.<br/>";
            }
            else if (Password.trim() != '') {
                var strongRegex = /^(?=.*\d)(?=.*[!@@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).{8,}$/;
                if (!strongRegex.test(Password.trim())) {
                    isValid = false;
                    isValidErrorMsg += "Password should contain at least one upper case  letter, one lower case  letter,one digit, one special character and  Minimum 8 in length.<br/>";
                }
            }
            if (Email.trim() == '') {
                isValid = false;
                isValidErrorMsg += "Email field required.<br/>";
            }

          //  isValid = compare();
            if (isValid)
            {

            }
            else
            {
                document.getElementById("divJSValidation").innerHTML = isValidErrorMsg;
                return false;
            }

            $.ajax({
                url: '@Url.Content("~/User/SaveProfile")',
                type: 'POST',
                data: $("#frmProfile").serialize(),
                success: function (result) {
                    if(result == 1)
                    {
                        document.getElementById("divJSValidation").innerHTML = "Profile has been saved successfully.";
                    }
                    else if (result == -1)
                    {
                        document.getElementById("divJSValidation").innerHTML = "New Password should be different than previous all passwords.";
                    }
                    else {
                        document.getElementById("divJSValidation").innerHTML = "Error while saving profile information.";
                    }
                }
            });
            return false;
        }

        $(document).ready(function () {
            $(".PhoneNo").mask("(999) 999-9999");
        });
    </script>

