﻿@model BLL.ViewModels.UserTypeViewmodel
@{
    ViewBag.Title = "Users";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();

}
<script>
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }
</script>
@using (Html.BeginForm("Search", "User", FormMethod.Post, new { @id = "AdminUser", enctype = "multipart/form-data" }))
{
    <table width="100%">
        <tr>
            <td>
        
                    <table align="left" cellspacing="0" width="100%">
                        <tr>
                            @*<td class="mainHeader">*@
                            <td class="mainHeader" style="text-align:right;">
                                <div style="float: left;">Search Admin Users</div>
                            </td>
                                @*<a id="lblSearchExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Admin Users</a>
                                <a id="lblSearchCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Admin Users</a>*@
                            @*</td>*@
                        </tr>
                        <tr>  @*id="trSearchFilterContent" style="display: none;"*@
                            <td class="content">
                                <table>
                                    <tr>
                                        <td>
                                            First Name:
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.FirstName)
                                        </td>
                                        <td>
                                            Last Name:
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.LastName)
                                        </td>
                                        <td>
                                            User Name:
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.UserName)
                                        </td>
                                        
                                        <td>
                                            Email :
                                        </td>
                                        <td style="width: 30% !important;">
                                            @Html.TextBoxFor(model => model.Email,new {@style="width:80% !important"})
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr align="right">  @*id="trSearchFilterFooter" style="display: none;"*@
                            <td class="footer">
                                <input type="submit" class="buttonLightYellow_100" name="SubmitButton" value="Search" />
                                <input type="submit" value="Export" name="SubmitButton" class="buttonLightYellow_100" />
                        </tr>
                    </table>
        
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr id="trSPList">
            <td>
                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                    <tr>
                        @{
                            if (loggedInUser.IsSuperAdmin && Model.UserTypeId == 0)
                            {
                                <td class="mainHeader">
                                    Users List
                                    <div style="float:right;">
                                        <a href="@Url.Action("Submit", "User", new { @Id = -1 , @UserTypeId = 2 })">
                                            Add Admin User
                                        </a>
                                    </div>
                                </td>
                            }

                            
                        }

                    </tr>
                    <tr>
                        <td class="content">
                            <table cellpadding="3" cellspacing="0" width="100%">
                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            Full Name
                                        </td>
                                        <td>
                                            User Name
                                        </td>
                                        <td>
                                            State
                                        </td>
                                        <td>
                                            City
                                        </td>
                                        <td>
                                            Zip
                                        </td>
                                        <td>
                                            Mobile Phone
                                        </td>
                                        <td>
                                            Email Address
                                        </td>
                                        <td>
                                            User Type
                                        </td>
                                        <td>
                                            Active
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2"></td>
                                        <td style="display: none;">
                                            <input type="hidden" id="hdnPageSige" name="hdnPageSige" />
                                            <input type="hidden" id="hdnNext" name="hdnNext" />
                                        </td>
                                    </tr>
                                </thead>
                                @{
                                    int i = 0;
                                    int j = Model.Pager.Page - 1;
                                    int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                                    int k = j * z;
                                    foreach (var User in Model.AllUsers)
                                    {


                                        <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                            <td>@(k = k + 1)</td>
                                            <td nowrap="nowrap">
                                                @User.FullName
                                            </td>
                                            <td>
                                                @User.UserName
                                            </td>
                                            <td>
                                                @if (User.State != "--Select--" && User.State != "" && User.State != null)
                                                {
                                                    <div>
                                                        @*@((new BLL.ChoiceSolutionsEntities()).StateProvinces.Find(Convert.ToInt32(user.State)).Name.ToString())*@
                                                        @((new BLL.ChoiceSolutionsEntities()).StateProvinces.Where(m => m.StateProvinceCode == User.State).ToList().Count != 0 ? (new BLL.ChoiceSolutionsEntities()).StateProvinces.Where(m => m.StateProvinceCode == User.State).First().Name : "")

                                                    </div>

                                                }
                                            </td>
                                            <td>
                                                @User.City
                                            </td>
                                            <td>
                                                @User.Zip
                                            </td>
                                            <td>
                                                @User.MobilePhone
                                            </td>
                                            <td>
                                                @User.Email
                                            </td>
                                            

                                            <td>@User.UserTypeDescription</td>
                                            @if (User.Active == null)
                                            {
                                                <td>True</td>
                                            }
                                            else
                                            {
                                                <td>@User.Active</td>
                                            }
                                            
                                            <td>
                                                <a href="@Url.Action("Submit", "User", new { @Id = User.UserId ,@UserTypeId = User.UserTypeId})" style="border: none; color: black; cursor: pointer;float:left;">
                                                    <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            </td>

                                        </tr>
                                        i++;
                                    }
                                    if (i == 0)
                                    {
                                        <tr>
                                            <td colspan="14" align="center">
                                                <br />
                                                - No record matching the Search Filter was found -<br />
                                                <br />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <table width="100%">
                                <tr>
                                    <td>
                                        @Html.Partial("_Pager", Model.Pager)
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
                                    }

