﻿@model BLL.ViewModels.UserTypeViewmodel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();

}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $(".PhoneNo").mask("(999) 999-9999");
    });

    function UserCheck() {
        $("#divStatus").html("Checking....");
        $.post("@Url.Content("~/Account/IsUserNameAvailable")",
    { username: $("#txtUserName").val() },
    function (data) {
        if (data == 1) {
            $("#divStatus").html("User Name is Available");
        }
        else {
            $("#divStatus").html("User Name is Unavailable");
        }
    });
    }

    function compare() {
        //Perform validation when all the previous required fields have data else let the controller handle those validations.
        var valueToReturn = true;
        if ($("#txtFirstName").val().length != 0 && $("#txtLastName").val().length != 0 && $("#txtUserName").val().length != 0) {
            if ($("#tdConfirmPassword") != "") {
                var pass = $('#txtPassword').val();
                var confPass = $('#txtConfPassword').val();
                var letters;
                var numbers;
                var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                var number = /^[0-9]+$/; //PATTERN FOR NUMBERS
                if ($('#txtPassword').val() != $('#txtConfPassword').val()) {
                    passwordNotMatch("Passwords do not match.");
                    valueToReturn = false;
                }
                else if (pass.length < 6) {
                    passwordNotMatch("Password should be at least 6 characters.");
                    valueToReturn = false;
                }
                for (i = 0; i < pass.length; i++) {
                    if (pass.substr(i, 1).match(alpha)) {
                        letters = true; //AT LEAST ONE LETTER EXISTS
                    }
                    else if (pass.substr(i, 1).match(number)) {
                        numbers = true; //AT LEAST ONE NUMBER EXISTS
                    }
                }
                //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                if (letters == true && numbers == true) {
                }
                else {
                    passwordNotMatch("Password should have at least one alphabet and one numeric character.");
                    valueToReturn = false;
                }
            }
        }
        return valueToReturn;
    }

    function passwordNotMatch(message) {
        debugger;
        $("#tdConfirmPassword").css("display", "block");
        $('#txtPassword').val('');
        $('#txtConfPassword').val('');
        $("#tdConfirmPassword").text(message);
        $("#divJSValidation").html(message);

    }
    function HidePasswordMessage() {
        $("#tdConfirmPassword").css("display", "none");
    }

    function populateZipData() {
        //alert('called');
        //debugger;
        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
    { ZipCode: $("#txtZip").val() },
    function (data) {
        if (data != -1) {
            $("#ddlState").val(data.State);
            $("#ddlCity").val(data.City);
        }
    });
    }
    function ShowHidePwd(obj)
    {
        if ($(obj).val() == "Show Password") {
            $("#txtPassword").prop('type', 'text');
            $(obj).val("Hide Password");
        }
        else {
            $("#txtPassword").prop('type', 'password');
            $(obj).val("Show Password");
        }
    }
    function ResetPwd() {
        if (confirm("Are you sure want to reset password?"))
        {
            $.post("@Url.Content("~/User/ResetPassword")",
        { UserId: @Model.user.UserId },
        function (data) {
            if (data == 1) {
                alert("Password reset successfully and mail sent to user with new password.");
            }
            else if (data == 2)
            {
                alert("Password reset successfully but error occured in sending mail to user.");
            }
            else {
                alert("Internal error occured, please try again.");
            }
            window.location.reload();
        });
        }
    }
    
</script>
<div style="width: 100%;">
    <div id="divJSValidation" class="errorMsg">
    </div>
    <div class="errorMsg">
        @Html.ValidationSummary()
        @*@ViewBag.ExceptionErrorMsg*@
    </div>
</div>
@using (Html.BeginForm("Submit", "User", FormMethod.Post, new { @id = "frmRegistration" }))
{
    <table>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td>
                @Html.HiddenFor(model => model.user.UserTypeId)
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                Full Name
                <br />
                (initials not acceptable)
            </td>
            <td valign="top">
                <table align="left" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td valign="top" style="padding-right: 5px;">
                            <a id="a_user_FirstName"></a>First Name
                        </td>
                        <td valign="top" style="padding-right: 5px;">
                            Middle Name
                        </td>
                        <td valign="top">
                            <a id="a_user_LastName"></a>Last Name
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="padding-right: 5px;">
                            <input name="user.FirstName" id="txtFirstName" type="text" value="@Model.user.FirstName" maxlength="41" />

                        </td>
                        <td valign="top" style="padding-right: 5px;">
                            <input name="user.MiddleInitial" type="text" value="@Model.user.MiddleInitial" maxlength="41" />
                        </td>
                        <td valign="top">
                            <input name="user.LastName" id="txtLastName" type="text" value="@Model.user.LastName" maxlength="41" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_UserName"></a>User Name
            </td>
            <td nowrap="nowrap" valign="top">
                <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                &nbsp;
                <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" style="width:120px" />
                <div style="display: inline; color: red;" id="divStatus"></div>
            </td>
        </tr>
        @if (Model.user != null && Model.user.UserId > 0)
        {
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top"><a id="a_user_Password"></a>Password</td>
                <td valign="top">
                    <input name="user.Password" id="txtPassword" type="password" value="@Model.user.Password" onfocus="HidePasswordMessage();" style="margin-right:3px" />
                    &nbsp;
                    @if (loggedInUser.UserTypeId == 2)
                    {
                        @*@: &nbsp; Show Password <input type = "checkbox" onclick = "ShowHidePwd(this)" id = "chkShowhidePwd" />*@
                        @:<input id="btnShowhidePwd" type="button" value="Show Password" onclick="ShowHidePwd(this)" style="width:120px" />
                    }
                    <br />Password should atleast be of 6 characters with one alphabet and a number

                </td>
            </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top">Confirm Password</td>
                <td valign="top" align="left">
                    <input name="user.PasswordConfirm" id="txtConfPassword" type="password" value="@Model.user.Password" onblur="compare();" onfocus="HidePasswordMessage();" style="margin-right:3px" />
                    &nbsp;
                    @if (loggedInUser.UserTypeId == 2)
                    {
                        @:<input id="btnResetPwd" type="button" value="Reset Password" onclick="ResetPwd()" style="width:120px" />
                    }
                    <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="3">
                    <input type="hidden" value="@Model.user.Password" name="user.Password" />
                </td>
            </tr>
        }
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_Email"></a>Email Address:
            </td>
            <td valign="top">
                <input name="user.Email" id="txtEmail" type="text" value="@Model.user.Email" />
                @*<input type="hidden" value="@Model.user.SecondaryEmail" />*@
            </td>

        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_Phone"></a>Mobile Phone:
            </td>
            <td valign="top">
                <input name="user.MobilePhone" type="text" value="@Model.user.MobilePhone" class="PhoneNo" />
            </td>
        </tr>
        @*<tr>
                <td valign="top">&nbsp;</td>
                <td valign="top">
                    Address or PO Box:
                </td>
                <td valign="top" colspan="2">
                    <input name="user.AddressPO" type="text" value="@Model.user.AddressPO" />
                </td>
            </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top">
                    Street Number:
                </td>
                <td valign="top" colspan="2">
                    <input name="user.AddressLine1" type="text" value="@Model.user.AddressLine1" />
                </td>
            </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top">
                    <a id="a_user_StreetAddress"></a>Street Name:
                </td>
                <td valign="top" colspan="2">
                    <input name="user.StreetAddress" type="text" value="@Model.user.StreetAddress" />
                </td>
            </tr>*@
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_StreetAddress"></a>Address:
            </td>
            <td valign="top">
                <input name="user.StreetAddress" type="text" value="@Model.user.StreetAddress" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                <a id="a_user_Zip"></a>Zip:
            </td>
            <td valign="top">
                <input name="user.Zip" id="txtZip" type="text" value="@Model.user.Zip" onblur="populateZipData('txtZip','ddlState','ddlCity')" />
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_State"></a>State:
            </td>
            <td valign="top">
                <select name="user.State" id="ddlState" style="width: 150px;" onblur="getCurrentState()">
                    @foreach (var state in Model.StateList)
                    {
                        <option value="@state.Key.Trim()" @(state.Key != (Model.user.State ?? "").Trim() ? "" : "selected = selected")>@state.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_City"></a>City:
            </td>
            <td valign="top">
                <input name="user.City" id="ddlCity" type="text" value="@Model.user.City" onblur="getCurrentCity()" />
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_City"></a>Status:
            </td>
            <td valign="top">
                <input type="radio" name="user.Active" value="true" checked="@(Model.user.Active.HasValue ? (Convert.ToBoolean(Model.user.Active) ? true : false) : true)" />Active &nbsp;
                <input type="radio" name="user.Active" value="false" checked="@(Model.user.Active.HasValue ? (Convert.ToBoolean(Model.user.Active) ? false : true) : false)" />InActive<br />
            </td>
        </tr>
        
        
        <tr>
                <td></td>
                <td></td>
                <td></td>
            
        </tr>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
        </tr>
        <tr align="right">
            <td class="footer" colspan="3">
                <div style="float: left">
                    @if (Model.SearchPage == "UserSearch")
                    {
                        <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("SearchForUsers", "User")';" />
                    }
                    else
                    {
                        <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("Search", "User")';" />
                    }
                </div>
                <div style="float: right">
                    <input type="submit" class="buttonYellow_100" value="Save" id="submit" />
                </div>
            </td>
        </tr>

    </table>

}
<div id="backgroundAssignUserpopup" class="backgroundAssignUserpopup" style="display: none;"></div>
<div id="AssignUser" style="display: none; width:800px;" class="EditAssignUserpopup">
    @*<div id="divCatPricing" class="CatPricingPopup" style="display:none; width:900px;">*@
    <div>
    </div>
</div>

<div id="backgroundDemoteToExamierUserpopup" class="backgroundDemoteToExamierUserpopup" style="display: none;"></div>
<div id="DemoteToExamierUser" style="display: none;" class="EditDemoteToExamierUserpopup">
    <div>
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/jquery-ui.min.js"></script>
<style type="text/css">
    .backgroundAssignUserpopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditAssignUserpopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>

<script>
    function loadAssignUser(UserId, UserTypeId) {

        var popupStatus = 0;

        if (popupStatus == 0) {

            centerAssignUser();
            $("#backgroundAssignUserpopup").css({
                "opacity": "0.7"
            });

            GetUserByMgrId(UserId,UserTypeId);
            $("#backgroundAssignUserpopup").fadeIn("slow");
            $("#AssignUser").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function centerAssignUser() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#AssignUser").height();
        var popupWidth = $("#AssignUser").width();
        //centering
        $("#AssignUser").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundAssignUserpopup").css({
            "height": windowHeight
        });
        return false;
    }

    function disableAssignUserpopup() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundAssignUserpopup").fadeOut("slow");
            $("#AssignUser").fadeOut("slow");
            popupStatus = 0;

            expanded = false;

        }
    }




    function GetUserByMgrId(MgrId, UserTypeId) {
        $.ajax({
            type: "POST"
            , url: '@Url.Action("GetUserListByMgrId", "User")'
            , data: { MgrId: MgrId, UserTypeId: UserTypeId }
            , async: false
            , success: function (data) {
                $("#AssignUser").html(data);
                $("#hidUserTypeId").val(UserTypeId);
                debugger;
                if(UserTypeId == 12)
                {
                    $('#txtSPName').show();
                    $('#txtExaminerName').hide();
                }
                else if (UserTypeId == 11)
                {
                    $('#txtSPName').hide();
                    $('#txtExaminerName').show();
                }
            }
        });
    }

    function SaveAssignUser()
    {
        debugger;
        var UserTypeId = $("#hidUserTypeId").val();

        $.ajax({
            type: "POST"
            , url: '@Url.Action("AssignMgr", "User")'
            , data: $("#frmAssignMgr").serialize()
            , async: false
            , success: function (data) {
                debugger;
                $("#AssignUser").html(data);
                if (UserTypeId == 12) {
                    $('#txtSPName').show();
                    $('#txtExaminerName').hide();
                }
                else if (UserTypeId == 11) {
                    $('#txtSPName').hide();
                    $('#txtExaminerName').show();
                }
            }
        });
    }

    function DeleteMgrId(UserId,MgrId)
    {
        var UserTypeId = $("#hidUserTypeId").val();
        debugger;
        $.ajax({
            type: "POST"
            , url: '@Url.Action("DeleteAssignedMgr", "User")'
            , data: { MgrId: MgrId, UserId: UserId, UserTypeId: UserTypeId }
            , async: false
            , success: function (data) {
                $("#AssignUser").html(data);
                if (UserTypeId == 12) {
                    $('#txtSPName').show();
                    $('#txtExaminerName').hide();
                }
                else if (UserTypeId == 11) {
                    $('#txtSPName').hide();
                    $('#txtExaminerName').show();
                }
            }
        });
    }

</script>
@*Demote To Examiner*@
<style type="text/css">
    .backgroundDemoteToExamierUserpopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditDemoteToExamierUserpopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>
<script>
    //PromoteToManager
    function btnPromoteToManager(userId) {
        $.ajax({
            url: '@Url.Action("PromoteToManager", "InsuranceSetup")'
    , type: 'GET'
        , data: { UserId: userId }
        , cache: false
        }).done(function (result) {
            alert("Promoted To Manager successfully.");
            location.reload();

        }).fail(function (result) {
        });

    }

    //Demote To Examiner
    function btnDemoteToExaminer(userId) {
        if (confirm("Are you sure you want to demote this Manager?"))
            $.ajax({
                url: '@Url.Action("DemoteToExaminer", "InsuranceSetup")'
        , type: 'GET'
            , data: { UserId: userId }
            , cache: false
            }).done(function (result) {
                alert("Demoted To Examiner successfully.");
                location.reload();
            }).fail(function (result) {
            });
    }

    function GetUserByMgrIdForDemoteToExaminer(MgrId, UserTypeId) {
        $.ajax({
            type: "POST"
            , url: '@Url.Action("GetUserByMgrIdForDemoteToExaminer", "User")'
            , data: { MgrId: MgrId, UserTypeId: UserTypeId }
            , async: false
            , success: function (data) {
                $("#DemoteToExamierUser").html(data);
                $("#hidUserTypeId").val(UserTypeId);

            }
        });
    }

    function loadDemoteToExamierUser(UserId, UserTypeId) {
        debugger;
        $("#divError").empty();
        var popupStatus = 0;

        if (popupStatus == 0) {

            centerDemoteToExamierUser();
            $("#backgroundDemoteToExamierUserpopup").css({
                "opacity": "0.7"
            });

            GetUserByMgrIdForDemoteToExaminer(UserId, UserTypeId);
            $("#backgroundDemoteToExamierUserpopup").fadeIn("slow");
            $("#DemoteToExamierUser").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function centerDemoteToExamierUser() {
        //request data for centering
        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#DemoteToExamierUser").height();
        var popupWidth = $("#DemoteToExamierUser").width();
        //centering
        $("#DemoteToExamierUser").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundDemoteToExamierUserpopup").css({
            "height": windowHeight
        });
        return false;
    }

    function disableDemoteToExamierUserpopup() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundDemoteToExamierUserpopup").fadeOut("slow");
            $("#DemoteToExamierUser").fadeOut("slow");
            popupStatus = 0;

            expanded = false;

        }
    }


    function SaveDemoteToExamierUser() {
        debugger;
        var UserTypeId = $("#hidUserTypeId").val();
        var userId = $("#hidMgrId").val();
        var headCompanyId = $("#ddlCompany").val();
        var isValidErrorMsg = '';

        debugger;
        if (headCompanyId > 0) {
            if (confirm("Are you sure you want to demote this Manager?"))
                $.ajax({
                    url: '@Url.Action("DemoteToExaminer", "InsuranceSetup")'
            , type: 'GET'
                , data: { UserId: userId, CompanyId: headCompanyId }
                , cache: false
                }).done(function (result) {
                    alert("Demoted To Examiner successfully.");
                    location.reload();
                }).fail(function (result) {
                });
        }
        else
        {
           // alert("Please select the Company.");
            isValidErrorMsg += "Please select the Company.<br/>";
            document.getElementById("divError").innerHTML = isValidErrorMsg;
            return false;
        }
    }

</script>