﻿@model BLL.ViewModels.InsuranceTypeSearchViewModel
@{
    ViewBag.Title = "Companies List";
}

<style type="text/css">
       #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

   
    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }

    .wideareadivNewPricing {
        width: 350px;
        height: 80px;
    }

    .wide {
        width: 350px;
    }
</style>

<script type="text/javascript">
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblcompExpand").style.display = "none";
        document.getElementById("lblcompCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblcompExpand").style.display = "inline";
        document.getElementById("lblcompCollapse").style.display = "none";
    }
    function SetCompanyName(elm) {      
        $('#HeadCompanyName').text($(elm).closest("tr").find("td").first().text());
    }
    function loadLOBPopup(url) {

        document.getElementById("iframeLOB").src = url;
        centerLOBPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divLOB").fadeIn("slow");

        return false;
    }

    function disableLOBPopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("slow");
            $("#divLOB").fadeOut("slow");
            popupStatus = 0;
        }

    }
    function centerLOBPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divLOB").height();
        var popupWidth = $("#divLOB").width();
        //centering  
        $("#divLOB").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

</script>
<div class="errorMsg">@ViewBag.ErrorMsg</div>
<table width="100%">
    <tr>
        <td>
            @using (Html.BeginForm("CompaniesList", "InsuranceSetUp"))
            {
                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <a id="lblcompExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Company Filter</a>
                            <a id="lblcompCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Company Filter</a>
                        </td>
                    </tr>
                    <tr id="trSearchFilterContent" style="display: none;">
                        <td class="content">
                            @Html.Partial("_CompanySearchFilter")
                        </td>
                    </tr>
                    <tr align="right" id="trSearchFilterFooter" style="display: none;">
                        <td class="footer">
                            <input type="submit" class="buttonYellow_100" value="Search" />
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td align="right" cellspacing="0" width="100%">
           
        </td>
    </tr>
    <tr>
        <td>
            <table align="left" cellpadding="3" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader"><div style="float:left;">Company List</div>
                        

                       @* <div style="float: right;">
                            @using (Html.BeginForm("submit", "InsuranceSetUp", FormMethod.Get))
                            {
                                <input type="submit" class="buttonLightYellow_100" value="New" />
                            }
                        </div>*@
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        @using (Html.BeginForm("Index", "InsuranceSetUp"))
                        {
                            <table cellpadding="3" cellspacing="0" width="100%">

                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td>Company Name
                                        </td>
                                        <td>City</td>
                                        <td>State</td>
                                        <td>Zip</td>
                                        <td>WebsiteURL</td>
                                        <td>Integration Type</td>
                                        <td>LOB</td>
                                        <td>Status</td>
                                        <td colspan="2"></td>
                                    </tr>
                                </thead>
                                @{
                            int i = 0;
                            if (Model.company != null)
                            {
                                foreach (var comp in Model.company)
                                { 
                                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                        <td nowrap="nowrap">
                                            @comp.CompanyName
                                        </td>
                                        <td>
                                            @comp.City
                                        </td>
                                        <td>
                                            @*@comp.State*@
                                        </td>
                                        <td>
                                            @comp.Zip
                                        </td>
                                        <td>
                                            @comp.WebsiteURL
                                        </td>
                                        <td>

                                            @{
                                    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                    BLL.IntegrationType it = css.IntegrationTypes.Find(comp.IntegrationTypeId);
                                                <div style="display: inline;">@it.IntegrationCompany</div>
                                            }
                                        </td>
                                        <td><a href="#" onclick="SetCompanyName(this); loadLOBPopup('@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = comp.CompanyId, LOBId = -1 })');" style="border: none; cursor: pointer;float:left;">LOB</a></td>
                                        <td>
                                            @comp.IsActive
                                        </td>
                                        <td nowrap="nowrap" align="right">
                                           @* <a  style="text-decoration:none;padding-right:3px;" href="@Url.Action("ClientPOCList", "InsuranceSetUp", new { @CompanyId = comp.CompanyId })"><img width="15" height="15" src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Client POC" /></a>*@
                                            <a  href="@Url.Action("submit", "InsuranceSetUp", new { compid = comp.CompanyId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                                            </a>
                                            <a href="@Url.Action("DeleteCompany", "InsuranceSetUp", new { compid = comp.CompanyId })" style="text-decoration:none;border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to delete this company!');">
                                                <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>

                                        </td>
                                    </tr>   
                                    i++;
                                }
                            }
                                }
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div id="backgroundPopup"onclick="disableLOBPopup();" ></div>
<div id="divLOB" class="EditPopup" style="width:1200px;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Line Of Business - <span id="HeadCompanyName"></span></b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableLOBPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeLOB" width="1200" height="600" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
        <tr>
            <td class="footer" align="center">
                <br />
            </td>
        </tr>
    </table>

</div>
