﻿@model BLL.ViewModels.InsuranceTypeSearchViewModel
@{
    ViewBag.Title = "Client Information";
}
<script type="text/javascript">
    function isFileValid() {
        debugger;
        var isValid = true;
        var file = document.getElementById('file2');
        var hash = {
            '.pdf': 1,
            '.PDF': 1
        };
        if(file.value == "")
        {isValid=true;}
        else if (check_extension(file.value, hash) != true) {
            alert('Select a PDF file for POC Quick Reference File.');
            isValid = false;
        }
        return isValid;
    }
    function getExtension(filename) {
        var re = /\..+$/;
        var ext = filename.match(re);
        return ext;
    }
    function check_extension(filename, hash) {
        var ext = getExtension(filename);
        if (hash[ext]) {
            return true;
        } else {
            return false;
        }
    }
    
</script>
<table width="100%">
    <tr>
        <td>
            @using (Html.BeginForm("Submit", "InsuranceSetUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">Client Information</td>
                    </tr>
                    <tr>
                        <td class="content">
                            <table>
                                <tr>
                                    <td>
                                        <div class="errorMsg">
                                            @Html.ValidationSummary()
                                        </div>

                                        @Html.HiddenFor(model => model.companyid)

                                        @Html.Partial("_InsuranceCompanyRegistration")</td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr align="right">
                        <td class="footer">
                            <div style="float: left">
                                <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("CompaniesList", "InsuranceSetUp")    ';" />

                            </div>
                            <div style="float: right">
                                <input type="submit" class="buttonYellow_100" value="Save"  onclick="javascript: return isFileValid();" />
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>

