﻿@model BLL.ViewModels.LineOfBusinessViewModel
@{
    Layout = null;
  
}
<style type="text/css">
    body {
        background-image: none !important;
    }

    .lblstyle {
        padding-right: 10px;
        width: 15%;
        vertical-align: middle;
        text-align: right;
    }
</style>


<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")">

<link rel="stylesheet" href="@Url.Content("~/Content/kendo.default.min.css")">

<script src="@Url.Content("~/Scripts/kendo.web.min.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"  type="text/javascript"></script>
<link href="@Url.Content("~/Content/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />


<!DOCTYPE html>
@*<style type="text/css">
    #backgroundPopupPricing {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }
    .EditPopup1 {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        height: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>*@


@*<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>*@
<script type="text/javascript">
    function btnClear_click() {
        $("#hdnLOBId").val("-1");
        $("#ddlLOBType").val("");
        $("#ddlCATType").val("");
        $("#txtOther").val("");
        $("#txtStandardAdjuster").val("");
        $("#txtGeneralAdjuster").val("");
        $("#txtExecutiveGeneralAdjuster").val("");
        $("#txtFreeMiles").val("");
        $("#txtRatePerMile").val("");
        $("#txtNoOfPhotosIncluded").val("");
        $("#txtRatePerPhoto").val("");

        clearRequirements();
    }
    $(document).on('change blur', '.decimal', function () {

        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(2));
        }
    });

    $(document).on('change blur', '.decimal1', function () {
        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(3));
        }
    });
    $(document).on('change blur', '.integer', function () {
        var amt = parseInt(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt);
        }
    });

    function AddNewLOB() {
        var href = "@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = Model.headcompanyid, LOBId = -1 })";
        href = href.replace('&amp;', '&');
        window.location.href = href;
    }


    //function loadLOBPricingPopup(url) {
    //    document.getElementById("iframeLOBPricing").src = url;
    //    centerLOBPricingPopup();
    //    $("#backgroundPopupPricing").css({
    //        "opacity": "0.7"
    //    });
    //    $("#backgroundPopupPricing").fadeIn("slow");
    //    $("#divLOBPricing").fadeIn("slow");

    //    return false;
    //}

    //function disableLOBPricingPopup() {
    //    var popupStatus = 1;
    //    if (popupStatus == 1) {
    //        $("#backgroundPopupPricing").fadeOut("slow");
    //        $("#divLOBPricing").fadeOut("slow");
    //        popupStatus = 0;
    //    }
    //}

    //function centerLOBPricingPopup() {
    //    //request data for centering
    //    debugger;
    //    var windowWidth = document.documentElement.clientWidth;
    //    var windowHeight = document.documentElement.clientWidth;
    //    var popupHeight = $("#divLOBPricing").height();
    //    var popupWidth = $("#divLOBPricing").width();
    //    //centering  
    //    $("#divLOBPricing").css({
    //        "position": "absolute",
    //        "top": windowHeight / 2 - popupHeight / 2,
    //        "left": windowWidth / 2 - popupWidth / 2
    //    });
    //    //only need force for IE6  
    //    $("#backgroundPopupPricing").css({
    //        "height": windowHeight
    //    });
    //    return false;
    //}

</script>
<body>

    @using (Html.BeginForm("LineOfBusiness", "LineOfBusiness", FormMethod.Post))
    { 
        <script type="text/javascript">

            function LoadKenduPricing(CompId, LobId) {

                var strCompId = CompId;
                var strLobId = LobId;
                var window = $("#LOBPricing").data("kendoWindow");
                window.refresh({
                    url: '@Url.Content("~/CompanyLOBPricing/ICompanyLobPricing")',
                    data: { CompanyId: strCompId, LobID: strLobId }
                });
                window.center().open();
            }

            function RefreshKenduPricing(CompId, LobId) {

                var strCompId = CompId;
                var strLobId = LobId;
                var window = $("#LOBPricing").data("kendoWindow");
                window.refresh({
                    url: '@Url.Content("~/CompanyLOBPricing/ICompanyLobPricing")',
                    data: { CompanyId: strCompId, LobID: strLobId }
                });
                window.center().open();
            }
	    
            $(function () {
                $('#ddlAssignmentType').change(function () {
                    GetAssignmentCategoryList();
                });

            });
	    
            function GetAssignmentCategoryList() {
                debugger;
                var selectedAssignmentTypeId = $('#ddlAssignmentType').val();
                var CompanyID = $('#textCompanyID').val();
                $("#imgAssCatListLoading").show();
                $('#ddlCategoryType').empty();
                $('#ddlCategoryType').append($('<option/>').attr('value', "0").text("--Select--"));
                $.getJSON('@Url.Action("GetAssignmentCategoryList")',
                           { AssignmentTypeId: selectedAssignmentTypeId, CompanyID: CompanyID },
                           function (subcategories) {
                               debugger;
                               var subsSelect = $('#ddlCategoryType');
                               $('#ddlCategoryType').empty();
                               $.each(subcategories, function (index, subcat) {
                                   subsSelect.append(
                                       $('<option/>')
                                           .attr('value', subcat.Value)
                                           .text(subcat.Text)
                                   );
                               });
                               $("#imgAssCatListLoading").hide();
                           });
            }

            @* function LoadKenduPricing(CompId, LobId) {
                debugger;
                //alert('called'); 
                // alert(CompId); alert(LobId);
                var strCompId = CompId;
                var strLobId = LobId;
                var window = $("#LOBPricing").data("kendoWindow");
                window.refresh({
                    url: '@Url.Content("~/CompanyLOBPricing/LOBPricing")',
                    data: { CompanyId: strCompId, LobID: strLobId }
                });
                window.center().open();
            }

            function RefreshKenduPricing(CompId, LobId) {
                debugger;
                //alert('called'); 
                // alert(CompId); alert(LobId);
                var strCompId = CompId;
                var strLobId = LobId;
                var window = $("#LOBPricing").data("kendoWindow");
                window.refresh({
                    url: '@Url.Content("~/CompanyLOBPricing/LOBPricing")',
                    data: { CompanyId: strCompId, LobID: strLobId }
                });
                window.center().open();
            }

            function closepopup() {
                alert('close called');
                    
                var kendoWindow = $("#LOBPricing").data("kendoWindow").close();
               
            }*@

        </script>
        <table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
            <tr>
                <td class="subHeading borderBottomLightGray" nowrap="nowrap">
                    Line Of Business List<a name="aLOBList" style="text-decoration: none;"></a>
                    <input type="button" value="New LOB" class="buttonYellow_100" style="float: right; margin-right: 5px;" onclick="AddNewLOB()" />&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="content">
                    <table cellpadding="3" cellspacing="0" width="100%">
                        <thead class="tableHeader">
                            <tr valign="top">
                                <td width="20%">
                                    LOB Description
                                </td>
                                <td width="20%">
                                    CarrierAcknowledge Emails
                                </td>
                                <td align="right" width="10%">
                                    Standard Adjuster
                                    <br />
                                    Damage Assessor ($)
                                </td>
                                <td align="right" width="10%">
                                    General Adjuster
                                    <br />
                                    Damage Assessor ($)
                                </td>
                                <td align="right" width="10%">
                                    Executive General Adjuster
                                    <br />
                                    Damage Assessor ($)
                                </td>
                                <td align="right" width="20%">Class Code</td>
                                <td align="center" width="10%">Lob Pricing </td>
                                <td align="center" width="10%">Edit</td>
                                <td align="center" width="10%">Delete</td>
                            </tr>
                        </thead>
                        @{
                            int i = 0;
                            if (Model.LOBGetList != null && Model.LOBGetList.Count > 0)
                            {
                                foreach (var lob in Model.LOBGetList)
                                {
                                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                        <td width="20%">
                                            @lob.LOBDescription
                                        </td>
                                        <td width="20%">
                                            @Html.Raw(lob.CarrierAcknowledgeEmails.Replace(";", "<br/>").Replace(",", "<br/>"))
                                        </td>
                                        <td align="right" width="10%">
                                            @lob.StandardAdjuster
                                        </td>
                                        <td align="right" width="10%">
                                            @lob.ExecutiveGeneralAdjuster
                                        </td>
                                        <td align="right" width="10%">
                                            @lob.GeneralAdjuster
                                        </td>
                                        <td align="right" width="20%">
                                            @lob.DepartmentCode
                                        </td>
                                        <td align="center" widht="10%">
                                            @*  <a href="#" onclick="loadLOBPricingPopup('@Url.Action("LOBPricing", "CompanyLOBPricing", new { CompanyId = @lob.HeadCompanyId, LobID = @lob.LOBId })')" style="border: none; cursor: pointer;">
                            <img src="~/Content/Images/doller.jpg" title="Lob Pricing" width="15" height="15" style="border: none; vertical-align: bottom;" />    </a>*@
                                            <a href="#" onclick="LoadKenduPricing('@lob.HeadCompanyId','@lob.LOBId')" style="border: none; cursor: pointer;">
                                                <img src="~/Content/Images/doller.jpg" title="Lob Pricing" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        </td>
                                        <td align="center" widht="10%">
                                            <a href="@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = @lob.HeadCompanyId, LOBId = @lob.LOBId })" style="border: none; color: black; cursor: pointer;">
                                                <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        </td>
                                        <td align="center" widht="10%">
                                            <a href="@Url.Action("LineOfBusinessDelete", "LineOfBusiness", new { headcompanyid = @lob.HeadCompanyId, LOBId = @lob.LOBId })" style="border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to delete this record!');">
                                                <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" align="center" width="100%" style="color:red">No records</td>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
        </table>
        <hr class="borderBottomLightGray" />
        <br />
        <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
            <tr>
                <td colspan="5" class="borderBottomLightGray">
                    <br />
                    <b>Add/Edit Line of Business</b>
                    @*@if (Model.LOBGetList.Count > 0)
                    {
                        <div style="float: right; margin-right: 7px;"><a href="#aLOBList" style="text-decoration: none;">Scroll down to the Line of Business List</a></div>
                        }*@
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div style="display: none;">
                        @Html.HiddenFor(model => model.headcompanyid, new { id = "hdnHeadCompanyId" })
                        @Html.HiddenFor(model => model.LOB.LOBId, new { id = "hdnLOBId" })
                    </div>
                    <div class="errorMsg">

                        @if (TempData["Error"] != null)
                        { 
                            @:@TempData["Error"]
                                                                                                                                                                                                                                                                                                                        TempData["Error"] = null;
                        }
                        @Html.ValidationSummary()
                    </div>
                </td>
            </tr>
            @{
                if (Model.IsInvisionAPI == true)
                {
                    <tr class="tableRowAlternate">
                        @*<td width="5%"></td>*@
                        <td width="5%">@Html.HiddenFor(model => model.headcompanyid, new { @id = "textCompanyID" })</td>
                        <td class="lblstyle" align="right">
                            Assignment Type:
                        </td>
                       @if (Model.LOB.LOBId != 0)
                       {
                            <td width="35%">
                                @Html.HiddenFor(model => model.LOB.AssignmentTypeId)
                                @Html.DropDownListFor(model => model.LOB.AssignmentTypeId, Model.AssignmentTypeList, new { id = "ddlAssignmentType", @disabled = "disabled" , @style = "width: 180px;" })
                            </td>
                            <td align="right" class="lblstyle">
                                Category Type:
                            </td>
                            <td>
                                @Html.HiddenFor(model => model.LOB.AssignmentCategoryId)
                                @Html.DropDownListFor(model => model.LOB.AssignmentCategoryId, Model.AssignmentCategoryList, new { id = "ddlCategoryType", @disabled = "disabled" , @style = "width: 180px;" })
                           </td>
                       }
                       else
                       {
                        <td width="35%">
                            @Html.DropDownListFor(model => model.LOB.AssignmentTypeId, Model.AssignmentTypeList, new { id = "ddlAssignmentType", @style = "width: 180px;" })
                        </td>
                        <td align="right" class="lblstyle">
                            Category Type:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.LOB.AssignmentCategoryId, Model.AssignmentCategoryList, new { id = "ddlCategoryType", @style = "width: 180px;" })
                            <img id="imgAssCatListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                        </td>
                       }
                    </tr>
                    <tr class="tableRow">
                        <td width="5%"></td>
                        <td align="right" class="lblstyle">
                        </td>
                        <td>
                        </td>
                        <td align="right" class="lblstyle">
                            Standard Adjuster Paypercentage:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.LOB.LOBSPPercentage, new { id = "txtLOBSPPercentage", @style = "width: 180px;", @class = "decimal" })
                        </td>
                    </tr>
                    <tr class="tableRowAlternate">
                        <td width="5%"></td>
                        <td align="right" class="lblstyle">
                        </td>
                        <td>
                        </td>
                        <td align="right" class="lblstyle">
                            General Adjuster Paypercentage:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.LOB.LOBGeneralAdjPercentage, new { id = "txtLOBGeneralPercentage", @style = "width: 180px;", @class = "decimal" })
                        </td>
                    </tr>
                    <tr class="tableRow">
                        <td width="5%"></td>
                        <td align="right" class="lblstyle">
                        </td>
                        <td>
                        </td>
                        <td align="right" class="lblstyle">
                            Executive General Adjuster Paypercentage:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.LOB.LOBExecutiveAdjPercentage, new { id = "txtLOBExecutivePercentage", @style = "width: 180px;", @class = "decimal" })
                        </td>
                    </tr>
                    <tr class="tableRowAlternate">
                        <td width="5%"></td>
                        <td align="right" class="lblstyle">   
                        </td>
                        <td>
                        </td>
                        <td align="right" class="lblstyle">
                            Class Code:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.LOB.DepartmentCode, Model.DepartmentCodeList, new { id = "ddlDepartmentCode", @style = "width: 180px;" })
                        </td>
                    </tr>

                }
                else
                {
                    <tr class="tableRowAlternate">
                        <td width="5%"></td>
                        <td class="lblstyle" align="right">
                            LOB Type:
                        </td>
                        <td width="35%">
                    @Html.DropDownListFor(model => model.LOB.LOBType, Model.LOBTypeList, new { id = "ddlLOBType", @style = "width: 180px;" })
                </td>
                <td align="right" class="lblstyle">Free Miles:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.FreeMiles, new { id = "txtFreeMiles", @style = "width: 180px;", @class = "integer" })

                </td>

            </tr>

            <tr class="tableRow">
                <td width="5%"></td>
                <td align="right" class="lblstyle">CAT Type:
                </td>
                <td>
                    @Html.DropDownListFor(model => model.LOB.CatType, Model.CatTypeList, new { id = "ddlCATType", @style = "width: 180px;" })

                </td>
                <td align="right" class="lblstyle">Rate Per Mile:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.RatePerMile, new { id = "txtRatePerMile", @style = "width: 180px;", @class = "decimal1" })

                </td>
            </tr>
            <tr class="tableRowAlternate">
                <td width="5%"></td>
                <td align="right" class="lblstyle">Other:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.Other, new { id = "txtOther", @style = "width: 180px;" })

                </td>
                <td align="right" class="lblstyle">No Of Photos Included:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.NoOfPhotosIncluded, new { id = "txtNoOfPhotosIncluded", @style = "width: 180px;", @class = "integer" })

                </td>
            </tr>
            <tr class="tableRow">
                <td width="5%"></td>
                <td align="right" class="lblstyle">
                    T&E Monthly Billing Day:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.TEMonthlyBillingDay, new { id = "txtTEMonthlyBillingDay", @style = "width: 180px;", @class = "integer" })
                </td>               
                <td align="right" class="lblstyle">Rate Per Photo:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.RatePerPhoto, new { id = "txtRatePerPhoto", @style = "width: 180px;", @class = "decimal" })
                </td>
            </tr>
            <tr class="tableRowAlternate">
                <td width="5%"></td>
                <td align="right" class="lblstyle">
                    Standard Adjuster Rate Per Hour:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.StandardAdjuster, new { id = "txtStandardAdjuster", @style = "width: 180px;", @class = "decimal" })
                </td>
                <td align="right" class="lblstyle">
                    Standard Adjuster Paypercentage:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.LOBSPPercentage, new { id = "txtLOBSPPercentage", @style = "width: 180px;", @class = "decimal" })
                </td>
            </tr>
            <tr class="tableRow">
                <td width="5%"></td>
                <td align="right" class="lblstyle">
                   General Adjuster Rate Per Hour:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.ExecutiveGeneralAdjuster, new { id = "txtExecutiveGeneralAdjuster", @style = "width: 180px;", @class = "decimal" })
                </td>
                <td align="right" class="lblstyle">
                    General Adjuster Paypercentage:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.LOBExecutiveAdjPercentage, new { id = "txtLOBExecutivePercentage", @style = "width: 180px;", @class = "decimal" })
                </td>
            </tr>
            <tr class="tableRowAlternate">
                <td width="5%"></td>
                <td align="right" class="lblstyle">Executive General Adjuster Rate Per Hour:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.GeneralAdjuster, new { id = "txtGeneralAdjuster", @style = "width: 180px;", @class = "decimal" })
                </td>
                <td align="right" class="lblstyle">
                    Executive General Adjuster Paypercentage:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LOB.LOBGeneralAdjPercentage, new { id = "txtLOBGeneralPercentage", @style = "width: 180px;", @class = "decimal" })
                </td>
            </tr>
                    <tr class="tableRowAlternate">
                        <td width="5%"></td>
                        <td align="right" class="lblstyle">
                            Include Holdback:
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model.LOB.IncludeHoldback, new { @id = "ChkLOBIncludeHoldback" })
                        </td>
                        <td align="right" class="lblstyle">
                            Class Code:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.LOB.DepartmentCode, Model.DepartmentCodeList, new { id = "ddlDepartmentCode", @style = "width: 180px;" })
                        </td>
                    </tr>
                }
            }
           
            <tr class="tableRow">
                <td width="5%"></td>
                
                @{
                        BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                        BLL.Company cmp = css.Companies.Find(Model.headcompanyid);
                        if (cmp.IntegrationTypeId == 1 || cmp.IntegrationTypeId == 2)
                        {
                            <td align="right">
                                Do Not Bridge:
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => model.HasBridge)
                            </td>
                        }
                        else
                        {
                            <td align="right" class="lblstyle"></td>
                            <td class="lblstyle"></td>
                        }
                }
            </tr>
            <tr class="tableRow">
                <td width="5%"></td>
                <td align="right" class="lblstyle">
                    Carrier Acknowledgement emails:
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.LOB.CarrierAcknowledgeEmails, new { id = "txtCarrierAckEmails", @Class = "txtAreastyle", @placeholder = "Email addresses separated by ;" })
                    @*@Html.TextBoxFor(model => model.LOB.ClericalAdjuster, new { id = "txtClericalAdjuster", @style = "width: 180px;", @class = "decimal" })*@
                </td>
            </tr>
           
            <tr>

                <td colspan="5" class="borderBottomLightGray">
                    <br />
                    <b>Line of Business Requirements</b>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @Html.Partial("_Requirements", Model.RequirementsViewModel)
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="5" class="borderTopLightGray" style="padding-top: 3px;" align="right">
                    <input type="button" value="Clear" class="buttonLightYellow_100" onclick="btnClear_click()" />
                    <input type="submit" value="Save" style="margin-right: 5px;" class="buttonLightYellow_100" />
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <br />
                    <br />
                </td>
            </tr>
        </table>
        

                               

@*
        <div id="backgroundPopupPricing" onclick="disableLOBPricingPopup();"></div>*@
      
    }


</body>

@(Html.Kendo().Window()
    .Name("LOBPricing")
    .Title("Add/Edit Pricing Info")
    .Content("loading info...")
    .LoadContentFrom(@Url.Content("~/CompanyLOBPricing/ICompanyLobPricing?CompanyId=0&LobID=0"))
    .Draggable()
    .Visible(false)
    .Height(380)
    .Width(950)
    .Modal(true)
)
