﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <style>
  textarea { height:25px; }
  </style>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
  <form>
    
      <input onblur="updateProgressComplete()" type="text" /><br />
      <input onblur="updateProgressComplete()" type="text" /><br />
      <input onblur="updateProgressComplete()" type="text" /><br />
      <input  onblur="updateProgressComplete()" type="text" /><br />
      
      <select onblur="updateProgressComplete()">
          <option value="0">--Select--</option>
          <option value="1">--Garbage 1--</option>
          <option value="2">--Garbage 2--</option>
      </select>
      <select onblur="updateProgressComplete()">
          <option value="0">--Select--</option>
          <option value="1">--Garbage 1--</option>
          <option value="2">--Garbage 2--</option>
      </select>
      
  </form>
  <div id="divProgressPercentage">

  </div>
<script>
    function updateProgressComplete()
    {
        var elements = getElementsByTagNames("input,select");
        
        var controlsCount = 0;
        var completedFieldsCount = 0;
        for(var i=0;i<elements.length;i++)
        {
            
            if (elements[i].type.toLocaleLowerCase() == "text") {
               controlsCount++;
                if (elements[i].value != "") {
                    completedFieldsCount++;
                }
            }
            if (elements[i].tagName.toLowerCase() == "select") {
                //alert(elements[i].value + "");
                controlsCount++;
                if (elements[i].value != 0) {
                    completedFieldsCount++;
                }
            }
            
        }
        percentageCompleted = ((completedFieldsCount / controlsCount) * 100);
        
        document.getElementById("divProgressPercentage").innerHTML = roundNumber(percentageCompleted,0) + "%";
        
    }
    function roundNumber(num, dec) {
        var result = Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
        return result;
    }
    function getElementsByTagNames(list, obj) {
        if (!obj) var obj = document;
        var tagNames = list.split(',');
        var resultArray = new Array();
        for (var i = 0; i < tagNames.length; i++) {
            var tags = obj.getElementsByTagName(tagNames[i]);
            for (var j = 0; j < tags.length; j++) {
                resultArray.push(tags[j]);
            }
        }
        var testNode = resultArray[0];
        if (!testNode) return [];
        if (testNode.sourceIndex) {
            resultArray.sort(function (a, b) {
                return a.sourceIndex - b.sourceIndex;
            });
        }
        else if (testNode.compareDocumentPosition) {
            resultArray.sort(function (a, b) {
                return 3 - (a.compareDocumentPosition(b) & 6);
            });
        }
        return resultArray;
    }
        //var allInputs = $(":input");
        //var formChildren = $("form > *");
        //$("#messages").text("Found " + allInputs.length + " inputs and the form has " +
        //                         formChildren.length + " children.");

        //// so it won't submit
        //$("form").submit(function () { return false; });

</script>

</body>
</html>