﻿@model BLL.ViewModels.HomeViewModel
@using CSS
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
     function btnSendEmail_Click() {
            debugger;
            //var UserName = $("#hdnUserId").val();
            var Email = $("#txtEmail").val();
            var username = $('#txtEmailUserName').val();
            if (username == null || username == "")  {
                alert("User Name required.");
            }
            else {
                $("#imgProcessingForgotPwdSubmit").show();
                $.ajax({
                    url: '@Url.Action("ForgotPwdEmail", "Account")'
                , type: 'GET'
                   , data: { Email: Email, UserName: username }
                }).done(function (result) {
                    $("#divForgotPwdError").empty();
                    $("#imgProcessingForgotPwdSubmit").hide();
                    if (result == 1) {
                        $("#divForgotPwdError").html("Email Sent Successfully.<br/><br/>");
                        location.href = '@Url.Content("~/Home/Index")';
                    }
                    else if (result == -1) {
                        $("#divForgotPwdError").html("The email address you entered is not associated with an active login profile in the Pacesetter Service system. Please contact The Pacesetter support team at Info@PacesetterClaims.com to assist you in locating or creating your account.<br/><br/>");
                    }
                    else {
                        $("#divForgotPwdError").html("Error Sending Email, Please try again.<br/><br/>");
                    }
                }).fail(function (result) {
                });
            }
        }
</script>
<div id="divError" class="errorMsg" style="text-align: left; width: 100%;"></div>
<div id="divJSValidation" class="errorMsg">
</div>
<table width="100%" align="center">
    <tr>
        <td valign="top" width="100%">
            @{
               
                    @Html.HiddenFor(model => loggedInUser.UserId, new { @id = "txtUserID" })
                    //int userTypeId = (new BLL.ChoiceSolutionsEntities()).Users.Find(loggedInUser.UserId).UserTypeId.Value;//CSS POC User is given a UserTypeId of that of an admin in Accounts/Login
                    <table width="100%">
                        <tr>
                            <td class="mainHeader">Reset Password</td>
                        </tr>
                        <tr>
                            <td class="content">
                                <br />
                                <table width="100%">
                                  <tr>
                                      <td class="content" align="left">
                                          <br />
                                          @*<input type="hidden" id="hdnUserId"/>*@
                                          <div id="divForgotPwdError" class="errorMsg" style="text-align: left; width: 100%;"><br /></div>
                                          Please enter your UserName and registered Email Address below and click on send button to receive new password to your below Email Address.<br /><br />
                                          User ID :- <input type="text" id="txtEmailUserName" style="width:300px" required /><br /><br />
                                          Email :- &nbsp;&nbsp;&nbsp;<input type="text" id="txtEmail" style="width:300px" /><br /><br />
                                      </td>
                                  </tr>
                                    <tr>
                                        <td class="footer" align="right">
                                            <img id="imgProcessingForgotPwdSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Sending" />
                                            <input id="btnSendEmail" type="button" value="Send" class="buttonYellow_100" onclick="btnSendEmail_Click()" />
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                       
                    </table>




               
            }
            @*  *@
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
        <td valign="top">
            @*<table align="left" width="300px" class="grayBox01">
                <tr>
                    <td class="headingBlack borderBottomLightGray">User Login</td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <br />
                            @Html.Partial("_Login", new BLL.ViewModels.LoginViewModel())
                        </strong>
                        <br />
                    </td>
                </tr>
            </table>*@
        </td>
    </tr>
</table>
