﻿@model BLL.ViewModels.HomeViewModel
@using CSS
@{
    ViewBag.Title = "Home Page";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style type="text/css">
    #bgOverDueClaimsList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 8;
    }

    .OverDueClaimsListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 9;
        font-size: 13px;
    }
</style>
<script type="text/javascript">
   
    function loadOverDueLevelClaimsListPopup(diaryCategoryId, diaryCategoryDesc, level1_ID, level1_Desc, level2_ID, level2_Desc, level3_ID, level3_Desc) {
        var level1GroupID = $('#ddlLevel1GroupList').val();
        var level1Group_Desc = $("#ddlLevel1GroupList option:selected").text()

        var level2GroupID = $('#ddlLevel2GroupList').val();
        var level2Group_Desc = $("#ddlLevel2GroupList option:selected").text()

        var level3GroupID = $('#ddlLevel3GroupList').val();
        var level3Group_Desc = $("#ddlLevel3GroupList option:selected").text()

        $("#divOverDueClaimsLoading").show();
        $("#spnOverDueClaimsTitle").html(diaryCategoryDesc);
        $('#divOverDueClaimsList').empty();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: '@Url.Action("DiarySummaryLevelOverDueClaimsList", "Home")'
            , data: {
                diaryCategoryId: diaryCategoryId, diaryCategoryDesc: diaryCategoryDesc
                        , level1GroupID: level1GroupID, level1Group_Desc: level1Group_Desc, level1_ID: level1_ID, level1_Desc: level1_Desc
                        , level2GroupID: level2GroupID, level2Group_Desc: level2Group_Desc, level2_ID: level2_ID, level2_Desc: level2_Desc
                        , level3GroupID: level3GroupID, level3Group_Desc: level3Group_Desc, level3_ID: level3_ID, level3_Desc: level3_Desc
            }
        }
        ).done(function (data) {
            $('#divOverDueClaimsList').html(data);
            centerOverDueClaimsListPopup();
            $("#divOverDueClaimsLoading").hide();

        }).fail(function (data) { });

        centerOverDueClaimsListPopup();
        $('#bgOverDueClaimsList').css({
            "opacity": "0.7"
        });
        $('#bgOverDueClaimsList').fadeIn("slow");
        $('#divOverDueClaimsListPopup').fadeIn("slow");
    }
    function loadOverDueClaimsListPopup(diaryCategoryId, diaryCategoryDesc, headCompanyId, companyName, CSSPOCUserId, CSSPOCName, SPUserId, SPName) {
        $("#divOverDueClaimsLoading").show();
        $("#spnOverDueClaimsTitle").html(diaryCategoryDesc);
        $('#divOverDueClaimsList').empty();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: '@Url.Action("DiarySummaryOverDueClaimsList", "Home")'
            , data: { diaryCategoryId: diaryCategoryId, diaryCategoryDesc: diaryCategoryDesc, headCompanyId: headCompanyId, companyName: companyName, CSSPOCUserId: CSSPOCUserId, CSSPOCName: CSSPOCName, SPUserId: SPUserId, SPName: SPName }
        }
        ).done(function (data) {
            $('#divOverDueClaimsList').html(data);
            centerOverDueClaimsListPopup();
            $("#divOverDueClaimsLoading").hide();

        }).fail(function (data) { });

        centerOverDueClaimsListPopup();
        $('#bgOverDueClaimsList').css({
            "opacity": "0.7"
        });
        $('#bgOverDueClaimsList').fadeIn("slow");
        $('#divOverDueClaimsListPopup').fadeIn("slow");
    }
    function disableOverDueClaimsListPopup() {

        $('#bgOverDueClaimsList').fadeOut("slow");
        $('#divOverDueClaimsListPopup').fadeOut("slow");
    }
    function centerOverDueClaimsListPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divOverDueClaimsListPopup').height();
        var popupWidth = $('#divOverDueClaimsListPopup').width();
        //centering  
        $('#divOverDueClaimsListPopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $('#bgOverDueClaimsList').css({
            "height": windowHeight
        });
        return false;
    }
</script>

<table width="100%" align="center">
    <tr>
        <td valign="top" width="100%">
            @{
                if (loggedInUser != null)
                {
                    //int userTypeId = (new BLL.ChoiceSolutionsEntities()).Users.Find(loggedInUser.UserId).UserTypeId.Value;//CSS POC User is given a UserTypeId of that of an admin in Accounts/Login     
                <table width="100%">
                    <tr>
                        <td class="mainHeader">Diary Summary</td>
                    </tr>
                    <tr>
                        <td class="content"><br />
<div>@Html.Partial("_DiarySummaryHome")</div><br /><br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            <br />
                        </td>
                    </tr>
                </table>
                
            
                   
               
                }
            }
            @*  *@
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>

        <td valign="top">
            <table align="left" width="300px" class="grayBox01">
                <tr>
                    <td class="headingBlack borderBottomLightGray">User Login</td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <br />
                            @Html.Partial("_Login", new BLL.ViewModels.LoginViewModel())
                        </strong>
                        <br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div id="divOverDueClaimsListPopup" class="OverDueClaimsListPopup" style="width: 500px;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b><span id="spnOverDueClaimsTitle">Overdue</span> Claims</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableOverDueClaimsListPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <div id="divOverDueClaimsLoading" style="display:none;">
                    <br /><br /><img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;" alt="loading" /> Loading
                </div>
                <div id="divOverDueClaimsList" style="padding:5px 3px 0px 3px;max-height:500px;overflow-y:auto;"></div>
                <br />
            </td>
        </tr>
        <tr>
            <td class="footer">
                <br />
            </td>
        </tr>

    </table>

</div>
<div id="bgOverDueClaimsList" onclick="disableOverDueClaimsListPopup()"></div>
