﻿@model BLL.ViewModels.HomeViewModel
@using CSS
@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function compare() {
        //Perform validation when all the previous required fields have data else let the controller handle those validations.
        var valueToReturn = true;
        debugger;


            if ($("#tdConfirmPassword") != "") {
                var pass = $('#txtNewPassword').val();
                var confPass = $('#txtConfPassword').val();
                var letters = false;
                var numbers = false;
                var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                var number = /^[0-9]+$/; //PATTERN FOR NUMBERS

                if ($('#txtNewPassword').val() != $('#txtConfPassword').val()) {
                    passwordNotMatch("Passwords do not match.");
                    valueToReturn = false;
                }
                else if (pass.length < 8) {
                    passwordNotMatch("Password should be at least 8 characters.");
                    valueToReturn = false;
                }

                for (i = 0; i < pass.length; i++) {
                    if (pass.substr(i, 1).match(alpha)) {
                        letters = true; //AT LEAST ONE LETTER EXISTS
                    }
                    else if (pass.substr(i, 1).match(number)) {
                        numbers = true; //AT LEAST ONE NUMBER EXISTS
                    }
                }
                //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                if ((letters == false && numbers == false && valueToReturn != false) || (letters == false && numbers == true && valueToReturn != false) || (letters == true && numbers == false && valueToReturn != false)) {

                    passwordNotMatch("Password should contain at least one upper case  letter, one lower case  letter,one digit, one special character and  Minimum 8 in length.");
                    valueToReturn = false;

                }
                if (valueToReturn == true) {
                    $("#divJSValidation").html('');
                    $("#tdConfirmPassword").html('');
                }
            }

        return valueToReturn;
    }

    function passwordNotMatch(message) {
        $("#tdConfirmPassword").css("display", "block");
        $('#txtNewPassword').val('');
        $('#txtConfPassword').val('');
        $("#tdConfirmPassword").text(message);
        //$("#divJSValidation").html(message);

    }
    function HidePasswordMessage() {
        $("#tdConfirmPassword").css("display", "none");
    }

    function savePassword() {
        debugger;
        document.getElementById("divError").innerHTML = ""
        debugger;
        var UserIdCheck = $('#txtUserID').val();
        var CurrentPassword = $('#txtCurrentPassword').val();
        var Password = $('#txtNewPassword').val();
        var CPassword = $('#txtConfPassword').val();


        var isValid = true;
        var isValidErrorMsg = '';

        if (CurrentPassword.trim() == '')
        {
            isValid = false;
            isValidErrorMsg += "Current Password field required.</br>";
        }

        if (Password.trim() == '') {
            isValid = false;
            isValidErrorMsg += "Password field required.<br/>";
        }
        if (CPassword.trim() == '') {
            isValid = false;
            isValidErrorMsg += "Confirm Password field required.<br/>";
        }
        if (CPassword.trim() != Password.trim()) {
            isValid = false;
            isValidErrorMsg += "Password and Confirm Password field should have to be same.<br/>";
        }
        else if (Password.trim() != '') {
            var strongRegex = /^(?=.*\d)(?=.*[!@@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).{8,}$/;
            if (!strongRegex.test(Password.trim())) {
                isValid = false;
                isValidErrorMsg += "Password should contain at least one upper case  letter, one lower case  letter,one digit, one special character and  Minimum 8 in length.<br/>";
            }
        }


        //  isValid = compare();
        if (isValid) {

        }
        else {
            document.getElementById("divJSValidation").innerHTML = isValidErrorMsg;
            return false;
        }

        $.ajax({
            url: '@Url.Content("~/Home/SavePassword")',
            type: 'POST',
            data: { UserId: UserIdCheck, Password: Password },
            success: function (result) {
                if (result == 0) {
                    //document.getElementById("divJSValidation").innerHTML = "Profile has been saved successfully.";
                    alert("Password has been saved successfully.");
                    location.href = '@Url.Content("~/Home/Index")';
                }
                else if (result == 1) {
                    document.getElementById("divJSValidation").innerHTML = "New Password should be different than previous all passwords.";
                }
                else {
                    document.getElementById("divJSValidation").innerHTML = "Something went wrong.";
                }
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
        return false;
    }

    function Clear()
    {
        $('#txtCurrentPassword').val('');
        $('#txtNewPassword').val('');
        $('#txtConfPassword').val('');
        HidePasswordMessage();
    }
</script>
<div id="divError" class="errorMsg" style="text-align: left; width: 100%;"></div>
<div id="divJSValidation" class="errorMsg">
</div>
<table width="100%" align="center">
    <tr>
        <td valign="top" width="100%">
            @{
                if (loggedInUser != null)
                {
                    @Html.HiddenFor(model => loggedInUser.UserId, new { @id = "txtUserID" })
                    //int userTypeId = (new BLL.ChoiceSolutionsEntities()).Users.Find(loggedInUser.UserId).UserTypeId.Value;//CSS POC User is given a UserTypeId of that of an admin in Accounts/Login
                    <table width="100%">
                        <tr>
                            <td class="mainHeader">Change Password</td>
                        </tr>
                        <tr>
                            <td>Your password has been expired, please change your password.</td>
                        </tr>
                        <tr>
                            <td class="content">
                                <br />
                                <table>
                                    <tr>
                                        <td>Current Password</td>
                                        <td><input name="CurrentPassword" id="txtCurrentPassword" type="password" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>New Password</td>
                                        <td>
                                            <input name="NewPassword" id="txtNewPassword" type="password" />
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Confirm New Password</td>
                                        <td>
                                            <input name="ConfirmPassword" id="txtConfPassword" type="password" />  
                                        </td>
                                        <td><div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div></td>
                                    </tr>
                                    
                                    <tr>
                                        <td style="padding-top:20px;padding-bottom:5px;"><input type="button" class="buttonLightYellow_100" value="Save Password" id="SavePassword" onclick="savePassword()" /></td>
                                        <td style="padding-top:20px;padding-bottom:5px;"><input type="button" class="buttonLightYellow_100" value="Clear" id="Clear" onclick="Clear()" /></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="footer">
                                <br />
                            </td>
                        </tr>
                    </table>




                }
            }
            @*  *@
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
        <td valign="top">
            <table align="left" width="300px" class="grayBox01">
                <tr>
                    <td class="headingBlack borderBottomLightGray">User Login</td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <br />
                            @Html.Partial("_Login", new BLL.ViewModels.LoginViewModel())
                        </strong>
                        <br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
