﻿@model BLL.ViewModels.CANServicesViewModel
@{
    ViewBag.Title = "CANServicesList";
}

<style type="text/css">
    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }


    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .wideareadivNewPricing {
        width: 350px;
        height: 80px;
    }

    .wide {
        width: 350px;
    }
     .backgroundPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }
    .EditPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>
<script type="text/javascript">
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblcompExpand").style.display = "none";
        document.getElementById("lblcompCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblcompExpand").style.display = "inline";
        document.getElementById("lblcompCollapse").style.display = "none";
    }
    function DeleteJobType(ServiceId) {
        if (confirm('Are you sure you want to delete this Service!') == true) {
            debugger;
            DeleteUnJobType(ServiceId);
        }
        else {
            return;
        }
    }
    function disablePopupUnQualifiedSP() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupUnQualifiedSP").fadeOut("slow");
            $("#UnQualifiedSP").fadeOut("slow");
            popupStatus = 0;
            $('#ddlServiceType').val(0);
            
            expanded = false;
            $('#divUnQLOBError').empty();
        }
    }

    function DeleteUnJobType(ServiceID) {
        debugger;

        var SERVICEID = ServiceID;
        $.ajax({
            url: '@Url.Action("DeleteServiceType", "CANServices")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: { ServiceId: SERVICEID },

            type: 'GET',
            success: function (data) {
                if (data == "1") {
                    alert("Service Type Deleted Successfully !")
                    location.reload();
                }
                else {
                    alert("Service Type is in use");
                }
            }
        });
    }

    function loadPopupUnQualifiedSP(jobid) {

        $('#hdnJobtypeid').val(jobid);
        var popupStatus = 0;

        if (popupStatus == 0) {

            centerPopupNewUnQualifiedSP();
            $("#backgroundPopupUnQualifiedSP").css({
                "opacity": "0.7"
            });

            bindServicesList(jobid);

            $("#backgroundPopupUnQualifiedSP").fadeIn("slow");
            $("#UnQualifiedSP").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function centerPopupNewUnQualifiedSP() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#UnQualifiedSP").height();
        var popupWidth = $("#UnQualifiedSP").width();
        //centering
        $("#UnQualifiedSP").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupUnQualifiedSP").css({
            "height": windowHeight
        });
        return false;
    }
    function bindServicesList(jobid) {
        debugger;
        $.ajax({
            url: '@Url.Action("_JobServiceList", "CANJobs")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                JobId: jobid
            }),
            success: function (result) {

                var div = $('#dvUnQualifiedList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    function DeleteJobService(Jobtypeid,Servicetypeid) {
        debugger;
        $("#imgProcessingUnQualifiedSPSubmit1").show();
        $.ajax({
            url: '@Url.Action("DeleteJobService", "CANJobs")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                JobId: Jobtypeid,ServiceId:Servicetypeid
            }),
            success: function (result) {
                if (result == 1) {

                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    bindServicesList($('#hdnJobtypeid').val());
                }
                else if (result == 2) {
                    document.getElementById("divUnQLOBError").innerHTML = "Service is already in use";
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                }
            },
            error: function (error) {

                $("#imgProcessingUnQualifiedSPSubmit1").hide();
                alert(JSON.stringify(error));
            }
        });
    }

    function AddService() {

        var ddlService = $('#ddlServiceType').val();
      


       
        var isValid = true;
        var isValidErrorMsg = '';

        if (ddlService == '0') {
            isValid = false;
            isValidErrorMsg += "Select Service required.<br/>";
        }
       

       
        document.getElementById("divUnQLOBError").innerHTML = ""

        if (isValid) {
            $("#imgProcessingUnQualifiedSPSubmit1").show();


            $.getJSON('@Url.Content("~/CANJobs/AddJobtypeService")',
           {
               Jobtypeid: $('#hdnJobtypeid').val(), ServiceId: $('#ddlServiceType').val()
           },
            function (data) {
                if (data == 1) {
                    // disablePopupUnQualifiedSP();
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();

                    bindServicesList($('#hdnJobtypeid').val());
                }
                else if (data == 2) {
                    //record Already Exists
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    document.getElementById("divUnQLOBError").innerHTML = "Service Already Exist";
                }
            });
        }
        else {
            document.getElementById("divUnQLOBError").innerHTML = isValidErrorMsg;
        }

    }

</script>
<div class="errorMsg">@ViewBag.ErrorMsg</div>
<table width="100%">
    
    <tr>
        <td align="right" cellspacing="0" width="100%"></td>
    </tr>
    <tr>
        <td>
            <table align="left" cellpadding="3" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader">
                        <div style="float:left;">Service Type List</div>
                        <div style="float:right;">
                          
                            <input type="hidden" id="hdnServiceid" />

                            @using (Html.BeginForm("submit", "CANServices", FormMethod.Get))
                            {
                                <input type="submit" class="buttonLightYellow_100" value="Create Service">
                            }
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    <td class="content">
                        @using (Html.BeginForm("Index", "CANServices"))
                        {
                            <table cellpadding="3" cellspacing="0" width="100%">

                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td>
                                           Service Types
                                        </td>
                                       
                                        <td colspan="2"></td>
                                    </tr>
                                </thead>
                                @{
                            int i = 0;
                            if (Model.Servicetype != null)
                            {
                                foreach (var Service in Model.Servicetype)
                                {
                                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                        <td nowrap="nowrap">
                                            @Service.Servicename
                                        </td>
                                       
                                        <td>
                                            @{
                                                 BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                 
                                
                                            }
                                        </td>
                                       
                                        <td nowrap="nowrap" align="right">
                                          
                                            <a href="@Url.Action("submit", "CANServices", new { Serviceid = Service.ServiceId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                                            </a>  
                                            <a href="#," style="text-decoration:none;border: none; color: black; cursor: pointer;" onclick="DeleteJobType('@Service.ServiceId');">
                                                <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a> 
                                                                                     
                                         
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                                }
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
