﻿@model BLL.ViewModels.SPMapSearchViewModel

@{
    Layout = null;
    ViewBag.Title = "Assign Sp";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">

        function AssignSelected() {

            debugger;
            var FailedClaimNUmber = "";
            if (confirm("Are you sure you want to Assign Service Provider?"))
            {
                var AsgIdList = "";
                var radioButtons = document.getElementsByName("chkAssg");
                var strspid = document.getElementById('hdnSpID').value;
                $.each(radioButtons,function (index, item) {
                    debugger;
                    console.log(item);
                    if (item.checked)
                    {
                        console.log(index);
                        //console.log(radioButtons);
                        var claimNumber = null;
                        var CompanyId1 = null;
                        var Companyname1 = null;
                        var LOBId1 = null;
                        var ClientPOCId1 = null;
                        var AssignmenID1 = null;
                        var PassAssignmentId = null;
                        var tr = $(this).parent('td');
                        claimNumber = tr.find("#chkClaimNumber").val();
                        CompanyId1 = tr.find("#chkCompanyId").val();
                        Companyname1 = tr.find("#chkCompanyName").val();
                        AssignmenID1 = item.value;
                        $.when($.ajax({
                            url: '@Url.Action("CheckCertificate", "SPMapSearch")',
                            contentType: 'application/json; charset=utf-8',
                            data: { SPid: strspid, Companyid: CompanyId1, CompanyName: Companyname1 },
                            cache: false,
                            async: false,
                            success: function (data) {
                                debugger;
                                if (data == 0) {
                                    PassAssignmentId = null;
                                    PassAssignmentId = AssignmenID1;
                                    //AsgIdList += radioButtons[x].value + ",";
                                }
                                else {
                                    FailedClaimNUmber += claimNumber + ",";
                                }
                                console.log(data);
                            },
                            error: function (error) {
                                alert("something went wrong");
                            }
                        })).done(function () {
                            debugger;
                            console.log('1');
                            //ajax call for unqualified SP
                            if (PassAssignmentId != null && PassAssignmentId != "") {
                                $.ajax({
                                    url: '@Url.Action("CheckUnQualifiedSP", "SPMapSearch")',
                                    contentType: 'application/json; charset=utf-8',
                                    data: { SPid: strspid, Companyid: CompanyId1, LOBId: LOBId1, ClientPOCId: ClientPOCId1, AssignmentId: AssignmenID1 },
                                    cache: false,
                                    async: false,
                                    success: function (data) {
                                        debugger;
                                        if (data == 2 || data == 4 || data == 3 || data == -1) {
                                            FailedClaimNUmber += claimNumber + ",";
                                        }
                                        else if (data == 1) {
                                            AsgIdList += PassAssignmentId + ",";
                                        }
                                        console.log(data);
                                    },
                                    error: function (error) {
                                        alert("something went wrong");
                                    }
                                });
                            }
                        });
                    }
                });
                for (var x = 0; x < radioButtons.length; x++) {
                    if (radioButtons[x].checked) {
                        claimNumber = document.getElementById("chkClaimNumber").value;
                        CompanyId1 = document.getElementById("chkCompanyId").value;;
                        Companyname1 = document.getElementById("chkCompanyName").value;;
                        AssignmenID1 = radioButtons[x].value;
                       // AsgIdList += radioButtons[x].value + ",";
                    }
                }
                if (AsgIdList.length > 0) {
                    AsgIdList = AsgIdList.substring(0, (AsgIdList.length - 1));
                }
                debugger;
                console.log(AsgIdList);
                console.log(FailedClaimNUmber);

                //document.getElementById("ClaimIdLIst").value = AsgIdList;
                //Loop through all the assign selected and paas them to the command
                //alert('Assign selected called' + ' zip selected are' + AsgIdList);
                //document.forms["AssignSpform"].submit();
                var strspid1 = document.getElementById('hdnSpID').value;
                var strAsgId = document.getElementById('AsgIdList');
                strAsgId.value = AsgIdList
                // alert('assg ids ' + strAsgId.value + ' spid = ' + strspid);

                if (FailedClaimNUmber != null && FailedClaimNUmber != "")
                {
                    alert("could not assign SP for " + FailedClaimNUmber + "these assignments because some criterias for validation are not meeting. ");
                }
                if (AsgIdList != null && AsgIdList != "")
                {
                    console.log("Assigning claims");
                $.post('@Url.Content("~/SPMapSearch/AssignSp")',
                    { strAsglist: AsgIdList, spId: strspid, post: "true" },
                    function (result) {
                        if (result) {
                            // alert(result);
                            disableAssignPopup();
                            //disableEditClaimPopup();
                            // hdnIsActive.value = 1; ziplist: AsgIdList, Spid: strspid , SpAssign : true
                        }
                    });
                }
                // alert('assg ids ' + strAsgId.value + ' spid = ' + strspid);
                // document.getElementById("AssignSpform").submit();
                disableEditClaimPopup();
                return false;

            }
           

           
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("AssignSp", "SPMapSearch", FormMethod.Post, new { @id = "AssignSpform" }))
    {
        <div id="dvdetails"></div>
        <input type="hidden" value="@TempData["SpIid"]"  name="hdnSpID" id="hdnSpID"/>
        <div>
            <input type="hidden" id="AsgIdList" name="AsgIdList" value="" />
            @{
        string strAssgDiv = "<table cellpadding='0'cellspacing='0'  width='100%' >";
        //strAssgDiv += "<tr class='mainHeader'><td></td></tr>";
        ////strAssgDiv += "<tr><td colspan='6' style='text-align:center'>"+ +"</td></tr>";     
        //strAssgDiv += "<tr class='content'> <td> <table>";
        strAssgDiv += "<tr><td colspan='5' align='left' style='padding:5px'> <strong>  You have selected Service provider " + TempData["SpName"].ToString() + " <strong> </td> <td style='padding:5px'>     <div style='width: 100%; text-align: right; '>  <input type='submit' title='Assign selected' onclick='return AssignSelected()' class='buttonYellow_100'  value='Assign'/></div>    </td></tr>";
        strAssgDiv += "<tr class='tableHeader'>";
        strAssgDiv += "<td> </td><td> Claim # </td><td> Policy # </td> <td> Insured Name </td><td> Company Name </td><td> Zip </td></tr>";
        bool Isodd = false;
         BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
         if(TempData["SpIid"]!=null && TempData["SpIid"]!=""){
             Int32 spid=Convert.ToInt32(TempData["SpIid"]);
        foreach (var zipcode in Model.spfilteredZip)
        {
            foreach (var obj in zipcode.SPAssignments)
            {
                if (css.UnQualifiedServiceProviders.Where(x => x.SPId == spid && x.CompanyId == obj.ClaimDetail.Company.CompanyId && x.LOBId == null && x.ClientPOCId == null || ((x.SPId == spid && x.CompanyId == obj.ClaimDetail.Company.CompanyId && x.LOBId == obj.ClaimDetail.LOBId && x.ClientPOCId == null) || (x.SPId == spid && x.CompanyId == obj.ClaimDetail.Company.CompanyId && x.ClientPOCId == obj.ClaimDetail.ClientPointOfContactUserId && x.LOBId == null))).ToList().Count() == 0)
               {
                if (Isodd)
                {
                    strAssgDiv += "<tr class='tableRow'>"; Isodd = false;
                }
                else
                {
                    strAssgDiv += "<tr class='tableRowAlternate'>"; Isodd = true;
                }
                                strAssgDiv += "<td id='Checktd'> <input type='checkbox' name='chkAssg' id='chk'" + obj.AssignmentId + "' checked ='checked' value='" + obj.AssignmentId + "' />"
                                                    + "<input type='hidden' name='chkClaimNumber' id='chkClaimNumber' value='"+ obj.ClaimDetail.ClaimNumber+"' />"
                                                    + "<input type='hidden' name='chkCompanyId' id='chkCompanyId' value='" + obj.ClaimDetail.Company.CompanyId + "' />"
                                                    + "<input type='hidden' name='chkCompanyName' id='chkCompanyName' value='" + obj.ClaimDetail.Company.CompanyName + "' />"
                                                    + "<input type='hidden' name='chkLobId' id='chkLobId' value='" + obj.ClaimDetail.LOBId + "' />"
                                                    + "<input type='hidden' name='chkClientPOCID' id='chkClientPOCID' value='0' />"
                                                    + "</td>";
                strAssgDiv += "<td>" + obj.ClaimDetail.ClaimNumber + "</td>" + "<td>" + obj.ClaimDetail.PolicyNumber + "</td>" + "<td>" + obj.ClaimDetail.InsuredFirstName + " " + obj.ClaimDetail.InsuredLastName + "</td>" + "<td>" + obj.ClaimDetail.Company.CompanyName + "</td>" + "<td>" + obj.ClaimDetail.PropertyZip + "</td>";
                strAssgDiv += "</tr>";
                }
            }
        }
         }
        strAssgDiv += "<tr><td colspan='6' style='text-align:center'> </td></tr>";
        strAssgDiv += "<tr class='footer'><td colspan='6' ><br /></td></tr>";
        //strAssgDiv += "</table></td></tr>";
        strAssgDiv += "</table>"; 
            }
        </div>
        <script type="text/javascript">
            document.getElementById("dvdetails").innerHTML = $('<div/>').html('@strAssgDiv').text(); 
        </script>
    }
</body>
</html>
