﻿@model BLL.ViewModels.SPMapSearchViewModel

@{
    Layout = null;
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();

}
<!DOCTYPE html>

<div>
    @{
        if (Model.spfilteredZip.Count > 0)
        {
            if (Model.spfilteredZip[0].SPAssignments != null)
            {
                BLL.Claim selectedCL = Model.spfilteredZip[0].SPAssignments[0].ClaimDetail;
                <table>
                    <tr>
                        <td nowrap="nowrap" class="borderBottomLightGray" colspan="2">
                            <strong>@selectedCL.InsuredFirstName   @selectedCL.InsuredLastName </strong>
                        </td>

                    </tr>
                    <tr>
                        <td nowrap="nowrap" colspan="2">
                            &nbsp;<br />
                            <br />
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="subHeading" colspan="2">Details</td>
                    </tr>

                    <tr>
                        <td valign="top" width="50%">
                            <table align="center" width="95%" cellspacing="0">
                                <tr>
                                    <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top" title="150"><b>Client:</b></td>
                                    <td class="tableRowAlternate" align="left" valign="top" width="100%">
                                        @{
                if (selectedCL != null)
                {
                    BLL.Company insuranceCompany = null;
                    if (selectedCL.HeadCompanyId.HasValue)
                    {
                        insuranceCompany = css.Companies.Find(selectedCL.HeadCompanyId);
                    }
                    if (insuranceCompany != null)
                    {
                        @insuranceCompany.CompanyName
                    }

                }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" nowrap="nowrap" valign="top"><b>Claim #:</b></td>
                                    <td align="left" valign="top" width="300">
                                        @{
                if (selectedCL != null)
                {
                    @selectedCL.ClaimNumber
                }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" nowrap="nowrap" valign="top" title="150" class="tableRowAlternate"><b>Assignment Date:</b></td>
                                    <td align="left" valign="top" width="100%" class="tableRowAlternate">
                                        @* @{
                                                if (Model.PropertyAssignment != null)
                                                {
                                                @(Model.PropertyAssignment.AssignmentDate.HasValue ? Model.PropertyAssignment.AssignmentDate.Value.ToString("MM/dd/yyyy") : "")
                                                }
                                            }*@
                                    </td>
                                </tr>


                                <tr>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>

                            </table>
                        </td>
                        <td valign="top" width="50%">
                            <table align="center" width="95%" cellspacing="0">

                                <tr>
                                    <td width="150" nowrap="nowrap" class="tableRowAlternate">
                                        <b>
                                            Policy
                                        </b>#<b>:</b>
                                    </td>
                                    <td width="100%" class="tableRowAlternate">
                                        @selectedCL.PolicyNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Policy Effective Date:</b><br />
                                    </td>
                                    <td>
                                        @(selectedCL.PolicyEffectiveDate.HasValue ? selectedCL.PolicyEffectiveDate.Value.ToString("MM/dd/yyyy") : "")
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Policy Type:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @selectedCL.PolicyType
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%">
                    <tr>
                        <td class="subHeading">Loss Information</td>
                    </tr>
                    <tr>
                        <td class="content">

                            <table width="100%">
                                <tr>
                                    <td align="left" valign="top" style="padding-right: 5px;" width="50%">
                                        <table width="95%" cellspacing="0">
                                            <tr>
                                                <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                                    <b>Type of Loss:</b>
                                                </td>
                                                <td width="100%" class="tableRowAlternate">
                                                    @{
                if (selectedCL.CauseTypeOfLoss.HasValue)
                {
                    BLL.LossType lossType = css.LossTypes.Find(selectedCL.CauseTypeOfLoss.Value);
                    if (lossType != null)
                    {
                        @lossType.LossType1
                    }
                }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">
                                                    <b>Address 1:</b>
                                                </td>
                                                <td>@selectedCL.PropertyAddress1</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" class="tableRowAlternate">
                                                    <b>State :</b>
                                                </td>
                                                <td class="tableRowAlternate">@selectedCL.PropertyState</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left" valign="top" width="50%">
                                        <table width="95%" cellspacing="0">
                                            <tr>
                                                <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                                    <b>Loss Date:</b>
                                                </td>
                                                <td width="100%" class="tableRowAlternate">@(selectedCL.DateofLoss.HasValue ? selectedCL.DateofLoss.Value.ToString("MM/dd/yyyy") : "")</td>
                                            </tr>
                                            <tr>
                                                @*  <a href="~/Views/SPMapSearch/ClaimDetails.cshtml">~/Views/SPMapSearch/ClaimDetails.cshtml</a>*@
                                                <td nowrap="nowrap">
                                                    <b>Address 2:</b>
                                                </td>
                                                <td>@selectedCL.PropertyAddress2</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" class="tableRowAlternate">
                                                    <b>City:</b>
                                                </td>
                                                <td class="tableRowAlternate">@selectedCL.PropertyCity</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">
                                                    <b>Zip:</b>
                                                </td>
                                                <td>@selectedCL.PropertyZip</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                    <tr>
                        <td class="subFooter">
                            <br />
                        </td>
                    </tr>
                </table>
            }

        }
    }
</div>
