﻿@model BLL.ViewModels.SPMapSearchViewModel

@{
    ViewBag.Title = "Dispatch SP Assignments";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

@* For pop up *@
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/Scripts/JqueryUI/jquery-1.8.0.min.js")"></script> *@
@*<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>*@
@*<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>*@
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyACs0sSddwXg1AtQxF8mCTSB5bkKZW3wmw&sensor=false"></script>
<script src="@Url.Content("~/Scripts/GoogleMap/infobox.js")" type="text/javascript"></script>

<style type="text/css">
      #bgSPPayPercentagePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .SPPayPercentagePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 600px;*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    #backgroundPopup
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }
      #bgEditPopup
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }
      .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .AssignPopup
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 600px;*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;

    }
    .k-window-titlebar
    {
        color: Black;
    font-size: 15px;
    font-weight: bold;
    background-color: #F0F0F0;
    border-bottom: solid 1px LightGrey;
    }

    k-i-close
    {
    background-image: url(@Url.Content("~/Content/Images/Cancel.png"));
    }

</style>

<script type="text/javascript">
    function disableAllPopups() {
        disableEditClaimPopup();
    }

    function loadSubmit() {
        var ProgressImage = document.getElementById("progress_image");
        document.getElementById("progress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }

    function RefreshAll() {
        document.getElementById("hdnsubmitType").value = "ALL";
        document.getElementById("spSearch").submit();
    }

    function RefreshSPList() {
        // alert(document.getElementById("hdnsubmitType").value);
        //document.getElementById("hdnsubmitType").value = "SP";
        document.getElementById("spSearch").submit();
    }

    function LoadSPlist(Zip) {
        document.getElementById("hdnsubmitType").value = "LOC";
        $("#txtZip").val(Zip);
        document.getElementById("spSearch").submit();
    }

    function loadEditClaimPopup(url) {
        document.getElementById("iframeEditClaim").src = url;
        centerEditClaimPopup();

        $("#bgEditPopup").css({
            "opacity": "0.7"
        });

        $("#bgEditPopup").fadeIn("slow");
        $("#divEditClaim").fadeIn("slow");

        return false;
    }
    function disableEditClaimPopup() {
        $("#bgEditPopup").fadeOut("slow");
        $("#divEditClaim").fadeOut("slow");
    }
    function centerEditClaimPopup() {
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditClaim").height();
        var popupWidth = $("#divEditClaim").width();
        //centering
        $("#divEditClaim").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6
        $("#bgEditPopup").css({
            "height": windowHeight
        });
        return false;
    }
</script>
@* For Filter  *@


<script type="text/javascript">
    $('#txtSPPayPercent,#txtHoldBackPercent').keypress(function (event) {
        if (event.which != 46 && (event.which < 47 || event.which > 59)) {
            event.preventDefault();
            if ((event.which == 46) && ($(this).indexOf('.') != -1)) {
                event.preventDefault();
            }
        }

    });
    function btnSPPayPercentSave_Click() {
        debugger;
        $('#imgSPPayPercentProcessing').show();
        if ($('#txtHoldBackPercent').val() == null || $('#txtHoldBackPercent').val() == "")
        {
            $('#txtHoldBackPercent').val(0);
        }
        $.ajaxSetup({ cache: false });
        $.getJSON(
            '@Url.Action("SetupSPPayPercentage", "PropertyAssignment")',
            { assignmentId: $("#hdnSPPayPercentAssignmentId").val(), spPayPercentage: $('#txtSPPayPercent').val(), holdbackPercentage: $('#txtHoldBackPercent').val() },
            function (result) {
                if (result == '1' || result == '2') {
                    $('#imgSPPayPercentProcessing').hide();
                    disableSpPayPercentagePopup();
                }
            }
        );
    }
    function loadSPPayPercentagePopup(assignmentId, claimNumber) {
        debugger;
        $("#tblSPPayPercent").hide();
        $("#imgSPPayPercentLoading").show();

        $("#hdnSPPayPercentAssignmentId").val(assignmentId);
        $("#tdSPPayPercentClaimNo").html(claimNumber);

        $.ajax({
            url: '@Url.Action("GetSPPayPercentage", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentId: assignmentId},
            cache: false,
            success: function (result) {
                debugger;
                $("#txtSPPayPercent").val(result.SPPayPercent);
                $("#hdnIsHoldbackApplicable").val(result.IsHoldbackApplicable);
                var IsHoldbackApplicable = result.IsHoldbackApplicable;
                if (IsHoldbackApplicable == false)
                {
                    $("#txtHoldBackPercent").attr("disabled", "disbaled");
                }
                if (result.HoldBackPercent == null) {
                    $("#txtHoldBackPercent").val(0);
                }
                else {
                    $("#txtHoldBackPercent").val(result.HoldBackPercent);
                }
               // $("#txtHoldBackPercent").val(result.HoldBackPercent);
                $("#tblSPPayPercent").show();
                $("#imgSPPayPercentLoading").hide();
            },
            error: function (error) {
            }
        });

        centerSPPayPercentagePopup();
        $('#bgSPPayPercentagePopup').css({
            "opacity": "0.7"
        });
        $('#bgSPPayPercentagePopup').fadeIn("slow");
        $('#divSPPayPercentagePopup').fadeIn("slow");
    }
    function disableSpPayPercentagePopup() {

        $('#bgSPPayPercentagePopup').fadeOut("slow");
        $('#divSPPayPercentagePopup').fadeOut("slow");
    }
    function centerSPPayPercentagePopup() {
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divSPPayPercentagePopup").height();
        var popupWidth = $("#divSPPayPercentagePopup").width();
        //centering
        $("#divSPPayPercentagePopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#bgSPPayPercentagePopup").css({
            "height": windowHeight
        });
        return false;
    }
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
        showTab('DivLocation');
    }

    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }

    function showTab(tab) {
        element = document.getElementById("DivAssgFilter");
        element.style.display = "none";
        element = document.getElementById("DivLocation");
        element.style.display = "none";
        element = document.getElementById("DivUserType");
        element.style.display = "none";
        element = document.getElementById("DivJobType");
        element.style.display = "none";
        tabBorderStyle = "1px solid LightGrey";

        document.getElementById("tdTabAssgFilter").style.borderLeft = "";
        document.getElementById("tdTabAssgFilter").style.borderTop = "";
        document.getElementById("tdTabAssgFilter").style.borderRight = "";
        document.getElementById("tdTabAssgFilter").style.borderBottom = tabBorderStyle;

        document.getElementById("tdTabSPFilter").style.borderLeft = "";
        document.getElementById("tdTabSPFilter").style.borderTop = "";
        document.getElementById("tdTabSPFilter").style.borderRight = "";
        document.getElementById("tdTabSPFilter").style.borderBottom = tabBorderStyle;

        //document.getElementById("tdTabUserType").style.borderLeft = "";
        //document.getElementById("tdTabUserType").style.borderTop = "";
        //document.getElementById("tdTabUserType").style.borderRight = "";
        //document.getElementById("tdTabUserType").style.borderBottom = tabBorderStyle;

        document.getElementById("tdTabJobType").style.borderLeft = "";
        document.getElementById("tdTabJobType").style.borderTop = "";
        document.getElementById("tdTabJobType").style.borderRight = "";
        document.getElementById("tdTabJobType").style.borderBottom = tabBorderStyle;



        if (tab == "DivAssgFilter") {
            document.getElementById("DivAssgFilter").style.display = "inline";
            //tab appearance
            document.getElementById("tdTabAssgFilter").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabAssgFilter").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabAssgFilter").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabAssgFilter").style.borderBottom = "";

            document.getElementById("hdnsubmitType").value = "SA";

        }
        else if (tab == "DivLocation") {
            document.getElementById("DivLocation").style.display = "inline";
            document.getElementById("tdTabSPFilter").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabSPFilter").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabSPFilter").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabSPFilter").style.borderBottom = "";
            document.getElementById("hdnsubmitType").value = "LOC";
        }
        else if(tab == "DivUserType")
        {
            document.getElementById("DivUserType").style.display = "inline";
            document.getElementById("tdTabUserType").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabUserType").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabUserType").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabUserType").style.borderBottom = "";

            document.getElementById("hdnsubmitType").value = "LOC";
        }
        else if (tab == "DivJobType") {
            document.getElementById("DivJobType").style.display = "inline";
            document.getElementById("tdTabJobType").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabJobType").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabJobType").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabJobType").style.borderBottom = "";

            document.getElementById("hdnsubmitType").value = "LOC";
        }


    }
    function OrderBy(OrderBYclaim) {
        debugger;
        $('#hdnsubmitType').val("LOC");
        $('#hdnOrderByValue').val(OrderBYclaim)
        document.getElementById("spSearch").submit();
    }
    //$(function () { $("#MobilePhone").mask("(999) 999-9999"); });
    $(document).ready(function () {
        debugger;
        const originalState = $("#divclone").html();
            
        $("#clearall").click(function () {
            debugger;
            $("#txtZip").val("");
            $("#txtLocDistMiles").val(20);
            $("#ddlLocState").val("");
            $("#txtLocCity").val(null);
            //slider
            //$("#txtLocDistMiles").val("");
            $("#SPName").val("");
            $("#Rank").attr('checked', 'checked');

            $("#CatCode").val("");
            $("#LossType").val("");
            $("#SeverityLevel").val("");
            $("#InsuranceCompany").val("");
            $("#divclone").empty();
            $("#divclone").html(originalState);
                       
                   });





       });

</script>

<script type="text/javascript">
    var oldib;
    function initialize() {
        var latlng = new google.maps.LatLng(37.09024, -95.712891);
        var myOptions = {
            zoom: 3,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var mapgoogle = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        LoadMap(mapgoogle);
    }

    $(function () {
        initialize();
    });


    function LoadMap(mapgoogle) {
        geocoder = new google.maps.Geocoder();
 @{
     int RecCount = 0;
     if (Model.spfilteredZip.Count > 0)
     {
         for (int i = 0; i < Model.spfilteredZip.Count; i++)
         {
             string strPopupDiv = "<table  id='TblPopUp'   cellPadding='0' cellSpacing='0' >";
             strPopupDiv = strPopupDiv + "<tr style='background:#EEEEEE; font-weight :bold; text-align:left; padding-left:5px'  ><td colspan='3' style='padding-left:5px;   '><a href='#' onclick= \"LoadAssgPopUp('" + Model.spfilteredZip[i].Zip + "');\"> Assign All</a> </td><td colspan='3' style='padding-left:5px;   '><a href='#' onclick= \"LoadSPlist('" + Model.spfilteredZip[i].Zip + "');\"> Refine SP List</a> </td></tr>";
             strPopupDiv = strPopupDiv + "<tr  class='tableHeader' ><td></td><td> Claim #</td><td> Loss Type </td><td>Severity  </td><td> Company </td><td> Zip </td></tr>";

             bool isOdd1 = false;
             string PointColor = "RED";
             foreach (var obj in Model.spfilteredZip[i].SPAssignments)
         {

                 if (isOdd1)
         {
                     strPopupDiv = strPopupDiv + "<tr class='tableRow' >";
                     isOdd1 = false;
         }
     else
     {
         strPopupDiv = strPopupDiv + "<tr class='tableRowAlternate' >";
         isOdd1 = true;
     }


     if (obj.ClaimDetail.ClaimCreatedDate.Value.Subtract(DateTime.Now).TotalHours > 4.00)
     {
         PointColor = "GREEN";
     }

     strPopupDiv = strPopupDiv + "<td nowrap='nowrap' style='padding-right:3px;'><img style='cursor:pointer;' onclick=\"loadSPPayPercentagePopup('" + obj.AssignmentId + "','" + obj.ClaimDetail.ClaimNumber + "')\" alt='Setup SP Pay Percent' title='Setup SP Pay Percent' src='" + Url.Content("~/Content/Images/iconPercent01.png") + "'> <img style='cursor:pointer;' onclick= \"assignSP('" + obj.AssignmentId + "','" + obj.ClaimDetail.ClaimNumber + "','" + obj.ClaimDetail.Company.CompanyId + "','" + obj.ClaimDetail.Company.CompanyName + "');\" src='" + @Url.Content("~/Content/Images/AddUserIcon01.png") + "' title='Assign Service Provider' width='15' height='15' style='border: none; vertical-align: bottom;' /></td><td><a href='#' onclick=\"loadEditClaimPopup('" + Url.Content("~/PropertyAssignment/PropertyAssignment") + "?ClaimId=" + obj.ClaimDetail.ClaimId + "');\">" + obj.ClaimDetail.ClaimNumber + "</a> </td> <td>" + obj.CauseType + "</td><td>" + (obj.ClaimDetail.SeverityLevel.HasValue ? obj.ClaimDetail.SeverityLevel.Value != 0 ? css.SeverityLevels.Find(obj.ClaimDetail.SeverityLevel.Value).SeverityLevel1 : "" : "") + "</td><td>" + obj.ClaimDetail.Company.CompanyName + "</td><td>" + obj.ClaimDetail.PropertyZip + " </td></tr>";
     RecCount++;
 }
        strPopupDiv = strPopupDiv + "<tr class='footer'><td colspan='6' ><br /></td></tr>";
        strPopupDiv = strPopupDiv + "</table>";


        @:AddMappoints('@Model.spfilteredZip[i].Latitude', '@Model.spfilteredZip[i].Lontitude', '@Model.spfilteredZip[i].Zip', '@strPopupDiv', geocoder, mapgoogle, '@PointColor');

    }
    if (RecCount > 0)
    {
        @:document.getElementById("lblTotalCount").innerHTML = " Total dispatch assignments : " + '@RecCount';
        
    }
        @* @:mapgoogle.setCenter(new google.maps.LatLng('@Model.spfilteredZip[0].Latitude', '@Model.spfilteredZip[0].Lontitude'));*@
        }

        }
        }



    function AddMappoints(lat, lon, ZipCode, strpopup, geocoder, mapgoogle, PointColor) {
        var point;

        geocoder = new google.maps.Geocoder();
        var addr = strpopup;
        var Latitude = lat;
        var longtitude = lon;

        if (addr != '') {
            var addressdiv = $('<div/>').html(addr).text(); //addr.unescapeHTML();

            var iconlnk = "https://maps.google.com/mapfiles/ms/icons/red-dot.png";
            // debugger;
            if (PointColor != "" && PointColor == "GREEN") {
                iconlnk = "https://maps.google.com/mapfiles/ms/icons/green-dot.png";
            }
            var marker = new google.maps.Marker({
                map: mapgoogle,
                icon: iconlnk,
                position: new google.maps.LatLng(Latitude, longtitude),
                title: ZipCode
            });

            //new infobox logic
            var boxText = document.createElement("div");
            boxText.style.cssText = "width: 390px;font-family:  Arial,Helvetica,sans-serif;  overflow: scroll; overflow-x: hidden; border: 1px solid black; padding:2px; margin-top: 8px; background: white;";
            boxText.innerHTML = $('<div/>').html(addr).text();//addr.unescapeHTML();

            var myOptions = {
                content: boxText
                    , disableAutoPan: false
                    , maxWidth: 0
                    , pixelOffset: new google.maps.Size(-140, 0)
                    , zIndex: null
                    , boxStyle: {
                        background: "url('tipbox.gif') no-repeat"
                        //, opacity: 0.75
                      , width: "375px"
                    }
                    , closeBoxMargin: "10px 2px 2px 2px"
                    , closeBoxURL: "https://www.google.com/intl/en_us/mapfiles/close.gif"
                    , infoBoxClearance: new google.maps.Size(1, 1)
                    , isHidden: false
                    , pane: "floatPane"
                    , enableEventPropagation: false
                // , pane: "mapPane"
                //, enableEventPropagation: true

            };

            var ib = new InfoBox(myOptions);
            //ib.open(mapgoogle, marker);

            //Old info box logic
            //var infowindow = new google.maps.InfoWindow({
            //    content: addressdiv,
            //    maxWidth: 300,
            //    maxHeight: 200
            //});

            google.maps.event.addListener(marker, 'click', function () {
                expandSearchFilter();
                $("#txtZip").val(ZipCode);
                $('#txtZip').blur();
                if (oldib != null) {
                    oldib.close();
                }
                ib.open(mapgoogle, this);
                oldib = ib;
            });
            google.maps.event.addListener(mapgoogle, 'click', function () {
                if (ib) {
                    ib.close();
                }
            });


            google.maps.event.addListener(mapgoogle, 'zoom_changed', function (event) {
                if (ib) {
                    ib.close();
                }
            });

            //-------------


            // } else {
            //     alert("Geocode was not successful for the following reason: " + status);
            // }
            // });
        }
    }

    function assignSP(AsgID, ClaimNumber, Companyid1,CompanyName1,LOBId,ClientPOCId) {
        debugger;
        //alert(SAZip);
        var selectedsp = document.getElementsByName("ServiceProviders");
        var spID = "";
        var spName = "";
        var radioButtons = document.getElementsByName("ServiceProviders");
        for (var x = 0; x < radioButtons.length; x++) {
            if (radioButtons[x].checked) {
                spID = radioButtons[x].value;
                // var strspID = radioButtons[x].value;
                //spname = radioButtons[x].textContent;
                // alert("You checked " + radioButtons[x].value);
            }
        }


        //var splt = strspID.split('#');

        //alert(spID);
        if (spID != '') {
            //spID = splt[0];
            document.getElementById("hdnASGId").value = AsgID;
            document.getElementById("hdnSpid").value = spID;
            if(Companyid1!=''){
                $.getJSON('@Url.Content("~/SPMapSearch/CheckCertificate")',
          {
              SPid: spID, Companyid: Companyid1, CompanyName: CompanyName1
          },
           function (data) {
               if (data == 1) {

                   if (confirm("Selected SP has an expired Certificate for this claim.  Do you want to proceed with assigning?")) {
                   $.getJSON('@Url.Content("~/SPMapSearch/CheckUnQualifiedSP")',
           {
               SPid: spID, Companyid: Companyid1, LOBId: LOBId, ClientPOCId: ClientPOCId, AssignmentId: AsgID
           },
            
            function (data) {
                if (data == 1) {
                    if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                        SPSigenedcheck(spID);
                //document.getElementById("hdnIsQuickAssign").value = "1";
                //document.getElementById("hdnsubmitType").Value = "QA";
                //document.getElementById("spSearch").submit();
                    }
            }
            else if (data == 2) {
                alert('Selected Service Provider does not qualify for the Claim #' + ClaimNumber + ' of ' + CompanyName1);

            }
            else if (data == 4) {
                alert('Selected Service Provider does not have license for this state');
            }
            else if (data == 3) {
                if (confirm("Selected SP has an expired license for this state.  Do you want to proceed with assigning them to this loss?"))
                {
                if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                    SPSigenedcheck(spID, AsgID);
                }
                    //document.getElementById("hdnIsQuickAssign").value = "1";
                    //document.getElementById("hdnsubmitType").Value = "QA";
                    //document.getElementById("spSearch").submit();
                }
                //alert('Selected Service Provider does not have valid license for selected state');
            }
            });
          }
        }
        else {
                   $.getJSON('@Url.Content("~/SPMapSearch/CheckUnQualifiedSP")',
                     {
              SPid: spID, Companyid: Companyid1, LOBId: LOBId, ClientPOCId: ClientPOCId, AssignmentId: AsgID
          },
                   function (data) {
               if (data == 1) {
                   if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                       SPSigenedcheck(spID);
                       //document.getElementById("hdnIsQuickAssign").value = "1";
                       //document.getElementById("hdnsubmitType").Value = "QA";
                       //document.getElementById("spSearch").submit();
                   }
               }
               else if (data == 2) {
                   alert('Selected Service Provider does not qualify for the Claim #' + ClaimNumber + ' of ' + CompanyName1);
               }
               else if (data == 4) {
                   alert('Selected Service Provider does not have license for this state');
               }
               else if (data == 3) {
                   if (confirm("Selected SP has an expired license for this state.  Do you want to proceed with assigning them to this loss?")) {
                   if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                       SPSigenedcheck(spID, AsgID);
                   }
                   //document.getElementById("hdnIsQuickAssign").value = "1";
                       //document.getElementById("hdnsubmitType").Value = "QA";
                       //document.getElementById("spSearch").submit();
                   }
                   //alert('Selected Service Provider does not have valid license for selected state');
               }
           });
               }
           });
          }
        }
        else {
            alert('Please select a Service Provider');
        }
}
    function SPSigenedcheck(SPID)
    {
        debugger;
        $.getJSON('@Url.Content("~/SPMapSearch/SPSigenedcheck")',
     {
         SPId: SPID
     },
         function (result) {
             if (result == 1) {
                 debugger;
                 //alert();
                 if (confirm('Selected SP does not have a signed contract on file. Assignment to the SP can proceed, but any net payment to SP will be prevented until the contract is signed.')) {
                     document.getElementById("hdnIsQuickAssign").value = "1";
                     document.getElementById("hdnsubmitType").Value = "QA";
                     document.getElementById("spSearch").submit();
                 }
             }
             else if (result == 0) {
                 document.getElementById("hdnIsQuickAssign").value = "1";
                 document.getElementById("hdnsubmitType").Value = "QA";
                 document.getElementById("spSearch").submit();
             }
         });

    }

    function LoadAssgPopUp(Zip) {
        //alert(Zip);
        var spID = "";
        var radioButtons = document.getElementsByName("ServiceProviders");
        for (var x = 0; x < radioButtons.length; x++) {
            if (radioButtons[x].checked) {
                spID = radioButtons[x].value;
                //var strspID = radioButtons[x].value;
                //alert(spID);
                //
            }
        }

        // var splt = strspID.split('#');
        // if (splt[1] == Zip) {
        if (spID != '') {
            //spID = splt[0];
            $.getJSON('@Url.Content("~/SPMapSearch/SPSigenedcheck")',
             {
                 SPId: spID
             },
                 function (result) {
                     if (result == 1) {
                         debugger;
                         //alert();
                         if (confirm('Selected SP does not have a signed contract on file. Assignment to the SP can proceed, but any net payment to SP will be prevented until the contract is signed.')) {;
                             LoadAssignSP(spID, Zip);
                         }
                     }
                     else if (result == 0) {
            if (confirm("Are you sure you want to Assign Service provider?")) { //confirm box added for multiple assignment confirmation 3/21/2016
                LoadAssignSP(spID, Zip);
            }
                     }
                 });
            //spID = splt[0];

        }
        else {
            alert('Please select a Service Provider');
        }

        //old logic for JS pop up
        //    alert('This will assign Zip ' + Zip + 'of zip ' + zip + 'to sp ' + spID);
        //$.get(url1, { 'id': Gid }, function (result)  $.post  $.get("Url.Content("~/SPMapSearch/AssignSp")",
       @*     $.get("@Url.Content("~/SPMapSearch/AssignSp")",
    { Ziplist: Zip, Spid: spID },
    function (data) {
        if (data != null) {
            document.getElementById("AssgSpPopup").innerHTML = $('<div/>').html(data).text();// data.unescapeHTML();
        }
        else {
            document.getElementById("AssgSpPopup").innerHTML = " ERROR";
        }
        loadEditClaimPopup();
    });*@

    }

</script>

@*For slider*@

<style type="text/css">
@*   #wrapper
{

    width: 300px;
    height: 255px;
    padding: 45px 0 0 0;
    margin: 0 auto;
    background: url(@Url.Content("~/Content/web/slider/eqBack.png")) no-repeat 0 0;
    text-align: center;
}
*+html .eqSlider {display:inline;}*@

</style>
@* For Filter  End*@


@using (Html.BeginForm("Search", "SPMapSearch", FormMethod.Post, new { @id = "spSearch" }))
{


    <script type="text/javascript">
        function sliderSlide(e) {
            //kendoConsole.log("Slide :: new slide value is: " + e.value);
            document.getElementById("txtLocDistMiles").value = e.value;
            //alert(document.getElementById("txtLocDistMiles").innerHTML);
        }
    </script>
    <style type="text/css">
        #TblPopUp {
            width: 375px;
            height: 100px;
            overflow: scroll;
            overflow-x: hidden;
            vertical-align: top;
        }

        .k-button {
            visibility: hidden;
        }

        #TblPopUp td {
            align: left;
        }

        .txtbold {
            font-weight: bold;
        }

        .k-slider-horizontal .k-slider-buttons .k-slider-track {
            left: 1px !important;
        }

        .k-slider-horizontal .k-slider-buttons .k-slider-track {
            height: 12px;
        }
    </style>

    //For sp Location filter
    <script type="text/javascript">
        function populateZipData() {
            //alert('called');
            //debugger;
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
        { ZipCode: $("#txtZip").val() },
        function (data) {
            if (data != -1) {
                $("#ddlLocState").val(data.State);
                $("#txtLocCity").val(data.City);
            }
        });
        }

    </script>

    <table cellpadding='4' cellspacing='0' width="100%">
        <tr>
            <td colspan="2">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <a id="lblSearchExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Filter</a>
                            <a id="lblSearchCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a>
                        </td>
                    </tr>
                    <tr id="trSearchFilterContent" style="display: none;">
                        <td class="content" colspan="2">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <table cellpadding="3" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="10px" style="border-bottom: 1px solid; border-color: LightGrey;"></td>
                                                <td id="tdTabSPFilter" style="border-bottom: 1px solid; width: 200px; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('DivLocation')">Location / SP</a>&nbsp;&nbsp;</td>
                                                <td id="tdTabAssgFilter" style="border-bottom: 1px solid; width: 150px; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('DivAssgFilter')">Assignment</a>&nbsp;&nbsp; </td>
                                                @*<td id="tdTabUserType" style="border-bottom: 1px solid; width: 250px; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('DivUserType')">User Type</a>&nbsp;&nbsp; </td>*@
                                                <td id="tdTabJobType" style="border-bottom: 1px solid; width: 250px; border-color: LightGrey; display:none;">&nbsp;&nbsp;<a href="#" onclick="showTab('DivJobType')">Job Type</a>&nbsp;&nbsp; </td>
                                                <td style="border-bottom: 1px solid; width: 73%; border-color: LightGrey;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <div id="DivAssgFilter" style="display: none;">
                                            <table width="100%">
                                                <tr>
                                                    <td width="50%" align="left" valign="top">
                                                        <table>
                                                            <tr>
                                                                <td align="right">CAT Code: </td>
                                                                <td>@Html.DropDownListFor(model => model.CatCode, Model.CatCodesList, new { style = "width:150px;" })</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">Loss Type:</td>
                                                                <td>@Html.DropDownListFor(model => model.LossType, Model.LossTypesList, new { style = "width:150px;" })</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">Serverity :</td>
                                                                <td>@Html.DropDownListFor(model => model.SeverityLevel, Model.SeverityLevelsList, new { style = "width:150px;" })</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">Client:</td>
                                                                <td>@Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompaniesList, new { style = "width:150px;" })</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div id="DivLocation" style="display: none;">
                                            <table width="100%">
                                                <tr>
                                                    <td nowrap="nowrap">Zip:</td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.Zip, new { onblur = "populateZipData()", id = "txtZip" })
                                                    </td>
                                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                                    <td nowrap="nowrap">Distance in Miles:</td>
                                                    <td width="100%">
                                                        <table cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td width="25">
                                                                    @Html.TextBoxFor(model => model.Distance, new { style = "width:25px", id = "txtLocDistMiles" })

                                                                </td>
                                                                <td width="100%" style="padding-left: 10px;padding-right:30px" id="divclone">

                                                                    @(Html.Kendo().Slider()
                                                                    .Name("slider")
                                                                    .IncreaseButtonTitle("Right")
                                                                    .DecreaseButtonTitle("Left")
                                                                    .Events(events => events
                                                                    .Slide("sliderSlide")
                                                                    .Change("sliderSlide"))

                                                                    .Min(0)
                                                                    .Max(500)
        //.SmallStep(10)
        //.LargeStep(20)
                                                            .Value(@Model.Distance)
                                                            .HtmlAttributes(new { @class = "balSlider" })
                                                                    )


                                                                    @* <div id="sliderDistMiles" style="width: 200px;"></div>*@
                                                                </td>
                                                                <td nowrap="nowrap">Adjuster Type:</td>
                                                                <td nowrap="nowrap">
                                                                    <input id="rbtnAdjuster1" type="radio" name="AdjusterType" value="1" checked="@(Model.AdjusterType == 1 ? true : false)" />CAT&nbsp;
                                                                    <input id="rbtnAdjuster2" type="radio" name="AdjusterType" value="2" checked="@(Model.AdjusterType == 2 ? true : false)" />Daily&nbsp;
                                                                    <input id="rbtnAdjuster3" type="radio" name="AdjusterType" value="3" checked="@(Model.AdjusterType == 3 ? true : false)" />Both&nbsp;
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td nowrap="nowrap">State:</td>
                                                    <td>
                                                        <select id="ddlLocState" name="State" style="width: 150px;">
                                                            @foreach (var state in Model.StateList)
                                                            {
                                                                <option value="@state.Value" @(Model.State == state.Value ? "selected=\"selected\"" : "")>@state.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                                    <td nowrap="nowrap">SP Minimum Rank: </td>
                                                    <td width="100%">@Html.RadioButtonFor(model => model.Rank, 0) NA &nbsp; @Html.RadioButtonFor(model => model.Rank, 1) 1 &nbsp; @Html.RadioButtonFor(model => model.Rank, 2) 2 &nbsp; @Html.RadioButtonFor(model => model.Rank, 3) 3 &nbsp; @Html.RadioButtonFor(model => model.Rank, 4) 4 &nbsp; @Html.RadioButtonFor(model => model.Rank, 5) 5 </td>
                                                </tr>
                                                <tr>
                                                    <td nowrap="nowrap">City:</td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.City, new { id = "txtLocCity" })
                                                    </td>
                                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                                    <td nowrap="nowrap">SP Name:</td>
                                                    <td width="100%">@Html.TextBoxFor(model => model.SPName)</td>
                                                </tr>
                                                <tr>
                                                    <td nowrap="nowrap">&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                                    <td nowrap="nowrap">&nbsp;</td>
                                                    <td width="100%">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="DivUserType">
                                            <table>
                                                <tr>
                                                    <td nowrap="nowrap">User Type: </td>
                                                    <td width="100%">@Html.RadioButtonFor(model => model.usertype, 0) IA &nbsp; @Html.RadioButtonFor(model => model.usertype, 2) CAN Estimator&nbsp;@Html.RadioButtonFor(model => model.usertype, 3) HRT &nbsp; </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="DivJobType">
                                            <table>
                                                <tr>
                                                    <td nowrap="nowrap">Job Type: </td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypeList, new { style = "width:200px;" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="trSearchFilterFooter" align="right" style="display: none;">
                        <td class="footer" colspan="2">
                            <input class="buttonLightYellow_100" onclick="return RefreshSPList()" type="submit" value="Search" />
                            <input class="buttonLightYellow_100" id="clearall" type="button" value="Clear" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="vertical-align: top; text-align: left;" cellpadding="0" cellspacing="0">
                <table style="width: 100%;" cellpadding="4" cellspacing="0">
                    <tr class="mainHeader">
                        <td style="padding-left: 15px;" colspan="6">

                            <strong><span>Assignments Map</span></strong>
                            <div style="float: right; padding-right: 5px;">
                                <span style="font-size: 12px; font-weight: normal;">
                                    <label id="lblTotalCount"></label>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10px; padding-right: 10px; height: 25px;" class="content">
                            <div style="float: left">
                                <input class="buttonLightYellow_100" value="Assign Multiple" type="button" onclick="LoadAssgPopUp('')" />
                            </div>
                            <div style="float: right">
                                @* <span id="undo" >&nbsp; Location search&nbsp; </span>*@
                                @*    <input id="undo" class="buttonLightYellow_100" type="button" value="Location Search" />*@
                                <input id="btnRefresh" class="buttonLightYellow_100" onclick="return RefreshAll()" type="submit" value="Refresh Search" />
                            </div>
                            @*<a href="#"  class="buttonLightYellow_100" onclick="OpenWindow()">Location search </a>*@
                        </td>
                    </tr>
                    <tr class="content">
                        <td>
                            <div id="map_canvas" style="width: 100%; height: 350px; background-color: GrayText"></div>
                        </td>
                    </tr>
                    <tr class="footer">
                        <td>
                            <br />
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align: top; text-align: left;" cellpadding="0" cellspacing="0">
                <table style="width: 100%;" cellpadding="0" cellspacing="0">
                    <tr class="mainHeader">
                        <td style="padding-left: 15px; height: 30px;" colspan="6">
                            @if (Model.JobTypeId == 6)
                            {
                                <strong><span>Service Providers</span></strong>
                            }
                            else
                            {
                                <strong><span>Contractor Company</span></strong>
                            }
                        </td>
                    </tr>
                    <tr class="content">
                        <td style="vertical-align: top">
                            <div style="height: 500px; overflow-y: auto;">
                                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                    <tr class="tableHeader" style="height: 30px;">
                                        <td>&nbsp; </td>
                                        <td><a href="#" onclick="OrderBy('Name');">Name</a></td>
                                        <td><a href="#" onclick="OrderBy('Company');">Company</a></td>
                                        <td><a href="#" onclick="OrderBy('CityZip');">City, Zip</a></td>
                                        <td align="center" width="100"><a href="#" onclick="OrderBy('Miles');">Miles</a></td>
                                        <td>Phone No.</td>
                                        <td align="center"><a href="#" onclick="OrderBy('OpenClaims');" title="Open, Accepted, Contacted, Inspected and Unapproved" style="text-decoration: none;">Open Claims</a></td>
                                        <td><a href="#" onclick="OrderBy('Rank');">Rank</a></td>
                                        <td>
                                            <input type="hidden" value="@ViewBag.LastOrderByValue" id="hdnlastOrderByValue" name="hdnlastOrderByValue" />
                                            <input type="hidden" value="@ViewBag.flag" id="hdnFlagClaim" name="hdnFlagClaim" />
                                        <input type="hidden" id="hdnOrderByValue" name="hdnOrderByValue" />
                                            <input type="hidden" id="hdnOrderDirection" name="hdnOrderDirection" />
                                        </td>
                                    </tr>
                                    @{
                                        string Rowclass = "";
                                        int spListRowIndex = 0;

                                        //for (int j = 0; j < Model.spfilteredZip.Count; j++)
                                        //{
                                        if (Model.Splist != null)
                                        {

                                            foreach (var obj in Model.Splist)
                                            {
                                                if (spListRowIndex % 2 == 0)
                                                {
                                                    Rowclass = "tableRow";
                                                }
                                                else
                                                {
                                                    Rowclass = "tableRowAlternate ";
                                                }

                                                var SearchState = Model.State == null ? "" : Model.State;
                                                //var SpLicense = null;

                                                var SpLicense = css.ServiceProviderLicenses.Where(x => x.UserId == obj.UserId && x.State == SearchState && x.ExpirationDate > System.DateTime.Now).FirstOrDefault();
                                                
                                                //var SpLicense = css.ServiceProviderLicenses.Where(x => x.UserId == obj.UserId && x.State == obj.State && x.ExpirationDate > System.DateTime.Now).FirstOrDefault();
                                                //var SpCertificate = css.ServiceProviderCertifications.Where(x => x.UserId == obj.UserId && x.ExpirationDate > System.DateTime.Now).FirstOrDefault();
                                    <tr class="@Rowclass" style="height:30px;">
                                        <td>
                                            <input type="radio" name="ServiceProviders" checked="" value="@obj.UserId" title="@obj.Firstname" />
                                            @*value=@string.Concat(obj.UserId,"#",obj.Zip)*@
                                        </td>
                                        <td>
                                            @if (SpLicense == null)
                                            {
                                                <a href="#" style="color: darkred;" onclick="LoadSpPopup('@obj.UserId','@obj.Zip')"><span>@string.Concat(obj.Firstname, ' ', obj.LastName) </span></a>
                                            }
                                            else
                                            {
                                            <a href="#" onclick="LoadSpPopup('@obj.UserId','@obj.Zip')"><span>@string.Concat(obj.Firstname, ' ', obj.LastName) </span></a>
                                            }
                                            <br />
                                        </td>
                                        <td>
                                            @obj.CompanyName
                                        </td>
                                        <td>
                                            @obj.City,<br /> @obj.Zip
                                        </td>
                                        <td align="center">
                                            @obj.Distance
                                        </td>
                                        <td>
                                            @obj.MobilePhone
                                        </td>
                                        <td align="center">
                                            @obj.OpenClaimsCount
                                        </td>
                                        <td align="center">
                                            @obj.OverdueRank
                                        </td>
                                    </tr>
                                    spListRowIndex++;
                                }
                                <tr>
                                    <td colspan="7">

                                        @*@Html.Partial("_Pager", Model.Pager)*@
                                    </td>
                                </tr>
                            }
                            if (spListRowIndex == 0)
                            {
                                <tr class="tableRowAlternate">
                                    <td align="center" colspan="8">
                                        <br />
                                        - No records found -
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                            }
    // }
                                    }



                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="footer">
                        <td>
                            <br />
                            <br />
                        </td>

                    </tr>
                </table>


            </td>
        </tr>

    </table>

    <input type="hidden" name="hdnSpid" id="hdnSpid" value="" />
    <input type="hidden" name="hdnASGId" id="hdnASGId" value="" />
    <input type="hidden" name="hdnIsQuickAssign" id="hdnIsQuickAssign" value="0" />
    <input type="hidden" id="hdnsubmitType" name="hdnsubmitType" value="" />


}

<div id="backgroundPopup" onclick="disableAllPopups();"></div>
<div id="divAssignPopup" class="AssignPopup" style="width: 600px;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Assign provider</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <div id="AssgSpPopup"></div>

            </td>
        </tr>


    </table>

</div>

@(Html.Kendo().Window()
    .Name("window")
    .Title("Browse locations")
    .Content("loading user info...")
    .LoadContentFrom(@Url.Content("/SPMapSearch/BrowseMapLocation?hdnlistType=&hdnParam=&isSort=0&filterParam=&pgNO=0"))
    .Draggable()
    .Visible(false)
    .Resizable()
    .Height(375)
    .Width(800)
    .Modal(true)

)
<script type="text/javascript">
    $(document).ready(function () {
        $("#undo")
            .bind("click", function () {
                var window = $("#window").data("kendoWindow");
                window.refresh({
                    url: '@Url.Content("~/SPMapSearch/BrowseMapLocation")',
                    data: { hdnlistType: "", hdnParam: "", isSort: "0", filterParam: "", pgNO: 0 }
                });
                window.center().open();


            });

        $("#btnrefresh")
           .bind("click", function () {
               var strsp = SpID;
               var window = $("#window1").data("kendoWindow");
               window.refresh({
                   url: '@Url.Content("~/SPMapSearch/SpDetails")',
                   data: { strSpID: strsp }
               });
               window.center().open();
           });
    });
</script>
<input id="btnrefresh" style="display: none" value="Refresh" />
<style scoped>
    #example {
        min-height: 375px;
        max-height: 700px;
    }

    #undo {
        padding: 2px;
        /*cursor:pointer;
        color: #4C9E34;
        font-weight: bold;*/
    }
</style>

<!-- For location search -->
<script type="text/javascript">
    function filterlist(ModelType, param) {

        document.getElementsByName('hdnlistType').value = ModelType;
        document.getElementsByName('hdnParam').value = param;
        if (ModelType == "0") ModelType = 1;
        else if (ModelType == "1") ModelType = "2";
        else if (ModelType == "2") ModelType = "3";
        else if (ModelType == "3") ModelType = "4";
        else ModelType = "0";
        RefreshWindow(ModelType, param, "0", "");
    }

    function LoadprevType(ModelType, param) {
        if (ModelType == "1") ModelType = "0";
        else if (ModelType == "2") ModelType = "1";
        else if (ModelType == "3") ModelType = "2";
        else if (ModelType == "4") ModelType = "3";

        else ModelType = "0";
        RefreshWindow(ModelType, param, "0", "");

    }


    function RefreshWindow(ModelType, param, Issort, filterAlph) {
        // debugger;
        var window = $("#window").data("kendoWindow");
        window.center();
        window.refresh({
            url: ' @Url.Content("~/SPMapSearch/BrowseMapLocation")',
            data: { hdnlistType: ModelType, hdnParam: param, isSort: Issort, filterParam: filterAlph, pgNO: 0 }
        });
    }


    function Fileterlist(ModelType, Alphabet) {
        RefreshWindow(ModelType, "", "1", Alphabet);
    }

    function showzip(zipCode) {

        var window = $("#window").data("kendoWindow").close();
    }

    function ReloadPager(ModelType, PageNo, FrstPage) {
        //alert("wass up doc?");
        var window = $("#window").data("kendoWindow");
        window.center();
        window.refresh({
            url: '@Url.Content("~/SPMapSearch/BrowseMapLocation")',
            data: { hdnlistType: ModelType, hdnParam: "", isSort: "2", filterParam: FrstPage, pgNO: PageNo }
        });
    }


    function disableAssignPopup() {
        // alert('called');
        var window = $("#AssigMult").data("kendoWindow").close();
    }

</script>


<!-- For Sp popup -->
@(Html.Kendo().Window()
    .Name("window1")
    .Title("Service Provider Details")
    .Content("loading info...")
    .LoadContentFrom(@Url.Content("~/SPMapSearch/SpDetails?strSpID=0&Zip="))
    .Draggable()
    .Visible(false)
    .Resizable()
    .Height(400)
    .Width(700)
    .Modal(true)
)

@(Html.Kendo().Window()
    .Name("window2")
    .Title("Claim Details")
    .Content("loading info...")
    .LoadContentFrom(@Url.Content("~/SPMapSearch/ClaimDetails?strClaimId=0&Zip="))
    .Draggable()
    .Visible(false)
    .Resizable()
    .Height(350)
    .Width(550)
    .Modal(true)
)


@(Html.Kendo().Window()
    .Name("AssigMult")
    .Title("Assign Service Provider")
    .Content("loading info...")
    .LoadContentFrom(@Url.Content("~/SPMapSearch/AssignSp?Ziplist=&Spid=0"))
    .Draggable()
    .Visible(false)
    .Resizable()
    .Height(300)
    .Width(600)
    .Modal(true)
)



<script type="text/javascript">
    function LoadSpPopup(SpID, Zip) {
        var strsp = SpID;
        var strZip = Zip;
        var window = $("#window1").data("kendoWindow");

        window.refresh({
            url: '@Url.Content("~/SPMapSearch/SpDetails")',
            data: { strSpID: strsp, Zip: strZip }
        });
        window.center().open();
    }
    function LoadClDetails(ClNO, Zip) {
        var strCL = ClNO;
        var strZip = Zip;
        var window = $("#window2").data("kendoWindow");

        window.refresh({
            url: '@Url.Content("~/SPMapSearch/ClaimDetails")',
            data: { strClaimId: strCL, Zip: strZip }
        });
        window.center().open();
    }

    function LoadAssignSP(SPID, Zip) {
        var strSpid = SPID;
        var strZip = Zip;
        var window = $("#AssigMult").data("kendoWindow");
        window.refresh({
            url: '@Url.Content("~/SPMapSearch/AssignSp")',
            data: { Spid: strSpid, Ziplist: strZip }
        });
        window.center().open();
    }
</script>
<div id="divSPPayPercentagePopup" class="SPPayPercentagePopup" style="width: 300px;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Setup SP Pay Percentage</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableSpPayPercentagePopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <img id="imgSPPayPercentLoading" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-right: 3px;" alt="Processing" />
                <table width="300" id="tblSPPayPercent" style="display:none;">
                    <tr>
                        <td>Claim #:</td>
                        <td id="tdSPPayPercentClaimNo"></td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">SP Pay Percentage:</td>
                        <td width="100%">@Html.TextBox("txtSPPayPercent", "60", new { @id = "txtSPPayPercent", @style = "width:60px;" })</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Hold Back Percentage:</td>
                        <td>@Html.TextBox("txtHoldBackPercent", "10", new { @id = "txtHoldBackPercent", @style = "width:60px;" })</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="hidden" id="hdnSPPayPercentAssignmentId" />
                <input type="hidden" id="hdnIsHoldbackApplicable" />
                <img id="imgSPPayPercentProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-right: 3px;" alt="Processing" />
                <input class="buttonYellow_100" type="button" value="Submit" onclick="btnSPPayPercentSave_Click()" />
            </td>
        </tr>

    </table>

</div>
<div id="bgSPPayPercentagePopup" onclick="disableSpPayPercentagePopup()"></div>
<div id="divEditClaim" class="EditPopup" style="width: 1000px;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Edit Claim/Assignment</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableEditClaimPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">

                <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>


    </table>
</div>
<div id="bgEditPopup" onclick="disableAllPopups();"></div>