﻿@model BLL.ViewModels.SPMapSearchViewModel
@using CSS
@{
    Layout = null;
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    
}
<!DOCTYPE html>

<div>
    @{
        if (Model.SPServiceproviders.Count > 0)
        {
        BLL.User selectedSp = Model.SPServiceproviders[0];
        <table>

            <tr>
                <td nowrap="nowrap" class="borderBottomLightGray" colspan="2">
                    <strong>@selectedSp.FirstName  @selectedSp.MiddleInitial   @selectedSp.LastName </strong></td>
            </tr>
            <tr>
                <td nowrap="nowrap" colspan="2">&nbsp;<br />
                    <br />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" width="45%">
                    <table align="center" width="95%" cellspacing="0">

                        <tr>
                            <td nowrap="nowrap" class="borderBottomLightGray">
                                <strong>Present Address</strong></td>
                            <td class="borderBottomLightGray">&nbsp;</td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" nowrap="nowrap">Street Number:</td>
                            <td bgcolor="#EAEAEA">
                                @selectedSp.AddressLine1</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Street Name:</td>
                            <td>
                                @selectedSp.StreetAddress</td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" nowrap="nowrap">Zip:</td>
                            <td bgcolor="#EAEAEA">
                                @selectedSp.Zip</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">State:</td>
                            <td>
                                @{
                  
                 
                 
                                    string addrState = "";
                                    if (selectedSp.State != null && selectedSp.State != "")
                                    {
                                        string state = css.StateProvinces.Where(m => m.StateProvinceCode == selectedSp.State).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == selectedSp.State).First().Name : "";
                                        addrState = state;

                                    }
                    
                                }
                                @addrState</td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" nowrap="nowrap" class="borderBottomLightGray">City:</td>
                            <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                                @selectedSp.City</td>
                        </tr>

                        <tr>
                            <td nowrap="nowrap">&nbsp;<br />
                                <br />
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width: 150px;" nowrap="nowrap" class="borderBottomLightGray">
                                <strong>Contact Information</strong></td>
                            <td class="borderBottomLightGray">&nbsp;</td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" nowrap="nowrap">Mobile Phone:</td>
                            <td bgcolor="#EAEAEA">
                                @selectedSp.MobilePhone</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Home Phone:</td>
                            <td>
                                @selectedSp.HomePhone</td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" nowrap="nowrap">Email Address:</td>
                            <td bgcolor="#EAEAEA">
                                @selectedSp.Email</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Facebook Address:</td>
                            <td>
                                @selectedSp.Facebook</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" bgcolor="#EAEAEA">Twitter Address:</td>
                            <td bgcolor="#EAEAEA">
                                @selectedSp.Twitter</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" class="borderBottomLightGray">Google+ Address:</td>
                            <td class="borderBottomLightGray">
                                @selectedSp.GooglePlus</td>
                        </tr>
<tr>
                            <td height="50px">
                                @{
                                    string ID = Cypher.EncryptString(selectedSp.UserId.ToString());
                                }
                                @if (selectedSp.UserId != null)
                {
                    if (ID.Contains("/"))
                    {
                        ID = ID.Replace("/", "[msl]");
                    }
                }
                                <a href="@Url.Action("ServiceProviderDetails", "ServiceProviders", new { ID = ID,Page="SPMapSearch" })" target="_blank"><span>SP Profile Notes</span></a>
                            </td>
                        </tr>


                    </table>
                </td>
                <td valign="top" width="55%">
                    <table align="center" width="95%" cellspacing="0">
                        <tr>
                            <td style="width: 150px;" class="borderBottomLightGray">
                                <strong>Licenses</strong></td>
                            <td class="borderBottomLightGray">&nbsp;</td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" colspan="2">Professional, occupational, and vocational licenses (State Adjuster Licenses) issued 
                by any public or governmental licensing agency or regulatory authority held 
                presently</td>
                        </tr>

                        <tr>
                            <td colspan="2" class="borderBottomLightGray">
                                <table cellspacing="0">
                                    <tr>
                                        <td width="150"><b>Type</b>
                                        </td>
                                        <td width="150"><b>State</b>

                                        </td>
                                        <td width="150"><b>License Number</b>
                                        </td>
                                        <td width="150"><b>Expiration Date</b>
                                        </td>

                                    </tr>
                                    @{  
                                
                                        BLL.StateProvince sp = new BLL.StateProvince();

                                        if (Model.SPserviceproviderlicens.Count != 0)
                                        {

                                            string type = "";
                                            string state = "";
                                            string licenseNo = "";
                                            string expDate = "";
                                            string stateName = "";
                                            int rowIndex = 0;
                                            var objData = css.ServiceProviderLicenses.Where(m => m.UserId == selectedSp.UserId);
                                            foreach (var licenses in objData)
                                            {
                                                type = licenses.Type;
                                                state = licenses.State;
                                                licenseNo = licenses.LicenseNumber;

                                                if (!string.IsNullOrEmpty(state))
                                                {
                                                    if (state != "--Select--" && state != "0")
                                                    {

                                                        string listate = css.StateProvinces.Where(m => m.StateProvinceCode == state).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == state).First().Name : "";

                                                        stateName = listate;
                                                    }
                                                }

                                                if (licenses.ExpirationDate != null)
                                                {

                                                    expDate = CSS.Utility.getDateInDefaultFormat(licenses.ExpirationDate.Value);
                                                }
                        
                                        <tr>
                                            <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@type</td>
                                            <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@stateName</td>
                                            <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@licenseNo</td>
                                            <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@expDate</td>
                                        </tr>
                                                rowIndex++;
                                            }

                                        }
                                        else
                                        {
                                        <tr>
                                            <td colspan="4">- No Records -
                        
                                            </td>
                                        </tr>
                                        }
        
                                    }



                                </table>
                            </td>

                        </tr>
                        <tr>

                            <td>&nbsp;<br />
                                <br />
                            </td>
                            <td></td>
                        </tr>
                        <tr>

                            <td colspan="2" class="borderBottomLightGray">
                                <strong>HAAG Certification</strong></td>
                        </tr>

                       <tr>
                            <td bgcolor="#EAEAEA">HAAG certification :</td>
                            <td bgcolor="#EAEAEA">
                                @(selectedSp.ServiceProviderDetail.HAAGCertified ==  true ? "Yes" : "No")

                            </td>
                        </tr>
                        @* <tr>
                            <td>License Number :</td>
                            <td>
                                @selectedSp.ServiceProviderDetail.HAAGCertificationNumber </td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA">Expiration Date :</td>
                            <td bgcolor="#EAEAEA">
                                @{
                                    string haagexpirationDate = "";
                                    if (selectedSp.ServiceProviderDetail.HAAGExpirationDate != null)
                                    {

                                        haagexpirationDate = CSS.Utility.getDateInDefaultFormat(selectedSp.ServiceProviderDetail.HAAGExpirationDate.Value);
                                    }
                                }
                                @haagexpirationDate</td>
                        </tr>
                        <tr>
                            <td valign="top" class="borderBottomLightGray">Copy of HAAG Certificate:</td>
                            <td class="borderBottomLightGray">
                                <iframe id="frameUploadDL" style="overflow:hidden;text-align:right;" frameborder="0" width="300" height="30" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=5&maxDocsCount=1&displayMode=0&isReadOnly=true")" ></iframe>
                            </td>
                        </tr>*@
                        <tr>
                            <td nowrap="nowrap">
                                &nbsp;<br />
                                <br />
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="borderBottomLightGray">
                                <table cellspacing="0">
                                    <tr>
                                        <td width="150">
                                            <b>Company Certificate Title </b>
                                        </td>
                                        <td width="150">
                                            <b>Date Originally Obtained </b>
                                        </td>

                                        <td width="150">
                                            <b>Expiration Date</b>
                                        </td>
                                    </tr>
                                    @{
                                        if (Model.SPserviceprovidercertificates.Count != 0)
                                        {
                                            string companytitile = "";
                                            string obtaindate = "";
                                            string expDate = "";
                                            int rowIndex = 0;
                                            var cerficates = css.ServiceProviderCertifications.Where(m => m.UserId == selectedSp.UserId);
                                            foreach (var certificate in cerficates)
                                            {
                                                companytitile = css.CompanyCertificationTypes.Where(a => a.CompanyCertificationTypeId == certificate.Certification).FirstOrDefault().CompanyCertificationTypeDescription;
                                                // company = certificate.Certification.ToString();
                                                obtaindate = certificate.Date.Value.ToString("MM/dd/yyyy");
                                                expDate = certificate.ExpirationDate.Value.ToString("MM/dd/yyyy");
                                                <tr>
                                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@companytitile</td>
                                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@obtaindate</td>
                                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@expDate</td>
                                                </tr>
                                                rowIndex++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3">
                                                    - No Records -
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td nowrap="nowrap">&nbsp;<br />
                    <br />
                </td>
                <td>&nbsp;</td>
            </tr>

        </table>
    }
    }
</div>

