﻿@model BLL.ViewModels.CANJobsViewModel
@{
    ViewBag.Title = "CAN Network Job Type Information";
}
<table width="100%">
    <tr>
        <td>
            @using (Html.BeginForm("Submit", "CANJobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">Job Type Information</td>
                    </tr>
                    <tr>
                        <td class="content">
                            <table>
                                <tr>
                                    <td>
                                        <div class="errorMsg">
                                            @Html.ValidationSummary()
                                        </div>

                                        @Html.HiddenFor(model => model.jobid)

                                        @Html.Partial("_JobTypeRegistration")
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr align="right">
                        <td class="footer">
                            <div style="float: left">
                                <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("CANJobsList", "CANJobs")    ';" />

                            </div>
                            <div style="float: right">
                                <input type="submit" class="buttonYellow_100" value="Save" />
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>

