﻿<script type="text/javascript">



    function showView(id) {
        element = document.getElementById('divDetails');
        element.style.display = 'none';
        element = document.getElementById('divClientPolicy');
        element.style.display = 'none';
        element = document.getElementById('divNotes');
        element.style.display = 'none';
        element = document.getElementById('divDocs');
        element.style.display = 'none';

        if (id == 1) {
            element = document.getElementById('divDetails');
            element.style.display = 'block';
        }
        else if (id == 2) {
            element = document.getElementById('divClientPolicy');
            element.style.display = 'block';
        }
        else if (id == 3) {
            element = document.getElementById('divNotes');
            element.style.display = 'block';
        }
        else if (id == 4) {
            element = document.getElementById('divDocs');
            element.style.display = 'block';
        }
    }
</script>
 <table class="style3" width="100%">
        <tr>
            <td class="mainHeader">
                Assignment/Claim Detail</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="subHeading">
                Summary</td>
        </tr>
        <tr>
            <td class="content">
                <table class="style3">
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <b>Property Owner</b></td>
                        <td width="100%">
                                        Tim Rodrigues</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <b>Claim #</b></td>
                        <td width="100%">
                            56 K521 58895</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <b>Data Set</b></td>
                        <td width="100%">
                            -Text-</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <b>Assigned To</b></td>
                        <td width="100%">
                            -Text-</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <b>Status</b></td>
                        <td width="100%">
                            Delievered<br />
                            -Text-</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <b>Estimate Total</b></td>
                        <td width="100%">
                            -</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">
                            <b>CAT Code</b></td>
                        <td width="100%">
                            001</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="subFooter">
                &nbsp;</td>
        </tr>
        <tr>
            <td>
    
    <table cellpadding="3" cellspacing="0" 
        style="border-top-style: solid; border-bottom-style: solid; border-width: 1px; border-color: #999999" 
        width="100%">
        <tr>
            <td align="center">
            <a href="#" onclick="showView(1)">Details</a>
                
            </td>
            <td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                <a href="#" onclick="showView(2)">Client/Policy</a>
                
            </td>
            <td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                Map</td>
            <td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                Tasks/Diary</td>
            <td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                <a href="#" onclick="showView(3)">Notes</a>
                
&nbsp;(5)</td>
            <td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                <a href="#" onclick="showView(4)">Documents</a>
                
&nbsp;(0)</td>
            <td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                Photos(0)</td>
            <td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                Financials (0)</td>
            <td align="center">
                &nbsp;</td>
        </tr>
    </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:MultiView ID="MultiView1" runat="server" ActiveViewIndex="0">
                    <asp:View ID="vDetails" runat="server">
                    <div id="divDetails">
                        <table class="style3" width="100%">
                            <tr>
                                <td class="subHeading">
                                    Details</td>
                            </tr>
                            <tr>
                                <td class="content">
                                    <table align="left">
                                        <tr>
                                            <td valign="top">
                                                <table class="style3">
                                                    <tr>
                                                        <td>
                                                            <strong>Assignee Information</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tim Rodrigues</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            -Address-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Office Phone: (123) 546 4569</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Email Address: tim@rodrigues.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Damage Assessor Address</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            -Address-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td valign="top">
                                                <table class="style3">
                                                    <tr>
                                                        <td>
                                                            <strong>Status</strong></td>
                                                        <td>
                                                            <strong>Date Updated</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Assignment Received</td>
                                                        <td>
                                                            - Date &amp; Time -</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Assignment Deleivered</td>
                                                        <td>
                                                            - Date &amp; Time -</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Approval Status</strong></td>
                                                        <td>
                                                            <strong>Date Updated</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            QA Approval</td>
                                                        <td align="right">
                                                            <asp:LinkButton ID="LinkButton5" runat="server">[Update]</asp:LinkButton>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Client Approval</td>
                                                        <td align="right">
                                                            <asp:LinkButton ID="LinkButton6" runat="server">[Update]</asp:LinkButton>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="subFooter">
                                    &nbsp;</td>
                            </tr>
                        </table>
                        </div>
                    </asp:View>
                    <asp:View ID="vClientPolicy" runat="server">
                    <div id="divClientPolicy" style="display:none;">
                        <table class="style3" width="100%" >
                            <tr>
                                <td class="subHeading">
                                    Property Owner/Risk Information</td>
                            </tr>
                            <tr>
                                <td class="content">
                                    <table align="left">
                                        <tr>
                                            <td nowrap="nowrap">
                                                Policy Holder Name</td>
                                            <td colspan="3">
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3" nowrap="nowrap">
                                                <strong>3rd Party Claimant</strong></td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Street</td>
                                            <td colspan="3">
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Name</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                City</td>
                                            <td colspan="3">
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Street</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Zip/Postal Code</td>
                                            <td colspan="3">
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                City</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td align="center">
                                            </td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Zip/Postal Code</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Home Phone</td>
                                            <td align="center">
                                                - Text -</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Business Phone</td>
                                            <td align="center">
                                                - Text -</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Phone</td>
                                            <td>
                                                - Text -</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Mobile Phone</td>
                                            <td align="center">
                                                - Text -</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3" nowrap="nowrap">
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Pager</td>
                                            <td align="center">
                                                -</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3" nowrap="nowrap">
                                                <strong>Risk Location (if different from Property Owner Address)</strong></td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td align="center">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Street</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Email Address</td>
                                            <td colspan="3">
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                City</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Zip/Postal Code</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3" nowrap="nowrap">
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3" nowrap="nowrap">
                                                <strong>Person to Contact to Access Property</strong></td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Name</td>
                                            <td colspan="2">
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Phone</td>
                                            <td>
                                                - Text -</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td colspan="3">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                Phone</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="subFooter">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td class="subHeading">
                                    Claim Information</td>
                            </tr>
                            <tr>
                                <td class="content">
                                    <table align="left">
                                        <tr>
                                            <td nowrap="nowrap">
                                                Type of Loss</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date of Loss</td>
                                            <td>
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Job Type</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date Received</td>
                                            <td>
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Job Size</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Claim #</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                CAT Code</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Program Location</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Damage Assessor</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Desk Damage Assessor</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                Price List Area</td>
                                            <td>
                                                - Text -</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td nowrap="nowrap">
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" nowrap="nowrap">
                                                Description of Loss and/or Instructions</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" nowrap="nowrap">
                                                - Text -</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="subFooter">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td class="subHeading">
                                    Policy Information</td>
                            </tr>
                            <tr>
                                <td class="content">
                                    <table align="left">
                                        <tr>
                                            <td>
                                                <strong>Policy #</strong></td>
                                            <td>
                                                - Text -</td>
                                            <td>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</td>
                                            <td>
                                                Inception Date</td>
                                            <td>
                                                - Date -</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                Effective Date</td>
                                            <td>
                                                - Date -</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                Expiration Date</td>
                                            <td>
                                                - Date -</td>
                                        </tr>
                                    </table>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <table align="left">
                                        <tr>
                                            <td width="100">
                                                <b>Coverage</b></td>
                                            <td width="80">
                                                <b>Type</b></td>
                                            <td width="100">
                                                <b>Policy Limit</b></td>
                                            <td width="100">
                                                <b>Deductible</b></td>
                                            <td width="100">
                                                <b>Apply To</b></td>
                                            <td width="100">
                                                <b>ITV</b></td>
                                            <td>
                                                <b>Reserve</b></td>
                                        </tr>
                                        <tr>
                                            <td width="100">
                                                Dwelling</td>
                                            <td width="80">
                                                Structural</td>
                                            <td width="100">
                                                $3000000</td>
                                            <td width="100">
                                                $1000</td>
                                            <td width="100">
                                                R/C</td>
                                            <td width="100">
                                                0.00%</td>
                                            <td>
                                                $0.00</td>
                                        </tr>
                                        <tr>
                                            <td width="100">
                                                - Text -</td>
                                            <td width="80">
                                                - Text -</td>
                                            <td width="100">
                                                - Text -</td>
                                            <td width="100">
                                                - Amount -</td>
                                            <td width="100">
                                                - Text -</td>
                                            <td width="100">
                                                - Text -</td>
                                            <td>
                                                - Amount -</td>
                                        </tr>
                                        <tr>
                                            <td width="100">
                                                - Text -</td>
                                            <td width="80">
                                                - Text -</td>
                                            <td width="100">
                                                - Text -</td>
                                            <td width="100">
                                                - Amount -</td>
                                            <td width="100">
                                                - Text -</td>
                                            <td width="100">
                                                - Text -</td>
                                            <td>
                                                - Amount -</td>
                                        </tr>
                                    </table>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <table align="left">
                                        <tr>
                                            <td width="300">
                                                <b>Mortgage Holder - If none, so indicate</b></td>
                                            <td>
                                                <b>Loan Number</b></td>
                                        </tr>
                                        <tr>
                                            <td width="300">
                                                - Text -</td>
                                            <td>
                                                - Text -</td>
                                        </tr>
                                        <tr>
                                            <td width="300">
                                                - Text -</td>
                                            <td>
                                                - Text -</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="subFooter">
                                    &nbsp;</td>
                            </tr>
                        </table>
                        </div>
                    </asp:View>
                    <asp:View ID="vNotes" runat="server">
                    <div id="divNotes" style="display:none;">
                  
                        <table class="style3" width="100%" >
                            <tr>
                                <td class="subHeading">
                                    Notes</td>
                            </tr>
                            <tr>
                                <td class="content">
                                    <table align="left">
                                        <tr>
                                            <td>
                                                <asp:LinkButton ID="LinkButton7" runat="server">[Add Note]</asp:LinkButton>
                                            </td>
                                            <td width="100">
                                                &nbsp;</td>
                                            <td width="300">
                                                &nbsp;</td>
                                            <td nowrap="nowrap" width="100">
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;</td>
                                            <td width="100">
                                                <b>Source</b></td>
                                            <td width="300">
                                                <b>Note</b></td>
                                            <td nowrap="nowrap" width="100">
                                                <b>Date</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                3</td>
                                            <td width="100">
                                                Jack
                                            </td>
                                            <td width="300">
                                                Status Update - &quot;Assigned from Queue&quot;</td>
                                            <td nowrap="nowrap" width="100">
                                                10-Aug-2012 05:31:00 PM</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2</td>
                                            <td width="100">
                                                Jack</td>
                                            <td width="300">
                                                - Text -
                                            </td>
                                            <td nowrap="nowrap" width="100">
                                                -Date &amp; Time -</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1</td>
                                            <td width="100">
                                                - Text -
                                            </td>
                                            <td width="300">
                                                - Text -
                                            </td>
                                            <td nowrap="nowrap" width="100">
                                                -Date &amp; Time -</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="subFooter">
                                    &nbsp;</td>
                            </tr>
                        </table>
                          </div>
                    </asp:View>
                    <asp:View ID="vDocuments" runat="server">
                    <div id="divDocs" style="display:none;">
                    
                        <table class="style3" width="100%" >
                            <tr>
                                <td class="subHeading">
                                    Documents</td>
                            </tr>
                            <tr>
                                <td class="content">
                                    <table class="style3">
                                        <tr>
                                            <td style="border-right-style: solid; border-width: 1px; border-color: #CCCCCC" 
                                                valign="top">
                                                <p>
                                                    Document Type</p>
                                                <ul>
                                                    <li>
                                                        <asp:LinkButton ID="LinkButton9" runat="server">Loss Reports</asp:LinkButton>
                                                    </li>
                                                    <li><asp:LinkButton ID="LinkButton10" runat="server">Estimates</asp:LinkButton></li>
                                                    <li><asp:LinkButton ID="LinkButton11" runat="server">Invoices/Timesheets</asp:LinkButton></li>
                                                    <li><asp:LinkButton ID="LinkButton12" runat="server">Photosheet</asp:LinkButton></li>
                                                    <li><asp:LinkButton ID="LinkButton13" runat="server">Reserve Worksheets</asp:LinkButton></li>
                                                    <li><asp:LinkButton ID="LinkButton14" runat="server">Activity Loss</asp:LinkButton></li>
                                                </ul>
                                            </td>
                                            <td valign="top">
                                                <table align="left">
                                                    <tr>
                                                        <td width="200">
                                                            <asp:LinkButton ID="LinkButton8" runat="server">[Add Document]</asp:LinkButton>
                                                        </td>
                                                        <td width="200">
                                                            &nbsp;</td>
                                                        <td width="100">
                                                            &nbsp;</td>
                                                        <td nowrap="nowrap" width="200">
                                                            &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="200">
                                                            <b>Date</b></td>
                                                        <td width="200">
                                                            <b>File Name</b></td>
                                                        <td width="100">
                                                            <b>Type</b></td>
                                                        <td nowrap="nowrap" width="200">
                                                            <b>Description</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="200">
                                                            10-Aug-2012 05:31:00 PM</td>
                                                        <td width="200">
                                                            LossReport_10082012.xml</td>
                                                        <td width="100">
                                                            Loss Report</td>
                                                        <td nowrap="nowrap" width="200">
                                                            - Text - </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="200">
                                                            -Date &amp; Time -</td>
                                                        <td width="200">
                                                            - Text - </td>
                                                        <td width="100">
                                                            - Text -
                                                        </td>
                                                        <td nowrap="nowrap" width="200">
                                                            - Text - </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="200">
                                                            -Date &amp; Time -</td>
                                                        <td width="200">
                                                            - Text -
                                                        </td>
                                                        <td width="100">
                                                            - Text -
                                                        </td>
                                                        <td nowrap="nowrap" width="200">
                                                            - Text - </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="subFooter">
                                    &nbsp;</td>
                            </tr>
                        </table>
                        </div>
                    </asp:View>
                </asp:MultiView>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="footer">
               @using (Html.BeginForm("Index", "SearchAssignments"))
                        {
                            <input type="submit" class="buttonLightYellow_100" value="Back" />
                        }
                           
                        </td>
        </tr>
    </table>
