﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ICompanyLobPricing</title>
</head>
<body>
    <div style="text-align:center;">
        <iframe id="iCompLOBPricing" src='@Url.Content("~/CompanyLOBPricing/LOBPricing?CompanyId="+ViewBag.CompanyId +"&LobID="+ViewBag.LobID)' frameborder="0" width="930px" style="overflow-x:scroll;min-height:300px;" height="350" ></iframe>
        </div>
</body>
</html>
 