﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice Rules</title>
</head>
<body>
    <div style="text-align:center;">
        <iframe id="iCompLOBPricing" src='@Url.Content("~/CompanyLOBPricing/InvoiceLOBPricing?CompanyId="+ViewBag.CompanyId +"&LobID="+ViewBag.LobID)' frameborder="0" width="680px" style="overflow:scroll" height="290" ></iframe>
        </div>
</body>
</html>
 