﻿@model BLL.ViewModels.PricingScheduleViewModel
@{
    Layout = null;
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")" />

<link rel="stylesheet" href="@Url.Content("~/Content/kendo.default.min.css")" />

<script src="@Url.Content("~/Scripts/kendo.web.min.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"  type="text/javascript"></script>
<link href="@Url.Content("~/Content/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>

<style type="text/css">
    .backgroundFlatFeePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }
    .EditFlatFeePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>

<script type="text/javascript">
    function loadFlatFeePercentPopup(LobId) {
        debugger;
        $("#tdFormErroMsg").html("");
        //$('#SertifiDocTypeid').val(DocumentTypeId);
        $('#EditFlatFeeDetails').empty();
        $.ajax({
            url: '@Url.Content("~/CompanyLOBPricing/InvisionFeePercentGetList")',
            contentType: 'application/json; charset=utf-8',
            data: { LobId: LobId },
            cache: false,
            success: function (result) {
                console.log("Sucessful");
                $('#EditFlatFeeDetails').append(result);
                // console.log(data);
            },
            error: function (error) {
                alert("something went to be wrong.");
            }
        });
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerFlatFeePopup();
            $("#backgroundFlatFeePopup").css({
                "opacity": "0.7"
            });
            $("#backgroundFlatFeePopup").fadeIn("slow");
            $("#EditFlatFeePopup").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function loadFlatFeePopup(RuleId,CompanyLobPricingId) {
        debugger;
        $("#tdFormErroMsg").html("");
        //$('#SertifiDocTypeid').val(DocumentTypeId);

        $('#EditFlatFeeDetails').empty();
        $.ajax({
            url: '@Url.Content("~/CompanyLOBPricing/InvisionFeeGetList")',
            contentType: 'application/json; charset=utf-8',
            data: { RuleId: RuleId, CompanyLobPricingId: CompanyLobPricingId },
            cache: false,
            success: function (result) {
                console.log("Sucessful");
                $('#EditFlatFeeDetails').append(result);
                // console.log(data);
            },
            error: function (error) {
                alert("something went to be wrong.");
            }
        });
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerFlatFeePopup();
            $("#backgroundFlatFeePopup").css({
                "opacity": "0.7"
            });
            $("#backgroundFlatFeePopup").fadeIn("slow");
            $("#EditFlatFeePopup").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disableFlatFeePopup() {
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundFlatFeePopup").fadeOut("slow");
            $("#EditFlatFeePopup").fadeOut("slow");
            popupStatus = 0;
            $("#newbtn2").click();
        }
    }

    function btn_submitFee()
    {
        debugger;
        $.ajax({
            type: 'POST',
            cache: false,
            url: $('#frmInvisionFee').attr('action'),
            data: $('#frmInvisionFee').serialize(),
            success: function (data) {
                disableFlatFeePopup();
                //if(data == 1)
                //{
                //    disableFlatFeePopup();
                //}
                //else
                //{
                //    disableFlatFeePopup();
                //    alert("Something went wrong.");
                //}
            }
        });
    }

    function centerFlatFeePopup() {
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#EditFlatFeePopup").height();
        var popupWidth = $("#EditFlatFeePopup").width();
        $("#EditFlatFeePopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6
        $("#backgroundFlatFeePopup").css({
            "height": windowHeight
        });
        return false;
    }
    $(document).on('change blur', '.decimal', function () {
        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(2));
        }
    });


    function deletePotentialFeeRow(tableID, lobFeeId) {
        try {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteLOBPricing", "CompanyLOBPricing")',
                contentType: 'application/json; charset=utf-8',
                data: { LOBFeeId: lobFeeId },
                cache: false,
                success: function (data) {
                    if (data == 1) {
                        alert("Can not delete this pricing as invoices are created on this pricing.")
                    }
                    else {
            if (confirm('Do you want to delete this pricing?')) {
                if (lobFeeId != '0') {
                    var hdndellist = document.getElementById('hdnDelLobfeeIDlst');
                    hdndellist.value = hdndellist.value + lobFeeId + ','
                    //alert(hdndellist.value);
                }
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                var hdnRowCount = document.getElementById("hdnPotentialFeeRowCount");
                hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
                table.deleteRow(rowCount - 1);
                if ((rowCount - 3) >= 0) {
                    var deleteRowIcon = document.getElementById("imgPotentialFeesDeleteRow" + (rowCount - 3));
                    deleteRowIcon.style.display = "inline";
                }
            }
            else {
                //do nothing
            }
                    }
                        }
            });
        } catch (e) {
            alert(e);
        }
    }
    function addPotentialFeeRow(tableID) {
        debugger;
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnPotentialFeeRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;
        //LineofBusiness
        //var cell1 = row.insertCell(0);
        //var element1 = document.getElementById("ddlLOBReplica").cloneNode(true);
        //element1.name = "CompanyLOBPricing[" + newRowIndex + "].LOBId";
        //cell1.appendChild(element1);

        //Asterik td
        var cell10 = row.insertCell(0);
        cell10.className = "ShowAstrik";
        //var element8 = document.createElement("text");
        //element8.type = "label";
        //element3.style.width = "100px";
        //element3.name = "PotentialFeeList[" + newRowIndex + "].BaseAmount";
        //element8.className = "ShowAstrik";
        //cell8.appendChild(element8);


        //Description
        var cell2 = row.insertCell(1);
        var element2 = document.getElementById('ddlFeeDescriptionreplica').cloneNode(true);
       // element2.type = "text";
        element2.style.width = "250px";
        element2.name = "PotentialFeeList[" + newRowIndex + "].Description";
        element2.className = "Description";
        cell2.appendChild(element2);

        //AddToGrossAmount
        var cell11 = row.insertCell(2);
        cell11.align = "left";
        cell11.innerHTML = "";
        var element8 = document.createElement("input");
        element8.type = "checkbox";
        element8.style.width = "50px";
        element8.name = "PotentialFeeList[" + newRowIndex + "].AddToGrossAmount";
        element8.checked = true;
        element8.value = "true";
        element8.setAttribute("onclick", "PotentialCheckChanged('tblPotentialFeeList','" + parseInt(newRowIndex) + "','true',2,'AddToGrossAmount')");
        cell11.appendChild(element8);
        //IsEditable
        var cell12 = row.insertCell(3);
        cell12.align = "left";
        cell12.innerHTML = "";
        var element9 = document.createElement("input");
        element9.type = "checkbox";
        element9.style.width = "50px";
        element9.name = "PotentialFeeList[" + newRowIndex + "].IsEditable";
        element9.setAttribute("onclick", "PotentialCheckChanged('tblPotentialFeeList','" + parseInt(newRowIndex) + "','false',3,'IsEditable')");
        cell12.appendChild(element9);
        //IsTaxAppliable
        var cell14 = row.insertCell(4);
        cell14.align = "left";
        cell14.innerHTML = "";
        var element10 = document.createElement("input");
        element10.type = "checkbox";
        element10.style.width = "50px";
        element10.name = "PotentialFeeList[" + newRowIndex + "].IsTaxApplicable";
        element10.setAttribute("onclick", "PotentialCheckChanged('tblPotentialFeeList','" + parseInt(newRowIndex) + "','false',4,'IsTaxApplicable')");
        cell14.appendChild(element10);
        //Base Amount
        var cell3 = row.insertCell(5);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.style.width = "100px";
        element3.name = "PotentialFeeList[" + newRowIndex + "].BaseAmount";
        element3.className = "amountchange";
        cell3.appendChild(element3);

        //SP Percent
        var cell4 = row.insertCell(6);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.style.width = "100px";
        element4.name = "PotentialFeeList[" + newRowIndex + "].SPPercent";
        element4.className = "txtAddonSpPercent";
        cell4.appendChild(element4);

        //W2paycode Percent
        var cell5 = row.insertCell(7);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.style.width = "100px";
        element5.disabled = "disabled";
        element5.className = "w2";
        element5.name = "PotentialFeeList[" + newRowIndex + "].W2Paycode";
        cell5.appendChild(element5);

        //W1099 paycode Percent
        var cell6 = row.insertCell(8);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.style.width = "100px";
        element6.disabled = "disabled";
        element6.className = "w1099";
        element6.name = "PotentialFeeList[" + newRowIndex + "].W1099Paycode";
        cell6.appendChild(element6);

        //Delete
        var cell7 = row.insertCell(9);
        var element7 = document.getElementById("imgPotentialFeeDeleteRowReplica").cloneNode(true);
        element7.id = "imgPotentialFeesDeleteRow" + newRowIndex;
        cell7.appendChild(element7);

        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgPotentialFeesDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }
    }

    function closepopup() {
        //debugger;
        window.parent.$("#LOBPricing").data("kendoWindow").close();
        //var kendoWindow = $("#LOBPricing").data("kendoWindow").close();
    }

    function addLOBPricingRow(tableID) {
        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;

        //LineofBusiness
        //var cell1 = row.insertCell(0);
        //var element1 = document.getElementById("ddlLOBReplica").cloneNode(true);
        //element1.name = "CompanyLOBPricing[" + newRowIndex + "].LOBId";
        //cell1.appendChild(element1);

        //StartRange
        var cell2 = row.insertCell(0);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.style.width = "80px";
        element2.name = "LobPricingList[" + newRowIndex + "].StartRange";
        cell2.appendChild(element2);

        //EndRange
        var cell3 = row.insertCell(1);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.style.width = "80px";
        element3.name = "LobPricingList[" + newRowIndex + "].EndRange";
        cell3.appendChild(element3);

        //BaseServiceFee
        var cell4 = row.insertCell(2);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.style.width = "80px";
        element4.name = "LobPricingList[" + newRowIndex + "].BaseServiceFee";
        cell4.appendChild(element4);

        //SPServiceFee
        var cell5 = row.insertCell(3);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.style.width = "80px";
        element5.name = "LobPricingList[" + newRowIndex + "].SPServiceFee";
        cell5.appendChild(element5);

        //OfficeFee
        var cell12 = row.insertCell(4);
        var element12 = document.createElement("input");
        element12.type = "text";
        element12.style.width = "50px";
        element12.name = "LobPricingList[" + newRowIndex + "].OfficeFee";
        cell12.appendChild(element12);

        //RCVPercent
        var cell6 = row.insertCell(5);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.style.width = "50px";
        element6.name = "LobPricingList[" + newRowIndex + "].RCVPercent";
        cell6.appendChild(element6);

        //SPRCVPercent
        var cell7 = row.insertCell(6);
        var element7 = document.createElement("input");
        element7.type = "text";
        element7.style.width = "50px";
        element7.name = "LobPricingList[" + newRowIndex + "].SPRCVPercent";
        cell7.appendChild(element7);

        //RPXercent
        var cell8 = row.insertCell(7);
        var element8 = document.createElement("input");
        element8.type = "text";
        element8.style.width = "50px";
        element8.name = "LobPricingList[" + newRowIndex + "].SPXPercent";
        cell8.appendChild(element8);


        //CSSPOC Percent
        var cell9 = row.insertCell(8);
        var element9 = document.createElement("input");
        element9.type = "text";
        element9.style.width = "50px";
        element9.name = "LobPricingList[" + newRowIndex + "].CSSPOCPercent";
        cell9.appendChild(element9);
       

        var cell10 = row.insertCell(9);
        cell10.align="left";
        //cell9.innerHTML = "";
        var element10 = document.createElement("input");
        element10.type = "checkbox";
        element10.style.width = "50px";
        element10.name = "LobPricingList[" + newRowIndex + "].IsTimeNExpance";
        element10.setAttribute("onclick","CheckChanged('tblLOBPricingList','" + newRowIndex + "','false')");
        //element9.checked = true;
        cell10.appendChild(element10);


        //Delete
        var cell11 = row.insertCell(10);
        var element11 = document.getElementById("imgLOBPricingDeleteRowReplica").cloneNode(true);
        element11.id = "imgLOBPricingDeleteRow" + newRowIndex;
        cell11.appendChild(element11);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

    }

    function PotentialCheckChanged(tableID, chkRNo, PrevVal, cellno, chkname) {
        debugger;
        var IrowNo = parseInt(chkRNo);
        var table = document.getElementById(tableID);
        if (PrevVal.toLowerCase() == 'true') {
            IrowNo = IrowNo + 1;
            //alert('set true');
            var cell1 = table.rows[IrowNo].cells[cellno];
            cell1.align = "left";
            cell1.innerHTML = "";
            var element1 = document.createElement("input");
            element1.type = "checkbox";
            element1.style.width = "50px";
            element1.name = "PotentialFeeList[" + parseInt(chkRNo) + "]." + chkname;
            //element9.value = "false";
            element1.setAttribute("onclick", "PotentialCheckChanged('tblPotentialFeeList','" + parseInt(chkRNo) + "','false'," + cellno + ",'" + chkname + "')");
            //element9.checked = true;
            cell1.appendChild(element1);
        }
        else {
            IrowNo = IrowNo + 1;
            var cell1 = table.rows[IrowNo].cells[cellno];
            cell1.align = "left";
            cell1.innerHTML = "";
            var element1 = document.createElement("input");
            element1.type = "checkbox";
            element1.style.width = "50px";
            element1.name = "PotentialFeeList[" + parseInt(chkRNo) + "]." + chkname;
            element1.value = "true";
            element1.setAttribute("onclick", "PotentialCheckChanged('tblPotentialFeeList','" + parseInt(chkRNo) + "','true'," + cellno + ",'" + chkname + "')");
            element1.checked = true;
            cell1.appendChild(element1);
        }

    }

    function CheckChanged(tableID, chkRNo, PrevVal) {

        var IrowNo = parseInt(chkRNo) ;
        //IrowNo = IrowNo + 1;
        //IrowNo = IrowNo - 1;
        var table = document.getElementById(tableID);
        // var row = table.rows[IrowNo];
        //var row = table.insertRow(IrowNo);
        //alert(PrevVal.toLowerCase());
        //debugger;
        //alert(IrowNo);
        if (PrevVal.toLowerCase() == 'true') {
            //alert('set true');
            IrowNo = IrowNo + 1;
            //StartRange
            //var cell2 = table.rows[IrowNo].cells[0];
            //var element2 = document.createElement("input");
            //element2.type = "text";
            //element2.style.width = "80px";
            //element2.name = "LobPricingList[" + IrowNo + "].StartRange";
            //cell2.appendChild(element2);

            ////EndRange
            //var cell3 = table.rows[IrowNo].cells[1];
            //var element3 = document.createElement("input");
            //element3.type = "text";
            //element3.style.width = "80px";
            //element3.name = "LobPricingList[" + IrowNo + "].EndRange";
            //cell3.appendChild(element3);

            ////BaseServiceFee
            var cell4 = table.rows[IrowNo].cells[2];
            cell4.innerHTML = '';
            var element4 = document.createElement("input");
            element4.type = "text";
            element4.style.width = "80px";
            element4.name = "LobPricingList[" + IrowNo + "].BaseServiceFee";
            cell4.appendChild(element4);

            //SPServiceFee
            var cell5 = table.rows[IrowNo].cells[3];
            cell5.innerHTML = '';
            var element5 = document.createElement("input");
            element5.type = "text";
            element5.style.width = "80px";
            element5.name = "LobPricingList[" + IrowNo + "].SPServiceFee";
            cell5.appendChild(element5);


            ////OfficeFee
            var cell11 = table.rows[IrowNo].cells[4];
            cell11.innerHTML = '';
            var element11 = document.createElement("input");
            element11.type = "text";
            element11.style.width = "50px";
            element11.name = "LobPricingList[" + IrowNo + "].OfficeFee";
            cell11.appendChild(element11);

            //RCVPercent
            var cell6 = table.rows[IrowNo].cells[5];
            cell6.innerHTML = '';
            var element6 = document.createElement("input");
            element6.type = "text";
            element6.style.width = "50px";
            element6.name = "LobPricingList[" + IrowNo + "].RCVPercent";
            cell6.appendChild(element6);

            //SPRCVPercent
            var cell7 = table.rows[IrowNo].cells[6];
            cell7.innerHTML = '';
            var element7 = document.createElement("input");
            element7.type = "text";
            element7.style.width = "50px";
            element7.name = "LobPricingList[" + IrowNo + "].SPRCVPercent";
            cell7.appendChild(element7);

            //RPXercent
            var cell8 = table.rows[IrowNo].cells[7];
            cell8.innerHTML = '';
            var element8 = document.createElement("input");
            element8.type = "text";
            element8.style.width = "50px";
            element8.name = "LobPricingList[" + IrowNo + "].SPXPercent";
            cell8.appendChild(element8);

            //CSSPOCPercent
            var cell9 = table.rows[IrowNo].cells[8];
            cell9.innerHTML = '';
            var element9 = document.createElement("input");
            element9.type = "text";
            element9.style.width = "50px";
            element9.name = "LobPricingList[" + IrowNo + "].CSSPOCPercent";
            cell9.appendChild(element9);

            var cell10 = table.rows[IrowNo].cells[9];
            cell10.innerHTML = '';
            cell10.align="left";
            cell10.innerHTML = "";
            var element10 = document.createElement("input");
            element10.type = "checkbox";
            element10.style.width = "50px";
            element10.name = "LobPricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";
            //element9.value = "false";

            element10.setAttribute("onclick","CheckChanged('tblLOBPricingList','" + parseInt(chkRNo) + "','false')");
            //element9.checked = true;
            cell10.appendChild(element10);

          
        }
        else {
            IrowNo = IrowNo + 1;
            //alert(IrowNo);
            //alert(chkRNo);
            //table.rows[IrowNo].cells[0].innerHTML = "";
            //table.rows[IrowNo].cells[1].innerHTML = "";
            table.rows[IrowNo].cells[2].innerHTML = '/ hr ';
            table.rows[IrowNo].cells[3].innerHTML = "";
            table.rows[IrowNo].cells[4].innerHTML = "";
            table.rows[IrowNo].cells[5].innerHTML = "";
            table.rows[IrowNo].cells[6].innerHTML = "";
            table.rows[IrowNo].cells[7].innerHTML = "";
            table.rows[IrowNo].cells[8].innerHTML = "";

            var cell9 = table.rows[IrowNo].cells[9];
            cell9.align="left";
            cell9.innerHTML = "";
            var element9 = document.createElement("input");
            element9.type = "checkbox";
            element9.style.width = "50px";
            element9.name = "LobPricingList["+  parseInt(chkRNo) +"].IsTimeNExpance";
            element9.value = "true";
            element9.setAttribute("onclick","CheckChanged('tblLOBPricingList','"+  parseInt(chkRNo) +"','true')");
            element9.checked = true;
            cell9.appendChild(element9);

            //table.rows[1].cells[7].getElementsByTagName("input")[0].setAttribute("onChange", "CheckChanged('tblLOBPricingList','" + IrowNo + "','true')");

            //table.rows[IrowNo].cells[7].getElementsByTagName("input")[0].onchange = "CheckChanged('tblLOBPricingList','" + IrowNo + "','false')";

        }
        // alert(IrowNo);

    }

    function deleteLOBPricingRow(tableID, lobPrcId) {
        try {
            //debugger;
            if (confirm('Do you want to delete this pricing?')) {
                if (lobPrcId != '0') {
                    var hdndellist = document.getElementById('hdnDelLobprcIDlst');
                    hdndellist.value = hdndellist.value + lobPrcId + ','
                    //alert(hdndellist.value);
                }
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
                hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
                table.deleteRow(rowCount - 1);
                if ((rowCount - 3) >= 0) {
                    var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 3));
                    deleteRowIcon.style.display = "inline";
                }
            }
            else {
                //do nothing 
            }

        } catch (e) {
            alert(e);
        }
    }



    //function ValidatePage(tableID)
    //{
    //    var table = document.getElementById(tableID);
    //    var RowCount = table.rows.length;
    //    var colCount = tab.row[0].colCount();
    //    debugger;
    //    var i = 0 ;
    //    var j = 0;
    //    for(i= 0; i < RowCount ; i++)//Loop for Row
    //    {
    //        var row = tab.row[i];
    //        for(j= 0; j < colCount ; j++) // Loop for Column 
    //        {
    //            var col = row.cell[j];

    //        }
    //    }
    //    return false;
    //}

    $(document).on("change", ".Description", function () {
        debugger;
        var elem = $(this);
        var descriptionId = $(this).closest('tr').find(':selected').val();
        //logic for showing asterik and note depending on description
        if (descriptionId == "16" || descriptionId == "31" || descriptionId == "8") {
            var val2 = "<b>*</b>";
            $(elem).closest('tr').find('.ShowAstrik').empty();
            var valu1 = $(elem).closest('tr').find('.ShowAstrik').append(val2);
            //$('#DivShowAsterikNote').empty();
           // $('#DivShowAsterikNote').append("<strong>* Indicates these fields can be edited on the invoice screen, and will NOT result in any additional amount added to the gross invoice amount.</strong>");
            if (descriptionId == "16" || descriptionId == "31")
            {
            $(elem).closest('tr').find('.txtAddonSpPercent').prop("readonly", true);
            }
            $(elem).closest('tr').find('.txtAddonSpPercent').val('100');
        }
        else {
            //$('#DivShowAsterikNote').empty();
            $(elem).closest('tr').find('.ShowAstrik').empty();
            $(elem).closest('tr').find('.txtAddonSpPercent').prop("readonly", false);
            $(elem).closest('tr').find('.txtAddonSpPercent').val("");
        }
        var w2paycode = '';
        var w1099paycode = '';
          $.ajax({
            url: '@Url.Action("GetPaycodes", "CompanyLOBPricing")',
            contentType: 'application/json; charset=utf-8',
            data: { desciptionid: descriptionId },
            cache: false,
            success: function (data) {
                debugger;
                 w2paycode = data[0];
                 w1099paycode = data[1];
                 $(elem).closest('tr').find('.w2').val(w2paycode);
                 $(elem).closest('tr').find('.w1099').val(w1099paycode);
                }
        });
    })

</script>
<body style="background-image: none">

    @*action="@Html.Action("LOBPricing","CompanyLOBPricing")" id="divLOBPricing"*@
    <form action="~/CompanyLOBPricing/LOBPricing" method="post">

        @{
            if (@Model.InsuranceCompany != 0)
            {
                string ShowAsterikDiv = "";
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content" align="center">
                            <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
                                <tr>
                                    <td class="subHeading borderBottomLightGray" nowrap="nowrap">
                                        LOB Pricing of @Model.Company.CompanyName  "@Model.strLobDesc"
                                        <input type="hidden" id="hdnDelLobprcIDlst" name="hdnDelLobprcIDlst" value="@Model.Delstring" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="display: none;">
                                            @Html.HiddenFor(model => model.InsuranceCompany, new { id = "hdnHeadCompanyId" })
                                            @Html.HiddenFor(model => model.LobID, new { id = "hdnlobID" })
                                        </div>
                                        @if (Model.ValidationSummary != null && Model.ValidationSummary.Trim() != "")
                                        {

                                            @:<div style="padding-left:10px;" class="errorMsg"> <br />  @Html.Raw(Model.ValidationSummary)   </div>
                                           }
                                    </td>
                                </tr>
                                <tr>
                                    @{
                                        int RuleIdcount = 0;
                                        if (Model.LobPricingList.Count != 0)
                                        {
                                            RuleIdcount = Model.LobPricingList.Where(x => x.RuleID != null && x.RuleID > 0).ToList().Count;
                                        }
                                        if (RuleIdcount > 0)
                                        {
                                            <td colspan="2">
                                                <br />
                                                <table align="left" id="tblLOBPricingList" cellspacing="0" cellpadding="0">
                                                    <tr valign="top">
                                                        <td class="tableHeader" width="80">
                                                            Start Range <br />($)
                                                        </td>
                                                        <td class="tableHeader" width="80">
                                                            End Range <br />($)
                                                        </td>
                                                        <td class="tableHeader" width="90" nowrap="nowrap">
                                                            Base Service <br />Fee ($)
                                                        </td>
                                                        <td class="tableHeader" width="80">
                                                            SP Service <br />Fee ($)
                                                        </td>
                                                        <td class="tableHeader" width="50">
                                                            SP RCV <br />Percent
                                                        </td>
                                                        <td class="tableHeader" width="50">
                                                            SPX <br />Percent
                                                        </td>
                                                        <td class="tableHeader" width="50">
                                                            PCSPOC<br />Percent
                                                        </td>
							                            <td class="tableHeader" width="150px">
                                                            Unit of measures<br />
                                                            (SP%)
                                                        </td>
                                                        <td class="tableHeader" width="50">
                                                            <input type="button" value="Set Fee Percent" id="setfeepercent" class="buttonYellow_100" onclick="loadFlatFeePercentPopup(@Model.LobID);">
                                                        </td>

                                                    </tr>
                                                    @{
                                                        for (int i = 0; i < Model.LobPricingList.Count; i++)
                                                        {
                                                            BLL.CompanyLOBPricing pricing = Model.LobPricingList.ElementAt(i);
                                                            <tr>
                                                                <td>
                                                                    <input name="LobPricingList[@i].StartRange" type="text" value="@pricing.StartRange" style="width:80px;" readonly />
                                                                    <input name="LobPricingList[@i].CompanyLOBPricingId" type="text" value="@pricing.CompanyLOBPricingId" style="width:80px; display:none" />
                                                                    <input name="LobPricingList[@i].RuleID" value="@pricing.RuleID" style="display:none" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].EndRange" type="text" value="@pricing.EndRange" style="width:80px;" readonly />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].BaseServiceFee" type="text" value="@pricing.BaseServiceFee" style="width:80px;" readonly />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPRCVPercent" type="text" value="@pricing.SPRCVPercent" style="width:50px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:50px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].CSSPOCPercent" type="text" value="@pricing.CSSPOCPercent" style="width:50px;" />
                                                                </td>
								                                <td>
                                                                    @{      var flatfee = css.InvisionFlatFeeGetList(pricing.RuleID).Select(p=>p.FlatFeeName).ToList();
                                                                            var s = string.Join(",",flatfee);
                                                                           @s
                                                                    }
                                                                 </td>
                                                                <td>
                                                                @*<input type="button" value="Set Fee Percent" id="setfeepercent" class="buttonYellow_100" onclick="loadFlatFeePopup(@pricing.RuleID,@pricing.CompanyLOBPricingId);">*@
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </table>
                                                <table width="100%">
                                                    <tr>
                                                        <td class="borderTopLightGray" align="right" style="padding-top:3px;">
                                                            @*onclick="return ValidatePage('tblLOBPricingList');" *@
                                                            <input id="hdnLOBPricingRowCount" name="hdnLOBPricingRowCount" type="hidden" value="@(Model.LobPricingList.Count == 0 ? "1" : Model.LobPricingList.Count + "")" />
                                                            @*<input type="submit" id="newbtn2" class="buttonYellow_100" value="Save" name="newbtn2" />*@
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td colspan="2">
                                                                <br />
                                                                <table align="left" id="tblLOBPricingList" cellspacing="0" cellpadding="0">
                                                                    <tr valign="top">
                                                                        <td class="tableHeader" width="80">
                                                                            Start Range <br />($)
                                                                        </td>
                                                                        <td class="tableHeader" width="80">
                                                                            End Range <br />($)
                                                                        </td>
                                                                        <td class="tableHeader" width="90" nowrap="nowrap">
                                                                            Base Service <br />Fee ($)
                                                                        </td>
                                                                        <td class="tableHeader" width="80">
                                                                            SP Service <br />Fee ($)
                                                                        </td>
                                                                        <td class="tableHeader" width="50">
                                                                            Office<br />Fee ($)
                                                                        </td>
                                                                        <td class="tableHeader" width="50">
                                                                            RCV <br />Percent
                                                                        </td>
                                                                        <td class="tableHeader" width="50">
                                                                            SP RCV <br />Percent
                                                                        </td>
                                                                        <td class="tableHeader" width="50">
                                                                            SPX <br />Percent
                                                                        </td>
                                                                        <td class="tableHeader" width="50">
                                                                            PCSPOC<br />Percent
                                                                        </td>

                                                                        <td class="tableHeader" width="50" align="left">
                                                                            Time & Expense
                                                                        </td>
                                                                        <td width="100%">
                                                                            <div style="display: none;">
                                                                                <img id="imgLOBPricingDeleteRowReplica" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    @if (Model.LobPricingList.Count == 0)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <input name="LobPricingList[0].StartRange" type="text" style="width: 80px;" />
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].EndRange" type="text" style="width: 80px;" />
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].BaseServiceFee" type="text" style="width: 80px;" />
                                                                                <label id="lblPerhr[0]" title=" /hr " style="display: none"></label>
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].SPServiceFee" type="text" style="width: 80px;" />
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].OfficeFee" type="text" style="width:50px;" />
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].RCVPercent" type="text" style="width: 50px;" />
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].SPRCVPercent" type="text" style="width: 50px;" />
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].SPXPercent" type="text" style="width: 50px;" />
                                                                            </td>
                                                                            <td>
                                                                                <input name="LobPricingList[0].CSSPOCPercent" type="text" style="width: 50px;" />
                                                                            </td>
                                                                            <td align="left">
                                                                                <input name="LobPricingList[0].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','0','false')" style="width: 50px;" />
                                                                            </td>
                                                                            <td>
                                                                                <img id="imgLOBPricingDeleteRow0" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        {
                                                                            for (int i = 0; i < Model.LobPricingList.Count; i++)
                                                                            {
                                                                                BLL.CompanyLOBPricing pricing = Model.LobPricingList.ElementAt(i);
                                                                                <tr>
                                                                                    <td>
                                                                                        <input name="LobPricingList[@i].StartRange" type="text" value="@pricing.StartRange" style="width:80px;" />
                                                                                        <input name="LobPricingList[@i].CompanyLOBPricingId" type="text" value="@pricing.CompanyLOBPricingId" style="width:80px; display:none" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input name="LobPricingList[@i].EndRange" type="text" value="@pricing.EndRange" style="width:80px;" />
                                                                                    </td>
                                                                                    @if (pricing.IsTimeNExpance.HasValue ? (pricing.IsTimeNExpance.Value ? true : false) : false)
                                                                                    {

                                                                                        <td>
                                                                                            / hr
                                                                                            @*<input name="LobPricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" />*@
                                                                                        </td>
                                                                                        <td></td>
                                                                                        <td>
                                                                                            @*<input name="LobPricingList[@i].RCVPercent" type="text" value="@pricing.RCVPercent" style="width:80px;"/>*@
                                                                                        </td>
                                                                                        <td>
                                                                                            @*<input name="LobPricingList[@i].SPRCVPercent" type="text" value="@pricing.SPRCVPercent" style="width:80px;"/>*@
                                                                                        </td>
                                                                                        <td>
                                                                                            @* <input name="LobPricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:80px;"/>*@
                                                                                        </td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td align="left">
                                                                                            <input name="LobPricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','true')"
                                                                                                   checked="checked" value="@pricing.IsTimeNExpance.Value.ToString()" style="width:50px;" />
                                                                                        </td>

                                                                                        @*@(pricing.IsTimeNExpance.HasValue? (pricing.IsTimeNExpance.Value ? "checked=\"checked\"" : "" ):"")*@
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>
                                                                                            <input name="LobPricingList[@i].BaseServiceFee" type="text" value="@pricing.BaseServiceFee" style="width:80px;" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input name="LobPricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input name="LobPricingList[@i].OfficeFee" type="text" value="@pricing.OfficeFee" style="width:50px;" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input name="LobPricingList[@i].RCVPercent" type="text" value="@pricing.RCVPercent" style="width:50px;" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input name="LobPricingList[@i].SPRCVPercent" type="text" value="@pricing.SPRCVPercent" style="width:50px;" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input name="LobPricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:50px;" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input name="LobPricingList[@i].CSSPOCPercent" type="text" value="@pricing.CSSPOCPercent" style="width:50px;" />
                                                                                        </td>

                                                                                        <td align="left">
                                                                                            <input name="LobPricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','@pricing.IsTimeNExpance    ')"
                                                                                                   value="@pricing.IsTimeNExpance" style="width:50px;" />
                                                                                        </td>
                                                                                    }
                                                                                    <td>
                                                                                        <img id="@("imgLOBPricingDeleteRow" + i)" onclick="deleteLOBPricingRow('tblLOBPricingList','@pricing.CompanyLOBPricingId')"
                                                                                             style="@(i == (Model.LobPricingList.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                                                    </td>
                                                                                </tr>
                                                                            }

                                                                        }
                                                                    }
                                                                </table>
                                                                <table width="100%">
                                                                    <tr>
                                                                        <td>
                                                                            <br />
                                                                            <b>
                                                                                <a onclick="addLOBPricingRow('tblLOBPricingList')" style="border: none; color: black; cursor: pointer; text-align: right">
                                                                                    <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                                                                    Add Row
                                                                                </a> &nbsp;
                                                                            </b>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="borderTopLightGray" align="right" style="padding-top:3px;">
                                                                            @*onclick="return ValidatePage('tblLOBPricingList');" *@
                                                                            <input id="hdnLOBPricingRowCount" name="hdnLOBPricingRowCount" type="hidden" value="@(Model.LobPricingList.Count == 0 ? "1" : Model.LobPricingList.Count + "")" />
                                                                            @*<input type="submit" id="newbtn2" class="buttonYellow_100" value="Save" name="newbtn2" />*@
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            </td>
                                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subHeading borderBottomLightGray" nowrap="nowrap">
                                        Potential Add-On Fees
                                        <input type="hidden" id="hdnDelLobfeeIDlst" name="hdnDelLobfeeIDlst" value="@Model.Delstring2" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">

                                        @if (Model.ValidationSummary2 != null && Model.ValidationSummary2.Trim() != "")
                                        {
                                            @:<div style="padding-left:10px;" class="errorMsg"> <br />  @Html.Raw(Model.ValidationSummary2)   </div>
                                           }
                                        <div class="value">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br />
                                        <table align="left" id="tblPotentialFeeList" cellspacing="0" cellpadding="0">
                                            <tr valign="top">
                                            <td></td>
                                                <td class="tableHeader" width="250" nowrap="nowrap">
                                                    Description <div style="display: none;">
                                                        @Html.DropDownList("ddlFeeDescriptionreplica", Model.FeeDescriptionList, new { @id = "ddlFeeDescriptionreplica" })
                                                    </div>
                                            </td>
                                            <td class="tableHeader" width="50">
                                                Add To Gross Amount
                                            </td>
                                            <td class="tableHeader" width="50">
                                                Is Editable
                                                </td>
                                                <td class="tableHeader" width="50">
                                                 Is TaxApplicable
                                                </td>
                                                <td class="tableHeader" width="100">
                                                    Base Amount <br />($)
                                                </td>
                                                <td class="tableHeader" width="90" nowrap="nowrap">
                                                    SPX Percent
                                                </td>
                                                <td class="tableHeader" width="90" nowrap="nowrap">
                                                    W2 Paycode
                                                <td class="tableHeader" width="90" nowrap="nowrap">
                                                    1099 Paycode
                                                </td>
                                                <td>
                                                    <div style="display: none;">
                                                        <img id="imgPotentialFeeDeleteRowReplica" onclick="deletePotentialFeeRow('tblPotentialFeeList','0')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                                    </div>
                                                </td>
                                            </tr>
                                            @if (Model.PotentialFeeList.Count == 0)
                                            {
                                                <tr>
                                                <td class="ShowAstrik"></td>
                                                    <td>
                                                        @Html.DropDownList("PotentialFeeList[0].Description", Model.FeeDescriptionList, new { @style = "width:250px", @class = "Description" })
                                                </td>
                                                <td align="left">
                                                    <input name="PotentialFeeList[0].AddToGrossAmount" onclick="PotentialCheckChanged('tblPotentialFeeList', '0', 'true', 2, 'AddToGrossAmount')" type="checkbox" style="width: 50px;" checked="checked" value="true" />
                                                </td>
                                                <td align="left">
                                                    <input name="PotentialFeeList[0].IsEditable" onclick="PotentialCheckChanged('tblPotentialFeeList', '0', 'false', 3, 'IsEditable')" type="checkbox" style="width: 50px;" />
                                                    </td>
                                                    <td align="left">
                                                        <input name="PotentialFeeList[0].IsTaxApplicable" onclick="PotentialCheckChanged('tblPotentialFeeList', '0', 'false', 4, 'IsTaxApplicable')" type="checkbox" style="width: 50px;" />
                                                    </td>
                                                    <td>
                                                        <input name="PotentialFeeList[0].BaseAmount" type="text" style="width: 100px;" />
                                                    </td>
                                                    <td>
                                                    <input name="PotentialFeeList[0].SPPercent" type="text" class="txtAddonSpPercent" style="width: 100px;"  />
                                                    </td>
                                                    <td>
                                                        <input name="PotentialFeeList[0].w2paycode" type="text" style="width: 100px;" disabled="disabled" class="w2" />
                                                    </td>
                                                    <td>
                                                        <input name="PotentialFeeList[0].1099paycode" type="text" style="width: 100px;" disabled="disabled" class="w1099" />
                                                    </td>
                                                    <td>
                                                        <img id="imgPotentialFeesDeleteRow0" onclick="deletePotentialFeeRow('tblPotentialFeeList','0')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                {
                                                    for (int i = 0; i < Model.PotentialFeeList.Count; i++)
                                                    {
                                                    string ShowAsterikTD = "";
                                                    string readonlypercent = "";
                                                        BLL.CompanyPotentialFeesGetList_Result PotentialFee = Model.PotentialFeeList.ElementAt(i);
                                                        Int64 Descriptionid = Convert.ToInt64(PotentialFee.Description);
                                                        bool isactive = css.PotentialFeeDescriptions.Where(x => x.DescriptionId == Descriptionid).FirstOrDefault().IsActive;
                                                        if (isactive)
                                                        {
                                                        BLL.PotentialFeeDescription paycode = css.PotentialFeeDescriptions.Where(x => x.DescriptionId == Descriptionid).FirstOrDefault();
                                                            if (Descriptionid == 16 || Descriptionid == 31)
                                                            {
                                                                readonlypercent = "readonly=readonly";
                                                                ShowAsterikTD = "*";
                                                                //ShowAsterikDiv = "";
                                                            }
                                                        <tr>
                                                        <td class="ShowAstrik">@ShowAsterikTD</td>
                                                            <td>
                                                                <select id="@("FeeDesc" + i)" name="PotentialFeeList[@i].Description" style="width: 250px;" class="Description">
                                                                    @foreach (var type in Model.FeeDescriptionList)
                                                                    {
                                                                        <option value="@type.Value" @(type.Value != PotentialFee.Description ? "" : "selected = selected")>@type.Text</option>
                                                                    }
                                                                </select>
                                                                <input name="PotentialFeeList[@i].PotentialFeesId" type="text" value="@PotentialFee.PotentialFeesId" style="width:80px; display:none" />
                                                        </td>
                                                        <td align="left">
                                                            <input name="PotentialFeeList[@i].AddToGrossAmount" type="checkbox"   checked="@PotentialFee.AddToGrossAmount" value="@PotentialFee.AddToGrossAmount.ToString()" onclick="PotentialCheckChanged('tblPotentialFeeList','@i','@PotentialFee.AddToGrossAmount.ToString()',2,'AddToGrossAmount')" style="width: 50px;" />
                                                        </td>
                                                        <td align="left">
                                                            <input name="PotentialFeeList[@i].IsEditable" type="checkbox" checked="@PotentialFee.IsEditable" value="@PotentialFee.IsEditable.ToString()" onclick="PotentialCheckChanged('tblPotentialFeeList','@i','@PotentialFee.IsEditable.ToString()',3,'IsEditable')" style="width:50px;" />
                                                        </td>
                                                            <td align="left">
                                                                <input name="PotentialFeeList[@i].IsTaxApplicable" type="checkbox" checked="@PotentialFee.IsTaxApplicable" value="@PotentialFee.IsTaxApplicable.ToString()" onclick="PotentialCheckChanged('tblPotentialFeeList','@i','@PotentialFee.IsTaxApplicable.ToString()',4,'IsTaxApplicable')" style="width:50px;" />
                                                        </td>
                                                            <td>
                                                                <input name="PotentialFeeList[@i].BaseAmount" type="text" value="@PotentialFee.BaseAmount" style="width:100px;" class="amountchange" />
                                                            </td>
                                                            <td>
                                                            <input name="PotentialFeeList[@i].SPPercent" type="text" value="@PotentialFee.SPPercent" style="width:100px;" @readonlypercent class="txtAddonSpPercent"/>
                                                            </td>
                                                            <td>
                                                                <input name="PotentialFeeList[0].W2paycode" type="text" value="@paycode.W2PayCode" style="width: 100px;" disabled="disabled" class="w2" />
                                                            </td>
                                                            <td>
                                                                <input name="PotentialFeeList[0].W1099paycode" type="text" value="@paycode.W1099PayCode" style="width: 100px;" disabled="disabled" class="w1099" />
                                                            </td>
                                                            <td>
                                                                <img id="@("imgPotentialFeesDeleteRow" + i)" onclick="deletePotentialFeeRow('tblPotentialFeeList','@PotentialFee.PotentialFeesId')"
                                                                     style="@(i == (Model.PotentialFeeList.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                            </td>
                                                        </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        </table>
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <br />
                                                    <b>
                                                        <a onclick="addPotentialFeeRow('tblPotentialFeeList')" style="border: none; color: black; cursor: pointer; text-align: right">
                                                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                                            Add Row
                                                        </a> &nbsp;
                                                    </b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="borderTopLightGray" align="right" style="padding-top:3px;">
                                                    @*onclick="return ValidatePage('tblPotentialFeeList');" *@
                                                    <input id="hdnPotentialFeeRowCount" name="hdnPotentialFeeRowCount" type="hidden" value="@(Model.PotentialFeeList.Count == 0 ? "1" : Model.PotentialFeeList.Count + "")" />
                                                    <input type="submit" id="newbtn2" class="buttonYellow_100" value="Save" name="newbtn2" />
                                                </td>
                                            </tr>
                                        </table>
                                    <table id="TableShowAsterikNote" width="100%">
                                        <tr>
                                            <td>
                                                <div id="DivShowAsterikNote"><strong>* Indicates these fields can be edited on the invoice screen, and will NOT result in any additional amount added to the gross invoice amount.</strong></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                    </td>
                </tr>
            </table>

                                                        }


        }
    </form>

    <div id="EditFlatFeePopup" style="display: none;width:500px" class="EditFlatFeePopup">
        @using (Html.BeginForm("FlatFeeInsert", "CompanyLOBPricing", FormMethod.Post, new { @id = "frmInvisionFee" }))
        {
            <table style="width: 100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="mainHeader">
                        <div style="float: left">
                            Invision Fee
                        </div>
                        <div style="float: right">
                            <img src="~/Content/Images/Cancel.png" onclick="disableFlatFeePopup();" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <table align="left" cellspacing="2" width="100%">
                            <tr>
                                <td colspan="3">
                                    <div id="EditFlatFeeDetails" name="EditFlatFeeDetails" style="overflow-y:scroll"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="footer" style="text-align: right">
                        <img id="imgSubmitProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                        <input type="button" id="SaveFlatFee" value="Save" class="buttonYellow_100" onclick="btn_submitFee();" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <div id="backgroundFlatFeePopup" onclick="disableFlatFeePopup();" class="backgroundFlatFeePopup" style="display: none;"></div>
</body>



