﻿@model BLL.ViewModels.CANServicesViewModel
@{
    ViewBag.Title = "PCS Network Service Type Information";
}
<table width="100%">
    <tr>
        <td>
            @using (Html.BeginForm("Submit", "PCSServices", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">Service Type Information</td>
                    </tr>
                    <tr>
                        <td class="content">
                            <table>
                                <tr>
                                    <td>
                                        <div class="errorMsg">
                                            @Html.ValidationSummary()
                                        </div>
                                        @Html.HiddenFor(model => model.ServiceID)
                                        <table>
                                            <tr>
                                                <td valign="top" colspan="2">
                                                    <b>Service Description</b>
                                                </td>
                                                <td valign="top" width="600">
                                                    @Html.TextBoxFor(model => model.ServiceName, new { @maxlength = "41" })
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr align="right">
                        <td class="footer">
                            <div style="float: left">
                                <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("PCSServicesList", "PCSServices")    ';" />
                            </div>
                            <div style="float: right">
                                <input type="submit" class="buttonYellow_100" value="Save" />
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>
