﻿@model BLL.ViewModels.ClaimImportViewModel
@{
    ViewBag.Title = "Import Claims";
}
<script type="text/javascript">
    function isFileValid() {

        //$("#divClaimsImport").empty();
        //$("#divClaimsImportListLoading").show();
        //$.ajaxSetup({ cache: false });
        //$.getJSON(
        //url,
        //function (myData) {
        //    $("#divClaimsImport").html(myData);
        //    $("#divClaimsImportListLoading").hide();
        //});

        var isValid = true;
        var file = document.getElementById('file1');
        var hash = {
            '.csv': 1,
            '.CSV': 1
        };
        if (check_extension(file.value, hash) != true) {
            alert('Select a CSV file.');
            isValid = false;
        }
        return isValid;
    }
    function getExtension(filename) {
        var re = /\..+$/;
        var ext = filename.match(re);
        return ext;
    }
    function check_extension(filename, hash) {

        var ext = getExtension(filename);

        if (hash[ext]) {
            return true;
        } else {
            return false;
        }
    }
 
</script>
  @using (Html.BeginForm("UploadFile", "ClaimImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
      <div id="divClaimsImportListLoading" style="display:none;">
          <img id="progress_image"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...</div>
<div id="divClaimsImport">
<table width="50%" align="left">
    <tr>
        <td class="mainHeader">
            Import Claims
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
     <tr>

        <td align="center">Attach Copy of Claims:
            
            <input type="file" id="file1" name="file1" value="file" />
            <br />
            <br />
        </td>
       
    </tr>
    <tr>
        <td class="footer" align="right">
           <input type="submit"  value="Import Claims" class="buttonYellow_100"  onclick="javascript: return isFileValid();" />
            @*<input type="submit" value="Import Claims" class="buttonYellow_100" />*@
        </td>
    </tr>
</table>
    </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
   <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />     <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  
  
  }
