﻿@model BLL.ViewModels.ClaimImportViewModel
@{
    ViewBag.Title = "Import Claims";
}
<table width="60%">
    <tr><td class="mainHeader">Import Claims</td></tr>
    <tr>
        <td class="content">
            <br />

            @if (Model.statusflag == 1)
            {
                if (Model.TotalSuccessCount > 0)
                {
                <text> @Model.TotalSuccessCount new claim(s) have been imported successfully. </text>
                    <br /><br />
            }
                if (Model.InvoiceSuccessCount > 0)
                {
                    <text> @Model.InvoiceSuccessCount new only Invoice(s) have been imported successfully. </text>
                    <br /><br />
                }
            }
            else if (Model.statusflag == 0)
            {
                if (Model.TotalSuccessCount > 0)
                {
                    <text> @Model.TotalSuccessCount new claim(s) have been imported successfully. </text>
                    <br /><br />
                }

                if (Model.ClaimNumber != null && Model.ClaimNumber != "")
                {
                    <text> The following claims failed to import due to data errors on the csv spreadsheet. </text>
                    <br />
                    @Model.ClaimNumber
                    <br /><br />
                }
                if (Model.DuplicateClaimNumber != null && Model.DuplicateClaimNumber != "")
                {
                    <text> The following claim(s) did not re-import, as the claim #(s) already exist in TPA Vista.</text>
                    <br />
                    @Model.DuplicateClaimNumber
                    <br /><br />
                }

                if (Model.CompanyErrorClaimNumber != null && Model.CompanyErrorClaimNumber != "")
                    {
                    <text> The following claim(s) did not import, as given insurance company does not exist in TPA Vista.</text>
                    <br />
                    @Model.CompanyErrorClaimNumber
                    <br /><br />
                }
                if (Model.JTSTErrorClaimNumber != null && Model.JTSTErrorClaimNumber != "")
                        {
                    <text> The following claim(s) did not import, as Job Type/Service Type on csv does not match with Job Type/Service Type in TPA Vista.</text>
                    <br />
                    @Model.JTSTErrorClaimNumber
                    <br /><br />
                        }

                if (Model.InvoiceSuccessCount > 0)
                {
                    <text> @Model.InvoiceSuccessCount new only Invoice(s) have been imported successfully. </text>
                    <br /><br />
                }
                if ((Model.SPPostErrorClaimNumber != null && Model.SPPostErrorClaimNumber != "") || (Model.InvoicePostErrorClaimNumber != null && Model.InvoicePostErrorClaimNumber != ""))
                {
                    <text>The following claims Imported Successfully, but have issues:</text>
                            <br />
                    if (Model.SPPostErrorClaimNumber != null && Model.SPPostErrorClaimNumber != "")
                    {
                        <text> These claims do not have an adjuster assigned:</text>
                            <br />
                        @Model.SPPostErrorClaimNumber
                        <br /><br />
                    }
                    if (Model.InvoicePostErrorClaimNumber != null && Model.InvoicePostErrorClaimNumber != "")
                    {
                        <text> Invoice is not generated for these claims: </text>
                            <br />
                        @Model.InvoicePostErrorClaimNumber
                        <br /><br />
                        }

                    }
                if (Model.InvalidAssignmentClaimNumber != null && Model.InvalidAssignmentClaimNumber != "")
                    {
                    <text> Assignments does not exist for following claims.</text>
                    <br />
                    @Model.InvalidAssignmentClaimNumber
                    <br /><br />
                }
                if (Model.InvoiceExistClaimNumber != null && Model.InvoiceExistClaimNumber != "")
                {
                    <text> Invoice already exist for following claims.</text>
                    <br />
                    @Model.InvoiceExistClaimNumber
                    <br /><br />

                }

            }
            else if (Model.statusflag == 3)
            {
                <text>@Model.ReasonToFail </text>
            }

            <br /><br />
        </td>
    </tr>
    <tr><td class="footer"><br /></td></tr>
</table>

<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />

