﻿@model BLL.ViewModels.CompanyInvoiceViewModel


@{
    ViewBag.Title = "Processed Company Invoice";
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });


    $('#btnReport').click(function ()
    {
        debugger;
        //GetReportList();
        //element = document.getElementById('divPayment');
        //element.style.display = 'block';
    });

    function disableAllPopups() {
        disableEditClaimPopup();
        disableEditPaymentPopup();
        disableDocumentsPopup();
        disableInvoiceDetailsPopup();
    }


    function disableEditPaymentPopup() {
        $("#backgroundPaymentPopup").fadeOut("slow");
        $("#divEditPayment").fadeOut("slow");
        // loadSubmit();
        // document.forms["formSearch"].submit();
        location.href = '@Url.Content("~/CompanyInvoice/ProcessedCompanyInvoice")';
    }
    function disableDocumentsPopup() {
        debugger;
        $("#backgroundEditDocumentsPopup").fadeOut("slow");
        $("#divDocuments").fadeOut("slow");
        // loadSubmit();
        // document.forms["formSearch"].submit();
        @*location.href = '@Url.Content("~/CompanyInvoice/ProcessedCompanyInvoice")';*@
    }
    function disableInvoiceDetailsPopup() {
        debugger;
        $("#backgroundEditInvoiceDetailsPopup").fadeOut("slow");
        $("#divInvoiceDetails").fadeOut("slow");
        @*location.href = '@Url.Content("~/CompanyInvoice/ProcessedCompanyInvoice")';*@
    }



    function getPaymentDetails(invoiceId) {
        debugger;
        $.ajax({
            url: '@Url.Action("GetPaymentDetails", "CompanyInvoice")',
            contentType: 'application/json; charset=utf-8',
            data: { invoiceId: invoiceId },
            cache: false,
            success: function (rs) {
                $('#iframeEditDetails').empty();

                $("#iframeEditDetails").append(rs);
            },
            error: function (er) {
                alert("something went to be wrong.");
            }
        });

    }

    function loadEditPaymentPopup(url) {
        debugger;
        //alert('' + url);
        // document.getElementById("iframeEditClaim").src = url;
        $.ajax({
            url: url,
            success: function (rs) {
                $('#iframeEditDetails').empty();

                $("#iframeEditDetails").append(rs);
            },
            error: function (er) {
                alert("something went to be wrong.");
            }
        });
        centerEditPaymentPopup();

        //$("#backgroundPopup").css({
        //    "opacity": "0.7"
        //});

        //$("#backgroundPopup").fadeIn("slow");
        $("#backgroundEditPaymentPopup").css({
            "opacity": "0.7"
        })

        $("#backgroundEditPaymentPopup").fadeIn("slow");
        $("#divEditPayment").fadeIn("slow");

        return false;
    }

    function centerEditPaymentPopup() {


        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditPayment").height();
        var popupWidth = $("#divEditPayment").width();
        //centering
        $("#divEditPayment").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        //$("#backgroundPopup").css({
        //    "height": windowHeight
        //});
        return false;
    }

    function loadDocumentsPopup(url) {
        //alert('' + url);
        // document.getElementById("iframeEditClaim").src = url;
        debugger;
        $.ajax({
            url: url,
            success: function (rs) {
                $('#iframeDocumentDetails').empty();

                $("#iframeDocumentDetails").append(rs);
            },
            error: function (er) {
                alert("something went to be wrong.");
            }
        });
        centerDocumentsPopup();

        //$("#backgroundPopup").css({
        //    "opacity": "0.7"
        //});

        //$("#backgroundPopup").fadeIn("slow");
        $("#backgroundEditDocumentsPopup").css({
            "opacity": "0.7"
        })

        $("#backgroundEditDocumentsPopup").fadeIn("slow");
        $("#divDocuments").fadeIn("slow");

        return false;
    }

    function loadInvoiceDetailsPopup(url) {
        //alert('' + url);
        // document.getElementById("iframeEditClaim").src = url;
        debugger;
        $.ajax({
            url: url,
            success: function (rs) {
                $('#iframeInvoiceDetails').empty();

                $("#iframeInvoiceDetails").append(rs);
            },
            error: function (er) {
                alert("something went to be wrong.");
            }
        });
        centerInvoiceDetailsPopup();
        //$("#backgroundPopup").css({
        //    "opacity": "0.7"
        //});
        //$("#backgroundPopup").fadeIn("slow");
        $("#backgroundEditInvoiceDetailsPopup").css({
            "opacity": "0.7"
        })
        $("#backgroundEditInvoiceDetailsPopup").fadeIn("slow");
        $("#divInvoiceDetails").fadeIn("slow");
        return false;
    }
    function centerDocumentsPopup() {
        debugger;

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divDocuments").height();
        var popupWidth = $("#divDocuments").width();
        //centering
        $("#divDocuments").css({
            "position": "absolute",
            "top": windowHeight - popupHeight,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        //$("#backgroundPopup").css({
        //    "height": windowHeight
        //});
        return false;
    }

    function centerInvoiceDetailsPopup() {
        debugger;

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divInvoiceDetails").height();
        var popupWidth = $("#divInvoiceDetails").width();
        //centering
        $("#divInvoiceDetails").css({
            "position": "absolute",
            "top": windowHeight - popupHeight,
            "left": windowWidth / 2 - popupWidth / 2,


        });
        //only need force for IE6

        //$("#backgroundPopup").css({
        //    "height": windowHeight
        //});
        return false;
    }
</script>
<style>
    .backgroundEditClaimPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .backgroundEditPaymentPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditInvoiceDetails {
        display: none;
        /*position: fixed;*/
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 700px;*/
        /*background: #FFFFFF;*/
        /*border: 2px solid #cecece;*/
        z-index: 3;
        position: absolute;
        top: 89.9965px;
        ;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        text-align: center;
        padding: 3em;
        padding: 1%;
        text-align: -webkit-center;
        width: 90%;
    }

    .EditCompanyInvoiceDetails {
        display: none;
        /*position: fixed;*/
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 700px;*/
        /*background: #FFFFFF;*/
        /*border: 2px solid #cecece;*/
        z-index: 3;
        position: absolute;
        top: 80.9965px;
        ;
        left: 0;
        right: 0;
        bottom: 20px;
        overflow: auto;
        text-align: center;
        padding: 3em;
        padding: 1%;
        text-align: -webkit-center;
        width: 75%;
    }

    .login-page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        text-align: center;
        padding: 3em;
        padding: 1%;
        text-align: -webkit-center;
        /* margin-top: 10%; */
    }
</style>

@using (Html.BeginForm("ProcessedCompanyInvoice", "CompanyInvoice", FormMethod.Post, new { @id = "formId" }))
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Search Filters</td>
        </tr>
        <tr>
            <td class="content">
                <div style="float: left;">
                    @Html.HiddenFor(model => model.IsProcessed, new { Value = true })
                    Company Name: @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesList)

                </div>
                <div>
                    &nbsp;&nbsp;
                    Invoice Created Start Date: @Html.TextBoxFor(model => model.StartDate, Model.StartDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                    &nbsp;&nbsp;Invoice Created End Date:@Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                    &nbsp;&nbsp; Invoice Number: @Html.TextBoxFor(model => model.InvoiceNumber, new { @maxlength = "41", @style = "width:80px;" })
                </div>

            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" id="btnReport" value="Search" class="buttonLightYellow_100" name="SubmitButton" />
                @*<input type="submit" value="Generate Invoice" class="buttonLightYellow_100" name="SubmitButton" />*@
            </td>
        </tr>
    </table>
    <div style="padding-top:20px">
        <table width="100%">
            <tr>
                <td class="mainHeader">
                    <div>Posted Company Invoices</div>@*<div style="text-align:end">
                            <input type="button" value="Create Invoice" class="buttonLightYellow_100" onclick="loadEditCompanyInvoicePopup(-1)" />
                        </div>*@
                </td>
                @*<td align="right"></td>*@
            </tr>

            <tr>
                <td>
                    <div id="divPayment">
                        <table align="left" cellpadding="3" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <br />
                                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                        <tbody>

                                            <tr>
                                                <td class="content">
                                                    <table cellpadding="3" cellspacing="0" width="100%">
                                                        <thead class="tableHeader">
                                                            <tr valign="top">
                                                                <td>Company</td>
                                                                <td>Invoice Number</td>
                                                                <td>Invoice Create Date</td>
                                                                <td align="right">Invoice Total</td>
                                                                <td align="right">Net SP Pay Amount</td>
                                                                <td align="right">Balance Due</td>
                                                                <td align="center">Payroll Processed Date</td>
                                                                @*<td align="center">IntacctPosting Date</td>*@
                                                                <td></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.InvoiceList != null)
                                                            {
                                                                foreach (var item in Model.InvoiceList)
                                                                {
                                                                    <tr class="tableRow">
                                                                        <td>@item.Company</td>
                                                                        <td>@item.InvoiceNumber</td>
                                                                        <td>@item.InvoiceDate</td>
                                                                        <td align="right">$@item.InvoiceTotal.ToString("0.00")</td>
                                                                        <td align="right">$@item.NetSPTotal.ToString("0.00")</td>
                                                                        <td align="right">$@item.BalanceDue.ToString("0.00")</td>
                                                                        <td align="center">@item.PayrollProcessedDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
                                                                        @*<td align="center">@item.IntacctPostingDate.ToString("MM/dd/yyyy")</td>*@
                                                                        <td align="right">
                                                                            <a href="#" onclick="loadEditPaymentPopup('@Url.Action("GetPaymentDetails", "CompanyInvoice",new { invoiceid = item.InvoiceId })')" style="border: none; color: black; text-decoration: none;">
                                                                                <img src="~/Content/Images/dollar_Sign.png" title="Payment" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                            </a>
                                                                            <a href="#" onclick="loadDocumentsPopup('@Url.Action("GetDocumentDetails", "CompanyInvoice",new { invoiceid = item.InvoiceId })')" style="border: none; color: black; text-decoration: none;">
                                                                                <img src="~/Content/Images/document.png" title="Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                            </a>
                                                                            <a href="#" onclick="loadInvoiceDetailsPopup('@Url.Action("GetInvoiceDetails", "CompanyInvoice",new { invoiceid = item.InvoiceId })')" style="border: none; color: black; text-decoration: none;">
                                                                                <img src="~/Content/Images/InvoiceDetails.png" title="Invoice Details" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                            </a>
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </td>
                            </tr>

                        </table>
                    </div>
                </td>
            </tr>

        </table>
    </div>
}



<div id="backgroundPopup" onclick="disableAllPopups();"></div>



<div id="backgroundPaymentPopup" onclick="disableAllPopups();"></div>
<div id="divEditPayment" class="EditInvoiceDetails">
    <table width="80%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Payment</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableEditPaymentPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                @* <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>*@
                <table width="100%">
                    <tr>
                        <td>
                            @*@Html.Partial("_EditCompanyPayment")*@
                            <div id="iframeEditDetails" width="1000" height="450" style="background-color:white;"></div>

                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <input type="button" class="buttonYellow_100" value="Back" id="btnback" onclick="disableEditPaymentPopup()" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>

<div id="backgroundEditPaymentPopup" class="backgroundEditPaymentPopup" style="display:none;"></div>

<div id="backgroundDocumentsPopup" onclick="disableDocumentsPopup();"></div>

<div id="divDocuments" class="EditInvoiceDetails">
    <table width="80%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Documents</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableDocumentsPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                @* <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>*@
                <table width="100%">
                    <tr>
                        <td>
                            <div id="iframeDocumentDetails" width="1000" height="450" style="background-color:white;"></div>

                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <input type="button" class="buttonYellow_100" value="Back" id="btnback" onclick="disableDocumentsPopup()" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>

<div id="backgroundEditDocumentsPopup" class="backgroundEditPaymentPopup" style="display:none;"></div>

<div id="backgroundInvoiceDetailsPopup" onclick="disableInvoiceDetailsPopup();"></div>

<div id="divInvoiceDetails" class="EditCompanyInvoiceDetails" style="padding:0px">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Invoice Details</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableInvoiceDetailsPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                @* <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>*@
                <table width="100%">
                    <tr>
                        <td>
                            <div id="iframeInvoiceDetails" width="1000" height="450" style="background-color:white;"></div>

                        </td>
                    </tr>
                    @*<tr>
                            <td align="right">
                                <input type="button" class="buttonYellow_100" value="Back" id="btnback" onclick="disableEditPaymentPopup()" />
                            </td>
                        </tr>*@
                </table>
            </td>
        </tr>

    </table>
</div>

<div id="backgroundEditInvoiceDetailsPopup" class="backgroundEditPaymentPopup" style="display:none;"></div>
