﻿@{
    ViewBag.Title = "Login";
}
<script type="text/javascript">
    (function (window) {
        if (window.location !== window.top.location) {
            window.top.location = window.location;
        }
    })(this);
</script>
 <table width="100%" align="center">
    <tr>
        <td valign="top">
            <table align="left" width="300px">
                <tr>
                    @*<td class="headingBlack borderBottomLightGray">
                        Some Info</td>*@
                </tr>
                <tr>
                    <td>
                        <strong>
                        <br /></strong>@*Some Text*@&nbsp;&nbsp;
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                </tr>
                </table>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
        <td valign="top" width="100%">
            &nbsp;</td>
        <td valign="top">
            <table align="left" width="300px" class="grayBox01">
                <tr>
                    <td class="headingBlack borderBottomLightGray">
                        User Login</td>
                </tr>
                <tr>
                    <td>
                        <strong>
                        <br />
                        @Html.Partial("_Login") 
                        </strong><br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
