﻿

@model BLL.ViewModels.EmailTemplateViewModel

@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")">

<link rel="stylesheet" href="@Url.Content("~/Content/kendo.default.min.css")">

<script src="@Url.Content("~/Scripts/kendo.web.min.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"  type="text/javascript"></script>
<link href="@Url.Content("~/Content/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
   
     .EditTemplatePreviewPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript">

    //function ReplaceTemplateBody()
    //{
    //    debugger;
    //    alert($('#txtTemplateBody').html());
    //    //return false;
    //}

    function TemplatePreview(CompanyId, TemplateId) {

        debugger;

        
            $.post('@Url.Content("~/EmailTemplate/TemplatePreview")',
                          {
                              HeadCompanyId: CompanyId, TemplateId: TemplateId
                      },
                            function (data) {
                                
                                if (data != null) {

                                    debugger;

                                    $('#divTemplatePreview').fadeIn('slow');
                                    // $('#DivTemplatePreviewContent').empty();
                                    document.getElementById('iframeTemplatePreview').src = data;
                                   // $('#iframeTemplatePreview').html(data);
                                    centerTemplatePreviewPopup();

                                    
                                }
                               
                            });


    


    }

    function disableTemplatePreviewPopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            
            $("#divTemplatePreview").fadeOut("slow");
            popupStatus = 0;
        }

    }


    function centerTemplatePreviewPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divTemplatePreview").height();
        var popupWidth = $("#divTemplatePreview").width();
        //centering  
        $("#divTemplatePreview").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        
        return false;
    }
    $(document).ready(function () {
        if(@Model.ActionId==0)
        {
            document.getElementById("Templatelist").style.display = "none";
        }
        else if(@Model.ActionId==1){
            document.getElementById("TemplateEditor").style.display = "none";
            document.getElementById("Templatelist").style.display = "";
        }
        else
        {
            document.getElementById("TemplateEditor").style.display = "";
            document.getElementById("Templatelist").style.display = "none";
        }
        //window.onload = function () {

        //    //alert($('li.k-editor-selectbox').html());
        //    //alert($('span.k-insertHtml').html());
        //    // alert($('span.k-input').text());
        //    $('span.k-input').text('Insert Placeholder');
        //    // alert("It's loaded!")
        //}

      //  debugger;
        //('ready');
        //$("#txtTemplateBody").data("kendoEditor").span.attr("class", "Insert PlaceHolder");

        //var value = $("li").find("span.k-input");
        //$(value).text("gaurav");
    });

    function btnClear_click() {
        $('#txtTemplateName').val("");
        $('#txtTemplateBody').val("");
    }


    //$(document).ready(function () {

    //    $("#txtTemplateBody").kendoEditor({
    //        tools: [s
    //          {
    //              name: "insertHtml",
    //              insertHtml:                           [
    //              { text:"Insured Name" , value : "[Insured person Name]" },
    //              { text:"Insured Value" , value : "[Insured Amount]" }

    //              ]

    //          }
    //        ]
    //    });
    //});
    function AddNewTemplate() {
        debugger;
        var href = "@Url.Action("EmailTemplate", "EmailTemplate", new { HeadCompanyId = Model.headCompanyId, TemplateId=-1,StatusId=-1 })";
        href = href.replace('&amp;', '&');
        href = href.replace('&amp;', '&');
        window.location.href = href;
      //  $('span.k-input').text('Insert Placeholder');

    }
    //window.onload = function () {

    //    //alert($('li.k-editor-selectbox').html());
    //    //alert($('span.k-insertHtml').html());
    //   // alert($('span.k-input').text());
    //    //$('span.k-input').text('Insert Placeholder');
    //   // alert("It's loaded!")
    //}

    //function change() {
    //    alert("wass up doc111?");
    //}
</script>
@*<script type="text/javascript">
    alert(' ready');
    //$(document).ready(function () {

    //    //debugger;
    //    //alert('in ready');
    //});

</script>*@


<body style="background-image:none">

@using (Html.BeginForm("EmailTemplate", "EmailTemplate", FormMethod.Post))
{
    <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont" id="TemplateEditor">
        <tr>
            <td colspan="2" class="borderBottomLightGray">
                <br />
                <b>Add/Edit Template</b>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="display: none;">
                    @Html.HiddenFor(model => model.headCompanyId, new { id = "hdnHeadCompanyId" })
                    @Html.HiddenFor(model => model.emailtemplate.TemplateId, new { id = "hdnTemplateId" })
                    @Html.HiddenFor(model=>model.StatusId)
                </div>

                <div class="errorMsg">

                    @if (Model.StatusId == 1)
                    {
                        <ul>
                            <li style="color:red">Template Name Already Exist</li>
                        </ul>
                    }
                    else if (Model.StatusId == 2)
                    {
                        <ul>
                            <li style="color:red">Record Saved Successfully</li>
                        </ul>
                    }
                    else if (Model.StatusId==3)
                    {
                        <ul>
                            <li style="color:red">Record Deleted Successfully</li>
                        </ul>
                        
                    }

                    @if (TempData["Error"] != null)
                    { 
                        @:@TempData["Error"]
                                                                                                                                                                                                                                                                                                                                                                                                                            TempData["Error"] = null;
                    }
                    @Html.ValidationSummary()
                </div>
            </td>
        </tr>
        <tr class="tableRowAlternate">

            <td class="lblstyle" align="left" style="width: 200px; padding-left: 10px">Template Name:
            </td>
            <td>
                @Html.TextBoxFor(model => model.emailtemplate.TemplateName, new { id = "txtTemplateName", @style = "width: 300px;", })

            </td>


        </tr>

        <tr>

            <td class="lblstyle" align="left" valign="top" style="width: 200px; padding-left: 10px">Template Detail

            </td>
            <td id="tdtemplate">

            
                @(Html.Kendo().Editor()
      .Name("txtTemplateBody")
      .HtmlAttributes(new { style = "width: 100%;height:400px" })
      
      .Tools(tools => tools
         
        .Clear()
        .Snippets(
        snippets => snippets

            .Add("ClaimNumber", "[ClaimNumber]")
            .Add("PolicyNumber", "[PolicyNumber]")
            .Add("DateofLoss", "[DateofLoss]")
            .Add("InsuredFirstName", "[InsuredFirstName]")
            .Add("InsuredLastName", "[InsuredLastName]")
            .Add("InsuredAddress1", "[InsuredAddress1]")
            .Add("InsuredAddress2", "[InsuredAddress2]")
            .Add("InsuredCity", "[InsuredCity]")
            .Add("InsuredState", "[InsuredState]")
            .Add("InsuredZip", "[InsuredZip]")
            .Add("InsuredEmail", "[InsuredEmail]")
            .Add("PropertyAddress1", "[PropertyAddress1]")
            .Add("PropertyAddress2", "[PropertyAddress2]")
            .Add("PropertyCity", "[PropertyCity]")
            .Add("PropertyState", "[PropertyState]")
            .Add("PropertyZip", "[PropertyZip]")
            .Add("Signature", "[Signature]")
            .Add("Today's Date","[CurrentDate]")
            .Add("Date Received","[DateReceived]")
        )
       

.Styles(
Styles => Styles
.Add("", "")
.Add("Line Height5", "lnht5")
.Add("Line Height10", "lnht10")
.Add("Line Height15", "lnht15")
.Add("Line Height20", "lnht20")
.Add("Line Height25", "lnht25")
.Add("Line Height30", "lnht30")
)
         .Bold()
        .Italic()
        .Underline()
        .Indent()
        .Outdent()
        .InsertOrderedList()
        .InsertUnorderedList()
        .JustifyCenter()
        .JustifyFull()
        .JustifyLeft()
        .JustifyRight()
        .FontName()
        .FontSize()
        .FontColor()
        .BackColor()

      )
      .StyleSheets
      (
StyleSheets => StyleSheets
   .Add(@Url.Content("~/Content/CustomKendoEditor.css"))
        //.Add("http://localhost:50085//Content/CustomKendoEditor.css")

      )
        //.Events(
        //Events => Events
        //.Change("change")
        //)

      .Value(@<text>
                @Html.Raw(HttpUtility.HtmlDecode(@Model.emailtemplate.TemplateBody))
                </text>)



)



                @*  @Html.TextAreaFor(model => model.emailtemplate.TemplateBody, new { @id = "txtTemplateBody", @rows = "10", @style = "width:500px;overflow-y:scroll" })*@
            </td>


        </tr>
        <tr>
            <td colspan="2">
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="borderTopLightGray" style="padding-top: 3px;" align="right">
               
                 <input type="button" value="Clear" class="buttonLightYellow_100" onclick="btnClear_click()" />
                <input type="submit" value="Save" style="margin-right: 5px;" class="buttonLightYellow_100" />
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <br />
            </td>

        </tr>



    </table>
     <table bgcolor="White" width="100%" cellspacing="0" class="bodyFont" id="Templatelist">
            <tr>
                <td class="subHeading borderBottomLightGray" nowrap="nowrap">Template List<a name="aTemplateList" style="text-decoration: none;"></a>
                  @*  <input type="button" value="New Template" class="buttonYellow_100" style="float: right; margin-right: 5px;" onclick="AddNewTemplate()" />&nbsp;&nbsp;*@
                </td>
            </tr>
            <tr>
                <td class="content">

                    <table cellpadding="3" cellspacing="0" width="100%">
                        <thead class="tableHeader">
                            <tr valign="top">
                                <td width="20%">Template Name          
                                </td>
                              
                                
                           

                                <td align="right" width="10%" style="padding-right:30px">Edit | Delete</td>
                                @*<td align="right" width="10%" style="padding-right:30px">Delete</td>*@
                            </tr>
                        </thead>
                        @{
                    int i = 0;
                    if (Model.TemplateGetList.Count > 0 && Model.TemplateGetList != null)
                    {
                        foreach (var template in Model.TemplateGetList)
                        {
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td width="20%">
                                    @template.TemplateName
                                </td>
                               
                                
                                <td align="right" width="10%" style="padding-right:30px">

                                   @* <a href="#" style="border: none; color: black; cursor: pointer;padding-right:40px;text-decoration:none" onclick="TemplatePreview('@template.CompanyId','@template.TemplateId')">
                                        <img src="~/Content/Images/preview_icon.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>*@
                                    <a href="@Url.Action("EmailTemplate", "EmailTemplate", new { HeadCompanyId = @template.CompanyId, TemplateId = @template.TemplateId, StatusId = -1,ActionId=2 })" style="border: none; color: black; cursor: pointer;padding-right:40px;text-decoration:none">
                                        <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                    <a href="@Url.Action("EmailTemplateDelete", "EmailTemplate", new { HeadCompanyId = @template.CompanyId, TemplateId = @template.TemplateId })" style="border: none; color: black; cursor: pointer;padding-right:5px" onclick="javascript:return confirm('Are you sure you want to delete this record!');">
                                        <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                </td>
                               @* <td align="center" width="10%">
                                    <a href="@Url.Action("EmailTemplateDelete", "EmailTemplate", new { HeadCompanyId = @template.CompanyId,TemplateId=@template.TemplateId })" style="border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to delete this record!');">
                                        <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                </td>*@
                            </tr>
                            i++;
                        }
                    }

                    else
                    {
                            <tr>
                                <td colspan="3" style="text-align:center;color:red">
                                 No Records Found
                                </td>

                            </tr>
                        
                    }
                        }
                    </table>
                </td>
            </tr>
        </table>
    
}

    

    </body>


<div id="divTemplatePreview" class="EditTemplatePreviewPopup" style="width:80%;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Template Preview</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableTemplatePreviewPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeTemplatePreview" style="width: 100%; height: 550px" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
        <tr>
            <td class="footer" align="center">
                <br />
            </td>
        </tr>
    </table>

</div>
