﻿@model BLL.ViewModels.ContractorTypeSearchViewModel

<table width="100%">

    <tr>
        <td>
            <table>


                <tr>
                    <td nowrap="nowrap" valign="middle">Company Name: </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.CompanyName)
                    </td>
                    <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                    @*<td nowrap="nowrap" valign="middle">Integration Type: </td>*@
                    @*<td width="100%" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="padding-right: 5px;">
                                    @Html.DropDownListFor(model => model.IntegrationTypeId, Model.IntegrationTypeList)
                                </td>
                            </tr>
                        </table>
                    </td>*@
                    <td nowrap="nowrap" valign="middle">Service Type: </td>
                    <td valign="top">
                        @Html.DropDownListFor(model => model.ServiceId, Model.ServiceTypesList, new { @id = "ddlServiceType", style = "width: 170px;" })
                    </td>
                    <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                    <td nowrap="nowrap" valign="middle">Is Active: </td>
                    <td width="100%" valign="top" colspan="4">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                @* <td style="padding-right: 5px;">
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList)
                    </td>*@
                                <td valign="top" nowrap="nowrap">
                                    @Html.RadioButtonFor(model => model.active,"0")Inactive
                                    @Html.RadioButtonFor(model => model.active, "1")Active
                                    @Html.RadioButtonFor(model => model.active, "")All

                                    @*@Html.RadioButtonFor(model => model.Status, "Inactive")Inactive
                                    @Html.RadioButtonFor(model => model.Status, "Active")Active
                                    @Html.RadioButtonFor(model => model.Status, "All")All*@
                                </td>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                   
                </tr>
            </table>
        </td>
    </tr>
</table>
