﻿@model BLL.ViewModels.ContractorTypeSearchViewModel
@{
    ViewBag.Title = "ContractorCompaniesList";
}

<style type="text/css">
    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }


    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .wideareadivNewPricing {
        width: 350px;
        height: 80px;
    }

    .wide {
        width: 350px;
    }

    .backgroundJobtypepopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditJobtypepopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>

<script type="text/javascript">
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblcompExpand").style.display = "none";
        document.getElementById("lblcompCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblcompExpand").style.display = "inline";
        document.getElementById("lblcompCollapse").style.display = "none";
    }
    function loadLOBPopup(url) {

        document.getElementById("iframeLOB").src = url;
        centerLOBPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divLOB").fadeIn("slow");

        return false;
    }

    function disableLOBPopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("slow");
            $("#divLOB").fadeOut("slow");
            popupStatus = 0;
        }

    }
    function centerLOBPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divLOB").height();
        var popupWidth = $("#divLOB").width();
        //centering
        $("#divLOB").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

</script>
<script>
    function disableJobtypepopup() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundJobtypepopup").fadeOut("slow");
            $("#Jobtypepopup").fadeOut("slow");
            popupStatus = 0;


            expanded = false;
            $('#divJobtypepopupError').empty();

        }
    }

    function loadJobtypepopup(Companyid) {

        $('#hdnCompanyid').val(Companyid);
        var popupStatus = 0;

        if (popupStatus == 0) {

            centerJobtypepopup();
            $("#backgroundJobtypepopup").css({
                "opacity": "0.7"
            });

            bindJobtypeList(Companyid);

            $("#backgroundJobtypepopup").fadeIn("slow");
            $("#Jobtypepopup").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function centerJobtypepopup() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#Jobtypepopup").height();
        var popupWidth = $("#Jobtypepopup").width();
        //centering
        $("#Jobtypepopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundJobtypepopup").css({
            "height": windowHeight
        });
        return false;
    }
    function bindJobtypeList(Companyid) {
        debugger;
        $.ajax({
            url: '@Url.Action("_CompanyJobtypes", "ContractorCompany")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                Companyid: Companyid
            }),
            success: function (result) {

                var div = $('#dvJobtypepopup');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    function DeleteCompanyJobtype(Jobtypeid) {
        debugger;
        $("#imgProcessingUnQualifiedSPSubmit1").show();
        $.ajax({
            url: '@Url.Action("DeleteCompanyJobtype", "ContractorCompany")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                JobId: Jobtypeid, CompanyId: $('#hdnCompanyid').val()
            }),
            success: function (result) {
                if (result == 1) {

                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    bindJobtypeList($('#hdnCompanyid').val());
                }
                else if (result == 2) {
                    document.getElementById("dvJobtypepopup").innerHTML = "JobType is already in use";
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                }
            },
            error: function (error) {

                $("#imgProcessingUnQualifiedSPSubmit1").hide();
                alert(JSON.stringify(error));
            }
        });
    }


    function AddCompanyJobtype() {

        var ddlJobTypenew = $('#ddlJobTypenew').val();




        var isValid = true;
        var isValidErrorMsg = '';

        if (ddlJobTypenew == '0') {
            isValid = false;
            isValidErrorMsg += "Select Job type required.<br/>";
        }



        document.getElementById("divJobtypepopupError").innerHTML = ""

        if (isValid) {
            $("#imgProcessingUnQualifiedSPSubmit1").show();


            $.getJSON('@Url.Content("~/ContractorCompany/AddCompanyJobtype")',
           {
               CompanyId: $('#hdnCompanyid').val(), JobId: $('#ddlJobTypenew').val()
           },
            function (data) {
                if (data == 1) {
                    // disablePopupUnQualifiedSP();
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();


                    bindJobtypeList($('#hdnCompanyid').val());
                }
                else if (data == 2) {
                    //record Already Exists
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    document.getElementById("divJobtypepopupError").innerHTML = "Service Already Exist";
                }
            });
        }
        else {
            document.getElementById("divJobtypepopupError").innerHTML = isValidErrorMsg;
        }

    }

</script>
<div class="errorMsg">@ViewBag.ErrorMsg</div>
<table width="100%">
@using (Html.BeginForm("ContractorCompaniesList", "ContractorCompany", FormMethod.Post, new { @id = "formContractorList" }))
            {
    <tr>
        <td>
            @*@using (Html.BeginForm("ContractorCompaniesList", "ContractorCompany", FormMethod.Post, new { @id = "formContractorSearch" }))
            {*@
                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <a id="lblcompExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Company Filter</a>
                            <a id="lblcompCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Company Filter</a>
                        </td>
                    </tr>
                    <tr id="trSearchFilterContent" style="display: none;">
                        <td class="content">
                            @Html.Partial("_ContractorCompanySearchFilter")
                        </td>
                    </tr>
                    <tr align="right" id="trSearchFilterFooter" style="display: none;">
                        <td class="footer">
                            <input type="submit" class="buttonYellow_100" value="Search" />
                        </td>
                    </tr>
                </table>
            @*}*@
        </td>
    </tr>
    <tr>
        <td align="right" cellspacing="0" width="100%"></td>
    </tr>
    <tr>
        <td>
            <table align="left" cellpadding="3" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader">
                        <div style="float: left;">Contractor Company List</div>


                        @*<div style="float: right;">
                            @using (Html.BeginForm("submit", "ContractorCompany", FormMethod.Get))
                            {
                                <input type="submit" class="buttonLightYellow_100" value="Create Company" />
                            }
                        </div>*@

                        <div style="float: right;">
                                @Html.ActionLink("Create Company", "submit", "ContractorCompany")
                            </div>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        @*@using (Html.BeginForm("ContractorCompaniesList", "ContractorCompany", FormMethod.Post, new { @id = "formContractorList" }))
                        {*@
                            <table cellpadding="3" cellspacing="0" width="100%">

                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td>
                                            Company Name
                                        </td>
                                        <td>City</td>
                                        <td>State</td>
                                        <td>Zip</td>
                                        <td>WebsiteURL</td>
                                        <td>Status</td>
                                        <td colspan="2"></td>
                                    </tr>
                                </thead>
                                @{
                            int i = 0;
                            if (Model.companylist1 != null)
                            {
                                foreach (var comp in Model.companylist1)
                                {
                                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                        <td nowrap="nowrap">
                                            @comp.CompanyName
                                        </td>
                                        <td>
                                            @comp.City
                                        </td>
                                        <td>
                                            @comp.State
                                        </td>
                                        <td>
                                            @comp.Zip
                                        </td>
                                        <td>
                                            @comp.WebsiteURL
                                        </td>

                                        <td>
                                            @{
                                    string status = "Inactive";

                                    if (comp.IsActive == true)
                                    {
                                        status = "Active";
                                    }
                                            }

                                            @status
                                        </td>
                                        <td nowrap="nowrap" align="right">
                                            <a style="text-decoration:none;padding-right:3px;" href="#" onclick="loadJobtypepopup(@comp.CompanyId);"><img width="15" height="15" src="@Url.Content("~/Content/Images/folder_out.png")" title="Manage Jobtypes" /></a>
                                            <a style="text-decoration:none;padding-right:3px;" href="@Url.Action("Search", "CANEstimator", new { @CompanyId = comp.CompanyId })"><img width="15" height="15" src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Manage Resources" /></a>
                                            <a href="@Url.Action("submit", "ContractorCompany", new { compid = comp.CompanyId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                <img src="~/Content/Images/Edit.png" title="Manage Profile" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                                            </a>
                                            <a href="@Url.Action("DeleteSPContractorCompany", "ContractorCompany", new { compid = comp.CompanyId })" style="text-decoration:none;border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to delete this company!');">
                                                <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                            <input type="hidden" id="hdnCompanyid">
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                                }

                                <tr>
                                    <td class="content"></td>
                                </tr>
                            </table>
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Html.Partial("_Pager", Model.Pager)
                                    </td>
                                </tr>
                            </table>
                        @*}*@
                    </td>
                </tr>

            </table>
        </td>
    </tr>
}
</table>
<div id="backgroundPopup" onclick="disableLOBPopup();"></div>
<div id="Jobtypepopup" style="display: none;width:746px;" class="EditJobtypepopup">
    <table width=" 100%" cellspacing="0" id="tbldivservice">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Add JobType</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableJobtypepopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trLOB">
            <td>
                <table width="100%" cellspacing="0">
                    <tr>
                        <td class="content" align="left">
                            <div id="divJobtypepopupError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                            <div id="div1">
                                <table>
                                    <tr>
                                        <td>Add JobType</td>
                                        <td></td>
                                        <td>
                                            @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypeList, new { @id = "ddlJobTypenew", style = "width: 170px;" })
                                        </td>


                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td class="footer" align="right">
                            <img id="imgProcessingUnQualifiedSPSubmit1" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                            <input type="button" value="Add Jobtype" class="buttonYellow_100" onclick="AddCompanyJobtype()" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="dvJobtypepopup">
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</div>
@*<div id="backgroundPopupUnQualifiedSP" onclick="disablePopupUnQualifiedSP();" class="backgroundPopupUnQualifiedSP" style="display: none;"></div>*@
<div id="backgroundJobtypepopup" class="backgroundJobtypepopup" style="display: none;"></div>



