﻿@model BLL.ViewModels.ContractorTypeSearchViewModel
@{
    ViewBag.Title = "Contractor Company Information";
}
<style>
    .backgroundPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }
    .EditPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .backgroundJobtypepopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }
    .EditJobtypepopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 200px;
        height: auto;
        overflow-y: scroll;
        position: absolute;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>
@*<link href="@Url.Content("~/Content/bootstrap-3.1.1.min.css")" rel="stylesheet" type="text/css" />*@
@*<link href="@Url.Content("~/Content/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>*@

@*<script type="text/javascript" src="~/Scripts/bootstrap-2.3.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>*@
<script>
    var expanded = false;
    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function hidecountylist() {
        //debugger;
        //var checkboxes = document.getElementById("checkboxes");
        //if (checkboxes.style.display == "block") {
        //    checkboxes.style.display = "none";
        //}
    }

    $(document).ready(function () {
        var expanded = false;
        $('#UnQualifiedSP').on('click', function (e) {

            //alert(e.target.nodeName);
            if ($(e.target.parentNode).is("label")) {
                var checkboxes = document.getElementById("checkboxes");
                if (!expanded) {
                    checkboxes.style.display = "block";
                    expanded = true;
                }
                //else {
                //    checkboxes.style.display = "none";
                //    expanded = false;
                //}


            }
            else {
                if (!$(e.target.parentNode).is("div.selectBox")) {
                    var checkboxes = document.getElementById("checkboxes");
                    checkboxes.style.display = "none";
                    expanded = false;
                }
            }



        });
    });
    debugger;
    function getSelectedCountyIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        $('input[name=cbCountylist]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        if (selectedCheckBoxesValue == '') {

            $('#selectcounty').children('option[name="countylist"]').text("--Select County--");
        }
        else {
            //$('#selectcounty option[value="0"]').text(selectedCheckBoxesValue);
            //$('#selectcounty option[name="countylist"]').text(selectedCheckBoxesValue);
            $('#selectcounty').children('option[name="countylist"]').text(selectedCheckBoxesValue);
        }
        return selectedCheckBoxesValue;
    }
    function selectall() {
        if ($('#selectid').prop('checked')) {
            $('input[name=cbCountylist]').each(function (i, selected) {


                $(selected).prop("checked", true);



            });
        }
        else {
            $('input[name=cbCountylist]').each(function (i, selected) {


                $(selected).prop("checked", false);



            });



        }

        getSelectedCountyIds();
    }
    function disablePopupUnQualifiedSP() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupUnQualifiedSP").fadeOut("slow");
            $("#UnQualifiedSP").fadeOut("slow");
            popupStatus = 0;
            $('#ddlServiceType').val(0);
            $("#ddlCompanyJobType").val(0);
            $('#ddlstate').val(0);
            $("#ddlCounty").empty();
            var item = [];
            item.push("<option value='0'>--Select County--</option>");
            $("#ddlCounty").html(item.join(' '));

            $("#checkboxes").empty();
            $('#checkboxes').height('auto');
            $('#selectcounty').children('option[name="countylist"]').text("--Select County--");
            var checkboxes = document.getElementById("checkboxes");
            checkboxes.style.display = "none";
            expanded = false;
            $('#divUnQLOBError').empty();
        }
    }
    function loadPopupUnQualifiedSP() {


        var popupStatus = 0;

        if (popupStatus == 0) {

            centerPopupNewUnQualifiedSP();
            $("#backgroundPopupUnQualifiedSP").css({
                "opacity": "0.7"
            });

            bindServicesList($('#hCompanyid').val());

            $("#backgroundPopupUnQualifiedSP").fadeIn("slow");
            $("#UnQualifiedSP").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function centerPopupNewUnQualifiedSP() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#UnQualifiedSP").height();
        var popupWidth = $("#UnQualifiedSP").width();
        //centering
        $("#UnQualifiedSP").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupUnQualifiedSP").css({
            "height": windowHeight
        });
        return false;
    }
    function bindServicesList(CompanyID) {
        debugger;
        $.ajax({
            url: '@Url.Action("_ContractorCompanyServiceList", "ContractorCompany")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                CompanyID: CompanyID
            }),
            success: function (result) {

                var div = $('#dvUnQualifiedList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }
    function DeleteService(ContractorCompanyserviceid) {
        debugger;
        $("#imgProcessingUnQualifiedSPSubmit1").show();
        $.ajax({
            url: '@Url.Action("DeleteService", "ContractorCompany")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                ContractorCompanyserviceId: ContractorCompanyserviceid
            }),
            success: function (result) {
                if (result == 1) {

                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    bindServicesList($('#hCompanyid').val());
                }
                else if (result == 2) {
                    document.getElementById("divUnQLOBError").innerHTML = "Service is already in use";
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                }
            },
            error: function (error) {

                $("#imgProcessingUnQualifiedSPSubmit1").hide();
                alert(JSON.stringify(error));
            }
        });
    }
    function FillCounty() {
        debugger;

        $('#selectcounty').children('option[name="countylist"]').text("--Select County--");

        var CompanyId;
        CompanyId = $("#ddlCounty").val();


        $.ajax({
            url: '@Url.Action("GetCountyNames", "ContractorCompany")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { Statename: $('#ddlstate').val() },
            type: 'GET',
            success: function (data) {

                $("#checkboxes").empty();

                var incr = 0;
                var item = [];
                //item.push("<option value='0'>--Select County--</option>");
                item.push("<label for='selectidlable'><input type='checkbox' name='selectalllist' id='selectid' value='selectall' onchange='selectall()'>Select all</label>");
                $.each(data, function () {
                    //item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    item.push("<label for=" + this.Value + "><input type='checkbox' name='cbCountylist' id=chk_" + this.Text + " value='" + this.Text + "'onchange='getSelectedCountyIds()'>" + this.Value + "</label>");
                    incr++;
                });
                if (incr > 10) {
                    var height = $('#checkboxes').height(200);

                }
                else {
                    $('#checkboxes').height('auto');
                }
                $("#checkboxes").html(item.join(' '));

            }




        });
    }


    function FillCountySearch() {
        debugger;
        
        var CompanyId;
        CompanyId = $("#ddlCountySearch").val();


        $.ajax({
            url: '@Url.Action("GetCountyNameSearch", "ContractorCompany")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { Statename: $('#ddlStateSearch').val() },
            type: 'GET',
            success: function (data) {
                if (data.length != 0)
                {
                    for (var i = 0; i < data.length; i++)
                    {
                        $("#ddlCountySearch").append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");
                    }
                }
                else
                {
                    $("#ddlCountySearch").empty();
                    $("#ddlCountySearch").append("<option value='" + "0" + "'>" + "--Select County--" + "</option>");
                }
                
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    //$(function () {
    //    $('#ddlCounty').multiselect({
    //        includeSelectAllOption: true
    //    });

    //});

    function SearchService() {
        var ddlJob = $('#ddlCompanyJobTypeSearch').val();
        var ddlService = $('#ddlServiceTypeSearch').val();
        debugger;
        $.ajax({
            url: '@Url.Action("CompanyServiceList", "ContractorCompany")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                CompanyID: $('#hCompanyid').val(), JobTypeId: ddlJob, ServiceTypeId: ddlService, State: $('#ddlStateSearch').val(), County: $('#ddlCountySearch').val()
            }),
            success: function (result) {

                var div = $('#dvUnQualifiedList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    function AddService() {

        var ddlService = $('#ddlServiceType').val();
        var ddlState = $('#ddlstate').val();
        var ddlCounty = $('#ddlCounty').val();


        var ids = getSelectedCountyIds();
        var isValid = true;
        var isValidErrorMsg = '';

        if (ddlService == '0') {
            isValid = false;
            isValidErrorMsg += "Select Service required.<br/>";
        }
        if (ddlstate == '0') {
            isValid = false;
            isValidErrorMsg += "Select State required.<br/>";
        }
        //if (ddlCounty == '0') {
        //    isValid = false;
        //    isValidErrorMsg += "Select County required.<br/>";
        //}

        if (ids == '') {
            isValid = false;
            isValidErrorMsg += "Select County required.<br/>";

        }
        document.getElementById("divUnQLOBError").innerHTML = ""

        if (isValid) {
            $("#imgProcessingUnQualifiedSPSubmit1").show();


            $.getJSON('@Url.Content("~/ContractorCompany/AddContractorCompanyService")',
           {
               CompanyId: $('#hCompanyid').val(), ServiceId: $('#ddlServiceType').val(), State: $('#ddlstate').val(), County: getSelectedCountyIds(), JobTypeId: $('#ddlCompanyJobType').val()
           },
            function (data) {
                if (data == 1) {
                    // disablePopupUnQualifiedSP();
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();

                    bindServicesList($('#hCompanyid').val());
                }
                else if (data == 2) {
                    //record Already Exists
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    document.getElementById("divUnQLOBError").innerHTML = "Service Already Exist";
                }
            });
        }
        else {
            document.getElementById("divUnQLOBError").innerHTML = isValidErrorMsg;
        }

    }

    function getSelectedServicesIds() {
        var selectedCheckBoxesValue = '';
        $('input[name=cbService]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        return selectedCheckBoxesValue;
    }


    function ServicesDelete()
    {
        if (getSelectedServicesIds() != '')
        {
            if (confirm('want to delete service'))
            {
                debugger;
                $.ajax({
                    type: "POST"
                    , url: '@Url.Action("BulkDeleteContractorCompanyServices", "ContractorCompany")'
                    , data: { ContractorCompanyServiceIds: getSelectedServicesIds() }
                }).done(function (data) {
                    if (data == "1") {
                        alert("Service has been Deleted.");
                        bindServicesList($('#hCompanyid').val());
                    }
                    //else if (data == "2") {
                    //    alert("Services can't be deleted scenes there reference some claims.");
                    //    bindServicesList($('#hCompanyid').val());
                    //}
                    else {
                        alert("Something went wrong. Try again.");
                        bindServicesList($('#hCompanyid').val());
                    }
                }).error(function (data) {
                    alert("Error: " + data.responseText);
                });
            }           
        }
        else
        {
            alert("Select Service(s) from the list.");
        }
    }

    function expandSearchFilter() {
        debugger;
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        //document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblcompExpand").style.display = "none";
        document.getElementById("lblcompCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        //document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblcompExpand").style.display = "inline";
        document.getElementById("lblcompCollapse").style.display = "none";
    }

    function expandAddServices() {
        debugger;
        document.getElementById("trAddServicesContent").style.display = "table-row";
        //document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblExpand").style.display = "none";
        document.getElementById("lblCollapse").style.display = "inline";
    }
    function collapseAddServices() {
        document.getElementById("trAddServicesContent").style.display = "none";
        //document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblExpand").style.display = "inline";
        document.getElementById("lblCollapse").style.display = "none";
    }


</script>
<script>
   
    function FillServiceTypes() {
        debugger;



        var CompanyjobId;
        CompanyjobId = $("#ddlCompanyJobType").val();
        var item = new Array();

        $.ajax({
            url: '@Url.Action("GetServiceTypes", "ContractorCompany")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { Jobid: CompanyjobId },
            type: 'GET',
            success: function (data) {

                $("#ddlServiceType").empty();


                item.push("<option value='0'>--Select Service Type--</option>");

                $.each(data, function () {
                    item.push("<option value=" + this.Value + ">" + this.Text + "</option>");


                });

                $("#ddlServiceType").append(item);
            }




        });
    }


</script>
<table width="100%">
    @{
        BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
        CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    }
   
    <tr>
        <td>
            @using (Html.BeginForm("Submit", "ContractorCompany", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">Contractor Company Information</td>
                    </tr>
                    <tr>
                        <td class="content">
                            <table>
                                <tr>
                                    <td>
                                        <div class="errorMsg">
                                            @Html.ValidationSummary()
                                        </div>

                                        @Html.HiddenFor(model => model.companyid, new {id="hCompanyid" })

                                        @Html.Partial("_ContractorCompanyRegistration")
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>


                        <td>
                            @{
                if (Model.companyid != 0)
                {
                    <a href="#" onclick="loadPopupUnQualifiedSP();" style="cursor: pointer;">Services Provided</a><br />
                                @:Click the link to Services Provided by Company<br /><br />
                                }
                else
                {
                    @:You can add Services after Company Registration<br /><br />
                                }

                            }
                        </td>

                    </tr>

                    @*<tr>
                       
                       
                        <td>
                            @{
                                if(Model.companyid!=0)
                                {
                                <a href="#" onclick="loadJobtypepopup(@Model.companyid);" style="cursor: pointer;">Associated JobTypes</a><br />
                                    @:Click the link to Manage Jobtypes by Company<br /><br />
                                }
                                else
                                {
                                    @:You can add Jobtypes after Company Registration<br /><br />
                                }
                                
                            }
                        </td>

                    </tr>*@
                    <tr align="right">
                        <td class="footer">
                            @{
                                if (loggedInUser != null)
                                {
                                    <div style="float: left">
                                        <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("ContractorCompaniesList", "ContractorCompany")    ';" />
                                    </div>
                                }

                            }
                            <div style="float: right">
                                <input type="submit" class="buttonYellow_100" value="Save" id="submit" />
                              
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>
<div id="UnQualifiedSP" style="display: none;width:1000px; height:600px; overflow:scroll;"  class="EditPopupUnQualifiedSP">
    <table width=" 100%" cellspacing="0" id="tbldivservice">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Services</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupUnQualifiedSP()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trLOB">
            <td>
                <table width="100%" cellspacing="0">
                    <tr style="height: 15px"> </tr>
                    <tr>
                        <td class="mainHeader">
                            <a id="lblcompExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Filter</a>
                            <a id="lblcompCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a>
                        </td>                        
                    </tr>
                    <tr id="trSearchFilterContent" style="display: none;">                        
                        <td class="content" align="left">
                            <div>
                                <table>
                                    @*<tr>
                                Search Filter
                            </tr>*@
                                    <tr>
                                        <td>Search Filter</td>
                                        <td></td>
                                        <td>
                                            @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypeList, new { @id = "ddlCompanyJobTypeSearch", style = "width: 170px;" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ServiceId, Model.ServiceTypesList, new { @id = "ddlServiceTypeSearch", style = "width: 170px;" })                                            
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.StateName, Model.USAStateList, new { @id = "ddlStateSearch", style = "width: 170px;", @onchange = "FillCountySearch()" })
                                        </td>
                                        <td>                                            
                                            @Html.DropDownListFor(model => model.CountyName, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select County--", Value = "0", Selected = true } }, new { @id = "ddlCountySearch", style = "width: 170px;" })
                                        </td>
                                        <td></td>
                                        <td>
                                            <input type="button" value="Search" class="buttonYellow_100" onclick="SearchService()" />
                                        </td>                                        
                                    </tr>
                                </table>
                            </div>
                        </td>
                        @*<td class="content" align="right">
                            <input type="button" value="Search" class="buttonYellow_100" onclick="SearchService()" />
                        </td>*@
                    </tr>
                    <tr style="height: 15px"> </tr>
                    <tr class="mainHeader">
                        <td class="mainHeader">
                            <a id="lblExpand" style="color: black;" href="#" onclick="expandAddServices()">Add Services</a>
                            <a id="lblCollapse" href="#" onclick="collapseAddServices()" style="display: none; color: black;">Add Services</a>
                        </td>
                    </tr>
                    <tr id="trAddServicesContent" style="display: none;">
                        <td class="content" align="left">
                            <div id="divUnQLOBError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                            <div id="div1">
                                <table>
                                    <tr>
                                        <td>Add Service</td>
                                        <td></td>
                                        <td>
                                            @Html.DropDownListFor(model => model.JobTypeId, Model.CompanyJobTypesList, new { @id = "ddlCompanyJobType", style = "width: 170px;", @onchange = "FillServiceTypes()" })
                                        </td>
                                        <td>
                                            @*@Html.DropDownListFor(model => model.LobId, (IEnumerable<SelectListItem>)ViewBag.LOBList, "--Select LOB--", new { @style = "width:150px;" })*@

                                            @*@Html.DropDownListFor(model => model.ServiceId, Model.CompanyServiceTypesList, new { @id = "ddlServiceType", style = "width: 170px;" })*@

                                            @Html.DropDownListFor(model => model.ServiceId, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select Service--", Value = "0", Selected = true } }, new { @id = "ddlServiceType", style = "width: 170px;" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.StateName, Model.USAStateList, new { @id = "ddlstate", style = "width: 170px;", @onchange = "FillCounty()" })
                                        </td>
                                        <td style="display:none;">
                                            @Html.DropDownListFor(model => model.CountyName, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select County--", Value = "0", Selected = true } }, new { @id = "ddlCounty", style = "width: 170px;" })
                                        </td>
                                        <td>
                                            <div class="multiselect">
                                                <div class="selectBox" onclick="showCheckboxes()">
                                                    <select id="selectcounty">
                                                        <option name="countylist">--Select County--</option>
                                                    </select>
                                                    <div class="overSelect"></div>
                                                </div>
                                                <div id="checkboxes">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="footer" align="right">                                            
                                            <img id="imgProcessingUnQualifiedSPSubmit1" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                                            <input type="button" value="Add Service" class="buttonYellow_100" onclick="AddService()" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        @*<td class="footer" align="right">
                            <img id="imgProcessingUnQualifiedSPSubmit1" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                            <input type="button" value="Add Service" class="buttonYellow_100" onclick="AddService()" />
                        </td>*@
                    </tr>
                    <tr style="height: 15px"> </tr>
                    <tr>
                        <td class="footer" align="right">
                            <input type="button" value="Delete Services" class="buttonYellow_100" onclick="ServicesDelete()" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="dvUnQualifiedList1">
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupUnQualifiedSP" onclick="disablePopupUnQualifiedSP();" class="backgroundPopupUnQualifiedSP" style="display: none;"></div>




