﻿@model BLL.ViewModels.AlternetLocationViewModel


@{
    Layout = null;
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<table width="99%">
    <tr>
        <td>
            

        </td>
    </tr>

</table>
