﻿@using BLL
@model IEnumerable<GetAllCANAssignmentsServicesList_Result>

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();    
}
<style>
      .AssignmentRejPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
  /* Assignments pending popup style  */
    .backgroundAssignmentRejection {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }
</style>
<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
    <tr>
        <td class="subHeading borderBottomLightGray" nowrap="nowrap">
           
        </td>

    </tr>
    <tr>
        <td class="footer">
           
           @* <input type="button" value="Make New Request" onclick="location.href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = ClaimId, Jobid = Model.FirstOrDefault().Jobid, IsView = true, ServiceId = 0 })'" class="buttonYellow_120"/>*@
        </td>
    </tr>
    <tr>
       
        <td class="content">
            @{
                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                List<GetAllCANAssignmentsServicesList_Result> getalllist = new List<GetAllCANAssignmentsServicesList_Result>();
                getalllist = Model.ToList();

                string claimnum=null;
              
            if(getalllist.ToList().Count()>0)
            {
                var item1= getalllist.First();
                claimnum=item1.claimnumber;
            <table width="100%" style="padding-bottom:14px;">
                <tr valign="top">
                    <td><b>Claim Number :</b></td>
                    <td>@item1.claimnumber</td>
                    <td><b>Company Name :</b></td>
                    <td>@item1.companyname</td>

                </tr>
                <tr valign ="top">
                    <td><b>Insured Name :</b></td>
                    <td>@item1.Insured_Name</td>
                    <td><b>LOB :</b></td>
                    <td>@item1.LOBDescription
                </td>
                </tr>
               
            </table>
            }
            else
            {
                
            }
            }
            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td>
                            Job Type
                        </td>
                        <td>
                            Service Type
                        </td>
                        <td>
                            Status
                        </td>
                        <td>
                            Service Provider
                        </td>
                        <td>
                            QA Agent
                        </td>
                        <td>
                            Examiner
                        </td>
                        <td>
                            Days Old
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        @*<td width="20%">View/Edit</td>*@
                      
                    </tr>
                </thead>
            
                   @{
                       int i = 0;
                       Int64 Iclaimid=0;
                       if(claimnum!=null)
                       {
                           string claimno = claimnum;
                            Iclaimid = css.Claims.Where(x => x.ClaimNumber == claimno).Select(x => x.ClaimId).FirstOrDefault();
                       }
                       
                       
                       if (getalllist.ToList().Count() > 0 && getalllist != null)
                       {
                           foreach (var item in getalllist)
                           {
                              
                                   var InsuredZip=css.Claims.Where(x=>x.ClaimId==item.claimid).Select(y=>y.InsuredZip).FirstOrDefault();
                                   
                               
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td>
                                    @{
                                        @*if (loggedInUser.UserTypeId == 11 && item.Jobid == 6)
                                        {
                                         <a href='#' onclick="ExaminerAlert();" style="border: none; color: blue; text-decoration: none;">
                                             @item.jobdesc
                                         </a>
                                        }
                                        else
                                        {*@
                                         <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Iclaimid, Jobid = item.Jobid, IsView = true, ServiceId = item.Serviceid, CanAssignmentJobId = item.AssignmentJobId })' style="border: none; color: blue; text-decoration: none;">
                                             @item.jobdesc
                                         </a>
                                        @*}*@
                                    }
                                    @*<a href="/PropertyAssignment/GetReferalDetails?ClaimId=20014&Jobid=1&IsView=True&ServiceId=4">*@
                                   
                                </td>
                                <td>
                                    @item.Servicename
                                </td>
                                <td>
                                    @item.StatusDescription
                                </td>
                                <td>
                                    @item.SPName
                                </td>
                                <td>
                                    @item.QA_Agent
                                </td>
                                <td>
                                    @item.Examiner
                                </td>
                                <td>
                                    @item.OlDDays
                                </td>
                                <td nowrap="nowrap">
                                    @{
                               bool displayAssignSPIcon = false;
                               bool displayReAssignSPIcon = false;
                               if (item.OAUserID == null)
                               {
                                   displayAssignSPIcon = true;
                               }
                               else
                               {
                                   if (item.OAUserID == 0)
                                   {
                                       displayAssignSPIcon = true;
                                   }
                                   else
                                   {
                                       if (item.FileStatus == 1 || item.FileStatus == 3 || item.FileStatus == 4 || item.FileStatus == 5 || item.FileStatus == 6 || item.FileStatus == 8 || item.FileStatus == 16 || item.FileStatus == 18)
                                       {
                                           displayReAssignSPIcon = true;
                                       }
                                   }
                               }

                                        if (displayAssignSPIcon)
                                        {
                                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                            {
                                                if (item.Jobid.Value != 6)
                                                {
                                                    <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = InsuredZip, Distance = 0, jobtypeid = item.Jobid, servicetypeid = item.Serviceid, assignmentId = item.Assignmentid })" style="border: none; color: black; cursor: pointer;float:left;">
                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid, HRT = 2, JobId = item.Jobid, ServiceId = item.Serviceid })" style="border: none; color: black; cursor: pointer;float:left;">
                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                            }
                                        }
                                    }
                                </td>
                                <td nowrap="nowrap">
                                    @if (!displayAssignSPIcon)
                                    {
                                        if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                        {
                                            if (displayReAssignSPIcon)
                                            {
                                                if (item.Jobid.Value != 6)
                                                {
                                                    <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = InsuredZip, Distance = 0, jobtypeid = item.Jobid, servicetypeid = item.Serviceid, assignmentId = item.Assignmentid })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                                    </a>
                                                }
                                                else
                                                {
                                                <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid, HRT = 2,JobId= item.Jobid,ServiceId = item.Serviceid })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                    <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                                </a>
                                    }
                                            }

                                            System.Data.Entity.Core.Objects.ObjectParameter outIsNewInvoiceEnabled = new System.Data.Entity.Core.Objects.ObjectParameter("IsNewInvoiceEnabled", System.Data.DbType.Boolean);
                                            css.usp_IsNewPropertyInvoiceEnabled(outIsNewInvoiceEnabled, item.Assignmentid);
                                            if (Convert.ToBoolean(outIsNewInvoiceEnabled.Value) == true)
                                            {
                                                <a href="#" style="text-decoration:none;border: none; color: black; cursor: pointer;padding-right:4px;" onclick="loadPropertyInvoicePopup('@item.Assignmentid','New','-1')">
                                                    <img src="@Url.Content("~/Content/Images/iconMoneyAdd01.png")" title="New Invoice" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @if (css.Triages.Where(x => x.AssignmentId == item.Assignmentid).ToList().Count > 0)
                                    {
                                        <a href="@Url.Action("Details", "PropertyAssignment", new { ClaimId = (item.claimid.ToString()), ActiveMainTab = "Triage" })">
                                            <img alt="Triage" title="Triage Available" src="@Url.Content("~/Content/Images/text_list_bullets.png")" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    }
                                </td>                                
                                @*<td>
                                    @{
                               if (loggedInUser.UserTypeId == 12 || loggedInUser.UserTypeId == 2)
                               {
                                   //if(css.PropertyAssignments.Where(a => a.CANCompanyId==0))
                                   if (css.PropertyAssignments.Where(x => x.AssignmentId == item.Assignmentid).First().CANCompanyId != null)
                                   {
                                    <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid,HRT=3 })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                        <img src="@Url.Content("~/Content/Images/User-red-icon.png")" title="Assign Estimator" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                   }
                               }
                                    }
                                </td>
                                <td>
                                    @{
                               if (loggedInUser.UserTypeId == 2)
                               {
                                   //if(css.PropertyAssignments.Where(a => a.CANCompanyId==0))
                                   //if (css.PropertyAssignments.Where(x => x.AssignmentId == claiminfo.AssignmentId).First().CANCompanyId != null)
                                   //{
                                   if (css.PropertyAssignments.Where(x => x.AssignmentId == item.Assignmentid).First().HRTCompanyId != null)
                                   {

                                    <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid,HRT=1 })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                        <img src="@Url.Content("~/Content/Images/HRT.png")" title="Assign HRT" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                   }
                               }
                                    }
                                </td>*@ 
                                <td>
                                    @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)))
                                    {
                                        if (css.ClaimCoverages.Where(x => x.ClaimId == Iclaimid).ToList().Count > 0)
                                        {
                                            List<BLL.PropertyInvoice> invoiceList = css.PropertyInvoices.Where(x => x.AssignmentId == item.Assignmentid).OrderByDescending(x => x.InvoiceId).ToList();
                                            Int64 invoiceId = 0;
                                            if (invoiceList.Count == 0)
                                            {
                                                invoiceId = -1;
                                            }
                                            else
                                            {
                                                invoiceId = invoiceList.First().InvoiceId;
                                            }
                                            if (invoiceList.Count == 1)
                                            {
                                                <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@item.Assignmentid','Read','@invoiceId')">
                                                    <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            }
                                            else if (invoiceList.Count > 1)
                                            {
                                                <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoiceListPopup('@Url.Content("~/PropertyAssignmentInvoice/AssignmentInvoiceSummaryList?AssignmentId=" + item.Assignmentid)')">
                                                    <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            }
                                            else if (invoiceList.Count < 0 || (css.PropertyAssignments.Where(x => x.AssignmentId == item.Assignmentid).First().FileStatus == 7))
                                            {
                                                <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@item.Assignmentid','Edit','@invoiceId')">
                                                    <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                               if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                               {
                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Iclaimid, Jobid = item.Jobid, IsView = false, ServiceId = item.Serviceid, CanAssignmentJobId = item.AssignmentJobId })' style="border: none; color: black; text-decoration: none;">
                                    <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>
                               }
                                    }
                                </td>
                                <td>
                                  
                                      @if (loggedInUser.UserTypeId == 12 && item.FileStatus==17)
                                    {
                                        <a href="#" onclick="assignmentAccepted('@item.Assignmentid');" style="padding-right:5px; border: none; color: black; cursor: pointer;text-decoration:none;">
                                            <img src="~/Content/Images/Approve.png" title="Accept" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                
                                        <a href="#" onclick="assignmentReject('@item.Assignmentid','@item.ExaminerEmail');" style="padding-right:5px; border: none; color: black; cursor: pointer;text-decoration:none;">
                                            <img src="~/Content/Images/Cancel.png" title="Reject" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    }
                                </td> 
                                @*<td width="20%">
                                    <a href="#" style="border: none; color: black; text-decoration: none;">
                                              <img src="~/Content/Images/Edit.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                          </a>

                                      </td>*@
                            </tr>
                               i++;
                           }
                       }
                       else
                       {
                        <tr>
                            <td style="color:red;text-align:center" colspan="3">
                                - No Records -

                            </td>
                        </tr>
                       }
              }   
            </table>
        </td>
    </tr>
</table>


<div id="divAssignmentRejection" style="display: none;z-index:1000;" class="AssignmentRejPopup">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    <span id="spnCPOCHeading"></span>Assignment Rejection Note
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disableAssignmentRejection();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div id="divAssignmentRejectionError" class="errorMsg" style="text-align: left; width: 100%;color:red"></div>
                <input type="hidden" id="hdnRejectionAssignment" />
               

                <table width="100%">
                    <tbody>
                        <tr valign="top">
                            <td align="right">Examiner Email:</td>
                            <td width="100%">
                                <input type="text" id="lblExaminerEmailAdd" />
                            </td>
                        </tr>

                        <tr valign="top">
                            <td align="right">Notes:</td>
                            <td width="100%">
                                <textarea id="AssignRejectionNote" name="AssRejectionNote" style="width: 98%" rows="10"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingNewClientPOCSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input id="btnSaveCPOC" type="button" value="Ok" class="buttonYellow_100" onclick="btnAssRejectionClick()" />
            </td>
        </tr>
    </table>
</div>
<div id="backgroundAssignmentRejection" onclick="disableAssignmentRejection();" class="backgroundAssignmentRejection" style="display: none;"></div>


<script>
    function loadAssignmentRejection() {
        //alert('' + url);
       // document.getElementById("iframeEditClaim").src = url;
        centerAssignmentRejection();

        $("#backgroundAssignmentRejection").css({
            "opacity": "0.7"
        });

        $("#backgroundAssignmentRejection").fadeIn("slow");
        $("#divAssignmentRejection").fadeIn("slow");

        return false;
    }

    function disableAssignmentRejection() {

        $("#backgroundAssignmentRejection").fadeOut("slow");
        $("#divAssignmentRejection").fadeOut("slow");
        // loadSubmit();

        // document.forms["formSearch"].submit();

    }
    function centerAssignmentRejection() {


        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignmentRejection").height();
        var popupWidth = $("#divAssignmentRejection").width();
        //centering  
        $("#divAssignmentRejection").css({
            "position": "absolute",
            "top": 30,//windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundAssignmentRejection").css({
            "height": windowHeight
        });
        return false;
    }
    function assignmentAccepted(AssignmentID)
    {
        var data = { AssignmentId: AssignmentID ,IsAccepted:true};
        $.ajax({
            url: '@Url.Action("CANAssignmentAccepted", "PropertyAssignment")'
         , type: 'POST'
        , data: data
        }).done(function (result) {
            if (result == 1) {
                disablePopupAssignmentServices();
                alert("Assignment has been accepted");
            }
        }).fail(function (result) {
            //alert(result.responseText);
        });
    }
    function validateAssignmentPopup()
    {
        var isvalid = true;
        var errorList = "<ul>";
        if ($('#lblExaminerEmailAdd').val().length <= 0)
        {
            errorList = errorList + "<li>Exminer Email Is Required!</li>";
            isvalid = false;
        }
        else if ($('#AssignRejectionNote').val().length <= 0) {
            errorList = errorList + "<li>Rejection Note  Is Required!</li>";
            isvalid = false;
        }
        errorList = errorList + "</ul>";
        $('#divAssignmentRejectionError').html(errorList);
        return isvalid;
    }
    function btnAssRejectionClick()
    {
        if (validateAssignmentPopup())
        {
            var data = { AssignmentId: $('#hdnRejectionAssignment').val(), IsAccepted: false, ExaminerEmail: $('#lblExaminerEmailAdd').val(), RejectionNote: $('#AssignRejectionNote').val() };
            $.ajax({
                url: '@Url.Action("CANAssignmentRejectionNote", "PropertyAssignment")'
             , type: 'POST'
            , data: data
            }).done(function (result) {
                disableAssignmentRejection();
                disablePopupAssignmentServices();

            }).fail(function (result) {
                //alert(result.responseText);
            });
        }
    }
    function assignmentReject(AssignmentID, ExaminerEmail) {
     //   disablePopupAssignmentServices();
        $('#lblExaminerEmailAdd').val(ExaminerEmail);
        $('#hdnRejectionAssignment').val(AssignmentID);
        $('#divAssignmentRejectionError').html('');
        $('#AssignRejectionNote').val('');
        setTimeout(function () { loadAssignmentRejection(); }, 100);
    
    }
</script>