﻿@model BLL.ViewModels.PropertyInvoiceSummaryListViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<table width="100%" cellspacing="0" cellpadding="4">
    @if(Model.DisplayHeader)
    {
    <tr>
        <td colspan="4">Claim Number: @Model.ClaimNumber</td>
    </tr>
    }
    <tr class="tableHeader">
        <td >Invoice No.</td>
        <td>Invoice Date</td>
        <td align="right">Invoice Total ($)</td>
        <td width="100"></td>
    </tr>
    @{
       Byte? file_Status=css.PropertyAssignments.Where(x => x.AssignmentId == Model.AssignmentId).Select(x => x.FileStatus).FirstOrDefault();
        int recordIndex = 0;
        foreach (var record in Model.PropertyInvoiceSummaryList)
        {
            //System.Data.Entity.Core.Objects.ObjectParameter outIsInvoiceEditable = new System.Data.Entity.Core.Objects.ObjectParameter("IsInvoiceEditable", System.Data.DbType.Boolean);
            //css.usp_IsInvoiceEditable(outIsInvoiceEditable, record.InvoiceId);
            //Replace the following lines with the SP above
            //bool isInvoiceEditable = false;
            //if (css.SPPayrollAndAdjustments.Where(x => x.InvoiceId == record.InvoiceId).ToList().Count == 1)
            //{
            //    if (css.SPPayrollAndAdjustments.Where(x => x.InvoiceId == record.InvoiceId).First().PaymentDate.HasValue)
            //    {
            //        isInvoiceEditable = true;
            //    }
            //}
        
        <tr class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                <td>
                    @{ 
                        var IsImportFromClaimatic = css.PropertyInvoices.Where(x => x.InvoiceId == @record.InvoiceId).FirstOrDefault().IsImportFromClaimatic;
                        bool isEditable1 = false;
                        if (Model.IsEditable)
                        {
                            System.Data.Entity.Core.Objects.ObjectParameter outIsInvoiceEditable = new System.Data.Entity.Core.Objects.ObjectParameter("IsInvoiceEditable", System.Data.DbType.Boolean);
                            css.usp_IsPropertyInvoiceEditable(outIsInvoiceEditable, record.InvoiceId);
                            isEditable1 = Convert.ToBoolean(outIsInvoiceEditable.Value);
                        }
                        if (record.InvoiceType == 4)
                        {
                            <a href="#" style="border: none; cursor: pointer;" onclick="getPropertyInvoiceDetail('@record.AssignmentId','Read2','@record.InvoiceId')">
                                @record.InvoiceNo
                            </a>
                        }
                        else if (IsImportFromClaimatic == true)
                        {
                             <a href="#" style="border: none; cursor: pointer;" onclick="getPropertyInvoiceDetail('@record.AssignmentId','Read2','@record.InvoiceId','False')">
                             @record.InvoiceNo
                    </a>
                        }
                        else
                        {
                        <a href="#" style="border: none; cursor: pointer;" onclick="getPropertyInvoiceDetail('@record.AssignmentId','@(isEditable1 ? "Edit" : "Read")','@record.InvoiceId','False')">
                            @record.InvoiceNo
                        </a>
                            }
                        }
                </td>
            <td>@(record.InvoiceDate.HasValue ? record.InvoiceDate.Value.ToString("MM/dd/yyyy hh:mm tt") : "")</td>
            <td align="right">@(record.GrandTotal.HasValue ? String.Format("{0:0.00}", record.GrandTotal.Value) : "")</td>
            <td align="right">
                @{
            bool isEditable = false;
            if (Model.IsEditable)
            {
                System.Data.Entity.Core.Objects.ObjectParameter outIsInvoiceEditable = new System.Data.Entity.Core.Objects.ObjectParameter("IsInvoiceEditable", System.Data.DbType.Boolean);
                css.usp_IsPropertyInvoiceEditable(outIsInvoiceEditable,record.InvoiceId);
               isEditable = Convert.ToBoolean(outIsInvoiceEditable.Value);
               
            }
                }
             @if (file_Status.HasValue && file_Status != 25)
             {
	         var isImportFromClaimatic = css.PropertyInvoices.Where(x => x.InvoiceId == @record.InvoiceId).FirstOrDefault().IsImportFromClaimatic;
                 if (record.InvoiceType == 4)
                 {
                    <a href="#" style="border: none; color: black; cursor: pointer;" onclick="loadPropertyInvoicePopup('@record.AssignmentId','@(isEditable? "Edit":"Read")','@record.InvoiceId')">
                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                    </a>
                 }
                 else if (isEditable == true)
                 {
                     if (isImportFromClaimatic == true)
                     {
                        <a href="#" style="border: none; color: black; cursor: pointer;" onclick="loadPropertyInvoicePopup('@record.AssignmentId','Read2','@record.InvoiceId')">
                            <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a>
                     }
                     else
                     {
                        <a href="#" style="border: none; color: black; cursor: pointer;" onclick="loadPropertyInvoicePopup('@record.AssignmentId','@(isEditable ? "Edit" : "Read")','@record.InvoiceId')">
                            <img src="@Url.Content("~/Content/Images/Edit.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a>
                     }               
		       }
                 else
                 {
                    <a href="#" style="border: none; color: black; cursor: pointer;" onclick="loadPropertyInvoicePopup('@record.AssignmentId','@(isEditable? "Edit":"Read")','@record.InvoiceId')">
                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                    </a>
                 }

             }
            </td>
        </tr>
            recordIndex++;
        }
    }
</table>
