﻿@model BLL.ViewModels.XACTClaimsInfoViewModel
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<table width="100%">
    <tr>
        <td class="mainHeader"></td>
    </tr>
    <tr>
        <td class="content">
            <table cellpadding="3" cellspacing="0" width="100%">

                <thead class="tableHeader">
                    <tr valign="top">
                        <td>Payment
                        </td>
                        <td>Payee Information</td>
                        <td>Include Mortgagee</td>
                        <td>Additional Payee Info</td>
                        <td>Date</td>
                        <td>Amount</td>
                    </tr>
                </thead>



                @{
                    int i = 0;
                    int j = 1;
                    bool flag = true;
                    if (Model.ClaimFinanacialPayment != null)
                    {
                        foreach (var paymnt in Model.ClaimFinanacialPayment)
                        {
                            if (paymnt.PaymentTypeId == j && flag == true)
                            { 
                    <tr>
                        <th><u>Indemnity</u></th>
                    </tr>
                                j++;
                                flag = false;
                            }
                            if (paymnt.PaymentTypeId == j && flag == false)
                            { 
                    <tr>
                        <th><u>Expenses</u></th>
                    </tr>
                                j++;
                                flag = true;
                            }
                    <tr class="@(i % 2 == 0 ? "tableRowAlternate" : "tableRow")">
                        <td nowrap="nowrap">
                            @{
                            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.ClaimCoverage claimcoverage = css.ClaimCoverages.Find(@paymnt.ClaimCoverageId);
                            if(@claimcoverage !=null)
                            {
                                <div style="display: inline;">@claimcoverage.CoverageName</div>
                            }
                            }

                        </td>
                        <td nowrap="nowrap">
                            @paymnt.PayeeName
                        </td>
                        <td nowrap="nowrap">

                            @paymnt.IncludeMortgagee
                        </td>
                        <td nowrap="nowrap">
                            @paymnt.AdditionalInfo
                        </td>
                        <td nowrap="nowrap">
                            @paymnt.PaymentDate.Value.ToString("MM/dd/yyyy")
                        </td>
                        <td nowrap="nowrap" style="text-align:right;">
                            @paymnt.Amount.Value.ToString("$0.00")
                        </td>
                        <td style="display: none;"></td>
                    </tr>
                            i++;
                        }

                    }
                }
            </table>
        </td>
    </tr>
</table>
