﻿@model BLL.ViewModels.XACTClaimsInfoViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}


<style type="text/css">
    #backgroundAssignmentManageStatusPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #backgroundAssignmentApproveStatusPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }
     #backgroundAssignmentRejectStatusPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }
    #bgTimestampUpdatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #backgroundPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 870px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .TimestampUpdatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .EditPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 800px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
    #bgAssignCSSPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .AssignCSSPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript">
    function btnTimestampUpdate_Submit() {
        $('#imgTimestampUpdateProcessing').show();
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("AssigTimestampUpdate", "PropertyAssignment")',
                data: { claimId: '@Model.claim.ClaimId', assignmentId: '@Model.PropertyAssignment.AssignmentId', updateFieldCode: $('#hdnUpdateFieldCode').val(), note: $('#txtTimestampUpdateNote').val() },
                success: function (data) {
                    if (data == '1') {
                        $('#imgTimestampUpdateProcessing').hide();
                        AssignmentDetailsBasicUpdate();
                    }
                    else {
                        //alert(data);
                    }
                }
            });
    }
    function btnPISubmit_Click() {
        debugger;
        $('#btnPISubmit').attr('disabled', 'disabled');
        $('#divPISubmitProcessing').show();
        UnformatField('Details');
    }
    function loadManageStatusForEstimateApproved(newStatusId, pClaimId) {
        debugger;
        if ('@Model.PropertyAssignment.CSSQAAgentUserId.HasValue' == 'True') {
            $.post("@Url.Content("~/PropertyAssignment/IsCoverageReserveOrExpenseAvailable")",
        { claimId: pClaimId },
        function (data) {
            if (data == 1) {
                   loadAssignmentApproveStatusPopup(newStatusId);
            }
            else {
                alert('Kindly add Coverage Reserve and Expense Reserve Amounts before changing the status.');
            }

        });
    }
    else {
            alert('Kindly assign a QA Agent before changing the status.');
    }

    }

    function updatefilestatus(assignmentid) {
        debugger;

        var FileStatus = $('#ddlFileStatus').val();
        $("#trRetainSP").hide();//required when a file is being reopened.
        if (FileStatus > 0) {
            if (FileStatus == 7) {
                loadManageStatusForEstimateApproved(FileStatus, '@Model.claim.ClaimId');
            }
            else if (FileStatus == 11) {
                //Display Retain SP option only if the current Assignment has been assigned to an SP
                @if (Model.PropertyAssignment.OAUserID.HasValue)
                {
                    @:$("#trRetainSP").show();
                }
                loadAssignmentManageStatusPopup(FileStatus);
            }
            else {
                loadAssignmentManageStatusPopup(FileStatus);
            }
        }
    }

    function disableDetailsBasicPopup() {
        disableAssignmentManageStatusPopup();
    }
function disableDetailsBasicPopup1() {
    disableAssignmentManageStatusPopup1();
}

function disableDetailsBasicPopup2() {
    disableAssignmentManageStatusPopup2();
}
function loadAssignmentManageStatusPopup(newStatusId) {
    //element = document.getElementById('trrankradiolist');

    //if (newStatusId == '7') {


    //    element.style.display='table-row'
    // //   $('#trrankradiolist').fadeIn('slow');


    //}
    //else {
    //    element.style.display = 'none';

    //}




    document.getElementById('statusId').value = newStatusId;
    centerAssignmentManageStatusPopup();
    $("#backgroundAssignmentManageStatusPopup").css({
        "opacity": "0.7"
    });
    $("#backgroundAssignmentManageStatusPopup").fadeIn("slow");
    $("#divAssignmentManageStatus").fadeIn("slow");

}
function loadAssignmentRejectStatusPopup(newStatusId) {
   
    document.getElementById('statusId').value = newStatusId;

    document.getElementById('statusId2').value = newStatusId;
    centerAssignmentRejectStatusPopup();
    $("#backgroundAssignmentRejectStatusPopup").css({
        "opacity": "0.7"
    });
    $("#backgroundAssignmentRejectStatusPopup").fadeIn("slow");
    $("#divAssignmentRejectStatus").fadeIn("slow");

}
function loadAssignmentApproveStatusPopup(newStatusId) {


    document.getElementById('statusId1').value = newStatusId;
    document.getElementById('statusId').value = newStatusId;
    centerAssignmentApproveStatusPopup();
    $("#backgroundAssignmentApproveStatusPopup").css({
        "opacity": "0.7"
    });
    $("#backgroundAssignmentApproveStatusPopup").fadeIn("slow");
    $("#divApproveAssignmentStatus").fadeIn("slow");

}
    function disableAssignmentManageStatusPopup() {

        $("#backgroundAssignmentManageStatusPopup").fadeOut("slow");
        $("#divAssignmentManageStatus").fadeOut("slow");
        $('#statusChangeNote').val('');
    }
function disableAssignmentManageStatusPopup1() {

    $("#backgroundAssignmentApproveStatusPopup").fadeOut("slow");
    $("#divApproveAssignmentStatus").fadeOut("slow");
    // $('#statusChangeapproveNote').val('');
}

function disableAssignmentManageStatusPopup2() {

    $("#backgroundAssignmentRejectStatusPopup").fadeOut("slow");
    $("#divAssignmentRejectStatus").fadeOut("slow");
    // $('#statusChangeapproveNote').val('');
}
    function centerAssignmentManageStatusPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignmentManageStatus").height();
        var popupWidth = $("#divAssignmentManageStatus").width();
        //centering  
        $("#divAssignmentManageStatus").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundAssignmentManageStatusPopup").css({
            "height": windowHeight
        });
        return false;
}

function centerAssignmentApproveStatusPopup() {
    //request data for centering
    var windowWidth = document.documentElement.clientWidth;
    var windowHeight = document.documentElement.clientHeight;
    var popupHeight = $("#divApproveAssignmentStatus").height();
    var popupWidth = $("#divApproveAssignmentStatus").width();
    //centering  
    $("#divApproveAssignmentStatus").css({
        "position": "absolute",
        "top": windowHeight / 2 - popupHeight / 2,
        "left": windowWidth / 2 - popupWidth / 2
    });
    //only need force for IE6  

    $("#backgroundAssignmentApproveStatusPopup").css({
        "height": windowHeight
    });
    return false;
}
function centerAssignmentRejectStatusPopup() {
    //request data for centering
    var windowWidth = document.documentElement.clientWidth;
    var windowHeight = document.documentElement.clientHeight;
    var popupHeight = $("#divAssignmentRejectStatus").height();
    var popupWidth = $("#divAssignmentRejectStatus").width();
    //centering  
    $("#divAssignmentRejectStatus").css({
        "position": "absolute",
        "top": windowHeight / 2 - popupHeight / 2,
        "left": windowWidth / 2 - popupWidth / 2
    });
    //only need force for IE6  

    $("#backgroundAssignmentRejectStatusPopup").css({
        "height": windowHeight
    });
    return false;
}
    function loadAssignmentStatusPropertyInvoicePopup() {
        RCVDetail();
        centerPropertyInvoicePopup();
        $('#backgroundPropertyInvoicePopup').css({
            "opacity": "0.7"
        });
        $('#backgroundPropertyInvoicePopup').fadeIn("slow");
        $('#divPropertyInvoicePopup').fadeIn("slow");
    }
    function disablePropertyInvoicePopup() {

        $('#backgroundPropertyInvoicePopup').fadeOut("slow");
        $('#divPropertyInvoicePopup').fadeOut("slow");
        AssignmentDetailsBasicUpdate();
    }
    function centerPropertyInvoicePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divPropertyInvoicePopup').height();
        var popupWidth = $('#divPropertyInvoicePopup').width();
        //centering  
        $('#divPropertyInvoicePopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $('#backgroundPropertyInvoicePopup').css({
            "height": windowHeight
        });
        return false;
    }

    function loadTimestampUpdatePopup(UpdateFieldCode) {
        $('#hdnUpdateFieldCode').val(UpdateFieldCode);
        centerTimestampUpdatePopup();
        $('#bgTimestampUpdatePopup').css({
            "opacity": "0.7"
        });
        $('#bgTimestampUpdatePopup').fadeIn("slow");
        $('#divTimestampUpdatePopup').fadeIn("slow");
    }
    function disableTimestampUpdatePopup() {

        $('#bgTimestampUpdatePopup').fadeOut("slow");
        $('#divTimestampUpdatePopup').fadeOut("slow");
        AssignmentDetailsBasicUpdate();
    }
    function centerTimestampUpdatePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divTimestampUpdatePopup').height();
        var popupWidth = $('#divTimestampUpdatePopup').width();
        //centering  
        $('#divTimestampUpdatePopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $('#backgroundPropertyInvoicePopup').css({
            "height": windowHeight
        });
        return false;
    }
    function RCVDetail() {
        $('#divPropertyInvoiceDetails').empty();
        $("#imgProcessingPropertyInvoicedetails").show();
        $.post('@Url.Content("~/PropertyAssignmentInvoice/Details")',
                   {
                       assignmentid: '@Model.PropertyAssignment.AssignmentId', fileOpenMode: 'Edit', invoiceId: '-1'
                   },
                     function (data) {
                         $('#divPropertyInvoiceDetails').append(data);
                         $("#imgProcessingPropertyInvoicedetails").hide();
                     });

    }
    function AssignmentDetailsBasicUpdate() {

        $.post('@Url.Content("~/PropertyAssignment/AssignmentDetailsBasic")',
                               {
                                   claimid: '@Model.claim.ClaimId'
                               },
                                 function (data) {
                                     $('#divDetails').empty().append(data);
                                 });
    }
    function setAssignmentStatus() {
        //make use of .ajax and set it as sync
        var retainSP = $("#cbRetainSP").is(":checked");
    //var SPRank = $('input:radio[name=examinerRank]:checked').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PropertyAssignment/AssignmentStatusUpdate")',
        data: { assignmentid: '@Model.PropertyAssignment.AssignmentId', claimid: '@Model.claim.ClaimId', statusid: $('#statusId').val(), statusChangeNote: $('#statusChangeNote').val(), retainSP: retainSP, SPRank: 0, RejectionMark: 'true' },
            success: function (data) {
                disableAssignmentManageStatusPopup();
                $('#statusChangeNote').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });

    }
    function setAssignmentApproveStatus() {
        //make use of .ajax and set it as sync


        debugger;
        var retainSP = $("#cbRetainSP1").is(":checked");

        var SPRank = $('input:radio[name=examinerRank]:checked').val();
      //  var RejectionMark = $('input:radio[name=RejectionMark]:checked').val();
        //alert($('#statusChangeapproveNote').val());
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PropertyAssignment/AssignmentStatusUpdate")',
            data: { assignmentid: '@Model.PropertyAssignment.AssignmentId', claimid: '@Model.claim.ClaimId', statusid: $('#statusId1').val(), statusChangeNote: $('#statusChangeapproveNote').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: 'true' },
            success: function (data) {
                disableAssignmentManageStatusPopup1();
                $('#statusChangeapproveNote').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                    //location.reload();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });

    }
    function setAssignmentRejectStatus() {
        //make use of .ajax and set it as sync


        debugger;
        var retainSP = $("#cbRetainSP2").is(":checked");

        var SPRank = $('input:radio[name=examinerRank]:checked').val();

        var RejectionMark = $('input:radio[name=RejectionMark]:checked').val();
        //alert($('#statusChangeapproveNote').val());
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PropertyAssignment/AssignmentStatusUpdate")',
            data: { assignmentid: '@Model.PropertyAssignment.AssignmentId', claimid: '@Model.claim.ClaimId', statusid: $('#statusId2').val(), statusChangeNote: $('#statusChangeapproveNote2').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: RejectionMark },
            success: function (data) {
                disableAssignmentManageStatusPopup2();
                $('#statusChangeNote2').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });

    }
    //function SubmitAssignmentStatus() {
    //    debugger;
    //    if ($('#statusId').val() == 7) {
    //        disableAssignmentManageStatusPopup1();
    //if an invoice already exists prompt the user

    @*if ('@Model.claim.LOBId' == null || '@Model.claim.LOBId' == 0) {
                alert("Please set the LOB for the claim first before creating the Invoice");
                AssignmentDetailsBasicUpdate();
            }
            else {*@


    @*if ('@Model.PropertyInvoiceList.Count' != '0') {
                    if (confirm('An Invoice already exists. Do you want to create a supplement Invoice?') == true) {
                        loadAssignmentStatusPropertyInvoicePopup();
                    }
                    else {
                        setAssignmentApproveStatus();
                        AssignmentDetailsBasicUpdate();
                    }
                }
                else {
                    loadAssignmentStatusPropertyInvoicePopup();
                }*@
    // }
    //    }
    //    else if ($('#statusId').val() == 8)
    //    {
    //        setAssignmentRejectStatus();
    //        AssignmentDetailsBasicUpdate();
    //    }
    //    else {
    //        setAssignmentStatus();
    //        AssignmentDetailsBasicUpdate();
    //    }
    //}

    function SubmitAssignmentStatus() {
        $("#btnUpdateStatus").hide();
        if ($('#statusId').val() == 7) {
            
            disableAssignmentManageStatusPopup1();
            //if an invoice already exists prompt the user

            @*if ('@Model.claim.LOBId' == null || '@Model.claim.LOBId' == 0) {
                alert("Please set the LOB for the claim first before creating the Invoice");
                AssignmentDetailsBasicUpdate();
            }
        else {*@

            if ('@Model.PropertyInvoiceList.Count' != '0') {

                loadAssignConfirmationPopup();

                //if (confirm('An Invoice already exists. Do you want to create a supplement Invoice?') == true) {

                //}
                //else {

                //}

            }
            else {
                loadAssignmentStatusPropertyInvoicePopup();
            }
            // }
        }
        else if ($('#statusId').val() == 8) {
            setAssignmentRejectStatus();
            AssignmentDetailsBasicUpdate();
        }
        else {
            setAssignmentStatus();
            AssignmentDetailsBasicUpdate();
        }
    }
    function updateCANCompanyId(AssignmentID) {
        $("#imgProcessingCANCompanyId").show();
        $.post('@Url.Content("~/PropertyAssignment/BulkAssignCANCompanyPOC")',
          { assignmentIds: AssignmentID, CSSCANCompanyUserId: $('#ddlCANCompanyId').val() },
          function (data) {
              if (data > 0) {
                
                  //$('#txtPolicynumber').val('');
                  $("#imgProcessingCANCompanyId").hide();
              }
              else { $("#imgProcessingCANCompanyId").hide(); }
          });
    }

    function btnYesConfirm_Click() {
        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
        loadAssignmentStatusPropertyInvoicePopup();
    }
    function btnNoConfirm_Click() {

        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
        setAssignmentApproveStatus();
        AssignmentDetailsBasicUpdate();
    }
    function btnCancelConfirm_Click() {
        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
    }
    function disableAssignCSSPOCPopup() {

        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
    }
    function loadAssignConfirmationPopup() {

        centerAssignCSSPOCPopup();
        $("#bgAssignCSSPOC").css({
            "opacity": "0.7"
        });
        $("#bgAssignCSSPOC").fadeIn("slow");
        $("#divAssignCSSPOCPopup").fadeIn("slow");

    }
    function centerAssignCSSPOCPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignCSSPOCPopup").height();
        var popupWidth = $("#divAssignCSSPOCPopup").width();
        //centering
        $("#divAssignCSSPOCPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#bgAssignCSSPOC").css({
            "height": windowHeight
        });
        return false;
    }
    function disableAssignmentManageStatusPopup1() {
        debugger;
        $("#backgroundAssignmentApproveStatusPopup").fadeOut("slow");
        $("#divApproveAssignmentStatus").fadeOut("slow");
        // $('#statusChangeapproveNote').val('');
    }
</script>
<table width="100%">
    <tr>
        <td width="150" nowrap="nowrap"><b>Status:</b>  </td>
        <td width="100%">
            @{
                
                IQueryable<BLL.AssignmentStatu> statusQuery = css.AssignmentStatus.Where(x => x.StatusId == Model.PropertyAssignment.FileStatus);
                if (statusQuery.ToList().Count != 0)
                {
                    BLL.AssignmentStatu status = statusQuery.First();
                
                @:@status.StatusDescription
                                                                                                                                }
                
                
            }
        </td>
    </tr>

    <tr>
        <td class="tableRowAlternate" width="150" nowrap="nowrap"><b>Assignment Received:</b>  </td>
        <td class="tableRowAlternate" width="100%">
            @{
            if (Model.PropertyAssignment != null)
            {
                if (Model.PropertyAssignment.dateRecieved.HasValue)
                {
                    @Model.PropertyAssignment.dateRecieved.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }

    </td>
</tr>
<tr>
    <td nowrap="nowrap"><b>Assignment Accepted:</b>  </td>
    <td>
        @{
        bool displayUpdateDateAccepted = true;

        if (Model.PropertyAssignment != null)
        {
            if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2))
            {
                displayUpdateDateAccepted = false;

            }
            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
            {
                displayUpdateDateAccepted = false;
            }
            if (displayUpdateDateAccepted)
            {
                @:<a href="#" onclick="loadAssignmentManageStatusPopup(3)">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.DateAccepted.HasValue)
                {
                    @Model.PropertyAssignment.DateAccepted.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }

    }
</td>
</tr>
<tr>
    <td class="tableRowAlternate" nowrap="nowrap"><b>Customer Contacted:</b>  </td>
    <td class="tableRowAlternate">
        @{
        bool displayUpdateContactDate = true;
        if (Model.PropertyAssignment != null)
        {
            if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3))
            {
                displayUpdateContactDate = false;

            }
            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
            {
                displayUpdateContactDate = false;
            }
            if (displayUpdateContactDate)
            {
                @:<a href="#" onclick="loadAssignmentManageStatusPopup(4)">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.ContactDate.HasValue)
                {
                    @Model.PropertyAssignment.ContactDate.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }

    }
</td>
</tr>
<tr>
    <td nowrap="nowrap"><b>Site Inspected:</b>  </td>
    <td>
        @{
        bool displayUpdateSiteInspectionDate = true;
        if (Model.PropertyAssignment != null)
        {
            if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4))
            {
                displayUpdateSiteInspectionDate = false;

                }

                if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
                {
                    displayUpdateSiteInspectionDate = false;
                }
                if (displayUpdateSiteInspectionDate)
                {
            @:<a href="#" onclick="loadAssignmentManageStatusPopup(5)">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.InspectionDate.HasValue)
                {
                    @Model.PropertyAssignment.InspectionDate.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }
    }
</td>
</tr>
<tr class="tableRowAlternate">
    <td nowrap="nowrap"><b>Status Report Received:</b>  </td>
    <td>
        @{
        bool displayUpdateSRRDate = true;
        if (Model.PropertyAssignment != null)
        {
            //if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5))
            if (Model.PropertyAssignment.StatusReportReceivedOn.HasValue)
            {
                displayUpdateSRRDate = false;

                }

            if (!(loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)1)))
            {
                displayUpdateSRRDate = false;
            }
            if (displayUpdateSRRDate)
            {
                @:<a href="#" onclick="loadTimestampUpdatePopup('SRR')">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.StatusReportReceivedOn.HasValue)
                {
                    @Model.PropertyAssignment.StatusReportReceivedOn.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }
    }
</td>
</tr>
<tr>
    <td nowrap="nowrap"><b>Estimate Returned:</b>  </td>
    <td>
        @{
        bool displayEstimateReturned = true;
        if (Model.PropertyAssignment != null)
        {
            if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5 || Model.PropertyAssignment.FileStatus == 7 || Model.PropertyAssignment.FileStatus == 8 || Model.PropertyAssignment.FileStatus == 16))
            {
                displayEstimateReturned = false;

            }

            if (!(loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)1)))
            {
                displayEstimateReturned = false;
            }
            if (displayEstimateReturned)
            {
                @:<a href="#" onclick="loadAssignmentManageStatusPopup(6,@Model.claim.ClaimId)">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.FinalDateReturned.HasValue)
                {
                    @Model.PropertyAssignment.FinalDateReturned.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }
    }


</td>
</tr>

<tr class="tableRowAlternate">
    <td nowrap="nowrap"><b>Estimate Approved:</b>  </td>
    <td>
        @{

        bool displayUpdateDateApproved = true;
        if (Model.PropertyAssignment != null)
        {
            if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5 || Model.PropertyAssignment.FileStatus == 6 || Model.PropertyAssignment.FileStatus == 16))
            {
                displayUpdateDateApproved = false;
            }
            if (!(loggedInUser.UserTypeId == 2))
            {
                displayUpdateDateApproved = false;
            }
            if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)) && Model.PropertyAssignment.IsAccepted == true)
            {
                displayUpdateDateApproved = true;
            }
            if (displayUpdateDateApproved)
            {
                @:<a href="#" onclick="loadManageStatusForEstimateApproved(7,@Model.claim.ClaimId)">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.FinalDateApprovedRejected.HasValue && Model.PropertyAssignment.FileStatus != 8)
                {
                    @Model.PropertyAssignment.FinalDateApprovedRejected.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }

    }
</td>
</tr>
<tr>
    <td nowrap="nowrap"><b>Estimate Rejected:</b>  </td>
    <td>
        @{
        bool displayUpdateDateUnApproved = true;
        if (Model.PropertyAssignment != null)
        {
            if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5 || Model.PropertyAssignment.FileStatus == 6 || Model.PropertyAssignment.FileStatus == 16))
            {
                displayUpdateDateUnApproved = false;

            }
            if (!(loggedInUser.UserTypeId == 2))
            {
                displayUpdateDateUnApproved = false;
            }
            if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)) && Model.PropertyAssignment.IsAccepted == true)
            {
                displayUpdateDateUnApproved = true;
            }

            if (displayUpdateDateUnApproved)
            {
                @:<a href="#" onclick="loadAssignmentRejectStatusPopup(8)">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.FinalDateApprovedRejected.HasValue && Model.PropertyAssignment.FileStatus == 8)
                {
                    @Model.PropertyAssignment.FinalDateApprovedRejected.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }

    }
</td>
</tr>
<tr class="tableRowAlternate">
    <td nowrap="nowrap"><b>Estimate Hold:</b></td>
    <td>
        @{
        bool displayUpdateDateHold = true;
        if (Model.PropertyAssignment != null)
        {

            if (!(loggedInUser.UserTypeId == 2))
            {
                displayUpdateDateHold = false;
            }
            if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)) && Model.PropertyAssignment.IsAccepted == true)
            {
                displayUpdateDateHold = true;
            }
            if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5 || Model.PropertyAssignment.FileStatus == 6 || Model.PropertyAssignment.FileStatus == 15))
            {
                displayUpdateDateHold = false;

                }
                if (displayUpdateDateHold)
                {
            @:<a href="#" onclick="loadAssignmentManageStatusPopup(16)">Update</a>
            }
            else
            {
                if (Model.PropertyAssignment.DateEstimateHold.HasValue && Model.PropertyAssignment.FileStatus == 16)
                {
                    @Model.PropertyAssignment.DateEstimateHold.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                }
            }
        }

    }
</td>
</tr>
@*<tr>
            <td nowrap="nowrap"><b>CAN Assigned:</b>  </td>
            <td>
                @{
                bool displayCANOfferSelectedDate = true;
                if (Model.claim != null)
                {
                    //if (!(Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 2 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5 || Model.PropertyAssignment.FileStatus == 6 || Model.PropertyAssignment.FileStatus == 16))
                    //{
                    //    displayUpdateJobSoldDate = false;

                //}
                if (Model.claim.IsCANOfferSelected.HasValue && Model.claim.IsCANOfferSelected.Value)
                {
                    displayCANOfferSelectedDate = false;
                }
                //if (!(loggedInUser.UserTypeId == 2))
                //{
                //    displayCANOfferSelectedDate = false;
                //}
                //if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)) && Model.PropertyAssignment.IsAccepted == true)
                //{
                //    displayCANOfferSelectedDate = true;
                //}

                if (displayCANOfferSelectedDate)
                {
                    @:<a href="#" onclick="loadAssignmentManageStatusPopup(18)">Update</a>
            }
                else
                {
                    if (Model.claim.CANOfferSelectedDate.HasValue)
                    {
                        @Model.claim.CANOfferSelectedDate.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                    }
                }
            }

        }
    </td>
</tr>
@{
    if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 13)
    {
        <tr>
            <td nowrap="nowrap"><b>Assign CAN Company:</b>  </td>
            <td>
                @{
        //bool displayAssignCANCompany = true;
        if (Model.PropertyAssignment != null)
        {
            @Html.DropDownListFor(model => model.pa.CANCompanyId, Model.CANCompanyPOCList, new { @id = "ddlCANCompanyId", style = "width: 170px;" })
                <text>&nbsp; </text>
                <a href="#" style="cursor:pointer;font-size:small" onclick="updateCANCompanyId('@Model.PropertyAssignment.AssignmentId')">Update</a>
                <text>&nbsp; </text>
                <img id="imgProcessingCANCompanyId" src="~/Content/Images/progress01.gif" height="15" width="15" style="vertical-align: middle; display: none;" alt="Loding..." />

        }

            }
        </td>
    </tr>
    }
}*@
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        @{
            if (loggedInUser.UserTypeId == 2)
            {
            <td nowrap="nowrap"><b>Change Status:</b></td>
            <td>
                @Html.DropDownListFor(model => model.pa.FileStatus, Model.FileStatusList, new { style = "width:150px;", id = "ddlFileStatus" })&nbsp;
              <a href="#" onclick="updatefilestatus(@Model.PropertyAssignment.AssignmentId)">Update Status</a>

            </td>
            }
        }

    </tr>
</table>
<div id="backgroundAssignmentManageStatusPopup" onclick="disableDetailsBasicPopup()"></div>
<div id="backgroundAssignmentApproveStatusPopup" onclick="disableDetailsBasicPopup1()"></div>
<div id="backgroundAssignmentRejectStatusPopup" onclick="disableDetailsBasicPopup2()"></div>
<div id="divAssignmentManageStatus" class="EditPopup">
    @using (Html.BeginForm("AssignmentStatusUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssignmentRejectStatusUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Update Property Assignment Status</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableDetailsBasicPopup()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="claimId" name="claimId" value="@Model.claim.ClaimId" />
                    <input type="hidden" id="assignmentId" name="assignmentId" value="@Model.PropertyAssignment.AssignmentId" />
                    <input type="hidden" id="statusId" name="statusId" />
                    <table width="100%">
                        <tr id="trRetainSP" style="display: none;">
                            <td colspan="2">
                                @Html.CheckBox("RetainSP", true, new { @id = "cbRetainSP" }) Retain Service Provider after Reopen<br />
                                <br />
                            </td>
                        </tr>
                        @*<tr valign="top" id="trrankradiolist" style="display:none">
                            <td>Rank:</td>
                            <td>
                                <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.Rank == 1 ? true : false)" />1&nbsp;
                                <input id="rb2" type="radio" name="examinerRank" value="2"  checked="@(Model.Rank == 2 ? true : false)"  />2&nbsp;
                                <input id="rb3" type="radio" name="examinerRank" value="3"  checked="@(Model.Rank == 3 ? true : false)"  />3&nbsp;
                                <input id="rb4" type="radio" name="examinerRank" value="4"  checked="@(Model.Rank == 4 ? true : false)"  />4&nbsp;
                                <input id="rb5" type="radio" name="examinerRank" value="5"  checked="@(Model.Rank == 5 ? true : false)"  />5
                            </td>
                        </tr>*@
                        <tr valign="top">
                            <td align="right">Notes:</td>
                            <td width="100%">
                                <textarea id="statusChangeNote" name="statusChangeNote" style="width: 98%" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Update" id="btnUpdateStatus"  class="buttonYellow_100" onclick="SubmitAssignmentStatus();" />
                </td>
            </tr>
        </table>
    }
</div>


<div id="divAssignmentRejectStatus" class="EditPopup">
    @using (Html.BeginForm("AssignmentStatusUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssignmentStatusUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Update Property Assignment Status</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableDetailsBasicPopup2()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="claimId2" name="claimId" value="@Model.claim.ClaimId" />
                    <input type="hidden" id="assignmentId2" name="assignmentId" value="@Model.PropertyAssignment.AssignmentId" />
                    <input type="hidden" id="statusId2" name="statusId" />
                    <table width="100%">
                        <tr id="trRetainSP2" style="display: none;">
                            <td colspan="2">
                                @Html.CheckBox("RetainSP2", true, new { @id = "cbRetainSP2" }) Retain Service Provider after Reopen<br />
                                <br />
                            </td>
                        </tr>

                        <tr>
                            <td width="18%" align="left">
                                Count in Rejection Metrics:
                            </td>
                            <td align="left">
                               @*  @{
                                    var check1="";
                                    if(Model.RejectionMark==true)
                                    {
                                        check1 = "checked=true";
                                    }
                                    
                                  
                                        
                                        
                                }*@
                                <input  type="radio" id="rbreject1" name="RejectionMark" value="true" checked="@(Model.RejectionMark == true ? true : false)" />Yes
                                <input type="radio" id="rbreject2" name="RejectionMark" value="false" checked="@(Model.RejectionMark == false? true : false)" />No
                            </td>
                        </tr>
                        @*<tr valign="top" id="trrankradiolist" style="display:none">
                            <td>Rank:</td>
                            <td>
                                <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.Rank == 1 ? true : false)" />1&nbsp;
                                <input id="rb2" type="radio" name="examinerRank" value="2"  checked="@(Model.Rank == 2 ? true : false)"  />2&nbsp;
                                <input id="rb3" type="radio" name="examinerRank" value="3"  checked="@(Model.Rank == 3 ? true : false)"  />3&nbsp;
                                <input id="rb4" type="radio" name="examinerRank" value="4"  checked="@(Model.Rank == 4 ? true : false)"  />4&nbsp;
                                <input id="rb5" type="radio" name="examinerRank" value="5"  checked="@(Model.Rank == 5 ? true : false)"  />5
                            </td>
                        </tr>*@
                        <tr valign="top">
                            <td align="right">Notes:</td>
                            <td width="100%">
                                <textarea id="statusChangeNote2" name="statusChangeNote" style="width: 98%" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Update" id="btnUpdateStatus" class="buttonYellow_100" onclick="SubmitAssignmentStatus();" />
                </td>
            </tr>
        </table>
    }
</div>


<div id="divApproveAssignmentStatus" class="EditPopup">
    @using (Html.BeginForm("AssignmentStatusUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssignmentApproveStatusUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Update Property Assignment Status</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableDetailsBasicPopup1()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="claimId1" name="claimId" value="@Model.claim.ClaimId" />
                    <input type="hidden" id="assignmentId1" name="assignmentId" value="@Model.PropertyAssignment.AssignmentId" />
                    <input type="hidden" id="statusId1" name="statusId" />
                    <table width="100%" cellspacing="15">
                        <tr id="trRetainSP1" style="display: none;">
                            <td colspan="2">
                                @Html.CheckBox("RetainSP1", true, new { @id = "cbRetainSP1" }) Retain Service Provider after Reopen<br />
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="100%">
                                <table cellspacing="0" border="1" style="width: 96%;margin-left:20px;border-style:solid">

                                    <tr>


                                        <td width="100" style="text-align:center">
                                            <b>#DaysToContact</b>
                                        </td>


                                        <td width="100" style="text-align:center">
                                            <b>#DaysToInspect</b>
                                        </td>
                                        <td width="100" style="text-align:center">
                                            <b>#DaysToUpload</b>
                                        </td>
                                        <td width="100" style="text-align:center">
                                            <b># of times file rejected</b>

                                        </td>



                                    </tr>
                                    <tr>
                                        <td style="text-align:center">@Model.DaysToContact</td>
                                        <td style="text-align:center">@Model.DaysToInspect</td>
                                        <td style="text-align:center">@Model.DaysToUpload</td>
                                        <td style="text-align:center">@Model.RejectionCount</td>

                                    </tr>



                          

                        </table>


                            </td>

                        </tr>
                        <tr valign="top" id="trrankradiolist">
                                <td colspan="2" width="100%">
                                        <table cellspacing="7"  style="width: 96%;margin-left:20px;border:none;">
                                            <tr>
                                                <td colspan="2" style="padding-left:45px" align="left">
                                                    Please rank SP for overall satisfaction on this particular claim
                                                </td>
                                            </tr>

                            <tr>

                            @*<td>Please rank SP for overall satisfaction on this particular claim</td>*@
                            <td width="100%" colspan="2" style="padding-left:42px" align="left">

                                @{
                                    var check="";
                                    if(Model.CheckApprovedDate==1)
                                    {
                                        check = "disabled=disabled";
                                    }
                                  
                                        
                                        
                                }
                                <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.Rank == 1 ? true : false)" @check/>1&nbsp;
                                <input id="rb2" type="radio" name="examinerRank" value="2"  checked="@(Model.Rank == 2 ? true : false)"  @check/>2&nbsp;
                                <input id="rb3" type="radio" name="examinerRank" value="3"  checked="@(Model.Rank == 3 ? true : false)"  @check />3&nbsp;
                                <input id="rb4" type="radio" name="examinerRank" value="4"  checked="@(Model.Rank == 4 ? true : false)"  @check />4&nbsp;
                                <input id="rb5" type="radio" name="examinerRank" value="5"  checked="@(Model.Rank == 5 ? true : false)"  @check/>5
                            </td>
                        </tr>
                        <tr valign="top">

                                        <td align="center">Notes:</td>
                                        <td width="100%">
                                            <textarea id="statusChangeapproveNote" name="statusChangeapproveNote" style="width: 98%" rows="5">@Model.ApprovalComment</textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Update" id="btnUpdateStatus" class="buttonYellow_100" onclick="SubmitAssignmentStatus();" />
                </td>
            </tr>
        </table>
    }
</div>
<div id="bgTimestampUpdatePopup" onclick="disableTimestampUpdatePopup()"></div>
<div id="divTimestampUpdatePopup" class="TimestampUpdatePopup">
    @using (Html.BeginForm("AssigTimestampUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssigTimestampUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Timestamp Update</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableTimestampUpdatePopup()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="hdnUpdateFieldCode" name="updateFieldCode" />
                    <table width="100%">
                        <tr valign="top">
                            <td align="right">Notes:</td>
                            <td width="100%">
                                <textarea id="txtTimestampUpdateNote" name="TimestampUpdateNote" style="width: 98%" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <img id="imgTimestampUpdateProcessing" src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="display:none;vertical-align: middle;padding-right:5px;" alt="Updating" />
                    <input type="button" value="Update" class="buttonYellow_100" onclick="btnTimestampUpdate_Submit()" />
                </td>
            </tr>
        </table>
    }
</div>
<div id="divPropertyInvoicePopup" class="EditPropertyInvoicePopup" style="width: 78%;">
    @using (@Html.BeginForm("SubmitPropertyInvoice", "PropertyAssignmentInvoice", new { returnToPage = "ManageStatus" }, FormMethod.Post, new { @id = "frmInvoice" }))
    {
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Property Invoice</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePropertyInvoicePopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <img id="imgProcessingPropertyInvoicedetails" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                            <div id="divPropertyInvoiceDetails" style="overflow-y: scroll; height: 500px;">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer" style="text-align: right">
                <table>
                    <tr>
                        <td nowrap="nowrap" width="100%" align="right">
                            <div id="divPISubmitProcessing" style="display: none; width: 100%">
                                <img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;padding-right:5px;" alt="loading" />
                            </div>
                        </td>
                        <td>
                            <input id="btnPISubmit" type="button" class="buttonLightYellow_100" value="Submit" onclick="btnPISubmit_Click()" />
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    }
</div>
<div id="backgroundPropertyInvoicePopup" onclick="disablePropertyInvoicePopup()"></div>

<div id="bgAssignCSSPOC" onclick="disableAssignCSSPOCPopup();"></div>
<div id="divAssignCSSPOCPopup" class="AssignCSSPOCPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Confirmation</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignCSSPOCPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center" style=" font-size: large; padding: 14px;">
                An Invoice already exists. Do you want to create a supplement Invoice?
            </td>
        </tr>


        <tr>
            <td class="footer" style="text-align: center">
                <input type="button" value="Yes" class="buttonYellow_100" onclick="btnYesConfirm_Click()" />&nbsp;&nbsp;
                <input type="button" value="No" class="buttonYellow_100" onclick="btnNoConfirm_Click()" />&nbsp;&nbsp;
                <input type="button" value="Cancel" class="buttonYellow_100" onclick="btnCancelConfirm_Click()" />
                <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />


            </td>
        </tr>
    </table>

</div>
