﻿@model BLL.ViewModels.AssignmentJobsViewModel
@{
   CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Documents</td>
        </tr>
        <tr>
            <td class="content">
                <table width="100%">
                    <tr>
                        <td class="borderRightLightGray" style="padding-right:10px;" valign="top">
                            Document Types
                            <ul>

                                @{
                                   
                                    foreach (BLL.ClaimDocumentType cdt in Model.ClaimDocumentTypeList)
                                    {
                                        @*<li>@Ajax.ActionLink(cdt.DocumentTypeDesc, "ClaimDocumentsList", new { assignmentId = Model.PropertyAssignment.AssignmentId, documentTypeId = cdt.DocumentTypeId }, new AjaxOptions { UpdateTargetId="divDocumentsList" })</li>*@
                                        @*<li><a href="#" onclick="getDocumentsList('@Model.propertyassignment.ClaimId','@Model.propertyassignment.AssignmentId','@Model.AssignmentJob.JobId','@cdt.DocumentTypeId')">@cdt.DocumentTypeDesc</a></li>*@
                                        if (loggedInUser.UserTypeId == 12 && cdt.DocumentTypeId==8)
                                        {
                                            
                                        }
                                        else { 
                                         <li><a href="#" onclick="getDocumentsList('@Model.propertyassignment.ClaimId','@Model.propertyassignment.AssignmentId','@cdt.DocumentTypeId')">@cdt.DocumentTypeDesc</a></li>
                                       }
                                }
}

                            </ul>
                        </td>
                        <td valign="top" width="100%">
                          
                            <div id="divDocumentsListLoading" style="display:none;"><img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...</div>
                            <div id="divDocumentsList"></div>
                        </td>
                        
                    </tr>
                </table>
            </td>
        </tr>
        @*<tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="left">


                            <div style="float: left">
                                <input type="button" class="buttonLightYellow_100" value="Return to claim" onclick="window.location.href='@Url.Action("Details", "PropertyAssignment", new { claimid = Model.Claim.ClaimId})';" />

                            </div>


                        </td>

                    </tr>
                </table>
            </td>
        </tr>*@
    </table>

</div>
