﻿@model BLL.ViewModels.AssignmentJobsViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div>
    @* <table width="100%">

        <tr>
            <td class="content">*@


    @* <table width="100%">

            <tr>
                <td width="20%">
                    <b>Claim Number
                    </b></td>
                <td>
                    @Model.claim.ClaimNumber</td>
            </tr>
            <tr>
                <td width="20%">
                    <b>CAT Code
                    </b></td>
                <td>
                    @Model.claim.CatCode</td>
            </tr>
            <tr>
                <td>
                    <b>Claim Date</b></td>
                <td>
                    @{
                        string ClaimDate = "";

                        if (Model.claim.ClaimCreatedDate != null)
                        {
                            ClaimDate = CSS.Utility.getDateInDefaultFormat(Model.claim.ClaimCreatedDate.Value);
                        }
                    }
                    @ClaimDate</td>
            </tr>
            <tr>
                <td>
                    <b>Total Deductible</b></td>
                <td>
                    @Model.claim.TotalDeductible</td>
            </tr>
            <tr>
                <td>
                    <b>Cause Type of Loss</b></td>
                <td>
                    @Model.claim.CauseTypeOfLoss</td>
            </tr>
            <tr>
                <td>
                    <b>Date of Loss</b></td>
                <td>
                    @{
                        string DateofLoss = "";

                        if (Model.claim.DateofLoss != null)
                        {
                            DateofLoss = CSS.Utility.getDateInDefaultFormat(Model.claim.DateofLoss.Value);
                        }
                    }
                    @DateofLoss
                </td>
            </tr>

            <tr>
                <td>
                    <b>Insured 1 Name</b></td>
                <td>
                    @Html.Encode(Model.claim.InsuredFirstName) @Html.Encode(Model.claim.InsuredLastName)</td>
            </tr>
            <tr>
                <td>
                    <b>Insured 1 Address</b></td>
                <td>
                    @Model.claim.InsuredAddress1 @Model.claim.InsuredAddress2 @Model.claim.InsuredCity @Model.claim.InsuredState @Model.claim.InsuredZip</td>
            </tr>
            <tr>
                <td>
                    <b>Carrier ID</b></td>
                <td>
                    @Model.claim.CarrierID</td>
            </tr>
            <tr>
                <td>
                    <b>Rotation Trade</b></td>
                <td>
                    @Model.claim.RotationTrade</td>
            </tr>
            <tr>
                <td>
                    <b>Job Size Code</b></td>
                <td>
                    @Model.claim.JobSizeCode</td>
            </tr>
        </table>*@
    @*     </td>
            </tr>
            <tr>
                <td class="subFooter">
                    <br />
                </td>
            </tr>
        </table>*@

</div>
<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Policy Information</td>
        </tr>
        <tr>
            <td class="content">


                <table width="100%">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td align="left" valign="top" width="50%" style="padding-right: 5px;">
                                        <table width="100%" cellspacing="0">

                                            <tr>
                                                <td width="150" nowrap="nowrap" class="tableRowAlternate">
                                                    <b>
                                                        Policy
                                                    </b>#<b>:</b>
                                                </td>
                                                <td width="100%" class="tableRowAlternate">
                                                    @Model.Claim.PolicyNumber
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">
                                                    <b>Policy Effective Date:</b><br />
                                                </td>
                                                <td>
                                                    @(Model.Claim.PolicyEffectiveDate.HasValue ? Model.Claim.PolicyEffectiveDate.Value.ToString("MM/dd/yyyy") : "")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" class="tableRowAlternate">
                                                    <b>Policy Type:</b>
                                                </td>
                                                <td class="tableRowAlternate">
                                                    @Model.Claim.PolicyType
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left" valign="top" width="50%">
                                        <table width="100%" cellspacing="0">

                                            <tr>
                                                <td width="150" nowrap="nowrap" align="left" class="tableRowAlternate"
                                                    valign="top">
                                                    <b>Policy Inception Date:</b>
                                                </td>
                                                <td width="100%" align="left" class="tableRowAlternate" valign="top">
                                                    @(Model.Claim.PolicyInceptionDate.HasValue ? Model.Claim.PolicyInceptionDate.Value.ToString("MM/dd/yyyy") : "")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" align="left" valign="top">
                                                    <b>Policy Expiration Date:</b>
                                                </td>
                                                <td align="left" valign="top">
                                                    @(Model.Claim.PolicyExpirationDate.HasValue ? Model.Claim.PolicyExpirationDate.Value.ToString("MM/dd/yyyy") : "")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" align="left" class="tableRowAlternate" valign="top">
                                                    <b>Is Single Deductible:</b>
                                                </td>
                                                <td align="left" class="tableRowAlternate" valign="top">
                                                    @(Model.Claim.IsSingleDeductible.HasValue ? Model.Claim.IsSingleDeductible.Value ? "Yes" : "No" : "No")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                                <tr class="tableHeader">
                                    <td width="14%" nowrap="nowrap">
                                        <b>
                                            Coverage Name
                                        </b>
                                    </td>
                                    <td width="14%" nowrap="nowrap">
                                        <b>
                                            Coverage Type
                                        </b>
                                    </td>
                                    <td width="14%" nowrap="nowrap">
                                        <b>
                                            Coverage Limit
                                        </b>
                                    </td>
                                    <td width="18%" nowrap="nowrap">
                                        <b>
                                            Coverage Deductible
                                        </b>
                                    </td>
                                    <td width="14%" nowrap="nowrap">
                                        <b>
                                            Coverage Reserve
                                        </b>
                                    </td>
                                    <td width="14%" nowrap="nowrap">
                                        <b>
                                            RCV
                                        </b>
                                    </td>
                                    <td width="14%" nowrap="nowrap">
                                        <b>
                                            ACV
                                        </b>
                                    </td>
                                    @*<td width="14%" nowrap="nowrap"><b>Expense Reserve
                                        </b></td>*@
                                </tr>
                                @{
                                    var ClaimCoverages = css.ClaimCoverages.Where(prop => prop.ClaimId == Model.Claim.ClaimId);
                                    int claimCoveragesRowIndex = 0;
                                    foreach (var ClaimCoverage in ClaimCoverages)
                                    {
                                        claimCoveragesRowIndex++;
                                        <tr>
                                            <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                @ClaimCoverage.CoverageName
                                            </td>
                                            <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                @{
                                        if (ClaimCoverage.CoverageType != null)
                                        {
                                            if (ClaimCoverage.CoverageType != "0")
                                            {
                                                BLL.CoverageType coverageType = css.CoverageTypes.Find(Convert.ToInt16(ClaimCoverage.CoverageType));
                                                if (coverageType != null)
                                                {
                                                    @coverageType.CoverageType1
                                                }
                                            }
                                        }
                                                }

                                            </td>
                                            <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                @ClaimCoverage.CoverageLimit
                                            </td>
                                            <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                @ClaimCoverage.CoverageDeductible
                                            </td>
                                            <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                @(ClaimCoverage.COV_Reserves ==null? 0: ClaimCoverage.COV_Reserves)
                                            </td>
                                            <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                @ClaimCoverage.COV_RCV
                                            </td>
                                            <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                @ClaimCoverage.COV_ACV
                                            </td>
                                            @*<td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                    @(ClaimCoverage.ExpenseReserve.HasValue ? ClaimCoverage.ExpenseReserve + "" : "")
                                                </td>*@
                                        </tr>
                                    }
                                                    if (ClaimCoverages.ToList().Count > 0)
                                                    {
                                                        <tr>
                                                            <td colspan="3"></td>
                                                            <td class="tableRowAlternate"><b>Total Reserves</b></td>
                                                            <td class="tableRowAlternate">
                                                                <b>
                                                                    @{
                                                                        var totalreserves = "0";
                                                                        if (ClaimCoverages.Sum(x => x.COV_Reserves).HasValue)
                                                                        {
                                                                            totalreserves = ClaimCoverages.Sum(x => x.COV_Reserves).Value.ToString();
                                                                            //totalreserves = "0";
                                                                        }
                                                                        else
                                                                        {
                                                                            totalreserves = "0";
                                                                            // totalreserves = ClaimCoverages.Sum(x => x.COV_Reserves).Value.ToString();
                                                                        }
                                                                        // totalreserves = (ClaimCoverages.Sum(x => x.COV_Reserves).Value != 0 ? ClaimCoverages.Sum(x => x.COV_Reserves).Value.ToString() : "0");
                                                                    }
                                                                    @(totalreserves != null ? totalreserves : "0")
                                                                </b>
                                                            </td>
                                                            <td colspan="2"></td>
                                                        </tr>
                                                                        }
                                    if (claimCoveragesRowIndex == 0)
                                    {
                                        <tr>
                                            <td colspan="7" align="center">
                                                <br />
                                                - No Records -
                                                <br />
                                                <br />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="400">
                                <tr class="tableHeader">
                                    <td nowrap="nowrap">Mortgage Holder</td>
                                    <td nowrap="nowrap">Loan Number</td>
                                </tr>
                                @{
                                    List<BLL.ClaimMortgage> claimMortgageList = css.ClaimMortgages.Where(x => x.ClaimId == Model.Claim.ClaimId).ToList();
                                    int claimMortgagesRowIndex = 0;
                                    foreach (var mortgage in claimMortgageList)
                                    {
                                        <tr>
                                            <td width="100%" @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@mortgage.MortgageHolder</td>
                                            <td nowrap="nowrap" @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@mortgage.LoanNumber</td>
                                        </tr>
                                        claimMortgagesRowIndex++;
                                    }

                                    if (claimMortgagesRowIndex == 0)
                                    {
                                        <tr>
                                            <td colspan="2" align="center">
                                                - No Records -<br />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
    </table>
</div>
<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Claim Information</td>
        </tr>
        <tr>
            <td class="content">

                <table width="100%">
                    <tr>
                        <td align="left" valign="top" style="padding-right: 5px;" width="50%">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <b>Primary Contact:</b>
                                    </td>
                                    <td width="100%">
                                        @{
                                            string primaryContactPerson = "";
                                            if (String.IsNullOrEmpty(Model.Claim.PropertyContactName))
                                            {
                                                primaryContactPerson = Model.Claim.InsuredFirstName + " " + Model.Claim.InsuredLastName;
                                            }
                                            else
                                            {
                                                primaryContactPerson = Model.Claim.PropertyContactName;
                                            }
                                            @primaryContactPerson
                                        }



                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                        <b>Insured First Name:</b>
                                    </td>
                                    <td width="100%" class="tableRowAlternate">
                                        @Model.Claim.InsuredFirstName
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Address 1:</b>
                                    </td>
                                    <td>
                                        @Model.Claim.InsuredAddress1
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured State:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.Claim.InsuredState
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Home Phone:</b>
                                    </td>
                                    <td>
                                        @Model.Claim.InsuredHomePhone
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured Mobile Phone:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.Claim.InsuredMobilePhone
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="left" valign="top" width="50%" cellspacing="0">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <br />
                                    </td>
                                    <td width="100%"></td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                        <b>Insured Last Name:</b>
                                    </td>
                                    <td width="100%" class="tableRowAlternate">
                                        @Model.Claim.InsuredLastName
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Address 2:</b>
                                    </td>
                                    <td>
                                        @Model.Claim.InsuredAddress2
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured City:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.Claim.InsuredCity
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Zip:</b>
                                    </td>
                                    <td>
                                        @Model.Claim.InsuredZip
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured Business Phone:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.Claim.InsuredBusinessPhone
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <strong>Insured Email:</strong>
                                    </td>
                                    <td>
                                        @if (loggedInUser.UserTypeId != 11)
                                        {
                                            <a href="#" onclick="OpenemailUtility('@Model.Claim.InsuredEmail','<b>Mobile:</b> @Model.Claim.InsuredMobilePhone <b>Business:</b> @Model.Claim.InsuredBusinessPhone <b>Home:</b> @Model.Claim.InsuredHomePhone','Insured Name:@Html.Encode(Model.Claim.InsuredFirstName) @Html.Encode(Model.Claim.InsuredLastName) - Claim Number: @Model.Claim.ClaimNumber');">@Model.Claim.InsuredEmail</a>
                                        }
                                        else
                                        {
                                            @:@Model.Claim.InsuredEmail
                                                                                 }

                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
    </table>

</div>

<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Loss Information</td>
        </tr>
        <tr>
            <td class="content">

                <table width="100%">
                    <tr>
                        <td align="left" valign="top" style="padding-right: 5px;" width="50%">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Property Contact Name:</b>
                                    </td>
                                    <td class="tableRowAlternate">@Model.Claim.PropertyContactName</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <b>Type of Loss:</b>
                                    </td>
                                    <td width="100%">
                                        @{
                                        if (Model.Claim.CauseTypeOfLoss.HasValue)
                                        {
                                            BLL.LossType lossType = css.LossTypes.Find(Model.Claim.CauseTypeOfLoss.Value);
                                            if (lossType != null)
                                            {
                                                @lossType.LossType1
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" class="tableRowAlternate">
                                    <b>Address 1:</b>
                                </td>
                                <td class="tableRowAlternate">@Model.Claim.PropertyAddress1</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">
                                    <b>State :</b>
                                </td>
                                <td>@Model.Claim.PropertyState</td>
                            </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Location:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @if (Model.Claim.PropertyLatitude.HasValue && Model.Claim.PropertyLongitude.HasValue)
                                        {
                                            @(Model.Claim.PropertyLatitude + "," + Model.Claim.PropertyLongitude);
                                        }
                                    </td>
                                </tr>
                        </table>
                    </td>
                    <td align="left" valign="top" width="50%">
                        <table width="100%" cellspacing="0">
                            <tr>
                                <td nowrap="nowrap" class="tableRowAlternate">
                                    <b>Property Contact Phone:</b>
                                </td>
                                <td class="tableRowAlternate">@Model.Claim.PropertyContactPhone</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" width="150">
                                    <b>Loss Date:</b>
                                </td>
                                <td width="100%">@(Model.Claim.DateofLoss.HasValue ? Model.Claim.DateofLoss.Value.ToString("MM/dd/yyyy hh:mm tt") : "")</td>

                            </tr>
                            <tr>
                                <td nowrap="nowrap" class="tableRowAlternate">
                                    <b>Address 2:</b>
                                </td>
                                <td class="tableRowAlternate">@Model.Claim.PropertyAddress2</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">
                                    <b>City:</b>
                                </td>
                                <td>@Model.Claim.PropertyCity</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" class="tableRowAlternate">
                                    <b>Zip:</b>
                                </td>
                                <td class="tableRowAlternate">@Model.Claim.PropertyZip</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>


        </td>
    </tr>
    <tr>
        <td class="subFooter">
            <br />
        </td>
    </tr>
</table>

</div>

