﻿@model BLL.ViewModels.XactAssignmentSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}


<style>
     .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
     #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 50px;
        overflow-y: scroll;
        position: absolute;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
             #ServiceTypescheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 15%;
        overflow-y: scroll;
        position: absolute;
          z-index:999999;
    }
    #ServiceTypescheckboxes label {
        display: block;
    }
       #ServiceTypescheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
        #JobTypescheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
          height: 15%;
        overflow-y: scroll;
        position: absolute;
        z-index:999999;
    }
    #JobTypescheckboxes label {
        display: block;
    }
         #JobTypescheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
               #ClaimStatuscheckboxes 
        {
            display: none;
            border: 1px #dadada solid;
            background: white;
            width: 185px;
            height: 75px;
            overflow-y: scroll;
            position: absolute;
            z-index:999999;
        }
        #ClaimStatuscheckboxes label 
        {
            display: block;
        }
        #ClaimStatuscheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
                #ExaminerNamecheckboxes 
        {
            display: none;
            border: 1px #dadada solid;
            background: white;
            width: 185px;
            height: 142px;
            overflow-y: scroll;
            position: absolute;
             z-index:999999;
        }
        #ExaminerNamecheckboxes label 
        {
            display: block;
        }
        #ExaminerNamecheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
                #FileStatuscheckboxes 
        {
            display: none;
            border: 1px #dadada solid;
            background: white;
            width: 185px;
            height: 142px;
            overflow-y: scroll;
            position: absolute;
             z-index:999999;
        }
        #FileStatuscheckboxes label 
        {
            display: block;
        }
        #FileStatuscheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
             #CatCodecheckboxes 
        {
            display: none;
            border: 1px #dadada solid;
            background: white;
            width: 185px;
            height: 20px;
            overflow-y: scroll;
            position: absolute;
            z-index:999999;
        }
        #CatCodecheckboxes label 
        {
            display: block;
        }
        #CatCodecheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
        #ClaimantStatecheckboxes
         {
            display: none;
            border: 1px #dadada solid;
            background: white;
            width: 185px;
            height: 142px;
            overflow-y: scroll;
            position: absolute;
              z-index:999999;
        }
        #ClaimantStatecheckboxes label 
        {
            display: block;
        }
        #ClaimantStatecheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
          #Statecheckboxes 
        {
            display: none;
            border: 1px #dadada solid;
            background: white;
            width: 185px;
            height: 142px;
            overflow-y: scroll;
            position: absolute;
              z-index:999999;
        }
        #Statecheckboxes label 
        {
            display: block;
        }
        #Statecheckboxes label:hover 
        {
            background-color: #1e90ff;
        }
</style>
<link href="@Url.Content("~/Content/jquery.editable-select.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
   // $('#tblSearchList').on("keyup", ".SPNameChange", function () {
    //   $('input.SPNameChange').keypress(function(e){
   function SPNameChangeList(){
       debugger;
       var id1;      
       if(@Model.JobTypeId == 6)
        {
            id1 = "1";
        }
       else{
           id1="0";
       }
        //debugger;
        $('.SPNameChange').autocomplete({
            source: function (request, response) {
                $.getJSON('@Url.Action("getData", "PropertyAssignment")' + "?term=" + request.term + "&id=" + id1,  function (data) {   
                    response(data);
                    $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "150px", "z-index": "999999999999999" });
                    });
            },
            minLength: 1,
            maxShowItems: 5
        });
    }
    //)
    var expandedState = false;    //PM 19_11_20
    function showStateCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("Statecheckboxes");
        if (!expandedState) {
            checkboxes.style.display = "inline-grid";
            expandedState = true;
        } else {
            checkboxes.style.display = "none";
            expandedState = false;
        }
    }
    function selectallState() {
        debugger;
        if ($('#selectStateid').prop('checked')) {
            $('input[name=cbStateList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbStateList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedStateIds();
    }
    function fillState() {
        debugger;
        $("#Statecheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        //item.push("<label for='selectidlable'><input type='checkbox' name='selectallFileStatuslist' id='selectFileStatusid' value='selectallFileStatus' onchange='selectallFileStatus()'>Select all</label>");
       @for (int i = 0; i < Model.StateList.Count; i++)
        {
           Model.StateList[i].Text = Model.StateList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.StateList[i].Text';
            @:val = '@Model.StateList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbStateList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedStateIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }
    //$('#Statecheckboxes').height('auto');
    $("#Statecheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedState").val();
    debugger;
    if ($("#SelectedState").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#Statecheckboxes label");
            $.each($("#Statecheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#Statecheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedStateIds();
    }
    function getSelectedStateIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbStateList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 State
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[name=cbStateList]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Allowed to select only 5 State.");
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectState').children('option[name="StateList"]').text("--Select--");
        }
        else {
            $('#selectState').children('option[name="StateList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedState").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
     var expandedCAT = false;
    function ShowCATCodeCheckboxes() {
        var checkboxes = document.getElementById("CatCodecheckboxes");
        if (!expandedCAT) {
            checkboxes.style.display = "inline-grid";
            expandedCAT = true;
        } else {
            checkboxes.style.display = "none";
            expandedCAT = false;
        }
    }
    function selectallCatCode() {
        debugger;
        if ($('#selectallCatCodeid').prop('checked')) {
            $('input[name=cbCatCodelist]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbCatCodelist]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedCATCodes();
    }
    function FillCatCodes() {
        $("#CatCodecheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl = '';
        item.push("<label for='selectidlable'><input type='checkbox' name='selectallCatCodelist' id='selectallCatCodeid' value='selectallCatCode' onchange='selectallCatCode()'>Select all</label>");
        @for (int i = 0; i < Model.CATCodeList.Count; i++)
        {
            Model.CATCodeList[i].Text = Model.CATCodeList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.CATCodeList[i].Text';
            @:val = '@Model.CATCodeList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbCatCodelist' id=chk_" + txt + " value='" + val + "' onchange='getSelectedCATCodes()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
        }
    $('#CatCodecheckboxes').height('100px');
    $("#CatCodecheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedCatCode").val();
    if ($("#SelectedCatCode").val() != "") {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#CatCodecheckboxes label");
            $.each($("#CatCodecheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#CatCodecheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedCATCodes();
    }
    function getSelectedCATCodes() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbCatCodelist]:checked').each(function (i, selected) {
            debugger;
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectcatcode').children('option[name="Catcodelist"]').text("--Select--");
        }
        else {
            $('#selectcatcode').children('option[name="Catcodelist"]').text(selectedCheckBoxesText);
        }
        $("#SelectedCatCode").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
    //PM 19_11_20
    var expanded = false;
    function OpenViewedClaimList() {
        BindSearch();
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function BindSearch() {
        debugger;
        var QuickSearchType = 0;
        $.ajax
         ({
             url: "../PropertyAssignment/BindQuickSearchList?QuickSearchType=" + QuickSearchType,
             type: 'POST',
             dataType: 'json',
             traditional: true,
             timeout: 0,
             async: false,
             success: function (result) {

                 $("#checkboxes").empty();

                 var incr = 0;
                 var item = [];


                 for (var i = 0; i < result.length; i++) {

                     item.push("<label for=" + result[i] + "'onclick='CallSearch(" + result[i] + ")'>" + result[i] + "</label>");

                     //item.push('<li><a onclick=CallSearch("+result[i]+")'>" + result[i] + "</li>");


                     incr++;
                 }
                 if (incr > 10) {
                     var height = $('#checkboxes').height(200);

                 }
                 else {
                     $('#checkboxes').height('auto');
                 }
                 $("#checkboxes").html(item.join(' '));

             },
             error: function (x, e) {
                 alert(e + x);
             }
         });
    }
    function BindClaimSearch() {


        debugger;
        $('#txtClaimnumber').css("display", "none");
        $('#ddlClaimSearch').css("display", "block");
        var QuickSearchType = "Claim Number";
        $.ajax
         ({
             //url: "../PropertyAssignment/BindClaimSearchList?QuickSearchType=" + QuickSearchType,
             url: '@Url.Action("BindClaimSearchList", "PropertyAssignment")',
             type: 'POST',
             dataType: 'json',
             traditional: true,
             timeout: 0,
             async: false,
             data: { QuickSearchType: QuickSearchType },
             success: function (result) {
                 for (var i = 0; i < result.length; i++) {
                     $("#ddlClaimSearch").append('<option>' + result[i] + '</option>');
                 }
                 $('#ddlClaimSearch').editableSelect({ filter: false });
             },
             error: function (x, e) {
                 alert(e + x);
             }
         });

    }


    function ConvertoTextBox() {
        debugger;
        CallClaimSearch();
        $('#txtClaimnumber').css("display", "block");
        $('#txtClaimnumber').val($('#ddlClaimSearch').val());
        $('#ddlClaimSearch').css("display", "none");

    }

    $(document).ready(function () {
        debugger;
        $('#txtClaimnumber').css("display", "block");
        $('#ddlClaimSearch').css("display", "none");

        fillServiceType(); //Bind Service Type ddl
        fillJobType(); //Bind Job Type ddl
        fillClaimStatus(); //Bind Claim Status ddl
        FillCatCodes();
        fillState(); //Bind State ddl
        fillFileStatus(); //Bind Assignment Status ddl
        fillClaimantState();
        if ($('#ddlInsuranceCompany').val() == 0 || @loggedInUser.UserTypeId == 11)
        {
            fillExaminerName(); //Bind Examiner Name ddl
        }
        else
        {
            debugger;
            if ($("#SelectedExaminerName").val() != "")
            {
                preSelectExaminerNames();
            }
            else
            {
                FillExaminerNameSearch();
            }
            //
        }
      //  FillSP(); //Bind SP  ddl

        //}
        //$.ajaxSetup({ cache: false });

        //$('.es-list li').click(function () {
        //    debugger;
        //    alert('selected');
        //    CallClaimSearch();
        //    ConvertoTextBox();
        //});
        //$('#ddlClaimSearch').on('change', function () {
        //    alert("select");
        //});

    });

    $('#ddlClaimSearch').on('change', function () {
        alert("select");
    });
    function CallSearch(Claimnumber) {
        //alert("hie");
        debugger;
        //alert(Claimnumber);
        if (Claimnumber == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            //var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;
            var SearchString = "";
            QuickSearchType = $('#QuickSearchType').val();
            SearchString = $('#ddlQuickSearch').val();
            $.ajax
            ({
                //url: "../PropertyAssignment/ClaimExist?Number=" + Claimnumber + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { Number: Claimnumber, QuickSearchType: QuickSearchType, SearchString: SearchString },
                success: function (result) {
                    if (result.resultDisplay) {
                        //window.location.href = "../PropertyAssignment/Details?claimid=" + result.ClaimIdNo;

                        var SearchUrl = '@Url.Action("Details", "PropertyAssignment")';
                        SearchUrl = SearchUrl + "?claimid=" + result.ClaimIdNo;

                        //window.location.href = SearchUrl;


                    }
                    else {
                        if (result.QuickSearchTypes == 0) {
                            alert('This Claim Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 1) {
                            alert('This Policy Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 2) {
                            alert('This Invoice Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 3) {
                            alert('This Insured Name does not exist.');
                        }

                        // document.getElementById('ddlClaimSearch').value = "";
                    }
                },
                error: function (x, e) {
                    alert(e + x);
                }
            });

        }
        return false;

    }
    function CallClaimSearch() {
        debugger;
        //alert(document.getElementById('ddlClaimSearch').value);
        if (document.getElementById('ddlClaimSearch').value == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;

            var SearchUrl = '@Url.Action("QuickSearch", "PropertyAssignment")';
            SearchUrl = SearchUrl + "?QuickSearchType=" + "Claim Number";
            SearchUrl = SearchUrl + "&Number=" + Number;
            window.location.href = SearchUrl;

            @*$.ajax
            ({


                //url: "../PropertyAssignment/ClaimExist?Number=" + Number + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { Number: Number, QuickSearchType: QuickSearchType },
                success: function (result) {
                    if (result.resultDisplay) {
                        window.location.href = "../PropertyAssignment/Details?claimid=" + result.ClaimIdNo;
                    }
                    else {
                        if (result.QuickSearchTypes == 0) {
                            alert('This Claim Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 1) {
                            alert('This Policy Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 2) {
                            alert('This Invoice Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 3) {
                            alert('This Insured Name does not exist.');
                        }

                        document.getElementById('ddlClaimSearch').value = "";
                    }
                },
                error: function (x, e) {
                    alert(e + x);
                }
            });*@

        }
        return false;
    }

    function CallnewSearch() {
        var chkval = document.getElementById('ddlClaimSearch').value;
        if (chkval != '') {
            //alert(document.getElementById('ddlClaimSearch').value);
            CallClaimSearch();
        }
    }

    //$(function () {
    //    debugger;
    //    $('#ddlInsuranceCompany').change(function () {
    //        debugger;
    //        populateClientPOCDLL('0');
    //    });
    //});

    function populateClientPOCDLL(SelectClientPOCFromList) {
        debugger;
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        $("#imgClientPOCListLoading").show();
        $.getJSON('@Url.Action("GetClientPointOfContactList")',
                { companyId: selectedCategoryId },
                function (subcategories) {
                    var subsSelect = $('#ddlClientPointOfContact');
                    subsSelect.empty();
                    $.each(subcategories, function (index, subcat) {
                        subsSelect.append(
                            $('<option/>')
                                .attr('value', subcat.Value)
                                .text(subcat.Text)
                        );
                    });

                    try {
                        $('#ddlClientPointOfContact').val(SelectClientPOCFromList);
                    }
                    catch (e) {

                    }
                    $("#imgClientPOCListLoading").hide();
                });
    }

</script>
<script>
    var expanded = false;
    function showFileStatusCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("FileStatuscheckboxes");
        if (!expanded) {
            checkboxes.style.display = "inline-grid";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
    function selectallFileStatus() {
        debugger;
        if ($('#selectFileStatusid').prop('checked')) {
            $('input[name=cbFileStatusList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbFileStatusList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedFileStatusIds();
    }
    function fillFileStatus() {
        debugger;
        $("#FileStatuscheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        //item.push("<label for='selectidlable'><input type='checkbox' name='selectallFileStatuslist' id='selectFileStatusid' value='selectallFileStatus' onchange='selectallFileStatus()'>Select all</label>");
      @for (int i = 1; i < Model.FileStatusList.Count; i++)
        {
          Model.FileStatusList[i].Text = Model.FileStatusList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.FileStatusList[i].Text';
            @:val = '@Model.FileStatusList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbFileStatusList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedFileStatusIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
      }
    //$('#FileStatuscheckboxes').height('auto');
    $("#FileStatuscheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedFileStatus").val();
    debugger;
    if ($("#SelectedFileStatus").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#FileStatuscheckboxes label");
            $.each($("#FileStatuscheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#FileStatuscheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedFileStatusIds();
    }
    function getSelectedFileStatusIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbFileStatusList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 assignment status
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[name=cbFileStatusList]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Allowed to select only 5 Status.");
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectFileStatus').children('option[name="FileStatusList"]').text("--Select--");
        }
        else {
            $('#selectFileStatus').children('option[name="FileStatusList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedFileStatus").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
</script>
<script>
    function fillExaminerName() {
        debugger;
        $("#imgClientPOCListLoading").show();
        $("#ExaminerNamecheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
       @for (int i = 0; i <  Model.ClientPointofContactList.Count; i++)
        {
           Model.ClientPointofContactList[i].Text = Model.ClientPointofContactList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.ClientPointofContactList[i].Text';
            @:val = '@Model.ClientPointofContactList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedExaminerNameIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }
    $("#ExaminerNamecheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedExaminerName").val();
    debugger;
    if ($("#SelectedExaminerName").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#ExaminerNamecheckboxes label");
            $.each($("#ExaminerNamecheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#ExaminerNamecheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedExaminerNameIds();
    $("#imgClientPOCListLoading").hide();
    }
    function FillExaminerNameSearch() {
        debugger;
        $("#ExaminerNamecheckboxes").empty();
        $("#imgClientPOCListLoading").show();
        $('#selectExaminerName').children('option[name="ExaminerNameList"]').text("--Select--");
        $.ajax({
            url: '@Url.Action("GetExaminerNames", "PropertyAssignment")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { companyId: $('#ddlInsuranceCompany').val() },
            type: 'GET',
            success: function (data) {
                var incr = 0;
                var item = [];
                $.each(data, function () {
                    item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()'>" + this.Text + "</label>");
                    incr++;
                });
                if (incr > 10) {
                    var height = $('#ExaminerNamecheckboxes').height(200);
                }
                else {
                    $('#ExaminerNamecheckboxes').height('auto');
                }
                $("#ExaminerNamecheckboxes").html(item.join(' '));
                getSelectedExaminerNameIds();
                $("#imgClientPOCListLoading").hide();
            }
        });
    }
    function getSelectedExaminerNameIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        //var selectedCheckBoxesValue = $("#SelectedExaminerName").val();
        $('input[name=cbExaminerNameList]:checked').each(function (i, selected) {
            var s = $("#SelectedExaminerName").val();
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 Examiner Name
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[name=cbExaminerNameList]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Allowed to select only 5 Examiner Name.");
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectExaminerName').children('option[name="ExaminerNameList"]').text("--Select--");
        }
        else {
            $('#selectExaminerName').children('option[name="ExaminerNameList"]').text(selectedCheckBoxesText);
        }
        //$("#SelectedExaminerName").val(selectedCheckBoxesValue);
        //selectedCheckBoxesValue = $("#SelectedExaminerName").val();
        $("#SelectedExaminerName").val(selectedCheckBoxesValue);
        selectedCheckBoxesValue = $("#SelectedExaminerName").val();
        return selectedCheckBoxesValue;
    }
    var expandedExaminerName = false;
    function showExaminerNameCheckboxes() {
        var checkboxes = document.getElementById("ExaminerNamecheckboxes");
        if (!expandedExaminerName) {
            checkboxes.style.display = "inline-grid";
            expandedExaminerName = true;
        } else {
            checkboxes.style.display = "none";
            expandedExaminerName = false;
        }
    }
    function preSelectExaminerNames() {
        debugger;
        var s = $("#SelectedExaminerName").val();
        var companyId= $('#ddlInsuranceCompany').val();
        //if ($("#SelectedExaminerName").val() != "") {
        $("#ExaminerNamecheckboxes").empty();
        $('#selectExaminerName').children('option[name="ExaminerNameList"]').text("--Select--");
        $.ajax({
            url: '@Url.Action("GetExaminerNames", "PropertyAssignment")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,
            data: { companyId: companyId },
            type: 'GET',
            success: function (data) {
                debugger;
                var incr = 0;
                var item = [];
                var cNames = $("#SelectedExaminerName").val();
                if (cNames.indexOf(",") > 0) {
                    var cNameArray = cNames.split(",");
                    $.each(data, function () {
                        if (cNameArray.indexOf(this.Value) > -1) {
                            item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()' checked=true>" + this.Text + "</label>");
                        }
                        else {
                            item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()'>" + this.Text + "</label>");
                        }
                        incr++;
                    });
                }
                else if (cNames != "") {
                    var cNameArray = cNames;
                    $.each(data, function () {
                        if (cNameArray == this.Value) {
                            item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()' checked=true>" + this.Text + "</label>");
                        }
                        else {
                            item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()'>" + this.Text + "</label>");
                        }
                        incr++;
                    });
                }
                if (incr > 10) {
                    var height = $('#ExaminerNamecheckboxes').height(200);
                }
                else {
                    $('#ExaminerNamecheckboxes').height('auto');
                }
                $("#ExaminerNamecheckboxes").html(item.join(' '));
                getSelectedExaminerNameIds();
            }
        });
        //}
    }
</script>
<script>
    var expandedClaimStatus = false;
    function showClaimStatusCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("ClaimStatuscheckboxes");
        if (!expandedClaimStatus) {
            checkboxes.style.display = "inline-grid";
            expandedClaimStatus = true;
        } else {
            checkboxes.style.display = "none";
            expandedClaimStatus = false;
        }
    }
    function selectallClaimStatus() {
        debugger;
        if ($('#selectClaimStatusid').prop('checked')) {
            $('input[name=cbClaimStatusList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbClaimStatusList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedClaimStatusIds();
    }
    function fillClaimStatus() {
        debugger;
        $("#ClaimStatuscheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        item.push("<label for='selectidlable'><input type='checkbox' name='selectallClaimStatuslist' id='selectClaimStatusid' value='selectallClaimStatus' onchange='selectallClaimStatus()'>Select all</label>");
       @for (int i = 0; i < Model.ClaimStatusList.Count; i++)
        {
           Model.ClaimStatusList[i].Text = Model.ClaimStatusList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.ClaimStatusList[i].Text';
            @:val = '@Model.ClaimStatusList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbClaimStatusList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedClaimStatusIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }
    //$('#FileStatuscheckboxes').height('auto');
    $("#ClaimStatuscheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedClaimStatus").val();
    debugger;
    if ($("#SelectedClaimStatus").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#ClaimStatuscheckboxes label");
            $.each($("#ClaimStatuscheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#ClaimStatuscheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedClaimStatusIds();
    }
    function getSelectedClaimStatusIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbClaimStatusList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectClaimStatus').children('option[name="ClaimStatusList"]').text("--Select--");
        }
        else {
            $('#selectClaimStatus').children('option[name="ClaimStatusList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedClaimStatus").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
</script>
<script>
    var expandedJob = false;
    function showJobTypeCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("JobTypescheckboxes");
        if (!expandedJob) {
            checkboxes.style.display = "inline-grid";
            expandedJob = true;
        } else {
            checkboxes.style.display = "none";
            expandedJob = false;
        }
    }
    function selectallJobType() {
        debugger;
        if ($('#selectJobTypeid').prop('checked')) {
            $('input[name=cbJobTypeList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbJobTypeList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedJobTypeIds();
    }
    function fillJobType() {
        debugger;
        $("#JobTypescheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        item.push("<label for='selectidlable'><input type='checkbox' name='selectallJobTypelist' id='selectJobTypeid' value='selectallJobType' onchange='selectallJobType()'>Select all</label>");
       @for (int i = 0; i < Model.JobTypesList.Count; i++)
        {
           Model.JobTypesList[i].Text = Model.JobTypesList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.JobTypesList[i].Text';
            @:val = '@Model.JobTypesList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbJobTypeList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedJobTypeIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }
    //$('#JobTypescheckboxes').height('auto');
    $("#JobTypescheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedJobTypes").val();
    if ($("#SelectedJobTypes").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#JobTypescheckboxes label");
            $.each($("#JobTypescheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#JobTypescheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedJobTypeIds();
    }
    function getSelectedJobTypeIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbJobTypeList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectJobType').children('option[name="JobTypeList"]').text("--Select--");
        }
        else {
            $('#selectJobType').children('option[name="JobTypeList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedJobTypes").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
</script>
<script>
    var expandedService = false;
    function showServiceTypeCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("ServiceTypescheckboxes");
        if (!expandedService) {
            checkboxes.style.display = "inline-grid";
            expandedService = true;
        } else {
            checkboxes.style.display = "none";
            expandedService = false;
        }
    }
    function selectallServiceType() {
        debugger;
        if ($('#selectServiceTypeid').prop('checked')) {
            $('input[name=cbServiceTypeList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbServiceTypeList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedServiceTypeIds();
    }
    function fillServiceType() {
        debugger;
        $("#ServiceTypescheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        item.push("<label for='selectidlable'><input type='checkbox' name='selectallServiceTypelist' id='selectServiceTypeid' value='selectallServiceType' onchange='selectallServiceType()'>Select all</label>");
       @for (int i = 0; i < Model.ServiceTypesList.Count; i++)
        {
           Model.ServiceTypesList[i].Text = Model.ServiceTypesList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.ServiceTypesList[i].Text';
            @:val = '@Model.ServiceTypesList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbServiceTypeList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedServiceTypeIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }
    //$('#ServiceTypescheckboxes').height('auto');
    // $('#ServiceTypescheckboxes').height('250px');
    $("#ServiceTypescheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedServiceTypes").val();
    if ($("#SelectedServiceTypes").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#ServiceTypescheckboxes label");
            $.each($("#ServiceTypescheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#ServiceTypescheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedServiceTypeIds();
    }
    function getSelectedServiceTypeIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbServiceTypeList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectServiceType').children('option[name="ServiceTypeList"]').text("--Select--");
        }
        else {
            $('#selectServiceType').children('option[name="ServiceTypeList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedServiceTypes").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
</script>
<script>
    var expandedClaimanatState = false;    //PM 19_11_20
    function showClaimantStateCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("ClaimantStatecheckboxes");
        if (!expandedClaimanatState) {
            checkboxes.style.display = "inline-grid";
            expandedClaimanatState = true;
        } else {
            checkboxes.style.display = "none";
            expandedClaimanatState = false;
        }
    }
    function selectallClaimantState() {
        debugger;
        if ($('#selectClaimanatStateid').prop('checked')) {
            $('input[name=cbClaimantStateList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbClaimantStateList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getselectClaimantStateIds();
    }
    function fillClaimantState() {
        debugger;
        $("#ClaimantStatecheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        //item.push("<label for='selectidlable'><input type='checkbox' name='selectallFileStatuslist' id='selectFileStatusid' value='selectallFileStatus' onchange='selectallFileStatus()'>Select all</label>");
       @for (int i = 0; i < Model.StateList.Count; i++)
        {
           Model.StateList[i].Text = Model.StateList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.StateList[i].Text';
            @:val = '@Model.StateList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbClaimantStateList' id=chk_" + txt + " value='" + val + "' onchange='getselectClaimantStateIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }
    //$('#Statecheckboxes').height('auto');
        $("#ClaimantStatecheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedClaimantState").val();
    debugger;
    if ($("#SelectedClaimantState").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#ClaimantStatecheckboxes label");
            $.each($("#ClaimantStatecheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#ClaimantStatecheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getselectClaimantStateIds();
    }
    function getselectClaimantStateIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbClaimantStateList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 State
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[name=cbClaimantStateList]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Allowed to select only 5 State.");
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectClaimantState').children('option[name="StateList"]').text("--Select--");
        }
        else {
            $('#selectClaimantState').children('option[name="StateList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedClaimantState").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
</script>
<table width="100%" id="tblSearchList">
    <tr>
        <td width="33%" align="left" valign="top">

            <table width="100%">
                <tr>
                    <td nowrap="nowrap" align="right">Claim Number: </td>
                    <td valign="top" width="100%">
                        <span style="display: flex;">
                            @Html.TextBoxFor(model => model.ClaimNumber, new { id = "txtClaimnumber" })
                            <select id="ddlClaimSearch" style="width: 162px;display:none;"> </select><img src="~/Content/Images/folder_out.png" onclick="loadPopupClaimsSearchList()" title="Recent Claims">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" align="right">Client Claim Number: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.ClientClaimNumber)
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" align="right">Policy Number: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.PolicyNumber)
                    </td>

                </tr>
                <tr>
                    <td nowrap="nowrap" align="right">Invoice Number: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.InvoiceNumber)
                    </td>

                </tr>
                <tr>
                    <td align="right">Last Name: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(m => Model.LastName)
                    </td>

                </tr>

                <tr style="display: none;">
                    <td align="right">Transaction Id: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.TransactionId)
                    </td>

                </tr>
                <tr>
                    <td align="right">City: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.City)
                    </td>

                </tr>

                <tr>
                    <td align="right">Zip Code:</td>
                    <td>@Html.TextBoxFor(model => model.Zip)</td>
                </tr>
                <tr>
                    <td align="right">Distance in Miles</td>
                    <td>@Html.TextBoxFor(model => model.Distance)</td>
                </tr>
                <tr>
                    <td align="right">State:</td>
                    <td style="display: none;">
                        @Html.DropDownListFor(model => model.State, Model.StateList, new { style = "width:150px;" })
                    </td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showStateCheckboxes()">
                                <select id="selectState">
                                    <option name="StateList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="Statecheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedState)
                    </td>
                </tr>
                <tr>
                    <td align="right">Structure Type:</td>
                    <td>@Html.DropDownListFor(model => model.StructureType, Model.StructureTypeList, new { style = "width:150px;" })</td>
                </tr>
                <tr>
                    <td align="right">Claimant Last Name: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(m => Model.ClaimantLastName)
                    </td>
                </tr>
                <tr>
                    <td align="right">Claimant VIN: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(m => Model.ClaimantVIN)
                    </td>
                </tr>

            </table>

        </td>
        <td width="34%" align="left" valign="top">
            <table>
                @*<tr>
                    <td align="right">CAT Code: </td>
                    <td>
                        @Html.TextBoxFor(model => model.CatCode)
                        </td>
                    </tr>*@
                <tr>
                    <td align="right">CAT Code:</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="ShowCATCodeCheckboxes()">
                                <select id="selectcatcode">
                                    <option name="Catcodelist">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="CatCodecheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedCatCode)
                    </td>
                </tr>
                <tr>
                    <td align="right">Loss Type:</td>
                    <td>@Html.DropDownListFor(model => model.LossType, Model.LossTypeList, new { style = "width:150px;" })</td>
                </tr>
                <tr style="display: none;">
                    <td>Workflow Status:</td>
                    <td>@Html.DropDownListFor(model => model.WorkFlowStatus, Model.WorkFlowStatusList, new { style = "width:150px;" })</td>
                </tr>

                @*<tr>
                    <td align="right">Assignment Status:</td>
                    @{

                        bool hasQAAgentRights = loggedInUser.AssignedRights.Where(x => x == 1).ToList().Count == 1 ? true : false;
                        if (loggedInUser.UserTypeId == 2)
                        {
                            <td>@Html.DropDownListFor(model => model.FileStatus, Model.FileStatusList, new { style = "width:150px;" })</td>
                        }
                        else
                        {
                            if (Model.SearchMode == BLL.ViewModels.XactAssignmentSearchViewModel.ViewMode.QAAGENT_REVIEW_QUEUE && hasQAAgentRights == true)
                            {
                                <td>@Html.DropDownListFor(model => model.FileStatus, Model.QAFileStatusList, new { style = "width:150px;" })</td>
                            }
                            else
                            {
                                <td>@Html.DropDownListFor(model => model.FileStatus, Model.FileStatusList, new { style = "width:150px;" })</td>
                            }
                        }
                    }

                    </tr>*@
                <tr>
                    <td align="right">Assignment Status:</td>
                @{
                    bool hasQAAgentRights = loggedInUser.AssignedRights.Where(x => x == 1).ToList().Count == 1 ? true : false;
                    if (Model.AssignmentSearchPage == "IASearch")
                    {
                        if (loggedInUser.UserTypeId == 2)
                        {
                            @*<td>@Html.DropDownListFor(model => model.FileStatus, Model.IASearchFileStatusGetList, new { style = "width:150px;" })</td>*@
                            <td>
                                <div class="multiselect">
                                    <div class="selectBox" onclick="showFileStatusCheckboxes()">
                                        <select id="selectFileStatus">
                                            <option name="FileStatusList">--Select--</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="FileStatuscheckboxes">
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.SelectedFileStatus)
                            </td>
                        }
                        else
                        {
                            if ((Model.SearchMode == BLL.ViewModels.XactAssignmentSearchViewModel.ViewMode.QAAGENT_REVIEW_QUEUE ||
                                Model.SearchMode == BLL.ViewModels.XactAssignmentSearchViewModel.ViewMode.TPAReviewQueue)
                                && hasQAAgentRights == true)
                            {
                                @*<td>@Html.DropDownListFor(model => model.FileStatus, Model.QAFileStatusList, new { style = "width:150px;" })</td>*@
                                <td>
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="showFileStatusCheckboxes()">
                                            <select id="selectFileStatus">
                                                <option name="FileStatusList">--Select--</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="FileStatuscheckboxes">
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.SelectedFileStatus)
                                </td>
                            }
                            else
                            {
                                @*<td>@Html.DropDownListFor(model => model.FileStatus, Model.IASearchFileStatusGetList, new { style = "width:150px;" })</td>*@
                                <td>
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="showFileStatusCheckboxes()">
                                            <select id="selectFileStatus">
                                                <option name="FileStatusList">--Select--</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="FileStatuscheckboxes">
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.SelectedFileStatus)
                                </td>
                            }
                        }
                    }
                    else if (Model.SearchMode == BLL.ViewModels.XactAssignmentSearchViewModel.ViewMode.InvoiceReviewQueue && Model.ReviewQueueType == "ConInvoiceReview")
                    {
                        <td>@Html.DropDownListFor(model => model.FileStatus, Model.InvoiceReviewQueueSearchFileStatusGetList, new { style = "width:150px;", @disabled = "disabled" })</td>
                        @Html.HiddenFor(x => x.SelectedFileStatus)
                    }
                    @*else if (Model.SearchMode == BLL.ViewModels.XactAssignmentSearchViewModel.ViewMode.TPAReviewQueue && Model.ReviewQueueType == "TPAReview")
                            {
                        <td>@Html.DropDownListFor(model => model.FileStatus, Model.TPAReviewQueueSearchFileStatusGetList, new { style = "width:150px;", @disabled = "disabled" })</td>
                        @Html.HiddenFor(x => x.SelectedFileStatus)
                            }*@
                else
                {
                    if (loggedInUser.UserTypeId == 2)
                    {
                        @*<td>@Html.DropDownListFor(model => model.FileStatus, Model.FileStatusList, new { style = "width:150px;" })</td>*@
                        <td>
                            <div class="multiselect">
                                <div class="selectBox" onclick="showFileStatusCheckboxes()">
                                    <select id="selectFileStatus">
                                        <option name="FileStatusList">--Select--</option>
                                    </select>
                                    <div class="overSelect"></div>
                                </div>
                                <div id="FileStatuscheckboxes">
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.SelectedFileStatus)
                        </td>
                    }
                    else
                    {
                        if ((Model.SearchMode == BLL.ViewModels.XactAssignmentSearchViewModel.ViewMode.QAAGENT_REVIEW_QUEUE ||
                            Model.SearchMode == BLL.ViewModels.XactAssignmentSearchViewModel.ViewMode.TPAReviewQueue)
                            && hasQAAgentRights == true)
                        {
                            @*<td>@Html.DropDownListFor(model => model.FileStatus, Model.QAFileStatusList, new { style = "width:150px;" })</td>*@
                            <td>
                                <div class="multiselect">
                                    <div class="selectBox" onclick="showFileStatusCheckboxes()">
                                        <select id="selectFileStatus">
                                            <option name="FileStatusList">--Select--</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="FileStatuscheckboxes">
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.SelectedFileStatus)
                            </td>
                        }
                        else
                        {
                            @*<td>@Html.DropDownListFor(model => model.FileStatus, Model.FileStatusList, new { style = "width:150px;" })</td>*@
                            <td>
                                <div class="multiselect">
                                    <div class="selectBox" onclick="showFileStatusCheckboxes()">
                                        <select id="selectFileStatus">
                                            <option name="FileStatusList">--Select--</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="FileStatuscheckboxes">
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.SelectedFileStatus)
                            </td>
                        }
                    }
                }
                }
                </tr>
                <tr>
                    <td align="right" nowrap="nowrap">
                        Status Date From:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right" nowrap="nowrap">
                        Assignment Created Date From:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.AssignmentCreatedDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.AssignmentCreatedDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>

                <tr style="display: none;">
                    <td>Job Type:</td>
                    <td>@Html.DropDownListFor(model => model.JobType, Model.JobTypeList, new { style = "width:150px;" })</td>
                </tr>

                <tr>
                    <td align="right">
                        Triage Available

                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.IsTriageAvailable)
                    </td>
                </tr>
                <tr>
                    <td align="right">Claimant Zip Code: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(m => Model.ClaimantZip)
                    </td>
                </tr>
                <tr>
                    <td align="right">Claimant State: </td>
        	    <td style="display: none;">
                        @Html.DropDownListFor(model => model.ClaimantState, Model.StateList, new { style = "width:150px;" })
                    </td>
        <td>
            <div class="multiselect">
                <div class="selectBox" onclick="showClaimantStateCheckboxes()">
                    <select id="selectClaimantState">
                        <option name="StateList">--Select--</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="ClaimantStatecheckboxes">
                </div>
            </div>
            @Html.HiddenFor(x => x.SelectedClaimantState)
        </td>
                </tr>
            </table>
        </td>
        <td width="33%" align="left" valign="top">
            <table>
                <tr>
                    @if (loggedInUser.UserTypeId == 11)
                    {
                        <td align="right">Client:</td>
                        <td>@Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { style = "width:150px;", @id = "ddlInsuranceCompany", @disabled = "disabled" })</td>
                    }
                    else
                    {
                        <td align="right">Client:</td>
                        <td>
                            @*@Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { style = "width:150px;", @id = "ddlInsuranceCompany" })*@
                            @Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { @id = "ddlInsuranceCompany", style = "width: 150px;", @onchange = "FillExaminerNameSearch()" })
                           @* <img id="imgIsuranceCompanyLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />*@
                        </td>
                    }
                </tr>
                @*<tr>
                    <td align="right">Examiner Name:</td>
                    <td>
                        @Html.DropDownListFor(model => model.ClientPOCId, Model.ClientPocListForSearch, new { @id = "ddlClientPointOfContact", style = "width:150px;" })
                        <img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                    </td>
                   if (loggedInUser.UserTypeId == 11)   //coment
                        {
                            <td align="right">Examiner Name:</td>
                            <td>@Html.DropDownListFor(model => model.ClientPOCId, Model.ClientPocListForSearch, new { @id = "ddlClientPointOfContact", style = "width:150px;", @disabled = "disabled" })</td>
                        }
                        else
                        {
                            <td align="right">Examiner Name:</td>
                            <td>
                                @Html.DropDownListFor(model => model.ClientPOCId, Model.ClientPocListForSearch, new { @id = "ddlClientPointOfContact", style = "width:150px;" })
                                <img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                            </td>
                        }   //coment   
                </tr>*@
                <tr>
                    <td align="right">Examiner Name:</td>
                    <td style="display:none;">
                        @Html.DropDownListFor(model => model.ClientPOCId, Model.ClientPocListForSearch, new { @id = "ddlClientPointOfContact", style = "width:150px;" })
                        <img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                    </td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showExaminerNameCheckboxes()">
                                <select id="selectExaminerName">
                                    <option name="ExaminerNameList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="ExaminerNamecheckboxes">
                            </div>
                        </div>
                        <img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                        @Html.HiddenFor(x => x.SelectedExaminerName)
                    </td>
                </tr>
                <tr>
                    <td align="right">SP Name:</td>
                    <td>@Html.TextBoxFor(model => model.SPName, new { @class= "SPNameChange", onkeyup = "SPNameChangeList()" })</td>
                </tr>
                <tr>
                    <td align="right">Point of Contact:</td>
                    <td>@Html.DropDownListFor(model => model.CSSPOCUserId, Model.CSSPOCList, new { style = "width:150px;" })</td>
                </tr>
                <tr>
                    <td align="right">QA Agent:</td>
                    <td>@Html.DropDownListFor(model => model.CSSQAAgentUserId, Model.CSSQAAgentList, new { style = "width:150px;" })</td>
                </tr>
                @*<tr>
                    <td align="right">Claim Status:</td>
                    <td>@Html.DropDownListFor(model => model.ClaimStatusId, Model.ClaimStatusList, new { style = "width:150px;" })</td>
                </tr>*@
                <tr>
                    <td align="right">Claim Status:</td>
                    <td style="display:none;">@Html.DropDownListFor(model => model.ClaimStatusId, Model.ClaimStatusList, new { style = "width:150px;" })</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showClaimStatusCheckboxes()">
                                <select id="selectClaimStatus">
                                    <option name="ClaimStatusList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="ClaimStatuscheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedClaimStatus)
                    </td>
                </tr>
                <tr>
                    <td align="right" nowrap="nowrap">
                        Date Received From:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateReceivedFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateReceivedTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    @if (Model.AssignmentSearchPage != null)
                    {
                        if (Model.AssignmentSearchPage == "IASearch")
                        {
                            <td align="right">Job Type:</td>
                            <td>@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { style = "width:150px;", @disabled = "disabled" })</td>
                            @Html.HiddenFor(x => x.SelectedJobTypes)
                        }
                        else if (Model.AssignmentSearchPage == "VideoReviewSearch")
                        {
                            <td align="right">Job Type:</td>
                            <td>@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { style = "width:150px;", @disabled = "disabled" })</td>
                            @Html.HiddenFor(x => x.SelectedJobTypes)
                        }
                        else
                        {
                            @*<td align="right">Job Type:</td>
                            <td>@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { style = "width:150px;" })</td>*@
                            <td align="right">Job Type:</td>
                            <td style="display:none;">@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { style = "width:150px;" })</td>
                            <td>
                                <div class="multiselect">
                                    <div class="selectBox" onclick="showJobTypeCheckboxes()">
                                        <select id="selectJobType">
                                            <option name="JobTypeList">--Select--</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="JobTypescheckboxes">
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.SelectedJobTypes)
                            </td>
                        }
                    }
                    else
                    {
                        @*<td align="right">Job Type:</td>
                        <td>@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { style = "width:150px;" })</td>*@
                        <td align="right">Job Type:</td>
                        <td style="display:none;">@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { style = "width:150px;" })</td>
                        <td>
                            <div class="multiselect">
                                <div class="selectBox" onclick="showJobTypeCheckboxes()">
                                    <select id="selectJobType">
                                        <option name="JobTypeList">--Select--</option>
                                    </select>
                                    <div class="overSelect"></div>
                                </div>
                                <div id="JobTypescheckboxes">
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.SelectedJobTypes)
                        </td>
                    }


                </tr>
                @*<tr>
                    <td align="right">Service Type:</td>
                    <td>@Html.DropDownListFor(model => model.ServiceTypeId, Model.ServiceTypesList, new { style = "width:150px;" })</td>
                </tr>*@
                <tr>
                    <td align="right">Service Type:</td>
                    <td style="display:none;">@Html.DropDownListFor(model => model.ServiceTypeId, Model.ServiceTypesList, new { style = "width:150px;" })</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showServiceTypeCheckboxes()">
                                <select id="selectServiceType">
                                    <option name="ServiceTypeList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="ServiceTypescheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedServiceTypes)
                    </td>
                </tr>
                @*<tr>
                    <td align="right">
                            CAN Offer Accepted:

                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model.IsCANOfferAccepted)
                        </td>
                </tr>
                <tr>
                    <td align="right">
                            HRT Assigned:

                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model.IsHRTAssign)
                        </td>
                </tr>
                <tr>
                    <td align="right">
                        Has Video:
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.HasVideo)
                    </td>
                </tr>*@
                <tr>
                    <td align="right">
                        Retain Search:
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.IsRetainSearch)
                    </td>
                </tr>
                    @if(Model.AssignmentSearchPage != null && Model.AssignmentSearchPage== "IASearch" && Model.NoOfRecPerPage >0)
                    {
                <tr>
                    <td align="right">
                        Records Per Page:
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.NoOfRecPerPage, Model.NoOfRecPerPageList, new { style = "width:150px;", @id = "ddlNoOfRecPerPage" })

                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>

</table>
