﻿@model BLL.ViewModels.XACTClaimsInfoViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
@*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@

<style type="text/css">
    .backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .wideareaNewNote {
        width: 350px;
        height: 80px;
    }

    .wide {
        width: 350px;
    }
</style>
<script type="text/javascript">
    $('#txtNoteNoOfHours,#txtNewNoteNoOfHours').keypress(function (event) {
        if (event.which != 46 && (event.which < 47 || event.which > 59)) {
            event.preventDefault();
            if ((event.which == 46) && ($(this).indexOf('.') != -1)) {
                event.preventDefault();
            }
        }

    });
    function btnNotesFilter_Click() {
        //refresh view
        getNotesList('5');
        chkisExpandedChanged();
    }
    function btnMarkNoteBillable_Click() {
        if (getSelectedNoteIds() != '') {
            if (confirm("Mark the selected Note(s) as Billable?") == true) {
                $("#imgNotesHistoryProcessing").show();
                $.ajax({
                    type: "POST"
                    , url: '@Url.Action("BulkMarkNotesBillable", "PropertyAssignment")'
                , data: { noteIds: getSelectedNoteIds() }
                }).done(function (result) {
                    if (result.Code == "1") {
                        $("#imgNotesHistoryProcessing").hide();
                        //Refresh Notes List
                        getNotesList('5');
                    }
                    else {

                    }
                }).error(function (data) {
                });

            }
        }
        else {
            alert("Select Note(s) from the list.");
        }
    }
    function getSelectedNoteIds() {
        var selectedCheckBoxesValue = '';
        $('input[name=cbSelect]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        return selectedCheckBoxesValue;
    }

    function btnNoteSave_Click() {
        $("#tdNoteErrMsg").html("");

        var validationMsg = "";
        var isValid = true;
        var isBillable = ($("#cbNoteIsBillable").attr("checked") == "checked" ? "true" : "false");

        if (isBillable == "true" && $("#txtNoteNoOfHours").val().trim().length == 0) {
            validationMsg += "No. of Hours is required as Is Billable is selected.<br/>";
            isValid = false;
        }
        if ($("#txtNoteNoOfHours").val().trim().length != 0) {
            if (($("#txtNoteNoOfHours").val().match(/[0-9]?[0-9]?(\.[0-9][0-9]?)?/)) == null) {
                isValid = false;
                validationMsg += "Invalid No. of Hours.<br/>";
            }
        }
        if (isValid == true) {
            $("#imgProgressNoteSave").show();
            $.post('@Url.Content("~/PropertyAssignment/NoteUpdate")',
                  {
                      noteId: $("#hdnNoteId").val(),
                      isBillable: isBillable,
                      noOfHours: $("#txtNoteNoOfHours").val()
                  },
                   function (data) {
                       $("#imgProgressNoteSave").hide();
                       if (data == 1) {
                           //refresh
                           getNotesList('5');
                           disablePopupNotedetails();
                       }
                   });
        }
        else {
            $("#tdNoteErrMsg").html(validationMsg);
        }

    }
    function loadParticipantsendEmailPopup(AssignmentId, Subject, dateCreated, txtNoteCommentId, UserId) {
        var comment = document.getElementById(txtNoteCommentId).value;
        CaptureemailValues(AssignmentId, Subject, dateCreated, comment, UserId);
        var popupStatus = 0;

        if (popupStatus == 0) {
            centerParticipantsendEmailPopup();
            $("#backgroundParticipantsendEmailPopup").css({
                "opacity": "0.7"
            });
            $("#backgroundParticipantsendEmailPopup").fadeIn("slow");
            $("#NoteParticipantsendEmail").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disableParticipantsendEmailPopup() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundParticipantsendEmailPopup").fadeOut("slow");
            $("#NoteParticipantsendEmail").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerParticipantsendEmailPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#NoteParticipantsendEmail").height();
        var popupWidth = $("#NoteParticipantsendEmail").width();
        //centering  
        $("#NoteParticipantsendEmail").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  
        $("#backgroundParticipantsendEmailPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function CaptureemailValues(AssignmentId, Subject, dateCreated, Comment, UserId) {
        $('.ClassClaimParticipant').removeAttr('checked');
        $('#hdnEmailAssignmentId').val(AssignmentId);
        $('#hdnEmailSubject').val(Subject);
        $('#hdnEmailComment').val(Comment);
        $('#hdnEmailfromUserid').val(UserId);
        $('#hdnEmailDateCreated').val(dateCreated);

    }

    function loadPopupNewPopup() {
        $("#txtNoteSubject").val("");
        $("#txtNoteComment").val("");
        $("#chknoteIsPrivate").removeAttr("checked");
        $("#cbNewNoteIsBillable").removeAttr("checked");
        $("#txtNewNoteNoOfHours").val("");
        $("#tdNewNoteErroMsg").html("");

        var popupStatus = 0;

        if (popupStatus == 0) {
            centerPopupNewNote();
            $("#backgroundPopupNewNote").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupNewNote").fadeIn("slow");
            $("#NewNote").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupNewNote() {
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupNewNote").fadeOut("slow");
            $("#NewNote").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewNote() {
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#NewNote").height();
        var popupWidth = $("#NewNote").width();

        $("#NewNote").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupNewNote").css({
            "height": windowHeight
        });
        return false;
    }
    function loadPopupNotedetail(noteId, Subject, dateCreated, txtNoteCommentId, Username, isBillable, noOfHours) {
        $("#tdNoteErrMsg").html("");
        var comment = document.getElementById(txtNoteCommentId).value;
        var Emails = "";
        var DocumentName = "";
        var DocumentDate = "";

     

        $.get('@Url.Content("~/PropertyAssignment/GetNotesDocuments")',
         {
             NoteId: noteId
         },
           function (data) {
               if (data != 0) {
                   Emails = data[0].Emails;
                   DocumentName = data[0].DocumentName;
                   DocumentDate = data[0].DocumentUpDate;
         
               } 
               GetNotesdatabyNoteId(noteId, Subject, dateCreated, comment, Username, isBillable, noOfHours, Emails, DocumentName, DocumentDate);
           });

        var popupStatus = 0;
       
        if (popupStatus == 0) {
            $('#imgProgressNoteUpdate').show();
            centerPopupNoteDetail();
            $("#backgroundPopupNotedetails").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupNotedetails").fadeIn("slow");
            $("#Notedetails").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupNotedetails() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupNotedetails").fadeOut("slow");
            $("#Notedetails").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNoteDetail() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#Notedetails").height();
        var popupWidth = $("#Notedetails").width();
        //centering  
        $("#Notedetails").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupNotedetails").css({
            "height": windowHeight
        });
        return false;
    }
    function GetNotesdatabyNoteId(noteId, Subject, dateCreated, Comment, Username, isBillable, noOfHours, Emails, DocumentName, DocumentDate) {
        if (dateCreated != undefined)
            document.getElementById('tdNotesDate').innerHTML = '<b></b>' + dateCreated;
        else
            document.getElementById('tdNotesDate').innerHTML = '<b></b>';
        if (Username != undefined)
            document.getElementById('tdAddedBy').innerHTML = '<b>Added By:  </b>' + Username;
        else
            document.getElementById('tdAddedBy').innerHTML = '<b>Added By:  </b>';
        if (Subject != undefined) {
            document.getElementById('tdSubject').innerHTML = '<b>Subject:  </b>';
            document.getElementById('tdSubjecttext').innerHTML = '<b></b>' + Subject;
        }
        else {
            document.getElementById('tdSubject').innerHTML = '<b></b>';
            document.getElementById('tdSubjecttext').innerHTML = '<b></b>';
        }
        if (Emails != undefined && Emails != "") {
            document.getElementById('tdComment').innerHTML = '<b>Email Sent To:  </b>';
            document.getElementById('tdCommentText').innerHTML = '' + Emails.split(",").join("<br />");
        } else {
            document.getElementById('tdComment').innerHTML = '<b></b>';
            document.getElementById('tdCommentText').innerHTML = '<b></b>';
        }

        if (DocumentName != undefined && DocumentName != "") {
            document.getElementById('tdDocument').innerHTML = '<b>Documents Sent:  </b>';
            document.getElementById('tdDocumentText').innerHTML = '' + DocumentName.split(",").join("<br />");
            document.getElementById('tdDocumentDate').innerHTML = '' + DocumentDate.split(",").join("<br />");
        } else {
            document.getElementById('tdDocument').innerHTML = '<b></b>';
            document.getElementById('tdDocumentText').innerHTML = '<b></b>';
            document.getElementById('tdDocumentDate').innerHTML = '<b></b>';
        }

        $("#hdnNoteId").val(noteId);
        if (isBillable == "true") {
            $("#cbNoteIsBillable").attr("checked", "checked");
        }
        else {
            $("#cbNoteIsBillable").removeAttr("checked");
        }
        $("#txtNoteNoOfHours").val(noOfHours);
        $('#imgProgressNoteUpdate').hide();
    }
    function saveClaimNotesHistory() {
        debugger;
        $("#tdNewNoteErroMsg").html("");

        var validationMsg = "";
        var isValid = true;
        var isBillable = ($("#cbNewNoteIsBillable").attr("checked") == "checked" ? "true" : "false");

        if ($("#txtNoteSubject").val().trim().length == 0) {
            validationMsg += "Subject is required.<br/>";
            isValid = false;
        }
        if (isBillable == "true" && $("#txtNewNoteNoOfHours").val().trim().length == 0) {
            validationMsg += "No. of Hours is required as Is Billable is selected.<br/>";
            isValid = false;
        }
        if ($("#txtNewNoteNoOfHours").val().trim().length != 0) {
            if (($("#txtNewNoteNoOfHours").val().match(/[0-9]?[0-9]?(\.[0-9][0-9]?)?/)) == null) {
                isValid = false;
                validationMsg += "Invalid No. of Hours.<br/>";
            }
        }

        if (isValid == true) {
            $("#imgNewNoteSubmitProgress").show();
            $.post('@Url.Content("~/PropertyAssignment/SubmitNotes")',
                   {
                       assignmentid: '@Model.PropertyAssignment.AssignmentId',
                       Subject: $("#txtNoteSubject").val(),
                       Comment: $("#txtNoteComment").val(),
                       Isprivate: ($("#chknoteIsPrivate").attr('checked') == 'checked' ? 'true' : 'false'),
                       isBillable: isBillable,
                       noOfHours: $("#txtNewNoteNoOfHours").val()
                   },
                    function (data) {
                        $("#imgNewNoteSubmitProgress").hide();
                        if (data == 1) {
                             @*getDiariesList('@Url.Action("ClaimDiariesList", "PropertyAssignment", new { assignmentId = Model.PropertyAssignment.AssignmentId })', tabid);*@
                            getNotesList('5');
                        }
                    });
        }
        else {

            $("#tdNewNoteErroMsg").html(validationMsg);

        }
    }


    function sendEmailToparticipants() {

        var selectedCheckBoxesValue = '';
        $('#tblSenndEmailParticipant').find("input:checkbox.ClassClaimParticipant:checked").each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        //Set the value of hiddenField selected checkboxes value 
        $("#hdnParticipantsname").val(selectedCheckBoxesValue);

        $.post('@Url.Content("~/PropertyAssignment/SendmailToParticipant")',
          {
              assignmentId: $("#hdnEmailAssignmentId").val(), participantid: $("#hdnParticipantsname").val(), fromUserid: $('#hdnEmailfromUserid').val(), Subject: $('#hdnEmailSubject').val(), Comment: $('#hdnEmailComment').val(), DateCreated: $('#hdnEmailDateCreated').val()
          },
            function (data) {
                if (data == 1) {
                    disableParticipantsendEmailPopup();
                }
            });
    }

    function btnBilledNotesInvoiceExpot_Click() {
        debugger;
        window.open("@Url.Action("InvoiceBilledNotesList", "PropertyAssignmentInvoice")?ClaimId=0&InvoiceId=" + $("#ddlBilledNotesInvoiceList").val(), "_blank");
    }
    function showRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'table-row';
        document.getElementById('imgExpand' + rowIndex).style.display = 'none';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'inherit';
    }
    function hideRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'none';
        document.getElementById('imgExpand' + rowIndex).style.display = 'inherit';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'none';
    }
    function chkisExpandedChanged()
    {   
        if ($("#chkisExpanded").is(':checked')) {
            $(".expand").show();
            $(".imgExpand").hide();
            $(".imgCollapse").show();

        }
        else {
            $(".expand").hide();
            $(".imgExpand").show();
            $(".imgCollapse").hide();
        }
                   
    }
           
                
           

</script>
@*@using (Ajax.BeginForm("GetNotesList", "PropertyAssignment", new AjaxOptionsnew { HttpMethod = "POST", Claimid = @Model.ClaimId }))
{
    *@

<table id="tblPaging" align="left" cellpadding="3" cellspacing="0" width="100%" class="tablesorter">
    <tr>
        <td>
            <input type="hidden" name="hdnClaimid" id="hdnClaimid" value="0" />

        </td>
    </tr>
    <tr>
        <td class="mainHeader">Notes History</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td class="content">
            <table width="100%">
                <tr style="text-align: right;">
                    <td align="left" nowrap="nowrap">Display: @Html.DropDownListFor(model => model.NotesDisplayType, Model.NotesDisplayTypeList, new { @id = "ddlNotesDisplayType" })
                        <input type="button" class="buttonLightYellow_100" value="Filter" onclick="btnNotesFilter_Click()" />
                    </td>
                    @if (Model.PropertyInvoiceList.ToList().Count > 0)
                    {
                        <td width="100%" nowrap="nowrap">Billed Notes: 
                        @Html.DropDownList("ddlBilledNotesInvoiceList", new SelectList(Model.PropertyInvoiceList.OrderByDescending(x => x.InvoiceId), "InvoiceId", "InvoiceNo"), new { @id = "ddlBilledNotesInvoiceList" })
                            <input type="button" style="margin-right: 10px;" class="buttonLightYellow_100" value="Export" onclick="btnBilledNotesInvoiceExpot_Click()" />
                        </td>
                    }
                    <td align="right" nowrap="nowrap">
                         <input type="checkbox" id="chkisExpanded" onchange="chkisExpandedChanged()"  />Expand All
                        <input type="button" class="buttonLightYellow_100" value="Mark Billable" onclick="btnMarkNoteBillable_Click()" />
                        <input type="button" class="buttonLightYellow_100" name="OpenNotelist" value="New Note" onclick="loadPopupNewPopup()" />
                        <img id="imgNotesHistoryProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Processing" />
                    </td>
                </tr>
            </table>
            <table cellpadding="3" cellspacing="0" width="100%">

                <thead class="tableHeader">
                    <tr valign="top">
                        <td width="15px"></td>
                        <td width="110px" nowrap="nowrap"> Created
                        </td>
                     @*   //<td width="110px" >Added By</td>*@
                        <td width="275px">Subject</td>
                        <td width="15px">&nbsp;</td>
                        <td width="450px">Comment</td>
                        <td width="45px" nowrap="nowrap">No. Of Hours</td>
                        <td  width="35px" nowrap="nowrap">Is Billable</td>
                        <td  width="35px" nowrap="nowrap">Billed</td>
                        <td width="45px">Private</td>
                        <td width="45px">System</td>
                        <td width="15px"></td>
                        <td style="display: none; width:0px">

                            <input type="hidden" id="hdnPageSige" name="hdnPageSige" />
                            <input type="hidden" id="hdnNext" name="hdnNext" />


                        </td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    int j = Model.Pager.Page - 1;
                    int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                    int k = j * z;

                    if (Model.JobNoteHistory != null)
                    {
                        foreach (var notes in Model.JobNoteHistory)
                        { 
                    <tr style="vertical-align:top" class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                        <td>
                            <input type="checkbox" name="cbSelect" value="@notes.NoteId" />
                        </td>
                        <td nowrap="nowrap">
                            @notes.DateCreated.Value.ToString("MM/dd/yyyy h:mm:ss tt")
                            @{
                            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.User user = null;
                            if (notes != null)
                            {
                                user = css.Users.Find(notes.FromUserId);
                                if (user != null)
                                {
                                    <br />
                                @:@(!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") @(!String.IsNullOrEmpty(user.MiddleInitial) ? user.MiddleInitial : "") @(!String.IsNullOrEmpty(user.LastName) ? user.LastName : "")
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
                            }
                            }
                        </td>
                        @*<td nowrap="nowrap">
                            @{
                            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.User user = null;
                            if (notes != null)
                            {
                                user = css.Users.Find(notes.FromUserId);
                                if (user != null)
                                {
                                @:@(!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") @(!String.IsNullOrEmpty(user.MiddleInitial) ? user.MiddleInitial : "") @(!String.IsNullOrEmpty(user.LastName) ? user.LastName : "")
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
                            }
                            }
                        </td>*@
                        <td>@notes.Subject</td>
                        <td>
                            @if (@notes.Comment != null && @notes.Comment != "")
                            {
                                if (@notes.Comment.Length > 50)
                                {
                                      
                                <a href="#">
                                    <img id="imgExpand@(i + "")" alt="Expand" title="Expand" class="imgExpand" src="~/Content/Images/plus.png" onclick="showRecordDetails(@(i + ""))" style="border: none; margin-top:0.5%; " /></a>
                                <a href="#">
                                    <img id="imgCollapse@(i + "")" title="Collapse" class="imgCollapse" onclick="hideRecordDetails(@(i + ""))" alt="Collapse" src="~/Content/Images/minus.png" style="display: none; border: none; margin-top:2.5%" /></a>
                                }

                            }
                            &nbsp;
                        </td>
                       <td id="Comment@(i + "")" nowrap="nowrap">
                            @{
                            string userFirstName = "";
                            string userLastName = "";
                            if (user != null)
                            {
                                userFirstName = user.FirstName;
                                userLastName = user.LastName;
                            }
                            }
                            <input type="hidden" id="@("txtNote" + notes.NoteId)" value="@notes.Comment" />
                            <a href="#" onclick='loadPopupNotedetail("@notes.NoteId","@notes.Subject","@(notes.DateCreated.HasValue ? notes.DateCreated.Value.ToString("MM/dd/yyyy hh:mm:ss tt") : "")","@("txtNote" + notes.NoteId)","@userFirstName @userLastName","@((notes.IsBillable.HasValue ? notes.IsBillable.Value + "" : "false").ToLower())","@(notes.NoOfHours.HasValue ? notes.NoOfHours.Value + "" : "")");'>

                                @if (@notes.Comment != null && @notes.Comment != "")
                                {
                                    if (@notes.Comment.Length > 50)
                                    {
                                      
                                    @(notes.Comment.Substring(0, 50) + "...")
                                    }
                                    else
                                    {@notes.Comment}
                                }
                                else
                                {@notes.Comment}
                            </a>
                        </td>
                        <td>
                            @(notes.NoOfHours.HasValue ? notes.NoOfHours.Value.ToString("0.00") : "")
                        </td>
                        <td align="center">
                            @(notes.IsBillable.HasValue ? notes.IsBillable.Value ? "Yes" : "" : "")
                        </td>
                        <td align="center">
                            @if (notes.BilledInvoiceId.HasValue)
                            {
                                <img src="@Url.Content("~/Content/Images/Approve.png")" width="16" height="16" title="Billed" alt="Billed" />
                            }

                        </td>
                        <td nowrap="nowrap">
                            @notes.IsPrivate
                        </td>
                        <td nowrap="nowrap">
                            @notes.IsSystemGenerated
                        </td>
                        <td>
                            @if (loggedInUser.UserTypeId != 11)
                            {
                                <a href="#" style="text-decoration:none;" onclick="loadParticipantsendEmailPopup('@notes.AssignmentId','@notes.Subject','@notes.DateCreated','@("txtNote" + notes.NoteId)','@notes.FromUserId');">
                                    <img border="0" title="Email Note" alt="Email Note" height="16" width="16" src="@Url.Content("~/Content/Images/email_forward.png")" /></a>
                            }
                        </td>
                        <td style="display: none;"></td>
                    </tr>
                     if (@notes.Comment != null && @notes.Comment != "")
                     {
                                if (@notes.Comment.Length > 50)
                                {         
                            <tr id="trRecordInfo@(i + "")" style="display:none; vertical-align:top" class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate") expand">
                        <td colspan="4">&nbsp;</td>
                        <td colspan="8">
                           @Html.Raw(Html.Encode(@notes.Comment).Replace("\n", "<br />")) 
                        </td>
                    </tr>
                     }
                     }
                            i++;
                        }
                    }
                }

            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="100%">
                <tr>

                    <td>
                        @Html.Partial("_Pager", Model.Pager)
                    </td>
                </tr>
            </table>



        </td>
    </tr>
    <tr>
        <td align="right"><b>Total Time:</b> @(Model.RunningTime != null ? String.Format("{0:0.00}", Model.RunningTime.TotalTime.HasValue ? Model.RunningTime.TotalTime.Value : 0) : "0.00") hours &nbsp;&nbsp;&nbsp;<b>Billable Time:</b> @(Model.RunningTime != null ? String.Format("{0:0.00}", Model.RunningTime.BillableTime.HasValue ? Model.RunningTime.BillableTime.Value : 0) : "0.00") hours</td>
    </tr>

</table>
@*}*@



@*<div>
    @{
        var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: true, ajaxUpdateContainerId: "grid");
        grid.Bind(Model.NoteHistory, rowCount: 1000, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);
        @grid.GetHtml(htmlAttributes: new { id = "grid" },
        columns: grid.Columns(
            grid.Column("Subject"),
            grid.Column("Comment")

        ));
    }

</div>*@
<div id="NewNote" style="display: none;" class="EditPopup">
    <div>
        <table style="width: 100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        New Note
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disablePopupNewNote();" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <table align="left" cellspacing="2" width="100%">

                        <tr>
                            <td valign="top" style="width: 10px"></td>
                            <td colspan="3">
                                <table width="100%">
                                    <tr style="text-align: left;">
                                        <td class="errorMsg" id="tdNewNoteErroMsg"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td valign="top"><b>Subject:</b>
                            </td>
                            <td valign="top" colspan="2">
                                @Html.TextBoxFor(model => model.Note.Subject, new { @class = "wide", @id = "txtNoteSubject" })
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 10px"></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td valign="top"><b>Comment:</b>
                            </td>
                            <td valign="top" colspan="2">
                                @Html.TextAreaFor(model => model.Note.Comment, new { @class = "wideareaNewNote", @id = "txtNoteComment" })
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 10px"></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td valign="middle" colspan="3">
                                <b>Private:</b>@Html.CheckBoxFor(model => model.Note.IsPrivate, new { @id = "chknoteIsPrivate" })&nbsp;&nbsp;
               <b>Is Billable:</b><input id="cbNewNoteIsBillable" type="checkbox" />
                                &nbsp;&nbsp;<b>No.of Hours: </b>
                                <input id="txtNewNoteNoOfHours" type="text" style="width: 60px;" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width: 10px"></td>
                            <td colspan="3"></td>
                        </tr>






                        <tr>
                            <td valign="top" style="width: 10px"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer">
                    <table width="100%">
                        <tr style="text-align: right;">
                            <td>
                                <input type ="hidden" id="hdnAssignmentid" name="hdnAssignmentid"  value="@Model.PropertyAssignment.AssignmentId"/>
                                <input type="hidden" id="hdnClaimid" name="hdnClaimid" value ="@Model.claim.ClaimId" />
                                <img id="imgNewNoteSubmitProgress" height="16" width="16"  style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                <input type="submit" value="Create" class="buttonYellow_100" onclick="saveClaimNotesHistory();" />

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>


</div>

<div id="Notedetails" style="display: none; width: 600px;" class="EditPopup">
    <div>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        Note Detail&nbsp;&nbsp;
                        <img id="imgProgressNoteUpdate" src="~/Content/Images/progress01.gif" height="30" width="30" style="vertical-align: middle; display: none;" alt="Updating.." />
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disablePopupNotedetails();" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <div id="divnotesdata"></div>
                    <table width="100%">
                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td colspan="2">
                                <table width="100%">
                                    <tr>
                                        <td id="tdNoteErrMsg" class="errorMsg" width="100%"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td  width="60"><b>Date:</b></td>
                            <td id="tdNotesDate"></td>

                            <td style="text-align: right" colspan="2" id="tdAddedBy"></td>
                           @* <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>*@
                        </tr>
                        <tr>
                            <td style="height: 10px"></td>
                        </tr>

                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td  width="60" id="tdSubject"><b>Subject:</b></td>
                            <td id="tdSubjecttext" colspan="3"></td>
                           @* <td></td>
                            <td id="tdSubjectText" ></td>*@
                        </tr>
                        <tr>
                            <td style="height: 10px"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td  wrap="wrap" valign="top" width="60" id="tdComment"></td>
                            
                            <td id="tdCommentText" valign="top"  colspan="3"></td>
                            @*<td></td>*@
                        </tr>
                        <tr>
                            <td style="height: 10px"></td>
                        </tr>
                         <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td wrap="wrap" valign="top" width="60" id="tdDocument"></td>
                            <td colspan="3" wrap="wrap" valign="top">
                                <table width="100%">
                                    <tr>
                                        <td id="tdDocumentText"  align="left"></td>
                                        <td id="tdDocumentDate"  align="right"></td>
                                    </tr>

                                </table>
                            </td>
                             
                        </tr>
                        <tr>
                            <td style="height: 10px;" colspan="5"><hr style="border-top:solid 1px LightGrey;"/></td>
                        </tr>
                        
                        <tr>
                            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td colspan="4"><b>Is Billable: </b>
                                <input id="cbNoteIsBillable" type="checkbox" />
                                &nbsp;&nbsp;<b>No.of Hours: </b>
                                <input id="txtNoteNoOfHours" type="text" style="width: 60px;" /></td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td align="right" class="footer">
                    <input type="hidden" id="hdnNoteId" />
                    <img id="imgProgressNoteSave" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                    <input id="btnNoteSave" class="buttonYellow_100" type="button" value="Save" onclick="btnNoteSave_Click()" /></td>
            </tr>
        </table>
    </div>

</div>
<div id="NoteParticipantsendEmail" style="display: none;" class="EditPopup">
    <div>
        <table style="width: 100%" cellspacing="0">

            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        Send Email
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disableParticipantsendEmailPopup();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table width="100%" id="tblSenndEmailParticipant" cellspacing="0">
        <tr>
            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td style="display: none;">
                <input type="hidden" id="hdnParticipantsname" name="hdnParticipantsname" />
                <input type="hidden" id="hdnEmailAssignmentId" name="hdnEmailAssignmentId" />
                <input type="hidden" id="hdnEmailSubject" name="hdnEmailSubject" />
                <input type="hidden" id="hdnEmailComment" name="hdnEmailComment" />
                <input type="hidden" id="hdnEmailfromUserid" name="hdnEmailfromUserid" />
                <input type="hidden" id="hdnEmailDateCreated" name="hdnEmailDateCreated" />
                <input type="hidden" id="hdnIsSystemGenerated" name="hdnIsSystemGenerated" />
            </td>
        </tr>
        @{
            i = 0;
            foreach (var objParticipant in Model.ClaimParticipantslist)
            {
            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td nowrap="nowrap">
                    <input type="checkbox" name="chkpartipantcheckboxname" class="ClassClaimParticipant" id="chkpartipant" value="@objParticipant.UserId"/>@objParticipant.ShortDesc
                </td>
            </tr>
                i++;

            }
        }
        <tr>
            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right" class="footer">
                <input type="submit" onclick="sendEmailToparticipants()" value="Send" name="Send" class="buttonLightYellow_100" /></td>
        </tr>

    </table>

</div>
<div id="backgroundPopupNewNote" onclick="disablePopupNewNote();" class="backgroundPopup" style="display: none;"></div>
<div id="backgroundPopupNotedetails" onclick="disablePopupNotedetails();" class="backgroundPopup" style="display: none;"></div>
<div id="backgroundParticipantsendEmailPopup" onclick="disableParticipantsendEmailPopup();" class="backgroundPopup" style="display: none;"></div>
