﻿@using BLL
@model IEnumerable<GetCANAssignmentsServicesList_Result>
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();    
}
<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
    <tr>
        <td class="subHeading borderBottomLightGray" nowrap="nowrap"></td>

    </tr>
    <tr>
        <td class="footer">
            @{
                //BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                Int64? assigid = 0;
                foreach (var item in Model)
                {
                    assigid = item.Assignmentid;
                    break;
                }               
                
                    Int64? ClaimId = css.PropertyAssignments.Where(a => a.AssignmentId == assigid).Select(a => a.ClaimId).FirstOrDefault();    
                                
            }


          
            @*<input type="button" value="Make New Request" onclick="location.href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = ClaimId, Jobid = Model.FirstOrDefault().JobId, IsView = false, ServiceId = 0 })'" class="buttonYellow_120" />*@
        </td>
    </tr>
    <tr>

        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td >
                            Job Type
                        </td>
                        <td >
                            Service Type
                        </td>
                        <td>
                            Service Provider
                        </td>
                        <td>
                            Date Assign
                        </td>
                        <td>
                            Status
                        </td>
                        <td width="20%">View/Edit</td>

                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.ToList().Count() > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td >
                                    @*@if (loggedInUser.UserTypeId == 11 && item.JobId == 6)
                                    {
                                    <a href='#' onclick="ExaminerAlert();" style="border: none; color: blue; text-decoration: none;">
                                        @item.JobDesc
                                    </a>
                                    }
                                    else
                                    {*@
                                        <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = ClaimId, Jobid = item.JobId, IsView = true, ServiceId = item.ServiceId, CanAssignmentJobId = item.AssignmentJobId })' style="border: none; color: blue; text-decoration: none;">
                                            @item.JobDesc
                                        </a>
                                    @*}*@                                    
                                </td>
                                <td>
                                    @item.Servicename
                                </td>
                                <td>
                                    @item.OAName
                                </td>
                                <td>
                                    @item.DateAssigned
                                </td>
                                <td>                                   
                                    @item.FileStatus
                                </td>
                                <td width="20%">
                                    <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = ClaimId, Jobid = item.JobId, IsView = false, ServiceId = item.ServiceId, CanAssignmentJobId = item.AssignmentJobId })' style="border: none; color: black; text-decoration: none;">
                                        <img src="~/Content/Images/Edit.png" title="View" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="color:red;text-align:center" colspan="3">
                                - No Records -

                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
</table>