﻿@model BLL.ViewModels.XACTClaimsInfoViewModel

@{
    Layout = null;
    ViewBag.Title = "AssignmentDiaries";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    }
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<table align="left"  cellpadding="3" cellspacing="0" width="100%">
    <tr>
        <td class="mainHeader">Diaries :</td>
    </tr>
    <tr>
        <td class="content">
            @*<table width="100%">
                <tr style="text-align: right;">
                    <td>
                        <input type="button" class="buttonLightYellow_100" name="OpenNotelist" value="New Note" onclick="loadPopupNewPopup();" />
                    </td>
                </tr>
            </table>*@
            <table cellpadding="3" cellspacing="0" width="100%">

                <thead class="tableHeader">
                    <tr valign="top">
                        <td>Date Created
                        </td>
                        <td>Added By</td>
                        <td>Comment</td>
                        <td>Private</td>
                        <td>System</td>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <div id="divDiariesList"></div>
                    </td>
                </tr>