﻿@model BLL.ViewModels.XACTClaimsInfoViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div>
    @* <table width="100%">
       
        <tr>
            <td class="content">*@


    @* <table width="100%">

                    <tr>
                        <td width="20%">
                            <b>Claim Number
                            </b></td>
                        <td>
                            @Model.claim.ClaimNumber</td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <b>CAT Code
                            </b></td>
                        <td>
                            @Model.claim.CatCode</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Claim Date</b></td>
                        <td>
                            @{
                                string ClaimDate = "";

                                if (Model.claim.ClaimCreatedDate != null)
                                {
                                    ClaimDate = CSS.Utility.getDateInDefaultFormat(Model.claim.ClaimCreatedDate.Value);
                                }
                            }
                            @ClaimDate</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Total Deductible</b></td>
                        <td>
                            @Model.claim.TotalDeductible</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Cause Type of Loss</b></td>
                        <td>
                            @Model.claim.CauseTypeOfLoss</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Date of Loss</b></td>
                        <td>
                            @{
                                string DateofLoss = "";

                                if (Model.claim.DateofLoss != null)
                                {
                                    DateofLoss = CSS.Utility.getDateInDefaultFormat(Model.claim.DateofLoss.Value);
                                }
                            }
                            @DateofLoss
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Insured 1 Name</b></td>
                        <td>
                            @Html.Encode(Model.claim.InsuredFirstName) @Html.Encode(Model.claim.InsuredLastName)</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Insured 1 Address</b></td>
                        <td>
                            @Model.claim.InsuredAddress1 @Model.claim.InsuredAddress2 @Model.claim.InsuredCity @Model.claim.InsuredState @Model.claim.InsuredZip</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Carrier ID</b></td>
                        <td>
                            @Model.claim.CarrierID</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Rotation Trade</b></td>
                        <td>
                            @Model.claim.RotationTrade</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Job Size Code</b></td>
                        <td>
                            @Model.claim.JobSizeCode</td>
                    </tr>
                </table>*@
    @*     </td>
        </tr>
        <tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
    </table>*@

</div>
<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Policy Information</td>
        </tr>
        <tr>
            <td class="content">


                <table width="100%">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td align="left" valign="top" width="50%" style="padding-right: 5px;">
                                        <table width="100%" cellspacing="0">

                                            <tr>
                                                <td width="150" nowrap="nowrap" class="tableRowAlternate">
                                                    <b>Policy
                                                    </b>#<b>:</b></td>
                                                <td width="100%" class="tableRowAlternate">
                                                    @Model.claim.PolicyNumber</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">
                                                    <b>Policy Effective Date:</b><br />
                                                </td>
                                                <td>
                                                    @(Model.claim.PolicyEffectiveDate.HasValue ? Model.claim.PolicyEffectiveDate.Value.ToString("MM/dd/yyyy") : "")</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" class="tableRowAlternate">
                                                    <b>Policy Type:</b></td>
                                                <td class="tableRowAlternate">
                                                    @Model.claim.PolicyType</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left" valign="top" width="50%">
                                        <table width="100%" cellspacing="0">

                                            <tr>
                                                <td width="150" nowrap="nowrap" align="left" class="tableRowAlternate"
                                                    valign="top">
                                                    <b>Policy Inception Date:</b></td>
                                                <td width="100%" align="left" class="tableRowAlternate" valign="top">
                                                    @(Model.claim.PolicyInceptionDate.HasValue ? Model.claim.PolicyInceptionDate.Value.ToString("MM/dd/yyyy") : "")</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" align="left" valign="top">
                                                    <b>Policy Expiration Date:</b></td>
                                                <td align="left" valign="top">
                                                    @(Model.claim.PolicyExpirationDate.HasValue ? Model.claim.PolicyExpirationDate.Value.ToString("MM/dd/yyyy") : "")</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap" align="left" class="tableRowAlternate" valign="top">
                                                    <b>Is Single Deductible:</b></td>
                                                <td align="left" class="tableRowAlternate" valign="top">
                                                    @(Model.claim.IsSingleDeductible.HasValue ? Model.claim.IsSingleDeductible.Value ? "Yes" : "No" : "No")</td>
                                            </tr>
                                            <tr>
                                                <td nowrap="nowrap">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                                <tr class="tableHeader">
                                    <td width="14%" nowrap="nowrap"><b>Coverage Name
                                    </b></td>
                                    <td width="14%" nowrap="nowrap"><b>Coverage Type
                                    </b></td>
                                    <td width="14%" nowrap="nowrap"><b>Coverage Limit
                                    </b></td>
                                    <td width="18%" nowrap="nowrap"><b>Coverage Deductible
                                    </b></td>
                                    <td width="14%" nowrap="nowrap"><b>Coverage Reserve
                                    </b></td>
                                    <td width="14%" nowrap="nowrap"><b>RCV
                                    </b></td>
                                    <td width="14%" nowrap="nowrap"><b>ACV
                                    </b></td>
                                    @*<td width="14%" nowrap="nowrap"><b>Expense Reserve
                                    </b></td>*@
                                </tr>
                                @{
                                    var ClaimCoverages = css.ClaimCoverages.Where(prop => prop.ClaimId == Model.claim.ClaimId);
                                    int claimCoveragesRowIndex = 0;
                                    foreach (var ClaimCoverage in ClaimCoverages)
                                    {
                                        claimCoveragesRowIndex++;
                                    <tr>
                                        <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @ClaimCoverage.CoverageName
                                        </td>
                                        <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @{
                                        if (ClaimCoverage.CoverageType != null)
                                        {
                                            if (ClaimCoverage.CoverageType != "0")
                                            {
                                                BLL.CoverageType coverageType = css.CoverageTypes.Find(Convert.ToInt16(ClaimCoverage.CoverageType));
                                                if (coverageType != null)
                                                {
                                                @coverageType.CoverageType1
                                                }
                                            }
                                        }
                                            }

                                        </td>
                                        <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @ClaimCoverage.CoverageLimit
                                        </td>
                                        <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @ClaimCoverage.CoverageDeductible
                                        </td>
                                        <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @(ClaimCoverage.COV_Reserves ==null? 0: ClaimCoverage.COV_Reserves)
                                        </td>
                                        <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @ClaimCoverage.COV_RCV
                                        </td>
                                        <td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @ClaimCoverage.COV_ACV
                                        </td>
                                        @*<td @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                            @(ClaimCoverage.ExpenseReserve.HasValue ? ClaimCoverage.ExpenseReserve + "" : "")
                                        </td>*@
                                    </tr>
                                    }
                                                if (ClaimCoverages.ToList().Count > 0)
                                                {
                                                    <tr>
                                                        <td colspan="3"></td>
                                                        <td class="tableRowAlternate"><b>Total Reserves</b></td>
                                                        <td class="tableRowAlternate">
                                                            <b>
                                                                @{
                                                                    var totalreserves = "0";
                                                                    if (ClaimCoverages.Sum(x => x.COV_Reserves).HasValue)
                                                                    {
                                                                        totalreserves = ClaimCoverages.Sum(x => x.COV_Reserves).Value.ToString();
                                                                        //totalreserves = "0";
                                                                    }
                                                                    else
                                                                    {
                                                                        totalreserves = "0";
                                                                        // totalreserves = ClaimCoverages.Sum(x => x.COV_Reserves).Value.ToString();
                                                                    }
                                                                    // totalreserves = (ClaimCoverages.Sum(x => x.COV_Reserves).Value != 0 ? ClaimCoverages.Sum(x => x.COV_Reserves).Value.ToString() : "0");
                                                                }
                                                                @(totalreserves != null ? totalreserves : "0")
                                                            </b>
                                                        </td>
                                                        <td colspan="2"></td>
                                                    </tr>
                                                                    }
                                    if (claimCoveragesRowIndex == 0)
                                    {
                                    <tr>
                                        <td colspan="7" align="center">
                                            <br />
                                            - No Records -
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="400">
                                <tr class="tableHeader">
                                    <td nowrap="nowrap">Mortgage Holder</td>
                                    <td nowrap="nowrap">Loan Number</td>
                                </tr>
                                @{
                                    List<BLL.ClaimMortgage> claimMortgageList = css.ClaimMortgages.Where(x => x.ClaimId == Model.claim.ClaimId).ToList();
                                    int claimMortgagesRowIndex = 0;
                                    foreach (var mortgage in claimMortgageList)
                                    {
                                    <tr>
                                        <td width="100%" @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@mortgage.MortgageHolder</td>
                                        <td nowrap="nowrap" @(claimCoveragesRowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@mortgage.LoanNumber</td>
                                    </tr>
                                        claimMortgagesRowIndex++;
                                    }

                                    if (claimMortgagesRowIndex == 0)
                                    {
                                    <tr>
                                        <td colspan="2" align="center">- No Records -<br />
                                        </td>
                                    </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
    </table>
</div>
<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Insured Information</td>
        </tr>
        <tr>
            <td class="content">

                <table width="100%">
                    <tr>
                        <td align="left" valign="top" style="padding-right: 5px;" width="50%">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <b>Primary Contact:</b></td>
                                    <td width="100%">
                                        @{
                                            string primaryContactPerson = "";
                                            if (String.IsNullOrEmpty(Model.claim.PropertyContactName))
                                            {
                                                primaryContactPerson = Model.claim.InsuredFirstName + " " + Model.claim.InsuredLastName;
                                            }
                                            else
                                            {
                                                primaryContactPerson = Model.claim.PropertyContactName;
                                            }
                                            @primaryContactPerson
                                        }



                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                        <b>Insured First Name:</b></td>
                                    <td width="100%" class="tableRowAlternate">
                                        @Model.claim.InsuredFirstName</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Address 1:</b></td>
                                    <td>
                                        @Model.claim.InsuredAddress1</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured State:</b></td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.InsuredState</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Home Phone:</b></td>
                                    <td>
                                        @Model.claim.InsuredHomePhone</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured Mobile Phone:</b></td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.InsuredMobilePhone</td>
                                </tr>
                            </table>
                        </td>
                        <td align="left" valign="top" width="50%" cellspacing="0">
                            <table width="100%" cellspacing="0">
                                 <tr>
                                    <td nowrap="nowrap" width="150">
                                        <br /></td>
                                    <td width="100%">
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                        <b>Insured Last Name:</b></td>
                                    <td width="100%" class="tableRowAlternate">
                                        @Model.claim.InsuredLastName</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Address 2:</b></td>
                                    <td>
                                        @Model.claim.InsuredAddress2</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured City:</b></td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.InsuredCity</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Insured Zip:</b></td>
                                    <td>
                                        @Model.claim.InsuredZip</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Insured Business Phone:</b></td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.InsuredBusinessPhone</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <strong>Insured Email:</strong></td>
                                    <td>
                                        @if (loggedInUser.UserTypeId != 11)
                                        {
                                            <a href="#" onclick="OpenemailUtility('@Model.claim.InsuredEmail','<b>Mobile:</b> @Model.claim.InsuredMobilePhone <b>Business:</b> @Model.claim.InsuredBusinessPhone <b>Home:</b> @Model.claim.InsuredHomePhone','Insured Name:@Html.Encode(Model.claim.InsuredFirstName) @Html.Encode(Model.claim.InsuredLastName) - Claim Number: @Model.claim.ClaimNumber');">@Model.claim.InsuredEmail</a>
                                        }
                                        else
                                        {
                                            @:@Model.claim.InsuredEmail
                                                                                 }

                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
    </table>

</div>

<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Claimant Information</td>
        </tr>
        <tr>
            <td class="content">
                <table width="100%">
                    <tr>
                        <td align="left" valign="top" style="padding-right: 5px;" width="50%">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <b>Primary Contact:</b>
                                    </td>
                                    <td width="100%">
                                        @{
                                            string primaryContact = "";
                                            if (String.IsNullOrEmpty(Model.claim.PropertyContactName))
                                            {
                                                primaryContact = Model.claim.ClaimantFirstName + " " + Model.claim.ClaimantLastName;
                                            }
                                            else
                                            {
                                                primaryContact = Model.claim.PropertyContactName;
                                            }
                                            @primaryContact
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                        <b>Claimant First Name:</b>
                                    </td>
                                    <td width="100%" class="tableRowAlternate">
                                        @Model.claim.ClaimantFirstName
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Claimant Address 1:</b>
                                    </td>
                                    <td>
                                        @Model.claim.ClaimantAddress1
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Claimant State:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.ClaimantState
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Claimant Home Phone:</b>
                                    </td>
                                    <td>
                                        @Model.claim.ClaimantHomePhone
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Claimant Mobile Phone:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.ClaimantMobilePhone
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Claimant Vehicle Year/Make/Model:</b>
                                    </td>
                                    <td>
                                        @Model.claim.VehicleYearMakeMode
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Claimant VIN:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.ClaimantVIN
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="left" valign="top" width="50%" cellspacing="0">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <br />
                                    </td>
                                    <td width="100%"></td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150" class="tableRowAlternate">
                                        <b>Claimant Last Name:</b>
                                    </td>
                                    <td width="100%" class="tableRowAlternate">
                                        @Model.claim.ClaimantLastName
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Claimant Address 2:</b>
                                    </td>
                                    <td>
                                        @Model.claim.ClaimantAddress2
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Claimant City:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.ClaimantCity
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>Claimant Zip:</b>
                                    </td>
                                    <td>
                                        @Model.claim.ClaimantZip
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Claimant Business Phone:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @Model.claim.ClaimantBusinessPhone
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <strong>Claimant Email:</strong>
                                    </td>
                                    <td>
                                        @if (loggedInUser.UserTypeId != 11)
                                        {
                                            <a href="#" onclick="OpenemailUtility('@Model.claim.ClaimantEmail','<b>Mobile:</b> @Model.claim.ClaimantMobilePhone <b>Business:</b> @Model.claim.ClaimantBusinessPhone <b>Home:</b> @Model.claim.ClaimantHomePhone','Claimant Name:@Html.Encode(Model.claim.ClaimantFirstName) @Html.Encode(Model.claim.ClaimantLastName) - Claim #: @Model.claim.ClaimNumber');">@Model.claim.ClaimantEmail</a>
                                        }
                                        else
                                        {
                                            @:@Model.claim.ClaimantEmail
                                                                                 }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
    </table>
</div>
<div>
    <table width="100%">
        <tr>
            <td class="subHeading">Loss Information</td>
        </tr>
        <tr>
            <td class="content">

                <table width="100%">
                    <tr>
                        <td align="left" valign="top" style="padding-right: 5px;" width="50%">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Property Contact Name:</b>
                                    </td>
                                    <td class="tableRowAlternate">@Model.claim.PropertyContactName</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <b>Type of Loss:</b></td>
                                    <td width="100%">@{
                                        if (Model.claim.CauseTypeOfLoss.HasValue)
                                        {
                                            BLL.LossType lossType = css.LossTypes.Find(Model.claim.CauseTypeOfLoss.Value);
                                            if (lossType != null)
                                            {
                                        @lossType.LossType1
                                            }
                                        }
                                    }</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Address 1:</b></td>
                                    <td class="tableRowAlternate">@Model.claim.PropertyAddress1</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>State :</b></td>
                                    <td>@Model.claim.PropertyState</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Location:</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @if (Model.claim.PropertyLatitude.HasValue && Model.claim.PropertyLongitude.HasValue)
                                        {
                                            @(Model.claim.PropertyLatitude + "," + Model.claim.PropertyLongitude);
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="left" valign="top" width="50%">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Property Contact Phone:</b>
                                    </td>
                                    <td class="tableRowAlternate">@Model.claim.PropertyContactPhone</td>
                                    
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" width="150">
                                        <b>Loss Date:</b></td>
                                    <td width="100%">@(Model.claim.DateofLoss.HasValue ? Model.claim.DateofLoss.Value.ToString("MM/dd/yyyy hh:mm tt") : "")</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Address 2:</b></td>
                                    <td class="tableRowAlternate">@Model.claim.PropertyAddress2</td>
                                    
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">
                                        <b>City:</b></td>
                                    <td>@Model.claim.PropertyCity</td>
                                    
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate">
                                        <b>Zip:</b></td>
                                    <td class="tableRowAlternate">@Model.claim.PropertyZip</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
            <td class="subFooter">
                <br />
            </td>
        </tr>
    </table>

</div>

