﻿@model BLL.ViewModels.XACTClaimsInfoViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style type="text/css">
      #bgHRTWorkUpdatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 350px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript">
    function emailUtilityDivHide() {
        $('#divEmailUtility').css("display", "none");
    }
    function SubmitEquipmentStatus() {
        var error = "<ul>";
        var rcd = 0;
        if ($('#EquipmentCount').val() == '') {
            error += "<li>Equipment Count required</li>"
            rcd = 1;
        }
       
         if ($('#EquipmentPlacedDate').val() == '') {
            error += "<li>Equipment Placed Date required</li>"
            rcd = 1;
        }
        if ($('#EquipmentTakenOffDate').val() == '') {
            error += "<li>Equipment Taken Off Date required</li>"
            rcd = 1;
        }
        
        if( rcd == 0) {
            // debugger
            HRTWorkUpdate();
            //   setAssignmentApproveStatus();
            AssignmentDetailsBasicUpdate();
        }
        $('#divError').html(error+"</ul>")
     }
    function HRTWorkUpdate() {
       
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PropertyAssignment/HRTWorkUpdate")',
            data: { assignmentid: '@Model.PropertyAssignment.AssignmentId', EquipmentCount: $('#EquipmentCount').val(), EquipmentPlacedDate: $('#EquipmentPlacedDate').val(), EquipmentTakenOffDate: $('#EquipmentTakenOffDate').val() },
            success: function (data) {
                disableHRTWorkPopup();
                $('#statusChangeNote').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });

    }
    function loadHRTWorkPopup() {
     

        $('#divError').html('');
        centerHRTWorkPopup();
        $("#bgHRTWorkUpdatePopup").css({
            "opacity": "0.7"
        });
        $("#bgHRTWorkUpdatePopup").fadeIn("slow");
        $("#divHRTWorkUpdate").fadeIn("slow");

    }
    function disableHRTWorkPopup() {

        $("#bgHRTWorkUpdatePopup").fadeOut("slow");
        $("#divHRTWorkUpdate").fadeOut("slow");
        // $('#statusChangeapproveNote').val('');
    }
    function centerHRTWorkPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divHRTWorkUpdate").height();
        var popupWidth = $("#divHRTWorkUpdate").width();
        //centering  
        $("#divHRTWorkUpdate").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#bgHRTWorkUpdatePopup").css({
            "height": windowHeight
        });
        return false;
    }
</script>
<table width="100%" style="padding-bottom:145px">
    <tr>
        <td class="subHeading">Details</td>
    </tr>
    <tr>
        <td class="content">
            <table width="100%">
                <tr>
                    <td width="50%">
                        <table width="100%">
                            <tr>
                                <td align="left" nowrap="nowrap" valign="top" title="150"><b>Assignment Date:</b></td>
                                <td align="left" valign="top" width="100%">
                                    @{
                                        if (Model.claim != null)
                                        {
                                            @(Model.claim.ClaimCreatedDate.HasValue ? Model.claim.ClaimCreatedDate.Value.ToString("MM/dd/yyyy") : "")
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top" title="150"><b>Client:</b></td>
                                <td class="tableRowAlternate" align="left" valign="top" width="100%">
                                    @{
                                        if (Model.claim != null)
                                        {
                                            BLL.Company insuranceCompany = null;
                                            if (Model.claim.HeadCompanyId.HasValue)
                                            {
                                                insuranceCompany = css.Companies.Find(Model.claim.HeadCompanyId);
                                            }
                                            if (insuranceCompany != null)
                                            {
                                                @insuranceCompany.CompanyName
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td align="left" nowrap="nowrap" valign="top"><b>Claimant #:</b></td>
                                <td align="left" valign="top" width="300">
                                    @{
                                        if (Model.claim != null)
                                        {
                                        @Model.claim.ClaimNumber
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top"><b>CAT Code:</b></td>
                                <td class="tableRowAlternate" align="left" valign="top" width="300">
                                    @{
                                        if (Model.claim != null)
                                        {
                                            if (!String.IsNullOrEmpty(Model.claim.CatCode))
                                            {
                                                @Model.claim.CatCode
                                            }
                                        }
                                    }</td>
                            </tr>
                            <tr>
                                <td align="left" nowrap="nowrap" valign="top"><b>Severity Level:</b></td>
                                <td align="left" valign="top" width="300">@{
                                    if (Model.claim != null)
                                    {
                                        if (Model.claim.SeverityLevel.HasValue)
                                        {
                                            BLL.SeverityLevel severityLevel = css.SeverityLevels.Find(Model.claim.SeverityLevel.Value);
                                            if (severityLevel != null)
                                            {
                                    @severityLevel.SeverityLevel1
                                            }

                                        }
                                    }
                                }
                                </td>
                            </tr>

                            <tr>
                                <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top"><b>Service Offering:</b></td>
                                <td class="tableRowAlternate" align="left" valign="top" width="300">@{
                                    if (Model.claim != null)
                                    {
                                        if (Model.claim.ServiceOffering.HasValue)
                                        {
                                            BLL.ServiceOffering serviceOffering = css.ServiceOfferings.Find(Model.claim.ServiceOffering.Value);
                                            if (serviceOffering != null)
                                            {
                                    @serviceOffering.ServiceDescription
                                            }

                                        }
                                    }
                                }</td>
                            </tr>
                            <tr>
                                <td align="left" nowrap="nowrap" valign="top"><b>Claim Description:</b></td>
                                <td align="left" wrap="wrap" valign="top"
                                    style="padding-left: 5px;" width="300">
                                    @{
                                        if (Model.PropertyAssignment != null)
                                        {
                                        @Model.PropertyAssignment.AssignmentDescription
                                        }
                                    }
                                </td>

                            </tr>
                            <tr>
                                <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top"
                                    width="170"><b>Examiner:</b></td>
                                <td class="tableRowAlternate" align="left" valign="top" width="100%">
                                    @{
                                            
                                        if (Model.claim != null)
                                        {
                                            if (Model.claim.ClientPointOfContactUserId.HasValue)
                                            {
                                                BLL.User user = css.Users.Find(Model.claim.ClientPointOfContactUserId.Value);
                                                if (user != null)
                                                {
                                                    if (loggedInUser.UserTypeId != 11)
                                                    {
                                        <a href="#" onclick="OpenemailUtility('@user.Email','<b>Mobile:</b> @user.MobilePhone <b>Business:</b>@user.WorkPhone <b>Home:</b> @user.HomePhone','Insured Name:@Html.Encode(Model.claim.InsuredFirstName) @Html.Encode(Model.claim.InsuredLastName) - Claim #: @Model.claim.ClaimNumber')">@((!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") + "" + (!String.IsNullOrEmpty(user.MiddleInitial) ? " " + user.MiddleInitial : "") + " " + (!String.IsNullOrEmpty(user.LastName) ? " " + user.LastName : ""))</a>
                                                    }
                                                    else
                                                    {
                                        @:@((!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") + "" + (!String.IsNullOrEmpty(user.MiddleInitial) ? " " + user.MiddleInitial : "") + " " + (!String.IsNullOrEmpty(user.LastName) ? " " + user.LastName : ""))
                                                                                                                                    }
                                                }
                                            }
                                        }
                                    }</td>
                            </tr>
                            @*<tr>
                                <td align="left" nowrap="nowrap" valign="top"
                                    width="150"><b>CSS Point of Contact:</b></td>
                                <td align="left" valign="top" width="100%">
                                    @{
                                            
                                        if (Model.PropertyAssignment != null)
                                        {
                                            if (Model.PropertyAssignment.CSSPointofContactUserId.HasValue)
                                            {
                                                BLL.User user = css.Users.Find(Model.PropertyAssignment.CSSPointofContactUserId.Value);
                                                if (user != null)
                                                {
                                                    if (loggedInUser.UserTypeId != 11)
                                                    {
                                        <a href="#" onclick="OpenemailUtility('@user.Email','<b>Mobile:</b> @user.MobilePhone <b>Business:</b>@user.WorkPhone <b>Home:</b> @user.HomePhone','Insured Name:@Html.Encode(Model.claim.InsuredFirstName) @Html.Encode(Model.claim.InsuredLastName) - Claim #: @Model.claim.ClaimNumber')">@((!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") + "" + (!String.IsNullOrEmpty(user.MiddleInitial) ? " " + user.MiddleInitial : "") + " " + (!String.IsNullOrEmpty(user.LastName) ? " " + user.LastName : ""))</a>  
                                                    }
                                                    else
                                                    {
                                        @:@((!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") + "" + (!String.IsNullOrEmpty(user.MiddleInitial) ? " " + user.MiddleInitial : "") + " " + (!String.IsNullOrEmpty(user.LastName) ? " " + user.LastName : ""))


                                        
                                                                                                
                                                    }
                                                }
                                            }
                                        }
                                    }</td>
                            </tr>*@
                            @*<tr>
                                <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top"><b>QA Agent:</b></td>
                                <td class="tableRowAlternate" align="left" valign="top">
                                    @{
                                            
                                        if (Model.PropertyAssignment != null)
                                        {
                                            if (Model.PropertyAssignment.CSSQAAgentUserId.HasValue)
                                            {
                                                BLL.User user = css.Users.Find(Model.PropertyAssignment.CSSQAAgentUserId.Value);
                                                if (user != null)
                                                {
                                                    if (loggedInUser.UserTypeId != 11)
                                                    {
                                        <a href="#" onclick="OpenemailUtility('@user.Email','<b>Mobile:</b> @user.MobilePhone <b>Business:</b>@user.WorkPhone <b>Home:</b> @user.HomePhone','Insured Name:@Html.Encode(Model.claim.InsuredFirstName) @Html.Encode(Model.claim.InsuredLastName) - Claim #: @Model.claim.ClaimNumber')">@((!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") + "" + (!String.IsNullOrEmpty(user.MiddleInitial) ? " " + user.MiddleInitial : "") + " " + (!String.IsNullOrEmpty(user.LastName) ? " " + user.LastName : ""))</a>
                                                    }
                                                    else
                                                    {
                                        @((!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") + "" + (!String.IsNullOrEmpty(user.MiddleInitial) ? " " + user.MiddleInitial : "") + " " + (!String.IsNullOrEmpty(user.LastName) ? " " + user.LastName : ""))                
                                                    }
                                                }
                                            }
                                        }
                                    }</td>
                            </tr>*@


                                                            

                            <tr>
                                <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top"><b>Line of Business:</b></td>
                                <td class="tableRowAlternate" align="left" valign="top">
                                    @{
                                    if (Model.claim != null)
                                    {
                                        if (Model.claim.LOBId.HasValue)
                                        {
                                            BLL.LineOfBusiness lob = css.LineOfBusinesses.Find(Model.claim.LOBId.Value);
                                            if (lob != null)
                                            {
                                                @lob.LOBDescription
                                            }
                                        }
                                    }
                                }
                            </td>
                            </tr>
                            @{
                                if (Model.PropertyAssignment != null)
                                {
                                    
                                @*<tr>
                                    <td  align="left" nowrap="nowrap" valign="top"
                                        width="150"><b>HRT Work:</b></td>
                                    <td  align="left" valign="top" width="100%">
                                        @{
                                             if (loggedInUser.UserTypeId == 2||loggedInUser.AssignedRights.Contains((byte)3))
                                    {
                                        if (!Model.PropertyAssignment.EquipmentCount.HasValue)
                                        {
                                          @:<a href="#" onclick="loadHRTWorkPopup()">Add</a>
                                        }
                                        else
                                        {
                                          @:<a href="#" onclick="loadHRTWorkPopup()">Edit</a>
                                        }
                                        }                                      
                                        }</td>
                                </tr>*@
                             
                                        if (Model.PropertyAssignment.EquipmentCount.HasValue)
                                        {
                                  <tr>
                                    <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top"
                                        width="150"><b>Equipment Count:</b></td>
                                    <td class="tableRowAlternate" align="left" valign="top" width="100%">
                                         @Model.PropertyAssignment.EquipmentCount
                                      </td>
                                  </tr>
                                  <tr>
                                    <td  align="left" nowrap="nowrap" valign="top"
                                        width="150"><b>Equipment Placed Date:</b></td>
                                    <td  align="left" valign="top" width="100%">
                                        @Model.PropertyAssignment.EquipmentPlacedDate

                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="tableRowAlternate" align="left" nowrap="nowrap" valign="top"
                                        width="150"><b>Equipment Taken Off Date:</b></td>
                                    <td class="tableRowAlternate" align="left" valign="top" width="100%">
                                          @Model.PropertyAssignment.EquipmentTakenOffDate

                                    </td>
                                  </tr>
                            }
                            
                                }
                            }
                            @*<tr>
                    <td>
                        <b>Sender ID
                        </b></td>
                    <td>
                        @{
                            if (Model.claiminfo != null)
                            {
                                if (Model.claiminfo.SenderID.HasValue)
                                {
                            @Model.claiminfo.SenderID
                                }
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <b>Creators User Number</b></td>
                    <td>
                        @{
                            if (Model.claiminfo != null)
                            {
                                
                            @Model.claiminfo.CreatorsUserNumber
                                
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Carrier Office 1</b></td>
                    <td>
                        @{
                            if (Model.claiminfo != null)
                            {
                                
                            @Model.claiminfo.carrierOffice1
                                
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Carrier Office 2</b></td>
                    <td>
                        @{
                            if (Model.claiminfo != null)
                            {
                                
                            @Model.claiminfo.carrierOffice2
                                
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Profile Code</b></td>
                    <td>
                        @{
                            if (Model.claiminfo != null)
                            {
                                
                            @Model.claiminfo.profileCode
                                
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Estimate Count</b></td>
                    <td>
                        @{
                            if (Model.claiminfo != null)
                            {
                                
                            @Model.claiminfo.estimateCount
                                
                            }
                        }
                    </td>
                </tr>*@

                        </table>

                    </td>
                    @{
                        if (Model.ShowFileStatus == true)
                        {
                            <td valign="top" width="50%">@Html.Partial("_AssignmentManageStatus")</td>
                        }
                    }
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="subFooter">
            <br />
        </td>
    </tr>
</table>
<div id="bgHRTWorkUpdatePopup" onclick="disableHRTWorkPopup()"></div>
<div id="divHRTWorkUpdate" class="EditPopup">
    @using (Html.BeginForm("HRTWorkUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmHRTWorkUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>HRT Work</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableHRTWorkPopup()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="claimId2" name="claimId" value="@Model.claim.ClaimId" />
                    <input type="hidden" id="assignmentId2" name="assignmentId" value="@Model.PropertyAssignment.AssignmentId" />
                  
                    <table width="100%">
                            <tr>
                            <td align="left"  colspan="2">
                                <div id="divError" style="color:red"></div>
                            </td>
                           
                        </tr>

                        <tr>
                            <td width="25%" align="left">Equipment Count:
                            </td>
                            <td align="left">
                              
                               @Html.TextBoxFor(x => x.PropertyAssignment.EquipmentCount, new { @id = "EquipmentCount" })
                            </td>
                        </tr>

                        <tr>
                            <td width="25%" align="left">Equipment Placed Date :
                            </td>
                            <td align="left">

                                @Html.TextBoxFor(model => model.PropertyAssignment.EquipmentPlacedDate, new { @id = "EquipmentPlacedDate", @class = "DatePickerTextBox", @Value = (Model == null || Model.PropertyAssignment.EquipmentPlacedDate == null ? string.Empty : Convert.ToDateTime(Model.PropertyAssignment.EquipmentPlacedDate).ToString("MM/dd/yyyy")) })
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" align="left">Equipment Taken Off Date :
                            </td>
                            <td align="left">

                                @Html.TextBoxFor(model => model.PropertyAssignment.EquipmentTakenOffDate, new { @id = "EquipmentTakenOffDate", @class = "DatePickerTextBox", @Value = (Model == null || Model.PropertyAssignment.EquipmentTakenOffDate == null ? string.Empty : Convert.ToDateTime(Model.PropertyAssignment.EquipmentTakenOffDate).ToString("MM/dd/yyyy")) })
                            </td>
                        </tr>
                   
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Update" class="buttonYellow_100" onclick="SubmitEquipmentStatus();" />
                </td>
            </tr>
        </table>
    }
</div>
