﻿@model BLL.ViewModels.AssignmentJobsViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

@*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@
<style type="text/css">
    #bgSPPayPercentagePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .SPPayPercentagePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 600px;*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript">

    
    $('#txtSPPayPercent,#txtHoldBackPercent').keypress(function (event) {
        if (event.which != 46 && (event.which < 47 || event.which > 59)) {
            event.preventDefault();
            if ((event.which == 46) && ($(this).indexOf('.') != -1)) {
                event.preventDefault();
            }
        }

    });
    function btnInvoiceTabInvoiceSave_Click() {
        debugger;
        $('#btnInvoiceTabInvoiceSave').attr('disabled', 'disabled');
        UnformatField('financial');
    }
    function showTab(id) {
        $('#tabReserves').css("display", "none");
        $('#tdTextReserves').css("backgroundColor", "LightGray");
        $('#tdTextReserves').css('border-bottom', 'solid');
        $('#tdTextReserves').css('border-width', '1px');
        @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)) || loggedInUser.UserTypeId == 1)
        {
        @:$('#tabPayments').css("display", "none");
                        @:$('#tdTextPayments').css("backgroundColor", "LightGray");
                        @:$('#tdTextPayments').css('border-bottom', 'solid');
                        @:$('#tdTextPayments').css('border-width', '1px');

        @:$('#tabInvoice').css("display", "none");
                        @:$('#tdTextInvoice').css("backgroundColor", "LightGray");
                        @:$('#tdTextInvoice').css('border-bottom', 'solid');
                        @:$('#tdTextInvoice').css('border-width', '1px');

        @:$('#tabPaymentsdetails').css("display", "none");
                        @:$('#tdTextpaymentDetails').css("backgroundColor", "LightGray");
                        @:$('#tdTextpaymentDetails').css('border-bottom', 'solid');
                        @:$('#tdTextpaymentDetails').css('border-width', '1px');

        @:$('#tabPayroll').css("display", "none");
                        @:$('#tdPayroll').css("backgroundColor", "LightGray");
                        @:$('#tdPayroll').css('border-bottom', 'solid');
                        @:$('#tdPayroll').css('border-width', '1px');
                    }
        if (id == 1) {
            $('#tabReserves').css("display", "block");
            $('#tdTextReserves').css("backgroundColor", "White");
            $('#tdTextReserves').css('border-bottom', 'None');
        }
        else if (id == 2) {
            $('#tabPayments').css("display", "block");
            $('#tdTextPayments').css("backgroundColor", "White");
            $('#tdTextPayments').css('border-bottom', 'None');
        }
        else if (id == 3) {
            $('#tabInvoice').css("display", "block");
            $('#tdTextInvoice').css("backgroundColor", "White");
            $('#tdTextInvoice').css('border-bottom', 'None');
        }
        else if (id == 4) {
            $('#tabPaymentsdetails').css("display", "block");
            $('#tdTextpaymentDetails').css("backgroundColor", "White");
            $('#tdTextpaymentDetails').css('border-bottom', 'None');

        }
        else if (id == 5) {
            getPayrollView(@Model.propertyassignment.AssignmentId);
            $('#tabPayroll').css("display", "block");
            $('#tdPayroll').css("backgroundColor", "White");
            $('#tdPayroll').css('border-bottom', 'None');
        }
        window.scrollTo(0, 0);

    }
    function getFinancialPayment(claimid) {
        $.ajax({
            url: '@Url.Action("GetFinacialpaymentList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { claimID: claimid },
            cache: false,
            success: function (result) {
                $('#tabPayments').empty().append(result);
            },
            error: function (error) {
            }
        });
        showTab('2');
        showView('7');
    }
    function getPaymentDetails(claimId, assignmentid, invoiceId) {
        $.ajax({
            url: '@Url.Action("GetPaymentDetailsByAssignmentId", "PropertyAssignmentInvoice")',
            contentType: 'application/json; charset=utf-8',
            data: { claimId: claimId, assignmentid: assignmentid, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#tabPaymentsdetails').empty().append(result);
            },
            error: function (error) {
            }
        });
        showTab('4');
        showView('7');
    }
    function btnSPPayPercentSave_Click() {
        debugger;
        $('#imgSPPayPercentProcessing').show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
            '@Url.Action("SetupSPPayPercentage", "PropertyAssignment")',
                { assignmentId: '@Model.propertyassignment.AssignmentId', spPayPercentage: $('#txtSPPayPercent').val(), holdbackPercentage: $('#txtHoldBackPercent').val() },
                function (result) {
                    if (result == '1' || result == '2') {
                        $('#imgSPPayPercentProcessing').hide();
                        disableSpPayPercentagePopup();
                        showTab('1');//default view
                    }
                }
            );
    }
    function loadSPPayPercentagePopup() {
        centerSPPayPercentagePopup();
        $('#bgSPPayPercentagePopup').css({
            "opacity": "0.7"
        });
        $('#bgSPPayPercentagePopup').fadeIn("slow");
        $('#divSPPayPercentagePopup').fadeIn("slow");
    }
    function disableSpPayPercentagePopup() {

        $('#bgSPPayPercentagePopup').fadeOut("slow");
        $('#divSPPayPercentagePopup').fadeOut("slow");
    }
    function centerSPPayPercentagePopup() {
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divSPPayPercentagePopup").height();
        var popupWidth = $("#divSPPayPercentagePopup").width();
        //centering
        $("#divSPPayPercentagePopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#bgSPPayPercentagePopup").css({
            "height": windowHeight
        });
        return false;
    }
    function CreateCreditinvoice(assignmentid, mode, invoiceId)
    {
        debugger;
        $("#BtnCreditInvoice").hide();
        if(invoiceId > 0)
        {
            //var hdnCreditPrevInvoiceID = invoiceId;
            //$('#hdnCreditPrevInvoiceID').val(hdnCreditPrevInvoiceID);
            //console.log(hdnCreditPrevInvoiceID);
            //var GetInvoiceid = -1;
            getPropertyInvoice(assignmentid,mode,invoiceId,'False'); // for CreateCreditinvoice the PropInvisioninvoice is false
        }
    }
    function loadPropertyInvoiceList(url) {
        debugger;
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();

        $.ajaxSetup({ cache: false });
        $.getJSON(
            url,
            function (result) {

                $('#divPropertyInvoice').empty().append("<br/>" + result);
                $('#tdPropertyInvoicefooter').css('display', 'none');
                $('#trBackToInvoiceList').css('display', 'none');

                $("#divFinanceSubTabLoading").hide();
            }
        );
        showTab('3');
        showView('7');
    }
    function loadPropertyInvoicePopup(assignmentid, mode, invoiceId) {
        debugger;
        $('#divinvoicemessage').empty();
        var PropInvisionInvoice=$('#hdnInvoiceIsInvision').val();
        getPropertyInvoice(assignmentid, mode, invoiceId, PropInvisionInvoice);
    }
    function getPropertyInvoice(assignmentid, mode, invoiceId, PropInvisionInvoice) {
        debugger;
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();
        var hdnInvoiceIsInvision = $('#hdnInvoiceIsInvision').val();
        var IsInvisionInvoice = '@css.Companies.Where(x => x.CompanyId == @Model.Claim.HeadCompanyId).FirstOrDefault().IsInvisionAPI';       
        var InvisionFileStatus = @Model.propertyassignment.FileStatus;
        
         
        
        var url='@Url.Content("~/PropertyAssignmentInvoice/Details")'
        if (IsInvisionInvoice=='True')
        {
                if(PropInvisionInvoice=='True')
                {
                    url = '@Url.Content("~/PropertyAssignmentInvoice/InvisionInvoiceDetails")'
                }else if(PropInvisionInvoice=='False'){
                    url='@Url.Content("~/PropertyAssignmentInvoice/Details")'
                }
        }
        debugger;
       

        var IsClaimaticClaim= '@Model.Claim.IsImportFromClaimatic'//'css.PropertyInvoices.Where(x => x.InvoiceId == invoiceId).FirstOrDefault().IsImportFromClaimatic

        //if(IsClaimaticClaim=='True' && invoiceId !=-1){
        //    mode='Read2'
        //}
        $.ajax({
            url: url,
            contentType: 'application/json; charset=utf-8',
            data: { assignmentid: assignmentid, fileOpenMode: mode, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                debugger;
                $('#divPropertyInvoice').empty()
                if(mode == 'Read')
                {
                    var DetailLink='';
                    if(PropInvisionInvoice=='True')
                    {
                         DetailLink = '<a href="#" onclick="getPropertyInvoiceDetail(' + assignmentid + ','+ "'Read2'"+',' + invoiceId + ','+"'True'"+')">View Invoice Detail</a>';
                    }else{
                         DetailLink = '<a href="#" onclick="getPropertyInvoiceDetail(' + assignmentid + ','+ "'Read2'"+',' + invoiceId + ','+"'False'"+')">View Invoice Detail</a>';
                    }
                    $('#divPropertyInvoice').append(DetailLink);
                }

                $('#divPropertyInvoice').append(result);
                if (mode == 'Read' || mode == 'Read2') {
                    debugger;
                    $('#tdPropertyInvoicefooter').css('display', 'none');
                    // $('input[type="text"]').prop('readonly', true);
                    $('#divPropertyInvoice input[type="text"]').prop('readonly', true);
                }
                else if (IsInvisionInvoice=='True' && (InvisionFileStatus == 7 || InvisionFileStatus == 54 || InvisionFileStatus == 10))
                {
                    $('#tdPropertyInvoicefooter').css('display', 'none');
                }
                else if(mode == 'Creditinvoice')
                {
                    $('#tdPropertyInvoicefooter').css('display', 'table-cell');
                }
                else {
                    $('#tdPropertyInvoicefooter').css('display', 'table-cell');
                }
                $('#trBackToInvoiceList').css('display', 'table-row');
                $("#divFinanceSubTabLoading").hide();
                //added logic to remove property disabled form invoice screen while creating new invoice 05-07-2021
                $('#btnInvoiceTabInvoiceSave').prop('disabled', false);
            },
            error: function (error) {
            }
        });
        $('#divinvoicemessage').css('display', 'none');
        $('#divinvoicemessage').empty();
        showTab('3');
        showView('7');

    }

    function getPropertyInvoiceDetail(assignmentid,mode, invoiceId,PropInvisionInvoice) {
        debugger;
        if(mode=='Read2')
        {
                getPropertyInvoice(assignmentid,'Read2',invoiceId, PropInvisionInvoice);
       
        }
        else{
                getPropertyInvoice(assignmentid,mode,invoiceId, PropInvisionInvoice);
        }

    }
    function getPayrollView() {
        debugger;
        @*$("#divPayrollLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
            '@Url.Content("~/PropertyAssignment/CANPayrollMaster?claimId=" + Model.propertyassignment.ClaimId+ "&AssignmentId=" + Model.propertyassignment.AssignmentId)',
                function (result) {
                    $('#tabPayroll').empty().append("<br/>" + result);
                    $("#divPayrollLoading").hide();
                }
            );*@



        $.ajax({

            url:'@Url.Action("CANPayrollMaster", "PropertyAssignment")',
            data:{claimId: @Model.propertyassignment.ClaimId,AssignmentId: @Model.propertyassignment.AssignmentId},
         
            success:function(result){
                console.log(result);
                $('#tabPayroll').empty().append("<br/>" + result);
            },
            fail:function(data){
                console.log(data);
                alert("error");
            }


        });
    }


    function InvoiceSuccess() {
        $('#divinvoicemessage').css('display', 'block');
        $('#divinvoicemessage').empty().append('Invoice updated Successfully!');
    }
</script>





<table align="center" width="100%" cellpadding="0" cellspacing="0">
    @if (loggedInUser.UserTypeId == 2 || loggedInUser.AssignedRights.Contains((byte)2))
    {
        <tr>
            @if (Model.PropertyInvoiceList.Count == 0)
            {
            <td></td>
            <td>
                <a href="#" onclick="loadSPPayPercentagePopup()">Adjust SP Pay Percentage</a>
               
            </td>
                <td></td>
            }
            else
            {
                <td colspan="3"></td>
            }

        </tr>
    }
 
    <tr valign="bottom">
        <td align="right" valign="baseline" class="boxBlurTopLeft"></td>
        <td class="boxBlurTopMiddle"></td>
        <td align="left" valign="baseline" class="boxBlurTopRight"></td>
    </tr>
    <tr>
        <td class="boxBlurLeftMiddle" valign="bottom">
            &nbsp;
            <img src="@Url.Content("~/Content/Images/BoxBlurLeftMiddle01.jpg")" />

        </td>
        <td>
            <table cellpadding="3" cellspacing="0" style="height: 30px; border-bottom-style: none; border-left-style: solid; border-right-style: solid; border-width: 1px; border-color: #999999"
                   width="100%">
                <tr>
                    @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11 || loggedInUser.AssignedRights.Contains((byte)1)))
                    {
                        <td id="tdTextReserves" align="center" style="background-color: White; border-bottom-style: none; border-top-style: solid; border-width: 1px; border-color: #999999;">
                            <a href="#" onclick="showTab(1)" style="text-decoration: none; color: Black;"><b>Reserves</b></a>
                        </td>
                    }
                    

                    @{

                        Int64 invoiceId = 0;

                        if (Model.PropertyInvoiceList == null || Model.PropertyInvoiceList.Count == 0)
                        {
                            invoiceId = -1;
                        }
                        else
                        {
                            invoiceId = Model.PropertyInvoiceList.OrderByDescending(x => x.InvoiceId).First().InvoiceId;
                        }
                        if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11  || loggedInUser.AssignedRights.Contains((byte)1)) || loggedInUser.UserTypeId == 1)
                        {
                            <td id="tdTabSpace1" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;">
                                <input type="hidden" id="hdnTabInvoiceId" value="@invoiceId" />
                                @{
                                    var PropInvoiceIsInvision = false;
                                    if (Model.PropertyInvoiceList != null && Model.PropertyInvoiceList.Count != 0)
                                    {
                                        PropInvoiceIsInvision = css.PropertyInvoices.Where(x => x.InvoiceId == @invoiceId).FirstOrDefault().IsInvisionInvoice == true ? true : false;
                                        var InvisionINV = PropInvoiceIsInvision.ToString();
                                        <input type="hidden" id="hdnInvoiceIsInvision" value="@InvisionINV" />
                                    }
                                }
                            </td>
                            
                           
                            if (Model.PropertyInvoiceList.Count == 1 || Model.PropertyInvoiceList.Count > 1 || (Model.PropertyInvoiceList.Count < 0))// || (css.PropertyAssignments.Where(x => x.AssignmentId == Model.propertyassignment.AssignmentId).First().FileStatus == 1)))
                            //if (Model.PropertyInvoiceList.Count == 1)
                            {

                                <td id="tdTextInvoice" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                                    @if (Model.PropertyInvoiceList.Count == 1)
                                    {
                                        System.Data.Entity.Core.Objects.ObjectParameter outIsInvoiceEditable = new System.Data.Entity.Core.Objects.ObjectParameter("IsInvoiceEditable", System.Data.DbType.Boolean);
                                        css.usp_IsPropertyInvoiceEditable(outIsInvoiceEditable, invoiceId);
                                        var companyid = Model.Claim.HeadCompanyId;
                                        bool IsInvisionInvoice = css.Companies.Where(x => x.CompanyId == companyid).FirstOrDefault().IsInvisionAPI.Value == true ? true : false;
                                        var IsClaimaticImported = css.PropertyInvoices.Where(x => x.InvoiceId == @invoiceId).FirstOrDefault().IsImportFromClaimatic;

                                    if (IsInvisionInvoice == true && PropInvoiceIsInvision == true)
                                        {
                                        <a href="#" style="text-decoration: none; color: Black;" onclick="getPropertyInvoice('@Model.propertyassignment.AssignmentId','@(Convert.ToBoolean(outIsInvoiceEditable.Value) ? "Edit" : "Read")','@invoiceId','True')">
                                                <b>Invision Invoice</b>
                                            </a>
                                        }
                                        else if (IsClaimaticImported == true)
                                        {
                                            <a href="#" style="text-decoration: none; color: Black;" onclick="getPropertyInvoice('@Model.propertyassignment.AssignmentId','Read2','@invoiceId','False')">
                                                <b>Invoice</b>
                                            </a>
                                        }
                                        else if(PropInvoiceIsInvision==false)
                                        {
                                            <a href="#" style="text-decoration: none; color: Black;" onclick="getPropertyInvoice('@Model.propertyassignment.AssignmentId','@(Convert.ToBoolean(outIsInvoiceEditable.Value) ? "Edit" : "Read")','@invoiceId','False')">
                                                <b>Invoice</b>
                                            </a>

                                            
                                        }
                                    }
                                    else if (Model.PropertyInvoiceList.Count > 1)
                                    {
                                        <a href="#" style="text-decoration: none; color: Black;" onclick="loadPropertyInvoiceList('@Url.Action("AssignmentInvoiceSummaryList", "PropertyAssignmentInvoice", new { ClaimId = Model.propertyassignment.ClaimId, AssignmentId = Model.propertyassignment.AssignmentId, DisplayHeader = "false", IsEditable = "true" })')">
                                            <b>Invoice</b>
                                        </a>
                                         
                                        }
                                    else if (Model.PropertyInvoiceList.Count < 0 || (css.PropertyAssignments.Where(x => x.AssignmentId == Model.propertyassignment.AssignmentId).First().FileStatus > 1))
                                    //else if (Model.PropertyInvoiceList.Count < 0 || (css.PropertyAssignments.Where(x => x.AssignmentId == Model.propertyassignment.AssignmentId).First().FileStatus == 7)) //Condtion removed for status for CAN assignment to show assignments with all file status.
                                    {
                                            var IsClaimaticImported = css.PropertyInvoices.Where(x => x.InvoiceId == @invoiceId).FirstOrDefault().IsImportFromClaimatic;
                                            if (IsClaimaticImported == true)
                                            {
                                            <a href="#" style="text-decoration: none; color: Black;" onclick="getPropertyInvoice('@Model.propertyassignment.AssignmentId','Read2','@invoiceId','False')">
                                                <b>Invoice</b>
                                            </a>
                                            }
                                            else
                                            {
                                        <a href="#" style="text-decoration: none; color: Black;" onclick="getPropertyInvoice('@Model.propertyassignment.AssignmentId','Edit','@invoiceId','False')">
                                            <b>Invoice</b>
                                        </a>
                                            }

                                    }
                                </td>
                                <td id="tdTabSpace2" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                            }
                        }


                    }




                    @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11 || loggedInUser.AssignedRights.Contains((byte)1)))
                    {
                        <td id="tdTextpaymentDetails" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                            <a style="text-decoration: none; color: Black;" href="#" onclick="getPaymentDetails('@Model.propertyassignment.ClaimId','@Model.propertyassignment.AssignmentId','@invoiceId')"><b>Payments</b></a>
                        </td>
                    }

                    @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11 || loggedInUser.AssignedRights.Contains((byte)1)))
                    {
                        <td id="tdTabSpace3" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                        <td id="tdPayroll" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                            <a style="text-decoration: none; color: Black;" href="#" onclick="showTab(5)"><b>Payables & Adjustments</b></a>
                        </td>
                    }
                </tr>
            </table>


            <div style="border-left-style: solid; border-bottom-style: solid; border-right-style: solid; border-width: 1px; border-color: #999999;">
                <div id="divFinanceSubTabLoading" style="display: none;">
                    <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                </div>
                @if (loggedInUser.UserTypeId == 1)
                {
                    <div id="tabReserves" style="display: none;">
                        @Html.Partial("_AssignmentJobDetailsReserves")
                        <br />
                        <div class="footer" style="text-align: right; padding: 10px;">
                            <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(2)" />
                        </div>
                    </div>
                }
                else
                {
                    <div id="tabReserves">
                        @Html.Partial("_AssignmentJobDetailsReserves")
                        <br />
                        <div class="footer" style="text-align: right; padding: 10px;">
                            <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(2)" />
                        </div>
                    </div>
                }
                
                @if (loggedInUser.UserTypeId == 1)
                {
                    <div id="tabInvoice">
                        &nbsp;&nbsp;
                        @if (Model.PropertyInvoiceList.Count != 0)
                        {
                            var InvoiceApproveCount = css.PropertyInvoices.Where(x => x.AssignmentId == Model.propertyassignment.AssignmentId && x.DateApproved == null).ToList().Count;
                            if (InvoiceApproveCount == 0)
                            {
                                var companyid = Model.Claim.HeadCompanyId;
                                bool? IsInvisionInvoice = false;
                                IsInvisionInvoice = Model.PropertyInvoiceList.OrderByDescending(x => x.InvoiceId).First().IsInvisionInvoice;
                                // IsInvisionInvoice = css.Companies.Where(x => x.CompanyId == companyid).FirstOrDefault().IsInvisionAPI.HasValue == true ? true : false;
                                if (IsInvisionInvoice == false)
                                {
                                    <div>
                                        <a href="#" style="padding-top:5px" onclick="getPropertyInvoice('@Model.propertyassignment.AssignmentId','Edit','-1','False')">Add Supplement Invoice</a>
                                    </div>
                                }

                            }
                        }
                        @using (Ajax.BeginForm("SubmitPropertyInvoice", "propertyAssignmentInvoice", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InvoiceSuccess()", LoadingElementId = "imgPISubmitProcessing" }, new { id = "frmInvoicefinancial", jobid = Model.AssignmentJob.JobId }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr id="trBackToInvoiceList" style="display: none;">
                                    <td colspan="2" valign="middle" style="padding-left: 5px; padding-top: 3px;">
                                        @if (Model.PropertyInvoiceList.Count > 1)
                                        {
                                            <a href="#" onclick="loadPropertyInvoiceList('@Url.Action("AssignmentInvoiceSummaryList", "PropertyAssignmentInvoice", new { ClaimId = Model.propertyassignment.ClaimId, AssignmentId = Model.propertyassignment.AssignmentId, DisplayHeader = "false", IsEditable = "true" })')" style="text-decoration:none;">
                                                <img src="@Url.Content("~/Content/Images/PreviousLevelIcon01.png")" width="16" height="16" />
                                                Back to Invoice List
                                            </a>

                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" name="returnToPage" value="financial" />
                                        <table style="width: 100%;">
                                            <tr>
                                                <td colspan="2">
                                                    <img id="imgPISubmitProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-left: 5px;" alt="loading" />
                                                    <div style="display: none; color: red" id="divinvoicemessage"></div>
                                                    <div id="divPropertyInvoice">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="tdPropertyInvoicefooter" align="right" class="footer">
                                        <table>
                                            <tr>
                                                <td width="100%" align="right"></td>
                                                <td>
                                                    @if (Model.propertyassignment.FileStatus != 25)
                                                    {
                                                        <input type="button" id="btnInvoiceTabInvoiceSave" class="buttonLightYellow_100" value="Submit" onclick="btnInvoiceTabInvoiceSave_Click()" />
                                                    }
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                }
                else
                {
                    <div id="tabInvoice" style="display: none;">
                        &nbsp;&nbsp;
                        @if (Model.PropertyInvoiceList.Count != 0)
                        {
                            var companyid = Model.Claim.HeadCompanyId;
                            bool? IsInvisionInvoice = false;
                            //  IsInvisionInvoice = css.Companies.Where(x => x.CompanyId == companyid).FirstOrDefault().IsInvisionAPI.Value == true ? true : false;
                            IsInvisionInvoice = Model.PropertyInvoiceList.OrderByDescending(x => x.InvoiceId).First().IsInvisionInvoice;
                            if (IsInvisionInvoice == false)
                            {
                                <div>
                                    <a href="#" style="padding-top:5px" onclick="getPropertyInvoice('@Model.propertyassignment.AssignmentId','Edit','-1','False')">Add Supplement Invoice</a>
                                </div>
                            }
                        }
                        @using (Ajax.BeginForm("SubmitPropertyInvoice", "propertyAssignmentInvoice", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InvoiceSuccess()", LoadingElementId = "imgPISubmitProcessing" }, new { id = "frmInvoicefinancial", jobid = Model.AssignmentJob.JobId }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr id="trBackToInvoiceList" style="display: none;">
                                    <td colspan="2" valign="middle" style="padding-left: 5px; padding-top: 3px;">
                                        @if (Model.PropertyInvoiceList.Count > 1)
                                        {
                                            <a href="#" onclick="loadPropertyInvoiceList('@Url.Action("AssignmentInvoiceSummaryList", "PropertyAssignmentInvoice", new { ClaimId = Model.propertyassignment.ClaimId, AssignmentId = Model.propertyassignment.AssignmentId, DisplayHeader = "false", IsEditable = "true" })')" style="text-decoration:none;">
                                                <img src="@Url.Content("~/Content/Images/PreviousLevelIcon01.png")" width="16" height="16" />
                                                Back to Invoice List
                                            </a>

                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" name="returnToPage" value="financial" />
                                        <table style="width: 100%;">
                                            <tr>
                                                <td colspan="2">
                                                    <img id="imgPISubmitProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-left: 5px;" alt="loading" />
                                                    <div style="display: none; color: red" id="divinvoicemessage"></div>
                                                    <div id="divPropertyInvoice">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="tdPropertyInvoicefooter" align="right" class="footer">
                                        <table>
                                            <tr>
                                                <td width="100%" align="right"></td>
                                                <td>
                                                    @if (Model.propertyassignment.FileStatus != 25)
                                                    {
                                                        <input type="button" id="btnInvoiceTabInvoiceSave" class="buttonLightYellow_100" value="Submit" onclick="btnInvoiceTabInvoiceSave_Click()" />
                                                    }
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                }
                
                <div id="divfinancialPaymentListLoading" style="display: none;">
                    <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                </div>
                <div id="tabPayments" style="display: none;">
                    @*@Html.Partial("_AssignmentDetailsPayments");*@
                </div>
                <div id="tabPaymentsdetails" style="display: none;">
                    @*@Html.Partial("_AssignmentDetailsPayments");*@
                </div>
                <div id="divPayrollLoading" style="display: none;">
                    <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                </div>
                <div id="tabPayroll" style="display: none;">
                    <br />
                    @*@Html.Partial("_AssignmentDetailsPayroll")*@
                </div>
            </div>


        </td>
        <td class="boxBlurRightMiddle">
            <img src="@Url.Content("~/Content/Images/BoxBlurRightMiddle01.jpg")" />
        </td>
    </tr>
    <tr>
        <td align="right" valign="top" class="boxBlurBottomLeft"></td>
        <td class="boxBlurBottomMiddle">
            &nbsp;
        </td>
        <td align="left" valign="top" class="boxBlurBottomRight"></td>
    </tr>
</table>
<div id="divSPPayPercentagePopup" class="SPPayPercentagePopup" style="width: 300px;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Setup SP Pay Percentage</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableSpPayPercentagePopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <table width="300">
                    <tr>
                        <td nowrap="nowrap">SP Pay Percentage:</td>
                        @{
                            Int64? lcLOBId = 0;
                            lcLOBId = css.Claims.Where(x => x.ClaimId == Model.Claim.ClaimId).Select(x => x.LOBId).FirstOrDefault();
                            double? lcSpPaypercentage = 60;
                            lcSpPaypercentage = css.LineOfBusinesses.Where(x => x.LOBId == lcLOBId).Select(x => x.LOBSPPercentage).FirstOrDefault();
                            bool? IsHoldbackApplicable = Model.propertyassignment.IsholdbackApplicable.HasValue ? Model.propertyassignment.IsholdbackApplicable : false;
}
                        @*<td width="100%">@Html.TextBox("txtSPPayPercent", Model.PropertyAssignment.SPPayPercent.HasValue ? Model.PropertyAssignment.SPPayPercent.Value + "" : "60", new { @id = "txtSPPayPercent", @style = "width:60px;" })</td>*@
                        <td width="100%">
                        @*@Html.TextBox("txtSPPayPercent", Model.propertyassignment.SPPayPercent.HasValue ? Model.propertyassignment.SPPayPercent.Value + "" :Model.Claim.CauseTypeOfLoss.Equals(8) ? "65" : "60", new { @id = "txtSPPayPercent", @style = "width:60px;" })*@
                            @Html.TextBox("txtSPPayPercent", Model.propertyassignment.SPPayPercent.HasValue ? Model.propertyassignment.SPPayPercent.Value + "" : lcSpPaypercentage.HasValue ? lcSpPaypercentage.ToString(): Model.Claim.CauseTypeOfLoss.Equals(8) ? "65" : "60", new { @id = "txtSPPayPercent", @style = "width:60px;" })
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Hold Back Percentage:</td>
                         @{
                             if (IsHoldbackApplicable == true)
                             {
                        <td>@Html.TextBox("txtHoldBackPercent", Model.propertyassignment.HoldBackPercent.HasValue ? Model.propertyassignment.HoldBackPercent + "" : "10", new { @id = "txtHoldBackPercent", @style = "width:60px;" })</td>
                             }
                             else
                             {
                                <td>@Html.TextBox("txtHoldBackPercent", Model.propertyassignment.HoldBackPercent.HasValue ? Model.propertyassignment.HoldBackPercent + "" : "0", new { @id = "txtHoldBackPercent", @style = "width:60px;", @disabled = "disabled" })</td>
                             }
                        }
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgSPPayPercentProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-right: 3px;" alt="Processing" />
                <input class="buttonYellow_100" type="button" value="Submit" onclick="btnSPPayPercentSave_Click()" />
            </td>
        </tr>

    </table>

</div>
<div id="bgSPPayPercentagePopup" onclick="disableSpPayPercentagePopup()"></div>
