﻿@model BLL.ViewModels.PayrollViewModel
<style>
     #bgSplitSPPayPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditSplitSPPayPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>

<script type="text/javascript">
    function btnSplitSPPaySubmit_Click() {
        $('#frmSplitSPPay').submit();
    }
    function SplitSPPaySuccess() {
        disableSplitSPPayPopup();
        showTab(5);//Refresh Payroll & Adjustment View
    }
    function updatePayrollStatus(urlUpdate) {
        if (confirm("Change the status to Paid?") == true) {
            $("#divPayrollLoading").show();
            $.ajaxSetup({ cache: false });
            $.getJSON(
            urlUpdate,
            function (result) {
                if (result == 1) {
                    showTab('5');//refresh view
                }
                else {

                }
                $("#divPayrollLoading").hide();
            });
        }
    }

    function loadSplitSPPayPopup(invoiceId) {
        $('#imgSplitSPPayLoading').show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
            '@Url.Action("SplitSPPayGetView", "PropertyAssignment")',
            { claimId: '@Model.ClaimId', invoiceId: invoiceId },
            function (html) {
                $('#divSplitSPPayContent').html(html);
                $('#imgSplitSPPayLoading').hide();
                centerSplitSPPayPopup();
            }
        );

        centerSplitSPPayPopup();
        $('#bgSplitSPPayPopup').css({
            "opacity": "0.7"
        });
        $('#bgSplitSPPayPopup').fadeIn("slow");
        $('#divSplitSPPayPopup').fadeIn("slow");
    }
    function disableSplitSPPayPopup() {

        $('#bgSplitSPPayPopup').fadeOut("slow");
        $('#divSplitSPPayPopup').fadeOut("slow");

    }
    function centerSplitSPPayPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divSplitSPPayPopup').height();
        var popupWidth = $('#divSplitSPPayPopup').width();
        //centering  
        $('#divSplitSPPayPopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $('#bgSplitSPPayPopup').css({
            "height": windowHeight
        });
        return false;
    }
    function EditSPHoldBackPayables(HBID) {
        debugger;
        $("#divFinancialsLoading").show();
        $.ajax(
               {
                   type: 'GET',
                   url: '@Url.Action("EditSPHoldBackPayables", "PropertyAssignmentInvoice")',
                   data: { HBID: HBID },
                   success: function (data) {
                       $("#_SPHoldBackPayablesDIV").empty();
                       $("#_SPHoldBackPayablesDIV").append(data);
                       $("#divFinancialsLoading").hide();
                   },
                   error: function(jq,status,message) {
                       $("#divFinancialsLoading").hide();
                   }
               });
    }
    function ADDSPHoldBackPayables(PAID) {
        debugger;
        $("#divFinancialsLoading").show();
        $.ajax(
               {
                   type: 'GET',
                   url: '@Url.Action("ADDSPHoldBackPayables", "PropertyAssignmentInvoice")',
                   data: { PAID: PAID },
                   success: function (data) {
                       $("#_SPHoldBackPayablesDIV").empty();
                       $("#_SPHoldBackPayablesDIV").append(data);
                       $("#divFinancialsLoading").hide();
                   },
                   error: function (jq, status, message) {
                       $("#divFinancialsLoading").hide();
                   }
               });
    }

    function UnFormatCurrency(value) {
        if (value == "" || value == undefined)
        { return 0; }
        else {
            for (var i = 0; i <= value.indexOf(",") ;) {
                value = value.replace(",", "");
            }
            value = value.replace("$", "");
            return value;
        }
    }
    function UnformatField() {
       
        $('#txtfull_SPPayAmt').val(parseFloat(UnFormatCurrency($('#txtfull_SPPayAmt').val())));
        $('#txtpay_Percentage').val(parseFloat(UnFormatCurrency($('#txtpay_Percentage').val())));
        $('#txtpay_Amount').val(parseFloat(UnFormatCurrency($('#txtpay_Amount').val())));
        $('#txtoutstanding_HoldBack').val(parseFloat(UnFormatCurrency($('#txtoutstanding_HoldBack').val())));
    }
    function submit_Click() {
      
        var txtoutstanding_HoldBack = $("#txtoutstanding_HoldBack").val();
        if (parseFloat(txtoutstanding_HoldBack) > 0) {

            UnformatField();
            $("#divFinancialsLoading").show();
            $.ajax(
                  {
                      type: 'POST',
                      url: '@Url.Action("SPHoldBackPayables", "PropertyAssignmentInvoice")',
                      data: $("#frmSPHoldBackPayables").serialize(),
                      success: function (data) {
                          @*$("#divFinancialsLoading").hide();
                          if (data == '1') {
                              //$('#imgTimestampUpdateProcessing').hide();
                              //AssignmentDetailsBasicUpdate();
                            //  GetSPHoldBackPayablesList(@Model.PAid);
                          }
                          else {
                              //alert(data);
                          }*@
                          $("#_SPHoldBackPayablesDIV").empty();
                          $("#_SPHoldBackPayablesDIV").append(data);
                          $("#divFinancialsLoading").hide();
                      },
                      error: function (jq, status, message) {
                          $("#divFinancialsLoading").hide();
                      }
                  });
        }
        else { alert("Outstanding Hold Back is 0"); }
    }
</script>

<table cellspacing="0" cellpadding="3" width="100%">
    <tr class="tableHeader" valign="top">
        <td nowrap="nowrap">Service Provider</td>
        <td nowrap="nowrap">Invoice Number</td>
        <td nowrap="nowrap" align="right">Total Due
            <br />
            to SP ($)</td>
        <td nowrap="nowrap" align="right">Total
            <br />
            SP Pay ($)</td>
        <td nowrap="nowrap" align="right">Hold Back<br />
            Amount ($)</td>
        <td nowrap="nowrap" style="padding-left: 20px;">Payroll Date</td>
        <td nowrap="nowrap">Hold Back<br />
            Payroll Date</td>
        @*<td nowrap="nowrap">Payment Status</td>*@
    </tr>
    @{
        int recordIndex = 0;
        foreach (var record in Model.SPPayrollAndAdjListbyAssignmentId)
        {
        <tr>
            <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">@record.SPName</td>
            <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                @*@{
            if (Model.HasReopen)
            {
                    <a href="#" onclick="loadSplitSPPayPopup('@record.InvoiceId')">@record.InvoiceNo</a>
            }
            else
            {*@
                    @record.InvoiceNo
            @*}
                }*@

            </td>
            <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")" align="right">@(record.AmountPaidToSP.HasValue ? String.Format("{0:0.##}", record.AmountPaidToSP.Value) : "")</td>
            <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")" align="right">@(record.TotalSPPay.HasValue ? String.Format("{0:0.##}", record.TotalSPPay.Value) : "")
            </td>

            @*<td class="@(recordIndex%2 == 0? "tableRow":"tableRowAlternate")" align="right">@Html.TextBox("txtAmountPaidToSP",(record.AmountPaidToSP.HasValue?String.Format("{0:0.##}",record.AmountPaidToSP.Value):""),new { @readonly=true, @style="width:80px !important;text-align:right;"})</td>*@
            <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")" align="right">@(record.AmountHoldBack.HasValue ? String.Format("{0:0.##}", record.AmountHoldBack.Value) : "")</td>
            <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")" style="padding-left:20px;">@(record.PaymentDate.HasValue ? record.PaymentDate.Value.ToString("MM/dd/yyyy hh:mm tt") : "")</td>
            <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">@(record.HoldBackPaymentDate.HasValue ? record.HoldBackPaymentDate.Value.ToString("MM/dd/yyyy hh:mm tt") : "")</td>
            @* <td nowrap="nowrap" class="@(recordIndex%2 == 0? "tableRow":"tableRowAlternate")" align="left">
                @{
            bool isPaid = record.IsClosed.HasValue ? record.IsClosed.Value : false;
            if (isPaid)
            {
                @:Paid
            }
            else
            {
                @:Not Paid (<a href="#" onclick="updatePayrollStatus('@Url.Content("~/PropertyAssignmentInvoice/SPPayrollAndAdjIsClosedUpdate?PAId="+ record.PAId)')">Update</a>)
            }
                }
            </td>*@
        </tr>
            recordIndex++;
        }
        if (recordIndex == 0)
        {
        <tr>
            <td class="tableRow" align="center" colspan="8">- No Records -</td>
        </tr>
        }
    }
    <tr>
        <td colspan="6" align="right" style="padding-right: 5px;"></td>

    </tr>
    @if (recordIndex != 0)
    {
    <tr style="display:none">
        <td colspan="6" align="right" style="padding-right: 5px;">

            <div id="_SPHoldBackPayablesDIV">
                @{
        if (Model.SPHoldBackPayable != null && Model.SPHoldBackPayable.outstanding_HoldBack!=null && Model.SPHoldBackPayable.outstanding_HoldBack != 0)
        {
            Html.RenderPartial("_SPHoldBackPayables", Model.SPHoldBackPayable);
        }
                }
            </div>
       
         </td>

    </tr>
    }

</table>
<div id="divSplitSPPayPopup" class="EditSplitSPPayPopup">
     @using (Ajax.BeginForm("SplitSPPay", "PropertyAssignment", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SplitSPPaySuccess()", LoadingElementId = "imgSplitSPPayLoading" }, new { id = "frmSplitSPPay" }))
                    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Split Multiple SP Pay</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableSplitSPPayPopup()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                  
                                <img id="imgSplitSPPayLoading" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                   
                                <div id="divSplitSPPayContent">
                                    
                                </div>
                   
                      
                </td>
            </tr>
            <tr>
                <td class="footer" style="text-align: right">
                    
                                <input type="button" class="buttonLightYellow_100" value="Submit" onclick="btnSplitSPPaySubmit_Click()" />
                    

                </td>
            </tr>
        </table>
                    }
</div>
<div id="bgSplitSPPayPopup" onclick="disableSplitSPPayPopup()"></div>