﻿@model BLL.ViewModels.XACTClaimsInfoViewModel
<style type="text/css">
    #bgIReserveModifyPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditIReserveModifyPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
     #bgCovReserveModifyPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditCovReserveModifyPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript">
    $('#txtActualPaid,#txtExpenseReserve').keypress(function (event) {
        if (event.which != 46 && (event.which < 47 || event.which > 59)) {
            event.preventDefault();
            if ((event.which == 46) && ($(this).indexOf('.') != -1)) {
                event.preventDefault();
            }
        }

    });

    function btnCovReserveSave_Click() {
        $("#divCovReservesError").empty();
        var isValid = true;
        var validationMsg = "";
        if ($("#txtActualPaid").val().trim().length == 0) {
            isValid = false;
            validationMsg += " Actual Paid field is required.<br/>";
        }
        if ($("#txtExpenseReserve").val().trim().length == 0) {
            isValid = false;
            validationMsg += " Expense Reserve field is required.<br/>";
        }
        if (isValid == true) {
            $("#imgCovReserveSaveLoading").show();
            $.ajaxSetup({ cache: false });
            $.getJSON(
                '@Url.Action("ClaimReservesUpdate")',
                { claimReserveId: $("#hdnCovModifyClaimReserveId").val(), actualPaid: $("#txtActualPaid").val(), expenseReserve: $("#txtExpenseReserve").val() },
                function (result) {
                    $("#imgCovReserveSaveLoading").hide();
                    getFinaciallist('@Model.PropertyAssignment.ClaimId');
                }
            );
        }
        else {
            $("#divCovReservesError").html(validationMsg);
        }
    }
    function loadCovReserveModifyPopup(claimReserveId, covName, txtActualPaid, txtExpenseReserve) {
        //Coverage Reserve Modify Popup
        $("#tdCovName").text(covName);
        $("#hdnCovModifyClaimReserveId").val(claimReserveId);
        $("#txtActualPaid").val(txtActualPaid);
        $("#txtExpenseReserve").val(txtExpenseReserve);

        centerCovReserveModifyPopup();
        $('#bgCovReserveModifyPopup').css({
            "opacity": "0.7"
        });
        $('#bgCovReserveModifyPopup').fadeIn("slow");
        $('#divCovReserveModifyPopup').fadeIn("slow");
    }
    function disableCovReserveModifyPopup() {

        $('#bgCovReserveModifyPopup').fadeOut("slow");
        $('#divCovReserveModifyPopup').fadeOut("slow");
    }
    function centerCovReserveModifyPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divCovReserveModifyPopup').height();
        var popupWidth = $('#divCovReserveModifyPopup').width();
        //centering  
        $('#divCovReserveModifyPopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $('#bgCovReserveModifyPopup').css({
            "height": windowHeight
        });
        return false;
    }


    function loadIReserveModifyPopup(claimReserveId) {
        //Indemnity Reserve Modify Popup

        $('#divIReserveModify').empty();
        $("#divIReserveModifyLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
            '@Url.Action("GetClaimReservesModify")',
            { claimReserveId: claimReserveId },
            function (result) {

                $('#divIReserveModify').html(result);
                $("#divIReserveModifyLoading").hide();
            }
        );

        centerIReserveModifyPopup();
        $('#bgIReserveModifyPopup').css({
            "opacity": "0.7"
        });
        $('#bgIReserveModifyPopup').fadeIn("slow");
        $('#divIReserveModifyPopup').fadeIn("slow");
    }
    function disableIReserveModifyPopup() {

        $('#bgIReserveModifyPopup').fadeOut("slow");
        $('#divIReserveModifyPopup').fadeOut("slow");
    }
    function centerIReserveModifyPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divIReserveModifyPopup').height();
        var popupWidth = $('#divIReserveModifyPopup').width();
        //centering  
        $('#divIReserveModifyPopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $('#bgIReserveModifyPopup').css({
            "height": windowHeight
        });
        return false;
    }

</script>
<table align="left" cellpadding="3" cellspacing="0" width="100%">
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td></td>
                        <td>Coverage
                        </td>
                        <td align="right" nowrap="nowrap">Indemnity Reserve ($)
                        </td>

                        <td align="right" nowrap="nowrap">Actual Paid ($)
                        </td>
                        <td align="right" nowrap="nowrap">Expense Reserve ($)
                        </td>
                        <td align="right" nowrap="nowrap">Actual Expense paid ($)
                        </td>
                        <td align="right" nowrap="nowrap">Outstanding Reserve ($)
                        </td>
                        <td align="right" nowrap="nowrap">Initial reserve ($)
                        </td>


                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.ClaimReserves != null)
                    {
                        foreach (var coverage in Model.ClaimReserves)
                        {
                                    
        
                    <tr class="@(i % 2 == 0 ? "tableRowAlternate" : "tableRow")" style="font-weight:100">
                        <td>
                            <img border="0" onclick="loadCovReserveModifyPopup('@coverage.ClaimReserveId','@coverage.CoverageName','@coverage.ActualPaid.Value.ToString("0.00")','@coverage.ExpenseReserve.Value.ToString("0.00")')" style="cursor:pointer;" title="Modify Coverage Reserve" alt="Modify" src="@Url.Content("~/Content/Images/Edit.png")" width="15" height="15" />
                        </td>
                        <td>
                            <b>@coverage.CoverageName</b>
                        </td>
                        <td align="right">
                            <b>@coverage.IndemnityReserve.Value.ToString("0.00")
                            </b>

                            <img border="0" onclick="loadIReserveModifyPopup('@coverage.ClaimReserveId')" style="cursor:pointer;" title="View/Modify Indemnity Reserve" alt="View/Modify" src="@Url.Content("~/Content/Images/edit2.png")" width="15" height="15" />
                        </td>

                        <td align="right">
                            <b>@coverage.ActualPaid.Value.ToString("0.00")</b>

                        </td>
                        <td align="right">
                            <b>@coverage.ExpenseReserve.Value.ToString("0.00")</b>
                        </td>

                        <td align="right">
                            <b>@coverage.ActualExpensePaid.Value.ToString("0.00")</b>
                        </td>
                        <td align="right">
                            <b>@coverage.OutStandingReserve.Value.ToString("0.00")</b>
                        </td>
                        <td align="right">
                            <b>@coverage.InitialReserve.Value.ToString("0.00")</b>

                        </td>


                    </tr>
                            i++;
                    <tr>
                        <td colspan="9">
                            @*@Html.Action("GetReserveList", new { ClaimCoverageId = coverage.ClaimCoverageId})*@
                        </td>
                    </tr>
                                        
                        }
                    }
                }
            </table>

        </td>
    </tr>

</table>

<div id="divIReserveModifyPopup" class="EditIReserveModifyPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left">
                            <b>Indemnity Reserve</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img alt="Close" style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableIReserveModifyPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content">

                <div id="divIReserveModifyLoading" style="display: none;">
                    <img id="progress_image"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                </div>
                <div id="divIReserveModify">
                </div>

            </td>
        </tr>
        <tr>
            <td class="footer" style="text-align: right">
                <br />
            </td>
        </tr>
    </table>


</div>
<div id="bgIReserveModifyPopup" onclick="disableIReserveModifyPopup()"></div>

<div id="divCovReserveModifyPopup" class="EditCovReserveModifyPopup">
    <table width="350" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left">
                            <b>Edit Coverage Reserve</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img alt="Close" style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableCovReserveModifyPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content">
                <div id="divCovReservesError" class="errorMsg"></div>
                <table>
                    <tr>
                        <td nowrap="nowrap">Coverage Name: </td>
                        <td id="tdCovName"></td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Actual Paid ($): </td>
                        <td>@Html.TextBox("txtActualPaid", "", new { id="txtActualPaid" })</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Expense Reserve ($): </td>
                        <td>@Html.TextBox("txtExpenseReserve", "", new { id="txtExpenseReserve" })</td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td class="footer" style="text-align: right">
                @Html.Hidden("hdnCovModifyClaimReserveId","",new { id = "hdnCovModifyClaimReserveId" })
                <img id="imgCovReserveSaveLoading"  style="display:none;vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" height="15" width="15" src="@Url.Content("~/Content/Images/progress01.gif")" /> <input type="button" value="Save" class="buttonYellow_100" onclick="btnCovReserveSave_Click()" />
            </td>
        </tr>
    </table>


</div>
<div id="bgCovReserveModifyPopup" onclick="disableCovReserveModifyPopup()"></div>