﻿<!DOCTYPE html>
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
        
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <style type="text/css">
    body
{
    font-family:Verdana;
    font-size: 11px;
    color: #727272;
    background-image: url(@Url.Content("~/Content/Images/white_carbonfiber.png"));
    margin: 0px;
    
}
        </style>

    <script type="text/javascript">
        function Redirect() {
            var hdnRedirect = document.getElementById("hdnRedirect");
            if (hdnRedirect.value == 1) {

                window.location.assign = "@Url.Action("Logout", "Account")";
            }
        }
        function CheckForLoadEvent() {
            if (window.ExecuteOnLoad != null)
                window.ExecuteOnLoad();
        }


    </script>
</head>
<body onload="CheckForLoadEvent()">
    
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="bannerBG">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" width="100%">&nbsp;&nbsp;&nbsp;&nbsp;<img src= "@Url.Content("~/Content/Images/PCS_Black_Logo.png")" alt="Pacesetter" width="136" height="131" />
                        </td>
                        <td valign="top" style="padding-right:5px;">
                            @*<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ItTB9b25O5spOO6aZgPikVm5L8xd19W6zcnK9mGR3Y8F1YE3NBu49lDek"></script></span>*@
                        </td>
                        <td align="right" valign="top" style="padding-right: 20px; display:none;">
                            <table class="loginBar">
                                <tr>

                                    @{
                                        if (loggedInUser != null)
                                        {
                                            
                                        <td align="right" nowrap="nowrap">


                                            @Html.ActionLink("My Profile", "Submit", "ServiceProviderRegistration", new { id = loggedInUser.UserId }, new { })


                                            | </td>
                                       
                                       
                                            
                                        }
                                        
               
                                    }
                                    <td nowrap="nowrap" align="left">

                                        @{
                                            if (HttpContext.Current.User.Identity.Name == String.Empty)
                                            {
                        
                                            @Html.ActionLink("Login", "Login", "Account")
                       
                                            }
                                            else
                                            {
                                            <div style="display: inline;">
                                                (@HttpContext.Current.User.Identity.Name) @Html.ActionLink("Logout", "Logout", "Account")
                                            </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>





                </table>

            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <table align="center" width="1000px" cellpadding="0" cellspacing="0"
                    border="0" class="pageBorder" style="border-top: 0px !important;">
                    <tr>
                        <td bgcolor="#46B0EE">
                            <table class="navbar" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" valign="middle">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>
                                    <td nowrap="nowrap" valign="middle" style="display:none;">&nbsp;&nbsp;&nbsp;&nbsp;
                                      @Html.ActionLink("Home", "Index", "Home")&nbsp;&nbsp;&nbsp; 
                    
                                         &nbsp; </td>
                                 @*  <td nowrap="nowrap" valign="middle">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>  *@
                                    <td nowrap="nowrap">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>
                                    @{
                                        if (loggedInUser != null)
                                        {
                                            
                                            if (loggedInUser.UserTypeId == 2)
                                            {
                                                <td nowrap="nowrap" width="100%">

                                                </td>
                                        @*<td nowrap="nowrap">&nbsp;&nbsp; 
                                          @Html.ActionLink("Service Providers", "Search", "ServiceProviders")
                                            &nbsp;&nbsp; &nbsp;

                                        </td>
                                        <td nowrap="nowrap">
                                            <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>
                                       
                                    <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                        @Html.ActionLink("Property Assignment", "Index", "PropertyAssignment")
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                    <td nowrap="nowrap">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>
                                    <td nowrap="nowrap">&nbsp;&nbsp;&nbsp; 
                                     @Html.ActionLink("Search Assignments", "Search", "PropertyAssignment")
                                        &nbsp;&nbsp;&nbsp; &nbsp;</td>
                                        <td nowrap="nowrap">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>
                                        <td nowrap="nowrap" style="padding-left: 10px; padding-right: 10px">

                                            @Html.ActionLink("Export Assignment", "ExportAssignment", "PropertyAssignment")
                                            
                                        </td>
                                        <td nowrap="nowrap">
                                            <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>*@
                                       
                                            }
                                        }
                                     
                   
                
                                    }



                                    <td nowrap="nowrap" width="100%">&nbsp;</td>
                                    @{
                                        if (loggedInUser == null)
                                        {
                                    <td nowrap="nowrap">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>
                                    <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Register", "Submit", "ServiceProviderRegistration", new { id = string.Empty }, null)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                    }
                                    }
                                    <td nowrap="nowrap" align="right">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>

                                    <td nowrap="nowrap" align="right">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>


                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="White" class="mainContent">
                            @RenderBody()
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#666666" align="center" style="color: White; height: 40px;"
                            valign="middle">Server: PCS-TEST-APP01
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input id="hdnRedirect" name="hdnRedirect" type="hidden" value="@(loggedInUser == null && HttpContext.Current.User.Identity.IsAuthenticated == true ? "1" : "0")" />
</body>
</html>
