﻿@model BLL.ViewModels.AssignmentJobsViewModel

@{
    Layout = null;
}

@*<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
<link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")">

<link rel="stylesheet" href="@Url.Content("~/Content/kendo.default.min.css")">

<script src="@Url.Content("~/Scripts/kendo.web.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    .backgroundTemplateToEmailUtilityPopup1 {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupTemplateToEmailUtility1 {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 850px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .widearea {
        width: 650px;
        height: 200px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        //var radiopdfemail = $("input[name='radioEmailPdf']").val();
        //if(radiopdfemail==


       // $('#ddlTemplate1').change(function () {

         //   loadTemplateData();
            @*debugger;

            $.post('@Url.Content("~/PropertyAssignment/TemplateContent")',
                      {
                          TemplateId: $('#ddlTemplate1').val(), ClaimId: '@Model.claim.ClaimId',AuthorId:$('#ddlAuthor').val()
                      },
                            function (data) {
                                //   debugger;
                                if (data != null) {

                                    var editor = $("#txtTemplateBody2").data("kendoEditor");

                                    // set value
                                    editor.value(data);

                                    //$('#txtTemplateBody1').empty();
                                    //$('#txtTemplateBody1').text(data);
                                }
                                else {

                                    var editor = $("#txtTemplateBody2").data("kendoEditor");

                                    // set value
                                    editor.value("");

                                }
                            });*@



       // });

        //$('#ddlAuthor').change(function () {
        //    loadTemplateData();
        //});
    });

    function loadTemplateData()
    {
        debugger;
        $.post('@Url.Content("~/PropertyAssignment/TemplateContent")',
                      {
                          TemplateId: $('#ddlTemplate1').val(), ClaimId: '@Model.Claim.ClaimId', AuthorId: $('#ddlAuthor').val()
                      },
                            function (data) {
                                //   debugger;
                                if (data != null) {

                                    var editor = $("#txtTemplateBody2").data("kendoEditor");

                                    // set value
                                    editor.value(data);
                                    $("#txtTemplateBody2").data("kendoEditor").body.style.lineHeight = "10px";

                                    //$('#txtTemplateBody1').empty();
                                    //$('#txtTemplateBody1').text(data);
                                }
                                else {

                                    var editor = $("#txtTemplateBody2").data("kendoEditor");
                                    $("#txtTemplateBody2").data("kendoEditor").body.style.lineHeight = "10px";
                                    // set value
                                    editor.value("");

                                }
                            });


    }

    function CANloadTemplateToEmailUtilityPopup1(assignmentid, claimid) {
        debugger;

        // alert($("#TemplateToEmailUtility1").html());
        // alert($("#backgroundTemplateToEmailUtilityPopup").html())
        // popupDivVal = Edit;
        //loads popup only if it is disabled
        $('#hdnTemplateAssignmentid1').val(assignmentid);
        $('#hdnTemplateClaimid1').val(claimid);
        $("#txtTemplateBody2").data("kendoEditor").body.style.lineHeight = "10px";
        //$('#spnTemplateEmailPhone').html(phoneNum);
        //$('#spanTemplateReplyTo').html(replyTo);
        ////$('#txtTemplateEmailto').val(Emailidto).attr('readonly', 'readonly');
        //$('#txtTemplateEmailto').val(Emailidto);
        //$('#txtTemplateEmailSubject').val($('<div />').html(emailSubject).text());

        var popupStatus = 0;

        if (popupStatus == 0) {
            centerTemplateToEmailUtilityPopup1();
            $("#TemplateToEmailUtilitbackgroundPopup1").css({
                "opacity": "0.7"
            });
            $("#TemplateToEmailUtilitbackgroundPopup1").fadeIn("slow");
            $("#TemplateToEmailUtility1").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disableTemplateToEmailUtilityPopup1() {
        debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#TemplateToEmailUtilitbackgroundPopup1").fadeOut("slow");
            $("#TemplateToEmailUtility1").fadeOut("slow");
            popupStatus = 0;
            $('#txtTemplateEmailto1').val('').removeAttr('readonly');
            $("#txtTemplateEmailSubject1").val('')
            $("#txtTemplateEmailContent1").val('')
        }
    }
    function centerTemplateToEmailUtilityPopup1() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#TemplateToEmailUtility1").height();
        var popupWidth = $("#TemplateToEmailUtility1").width();
        //centering
        $("#TemplateToEmailUtility1").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#TemplateToEmailUtilitbackgroundPopup1").css({
            "height": windowHeight
        });
        return false;
    }


    function getEmailPdf() {

        debugger;

        if ($('#radioEmailPdf1').is(':checked')) {

            $('#trpdfemail').fadeOut('slow');

        }
        else {
            $('#trpdfemail').fadeIn('slow');
        }

    }


    function CANsendEmailPdf() {

        document.getElementById("spanClaimLetterProgress").style.visibility = "visible";
        $("#divDocumentsListLoading").show();
        $.post('@Url.Content("~/PropertyAssignment/CANSendEmailOrPdf")',
                           {
                               EmailPdf: $("#radioEmailPdf1").is(":checked") ? "1" : "2", Title: $('#txtTemplateEmailSubject1').val(), To: $('#txtTemplateEmailto1').val(),
                               TempBody: $("#txtTemplateBody2").val(), AssignmentId: $("#hdnTemplateAssignmentid1").val(), ClaimId: $("#hdnTemplateClaimid1").val(),
                               AuthorId: $('#ddlAuthor').val(), LogoStatus: $('#ddlLogoSelect').val(),JobId:'@Model.AssignmentJob.JobId'
                               
                           },
                                function (data) {
                                    //debugger;
                                    //alert(data);
                                    if (data != null) {

                                        if (data == 1) {
                                            document.getElementById("spanClaimLetterProgress").style.visibility = "hidden";
                                            $('#divDocumentsListLoading').hide();
                                            $('#TemplateToEmailUtility1').hide();
                                            $('#TemplateToEmailUtilitbackgroundPopup1').hide();
                                        }
                                        else {
                                            document.getElementById("spanClaimLetterProgress").style.visibility = "hidden";
                                            $("#divDocumentsList").empty();
                                            $("#divDocumentsList").html(data);
                                            $("#divDocumentsListLoading").hide();
                                            $('#TemplateToEmailUtility1').hide();
                                            $('#TemplateToEmailUtilitbackgroundPopup1').hide();
                                        }
                                    }
                                });



    }

</script>



<div id="TemplateToEmailUtility1" style="display: none;" class="EditPopupTemplateToEmailUtility1">
    <div>
        <table style="width: 100%">
            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        Mail
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disableTemplateToEmailUtilityPopup1();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table style="width: 100%" cellspacing="2" cellpadding="2">
        <tr style="display: none;">
            <td style="width: 30px"></td>
            <td>From</td>
            <td>
                <input type="text" name="txtTemplateEmailfrom1" id="txtTemplateEmailfrom1" style="width: 500px" />
                <input type="hidden" id="hdnTemplateAssignmentid1" value="" name="hdnTemplateAssignmentid1" />
                <input type="hidden" id="hdnTemplateClaimid1" value="" name="hdnTemplateClaimid1" />
            </td>

        </tr>
        @* <tr>
                <td style="width: 30px"></td>
                 <td align="left">Phone #:</td>
                <td align="left">
                    <span id="spnTemplateEmailPhone1"></span>
                    </td>
            </tr>*@
        <tr>
            <td style="width: 30px"></td>
            <td style="width:200px">
                <input type="radio" value="1" name="radioEmailPdf" style="padding-left: 0px" id="radioEmailPdf1" checked="checked" onclick="getEmailPdf()">Save Document As Pdf
            </td>
            <td>
                <input type="radio" value="2" name="radioEmailPdf" style="padding-left: 0px" id="radioEmailPdf2" onclick="getEmailPdf()">Send Document Email
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Logo
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select id="ddlLogoSelect" name="Logo" style="width: 150px;">
                    <option value="-1">--Select--</option>
                    <option value="1" selected="selected">Company</option>
                    <option value="2">PCS</option>
                </select>
                @* @Html.RadioButtonFor(model => model.HasToPdf, Model.HasToPdf, new { @checked=true })*@
            </td>

        </tr>
        <tr style="display: none" id="trpdfemail">
            <td style="width: 30px"></td>
            <td>To :</td>
            <td>
                <input type="text" name="txtTemplateEmailto1" id="txtTemplateEmailto1" style="width: 500px" />
            </td>
        </tr>
        @*<tr>
                <td style="width: 30px"></td>
                 <td></td>
                <td>
                   <input type="checkbox" id="cbTemplateSetReplyTo1" checked="checked"> Set Reply-To email address as <span id="spanTemplateReplyTo1"></span></td>
            </tr>*@
        <tr>
            <td style="width: 30px"></td>
            <td>Subject/Title</td>
            <td>
                <input type="text" name="txtTemplateEmailSubject1" id="txtTemplateEmailSubject1" style="width: 500px" />
            </td>
        </tr>
        <tr>
            <td style="width: 30px"></td>
            <td>Author</td>
            <td>
                @Html.DropDownListFor(model => model.canclaimsinfoviewmodel.AuthorId, new SelectList(
                  new List<SelectListItem>{
                       new SelectListItem{ Text="SignedIn User",Value="1"},
                       new SelectListItem{ Text="CSS POC", Value="2" },
                       new SelectListItem{ Text="SPX",Value="3"},
                       new SelectListItem{Text="SP",Value="4"},
                       new SelectListItem{Text="Examiner",Value="5"}
                    },
                  "Value",
                  "Text",
                   1), new { @style = "width:150px", @id = "ddlAuthor", @onChange = "javascript:loadTemplateData()" })


                &nbsp;&nbsp;&nbsp;&nbsp;
                Template

                @Html.DropDownListFor(model => model.canclaimsinfoviewmodel.TemplateId, Model.canclaimsinfoviewmodel.CompanyTemplateList, new { @style = "width:150px;;margin-left:30px", @id = "ddlTemplate1", @onChange = "javascript:loadTemplateData()" })




                @* @Html.DropDownListFor(model => model.AuthorId, new SelectList(new SelectListItem { Text="LoggedInUser",Value="1",Selected=true}
                    ), new { @style = "width:150px", @id = "ddlAuthor" })*@
            </td>
        </tr>
        <tr>
            <td style="width: 30px"></td>
            <td colspan="2">
                @(Html.Kendo().Editor()
      .Name("txtTemplateBody2")
      .HtmlAttributes(new { style = "width: 795px;height:400px" })
      .Tools(tools => tools
        .Clear()

       .Styles(
Styles => Styles
.Add("", "")
.Add("Line Height5", "lnht5")
.Add("Line Height10", "lnht10")
.Add("Line Height15", "lnht15")
.Add("Line Height20", "lnht20")
.Add("Line Height25", "lnht25")
.Add("Line Height30", "lnht30")
)
        .Bold()
        .Italic()
        .Underline()
        .Indent()
        .Outdent()
        .InsertOrderedList()
        .InsertUnorderedList()
        .JustifyCenter()
        .JustifyFull()
        .JustifyLeft()
        .JustifyRight()
        .FontName()
        .FontSize()
        .FontColor()
        .BackColor()
      )
      .StyleSheets
      (
StyleSheets => StyleSheets
   .Add(@Url.Content("~/Content/CustomKendoEditor.css"))
   )

                )

                @*<input type="text" id="txtEmailContent" name="txtEmailContent" class="widearea"/>*@
                @*<textarea id="txtTemplateEmailContent" name="txtTemplateEmailContent" class="widearea"></textarea>*@
            </td>
        </tr>
        <tr>
            <td style="width: 30px"></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="3">
                <span style="visibility:hidden;text-align:left" id="spanClaimLetterProgress">
                    <img height="16" width="30" id="imgClaimLetterProgress" style="vertical-align:middle;padding-right:10px" src="@Url.Content("~/Content/Images/progress01.gif")" />
                </span>
                <input type="button" value="Submit" class="buttonLightYellow_100" name="TemplateSend1" id="TemplateSend1" onclick="CANsendEmailPdf()" />
            </td>
        </tr>
    </table>

</div>



<div id="TemplateToEmailUtilitbackgroundPopup1" onclick="disableTemplateToEmailUtilityPopup1();" class="backgroundTemplateToEmailUtilityPopup1" style="display: none;"></div>
