﻿@model BLL.ViewModels.AssignmentJobsViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />

<style>
    .backgroundPopupNewPerson {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .backgroundPopupNewDiary {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .EditPopupNewPerson {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 300px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
        font-size: 13px;
    }

    .wideareaNewDiary {
        width: 98%;
        height: 80px;
    }
</style>
<script type="text/javascript">
    function createNewClaimContact() {
        var txtClaimId = '@Model.propertyassignment.ClaimId';
        var txtContactName = $('#txtClaimContactName').val();
        var txtContactType = $("#txtClaimContactType").val();
        var txtContactEmail = $('#txtClaimContactEmail').val();

        var isValid = true;
        var isValidErrorMsg = '';
        if (txtContactType.length == 0) {
            isValid = false;
            isValidErrorMsg += "Contact Type is required.<br/>";
        }
        if (txtContactName.length == 0) {
            isValid = false;
            isValidErrorMsg += "Contact Name is required.<br/>";
        }

        if (txtContactEmail.length == 0) {
            isValid = false;
            isValidErrorMsg += "Contact Email is required.<br/>";
        }

        if (isValid) {
            $("#imgProcessingNewContactSubmit").show();
            $.post('@Url.Content("~/PropertyAssignment/AddClaimContact")',
                   {
                       claimId: txtClaimId, contactType: txtContactType, contactName: txtContactName, contactEmail: txtContactEmail
                   },
                    function (data) {
                        $("#imgProcessingNewContactSubmit").hide();
                        if (data == 1) {
                            disablePopupNewPerson();
                            displayExternalParticipants();

                        }
                    });
        }
        else {
            document.getElementById("divClaimContactsError").innerHTML = isValidErrorMsg;
        }

    }
    function setupAssignToDDL() {
        if (document.getElementById("rbIsExternalContactYes").checked) {
            displayExternalParticipants();
            document.getElementById("divAddExternalParticipant").style.display = "inline";
        }
        else {
            displayInternalParticipants();
            document.getElementById("divAddExternalParticipant").style.display = "none";
        }
    }
    function displayExternalParticipants(SelectUserIdFromList) {
        SelectUserIdFromList = typeof SelectUserIdFromList !== 'undefined' ? SelectUserIdFromList : 0;

        $(function () {


            $.getJSON('@Url.Action("GetExternalClaimParticipantsList")', { claimId: '@Model.propertyassignment.ClaimId' }, function (subcategories) {
                var subsSelect = $('#ddlParticipantsList');
                subsSelect.empty();
                $.each(subcategories, function (index, subcat) {
                    subsSelect.append(
                        $('<option/>')
                            .attr('value', subcat.Value)
                            .text(subcat.Text)
                    );

                });
                //alert('External Participants List Loaded.');
                $("#ddlParticipantsList").val(SelectUserIdFromList);
            });

        });

    }
    function displayInternalParticipants(SelectUserIdFromList) {
        SelectUserIdFromList = typeof SelectUserIdFromList !== 'undefined' ? SelectUserIdFromList : 0;
        $(function () {


            $.getJSON('@Url.Action("GetInternalClaimParticipantsList")', { claimId: '@Model.propertyassignment.ClaimId',AssignmentId : '@Model.propertyassignment.AssignmentId'}, function (subcategories) {
                var subsSelect = $('#ddlParticipantsList');
                subsSelect.empty();
                $.each(subcategories, function (index, subcat) {
                    subsSelect.append(
                        $('<option/>')
                            .attr('value', subcat.Value)
                            .text(subcat.Text)
                    );
                });
                //alert('Internal Participants List Loaded.');
                $("#ddlParticipantsList").val(SelectUserIdFromList);
            });

        });
    }
    function changeSubject(catregory) {
        $('#txtTitle').val($("#ddlCategoryId option:selected").text());
    }

    function loadPopupNewDiaryItem(diaryid, duedate, AssigntoUserId, DiaryCategoryId, Title, DiaryDesc, IsExternalContact, IsBillable, NoOfHours) {
        if (DiaryDesc != '') {
            DiaryDesc = document.getElementById(DiaryDesc).value;
        }
        setDiaryItemValues(diaryid, duedate, AssigntoUserId, DiaryCategoryId, Title, DiaryDesc, IsExternalContact, IsBillable, NoOfHours);
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupNewDiaryItem();
            $("#backgroundPopupNewDiaryItem").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupNewDiaryItem").fadeIn("slow");
            $("#NewDiaryItem").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function setDiaryItemValues(diaryid, duedate, AssigntoUserId, DiaryCategoryId, Title, DiaryDesc, IsExternalContact, IsBillable, NoOfHours) {
        $('#hdnDiaryid').val(diaryid);
        if (IsExternalContact == "true") {
            displayExternalParticipants(AssigntoUserId);
            $('#rbIsExternalContactYes').attr('checked', 'checked');
        }
        else {
            displayInternalParticipants(AssigntoUserId);
            $('#rbIsExternalContactNo').attr('checked', 'checked');
        }
        if (IsBillable == "true") {
            $('#cbIsBillable').attr('checked', 'checked');
        }
        else {
            $('#cbIsBillable').removeAttr('checked');
        }
        $('#txtNoOfHours').val(NoOfHours);

        $('#txtDueDate').val(duedate);

        $('#ddlCategoryId').val(DiaryCategoryId);
        $('#txtTitle').val(Title);
        $('#txtDiaryDesc').val(DiaryDesc);
    }
    function disablePopupNewDiaryItem() {
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupNewDiaryItem").fadeOut("slow");
            $("#NewDiaryItem").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewDiaryItem() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#NewDiaryItem").height();
        var popupWidth = $("#NewDiaryItem").width();
        //centering
        $("#NewDiaryItem").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupNewDiaryItem").css({
            "height": windowHeight
        });
        return false;
    }
    function setSelected(select_id, value) {

        var mySelect = document.getElementById(select_id);
        var options = mySelect.options;
        var key;
        for (key in options) {
            if (key != null) {
                if (options[key].value === value) {
                    options[key].setAttribute("selected", "");
                }
                else {
                    options[key].removeAttribute("selected");
                }
            }
        }
    }



    debugger;
    function saveClaimDiariesItems(tabid) {
        // $('#ddlAssignmentUserid').val() replaceed by ddlParticipantsList
        if ('@Model.canclaimsinfoviewmodel.DiaryItem' != null && '@Model.propertyassignment.ClaimId' != null) {
            $('#imgProcessingDiarySubmit').show();
            $.post('@Url.Content("~/PropertyAssignment/SubmitCANClaimDiaryItems")',
            {
                diaryid: $('#hdnDiaryid').val(),
                claimId: '@Model.propertyassignment.ClaimId', assignmentid: '@Model.propertyassignment.AssignmentId',
                DueDate: $('#txtDueDate').val(),
                AssigntoUserId: $('#ddlParticipantsList').val(),
                DiaryCategoryId: $('#ddlCategoryId').val(),
                Title: $('#txtTitle').val(),
                DiaryDesc: $('#txtDiaryDesc').val(),
                EmailTaskDescription: ($('#cbEmailTaskDescription').attr('checked') == 'checked' ? 'true' : 'false'),
                IsExternalContact: ($('#rbIsExternalContactYes').attr('checked') == 'checked' ? 'true' : 'false'),
                IsBillable: ($('#cbIsBillable').attr('checked') == 'checked' ? 'true' : 'false'),
                NoOfHours: $('#txtNoOfHours').val(),
                Jobid: '@Model.AssignmentJob.JobId'
            },
                function (data) {
                    $('#imgProcessingDiarySubmit').hide();
                    if (data == 1) {
                        var url='@Url.Action("CANClaimDiariesList","PropertyAssignment")';
                        url = url + "?assignmentId=" + @Model.AssignmentJob.AssignmentId +"&jobId=" + @Model.AssignmentJob.JobId

                        getCANDiariesList(url, '4');
                        //new { assignmentId = Model.AssignmentJob.AssignmentId,jobId = Model.AssignmentJob.JobId }
                    }
                });
        }
        else {

            return false;
        }
    }
    $(function () {

        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"
        });
    });

    function loadPopupNewPerson() {


        var popupStatus = 0;

        if (popupStatus == 0) {
            //disablePopupNewDiaryItem();
            centerPopupNewPerson();
            $("#backgroundPopupNewPerson").css({
                "opacity": "0.7"
            });

            $("#backgroundPopupNewPerson").fadeIn("slow");
            $("#NewPerson").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disablePopupNewPerson() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupNewPerson").fadeOut("slow");
            $("#NewPerson").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewPerson() {
        //request data for centering

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#NewPerson").height();
        var popupWidth = $("#NewPerson").width();
        //centering
        $("#NewPerson").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupNewPerson").css({
            "height": windowHeight
        });
        return false;
    }
</script>

<table width="100%">
    <tr style="text-align: right;">
        <td>
            <input type="Submit" class="buttonLightYellow_100" name="OpenDiarylist" value="New Diary" onclick="loadPopupNewDiaryItem(0, '', '', '', '', '')" />
        </td>
    </tr>
</table>

<div id="NewDiaryItem" style="display: none;" class="EditPopup">
    <div>
        <table style="width: 100%">
            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        New Diary Item
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disablePopupNewDiaryItem();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    @*   @using (Html.BeginForm("SubmitDiary", "PropertyAssignment2", FormMethod.Post))
        { *@
    <table align="left" cellspacing="2" width="100%">
        <tr>
            <td style="height: 10px"></td>
        </tr>
        <tr style="display: none;">
            <td>
                <input type="hidden" id="hdnDiaryid" name="hdnDiaryid" />
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 20px">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td valign="top" style="text-align: right;">
                Claim Number :<u> </u>
            </td>
            <td valign="top" style="text-align: left;" colspan="2">
                @Model.Claim.ClaimNumber
            </td>
            <td>Is Billable</td>
            <td align="left">@Html.CheckBox("diaryItem.IsBillable", Model.canclaimsinfoviewmodel.diaryItem.IsBillable.HasValue ? Model.canclaimsinfoviewmodel.diaryItem.IsBillable.Value : false, new { @id = "cbIsBillable" })</td>
        </tr>
        <tr>
            <td valign="top" style="width: 20px">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td valign="top" style="text-align: right;">
                Contact Type
            </td>
            <td valign="top" style="text-align: left;" colspan="2">
                @Html.RadioButtonFor(model => model.canclaimsinfoviewmodel.diaryItem.IsExternalContact, true, new { @id = "rbIsExternalContactYes", @onchange = "setupAssignToDDL()" }) External
                @Html.RadioButtonFor(model => model.canclaimsinfoviewmodel.diaryItem.IsExternalContact, false, new { @id = "rbIsExternalContactNo", @onchange = "setupAssignToDDL()" }) Internal
            </td>
            <td valign="top" style="text-align: right;">
                No. of hours:
            </td>
            <td valign="top" style="text-align: left;">
                @Html.TextBoxFor(model => model.canclaimsinfoviewmodel.diaryItem.NoOfHours, new { @id = "txtNoOfHours" })
            </td>
        </tr>

        <tr>
            <td valign="top" style="width: 20px">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td valign="top" style="text-align: right;">
                Assign To :<u> </u>
            </td>
            <td valign="top" style="text-align: left;" colspan="2">

                @Html.DropDownListFor(model => model.canclaimsinfoviewmodel.DiaryItem.AssignedToUserId, Model.canclaimsinfoviewmodel.ParticipantList, new { @id = "ddlParticipantsList", @style = "width:150px;" })


                <div id="divAddExternalParticipant" style="display: none;">
                    <a onclick="loadPopupNewPerson();" style="border: none; color: black; cursor: pointer;">
                        <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                    </a>
                </div>


            </td>
            <td valign="top" style="text-align: right;">
                Due Date :<u> </u>
            </td>
            <td valign="top" style="text-align: left;">
                @Html.TextBoxFor(model => model.canclaimsinfoviewmodel.DiaryItem.DueDate, new { @id = "txtDueDate", @class = "DatePickerTextBox", @Value = (Model == null || Model.canclaimsinfoviewmodel.diaryItem.DueDate == null ? string.Empty : Convert.ToDateTime(Model.canclaimsinfoviewmodel.diaryItem.DueDate).ToString("MM/dd/yyyy")) })

            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 20px">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td valign="top" style="text-align: right;">
                Category :<u> </u>
            </td>
            <td valign="top" colspan="2" style="text-align: left;">
                @Html.DropDownListFor(model => model.canclaimsinfoviewmodel.DiaryItem.DiaryCategoryId, Model.canclaimsinfoviewmodel.DiaryCategoryList, new { @id = "ddlCategoryId", onchange = "changeSubject(this);" })
            </td>
            <td valign="top" style="text-align: right;">
                Subject :<u> </u>
            </td>
            <td valign="top" style="text-align: left;">
                @Html.TextBoxFor(model => model.canclaimsinfoviewmodel.DiaryItem.Title, new { @id = "txtTitle" })

            </td>
        </tr>
        <tr>

            <td valign="top" style="width: 20px">&nbsp;</td>
            <td valign="top" style="text-align: right;">&nbsp;</td>
            <td valign="top" colspan="4" style="text-align: left;">&nbsp;</td>
        </tr>
        <tr>

            <td valign="top" style="width: 20px">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td valign="top" style="text-align: right;">
                Task Description :
            </td>
            <td valign="top" colspan="4" style="text-align: left;">
                @Html.TextAreaFor(model => model.canclaimsinfoviewmodel.DiaryItem.DiaryDesc, new { @id = "txtDiaryDesc", @class = "wideareaNewDiary" })
            </td>
        </tr>
        @if (loggedInUser.UserTypeId != 11)
        {
            <tr>

                <td valign="top" style="width: 20px">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td valign="top" style="text-align: right;"></td>
                <td valign="top" style="text-align: left;">
                    @Html.CheckBoxFor(model => model.canclaimsinfoviewmodel.EmailTaskDescription, new { @id = "cbEmailTaskDescription" }) Send Task Description as email
            </td>

        </tr>
        }
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td colspan="6">
                <img id="imgProcessingDiarySubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input type="button" name="Submit" value="Save" class="buttonLightYellow_100" onclick="saveClaimDiariesItems('4');" />
            </td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
        </tr>
    </table>

    @* }*@
</div>
<div id="NewPerson" style="display: none;" class="EditPopupNewPerson">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left">
                                    Add External Participant
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupNewPerson();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div id="divClaimContactsError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                <div id="divClaimContacts">
                    @Html.Partial("_ClaimContacts", Model.canclaimsinfoviewmodel.ClaimContactViewModel)
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer">
                <img id="imgProcessingNewContactSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />

                <input type="submit" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" />
            </td>
        </tr>
    </table>
</div>
<div id="backgroundPopupNewDiaryItem" onclick="disablePopupNewDiaryItem();" class="backgroundPopupNewDiary" style="display: none;"></div>
<div id="backgroundPopupNewPerson" onclick="disablePopupNewPerson();" class="backgroundPopupNewPerson" style="display: none;"></div>
