﻿@model BLL.ViewModels.CANJobsViewModel
<table width="100%">

    <tr>
        <td>
            <table>


                <tr>
                    <td nowrap="nowrap" valign="middle">Job Type </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.jobdesc)
                    </td>
                    <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                  
                </tr>
               
            </table>
        </td>
    </tr>
</table>