﻿@model BLL.ViewModels.CatCodeViewModel

<table>
    <tr>
        <td>Cat Code</td>
        <td>@Html.TextBoxFor(model => model.CatCode.CatCode1, new { @id="txtCatCode" })</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Html.TextBoxFor(model=>model.CatCode.CatCodeDescription, new { @id="txtcatCodeDescription" })</td>
    </tr>
</table>