﻿
@model BLL.ViewModels.ClaimFianancialViewModel
<script src="~/Scripts/DateTimePicker/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js"></script>
<link href="~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20",
            minDate: new Date(1999, 10 - 1, 25),
            maxDate: '+30Y',
            inline: true
        });
        showTab(4);
        $('#btnSaveFinancialRecoveries').on('click', function () {
            ValidateForm();
        });
    });

    function setDatePicker() {
        $(".DatePickerTextBox").datepicker({
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20",
            minDate: new Date(1999, 10 - 1, 25),
            maxDate: '+30Y',
            inline: true
        });
    }

    function ValidateForm() {
        debugger;
        var numberOfRecords = document.getElementById("hdnRecoveriesRowCount").value;
        var tempListOfElements = '', listOfElements = '';
        var tempCompleteRequiredElementList = '', completeRequiredElementList;
        var regex = new RegExp('^(0*\.)?0*$');
        var RecoveryReserveNRecoveryAmtSelected = false;
        var NoRecoveryReserveNRecoveryAmtSelected = false;
        var TransactionDate = false;
        var ErrorMessage = '';

        for (var i = 0; i < numberOfRecords; i++) {
            tempCompleteRequiredElementList += '[name="Recovery[' + i + '].RecoverReserveAmt"],[name="Recovery[' + i + '].ActualProcessedRecoveryAmnt"],[name="Recovery[' + i + '].TransactionDateTime"],';

            if ($("[name='Recovery[" + i + "].RecoverReserveAmt']").val().trim() == '' && $("[name='Recovery[" + i + "].ActualProcessedRecoveryAmnt']").val().trim() == '') {
                tempListOfElements += '[name="Recovery[' + i + '].RecoverReserveAmt"],[name="Recovery[' + i + '].ActualProcessedRecoveryAmnt"],';
                NoRecoveryReserveNRecoveryAmtSelected = true;
            }

            if ($("[name='Recovery[" + i + "].ActualProcessedRecoveryAmnt']").val().trim() != '' && $("[name='Recovery[" + i + "].RecoverReserveAmt']").val().trim() != '') {
                if (!regex.test($("[name='Recovery[" + i + "].ActualProcessedRecoveryAmnt']").val()) && !regex.test($("[name='Recovery[" + i + "].RecoverReserveAmt']").val())) {
                    tempListOfElements += '[name="Recovery[' + i + '].RecoverReserveAmt"],[name="Recovery[' + i + '].ActualProcessedRecoveryAmnt"],';
                    RecoveryReserveNRecoveryAmtSelected = true;
                }

                if ($("[name='Recovery[" + i + "].ActualProcessedRecoveryAmnt']").val() > 0 && $("[name='Recovery[" + i + "].RecoverReserveAmt']").val() > 0) {
                    tempListOfElements += '[name="Recovery[' + i + '].RecoverReserveAmt"],[name="Recovery[' + i + '].ActualProcessedRecoveryAmnt"],';
                    RecoveryReserveNRecoveryAmtSelected = true;
                }

                if ($("[name='Recovery[" + i + "].ActualProcessedRecoveryAmnt']").val() == 0 && $("[name='Recovery[" + i + "].RecoverReserveAmt']").val() == 0) {
                    tempListOfElements += '[name="Recovery[' + i + '].RecoverReserveAmt"],[name="Recovery[' + i + '].ActualProcessedRecoveryAmnt"],';
                    NoRecoveryReserveNRecoveryAmtSelected = true;
                }
            }

            if ($("[name='Recovery[" + i + "].TransactionDateTime']").val().trim() == '') {
                tempListOfElements += '[name="Recovery[' + i + '].TransactionDateTime"],';
                TransactionDate = true;
            }
        }
        listOfElements = tempCompleteRequiredElementList.substring(0, tempCompleteRequiredElementList.length - 1);
        completeRequiredElementList = tempListOfElements.substring(0, tempListOfElements.length - 1);
        RequiredField(listOfElements, false);
        RequiredField(completeRequiredElementList, true);

        if(RecoveryReserveNRecoveryAmtSelected){
            ErrorMessage = "<li>Cannot save both <i>Recovery Reserve</i> and <i>Recovery Amount</i> for one entry.</li>";
        }
        if (NoRecoveryReserveNRecoveryAmtSelected) {
            ErrorMessage += "<li>Please provide either <i>Recovery Reserve</i> or <i>Recovery Amount</i>.</li>";
        }
        if (TransactionDate) {
            ErrorMessage += "<li>Please provide <i>Transaction Date</i>.</li>"
        }

        if (completeRequiredElementList == '') {
            $('#btnHiddenSaveFinancialRecoveries').click();
        }
        else {
            $('#lblStatusMessage').html(ErrorMessage);
        }
    }

    function RequiredField(listElements, addRequiredField) {
        if (addRequiredField) {
            $(listElements).css('border', '1px solid red');
        }
        else {
            $(listElements).css('border', '1px solid gray');
        }
    }

    function addRecoveryRow(tableID) {
        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnRecoveriesRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;

        //CoverageType
        var cell1 = row.insertCell(0);
        var element1 = document.getElementById("ddlCoverageTypesReplica").cloneNode(true);
        element1.name = "Recovery[" + newRowIndex + "].CoverageType";
        element1.setAttribute('style', 'width: 170px;');
        cell1.appendChild(element1);

        var hiddenRecoverId = document.createElement("input");
        hiddenRecoverId.type = "hidden";
        hiddenRecoverId.name = "Recovery[" + newRowIndex + "].RecoveryId";
        hiddenRecoverId.value = 0;
        cell1.appendChild(hiddenRecoverId);

        //RecoveryType
        var cell2 = row.insertCell(1);
        var element2 = document.getElementById("ddlRecoveryTypesReplica").cloneNode(true);
        element2.name = "Recovery[" + newRowIndex + "].RecoveryType";
        element2.setAttribute('style', 'width: 150px;');
        cell2.appendChild(element2);

        //Recovery Reserve
        var cell3 = row.insertCell(2);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.name = "Recovery[" + newRowIndex + "].RecoverReserveAmt";
        element3.setAttribute('style', 'width: 125px;');
        cell3.appendChild(element3);

        //Recovery Amount
        var cell4 = row.insertCell(3);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.name = "Recovery[" + newRowIndex + "].ActualProcessedRecoveryAmnt";
        element4.setAttribute('style', 'width: 125px;');
        cell4.appendChild(element4);

        //Transaction Date
        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.name = "Recovery[" + newRowIndex + "].TransactionDateTime";
        element5.setAttribute('style', 'width: 125px;');
        element5.className = 'DatePickerTextBox';
        cell5.appendChild(element5);

        //Payer
        var cell6 = row.insertCell(5);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.name = "Recovery[" + newRowIndex + "].Payer";
        cell6.appendChild(element6);

        //Memo
        var cell7 = row.insertCell(6);
        var element7 = document.createElement("input");
        element7.type = "text";
        element7.name = "Recovery[" + newRowIndex + "].Memo";
        cell7.appendChild(element7);

        //Check Number
        var cell8 = row.insertCell(7);
        var element8 = document.createElement("input");
        element8.type = "text";
        element8.name = "Recovery[" + newRowIndex + "].CheckNumber";
        element8.setAttribute('style', 'width: 125px;');
        cell8.appendChild(element8);

        //Delete
        var cell9 = row.insertCell(8);
        var element9 = document.getElementById("imgCoverageDeleteRowReplica").cloneNode(true);
        element9.id = "imgCoverageDeleteRow" + newRowIndex;
        cell9.appendChild(element9);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

        setDatePicker();

    }
    function deleteRow(tableID) {
        try {
            debugger;
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnRowCount = document.getElementById("hdnRecoveriesRowCount");
            hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
            }


        } catch (e) {
            alert(e);
        }
    }
</script>
<style>
    .requiredField {
        border: 1px solid red;
    }
</style>
@using (Ajax.BeginForm("SaveRecoveries", "PropertyAssignment", new AjaxOptions { UpdateTargetId = "lblStatusMessage" }, new { id = "frmFinancialRecoveries" }))
{
    <label id="lblStatusMessage" style="color:red;font-weight:bold;"></label>

    <table style="padding-top:20px;width:100%;">
        <tr>
            <td>
                <table width="100%" id="tblRecoveries" cellspacing="0">

                    <tr valign="top">
                        <td class="tableHeader" nowrap="nowrap" width="170">
                            Coverage Type
                            <div style="display: none;">
                                @Html.DropDownList("ddlCoverageTypesReplica", Model.listCoverageTypes, new { @id = "ddlCoverageTypesReplica", @style = "width:170px" })
                            </div>
                        </td>
                        <td class="tableHeader" nowrap="nowrap" width="150">
                            Recovery Type
                            <div style="display: none;">
                                @Html.DropDownList("ddlRecoveryTypesReplica", Model.listRecovertyTypes, new { @id = "ddlRecoveryTypesReplica", @style = "width:170px" })
                            </div>
                        </td>
                        <td class="tableHeader" width="125" nowrap="nowrap">Recovery Reserve</td>
                        <td class="tableHeader" width="125" nowrap="nowrap">Recovery Amount</td>
                        <td class="tableHeader" width="125" nowrap="nowrap">Transaction Date</td>
                        <td class="tableHeader" width="120" nowrap="nowrap">Payor</td>
                        <td class="tableHeader" width="120" nowrap="nowrap">Memo</td>
                        <td class="tableHeader" width="125" nowrap="nowrap">Check #</td>
                        <td>
                            <div style="display: none;">
                                <img id="imgCoverageDeleteRowReplica" onclick="deleteRow('tblRecoveries')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                            </div>
                        </td>
                    </tr>


                    @if (Model.listRecovery.ToList().Count == 0)
                    {
                        <tr>
                            <td>
                                <select id="@("CoverageType0")" name="Recovery[0].CoverageType" style="width: 170px;">
                                    @foreach (var type in Model.listCoverageTypes)
                                    {
                                        <option value="@type.Value" )>@type.Text</option>
                                    }
                                </select>
                                <input type="hidden" name="Recovery[0].RecoveryId" value="0" />
                            </td>
                            <td>
                                <select id="@("RecoveryType0")" name="Recovery[0].RecoveryType" style="width: 150px;">
                                    @foreach (var type in Model.listRecovertyTypes)
                                    {
                                        <option value="@type.Value" )>@type.Text</option>
                                    }
                                </select>
                            </td>
                            <td><input type="text" name="Recovery[0].RecoverReserveAmt" style="width:125px" /></td>
                            <td><input type="text" name="Recovery[0].ActualProcessedRecoveryAmnt" style="width:125px" /></td>
                            <td><input type="text" name="Recovery[0].TransactionDateTime" class="DatePickerTextBox" style="width:125px" /></td>
                            <td>
                                <input type="text" name="Recovery[0].Payer" />
                            </td>
                            <td><input type="text" name="Recovery[0].Memo" /></td>
                            <td><input type="text" name="Recovery[0].CheckNumber" style="width:125px" /></td>
                            <td>
                                <img id="imgCoverageDeleteRow0" onclick="deleteRow('tblRecoveries')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        for (int i = 0; i < Model.listRecovery.Count; i++)
                        {
                            BLL.Recovery recovery = Model.listRecovery.ElementAt(i);

                            <tr>
                                <td>
                                    <select id="@("CoverageType" + i)" name="Recovery[@i].CoverageType" style="width: 170px;">
                                        @foreach (var type in Model.listCoverageTypes)
                                        {
                                            <option value="@type.Value" @(type.Value != recovery.CoverageTypeId.ToString() ? "" : "selected = selected")>@type.Text</option>
                                        }
                                    </select>
                                    <input type="hidden" name="Recovery[@i].RecoveryId" value="@recovery.RecoveryId" />
                                </td>
                                <td>
                                    <select id="@("RecoveryType" + i)" name="Recovery[@i].RecoveryType" style="width: 150px;">
                                        @foreach (var type in Model.listRecovertyTypes)
                                        {
                                            <option value="@type.Value" @(type.Value != recovery.RecoveryTypeId.ToString() ? "" : "selected = selected")>@type.Text</option>
                                        }
                                    </select>
                                </td>
                                <td><input type="text" name="Recovery[@i].RecoverReserveAmt" value="@string.Format("{0:0.00}", recovery.RecoverReserveAmt)" style="width:125px" /></td>
                                <td><input type="text" name="Recovery[@i].ActualProcessedRecoveryAmnt" value="@string.Format("{0:0.00}", recovery.ActualProcessedRecoveryAmnt)" style="width:125px" /></td>
                                <td><input type="text" name="Recovery[@i].TransactionDateTime" value='@string.Format("{0:MM/dd/yyyy}", recovery.TransactionDateTime)' class="DatePickerTextBox" style="width:125px;" /></td>
                                <td><input type="text" name="Recovery[@i].Payer" value="@recovery.Payer" /></td>
                                <td><input type="text" name="Recovery[@i].Memo" value="@recovery.Memo" /></td>
                                <td><input type="text" name="Recovery[@i].CheckNumber" value="@recovery.CheckNumber" style="width:125px" /></td>
                                <td>
                                    <img id="@("imgCoverageDeleteRow" + i)" onclick="deleteRow('tblRecoveries')" style="@(i == (Model.listRecovery.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                </td>
                            </tr>
                        }
                    }

                </table>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>
                    <a onclick="addRecoveryRow('tblRecoveries')" style="border: none; color: black; cursor: pointer;">
                        <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                        Add Row
                    </a> &nbsp;
                    <input type="submit" id="btnHiddenSaveFinancialRecoveries" style="display:none;" />
                    <input type="button" id="btnSaveFinancialRecoveries" value="Save" class="buttonYellow_100" />
                </b>
            </td>
        </tr>
    </table>

    <input id="hdnRecoveriesRowCount" name="hdnRecoveriesRowCount" type="hidden" value="@(Model.listRecovery.Count == 0 ? "1" : Model.listRecovery.Count + "")" />
    <input id="hdnClaimId" name="hdnClaimId" type="hidden" value="@Model.ClaimId" />
}
