﻿@model BLL.ViewModels.ClaimFianancialViewModel

<script>
    $(document).ready(function () {
        showTab(1);
    });
</script>
<table style="padding-top:20px;width:100%">
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">

                        <td>
                            Coverage Type
                        </td>
                        <td align="right">
                            Indemnity Reserve ($)
                        </td>
                        <td align="right">
                            Adjusting Expense Reserve ($)
                        </td>
                        <td align="right">
                            Legal Expense Reserve ($)
                        </td>
                        <td align="right">
                            Total Indemnity Payments ($)
                        </td>
                        <td align="right">
                            Total Adjusting Expense Payments ($)
                        </td>
                        <td align="right">
                            Total Legal Expense Payments ($)
                        </td>
                        <td align="right">
                            Outstanding Indemnity Reserve ($)
                        </td>
                        <td align="right">
                            Outstanding Adjusting Expense Reserve ($)
                        </td>
                        <td align="right">
                            Outstanding Legal Expense Reserve ($)
                        </td>
                        <td align="right">
                            Recovery Reserve ($)
                        </td>
                        <td align="right">
                            Total Actual Processed Recoveries ($)
                        </td>
                        <td align="right">
                            Net Projected Incurred Loss ($)
                        </td>

                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.listSummary != null)
                    {
                        foreach (var coverage in Model.listSummary)
                        {
                            <tr class="@(i % 2 == 0 ? "tableRowAlternate" : "tableRow")" style="font-weight:100">
                                <td>
                                    @coverage.CoverageType
                                </td>
                                <td align="right">
                                    @coverage.IndemnityReserve.ToString("0.00")
                                </td>
                                <td align="right">
                                    @coverage.AdjustingExpenseReserve.ToString("0.00")
                                </td>
                                <td align="right">
                                    @coverage.LegalExpenseReserve.ToString("0.00")
                                </td>
                                <td align="right">
                                    @coverage.TotalIndemnityPmt.Value.ToString("0.00")
                                </td>
                                <td align="right">
                                    @coverage.TotalAdjustingExpensePmt.Value.ToString("0.00")
                                </td>
                                <td align="right">
                                    @coverage.TotalLegalExpensePmt.Value.ToString("0.00")
                                </td>
                                <td align="right">
                                    @Convert.ToDouble(coverage.IndemnityReserve - Convert.ToDouble(coverage.TotalIndemnityPmt)).ToString("0.00")
                                </td>
                                <td align="right">
                                    @Convert.ToDouble(coverage.AdjustingExpenseReserve - Convert.ToDouble(coverage.TotalAdjustingExpensePmt)).ToString("0.00")
                                </td>
                                <td align="right">
                                    @Convert.ToDouble(coverage.LegalExpenseReserve - Convert.ToDouble(coverage.TotalLegalExpensePmt)).ToString("0.00")
                                </td>
                                <td align="right">
                                    @coverage.RecoverReserveAmt.Value.ToString("0.00")
                                </td>
                                <td align="right">
                                    @coverage.ActualProcessedRecoveryAmnt.Value.ToString("0.00")
                                </td>
                                <td align="right">
                                    @Convert.ToDouble(coverage.IndemnityReserve - Convert.ToDouble(coverage.RecoverReserveAmt)).ToString("0.00")
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
                <tr>
                    <td>
                        <b>Claim Totals</b>
                    </td>
                    <td align="right"><b>@Model.TotalIndemnityReserves.ToString("0.00")</b></td>
                    <td align="right"><b>@Model.TotalAdjustingExpenseReserves.ToString("0.00")</b></td>
                    <td align="right"><b>@Model.TotalLegalExpenseReserves.ToString("0.00")</b></td>

                    <td align="right"><b>@Model.TotalIndemnityPayment.ToString("0.00")</b></td>
                    <td align="right"><b>@Model.TotalAdjustingExpensePayment.ToString("0.00")</b></td>
                    <td align="right"><b>@Model.TotalLegalExpensePayment.ToString("0.00")</b></td>

                    <td align="right"><b>@Model.TotalOutstandingIndemnityReserves.ToString("0.00")</b></td>
                    <td align="right"><b>@Model.TotalOutstandingAdjExpenseReserves.ToString("0.00")</b></td>
                    <td align="right"><b>@Model.TotalOutstandingLegalExpenseReserves.ToString("0.00")</b></td>

                    <td align="right"><b>@Model.TotalRecoveryReserves.ToString("0.00")</b></td>
                    <td align="right"><b>@Model.TotalActualProcessedRecoveries.ToString("0.00")</b></td>

                    <td align="right"><b>@Model.TotalNetProjectedIncurredLoss.ToString("0.00")</b></td>

                </tr>

            </table>

        </td>
    </tr>

</table>