﻿@model BLL.ViewModels.PropertyAssignmentViewModel
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>

<style>
    .uidatepickerdiv {
        position: absolute !important;
        top: 930px !important;
        left: 765px !important;
        z-index: 1 !important;
        display: block !important;
    }
</style>

<script type="text/javascript">

     $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,

        });


         $(".ui-datepicker-trigger").click(function () {
             debugger
             var topVal = $("#ui-datepicker-div").offset().top
             $("#iframeEditClaim #ui-datepicker-div").css("top", parseInt(topVal - 200));
         });
    });

    $(document).ready(function () {

        $("#ClaimantHomePhone").mask("(999) 999-9999");
        $("#ClaimantBusinessPhone").mask("(999) 999-9999");
        $("#ClaimantMobilePhone").mask("(999) 999-9999");
        $("#txtClaimantZip").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
    });
    function copyInsuredToClaimant() {
        debugger;
        try {
            document.getElementById('txtClaimantAddress1').value = document.getElementById('txtInsuredAddress1').value;
            document.getElementById('txtClaimantAddress2').value = document.getElementById('txtInsuredAddress2').value;
            document.getElementById('txtClaimantZip').value = document.getElementById('txtInsuredZip').value;
            document.getElementById('ddlClaimantState').value = document.getElementById('ddlInsuredState').value;
            document.getElementById('txtClaimantCity').value = document.getElementById('txtInsuredCity').value;

            document.getElementById('txtClaimantFirstName').value = document.getElementById('txtInsuredFirstName').value;
            document.getElementById('txtClaimantLastName').value = document.getElementById('txtInsuredLastName').value;
            document.getElementById('ClaimantHomePhone').value = document.getElementById('HomePhone').value;
            document.getElementById('ClaimantMobilePhone').value = document.getElementById('MobilePhone').value;
            document.getElementById('ClaimantBusinessPhone').value = document.getElementById('BusinessPhone').value;
            document.getElementById('txtClaimantEmail').value = document.getElementById('txtInsuredEmail').value;

        }
        catch (err) {
        }
    }

</script>
<table width="100%">
    <tr>
        <td colspan="4" class="subHeading">Claimant</td>
    </tr>
    <tr>
        <td colspan="4">
            Is the Claimant Information same as Insured Information?
            @Html.RadioButtonFor(model => model.isClamantInfoSameAsInsuredInfo, true, new { @id = "cbCopyInsuredToClaimant", @onclick = "copyInsuredToClaimant()" }) Yes
            @Html.RadioButtonFor(model => model.isClamantInfoSameAsInsuredInfo, false) No
        </td>


    </tr>
    <tr>
        <td width="20%">
            *Claimant First Name
        </td>
        <td width="25%">

            @Html.TextBoxFor(model => model.Claim.ClaimantFirstName, new { @id = "txtClaimantFirstName" })
        </td>

        <td width="20%">
            *Claimant Last Name
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.ClaimantLastName, new { @id = "txtClaimantLastName" })
        </td>

    </tr>
    <tr>
        <td>
            *Claimant Address 1
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.ClaimantAddress1, new { @id = "txtClaimantAddress1" })

        </td>

        <td></td>
        <td></td>

    </tr>
    <tr>
        <td>
            Claimant Address 2
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantAddress2, new { @id = "txtClaimantAddress2" })


        </td>

        <td>
            Claimant Home Phone
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantHomePhone, new { id = "ClaimantHomePhone" })


        </td>

    </tr>
    <tr>
        <td>
            *Claimant Zip
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantZip, new { @id = "txtClaimantZip", @onblur = "populateZipData('txtClaimantZip','ddlClaimantState','txtClaimantCity')" })


        </td>

        <td>
            Claimant Mobile Phone
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantMobilePhone, new { id = "ClaimantMobilePhone" })


        </td>

    </tr>
    <tr>
        <td>
            *Claimant State
        </td>
        <td>
            @Html.DropDownListFor(model => model.Claim.ClaimantState, Model.StateList, new { style = "width: 170px;", @id = "ddlClaimantState" })


        </td>

        <td>
            Claimant Business Phone
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantBusinessPhone, new { id = "ClaimantBusinessPhone" })

        </td>

    </tr>
    <tr>
        <td>
            *Claimant City
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantCity, new { @id = "txtClaimantCity" })
        </td>

        <td>
            Claimant Email
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantEmail, new { @id = "txtClaimantEmail" })
        </td>
    </tr>
    <tr>
        <td>
            Claimant VIN
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimantVIN, new { @id = "txtClaimantVIN" })
        </td>
        <td>
            Claimant Vehicle Year / Make / Model
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.VehicleYearMakeMode, new { @id = "txtVehicleYearMakeMode" })
        </td>
    </tr>
</table>
