﻿@model BLL.ViewModels.ClaimFianancialViewModel
<script src="~/Scripts/DateTimePicker/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js"></script>
<link href="~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20",
            minDate: new Date(1999, 10 - 1, 25),
            maxDate: '+30Y',
            inline: true
        });

        showTab(3);

        $('#btnSavePaymentRecommendation').on('click', function () {
            $('#btnHiddenPaymentRecommendation').click();
        });
    });

    function setDatePicker() {
        $(".DatePickerTextBox").datepicker({
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20",
            minDate: new Date(1999, 10 - 1, 25),
            maxDate: '+30Y',
            inline: true
        });
    }

    function addPaymentRecommendationRow(tableID) {
        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnPayrollRecommendationsRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;

        //CoverageType
        var cell1 = row.insertCell(0);
        var element1 = document.getElementById("ddlCoverageTypesReplica").cloneNode(true);
        element1.name = "PaymentRecommendation[" + newRowIndex + "].CoverageType";
        cell1.appendChild(element1);

        var hiddenPaymentRecommendationId = document.createElement("input");
        hiddenPaymentRecommendationId.type = "hidden";
        hiddenPaymentRecommendationId.name = "PaymentRecommendation[" + newRowIndex + "].PaymentRecommendationId";
        hiddenPaymentRecommendationId.value = 0;
        cell1.appendChild(hiddenPaymentRecommendationId);


        //PaymentTyped
        debugger;
        var cell2 = row.insertCell(1);
        var element2 = document.getElementById("ddlPaymentTypesReplica").cloneNode(true);
        element2.name = "PaymentRecommendation[" + newRowIndex + "].PaymentType";
        var clickElement = element2.getAttribute('onchange');
        var newEvent = clickElement.replace(/{}/g, '[' + newRowIndex + ']');
        element2.setAttribute('onchange', newEvent);
        cell2.appendChild(element2);


        //ExpenseType
        var cell3 = row.insertCell(2);
        var element3 = document.getElementById("ddlExpenseTypesReplica").cloneNode(true);
        element3.name = "PaymentRecommendation[" + newRowIndex + "].ExpenseType";
        element3.setAttribute('style', 'width: 150px;');

        cell3.appendChild(element3);


        //Amount
        var cell4 = row.insertCell(3);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.name = "PaymentRecommendation[" + newRowIndex + "].Amount";
        element4.setAttribute('style', 'width: 80px;');
        cell4.appendChild(element4);


        //Payee
        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.name = "PaymentRecommendation[" + newRowIndex + "].Payee";
        cell5.appendChild(element5);

        //RequestDate
        var cell6 = row.insertCell(5);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.name = "PaymentRecommendation[" + newRowIndex + "].RequestDate";
        element6.setAttribute('style', 'width: 80px;');
        element6.className = 'DatePickerTextBox';
        cell6.appendChild(element6);

        //Memo
        var cell7 = row.insertCell(6);
        var element7 = document.createElement("input");
        element7.type = "text";
        element7.name = "PaymentRecommendation[" + newRowIndex + "].Memo";
        cell7.appendChild(element7);

        //CheckNumber
        var cell8 = row.insertCell(7);
        var element8 = document.createElement("input");
        element8.type = "text";
        element8.name = "PaymentRecommendation[" + newRowIndex + "].CheckNumber";
        element8.setAttribute('style', 'width: 80px;');
        cell8.appendChild(element8);

        //IssueDate
        var cell9 = row.insertCell(8);
        var element9 = document.createElement("input");
        element9.type = "text";
        element9.name = "PaymentRecommendation[" + newRowIndex + "].IssueDate";
        element9.setAttribute('style', 'width: 80px;');
        element9.className = 'DatePickerTextBox';
        cell9.appendChild(element9);

        //Delete
        var cell10 = row.insertCell(9);
        var element10 = document.getElementById("imgCoverageDeleteRowReplica").cloneNode(true);
        element10.id = "imgCoverageDeleteRow" + newRowIndex;
        cell10.appendChild(element10);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

        setDatePicker();

    }
    function deleteRow(tableID) {
        try {
            debugger;
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnRowCount = document.getElementById("hdnPayrollRecommendationsRowCount");
            hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
            }


        } catch (e) {
            alert(e);
        }
    }

    function getExpenseTypes(ddlPayment, ddlExpense) {
        debugger;
        $("#SubdivLoading").css('display', 'block');
        $('select[name="' + ddlExpense + '"]').empty();
        if ($('select[name="' + ddlPayment + '"]').val() == 1) {
            $('select[name="' + ddlExpense + '"]').prop("disabled", true);
            $("#SubdivLoading").css('display', 'none');
        }
        else {
            $('select[name="' + ddlExpense + '"]').empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetExpenseTypes")',
                dataType: 'json',
                data: { PaymentTypeId: $('select[name="' + ddlPayment + '"]').val() },
                success: function (ExpenseTypes) {
                    $.each(ExpenseTypes, function (Index, Expense) {
                        $('select[name="' + ddlExpense + '"]').append('<option value="' + Expense.Value + '">' + Expense.Text + '</option>');
                    });
                    $('select[name="' + ddlExpense + '"]').prop("disabled", false);
                    $("#SubdivLoading").css('display', 'none');
                },
                error: function (ex) {
                    $("#SubdivLoading").css('display', 'none');
                    alert('Failed to retrieve expense types.' + ex);
                }
            });
        }
    }
</script>
<style>
    .requiredField {
        border: 1px solid red;
    }
</style>
@using (Ajax.BeginForm("SavePaymentRecommendations", "PropertyAssignment", new AjaxOptions { UpdateTargetId = "lblStatusMessage" }, new { id = "frmPaymentRecommendation" }))
{
    <label id="lblStatusMessage" style="color:red;font-weight:bold;"></label>

    <table style="padding-top:20px;width:100%;">
        <tr>
            <td>
                <table width="100%" id="tblPaymentRecommendation" cellspacing="0">
                    <tr valign="top">
                        <td class="tableHeader" nowrap="nowrap" width="15%">
                            Coverage Type
                            <div style="display: none;">
                                @Html.DropDownList("ddlCoverageTypesReplica", Model.listCoverageTypes, new { @id = "ddlCoverageTypesReplica" })
                            </div>
                        </td>
                        <td class="tableHeader" width="10%" nowrap="nowrap">
                            Payment Type
                            <div style="display: none;">
                                @Html.DropDownList("ddlPaymentTypesReplica", Model.listPaymentTypes, new { @id = "ddlPaymentTypesReplica", onchange = "getExpenseTypes('PaymentRecommendation{}.PaymentType', 'PaymentRecommendation{}.ExpenseType');" })
                            </div>
                        </td>
                        <td class="tableHeader" width="15%" nowrap="nowrap">
                            Expense Type
                            <div style="display: none;">
                                @Html.DropDownList("ddlExpenseTypesReplica", Model.listExpenseTypes, new { @id = "ddlExpenseTypesReplica" })
                            </div>
                        </td>
                        <td class="tableHeader" nowrap="nowrap" width="10%">Amount</td>
                        <td class="tableHeader" nowrap="nowrap" width="15%">Payee</td>
                        <td class="tableHeader" width="5%" nowrap="nowrap">Request Date</td>
                        <td class="tableHeader" width="10%" nowrap="nowrap">Memo</td>
                        <td class="tableHeader" width="10%" nowrap="nowrap">Check #</td>
                        <td class="tableHeader" width="5%" nowrap="nowrap">Issue Date</td>
                        <td width="5%">
                            <div style="display: none;">
                                <img id="imgCoverageDeleteRowReplica" onclick="deleteRow('tblPaymentRecommendation')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                            </div>
                        </td>
                    </tr>


                    @if (Model.listPaymentRecommendation.ToList().Count == 0)
                {
                        <tr>
                            <td width="15%">
                                <select id="@("CoverageType0")" name="PaymentRecommendation[0].CoverageType">
                                    @foreach (var type in Model.listCoverageTypes)
                                    {
                                        <option value="@type.Value" )>@type.Text</option>
                                    }
                                </select>
                                <input type="hidden" name="PaymentRecommendation[0].PaymentRecommendationId" value="0" />
                            </td>
                            <td width="10%">
                                <select id="@("PaymentType0")" name="PaymentRecommendation[0].PaymentType" onchange="getExpenseTypes('PaymentRecommendation[0].PaymentType', 'PaymentRecommendation[0].ExpenseType');">
                                    @foreach (var type in Model.listPaymentTypes)
                                    {
                                        <option value="@type.Value" )>@type.Text</option>
                                    }
                                </select>
                                <input type="hidden" name="PaymentRecommendation[0].PaymentTypeId" value="0" />
                            </td>
                            <td width="15%">
                                <select id="@("ExpenseType0")" name="PaymentRecommendation[0].ExpenseType" style="width:150px" >
                                    @foreach (var type in Model.listExpenseTypes)
                                    {
                                        <option value="@type.Value" )>@type.Text</option>
                                    }
                                </select>
                                <input type="hidden" name="PaymentRecommendation[0].ExpenseTypeId" value="0" />
                            </td>
                            <td width="10%"><input type="text" name="PaymentRecommendation[0].Amount" style="width:80px" /></td>
                            <td width="15%"><input type="text" name="PaymentRecommendation[0].Payee" /></td>
                            <td width="5%">
                                <input type="text" name="PaymentRecommendation[0].RequestDate" class="DatePickerTextBox" style="width:80px" />
                            </td>
                            <td width="10%"><input type="text" name="PaymentRecommendation[0].Memo" /></td>
                            <td width="10%"><input type="text" name="PaymentRecommendation[0].CheckNumber" style="width:80px" /></td>
                            <td width="5%">
                                <input type="text" name="PaymentRecommendation[0].IssueDate" class="DatePickerTextBox" style="width:80px" />
                            </td>
                            <td width="5%">
                                <img id="imgCoverageDeleteRow0" onclick="deleteRow('tblPaymentRecommendation')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        for (int i = 0; i < Model.listPaymentRecommendation.Count; i++)
                        {
                            BLL.PaymentRecommendation paymentRecommendation = Model.listPaymentRecommendation.ElementAt(i);

                            <tr>
                                <td width="15%">
                                    <select id="@("CoverageType" + i)" name="PaymentRecommendation[@i].CoverageType">
                                        @foreach (var type in Model.listCoverageTypes)
                                        {
                                            <option value="@type.Value" @(type.Value != paymentRecommendation.CoverageTypeId.ToString() ? "" : "selected = selected")>@type.Text</option>
                                        }
                                    </select>
                                    <input type="hidden" name="PaymentRecommendation[@i].PaymentRecommendationId" value="@paymentRecommendation.PaymentRecommendationId" />
                                </td>

                                <td width="10%">
                                    <select id="@("PaymentType" + i)" name="PaymentRecommendation[@i].PaymentType" onchange="getExpenseTypes('PaymentRecommendation[@i].PaymentType','PaymentRecommendation[@i].ExpenseType');">
                                        @foreach (var type in Model.listPaymentTypes)
                                        {
                                            <option value="@type.Value" @(type.Value != paymentRecommendation.PaymentTypeId.ToString() ? "" : "selected = selected")>@type.Text</option>
                                        }
                                    </select>
                                    <input type="hidden" name="PaymentRecommendation[@i].PaymentTypeId" value="@paymentRecommendation.PaymentTypeId" />
                                </td>
                                <td width="15%">
                                    <select id="@("ExpenseType" + i)" name="PaymentRecommendation[@i].ExpenseType" style="width:150px">
                                        @{
                                            if (paymentRecommendation.PaymentTypeId == 2)//Adjusting Expenses
                                            {
                                                foreach (var type in Model.listAdjustingExpenseTypes)
                                                {
                                                    <option value="@type.Value" @(type.Value != paymentRecommendation.ExpenseTypeId.ToString() ? "" : "selected = selected")>@type.Text</option>
                                                }
                                            }
                                            else if (paymentRecommendation.PaymentTypeId == 3)//Legal Expenses
                                            {
                                                foreach (var type in Model.listLegalExpenseTypes)
                                                {
                                                    <option value="@type.Value" @(type.Value != paymentRecommendation.ExpenseTypeId.ToString() ? "" : "selected = selected")>@type.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <input type="hidden" name="PaymentRecommendation[@i].ExpenseTypeId" value="@paymentRecommendation.ExpenseTypeId" />
                                </td>

                                <td width="10%"><input type="text" name="PaymentRecommendation[@i].Amount" value="@string.Format("{0:0.00}", paymentRecommendation.Amount)" style="width:80px" /></td>
                                <td width="15%"><input type="text" name="PaymentRecommendation[@i].Payee" value="@paymentRecommendation.Payee" /></td>
                                <td width="5%">
                                    <input type="text" name="PaymentRecommendation[@i].RequestDate" value='@string.Format("{0:MM/dd/yyyy}", paymentRecommendation.RequestDate)' class="DatePickerTextBox" style="width:80px" />
                                </td>
                                <td width="10%"><input type="text" name="PaymentRecommendation[@i].Memo" value="@paymentRecommendation.Memo" /></td>
                                <td width="10%"><input type="text" name="PaymentRecommendation[@i].CheckNumber" value="@paymentRecommendation.CheckNumber" style="width:80px"  /></td>
                                <td width="5%">
                                    <input type="text" name="PaymentRecommendation[@i].IssueDate" value='@string.Format("{0:MM/dd/yyyy}", paymentRecommendation.IssueDate)' class="DatePickerTextBox" style="width:80px" />
                                </td>
                                <td width="5%">
                                    <img id="@("imgCoverageDeleteRow" + i)" onclick="deleteRow('tblPaymentRecommendation')" style="@(i == (Model.listPaymentRecommendation.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                </td>
                            </tr>
                                                }
                                            }

                </table>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>
                    <a onclick="addPaymentRecommendationRow('tblPaymentRecommendation')" style="border: none; color: black; cursor: pointer;">
                        <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                        Add Row
                    </a> &nbsp;
                    <input type="submit" id="btnHiddenPaymentRecommendation" style="display:none;" />
                    <input type="button" id="btnSavePaymentRecommendation" value="Save" class="buttonYellow_100" />
                </b>
            </td>
        </tr>
    </table>

    <input id="hdnPayrollRecommendationsRowCount" name="hdnPayrollRecommendationsRowCount" type="hidden" value="@(Model.listPaymentRecommendation.Count == 0 ? "1" : Model.listPaymentRecommendation.Count + "")" />
    <input id="hdnClaimId" name="hdnClaimId" type="hidden" value="@Model.ClaimId" />
                                            }
