﻿@model BLL.ViewModels.ClaimFianancialViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}


<script>
    $(document).ready(function () {
        ClaimFinancialDetails("ClaimFinancialSummaryDetails?ClaimId=@Model.ClaimId", 1);
    });

    function ClaimFinancialDetails(url, tabId) {
        //showHideLoading(true);
        $("#SubdivLoading").css('display', 'block');

        $("#divResult").empty();
        $.ajaxSetup({ cache: false });
        $.get(
        url,
        function (myData) {
            $("#divResult").html(myData);
            $("#SubdivLoading").css('display', 'none');
        });

        showTab(tabId);
    }

    //function ClaimFinancialSummaryDetails(url, tabId) {
    //    showHideLoading(true);
    //    $("#divResult").empty();
    //    $.ajaxSetup({ cache: false });
    //    $.get(
    //    url,
    //    function (myData) {
    //        $("#divResult").html(myData);
    //    });

    //    showTab(tabId);
    //}

    //function ClaimFinancialReservesDetails(url, tabId) {
    //    showHideLoading(true);

    //    $("#divResult").empty();
    //    $.ajaxSetup({ cache: false });
    //    $.get(
    //    url,
    //    function (myData) {
    //        $("#divResult").html(myData);
    //    });

    //    showTab(tabId);
    //}

    //function ClaimFinancialPaymentRecommendationsDetails(url, tabId) {
    //    showHideLoading(true);

    //    $("#divResult").empty();
    //    $.ajaxSetup({ cache: false });
    //    $.get(
    //    url,
    //    function (myData) {
    //        $("#divResult").html(myData);
    //    });

    //    showTab(tabId);
    //}

    //function ClaimFinancialRecoveriesDetails(url, tabId) {
    //    showHideLoading(true);

    //    $("#divResult").empty();
    //    $.ajaxSetup({ cache: false });
    //    $.get(
    //    url,
    //    function (myData) {
    //        $("#divResult").html(myData);
    //    });

    //    showTab(tabId);
    //}

    function showTab(tabId) {
        $('#tdTextSummary, #tdTextReserves, #tdTextPaymentRecommendations, #tdTextRecoveries').css({ "backgroundColor": "LightGray", "border-bottom": "solid", "border-width": "1px" });
        switch(tabId){
            case 1:
                $('#divResult').css('dispaly','block');
                $('#tabSummary').css("display", "block");
                $('#tdTextSummary').css("backgroundColor", "White");
                $('#tdTextSummary').css('border-bottom', 'None');
                break;
            case 2:
                $('#divResult').css('dispaly','block');
                $('#tabReserves').css("display", "block");
                $('#tdTextReserves').css("backgroundColor", "White");
                $('#tdTextReserves').css('border-bottom', 'None');
                break;
            case 3:
                $('#divResult').css('dispaly','block');
                $('#tabPaymentRecommendations').css("display", "block");
                $('#tdTextPaymentRecommendations').css("backgroundColor", "White");
                $('#tdTextPaymentRecommendations').css('border-bottom', 'None');
                break;
            case 4:
                $('#divResult').css('dispaly','block');
                $('#tabRecoveries').css("display", "block");
                $('#tdTextRecoveries').css("backgroundColor", "White");
                $('#tdTextRecoveries').css('border-bottom', 'None');
                break;
        }
        showHideLoading(false);
    }

    function showHideLoading(IsOn) {
        if (IsOn) {
            $('#divLoading').css('display', 'block');
        }
        else {
            $('#divLoading').css('display', 'none');
        }
    }
</script>


@Html.Hidden("ClaimId", Model.ClaimId)

<table align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
        <td align="right" valign="baseline" class="boxBlurTopLeft"></td>
        <td class="boxBlurTopMiddle"></td>
        <td align="left" valign="baseline" class="boxBlurTopRight"></td>
    </tr>
    <tr>
        <td class="boxBlurLeftMiddle" valign="bottom">
            &nbsp;
            <img src="@Url.Content("~/Content/Images/BoxBlurLeftMiddle01.jpg")" />

        </td>
        <td width="100%">
            <table cellpadding="3" cellspacing="0" style="height: 30px; border-bottom-style: none; border-left-style: solid; border-right-style: solid; border-width: 1px; border-color: #999999"
                   width="100%">
                <tr>
                    <td id="tdTextSummary" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                        <a href="#" onclick="ClaimFinancialDetails('@Url.Action("ClaimFinancialSummaryDetails", new { ClaimId = @Model.ClaimId })','1')" style="text-decoration: none; color: Black;"><b>Summary</b></a>
                    </td>
                    <td id="tdTabSpace1" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                    <td id="tdTextReserves" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                        <a href="#" style="text-decoration: none; color: Black;" onclick="ClaimFinancialDetails('@Url.Action("ClaimFinancialReservesDetails", new { ClaimId = @Model.ClaimId, CoverageTypeId = @Model.CoverageTypeId, TransactionTypeId = @Model.TransactionTypeId, ReserveTypeId = @Model.ReserveTypeId, StartDate = @Model.StartDate, EndDate = @Model.EndDate })','2')">
                            <b>Reserves</b>
                        </a>
                    </td>
                    <td id="tdTabSpace2" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                    <td id="tdTextPaymentRecommendations" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                        <a style="text-decoration: none; color: Black;" href="#" onclick="ClaimFinancialDetails('@Url.Action("ClaimFinancialPaymentRecommendationsDetails", new { ClaimId = @Model.ClaimId })','3')"><b>Payments</b></a>
                    </td>
                    <td id="tdTabSpace3" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                    <td id="tdTextRecoveries" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                        <a style="text-decoration: none; color: Black;" href="#" onclick="ClaimFinancialDetails('@Url.Action("ClaimFinancialRecoveriesDetails", new { ClaimId = @Model.ClaimId })','4')"><b>Recoveries</b></a>
                    </td>
                </tr>
            </table>

            <div style="border-left-style: solid; border-bottom-style: solid; border-right-style: solid; border-width: 1px; border-color: #999999;width:100%; height:50%;">
                <div id="SubdivLoading" style="display:none">
                    <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                </div>
                <div id="divResult" style="width:100%;overflow-x:scroll">
                </div>
            </div>

        </td>
        <td class="boxBlurRightMiddle">
            <img src="@Url.Content("~/Content/Images/BoxBlurRightMiddle01.jpg")" />
        </td>
    </tr>
    <tr>
        <td align="right" valign="top" class="boxBlurBottomLeft"></td>
        <td class="boxBlurBottomMiddle">
            &nbsp;
        </td>
        <td align="left" valign="top" class="boxBlurBottomRight"></td>
    </tr>
</table>