﻿@model BLL.ViewModels.ClaimContactViewModel
<table>
    <tr>
        <td>Contact Type</td>
        <td>@Html.TextBoxFor(model => model.ClaimContact.ContactType, new { @id="txtClaimContactType" })</td>
    </tr>
    <tr>
        <td>Contact Name</td>
        <td>@Html.TextBoxFor(model=>model.ClaimContact.ContactName, new { @id="txtClaimContactName" })</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Html.TextBoxFor(model=>model.ClaimContact.ContactEmail, new { @id="txtClaimContactEmail" })</td>
    </tr>
</table>