﻿@model BLL.ViewModels.ClaimFianancialViewModel

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<script>

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"

        });
        showTab(2);
    });

    function SearchClaimsReserves(ClaimId) {
        debugger;
        var Coveragetype = $("#ddlCoverageType").val();
        var TransactionType = $("#ddlTransactionType").val();
        var ReserveType = $("#ddlReserveType").val();
        var startdate = $("#txtStartDate").val();
        var enddate  = $("#txtEndDate").val();

        ClaimFinancialDetails("ClaimFinancialReservesDetails?ClaimId=" +@Model.ClaimId +"&CoverageTypeId=" + Coveragetype + "&TransactionTypeId=" + TransactionType + "&ReserveTypeId=" + ReserveType + "&StartDate=" + startdate + "&EndDate=" + enddate, 2);
    }


</script>
<table style="padding-top:10px;width:100%">
    <tr>
        <td>
            <table style="padding-top:10px;width:100%">
                <tr>
                    <td>
                        Coverage Type:
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CoverageTypeId, Model.listCoverageTypes, new { @id = "ddlCoverageType", @style = "width:120px;" })
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        Transaction Type:
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.TransactionTypeId, Model.TransactionTypes, new { @id = "ddlTransactionType", @style = "width:120px;" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Reserve Type:
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.ReserveTypeId, Model.ReserveTypes, new { @id = "ddlReserveType", @style = "width:120px;" })
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        Transaction Start Date:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.StartDate, Model.StartDate.Value.ToString("MM/dd/yyyy"), new { @Id = "txtStartDate", @class = "DatePickerTextBox", @style = "width:120px;" })
                    </td>
                    <td>
                        End Date:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.EndDate, Model.EndDate.Value.ToString("MM/dd/yyyy"), new { @Id = "txtEndDate", @class = "DatePickerTextBox", @style = "width:120px;" })
                    </td>
                    <td colspan="7" align="right">
                        @*<input type="button" value="Search" class="buttonLightYellow_100" onclick="ClaimFinancialDetails('@Url.Action("ClaimFinancialReservesDetails", new { ClaimId = @Model.ClaimId, CoverageTypeId = @Model.CoverageTypeId, TransactionTypeId = @Model.TransactionTypeId, ReserveTypeId = @Model.ReserveTypeId, StartDate = @Model.StartDate, EndDate = @Model.EndDate})','2')" />*@
                        <input type="button" value="Filter" class="buttonLightYellow_100" onclick="SearchClaimsReserves('@Model.ClaimId')" />
                    </td>
                </tr>
                <tr></tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="content">

            <table style="padding-top:10px;" cellpadding=" 3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td>
                            Coverage Type
                        </td>
                        <td>
                            Reserve Type
                        </td>
                        <td>
                            Transaction Type
                        </td>
                        <td align="center">
                            Transaction Date
                        </td>
                        <td align="right" width="200px">
                            Indemnity Reserve ($)
                        </td>
                        <td align="right" width="200px">
                            Adjusting Expense Reserve ($)
                        </td>
                        <td align="right" width="200px">
                            Legal Expense Reserve ($)
                        </td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.listReserves != null)
                    {
                        foreach (var coverage in Model.listReserves)
                        {


                            <tr class="@(i % 2 == 0 ? "tableRowAlternate" : "tableRow")" style="font-weight:100">
                                <td>
                                    @coverage.CoverageType
                                </td>
                                <td>
                                    @coverage.ReserveType
                                </td>
                                <td>
                                    @coverage.TransactionType
                                </td>
                                <td align="center">
                                    @coverage.TransactionDate.Value.ToString("MM/dd/yyyy HH:mm:ss")
                                </td>
                                <td align="right">
                                    @if (coverage.ReserveTypeId == 1)
                                    {
                                        @coverage.ReserveAmount.Value.ToString("0.00");
                                    }
                                    else
                                    {
                                        @(0.ToString("0.00"));
                                    }
                                </td>
                                <td align="right">
                                    @if (coverage.ReserveTypeId == 2)
                                    {
                                        @coverage.ReserveAmount.Value.ToString("0.00");
                                    }
                                    else
                                    {
                                        @(0.ToString("0.00"));
                                    }
                                </td>
                                <td align="right">
                                    @if (coverage.ReserveTypeId == 3)
                                    {
                                        @coverage.ReserveAmount.Value.ToString("0.00");
                                    }
                                    else
                                    {
                                        @(0.ToString("0.00"));
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
                <tr>
                    <td colspan="4">
                        <b>Current Reserves</b>
                    </td>
                    <td align="right"><b>@(Convert.ToDouble(Model.ReservesTotals.GrossIndemnityReserveTotal).ToString("0.00"))</b></td>
                    <td align="right"><b>@(Convert.ToDouble(Model.ReservesTotals.GrossExpenseReserveTotal).ToString("0.00"))</b></td>
                    <td align="right"><b>@(Convert.ToDouble(Model.ReservesTotals.GrossLegalExpenseReserveTotal).ToString("0.00"))</b></td>
                </tr>

            </table>

        </td>
    </tr>

</table>