﻿@model BLL.ViewModels.ClaimsSearchViewModel
<table class="style1">
        <tr>
            <td>
                Claim Number</td>
            <td>
                @Html.TextBoxFor(model => model.ClaimNumber)</td>
            <td>
                Policy Number</td>
            <td>
                @Html.TextBoxFor(model => model.PolicyNumber)</td>
            <td>
                Insured Name</td>
            <td>
                @Html.TextBoxFor(model => model.InsuredName)</td>
        </tr>
        <tr>
            <td >
                Assignment Date From</td>
            <td>
                @Html.TextBoxFor(model => model.AssignmentDateFrom, new { @class="DatePickerTextBox" })</td>
            <td>
                Assignment Date To</td>
            <td>
                @Html.TextBoxFor(model => model.AssignmentDateTo, new { @class="DatePickerTextBox" })</td>
            <td>
                Status</td>
            <td>
                @Html.DropDownListFor(model => model.Status,Model.StatusList, new { @style="width:160px;" })
            </td>
        </tr>
        <tr>
            <td>
                Outside Damage Assessor</td>
            <td>
                @Html.TextBoxFor(model => model.OutsideAdjuster)</td>
            <td>
                IA Point of Contact</td>
            <td>
                @Html.TextBoxFor(model => model.CSSPointOfContact)</td>
            <td>
                QA Agent</td>
            <td>
                @Html.TextBoxFor(model => model.QAAgent)</td>
        </tr>
        <tr>
            <td>
                Loss State</td>
            <td>
                @Html.DropDownListFor(model => model.LossState, Model.StateList, new { @style="width:160px;" })</td>
            <td>
                Service Offering</td>
            <td>
                @Html.TextBoxFor(model => model.ServiceOffering)</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>