﻿@model BLL.ViewModels.AssignmentJobsViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@*<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>*@
<!--    Styles for File status update-->
<style type="text/css">
    #backgroundAssignmentManageStatusPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #backgroundAssignmentApproveStatusPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #backgroundAssignmentRejectStatusPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #bgTimestampUpdatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #backgroundPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 870px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .TimestampUpdatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .EditPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 800px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
    #bgAssignCSSPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .AssignCSSPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>


<style type="text/css">
    .backgroundPopupNewCatCode {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupNewCatCode {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 250px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }



</style>
<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>
<script type="text/javascript">
    $(function () {

        @*$(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"

    });*@


    });

    function GetLineOfBussinessList() {
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        $("#imgLOBListLoading").show();
        $('#ddlLineOfBussiness').empty();
        $('#ddlLineOfBussiness').append($('<option/>').attr('value', "0").text("--Select--"));
        $.getJSON('@Url.Action("GetLineOfBussinessList")',
                   { companyId: selectedCategoryId },
                   function (subcategories) {
                       var subsSelect = $('#ddlLineOfBussiness');
                       $('#ddlLineOfBussiness').empty();
                       $.each(subcategories, function (index, subcat) {
                           subsSelect.append(
                               $('<option/>')
                                   .attr('value', subcat.Value)
                                   .text(subcat.Text)
                           );
                       });
                       $("#imgLOBListLoading").hide();
                   });
    }

    function populateClientPOCDLL(SelectClientPOCFromList) {
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        $("#imgClientPOCListLoading").show();
        $('#ddlLineOfBussiness').empty();
        $('#ddlLineOfBussiness').append($('<option/>').attr('value', "0").text("--Select--"));
        $.getJSON('@Url.Action("GetClientPointOfContactList")',
                { companyId: selectedCategoryId },
                function (subcategories) {
                    var subsSelect = $('#ddlClientPointOfContact');
                    subsSelect.empty();
                    $.each(subcategories, function (index, subcat) {
                        subsSelect.append(
                            $('<option/>')
                                .attr('value', subcat.Value)
                                .text(subcat.Text)
                        );
                    });

                    try {
                        $('#ddlClientPointOfContact').val(SelectClientPOCFromList);
                    }
                    catch (e) {

                    }
                    $("#imgClientPOCListLoading").hide();
                });
    }

    $(function () {
        $('#ddlInsuranceCompany').change(function () {
            populateClientPOCDLL('0');
            GetLineOfBussinessList();
        });

    });

    $(function () {
        $('#txtClaimNumber').blur(function () {
            var claimNumber = $(this).val();
            $.getJSON('@Url.Action("checkClaimID")',
            { ClaimNumber: claimNumber },
            function (result) {
                if (result > 0) {
                    alert('Warning: This Claim Number already exists');
                    //$('#txtClaimNumber').val('');
                    return false;
                }
            });
        });
    });


    function loadPopupNewCatCode() {


        var popupStatus = 0;

        if (popupStatus == 0) {
            //disablePopupNewDiaryItem();
            centerPopupNewCatCode();
            $("#backgroundPopupNewCatCode").css({
                "opacity": "0.7"
            });

            $("#backgroundPopupNewCatCode").fadeIn("slow");
            $("#NewCatCode").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disablePopupNewCatCode() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupNewCatCode").fadeOut("slow");
            $("#NewCatCode").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewCatCode() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#NewCatCode").height();
        var popupWidth = $("#NewCatCode").width();
        //centering
        $("#NewCatCode").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupNewCatCode").css({
            "height": windowHeight
        });
        return false;
    }

    function createNewClaimContact() {

        var txtCatCode = $('#txtCatCode').val();
        var txtcatCodeDescription = $("#txtcatCodeDescription").val();

        var isValid = true;
        var isValidErrorMsg = '';

        if (txtCatCode.length == 0) {
            isValid = false;
            isValidErrorMsg += "Cat Code is required.<br/>";
        }

        if (txtcatCodeDescription.length == 0) {
            isValid = false;
            isValidErrorMsg += "Description is required.<br/>";
        }

        if (isValid) {
            $("#imgProcessingNewCatCodeSubmit").show();


            $.getJSON('@Url.Content("~/PropertyAssignment/AddCatCode")',
           {
               catcode: txtCatCode, Description: txtcatCodeDescription
           },
            function (data) {
                if (data == 1) {
                    disablePopupNewCatCode();
                    populateCatCodesDDL(txtCatCode);
                }
                else if (data == 2) {
                    //CatCode Already Exists
                    $("#imgProcessingNewCatCodeSubmit").hide();
                    document.getElementById("divCatCodeError").innerHTML = "Cat Code already exists.";
                }
            });
        }
        else {
            document.getElementById("divCatCodeError").innerHTML = isValidErrorMsg;
        }

    }
    function createNewClientPOC() {

        var hdnHeadCompanyId = $('#hdnHeadCompanyId').val();
        var txtFirstName = $('#txtFirstName').val();
        var txtMiddleInitial = $('#txtMiddleInitial').val();
        var txtLastName = $("#txtLastName").val();
        var txtEmail = $("#txtEmail").val();

        var isValid = true;
        var isValidErrorMsg = '';

        if (txtFirstName.length == 0) {
            isValid = false;
            isValidErrorMsg += "First Name is required.<br/>";
        }

        if (txtLastName.length == 0) {
            isValid = false;
            isValidErrorMsg += "Last Name is required.<br/>";
        }

        if (txtEmail.length == 0) {
            isValid = false;
            isValidErrorMsg += "Email Address is required.<br/>";
        }


        if (isValid) {
            $("#imgProcessingNewClientPOCSubmit").show();


            $.getJSON('@Url.Content("~/PropertyAssignment/AddClientPOC")',
          {
              headCompanyId: hdnHeadCompanyId, firstName: txtFirstName, middleInitial: txtMiddleInitial, lastName: txtLastName, email: txtEmail
          },
           function (data) {
               if (data > 0) {
                   $("#imgProcessingNewClientPOCSubmit").hide();
                   disablePopupNewClientPOC();
                   populateClientPOCDLL(data);
               }
               else if (data == -2) {
                   //User Name Already Exists
                   $("#imgProcessingNewClientPOCSubmit").hide();
                   document.getElementById("divClientPOCError").innerHTML = "User Name already exists.";
               }
               //else if (data == -3) {
               //    //Email Already Exists
               //    $("#imgProcessingNewClientPOCSubmit").hide();
               //    document.getElementById("divClientPOCError").innerHTML = "Email already exists.";
               //}
           });
        }
        else {
            document.getElementById("divClientPOCError").innerHTML = isValidErrorMsg;
        }

    }
    function populateCatCodesDDL(SelectCatCodeFromList) {
        $(function () {


            $.getJSON('@Url.Action("GetCatCodesList")',
                    function (subcategories) {
                        var subsSelect = $('#ddlCatCodesList');
                        subsSelect.empty();
                        $.each(subcategories, function (index, subcat) {
                            subsSelect.append(
                                $('<option/>')
                                    .attr('value', subcat.Value)
                                    .text(subcat.Text)
                            );

                        });
                        //alert('External Participants List Loaded.');
                        $("#ddlCatCodesList").val(SelectCatCodeFromList);
                    });

        });

    }
    function populateCSSPOCDDL(SelectCSSPOCFromList) {
        $(function () {


            $.getJSON('@Url.Action("GetCSSPOCList")',
            function (subcategories) {
                var subsSelect = $('#ddlCSSPOC');
                subsSelect.empty();
                $.each(subcategories, function (index, subcat) {
                    subsSelect.append(
                        $('<option/>')
                            .attr('value', subcat.Value)
                            .text(subcat.Text)
                    );

                });
                //alert('External Participants List Loaded.');
                $("#ddlCSSPOC").val(SelectCSSPOCFromList);
            });

        });

    }
    $(function () {

        $("#txtAttorneyPhone").mask('(999)999-9999');
        $("#txtPublicAdjusterPhone").mask('(999)999-9999');

    });

    $(document).ready(function () {

        //if($('#hdnLOBType').val()=="CN")
        //{
        //    //  $('#ddlLineOfBussiness').val(0);
        //    alert("Line of Business must be changed to valid selection");
        //}
        //$("#txtAttorneyPhone").mask("(999) 999-9999");

    });

</script>

<!--Scripts for File Status Update-->
<script type="text/javascript">
    function btnTimestampUpdate_Submit() {
        $('#imgTimestampUpdateProcessing').show();
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("AssigTimestampUpdate", "PropertyAssignment")',
                data: { claimId: '@Model.Claim.ClaimId', assignmentId: '@Model.propertyassignment.AssignmentId', updateFieldCode: $('#hdnUpdateFieldCode').val(), note: $('#txtTimestampUpdateNote').val() },
                success: function (data) {
                    if (data == '1') {
                        $('#imgTimestampUpdateProcessing').hide();
                        AssignmentDetailsBasicUpdate();
                    }
                    else {
                        //alert(data);
                    }
                }
            });
    }
    function btnPISubmit_Click() {
        debugger;
        $('#btnPISubmit').attr('disabled', 'disabled');
        $('#divPISubmitProcessing').show();
        UnformatField('Details');
        //UnformatField('ServiceDetail'); pratik commented 11/22/2016
    }
    function loadManageStatusForEstimateApproved(newStatusId, pClaimId) {
        debugger;
        if ('@Model.propertyassignment.CSSQAAgentUserId.HasValue' == 'True') {
            //commented for avoiding validation
            @*$.post("@Url.Content("~/PropertyAssignment/IsCoverageReserveOrExpenseAvailable")",
        { claimId: pClaimId },
        function (data) {
            if (data == 1) {
                loadAssignmentApproveStatusPopup(newStatusId);
            }
            else {
                alert('Kindly add Coverage Reserve and Expense Reserve Amounts before changing the status.');
            }

        });*@
            loadAssignmentApproveStatusPopup(newStatusId);
        }
        else {
            alert('Kindly assign a QA Agent before changing the status.');
        }

    }

    function updatefilestatus(assignmentid) {
        debugger;

        var FileStatus = $('#ddlFileStatus').val();
        var ServiceTypeId = $('#ddlServiceType').val();

        if(FileStatus == 45 || FileStatus == 46)
        {
            var QAAgent = @Model.propertyassignment.CSSQAAgentUserId;
            if(QAAgent == null || QAAgent == 0)
            {
                alert("Please assign QA Agent to assignment before changing this status.");
                return false;
            }
        }

        $("#trRetainSP").hide();//required when a file is being reopened.
        if (FileStatus > 0) {
            $.post("@Url.Content("~/PropertyAssignment/IsInvoiceTrigger")",
        { FileStatus: FileStatus, ServiceTypeId: ServiceTypeId },
        function (data) {
         
            //if (data == 1) {
            if (FileStatus == 7) {
                @*loadManageStatusForEstimateApproved(FileStatus, '@Model.Claim.ClaimId');*@
                if ('@Model.propertyassignment.FileStatus' == 19) {
                    alert('Can not Changed to Approved Status as Assignment is already been Invoiced !!');
                    location.reload();
                }
                else {

                    loadManageStatusForEstimateApproved(FileStatus, '@Model.Claim.ClaimId');
                }
                //loadManageStatusForEstimateApproved(FileStatus, '@Model.Claim.ClaimId');
            }
            else if (FileStatus == 11) {
                //Display Retain SP option only if the current Assignment has been assigned to an SP
                @if (Model.propertyassignment.OAUserID.HasValue)
                {
                    @:$("#trRetainSP").show();
                                                                                }
                loadAssignmentManageStatusPopup(FileStatus);
            }
            else if (FileStatus == 20) {      //VEN-115
                $('.trExamnrRankRadioList').css('display', '');
                loadAssignmentManageStatusPopup(FileStatus);
            }
            else {
                loadAssignmentManageStatusPopup(FileStatus);
            }

        });



        }
    }

    function IsInvoiceTrigger(newStatusId) {
        var ServiceTypeId = $('#ddlServiceType').val();

        $.post("@Url.Content("~/PropertyAssignment/IsInvoiceTrigger")",
    { FileStatus: newStatusId, ServiceTypeId: ServiceTypeId },
    function (data) {
        if (data == 1) {
            return true;
        }
        else {
            return false;
        }

    });


    }

    function disableDetailsBasicPopup() {
        disableAssignmentManageStatusPopup();
    }
    function disableDetailsBasicPopup1() {
        disableAssignmentManageStatusPopup1();
    }

    function disableDetailsBasicPopup2() {
        disableAssignmentManageStatusPopup2();
    }
    function loadAssignmentManageStatusPopup(newStatusId) {
        //element = document.getElementById('trrankradiolist');

        //if (newStatusId == '7') {


        //    element.style.display='table-row'
        // //   $('#trrankradiolist').fadeIn('slow');


        //}
        //else {
        //    element.style.display = 'none';

        //}




        document.getElementById('statusId').value = newStatusId;
        centerAssignmentManageStatusPopup();
        $("#backgroundAssignmentManageStatusPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundAssignmentManageStatusPopup").fadeIn("slow");
        $("#divAssignmentManageStatus").fadeIn("slow");

    }
    function loadAssignmentRejectStatusPopup(newStatusId) {

        document.getElementById('statusId').value = newStatusId;

        document.getElementById('statusId2').value = newStatusId;
        centerAssignmentRejectStatusPopup();
        $("#backgroundAssignmentRejectStatusPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundAssignmentRejectStatusPopup").fadeIn("slow");
        $("#divAssignmentRejectStatus").fadeIn("slow");

    }
    function loadAssignmentApproveStatusPopup(newStatusId) {


        document.getElementById('statusId1').value = newStatusId;
        document.getElementById('statusId').value = newStatusId;
        centerAssignmentApproveStatusPopup();
        $("#backgroundAssignmentApproveStatusPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundAssignmentApproveStatusPopup").fadeIn("slow");
        $("#divApproveAssignmentStatus").fadeIn("slow");

    }
    function disableAssignmentManageStatusPopup() {

        $("#backgroundAssignmentManageStatusPopup").fadeOut("slow");
        $("#divAssignmentManageStatus").fadeOut("slow");
        $('#statusChangeNote').val('');
    }
    function disableAssignmentManageStatusPopup1() {
        debugger;
        $("#backgroundAssignmentApproveStatusPopup").fadeOut("slow");
        $("#divApproveAssignmentStatus").fadeOut("slow");
        // $('#statusChangeapproveNote').val('');
    }

    function disableAssignmentManageStatusPopup2() {

        $("#backgroundAssignmentRejectStatusPopup").fadeOut("slow");
        $("#divAssignmentRejectStatus").fadeOut("slow");
        // $('#statusChangeapproveNote').val('');
    }
    function centerAssignmentManageStatusPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignmentManageStatus").height();
        var popupWidth = $("#divAssignmentManageStatus").width();
        //centering
        $("#divAssignmentManageStatus").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#backgroundAssignmentManageStatusPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function centerAssignmentApproveStatusPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divApproveAssignmentStatus").height();
        var popupWidth = $("#divApproveAssignmentStatus").width();
        //centering
        $("#divApproveAssignmentStatus").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#backgroundAssignmentApproveStatusPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function centerAssignmentRejectStatusPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignmentRejectStatus").height();
        var popupWidth = $("#divAssignmentRejectStatus").width();
        //centering
        $("#divAssignmentRejectStatus").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#backgroundAssignmentRejectStatusPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function loadAssignmentStatusPropertyInvoicePopup() {
        RCVDetail();
        centerPropertyInvoicePopup();
        $('#backgroundPropertyInvoicePopup').css({
            "opacity": "0.7"
        });
        $('#backgroundPropertyInvoicePopup').fadeIn("slow");
        $('#divPropertyInvoicePopup').fadeIn("slow");
    }
    function disablePropertyInvoicePopup() {

        $('#backgroundPropertyInvoicePopup').fadeOut("slow");
        $('#divPropertyInvoicePopup').fadeOut("slow");
        AssignmentDetailsBasicUpdate();
    }
    function centerPropertyInvoicePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divPropertyInvoicePopup').height();
        var popupWidth = $('#divPropertyInvoicePopup').width();
        //centering
        $('#divPropertyInvoicePopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $('#backgroundPropertyInvoicePopup').css({
            "height": windowHeight
        });
        return false;
    }

    function loadTimestampUpdatePopup(UpdateFieldCode) {
        $('#hdnUpdateFieldCode').val(UpdateFieldCode);
        centerTimestampUpdatePopup();
        $('#bgTimestampUpdatePopup').css({
            "opacity": "0.7"
        });
        $('#bgTimestampUpdatePopup').fadeIn("slow");
        $('#divTimestampUpdatePopup').fadeIn("slow");
    }
    function disableTimestampUpdatePopup() {

        $('#bgTimestampUpdatePopup').fadeOut("slow");
        $('#divTimestampUpdatePopup').fadeOut("slow");
        AssignmentDetailsBasicUpdate();
    }
    function centerTimestampUpdatePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divTimestampUpdatePopup').height();
        var popupWidth = $('#divTimestampUpdatePopup').width();
        //centering
        $('#divTimestampUpdatePopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $('#backgroundPropertyInvoicePopup').css({
            "height": windowHeight
        });
        return false;
    }
    function RCVDetail() {
        $('#divPropertyInvoiceDetails').empty();
        $("#imgProcessingPropertyInvoicedetails").show();
        $.post('@Url.Content("~/PropertyAssignmentInvoice/Details")',
                   {
                       assignmentid: '@Model.propertyassignment.AssignmentId', fileOpenMode: 'Edit', invoiceId: '-1'
                   },
                     function (data) {
                         debugger;
                         $('#divPropertyInvoiceDetails').append(data);
                         $("#imgProcessingPropertyInvoicedetails").hide();
                     });

    }
    function ClaimInfoPageRefresh() {
        location.reload();
    }

    function AssignmentDetailsBasicUpdate() {
        debugger;
        $.get('@Url.Content("~/PropertyAssignment/GetReferalDetails")',
                               {
                                   claimid: '@Model.Claim.ClaimId',
                                   Jobid: '@Model.AssignmentJob.JobId',
                                   IsView: true,
                                   ServiceId: '@Model.AssignmentJob.ServiceId'
                               },
                                 function (data) {
                                     //$('#divDetails').empty().append(data);
                                     location.reload();
                                 });
    }
    function setAssignmentStatus() {
        //make use of .ajax and set it as sync
        var retainSP = $("#cbRetainSP").is(":checked");
        
        var SPRank = 0;
        if ($('#statusId').val() == 20) {
            SPRank = $('input:radio[name=rdExaminerRank]:checked').val();
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PropertyAssignment/AssignmentStatusUpdate")',
            data: { assignmentid: '@Model.propertyassignment.AssignmentId', claimid: '@Model.Claim.ClaimId', statusid: $('#statusId').val(), statusChangeNote: $('#statusChangeNote').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: 'true' },
            success: function (data) {
                disableAssignmentManageStatusPopup();
                $('#statusChangeNote').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });

    }
    function setAssignmentApproveStatus() {
        //make use of .ajax and set it as sync


        debugger;
        var retainSP = $("#cbRetainSP1").is(":checked");

        var SPRank = $('input:radio[name=examinerRank]:checked').val();
        //  var RejectionMark = $('input:radio[name=RejectionMark]:checked').val();
        //alert($('#statusChangeapproveNote').val());
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PropertyAssignment/AssignmentStatusUpdate")',
            data: { assignmentid: '@Model.propertyassignment.AssignmentId', claimid: '@Model.Claim.ClaimId', statusid: $('#statusId1').val(), statusChangeNote: $('#statusChangeapproveNote').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: 'true' },
            success: function (data) {
                debugger;
                disableAssignmentManageStatusPopup1();
                $('#statusChangeapproveNote').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });

    }
    function setAssignmentRejectStatus() {
        //make use of .ajax and set it as sync


        debugger;
        var retainSP = $("#cbRetainSP2").is(":checked");

        var SPRank = $('input:radio[name=examinerRank]:checked').val();

        var RejectionMark = $('input:radio[name=RejectionMark]:checked').val();
        //alert($('#statusChangeapproveNote').val());
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PropertyAssignment/AssignmentStatusUpdate")',
            data: { assignmentid: '@Model.propertyassignment.AssignmentId', claimid: '@Model.Claim.ClaimId', statusid: $('#statusId2').val(), statusChangeNote: $('#statusChangeapproveNote2').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: RejectionMark },
            success: function (data) {
                disableAssignmentManageStatusPopup2();
                $('#statusChangeNote2').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });

    }
    function SubmitAssignmentStatus() {
        debugger;
        $("#btnUpdateStatus").hide();
        var FileStatus = $('#ddlFileStatus').val();
        var ServiceTypeId = $('#ddlServiceType').val();
        $.post("@Url.Content("~/PropertyAssignment/IsInvoiceTrigger")",
    { FileStatus: FileStatus, ServiceTypeId: ServiceTypeId },
    function (data) {
        if (FileStatus == 7) {
            disableAssignmentManageStatusPopup1();
            //if an invoice already exists prompt the user
            if ('@Model.PropertyInvoiceList.Count' != '0') {
                //if (confirm('An Invoice already exists. Do you want to create a supplement Invoice?') == true) {
                //    loadAssignmentStatusPropertyInvoicePopup();
                //}
                //else {
                //    setAssignmentApproveStatus();
                //    //AssignmentDetailsBasicUpdate();
                //}
                loadAssignConfirmationPopup();
            }
            else {
                loadAssignmentStatusPropertyInvoicePopup();
            }
        }
        else if ($('#statusId').val() == 8) {
            setAssignmentRejectStatus();
            //AssignmentDetailsBasicUpdate();
        }
        else {
            setAssignmentStatus();
            //AssignmentDetailsBasicUpdate();
        }
    });


    }
    function updateCANCompanyId(AssignmentID) {
        $("#imgProcessingCANCompanyId").show();
        $.post('@Url.Content("~/PropertyAssignment/BulkAssignCANCompanyPOC")',
          { assignmentIds: AssignmentID, CSSCANCompanyUserId: $('#ddlCANCompanyId').val() },
          function (data) {
              if (data > 0) {

                  //$('#txtPolicynumber').val('');
                  $("#imgProcessingCANCompanyId").hide();
              }
              else { $("#imgProcessingCANCompanyId").hide(); }
          });
    }

    function btnYesConfirm_Click() {
        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
        loadAssignmentStatusPropertyInvoicePopup();
    }
    function btnNoConfirm_Click() {

        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
        setAssignmentApproveStatus();
        AssignmentDetailsBasicUpdate();
    }
    function btnCancelConfirm_Click() {
        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
    }
    function disableAssignCSSPOCPopup() {

        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
    }
    function loadAssignConfirmationPopup() {

        centerAssignCSSPOCPopup();
        $("#bgAssignCSSPOC").css({
            "opacity": "0.7"
        });
        $("#bgAssignCSSPOC").fadeIn("slow");
        $("#divAssignCSSPOCPopup").fadeIn("slow");

    }
    function centerAssignCSSPOCPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignCSSPOCPopup").height();
        var popupWidth = $("#divAssignCSSPOCPopup").width();
        //centering
        $("#divAssignCSSPOCPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#bgAssignCSSPOC").css({
            "height": windowHeight
        });
        return false;
    }
</script>

<table width="100%" style="font-size:11px;">
    <tr>
        <td colspan="6" class="subHeading">Claim Information</td>
        <td align="right"><input type="hidden" name="hdnLOBType" value="@Model.LOBType" id="hdnLOBType" /></td>
    </tr>
    @*<tr>

            <td width="20%">Insurance Company
            </td>
            <td width="25%">
                @{

                    string companyName = "";
                    if (loggedInUser.UserTypeId != 2)
                    {
                        BLL.Company company = null;
                        if (Model.Claim != null)
                        {
                            if (Model.Claim.HeadCompanyId.HasValue)
                            {
                                company = css.Companies.Find(Model.Claim.HeadCompanyId);
                                if (company != null)
                                {
                                    companyName = company.CompanyName;
                                }
                            }
                        }
                    @Html.HiddenFor(model => model.Claim.HeadCompanyId)

                    @Html.TextBox("txtInsuranceCompany", @companyName, new { @readonly = true })

                    }
                    else
                    {
                    @Html.DropDownListFor(model => model.Claim.HeadCompanyId, Model.InsuranceCompaniesList, new { @id = "ddlInsuranceCompany", @style = "width: 170px;" })
                    }
                }


            </td>
            <td width="20%">Client Point of Contact
            </td>
            <td>
                @Html.DropDownListFor(model => model.Claim.ClientPointOfContactUserId, Model.ClientPointofContactList, new { @id = "ddlClientPointOfContact", style = "width: 170px;" })
                <a onclick="btnNewCPOC_Click()" style="border: none; color: black; cursor: pointer;">
                    <img src="~/Content/Images/Addplus.png" title="New CSS Point of Contact" width="8" height="8" border="0" /></a><img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
            </td>
        </tr>*@
    <tr>
        <td>
            Claim Number
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimNumber, new { @id = "txtClaimNumber", disabled = "disabled" })
        </td>
        <td>
            Claim Description
        </td>
        <td colspan="1">

            @Html.TextAreaFor(model => model.Claim.ClaimDesc, new { disabled = "disabled" })
        </td>
        @*<td width="20%">CSS Point of Contact
            </td>*@
        @*<td>


                @Html.DropDownListFor(model => model.propertyassignment.CSSPointofContactUserId, Model.PointofContactList, new { @id = "ddlCSSPOC", style = "width: 170px;" })

            </td>*@
    </tr>
    @*<tr>
            <td>Cat Code
            </td>
            <td>


                @Html.DropDownListFor(model => model.Claim.CatCode, Model.CatCodesList, new { @style = "width: 170px;", @id = "ddlCatCodesList" })
                <a onclick="loadPopupNewCatCode();" style="border: none; color: black; cursor: pointer;">
                    <img src="~/Content/Images/Addplus.png" title="New Cat Code" width="8" height="8" border="0" /></a>
            </td>
            <td>QA Agent
            </td>
            <td>
                @{

                    BLL.User userQAAgent = null;
                    string QAAgentFullName = "";
                    if (loggedInUser.UserTypeId == 2)
                    {
                    @Html.DropDownListFor(model => model.propertyassignment.CSSQAAgentUserId, Model.CSSQAAgentList, new { style = "width: 170px;" })
                    }
                    else
                    {
                        if (Model.propertyassignment != null)
                        {
                            if (Model.propertyassignment.CSSQAAgentUserId.HasValue)
                            {
                                userQAAgent = css.Users.Find(Model.propertyassignment.CSSQAAgentUserId);
                                if (userQAAgent != null)
                                {
                                    QAAgentFullName = (!String.IsNullOrEmpty(userQAAgent.FirstName) ? userQAAgent.FirstName + " " : "") + (String.IsNullOrEmpty(userQAAgent.MiddleInitial) ? "" : userQAAgent.MiddleInitial + " ") + (!String.IsNullOrEmpty(userQAAgent.LastName) ? userQAAgent.LastName : "");
                                }
                            }
                        }

                    @Html.HiddenFor(model => model.propertyassignment.CSSQAAgentUserId)
                    @Html.TextBox("txtCSSQAAgentFullName", @QAAgentFullName, new { @readonly = true })
                    }


                }



            </td>
        </tr>
        <tr>
            <td>*Severity Level
            </td>
            <td colspan="3">

                @Html.DropDownListFor(model => model.Claim.SeverityLevel, Model.SeverityLevelsList, new { style = "width: 170px;" })
            </td>

        </tr>
        <tr>
            <td>Service Offering
            </td>
            <td>

                @Html.DropDownListFor(model => model.Claim.ServiceOffering, Model.ServiceOfferingsList, new { style = "width: 170px;" })
            </td>
            <td>Line of Business
            </td>
            <td>

                @Html.DropDownListFor(model => model.Claim.LOBId, Model.LineOfBusinessList, new { style = "width: 170px;", @id = "ddlLineOfBussiness" })<img id="imgLOBListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
            </td>
        </tr>*@
    @*<tr>*@

    @*<td>Status:
        </td>
        <td>
            @{
                if (loggedInUser.UserTypeId == 2)
                {

                @Html.DropDownListFor(model => model.propertyassignment.FileStatus, Model.FileStatusList, new { style = "width:170px;", id = "ddlFileStatus" })


                }
                else
                {
                    if (Model.propertyassignment != null)
                    {
                        if (Model.propertyassignment.FileStatus.HasValue)
                        {
                            BLL.AssignmentStatu fileStatus = css.AssignmentStatus.Find(Model.propertyassignment.FileStatus.Value);
                            if (fileStatus != null)
                            {
                @:@fileStatus.StatusDescription
             @Html.HiddenFor(model => model.propertyassignment.FileStatus)
                                                                                                                                                    }
                        }
                    }

                }
            }
        </td>*@
    @*</tr>*@
    <tr>
        <td width="20%">
            *Job Type
        </td>
        <td>
            @Html.DropDownListFor(model => model.AssignmentJob.JobId, Model.JobTypeList, new { @id = "ddlJobType", style = "width: 187px;", @disabled = "disabled" })

        </td>

        <td>
            *Service Type
        </td>
        <td>
            @Html.DropDownListFor(model => model.AssignmentJob.ServiceId, Model.ServiceTypesList, new { @id = "ddlServiceType", style = "width: 187px;" })
        </td>
    </tr>
    <tr>
        <td>
            Attorney
        </td>
        <td>
            @Html.TextBoxFor(model => model.AssignmentJob.Attorney, new { @id = "txtAttorney" })
        </td>
        <td>Attorney Phone</td>

        <td>
            @Html.TextBoxFor(model => model.AssignmentJob.AttorneyPhone, new { @id = "txtAttorneyPhone" })

        </td>
    </tr>
    <tr>
        <td>
            Public Damage Assessor
        </td>
        <td>
            @Html.TextAreaFor(model => model.AssignmentJob.PublicAdjuster, new { @id = "txtPublicAdjuster" })
        </td>
        <td>
            Public Damage Assessor Phone
        </td>
        <td>
            @Html.TextBoxFor(model => model.AssignmentJob.PublicAdjusterPhone, new { @id = "txtPublicAdjusterPhone" })
        </td>
    </tr>
    <tr>
        @if (Model.AssignmentJob.JobId == 6)
        {
            <td>
                ADDITIONAL REQUEST FROM VENDOR
            </td>
            <td>
                @Html.TextAreaFor(model => model.AssignmentJob.VendorRequest, new { @id = "txtVendorRequest" })
            </td>
        }
        else
        {
            <td>Upload IA Estimate to SP</td>
            <td> <input type="file" id="uploadFile" name="uploadFile" /></td> }
        <td>ADDITIONAL INFORMATION FOR VENDOR</td>

        <td>
            @Html.TextAreaFor(model => model.AssignmentJob.VendorInfo, new { @id = "txtVendorInfo" })
        </td>
    </tr>
    <tr>
        <td>County Name</td>        
        <td>@Html.TextBoxFor(model => model.ClaimCounty, new { @id = "txtClaimCounty", @disabled = "disabled" })</td>

        <td width="20%">
            @if (Model.propertyassignment.CANCompanyId != null && Model.propertyassignment.CANCompanyId > 0)
            {
                @:Estimator
}
        </td>
        <td>
            @if (Model.propertyassignment.CANCompanyId != null && Model.propertyassignment.CANCompanyId > 0)
            {
                @Html.DropDownListFor(model => model.AssignmentJob.EstimatorId, Model.EstimatorList, new { @id = "ddlEstimator", style = "width: 187px;" })
            }
            else
            {
                @Html.DropDownListFor(model => model.AssignmentJob.EstimatorId, Model.EstimatorList, new { @id = "ddlEstimator", style = "width: 187px;display:none;", @disabled = "disabled" })

            }


        </td>
    </tr>

    <tr>
        <td>
            QA Agent
        </td>
        <td>
            @{

                BLL.User userQAAgent = null;
                string QAAgentFullName = "";
                if (loggedInUser.UserTypeId == 2)
                {
                    @Html.DropDownListFor(model => model.propertyassignment.CSSQAAgentUserId, Model.CSSQAAgentList, new { @id = "ddlQAAgentId", style = "width: 187px;" })
                }
                else
                {
                    if (Model.propertyassignment != null)
                    {
                        if (Model.propertyassignment.CSSQAAgentUserId.HasValue)
                        {
                            userQAAgent = css.Users.Find(Model.propertyassignment.CSSQAAgentUserId);
                            if (userQAAgent != null)
                            {
                                QAAgentFullName = (!String.IsNullOrEmpty(userQAAgent.FirstName) ? userQAAgent.FirstName + " " : "") + (String.IsNullOrEmpty(userQAAgent.MiddleInitial) ? "" : userQAAgent.MiddleInitial + " ") + (!String.IsNullOrEmpty(userQAAgent.LastName) ? userQAAgent.LastName : "");
                            }
                        }
                    }

                    @*@Html.HiddenFor(model => model.propertyassignment.CSSQAAgentUserId)*@
                    @Html.DropDownListFor(model => model.propertyassignment.CSSQAAgentUserId, Model.CSSQAAgentList, new { @id = "ddlQAAgentId" , style = "width: 187px;" })
                    //@Html.TextBox("txtCSSQAAgentFullName", @QAAgentFullName, new { @readonly = true })
                }
            }
        </td>
        <td width="20%">
             Point of Contact
        </td>
        <td>
            @Html.DropDownListFor(model => model.propertyassignment.CSSPointofContactUserId, Model.PointofContactList, new { @id = "ddlCSSPOC", style = "width: 187px;" })
        </td>
    </tr>
    <tr>
        <td>File Status:</td>
        <td colspan="3">
            @if (loggedInUser != null)
            {
                bool hasQAAgentRights = loggedInUser.AssignedRights.Where(x => x == 1).ToList().Count == 1 ? true : false;

                if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 11 || hasQAAgentRights) && Model.propertyassignment.AssignmentId != null && Model.propertyassignment.AssignmentId != 0)
                {
                    @Html.DropDownListFor(model => model.propertyassignment.FileStatus, Model.FileStatusList, new { style = "width:187px;", @id = "ddlFileStatus" , @disabled = "disabled" })
                    <a href="#" onclick="updatefilestatus(@Model.propertyassignment.FileStatus)">Update Status</a>
                }
                else
                {
                    @Html.DropDownListFor(model => model.propertyassignment.FileStatus, Model.FileStatusList, new { style = "width:187px;", @id = "ddlFileStatus", @disabled = "disabled" })
                    <a href="#" onclick="updatefilestatus(@Model.propertyassignment.FileStatus)" style="pointer-events: none; cursor: default;">Update Status</a>
                    <input type="hidden" name="propertyassignment.FileStatus" value="@Model.propertyassignment.FileStatus" />
                }
            }
        </td>


    </tr>


</table>

<div id="NewCatCode" style="display: none;" class="EditPopupNewCatCode">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    Add Cat Code
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupNewCatCode();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div id="divCatCodeError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                <div id="divClaimContacts">
                    @*@Html.Partial("_CatCode", Model.CatCodeViewModel)*@
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingNewCatCodeSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input type="button" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" />
            </td>
        </tr>
    </table>
</div>
<div id="backgroundPopupNewCatCode" onclick="disablePopupNewCatCode();" class="backgroundPopupNewCatCode" style="display: none;"></div>

<!--
    7/6/2016 Code for File Status Update

-->

<div id="backgroundAssignmentManageStatusPopup" onclick="disableDetailsBasicPopup()"></div>
<div id="backgroundAssignmentApproveStatusPopup" onclick="disableDetailsBasicPopup1()"></div>
<div id="backgroundAssignmentRejectStatusPopup" onclick="disableDetailsBasicPopup2()"></div>
<div id="divAssignmentManageStatus" class="EditPopup">
    @using (Html.BeginForm("AssignmentStatusUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssignmentRejectStatusUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Update Property Assignment Status</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableDetailsBasicPopup()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="claimId" name="claimId" value="@Model.Claim.ClaimId" />
                    <input type="hidden" id="assignmentId" name="assignmentId" value="@Model.propertyassignment.AssignmentId" />
                    <input type="hidden" id="statusId" name="statusId" />
                    <table width="100%">
                        <tr id="trRetainSP" style="display: none;">
                            <td colspan="2">
                                @Html.CheckBox("RetainSP", true, new { @id = "cbRetainSP" }) Retain Service Provider after Reopen<br />
                                <br />
                            </td>
                        </tr>
                       
                        <tr>
                            <td>&nbsp;</td>
                        </tr>

                        <tr class="trExamnrRankRadioList" style="display:none;">
                            <td></td>
                            <td style="white-space:nowrap;" align="left">
                                Please rank SP for overall satisfaction on this particular claim
                            </td>
                        </tr>

                        <tr class="trExamnrRankRadioList" style="display:none;">
                            <td></td>
                            <td colspan="2" style="white-space:nowrap;" align="left">
                                <input id="rb1" type="radio" name="rdExaminerRank" value="1" checked="@(Model.canclaimsinfoviewmodel.Rank == 1 ? true : false)" />1&nbsp;
                                <input id="rb2" type="radio" name="rdExaminerRank" value="2" checked="@(Model.canclaimsinfoviewmodel.Rank == 2 ? true : false)" />2&nbsp;
                                <input id="rb3" type="radio" name="rdExaminerRank" value="3" checked="@(Model.canclaimsinfoviewmodel.Rank == 3 ? true : false)" />3&nbsp;
                                <input id="rb4" type="radio" name="rdExaminerRank" value="4" checked="@(Model.canclaimsinfoviewmodel.Rank == 4 ? true : false)" />4&nbsp;
                                <input id="rb5" type="radio" name="rdExaminerRank" value="5" checked="@(Model.canclaimsinfoviewmodel.Rank == 5 ? true : false)" />5

                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>

                        <tr valign="top">
                            <td style="padding-left:45px;width:1%;" align="left">Notes:</td>
                            <td width="100%">
                                <textarea id="statusChangeNote" name="statusChangeNote" style="width: 98%" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Update" id="btnUpdateStatus" class="buttonYellow_100" onclick="SubmitAssignmentStatus();" />
                </td>
            </tr>
        </table>
    }
</div>


<div id="divAssignmentRejectStatus" class="EditPopup">
    @using (Html.BeginForm("AssignmentStatusUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssignmentStatusUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Update Property Assignment Status</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableDetailsBasicPopup2()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="claimId2" name="claimId" value="@Model.Claim.ClaimId" />
                    <input type="hidden" id="assignmentId2" name="assignmentId" value="@Model.propertyassignment.AssignmentId" />
                    <input type="hidden" id="statusId2" name="statusId" />
                    <table width="100%">
                        <tr id="trRetainSP2" style="display: none;">
                            <td colspan="2">
                                @Html.CheckBox("RetainSP2", true, new { @id = "cbRetainSP2" }) Retain Service Provider after Reopen<br />
                                <br />
                            </td>
                        </tr>

                        <tr>
                            <td width="18%" align="left">
                                Count in Rejection Metrics:
                            </td>
                            <td align="left">
                                @*  @{
                                        var check1="";
                                        if(Model.RejectionMark==true)
                                        {
                                            check1 = "checked=true";
                                        }




                                    }*@
                                <input type="radio" id="rbreject1" name="RejectionMark" value="true" checked="@(Model.canclaimsinfoviewmodel.RejectionMark == true ? true : false)" />Yes
                                <input type="radio" id="rbreject2" name="RejectionMark" value="false" checked="@(Model.canclaimsinfoviewmodel.RejectionMark == false? true : false)" />No
                            </td>
                        </tr>
                        @*<tr valign="top" id="trrankradiolist" style="display:none">
                                <td>Rank:</td>
                                <td>
                                    <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.Rank == 1 ? true : false)" />1&nbsp;
                                    <input id="rb2" type="radio" name="examinerRank" value="2"  checked="@(Model.Rank == 2 ? true : false)"  />2&nbsp;
                                    <input id="rb3" type="radio" name="examinerRank" value="3"  checked="@(Model.Rank == 3 ? true : false)"  />3&nbsp;
                                    <input id="rb4" type="radio" name="examinerRank" value="4"  checked="@(Model.Rank == 4 ? true : false)"  />4&nbsp;
                                    <input id="rb5" type="radio" name="examinerRank" value="5"  checked="@(Model.Rank == 5 ? true : false)"  />5
                                </td>
                            </tr>*@
                        <tr valign="top">
                            <td align="right">Notes:</td>
                            <td width="100%">
                                <textarea id="statusChangeNote2" name="statusChangeNote" style="width: 98%" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Update" id="btnUpdateStatus" class="buttonYellow_100" onclick="SubmitAssignmentStatus();" />
                </td>
            </tr>
        </table>
    }
</div>


<div id="divApproveAssignmentStatus" class="EditPopup">
    @using (Html.BeginForm("AssignmentStatusUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssignmentApproveStatusUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Update Property Assignment Status</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableDetailsBasicPopup1()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="claimId1" name="claimId" value="@Model.Claim.ClaimId" />
                    <input type="hidden" id="assignmentId1" name="assignmentId" value="@Model.propertyassignment.AssignmentId" />
                    <input type="hidden" id="statusId1" name="statusId" />
                    <table width="100%" cellspacing="15">
                        <tr id="trRetainSP1" style="display: none;">
                            <td colspan="2">
                                @Html.CheckBox("RetainSP1", true, new { @id = "cbRetainSP1" }) Retain Service Provider after Reopen<br />
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="100%">
                                <table cellspacing="0" border="1" style="width: 96%;margin-left:20px;border-style:solid">

                                    <tr>


                                        <td width="100" style="text-align:center">
                                            <b>#DaysToContact</b>
                                        </td>


                                        <td width="100" style="text-align:center">
                                            <b>#DaysToInspect</b>
                                        </td>
                                        <td width="100" style="text-align:center">
                                            <b>#DaysToUpload</b>
                                        </td>
                                        <td width="100" style="text-align:center">
                                            <b># of times file rejected</b>

                                        </td>



                                    </tr>
                                    <tr>
                                        <td style="text-align:center">@Model.canclaimsinfoviewmodel.DaysToContact</td>
                                        <td style="text-align:center">@Model.canclaimsinfoviewmodel.DaysToInspect</td>
                                        <td style="text-align:center">@Model.canclaimsinfoviewmodel.DaysToUpload</td>
                                        <td style="text-align:center">@Model.canclaimsinfoviewmodel.RejectionCount</td>

                                    </tr>





                                </table>


                            </td>

                        </tr>
                        <tr valign="top" id="trrankradiolist">
                            <td colspan="2" width="100%">
                                <table cellspacing="7" style="width: 96%;margin-left:20px;border:none;">
                                    <tr>
                                        <td colspan="2" style="padding-left:45px" align="left">
                                            Please rank SP for overall satisfaction on this particular claim
                                        </td>
                                    </tr>
                                    <tr>
                                        @*<td>Please rank SP for overall satisfaction on this particular claim</td>*@
                                        <td width="100%" colspan="2" style="padding-left:42px" align="left">
                                            @{
                                                var check = "";
                                                if (Model.canclaimsinfoviewmodel.CheckApprovedDate == 1)
                                                {
                                                    check = "disabled=disabled";
                                                }
                                            }
                                            <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.canclaimsinfoviewmodel.Rank == 1 ? true : false)" @check />1&nbsp;
                                            <input id="rb2" type="radio" name="examinerRank" value="2" checked="@(Model.canclaimsinfoviewmodel.Rank == 2 ? true : false)" @check />2&nbsp;
                                            <input id="rb3" type="radio" name="examinerRank" value="3" checked="@(Model.canclaimsinfoviewmodel.Rank == 3 ? true : false)" @check />3&nbsp;
                                            <input id="rb4" type="radio" name="examinerRank" value="4" checked="@(Model.canclaimsinfoviewmodel.Rank == 4 ? true : false)" @check />4&nbsp;
                                            <input id="rb5" type="radio" name="examinerRank" value="5" checked="@(Model.canclaimsinfoviewmodel.Rank == 5 ? true : false)" @check />5
                                        </td>
                                    </tr>
                                    <tr valign="top">

                                        <td align="center">Notes:</td>
                                        <td width="100%">
                                            <textarea id="statusChangeapproveNote" name="statusChangeapproveNote" style="width: 98%" rows="5">@Model.canclaimsinfoviewmodel.ApprovalComment</textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Update" id="btnUpdateStatus" class="buttonYellow_100" onclick="SubmitAssignmentStatus();" />
                </td>
            </tr>
        </table>
    }
</div>
<div id="bgTimestampUpdatePopup" onclick="disableTimestampUpdatePopup()"></div>
<div id="divTimestampUpdatePopup" class="TimestampUpdatePopup">
    @using (Html.BeginForm("AssigTimestampUpdate", "PropertyAssignment", FormMethod.Post, new { @id = "frmAssigTimestampUpdate" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Timestamp Update</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableTimestampUpdatePopup()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <input type="hidden" id="hdnUpdateFieldCode" name="updateFieldCode" />
                    <table width="100%">
                        <tr valign="top">
                            <td align="right">Notes:</td>
                            <td width="100%">
                                <textarea id="txtTimestampUpdateNote" name="TimestampUpdateNote" style="width: 98%" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <img id="imgTimestampUpdateProcessing" src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="display:none;vertical-align: middle;padding-right:5px;" alt="Updating" />
                    <input type="button" value="Update" class="buttonYellow_100" onclick="btnTimestampUpdate_Submit()" />
                </td>
            </tr>
        </table>
    }
</div>
<div id="divPropertyInvoicePopup" class="EditPropertyInvoicePopup" style="width: 78%;">
    @using (@Html.BeginForm("SubmitPropertyInvoice", "PropertyAssignmentInvoice", new { returnToPage = "ManageStatus" }, FormMethod.Post, new { @id = "frmInvoice" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Property Invoice</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePropertyInvoicePopup()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td colspan="2">
                                <img id="imgProcessingPropertyInvoicedetails" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                                <div id="divPropertyInvoiceDetails" style="overflow-y: scroll; height: 500px;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer" style="text-align: right">
                    <table>
                        <tr>
                            <td nowrap="nowrap" width="100%" align="right">
                                <div id="divPISubmitProcessing" style="display: none; width: 100%">
                                    <img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;padding-right:5px;" alt="loading" />
                                </div>
                            </td>
                            <td>
                                <input id="btnPISubmit" type="button" class="buttonLightYellow_100" value="Submit" onclick="btnPISubmit_Click()" />
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    }
</div>
<div id="backgroundPropertyInvoicePopup" onclick="disablePropertyInvoicePopup()"></div>
<div id="bgAssignCSSPOC" onclick="disableAssignCSSPOCPopup();"></div>
<div id="divAssignCSSPOCPopup" class="AssignCSSPOCPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Confirmation</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignCSSPOCPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center" style=" font-size: large; padding: 14px;">
                An Invoice already exists. Do you want to create a supplement Invoice?
            </td>
        </tr>


        <tr>
            <td class="footer" style="text-align: center">
                <input type="button" value="Yes" class="buttonYellow_100" onclick="btnYesConfirm_Click()" />&nbsp;&nbsp;
                <input type="button" value="No" class="buttonYellow_100" onclick="btnNoConfirm_Click()" />&nbsp;&nbsp;
                <input type="button" value="Cancel" class="buttonYellow_100" onclick="btnCancelConfirm_Click()" />
                <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />


            </td>
        </tr>
    </table>

</div>



