﻿@model BLL.ViewModels.ClientPOCDetailsEditViewModel

<script type="text/javascript">
    function setUseHeadCompanyContactDetailsVisibility(differentFromParent) {
        if (differentFromParent == false || differentFromParent == 'false') {
            $("#trCPOCMobile").hide();
            $("#trCPOCWorkPhone").hide();
            $("#trCPOCAddressPO").hide();
            $("#trCPOCStreetName").hide();
            $("#trCPOCStreetNo").hide();
            $("#trCPOCZip").hide();
            $("#trCPOCState").hide();
            $("#trCPOCCity").hide();

            //heading rows
            $("#trCPOCPhoneHeading").hide();
            $("#trCPOCAddressHeading").hide();
        }
        else {
            $("#trCPOCMobile").show();
            $("#trCPOCWorkPhone").show();
            $("#trCPOCAddressPO").show();
            $("#trCPOCStreetName").show();
            $("#trCPOCStreetNo").show();
            $("#trCPOCZip").show();
            $("#trCPOCState").show();
            $("#trCPOCCity").show();

            //heading rows
            $("#trCPOCPhoneHeading").show();
            $("#trCPOCAddressHeading").show();
        }
        centerPopupNewClientPOC();
    }
    $(function () {

        $(".PhoneNo").mask("(999) 999-9999");

        $("#cbUseHeadCompanyContactDetails").change(function () {
            setUseHeadCompanyContactDetailsVisibility($("#cbUseHeadCompanyContactDetails").is(":checked"));
        });
        @if (Model.UserId == 0)
        {
        @:$("#txtCPOCFName, #txtCPOCLName").blur(function () { $("#txtCPOCUserName").val($("#txtCPOCFName").val().toLowerCase().replace(" ", "").substr(0, 1) + $("#txtCPOCLName").val().toLowerCase().replace(" ", "")); });
                                        @:setUseHeadCompanyContactDetailsVisibility(false);
                    }
        else
        {

             @:setUseHeadCompanyContactDetailsVisibility('@((Model.CPOC.UseHeadCompanyContactDetails ?? false) == true ? "false" : "true")');
                                        }
    });

    function Validation() {
        debugger;
        var Company = $('#ddlCompany').val();
        var FirstName = $('#txtCPOCFName').val();
        var LastName = $('#txtCPOCLName').val();
        var UserName = $('#txtCPOCUserName').val();
        var Password = $('#txtPassword').val();
        var Email = $('#txtCPOCEmail').val();
                       
        var isValid = true;
        var isValidErrorMsg = '';

        if (Company == '0') {
            isValid = false;
            isValidErrorMsg += "Select Company required.<br/>";
        }
        if (FirstName == ' ') {
            isValid = false;
            isValidErrorMsg += "Select First Name required.<br/>";
        }
        if (LastName == ' ') {
            isValid = false;
            isValidErrorMsg += "Select Last Name required.<br/>";
        }
        if (UserName == ' ') {
            isValid = false;
            isValidErrorMsg += "User Name field required.<br/>";
        }

        if (Password == ' ') {
            isValid = false;
            isValidErrorMsg += "Password field required.<br/>";
        }
        if (Email == ' ') {
            isValid = false;
            isValidErrorMsg += "Email field required.<br/>";
        }
        //if (ddlCounty == '0') {
        //    isValid = false;
        //    isValidErrorMsg += "Select County required.<br/>";
        //}
        document.getElementById("divError").innerHTML = ""
        if (isValid)
        {
            return true;

        } else {
            document.getElementById("divUnQLOBError").innerHTML = isValidErrorMsg;
            return false;
        }
    }


    function compare() {
        //Perform validation when all the previous required fields have data else let the controller handle those validations.
        var valueToReturn = true;
        debugger;

        if ($("#txtCPOCUserName").val().length != 0) {
            if ($("#txtConfPassword") != "") {
                var pass = $('#txtPassword').val();
                var confPass = $('#txtConfPassword').val();
                var letters = false;
                var numbers = false;
                var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                var number = /^[0-9]+$/; //PATTERN FOR NUMBERS
                if ($('#txtPassword').val() != $('#txtConfPassword').val()) {
                    passwordNotMatch("Passwords do not match.");
                    valueToReturn = false;
                }
                else if (pass.length < 6) {
                    passwordNotMatch("Password should be at least 6 characters.");
                    valueToReturn = false;
                }
                for (i = 0; i < pass.length; i++) {
                    if (pass.substr(i, 1).match(alpha)) {
                        letters = true; //AT LEAST ONE LETTER EXISTS
                    }
                    else if (pass.substr(i, 1).match(number)) {
                        numbers = true; //AT LEAST ONE NUMBER EXISTS
                    }
                }
                //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                if ((letters == false && numbers == false && valueToReturn != false) || (letters == false && numbers == true && valueToReturn != false) || (letters == true && numbers == false && valueToReturn != false)) {

                    passwordNotMatch("Password should have at least one alphabet and one numeric character.");
                    valueToReturn = false;

                }
                if (valueToReturn == true) {
                    $("#divJSValidation").html('');
                    $("#tdConfirmPassword").html('');
                }
            }
        }
        return valueToReturn;
    }

    function passwordNotMatch(message) {
        $("#tdConfirmPassword").css("display", "block");
        $('#txtPassword').val('');
        $('#txtConfPassword').val('');
        $("#tdConfirmPassword").text(message);
        $("#divJSValidation").html(message);

    }


</script>
<div id="divError" class="errorMsg" style="text-align: left; width: 100%;"></div>
<div id="divJSValidation" class="errorMsg">
</div>
<div class="errorMsg">
    @Html.ValidationSummary()
</div>
<table>
    <tr>
        <td>
@Html.CheckBox("CPOC.UseHeadCompanyContactDetails", (Model.CPOC.UseHeadCompanyContactDetails ?? false) == true ? false : true, new { @id = "cbUseHeadCompanyContactDetails" }) Contact Details different from Parent Company<br />
        </td>       
    </tr>
    <tr> 
        @if (Model.UserId != 0)
        {
            <td>
                Company : @Html.DropDownListFor(model => model.CPOC.HeadCompanyId, Model.Companies, new { @id="ddlCompany", style = "width:150px;" , @disabled = "disabled;" })
            </td>
        }
        else
        {
            <td>
                Company : @Html.DropDownListFor(model => model.CPOC.HeadCompanyId, Model.Companies, new { @id = "ddlCompany", style = "width:150px;" })
            </td>
        }
              
            
    </tr>
</table>

   

<table width="100%" class="content">
    <tr>
        <td width="50%">
            <table width="100%">
                <tr>
                    <td class="subHeading" colspan="2">Basic</td>
                </tr>
                <tr>
                    <td width="30%" nowrap="nowrap">First Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.FirstName, new { @id = "txtCPOCFName" })</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Middle Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.MiddleInitial)</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Last Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.LastName, new { @id = "txtCPOCLName" })</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Email:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.Email, new { @id = "txtCPOCEmail" })</td>
                </tr>
                @*<tr>
                    <td nowrap="nowrap">HeritageNetAddress:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.Heritagenetaddress)</td>
                </tr>*@

                <tr id="trCPOCPhoneHeading">
                    <td class="subHeading" colspan="2">Phone Numbers</td>
                </tr>
                <tr id="trCPOCMobile">
                    <td nowrap="nowrap">Mobile Phone #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.MobilePhone, new { @class = "PhoneNo" })</td>
                </tr>
                <tr id="trCPOCWorkPhone">
                    <td nowrap="nowrap">Work Phone #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.WorkPhone, new { @class = "PhoneNo" })</td>
                </tr>
                <tr id="trCPOCAddressHeading">
                    <td class="subHeading" colspan="2">Address</td>
                </tr>
                <tr id="trCPOCAddressPO">
                    <td nowrap="nowrap">Address or PO #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.AddressPO)</td>
                </tr>
                <tr id="trCPOCStreetNo">
                    <td nowrap="nowrap">Street #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.AddressLine1)</td>
                </tr>
                <tr id="trCPOCStreetName">
                    <td nowrap="nowrap">Street Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.StreetAddress)</td>
                </tr>
                <tr id="trCPOCZip">
                    <td nowrap="nowrap">Zip:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.Zip, new { @id = "txtCPOCZip", @onblur = "populateZipData('txtCPOCZip','ddlCPOCState','txtCPOCCity')" })</td>
                </tr>
                <tr id="trCPOCState">
                    <td nowrap="nowrap">State:</td>
                    <td>@Html.DropDownListFor(model => model.CPOC.State, Model.StateList, new { @id = "ddlCPOCState", @style = "width:150px;" })</td>
                </tr>
                <tr id="trCPOCCity">
                    <td nowrap="nowrap">City:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.City, new { @id = "txtCPOCCity" })</td>
                </tr>

            </table>
        </td>
        <td width="50%" valign="top">

            <table>
                <tr>
                    <td class="subHeading" colspan="2">Login</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">User Name:</td>
                    <td>
                        @Html.TextBoxFor(model => model.CPOC.UserName, new { @id = "txtCPOCUserName" })
                    </td>
                    @*<td>
                        @if (Model.UserId > 0)
                        {
                            @Model.CPOC.UserName
                            @Html.HiddenFor(model => model.CPOC.UserName)
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.CPOC.UserName, new { @id = "txtCPOCUserName" })
                        }
                </td>*@
            </tr>                
            <tr>
                <td nowrap="nowrap">Password:</td>
                @*<td>@Html.PasswordFor(model => model.CPOC.Password)</td>*@
                <td>
                    <input name="CPOC.Password" value='@Model.CPOC.Password' id="txtPassword" type="password" />
                </td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td>
                    <input name="ConfirmPassword" value='@Model.ConfirmPassword' id="txtConfPassword" type="password" onblur="compare();" />
                    <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>                    
                </td>
                @*<td>@Html.PasswordFor(model => model.ConfirmPassword)</td>*@
            </tr>
            <tr>
                <td>External Identifier:</td>
                <td>@Html.TextBoxFor(model => model.CPOC.ExternalMappingIdentifier) </td>
            </tr>
                <tr>
                    @if (Model.TermsOfService != null)
                    {
                        <td>
                            Terms of Service:
                        </td>
                        <td>
                            @Html.LabelFor(model => model.TermsOfService, Model.TermsOfService)
                        </td>
                    }                    
                </tr>

        </table>
    </td>
</tr>
</table>

@Html.HiddenFor(model => model.UserId, new { @id = "hdnCPOCUserId" })
    @*@Html.HiddenFor(model => model.CPOC.HeadCompanyId, new { @id = "hdnCPOCHeadCompanyId" })*@