﻿

@model BLL.ViewModels.CompanyInvoiceViewModel
@{
    Layout = null;
}


@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateCompanyPdfInvoice</title>
</head>
<body>
    <div>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <style>
            .trheading {
                background-color: #C1C1C1;
                font: bold;
            }

            #tblContent td, #tblContent th #tblContent tr {
                border: 1px solid black;
                padding: 8px;
            }

            .trcontent {
                color: cornflowerblue;
            }
        </style>
        <table style="width: 100%; color:black !important; font-size:12px !important; font-family: Verdana !important;padding-right: 5px;padding-left: 5px;" bgcolor="White" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30%">
                                <div style="float: left">
                                    @* <img src="~/Content/Images/CSSLogo04.png" />*@
                                </div>
                            </td>

                            <td style="width: 30%;">
                                <div style="float: left; display: none;">
                                    <img src="~/Content/Images/CSSLogo04.png" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table id="tblContent" table style="width: 100%; border: 1px solid black; border-collapse: collapse;" align="center">

                        <tr style="height:40px">
                            <td colspan="10" class="trheading" style="font-size:18px"><b>Day Rate and Hourly Labor Billing</b></td>

                        </tr>
                        @*<tr>

                            <td colspan="10"><b>Company:</b>&nbsp;&nbsp;@Model.LineItemgetList[0].Company</td>

                        </tr>*@
                        <tr>
                            <td style="text-align: left" rowspan="2" colspan="3"><b>Company:</b>&nbsp;&nbsp;@Model.LineItemgetList[0].Company</td>
                            @*<td style="text-align: left" rowspan="2" colspan="2">
                                    @Model.CompanyName
                                </td>*@
                            <td style="text-align: right" rowspan="2" colspan="2"><b>Service Date Range:</b></td>
                            <td style="text-align: left">@Model.LineItemgetList[0].ServiceStartDate.Value.ToString("MM/dd/yyyy")</td>
                            <td style="text-align: right" colspan="2"><b>Invoice Number:</b></td>
                            <td style="text-align: left" colspan="2">@Model.LineItemgetList[0].InvoiceNumber</td>
                        </tr>
                        <tr>
                            @*<td style="text-align: left" colspan="3"><b>Intacct Posting Date:</b>&nbsp;&nbsp;@Model.IntacctPostingDate.ToString("MM/dd/yyyy")</td>*@
                            <td style="text-align: left">@Model.LineItemgetList[0].ServiceEndDate.Value.ToString("MM/dd/yyyy")</td>
                            <td style="text-align: right" colspan="2"><b>Invoice  Date:</b></td>
                            <td style="text-align: left" colspan="2">@Model.LineItemgetList[0].InvoiceCreatedDate.Value.ToString("MM/dd/yyyy")</td>
                        </tr>
                        <tr style="height:20px">
                            <td colspan="10"></td>
                            @*<td></td>
                            <td></td>
                            <td colspan="2"></td>
                                <td colspan="2"></td>*@
                        </tr>
                        <tr class="trheading" style="height:50px">
                            <td align="Left" width="30%"><b>Service Provider</b></td>
                            <td align="center" width="5%"><b>Payee Type</b></td>
                            <td align="center" width="5%"><b>Billing Type</b></td>
                            <td align="right"><b># of Units</b></td>
                            <td align="right" width="10%px"><b>Gross Rate Per Unit</b></td>
                            <td align="right"><b>Total Line Item</b></td>
                            <td align="right" width="10%"><b>SP Pay %</b></td>
                            <td align="right"><b>Net SP Pay</b></td>
                            <td align="center" width="15%"><b>Payroll Date</b></td>
                            <td align="center" width="15%"><b>QB Posting Date</b></td>
                        </tr>
                        @if (Model.LineItemgetList != null)
                        {
                            foreach (var document in Model.LineItemgetList)
                            {
                                <tr class="trcontent">
                                    <td align="Left"><b>@document.SpName</b></td>
                                    <td align="center"><b>@document.PayeeType</b></td>
                                    <td align="center"><b>@document.BillingType</b></td>
                                    <td align="right"><b>@document.Units</b></td>
                                    <td align="right"><b>$@document.Rate.Value.ToString("0.00")</b></td>
                                    <td align="right"><b>$@document.TotalLineItem.Value.ToString("0.00")</b></td>
                                    <td align="right"><b>@document.SPPayPercent.Value.ToString("0.00")</b></td>
                                    <td align="right"><b>$@document.NetSPPay.Value.ToString("0.00")</b></td>
                                    <td align="center">
                                        @if (document.PaymentDate != null)
                                        {
                                            <b>@document.PaymentDate.Value.ToString("MM/dd/yyyy")</b>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (document.PaymentDate != null)
                                        {
                                            <b>@document.PaymentDate.Value.ToString("MM/dd/yyyy")</b>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr style="height:40px;">
                            <td colspan="4"></td>
                            <td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>Invoice Total</b></td>
                            <td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>$@Model.InvoiceTotal.ToString("0.00")</b></td>
                            <td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>Net SP Pay Total</b></td>
                            <td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>$@Model.NetSPpayAmount.ToString("0.00")</b></td>
                            <td style="font-size:14px;font:bold" align="right" colspan="2"></td>

                        </tr>

                    </table>
                </td>
            </tr>
            <tr style="height:30px">
                <td>&nbsp;</td>
            </tr>



        </table>


    </div>
</body>

</html>


