﻿@using BLL
@model IEnumerable<usp_CompanyJobTypesGetList_Result>

<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
    <tr>
        <td class="subHeading borderBottomLightGray" nowrap="nowrap">
           
        </td>

    </tr>
    <tr>
        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td width="30%">
                            Job Type
                        </td>
                       
                        
                        <td align="center" width="20%"></td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.ToList().Count() > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td width="30%">
                                    @item.JobDesc
                                </td>
                               
                               
                                <td align="center" width="20%">
                                    <a id="btnQualified" href="javascript:DeleteCompanyJobtype(@item.jobid)">
                                        <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" /> 
                                    </a>

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="color:red;text-align:center" colspan="3">
                                - No Records -

                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
</table>