﻿@using System.Configuration

@model BLL.ViewModels.CompanyInvoiceViewModel
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    string containerName = ConfigurationManager.AppSettings["PropAssignDocsContainerName"].ToString();
}
@{
    Layout = null;
}

<table cellpadding="3" cellspacing="0" width="100%">

    <thead class="tableHeader">
        <tr valign="top">
            <td nowrap="nowrap" width="10px"></td>
            <td nowrap="nowrap">Invoice #</td>
            <td nowrap="nowrap">Title </td>
            <td nowrap="nowrap">Document UploadedDate</td>
            <td nowrap="nowrap">File Name</td>
            <td nowrap="nowrap">Document UploadedBy</td>
            <td></td>
        </tr>
    </thead>
    @{
        int i = 0;


        if (Model.DocumentList != null)
        {
            foreach (var document in Model.DocumentList)
            {
                <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                    <td></td>
                    <td nowrap="nowrap">
                        @document.InvoiceNo
                    </td>
                    <td nowrap="nowrap">
                        @document.Title
                    </td>

                    <td>
                        @document.DocumentUploadedDate.ToString("MM/dd/yyyy")

                    </td>
                    <td nowrap="nowrap">
                        @{
                            int strtindex = document.DocumentPath.IndexOf(".");

                            string Fileextension = document.DocumentPath.Substring(strtindex, document.DocumentPath.Length - strtindex);
                            string absoluteFileName = document.DocumentPath;
                            string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteFileName);

                            //     string absoluteFileName = document.AssignmentId + "/" + document.DocumentTypeId + "/" + document.DocumentPath;
                            //    string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteFileName);


                            //string absoluteFileName = document.AssignmentId + "/" + document.DocumentTypeId + "/" + document.DocumentPath;
                            //string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteFileName);
                            //string baseFolder = System.Configuration.ConfigurationManager.AppSettings["PropertyAssignmentDocsPath"].ToString();
                            //string baseFolder = "/UserUploads/PropertyAssignmentDocuments/";
                            //string fileUrl = absoluteFileName;

                        }

                        <a href="@Url.Action("CompanyInvoicedocumentAcess", "CompanyInvoice", new { InvoiceId = document.InvoiceId, fileurl = Cypher.EncryptString(fileUrl), filename = document.DocumentPath })">
                            @*<a href="@fileUrl" target="_blank">*@
                            @if (Fileextension == ".pdf")
                            {
                                <img src="@Url.Content("~/Content/Images/pdficon.png")" title="PDF" style="border:none;vertical-align:bottom;" />
                            }

                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />

                            }

                        </a>
                        @{
                            int FileStart = document.DocumentPath.LastIndexOf("/");
                            @document.DocumentPath.Substring(FileStart + 1, document.DocumentPath.Length - FileStart - 1);

                        }

                    </td>

                    <td nowrap="nowrap">
                        @{
                            // BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.User user = null;
                            if (document != null)
                            {
                                user = css.Users.Find(document.DocumentUploadedByUserId);
                                if (user != null)
                                {
                                    @:@(!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") @(!String.IsNullOrEmpty(user.MiddleInitial) ? user.MiddleInitial : "") @(!String.IsNullOrEmpty(user.LastName) ? user.LastName : "")
                                                                                                                                                                                                                                                                                                                                }
                    }
                        }
                    </td>

                    @*<td align="right">

                                    <a href="#" onclick="EditpaymentDetails('@payment.PaymentId','@payment.AmountReceived','@payment.CheckNumber','@payment.ReceivedDate')" style="border: none; color: black; cursor: pointer;text-decoration:none;">
                                        <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right:7px;" />
                                    </a>

                                    <a href="#" onclick="deletePaymentDetails('@payment.PaymentId','@payment.InvoiceId')" style="border: none; color: black; cursor: pointer;text-decoration:none;">
                                        <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>

                        </td>*@
                </tr>
                                    i++;
                                }
                            }
                            if (i == 0)
                            {
                                <tr>
                                    <td colspan="7" align="center">
                                        <br />
                                        - No record was found -<br />
                                        <br />
                                    </td>
                                </tr>
                            }
    }
</table>
