﻿@model BLL.ViewModels.ClientPOCListViewModel
<table width="100%" cellpadding="3" cellspacing="0">
    <thead class="tableHeader">
        <tr>
            <th width="20%" align="left">Name</th>
            <th width="20%" align="left">Company</th>
            <th width="20%" align="left">Email</th>
            <th width="20%" align="left">Mobile Phone</th>
            <th width="20%" align="left">Work Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ClientPOCList.Count; i++)
        {
            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                <td align="left">@Model.ClientPOCList[i].Name</td>
                <td align="left"> @Model.ClientPOCList[i].CompanyName</td>
                <td align="left">@Model.ClientPOCList[i].Email</td>
                <td align="left">@Model.ClientPOCList[i].MobilePhone</td>
                <td align="left">@Model.ClientPOCList[i].WorkPhone</td>
                <td align="right" nowrap="nowrap">
                    <img alt="Edit" onclick="btnEditCPOC_Click('@Model.ClientPOCList[i].UserId')" src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" />
                    <img alt="Delete" onclick="btnDeleteCPOC_Click('@Model.ClientPOCList[i].UserId','@Model.ClientPOCList[i].Name')" src="@Url.Content("~/Content/Images/Cancel.png")" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" />
                </td>
            </tr>
        }
        @if (Model.ClientPOCList.Count == 0)
        {
            <tr>
                <td colspan="5" align="center">- No Records -</td>
            </tr>
        }
    </tbody>
</table>
