﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.ContractorTypeSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    #backgroundTemplatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }


    .EditTemplatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"
    });
    });
    $(function () {
        $("#txtZip").blur(function () {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
                { ZipCode: $("#txtZip").val() },
                 function (data) {
                     if (data != -1) {
                         $("#txtState").val(data.State);
                         $("#txtCity").val(data.City);
                     }
                     else {
                         $("#txtState").val("");
                         $("txtCity").val("");
                     }

                 });
        });
    });
    $(function () {
        $("#TxtCompFax").mask('(999)999-9999');
        $("#txtCompPhone").mask('999-999-9999');
        $("#txtCompPhoneNumber").mask('999-999-9999');
        $("#txtMobilePhone").mask('999-999-9999');
    });

    $(function () {
        $("#Isactive").checked = true;
    });

    $(function () {
        $("#submit").on('click', function () {
       // $("#CompanyName").on('blur', function () {
            if ($('#CompanyName').val().length > 41) {
                alert("Company name Characters should be less than 41")
                return false;
            }
       // });
        });
    });

    $(document).ready(function () {

        $('#txtPassword').val('@Model.Password');
        $('#txtConfPassword').val('@Model.Password');
        
        var selected = '@Model.region';
        if (selected != '' && selected != null) {
            var arr = selected.split(',');
            var obj = $('#mySelectBox');
            for (var j = 0; j < arr.length; j++) {
                var val = arr[j];
                obj.find('option:[value=' + val + ']').attr('selected', 1);
            }
        }
        ddlIntTypeList_OnChange();
        $("input[name='IsDeployed']").change(function () {
            debugger;
            if (this.value == "false") {
                $("#txtDeployedZip").val('');
                $("#txtDeployedZip").attr('disabled', true);
                $("#ddlDeployedState").val('0');
                $("#ddlDeployedState").attr('disabled', true);
                $('#ddlDeployedCity').val('');
                $("#ddlDeployedCity").attr('disabled', true);
            }
            else {
                $("#txtDeployedZip").attr('disabled', false);
                $("#ddlDeployedState").attr('disabled', false);
                $("#ddlDeployedCity").attr('disabled', false);
            }
        });
        debugger;
        var IsDeployedValue = $("input[name='IsDeployed']:checked").val();
        if (IsDeployedValue == "false") {
            $("#txtDeployedZip").val('');
            $("#txtDeployedZip").attr('disabled', true);
            $("#ddlDeployedState").val('0');
            $("#ddlDeployedState").attr('disabled', true);
            $('#ddlDeployedCity').val('');
            $("#ddlDeployedCity").attr('disabled', true);
        }
        else {
            $("#txtDeployedZip").attr('disabled', false);
            $("#ddlDeployedState").attr('disabled', false);
            $("#ddlDeployedCity").attr('disabled', false);
        }
        var TaxFilingType = $("#rdbTaxFilingTypeYes").val();
        var ModelTaxFilingType = '@Model.TaxFilingType';
        if (ModelTaxFilingType == 0) {
            debugger;
            $("#rdbTaxFilingTypeNo").attr('checked', 'checked');
        } else {
            $("#rdbTaxFilingTypeYes").attr('checked', 'checked');
        }

    });
    function ddlIntTypeList_OnChange() {
        if ($("#ddlIntTypeList").val() == "1") {
            $("#divUsesSharedDataset").show();
            $("#tdXactBusinessUnit").show();
            $("#tdXactsendinvoices").show();
        }
        else {
            $("#divUsesSharedDataset").hide();
            $("#tdXactBusinessUnit").hide();
            $("#tdXactsendinvoices").hide();
            $("#cbUsesSharedDataset").removeAttr("checked");
            $("#HasDocumentBridge").removeAttr("checked");
        }
    }

    function loadTemplatePopup(url) {

        debugger;

        document.getElementById("iframeTemplate").src = url;
        centerTemplatePopup();


        $("#backgroundTemplatePopup").css({
            "opacity": "0.7"
        });

        $("#backgroundTemplatePopup").fadeIn("slow");
        $("#divTemplate").fadeIn("slow");

        //var data=$('#iframeTemplate').contents().find('span.k-input');
        //$(data).text("Insert PlaceHolder");

        return false;
    }

    function centerTemplatePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divTemplate").height();
        var popupWidth = $("#divTemplate").width();
        //centering
        $("#divTemplate").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundTemplatePopup").css({
            "height": windowHeight
        });
        return false;
    }


    function disableTemplatePopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundTemplatePopup").fadeOut("slow");
            $("#divTemplate").fadeOut("slow");
            popupStatus = 0;
        }

    }

    //Password validation ------ Mahesh on 7-25-2016
    


    function compare() {
        //Perform validation when all the previous required fields have data else let the controller handle those validations.
        var valueToReturn = true;
        debugger;

        if ($("#txtUserName").val().length != 0) {
            if ($("#tdConfirmPassword") != "") {
                var pass = $('#txtPassword').val();
                var confPass = $('#txtConfPassword').val();
                var letters=false;
                var numbers=false;
                var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                var number = /^[0-9]+$/; //PATTERN FOR NUMBERS
                if ($('#txtPassword').val() != $('#txtConfPassword').val()) {
                    passwordNotMatch("Passwords do not match.");
                    valueToReturn = false;
                }
                else if (pass.length < 6) {
                    passwordNotMatch("Password should be at least 6 characters.");
                    valueToReturn = false;
                }
                for (i = 0; i < pass.length; i++) {
                    if (pass.substr(i, 1).match(alpha)) {
                        letters = true; //AT LEAST ONE LETTER EXISTS
                    }
                    else if (pass.substr(i, 1).match(number)) {
                        numbers = true; //AT LEAST ONE NUMBER EXISTS
                    }
                }
                //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                if ((letters == false && numbers == false && valueToReturn != false) || (letters == false && numbers == true && valueToReturn != false) || (letters == true && numbers == false && valueToReturn != false)) {

                    passwordNotMatch("Password should have at least one alphabet and one numeric character.");
                    valueToReturn = false;

                }
                if (valueToReturn == true) {
                    $("#divJSValidation").html('');
                    $("#tdConfirmPassword").html('');
                }
            }
        }
        return valueToReturn;
    }

    function passwordNotMatch(message) {
        $("#tdConfirmPassword").css("display", "block");
        $('#txtPassword').val('');
        $('#txtConfPassword').val('');
        $("#tdConfirmPassword").text(message);
        $("#divJSValidation").html(message);

    }
    function HidePasswordMessage() {
        $("#tdConfirmPassword").css("display", "none");
    }
    function populateZipData(zipControl, stateControl, cityControl) {
        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
    { ZipCode: $("#" + zipControl).val() },
    function (data) {
        if (data != -1) {
            $("#" + stateControl).val(data.State);
            $("#" + cityControl).val(data.City);
        }
        else {
            $("#" + stateControl).val("");
            $("#" + cityControl).val("");
        }
    });
    }
    function UserCheck() {
        $("#divStatus").html("Checking....");
        $.post("@Url.Content("~/Account/IsUserNameAvailable")",
    { username: $("#txtUserName").val() },
    function (data) {
        if (data == 1) {
            $("#divStatus").html("User Name is Available");
        }
        else {
            $("#divStatus").html("User Name is Unavailable");
        }
    });
    }
</script>
<head>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
    </style>
</head>

@Html.HiddenFor(model => model.companyid)


<table width="100%" align="center">
    <tr>
        <td valign="top" width="350">
            <table align="left" cellspacing="2" width="350">


                <tr>
                    <td valign="top" colspan="2" class="borderBottomLightGray">
                        <b>Company Information</b>
                    </td>

                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Company Name:
                    </td>
                    <td valign="top" width="600">
                        @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = "41" })
                    </td>
                </tr>
                @*<tr>
                    <td valign="top" nowrap="nowrap">
                        Carrier Id:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.CarriedId)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Tax Id:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.TaxID)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Integration Company:
                    </td>
                    <td valign="top" nowrap="nowrap">
                        <div style="float: left; width: 180px;">@Html.DropDownListFor(model => model.IntegrationTypeId, Model.IntegrationTypeList, new { @id = "ddlIntTypeList", @onchange = "ddlIntTypeList_OnChange()", @style = "width:170px;" }) &nbsp;&nbsp;</div>

                    </td>

                </tr>
                <tr id="divUsesSharedDataset">
                    <td valign="top" nowrap="nowrap" style="height: 25px;">
                        Uses Shared Dataset:
                    </td>
                    <td valign="top" nowrap="nowrap" align="left">
                        @Html.CheckBoxFor(model => model.UsesSharedDataset, new { @id = "cbUsesSharedDataset" })
                    </td>

                </tr>
                <tr id="tdXactsendinvoices">
                    <td align="left">
                        Send Invoice:

                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.HasDocumentBridge)
                    </td>

                </tr>

                <tr id="tdXactBusinessUnit">
                    <td valign="top" nowrap="nowrap" style="height: 25px;">
                        Xact Business Unit:
                    </td>
                    <td valign="top" nowrap="nowrap" align="left">
                        @Html.TextBoxFor(model => model.XACTBusinessUnit)
                    </td>

                </tr>*@

                @*<tr>
                    <td valign="top" nowrap="nowrap">
                        Company logo:
                    </td>
                    <td valign="top" nowrap="nowrap">
                        <table>
                            <tr>
                                <td nowrap="nowrap">Attach your Logo: </td>
                            </tr>
                            <tr>
                                <td>
                                    @if (Model.logo != "" && Model.logo != null)
                                    {
                                        string absoluteThumnailFileName = Model.companyid + "/" + Model.logo;
                                        string baseFolder = "/UserUploads/ServiceProviderDocuments/";
                                        //string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteThumnailFileName);
                                        string thumbnailFileUrl = baseFolder + absoluteThumnailFileName;

                                        <a href="@Url.Action("DeleteLogo", "ContractorCompany", new { CompanyId=@Model.companyid })" style="border: none; color: black; cursor: pointer;float:left;">
                                            <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick="return confirm('Are you sure you want to Delete ?')" />
                                        </a>
                                        <img id="companyLogo" width="100" height="100" src="@thumbnailFileUrl" />
                                    }
                                    else
                                    {
                                        <input type="file" id="file1" name="file1" value="file" />
                                    }
                                </td>
                            </tr>
                        </table>


                    </td>
                </tr>*@
                <tr>
                    @*<td valign="top" nowrap="nowrap">
                        Regions:<u> </u>
                    </td>
                    <td valign="top">*@
                        @*@Html.ListBoxFor(model => model.regions, Model.RegionTypeList, new { id = "mySelectBox" })*@
                        @* @Html.ListBoxFor(model => model.RegionId,new SelectList((IEnumerable<SelectListItem>)Model.RegionTypeList,"RegionId","Region1" ))*@
                        @* @Html.ListBoxFor(model => model.RegionTypeList, new MultiSelectList(Model.RegionTypeList, "RegionId", "Region"))*@
                    @*</td>*@
                </tr>
                @if (loggedInUser != null && loggedInUser.UserTypeId == 2)
                {
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Is Active:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.CheckBoxFor(model => model.IsActive, new { id = "Isactive" })
                    </td>
                </tr>
                }
                else if (loggedInUser != null && loggedInUser.UserTypeId == 12)
                {
                    @Html.HiddenFor(model => model.IsActive)
                }
                <tr>
                    <td valign="top" nowrap="nowrap">Preferred Company</td>
                    <td valign="top">
                        @Html.CheckBoxFor(model => model.IsPreferred, new { id = "IsPreferred" })

                    </td>
                   
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">National Provider</td>
                    <td valign="top">
                        @Html.CheckBoxFor(model => model.IsNationalProvider, new { id = "IsNationalProvider" })
                    </td>
                </tr>
                <tr>
                  <td valign="top" nowrap="nowrap">Attach your Photo: </td>
                                <td  valign="top">
                                    <iframe id="frameUploadphoto" style="overflow:hidden;text-align:right;" frameborder="0" width="350" height="100" src="@Url.Content("~/ContractorCompany/DocumentsList?userId=" + Model.UserId + "&documentTypeID=7&maxDocsCount=1&displayMode=1&isReadOnly=false")"></iframe>
                                </td>
                </tr>
            </table>
        </td>
        <td valign="top" width="350">

            <table width="350">
                <tr>
                    <td valign="top" colspan="2" class="borderBottomLightGray">
                        <b>Contact Information</b>
                    </td>

                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Address:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Address)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        City:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.City, new { id = "txtCity" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        State:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.State, new { id = "txtState" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Zip:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Zip, new { id = "txtZip" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                      Home  Phone:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { id = "txtCompPhone" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Mobile  Phone:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.MobileNumber, new { id = "txtMobilePhone" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                     Company  Phone:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.CompanyPhoneNumber, new { id = "txtCompPhoneNumber" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Email:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Email, new { id = "txtEmailPhone" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Fax:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Fax, new { id = "TxtCompFax" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Webstite URL:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.WebsiteURL)
                        @Html.HiddenFor(model=>model.UserId)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Paycom ID :<u> </u>
                    </td>
                    <td valign="top">
                        <input name="PaycomID" id="txtpaycomid" type="text" value="@Model.PaycomID" maxlength="5" />
                    </td>
                </tr>
                    @if (loggedInUser != null && loggedInUser.UserTypeId == 2 && Model.UserId > 0)
                    {
               
                        <tr>
                            <td valign="top" nowrap="nowrap">
                                TaxFiling Type:<u> </u>
                            </td>
                            <td valign="top">
                                <input name="TaxFilingType" id="rdbTaxFilingTypeNo" type="radio" value="0" checked="@(Model.TaxFilingType.HasValue ? Model.TaxFilingType : 0)" />1099
                                <input name="TaxFilingType" id="rdbTaxFilingTypeYes" type="radio" value="1" checked="@(Model.TaxFilingType.HasValue ? Model.TaxFilingType : 1)" />Commisson-Based W2
                            </td>
                        </tr>
                    @*<tr>
                            <td valign="top" nowrap="nowrap">
                                Paycom ID :<u> </u>
                            </td>
                            <td valign="top">
                                <input name="PaycomID" id="txtpaycomid" type="text" value="@Model.PaycomID" maxlength="4" />
                             </td>
            </tr>*@
                    }
                    else
                    {
                        <tr>
                            <td>
                                <input name="TaxFilingType" type="hidden" value="@Model.TaxFilingType" />
                            @*  <input name="PaycomID" type="hidden" value="@Model.PaycomID" />*@
                            </td>
                        </tr>
                    }
                    @*<td nowrap="nowrap">
                        Add Template

                    </td>*@
                    @*<td>

                        <input type="button" id="addtemplate" value="Add Template" onclick="loadTemplatePopup('@Url.Action("EmailTemplate", "EmailTemplate", new { HeadCompanyId = Model.companyid, TemplateId = -1, StatusId = -1 })    ')" />
                    </td>*@
                
            </table>

        </td>
        <td valign="top" width="350">
            <table width="350">
                <tr>
                    <td valign="top" colspan="2" class="borderBottomLightGray">
                        <b>User Information</b>
                    </td>

                </tr>
               
                <tr>
                    <td valign="top" nowrap="nowrap">
                         User Name:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.UserName, new { id = "txtUserName" })
                        <br />  <div style="display: inline; color: red;" id="divStatus"></div>
                    </td>
                    <td>
                        <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />
                    </td>
                </tr>
                @*<tr>
                    <td valign="top" nowrap="nowrap">
                         Password:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(m => m.Password, new { id = "x" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Confirm Password:
                    </td>
                    <td valign="top">
                        @Html.PasswordFor(model => model.ConfirmPassword)
                    </td>
                </tr>*@
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input name="Password" id="txtPassword" type="password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password:
                    </td>
                    <td>
                        <input name="ConfirmPassword" id="txtConfPassword" type="password" onblur="compare();" />
                        <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        First Name:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.FirstName, new { id = "txtFirstName" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Middle Name:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.MiddleName, new { id = "txtMiddleName" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Last Name:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.LastName, new { id = "txtLastName" })
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        Date of Birth:
                    </td>
                    <td valign="top" colspan="2">
                        <input name="DOB" class="DatePickerTextBox" type="text" value="@(Model.DOB.HasValue ? Model.DOB.Value.ToString("MM/dd/yyyy") : "")" />
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        Place of Birth State:
                    </td>
                    <td valign="top">
                        <select name="PlaceOfBirthState" style="width: 150px;">
                            @foreach (var placeofbirhtstate in Model.PlaceOfBirthStateList)
                    {
                                <option value="@placeofbirhtstate.Key" @(placeofbirhtstate.Key != Model.PlaceOfBirthState ? "" : "selected = selected")>@placeofbirhtstate.Value</option>
                            }
                        </select>&nbsp;
                        @*City:<input name="PlaceOfBirth" type="text" value="@Model.PlaceOfBirth" />*@
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        City:
                    </td>
                    <td valign="top">
                       <input name="PlaceOfBirth" type="text" value="@Model.PlaceOfBirth" />
                    </td>
                </tr>
              @if (loggedInUser != null && loggedInUser.UserTypeId == 2)
              {
                <tr>
                    <td  nowrap="nowrap">
                        Available for deployment?
                        </td>
                        <td valign="top">
                        <input type="radio" name="IsAvailableForDeployment" value="true" checked="@(Model.IsAvailableForDeployment.HasValue ? Model.IsAvailableForDeployment : false)" />Yes &nbsp;
                        <input type="radio" name="IsAvailableForDeployment" value="false" checked="@(Model.IsAvailableForDeployment.HasValue ? !Model.IsAvailableForDeployment : true)" />No
                        </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Has been deployed?
                    </td>
                    <td valign="top">
                        <input type="radio" name="IsDeployed" value="true" checked="@(Model.IsDeployed.HasValue ? Model.IsDeployed : false)" />Yes &nbsp;
                        <input type="radio" name="IsDeployed" value="false" checked="@(Model.IsDeployed.HasValue ? !Model.IsDeployed : true)" />No<br />
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Deployment location:
                    </td>
                    <td valign="top">
                        <table>
                            <tr>
                                <td>Zip Code:</td>
                                <td>
                                    <input value="@Model.DeployedZip" name="DeployedZip" id="txtDeployedZip" type="text" onblur="populateZipData('txtDeployedZip','ddlDeployedState','ddlDeployedCity')" />
                                </td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td>
                                    <select name="DeployedState" id="ddlDeployedState" style="width: 150px;">
                                        @foreach (var state in Model.StateList)
                                        {
                                            <option value="@state.Key" @(state.Key != Model.DeployedState ? "" : "selected = selected")>@state.Value</option>
                    }                            
                                    </select>
                                    @*City:<input name="DeployedCity" id="ddlDeployedCity" type="text" value="@Model.DeployedCity" />*@
                                </td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>
                                    <input name="DeployedCity" id="ddlDeployedCity" type="text" value="@Model.DeployedCity" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Rank :
                    </td>
                    <td colspan="2" valign="top">
                        <input id="rb1" type="radio" name="Rank" value="1" checked="@(Model.Rank == 1 ? true : false)" />1&nbsp;
                        <input id="rb2" type="radio" name="Rank" value="2" checked="@(Model.Rank == 2 ? true : false)" />2&nbsp;
                        <input id="rb3" type="radio" name="Rank" value="3" checked="@(Model.Rank == 3 ? true : false)" />3&nbsp;
                        <input id="rb4" type="radio" name="Rank" value="4" checked="@(Model.Rank == 4 ? true : false)" />4&nbsp;
                        <input id="rb5" type="radio" name="Rank" value="5" checked="@(Model.Rank == 5 ? true : false)" />5
                    </td>
                </tr>
              }

            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="2">
            <br />
        </td>
    </tr>
    @*<tr>
        <td valign="top" colspan="3" class="borderBottomLightGray">
            <b>Company Requirements</b>
        </td>

    </tr>
    <tr>
        <td valign="top" colspan="3">*@
            @*<div style="width: 700px;">@Html.Partial("_Requirements", Model.RequirementsViewModel)</div>*@
        @*</td>
    </tr>*@

</table>

<div id="backgroundTemplatePopup" onclick="disableTemplatePopup();"></div>

<div id="divTemplate" class="EditTemplatePopup" style="width: 95%;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Template</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableTemplatePopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeTemplate" style="width: 100%; height: 700px" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
        <tr>
            <td class="footer" align="center">
                <br />
            </td>
        </tr>
    </table>

</div>


<script type="text/javascript">
    //function loadIframetest() {
    //    //alert('wasss up do?');
    //    debugger;
    //    // alert($('#tdtemplate'));
    //    //alert($('#iframeTemplate').contents().find('#txttest').val());
    //    alert( $('#iframeTemplate').contents().find('span.k-input').html());
    //    //var data=$('#iframeTemplate').contents().find('span.k-input');
    //    //$(data).text("Insert PlaceHolder");
    //}

    //$('#iframeTemplate').ready(function () {
    //    //Everything you need.
    //    debugger;
    //    alert('wasss up do?');
    //});


</script>


