﻿@using BLL
@model IEnumerable<GetContractorServiceListbyCompanyId_Result>
           @{
               BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();               
           }

<script>
    $(document).ready(function () {
        debugger;
        $('#chselectallServices').change(function () {

            if ($('#chselectallServices').prop('checked')) {
                $('input[name=cbService]').prop('checked', true);
            } else {
                $('input[name=cbService]').prop('checked', false);
            }
        });
    });
</script>
<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
    <tr>
        <td class="subHeading borderBottomLightGray" nowrap="nowrap">
           
        </td>

    </tr>
    <tr>
        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td nowrap="nowrap">
                            <input type="checkbox" name="chselectallServices" id="chselectallServices" />
                        </td>
                        <td width="30%">
                            Job name
                        </td>
                        <td width="30%">
                            Service name
                        </td>
                        <td width="30%">
                            State
                        </td>
                        <td width="20%">County</td>
                        <td align="center" width="20%"></td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.ToList().Count() > 0 && Model != null)
                    {                                         
                        foreach (var item in Model)
                        {                            
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td>
                                    <input type="checkbox" name="cbService" value="@item.ContractorCompanyserviceId" />
                                </td>
                                <td>
                                    @item.JobDesc
                                </td>
                                <td width="30%">
                                    @item.servicename
                                </td>
                                <td width="30%">
                                    @item.StateName
                                </td>
                                <td width="20%">
                                    @item.CountyName
                                </td>
                                @*<td align="center" width="20%">
                                    <a id="btnQualified" href="javascript:DeleteService(@item.ContractorCompanyserviceId)">
                                        <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" /> 
                                    </a>
                                </td>*@
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="color:red;text-align:center" colspan="3">
                                - No Records -

                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
</table>