﻿@model BLL.ViewModels.DashBoardCountReportViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}


<style>
    #FileStatus option:enabled {
        font-weight: bold;
    }

    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #SubStatuscheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 15%;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #SubStatuscheckboxes label {
            display: block;
        }

            #SubStatuscheckboxes label:hover {
                background-color: #1e90ff;
            }

    #JobTypescheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 15%;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #JobTypescheckboxes label {
            display: block;
        }

            #JobTypescheckboxes label:hover {
                background-color: #1e90ff;
            }

    #ServiceTypescheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 15%;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #ServiceTypescheckboxes label {
            display: block;
        }

            #ServiceTypescheckboxes label:hover {
                background-color: #1e90ff;
            }

    #CatCodecheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 50px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #CatCodecheckboxes label {
            display: block;
        }

            #CatCodecheckboxes label:hover {
                background-color: #1e90ff;
            }

    #FileStatuscheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 142px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #FileStatuscheckboxes label {
            display: block;
        }

            #FileStatuscheckboxes label:hover {
                background-color: #1e90ff;
            }

    #ClaimStatuscheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 75px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #ClaimStatuscheckboxes label {
            display: block;
        }

            #ClaimStatuscheckboxes label:hover {
                background-color: #1e90ff;
            }

    #Statecheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 142px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #Statecheckboxes label {
            display: block;
        }

            #Statecheckboxes label:hover {
                background-color: #1e90ff;
            }


    #ExaminerNamecheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 142px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }

        #ExaminerNamecheckboxes label {
            display: block;
        }

            #ExaminerNamecheckboxes label:hover {
                background-color: #1e90ff;
            }
</style>
<link href="@Url.Content("~/Content/jquery.editable-select.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
       // DisableStatus();
    });
    function DisableStatus() {
        debugger;
        var statusid = $('#DisableStatus').val();
        var statusidlist = new Array();
        statusidlist = statusid.split(",");
        for (a in statusidlist) {
            $('#FileStatus option[value=' + statusidlist[a] + ']').attr('disabled', 'disabled');
        }
    }
    var expanded = false;
    function OpenViewedClaimList() {
        BindSearch();
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function BindSearch() {
        debugger;
        var QuickSearchType = 0;
        $.ajax
         ({
             url: "../PropertyAssignment/BindQuickSearchList?QuickSearchType=" + QuickSearchType,
             type: 'POST',
             dataType: 'json',
             traditional: true,
             timeout: 0,
             async: false,
             success: function (result) {
                 $("#checkboxes").empty();
                 var incr = 0;
                 var item = [];
                 for (var i = 0; i < result.length; i++) {
                     item.push("<label for=" + result[i] + "'onclick='CallSearch(" + result[i] + ")'>" + result[i] + "</label>");
                     //item.push('<li><a onclick=CallSearch("+result[i]+")'>" + result[i] + "</li>");
                     incr++;
                 }
                 if (incr > 10) {
                     var height = $('#checkboxes').height(200);

                 }
                 else {
                     $('#checkboxes').height('auto');
                 }
                 $("#checkboxes").html(item.join(' '));

             },
             error: function (x, e) {
                 alert(e + x);
             }
         });
    }
    function BindClaimSearch() {

        $('#txtClaimnumber').css("display", "none");
        $('#ddlClaimSearch').css("display", "block");
        var QuickSearchType = "Claim Number";
        $.ajax
         ({
             //url: "../PropertyAssignment/BindClaimSearchList?QuickSearchType=" + QuickSearchType,
             url: '@Url.Action("BindClaimSearchList", "PropertyAssignment")',
             type: 'POST',
             dataType: 'json',
             traditional: true,
             timeout: 0,
             async: false,
             data: { QuickSearchType: QuickSearchType },
             success: function (result) {
                 for (var i = 0; i < result.length; i++) {
                     $("#ddlClaimSearch").append('<option>' + result[i] + '</option>');
                 }
                 $('#ddlClaimSearch').editableSelect({ filter: false });
             },
             error: function (x, e) {
                 alert(e + x);
             }
         });

    }


    function ConvertoTextBox() {
        debugger;
        CallClaimSearch();
        $('#txtClaimnumber').css("display", "block");
        $('#txtClaimnumber').val($('#ddlClaimSearch').val());
        $('#ddlClaimSearch').css("display", "none");

    }

    $(document).ready(function () {
        $('#txtClaimnumber').css("display", "block");
        $('#ddlClaimSearch').css("display", "none");


        //$.ajaxSetup({ cache: false });

        //$('.es-list li').click(function () {
        //    debugger;
        //    alert('selected');
        //    CallClaimSearch();
        //    ConvertoTextBox();
        //});
        //$('#ddlClaimSearch').on('change', function () {
        //    alert("select");
        //});

    });

    $('#ddlClaimSearch').on('change', function () {
        alert("select");
    });
    function CallSearch(Claimnumber) {
        //alert("hie");
        debugger;
        //alert(Claimnumber);
        if (Claimnumber == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            //var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;
            var SearchString = "";
            QuickSearchType = $('#QuickSearchType').val();
            SearchString = $('#ddlQuickSearch').val();
            $.ajax
            ({
                //url: "../PropertyAssignment/ClaimExist?Number=" + Claimnumber + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { Number: Claimnumber, QuickSearchType: QuickSearchType, SearchString: SearchString },
                success: function (result) {
                    if (result.resultDisplay) {
                        //window.location.href = "../PropertyAssignment/Details?claimid=" + result.ClaimIdNo;

                        var SearchUrl = '@Url.Action("Details", "PropertyAssignment")';
                        SearchUrl = SearchUrl + "?claimid=" + result.ClaimIdNo;

                        //window.location.href = SearchUrl;


                    }
                    else {
                        if (result.QuickSearchTypes == 0) {
                            alert('This Claim Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 1) {
                            alert('This Policy Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 2) {
                            alert('This Invoice Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 3) {
                            alert('This Insured Name does not exist.');
                        }

                        // document.getElementById('ddlClaimSearch').value = "";
                    }
                },
                error: function (x, e) {
                    alert(e + x);
                }
            });

        }
        return false;

    }
    function CallClaimSearch() {
        debugger;
        //alert(document.getElementById('ddlClaimSearch').value);
        if (document.getElementById('ddlClaimSearch').value == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;

            var SearchUrl = '@Url.Action("QuickSearch", "PropertyAssignment")';
            SearchUrl = SearchUrl + "?QuickSearchType=" + "Claim Number";
            SearchUrl = SearchUrl + "&Number=" + Number;
            window.location.href = SearchUrl;
        }
        return false;
    }

    function CallnewSearch() {
        var chkval = document.getElementById('ddlClaimSearch').value;
        if (chkval != '') {
            //alert(document.getElementById('ddlClaimSearch').value);
            CallClaimSearch();
        }
    }

    $(function () {
        $('#ddlInsuranceCompany').change(function () {
            populateClientPOCDLL('0');
        });
    });

    function populateClientPOCDLL(SelectClientPOCFromList) {
        debugger;
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        $("#imgClientPOCListLoading").show();
        $.getJSON('@Url.Action("GetClientPointOfContactList")',
                { companyId: selectedCategoryId },
                function (subcategories) {
                    var subsSelect = $('#ddlClientPointOfContact');
                    subsSelect.empty();
                    $.each(subcategories, function (index, subcat) {
                        subsSelect.append(
                            $('<option/>')
                                .attr('value', subcat.Value)
                                .text(subcat.Text)
                        );
                    });

                    try {
                        $('#ddlClientPointOfContact').val("@Model.ClientPOCId");
                    }
                    catch (e) {

                    }
                    $("#imgClientPOCListLoading").hide();
                });
    }


    $(document).ready(function () {
       // fillSubStatus();
        FillCatCodes();
        fillJobType(); //Bind Job Type ddl
        fillServiceType(); //Bind Service Type ddl

        fillClaimStatus(); //Bind Claim Status ddl
        fillState(); //Bind State ddl
        fillFileStatus(); //Bind Assignment Status ddl
        if ($('#ddlInsuranceCompany').val() == 0) {
            fillExaminerName(); //Bind Examiner Name ddl
        }
    });

    var expandedCAT = false;
    function ShowCATCodeCheckboxes() {
        var checkboxes = document.getElementById("CatCodecheckboxes");
        if (!expandedCAT) {
            checkboxes.style.display = "inline-grid";
            expandedCAT = true;
        } else {
            checkboxes.style.display = "none";
            expandedCAT = false;
        }
    }

    var expanded = false;
    function showCheckboxes() {
        var checkboxes = document.getElementById("SubStatuscheckboxes");
        if (!expanded) {
            checkboxes.style.display = "inline-grid";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    @*function fillSubStatus() {
        $("#SubStatuscheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';

        item.push("<label for='selectidlable'><input type='checkbox' name='selectalllist' id='selectid' value='selectall' onchange='selectall()'>Select all</label>");

        @for (int i = 0; i < Model.ClaimSubStatusList.Count; i++)
        {

            Model.ClaimSubStatusList[i].Text = Model.ClaimSubStatusList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.ClaimSubStatusList[i].Text';
            @:val = '@Model.ClaimSubStatusList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbCountylist' id=chk_" + txt + " value='" + val + "' onchange='getSelectedCountyIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
        }

      //  $('#SubStatuscheckboxes').height('auto');

    $("#SubStatuscheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedSubStatus").val();
    if ($("#SelectedSubStatus").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#SubStatuscheckboxes label");
            $.each($("#SubStatuscheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#SubStatuscheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedCountyIds();
    }*@

    function FillCatCodes() {
        $("#CatCodecheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl = '';

        @for (int i = 0; i < Model.CATCodeList.Count; i++)
        {

            Model.CATCodeList[i].Text = Model.CATCodeList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.CATCodeList[i].Text';
            @:val = '@Model.CATCodeList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbCatCodelist' id=chk_" + txt + " value='" + val + "' onchange='getSelectedCATCodes()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
        }

    $('#CatCodecheckboxes').height('80px');

    $("#CatCodecheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedCatCode").val();
    if ($("#SelectedCatCode").val() != "") {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#CatCodecheckboxes label");
            $.each($("#CatCodecheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#CatCodecheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedCATCodes();
    }

    function getSelectedCATCodes() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbCatCodelist]:checked').each(function (i, selected) {
            debugger;
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectcatcode').children('option[name="Catcodelist"]').text("--Select--");
        }
        else {
            $('#selectcatcode').children('option[name="Catcodelist"]').text(selectedCheckBoxesText);
        }
        $("#SelectedCatCode").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }

    //function getSelectedCountyIds() {
    //    debugger;
    //    var selectedCheckBoxesValue = '';
    //    var selectedCheckBoxesText = '';
    //    $('input[name=cbCountylist]:checked').each(function (i, selected) {
    //        debugger;
    //        if (selectedCheckBoxesValue.length == 0)
    //        {
    //            selectedCheckBoxesValue += $(selected).val();
    //            selectedCheckBoxesText += $(selected.parentElement).text();
    //        }
    //        else
    //        {
    //            selectedCheckBoxesValue += ',' + $(selected).val();
    //            selectedCheckBoxesText += ',' + $(selected.parentElement).text();
    //        }
    //    });
    //    if (selectedCheckBoxesValue == '')
    //    {
    //        $('#selectClaimSubStatus').children('option[name="claimSubStatuslist"]').text("--Select--");
    //    }
    //    else
    //    {
    //        $('#selectClaimSubStatus').children('option[name="claimSubStatuslist"]').text(selectedCheckBoxesText);
    //    }
    //    $("#SelectedSubStatus").val(selectedCheckBoxesValue);
    //    return selectedCheckBoxesValue;
    //}

    function selectall() {
        if ($('#selectid').prop('checked')) {
            $('input[name=cbCountylist]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbCountylist]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedCountyIds();
    }

    function clearformSearch() {
        //clear form elements
        $('#formSearch').trigger("reset");
        //clear all text Boxes
        $('#formSearch input[type=text]').val("");
        //clear all radio and checkbocex
        $('#formSearch input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
        //clear all Dropdowns
        $('#formSearch option').removeAttr('selected');
        //clear all hidden elements
        $("#formSearch input[type=hidden]").val('');
        //clear multiselect option text mannually
        $("div.selectBox > select > option").text("--Select--");

    }
</script>


<script>
    var expanded = false;
    function showJobTypeCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("JobTypescheckboxes");
        if (!expanded) {
            checkboxes.style.display = "inline-grid";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function selectallJobType() {
        debugger;
        if ($('#selectJobTypeid').prop('checked')) {
            $('input[name=cbJobTypeList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbJobTypeList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedJobTypeIds();
    }

    function fillJobType() {
        debugger;
        $("#JobTypescheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';

        item.push("<label for='selectidlable'><input type='checkbox' name='selectallJobTypelist' id='selectJobTypeid' value='selectallJobType' onchange='selectallJobType()'>Select all</label>");

       @for (int i = 0; i < Model.JobTypesList.Count; i++)
        {
           Model.JobTypesList[i].Text = Model.JobTypesList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.JobTypesList[i].Text';
            @:val = '@Model.JobTypesList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbJobTypeList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedJobTypeIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }

        //$('#JobTypescheckboxes').height('auto');

        $("#JobTypescheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedJobTypes").val();
    if ($("#SelectedJobTypes").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#JobTypescheckboxes label");
            $.each($("#JobTypescheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#JobTypescheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedJobTypeIds();
    }

    function getSelectedJobTypeIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbJobTypeList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectJobType').children('option[name="JobTypeList"]').text("--Select--");
        }
        else {
            $('#selectJobType').children('option[name="JobTypeList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedJobTypes").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }

</script>


<script>
    var expanded = false;
    function showServiceTypeCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("ServiceTypescheckboxes");
        if (!expanded) {
            checkboxes.style.display = "inline-grid";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function selectallServiceType() {
        debugger;
        if ($('#selectServiceTypeid').prop('checked')) {
            $('input[name=cbServiceTypeList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbServiceTypeList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedServiceTypeIds();
    }

    function fillServiceType() {
        debugger;
        $("#ServiceTypescheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';

        item.push("<label for='selectidlable'><input type='checkbox' name='selectallServiceTypelist' id='selectServiceTypeid' value='selectallServiceType' onchange='selectallServiceType()'>Select all</label>");

       @for (int i = 0; i < Model.ServiceTypesList.Count; i++)
        {
           Model.ServiceTypesList[i].Text = Model.ServiceTypesList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.ServiceTypesList[i].Text';
            @:val = '@Model.ServiceTypesList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbServiceTypeList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedServiceTypeIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }

        //$('#ServiceTypescheckboxes').height('auto');

        $("#ServiceTypescheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedServiceTypes").val();
    if ($("#SelectedServiceTypes").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#ServiceTypescheckboxes label");
            $.each($("#ServiceTypescheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#ServiceTypescheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedServiceTypeIds();
    }

    function getSelectedServiceTypeIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbServiceTypeList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        if (selectedCheckBoxesValue == '') {
            $('#selectServiceType').children('option[name="ServiceTypeList"]').text("--Select--");
        }
        else {
            $('#selectServiceType').children('option[name="ServiceTypeList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedServiceTypes").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
</script>

<script>
    var expanded = false;
    function showFileStatusCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("FileStatuscheckboxes");
        if (!expanded) {
            checkboxes.style.display = "inline-grid";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function selectallFileStatus() {
        debugger;
        if ($('#selectFileStatusid').prop('checked')) {
            $('input[name=cbFileStatusList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbFileStatusList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedFileStatusIds();
    }

    function fillFileStatus() {
        debugger;
        $("#FileStatuscheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';

      //item.push("<label for='selectidlable'><input type='checkbox' name='selectallFileStatuslist' id='selectFileStatusid' value='selectallFileStatus' onchange='selectallFileStatus()'>Select all</label>");

       @for (int i = 0; i < Model.FileStatusList.Count; i++)
        {
           Model.FileStatusList[i].Text = Model.FileStatusList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.FileStatusList[i].Text';
            @:val = '@Model.FileStatusList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbFileStatusList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedFileStatusIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }

        //$('#FileStatuscheckboxes').height('auto');

        $("#FileStatuscheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedFileStatus").val();
    debugger;
    if ($("#SelectedFileStatus").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#FileStatuscheckboxes label");
            $.each($("#FileStatuscheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#FileStatuscheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedFileStatusIds();
    }

    function getSelectedFileStatusIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';


        $('input[name=cbFileStatusList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 assignment status
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[name=cbFileStatusList]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Allowed to select only 5 Status.");
            }
        });


        if (selectedCheckBoxesValue == '') {
            $('#selectFileStatus').children('option[name="FileStatusList"]').text("--Select--");
        }
        else {
            $('#selectFileStatus').children('option[name="FileStatusList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedFileStatus").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }

</script>


<script>
    var expandedClaimStatus = false;
    function showClaimStatusCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("ClaimStatuscheckboxes");
        if (!expandedClaimStatus) {
            checkboxes.style.display = "inline-grid";
            expandedClaimStatus = true;
        } else {
            checkboxes.style.display = "none";
            expandedClaimStatus = false;
        }
    }

    function selectallClaimStatus() {
        debugger;
        if ($('#selectClaimStatusid').prop('checked')) {
            $('input[name=cbClaimStatusList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbClaimStatusList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedClaimStatusIds();
    }

    function fillClaimStatus() {
        debugger;
        $("#ClaimStatuscheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';

        item.push("<label for='selectidlable'><input type='checkbox' name='selectallClaimStatuslist' id='selectClaimStatusid' value='selectallClaimStatus' onchange='selectallClaimStatus()'>Select all</label>");

       @for (int i = 0; i < Model.ClaimStatusList.Count; i++)
        {
           Model.ClaimStatusList[i].Text = Model.ClaimStatusList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.ClaimStatusList[i].Text';
            @:val = '@Model.ClaimStatusList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbClaimStatusList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedClaimStatusIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }

        //$('#FileStatuscheckboxes').height('auto');

        $("#ClaimStatuscheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedClaimStatus").val();
    debugger;
    if ($("#SelectedClaimStatus").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#ClaimStatuscheckboxes label");
            $.each($("#ClaimStatuscheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#ClaimStatuscheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedClaimStatusIds();
    }

    function getSelectedClaimStatusIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';


        $('input[name=cbClaimStatusList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });

        if (selectedCheckBoxesValue == '') {
            $('#selectClaimStatus').children('option[name="ClaimStatusList"]').text("--Select--");
        }
        else {
            $('#selectClaimStatus').children('option[name="ClaimStatusList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedClaimStatus").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }

</script>

<script>
    var expandedState = false;
    function showStateCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("Statecheckboxes");
        if (!expandedState) {
            checkboxes.style.display = "inline-grid";
            expandedState = true;
        } else {
            checkboxes.style.display = "none";
            expandedState = false;
        }
    }

    function selectallState() {
        debugger;
        if ($('#selectStateid').prop('checked')) {
            $('input[name=cbStateList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbStateList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedStateIds();
    }

    function fillState() {
        debugger;
        $("#Statecheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';

      //item.push("<label for='selectidlable'><input type='checkbox' name='selectallFileStatuslist' id='selectFileStatusid' value='selectallFileStatus' onchange='selectallFileStatus()'>Select all</label>");

       @for (int i = 0; i < Model.StateList.Count; i++)
        {
           Model.StateList[i].Text = Model.StateList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.StateList[i].Text';
            @:val = '@Model.StateList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbStateList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedStateIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }

        //$('#Statecheckboxes').height('auto');

        $("#Statecheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedState").val();
    debugger;
    if ($("#SelectedState").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#Statecheckboxes label");
            $.each($("#Statecheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#Statecheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedStateIds();
    }

    function getSelectedStateIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';


        $('input[name=cbStateList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 State
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[name=cbStateList]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Allowed to select only 5 State.");
            }
        });


        if (selectedCheckBoxesValue == '') {
            $('#selectState').children('option[name="StateList"]').text("--Select--");
        }
        else {
            $('#selectState').children('option[name="StateList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedState").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }

</script>

<script>

    function fillExaminerName() {
        debugger;
        $("#imgClientPOCListLoading").show();
        $("#ExaminerNamecheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';


       @for (int i = 0; i <  Model.ClientPointofContactList.Count; i++)
        {
           Model.ClientPointofContactList[i].Text = Model.ClientPointofContactList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.ClientPointofContactList[i].Text';
            @:val = '@Model.ClientPointofContactList[i].Value';

            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedExaminerNameIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
       }

    $("#ExaminerNamecheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedExaminerName").val();
    debugger;
    if ($("#SelectedExaminerName").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#ExaminerNamecheckboxes label");
            $.each($("#ExaminerNamecheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#ExaminerNamecheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }

    getSelectedExaminerNameIds();
    $("#imgClientPOCListLoading").hide();
    }



    function FillExaminerNameSearch()
    {
        debugger;
        $("#ExaminerNamecheckboxes").empty();
        $("#imgClientPOCListLoading").show();
        $('#selectExaminerName').children('option[name="ExaminerNameList"]').text("--Select--");

        $.ajax({
            url: '@Url.Action("GetExaminerNames", "PropertyAssignment")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { companyId: $('#ddlInsuranceCompany').val() },
            type: 'GET',
            success: function (data)
            {
                var incr = 0;
                var item = [];

                $.each(data, function () {

                    item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()'>" + this.Text + "</label>");
                    incr++;
                });
                if (incr > 10) {
                    var height = $('#ExaminerNamecheckboxes').height(200);
                }
                else {
                    $('#ExaminerNamecheckboxes').height('auto');
                }
                $("#ExaminerNamecheckboxes").html(item.join(' '));
                getSelectedExaminerNameIds();
                $("#imgClientPOCListLoading").hide();
            }

        });
    }

    function getSelectedExaminerNameIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        //var selectedCheckBoxesValue = $("#SelectedExaminerName").val();
        $('input[name=cbExaminerNameList]:checked').each(function (i, selected) {
            var s = $("#SelectedExaminerName").val();
            if (selectedCheckBoxesValue.length == 0)
            {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else
            {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ','+$(selected.parentElement).text();
            }
        });

        //Select upto 5 Examiner Name
        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[name=cbExaminerNameList]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Allowed to select only 5 Examiner Name.");
            }
        });

        if (selectedCheckBoxesValue == '')
        {
            $('#selectExaminerName').children('option[name="ExaminerNameList"]').text("--Select--");
        }
        else
        {

            $('#selectExaminerName').children('option[name="ExaminerNameList"]').text(selectedCheckBoxesText);
        }
        //$("#SelectedExaminerName").val(selectedCheckBoxesValue);
        //selectedCheckBoxesValue = $("#SelectedExaminerName").val();
        $("#SelectedExaminerName").val(selectedCheckBoxesValue);
        selectedCheckBoxesValue = $("#SelectedExaminerName").val();
        return selectedCheckBoxesValue;

    }

    //function selectall()
    //{
    //    debugger;
    //    if ($('#selectid').prop('checked'))
    //    {
    //        $('input[name=cbExaminerNameList]').each(function (i, selected) {
    //            $(selected).prop("checked", true);
    //        });
    //    }
    //    else
    //    {
    //        $('input[name=cbExaminerNameList]').each(function (i, selected) {
    //            $(selected).prop("checked", false);
    //        });
    //    }
    //    getSelectedExaminerNameIds();
    //}

    var expandedExaminerName = false;
    function showExaminerNameCheckboxes() {
        var checkboxes = document.getElementById("ExaminerNamecheckboxes");
        if (!expandedExaminerName) {
            checkboxes.style.display = "inline-grid";
            expandedExaminerName = true;
        } else {
            checkboxes.style.display = "none";
            expandedExaminerName = false;
        }
    }


    function preSelectExaminerNames() {
        debugger;
        var s = $("#SelectedExaminerName").val();
        var companyId= $('#ddlInsuranceCompany').val();
        if ($("#SelectedExaminerName").val() != "") {
            $("#ExaminerNamecheckboxes").empty();
            $('#selectExaminerName').children('option[name="ExaminerNameList"]').text("--Select--");

            $.ajax({
                url: '@Url.Action("GetExaminerNames", "PropertyAssignment")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: true,
                data: { companyId: companyId },
                type: 'GET',
                success: function (data) {
                    debugger;
                    var incr = 0;
                    var item = [];
                    var cNames = $("#SelectedExaminerName").val();
                    if (cNames.indexOf(",") > 0) {
                        var cNameArray = cNames.split(",");

                        $.each(data, function () {

                            if (cNameArray.indexOf(this.Value) > -1) {
                                item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()' checked=true>" + this.Text + "</label>");

                            }
                            else {
                                item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Value + "'onchange='getSelectedExaminerNameIds()'>" + this.Text + "</label>");
                            }
                            incr++;
                        });
                    }
                    else if (cNames != "") {
                        var cNameArray = cNames;
                        $.each(data, function () {
                            if (cNameArray == this.Value) {
                                item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Text + "'onchange='getSelectedExaminerNameIds()' checked=true>" + this.Text + "</label>");
                            }
                            else {
                                item.push("<label for=" + this.Value + "><input type='checkbox' name='cbExaminerNameList' id=chk_" + this.Value + " value='" + this.Text + "'onchange='getSelectedExaminerNameIds()'>" + this.Text + "</label>");
                            }
                            incr++;
                        });
                    }
                    if (incr > 10) {
                        var height = $('#ExaminerNamecheckboxes').height(200);
                    }
                    else {
                        $('#ExaminerNamecheckboxes').height('auto');
                    }
                    $("#ExaminerNamecheckboxes").html(item.join(' '));
                    getSelectedExaminerNameIds();
                }
            });
        }
    }

</script>

<table width="100%">
    <tr>
        <td width="25%" align="left" valign="top">

            <table width="100%">
                <tr>
                    <td nowrap="nowrap" align="right">Claim Number: </td>
                    <td valign="top" width="100%">
                        <span style="display: flex;">
                            @Html.TextBoxFor(model => model.ClaimNumber, new { id = "txtClaimnumber" })
                            <select id="ddlClaimSearch" style="width: 162px;display:none;"> </select><img src="~/Content/Images/folder_out.png" onclick="loadPopupClaimsSearchList()" title="Recent Claims">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" align="right">Policy Number: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.PolicyNumber)
                    </td>

                </tr>
                <tr>
                    <td nowrap="nowrap" align="right">Invoice Number: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.InvoiceNumber)
                    </td>

                </tr>
                <tr>
                    <td align="right">Last Name: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(m => Model.LastName)
                    </td>

                </tr>

                <tr>
                    <td align="right">City: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.City)
                    </td>

                </tr>

                <tr>
                    <td align="right">Zip Code:</td>
                    <td>@Html.TextBoxFor(model => model.Zip)</td>
                </tr>
                <tr>
                    <td align="right">Distance in Miles</td>
                    <td>@Html.TextBoxFor(model => model.Distance)</td>
                </tr>
                <tr>
                    <td align="right">State:</td>
                    <td style="display: none;">@Html.DropDownListFor(model => model.State, Model.StateList, new { style = "width:150px;" })</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showStateCheckboxes()">
                                <select id="selectState">
                                    <option name="StateList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="Statecheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedState)
                    </td>
                </tr>


            </table>

        </td>
        <td width="25%" align="left" valign="top">
            <table>
                @*<tr>
                        <td align="right">CAT Code: </td>
                        <td>
                            @Html.TextBoxFor(model => model.CatCode)
                        </td>
                    </tr>*@
                <tr>
                    <td align="right">CAT Code:</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="ShowCATCodeCheckboxes()">
                                <select id="selectcatcode">
                                    <option name="Catcodelist">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="CatCodecheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedCatCode)
                    </td>
                </tr>
                <tr>
                    <td align="right">Loss Type:</td>
                    <td>@Html.DropDownListFor(model => model.LossType, Model.LossTypeList, new { style = "width:150px;" })</td>
                </tr>

                <tr>
                    <td align="right">Assignment Status:</td>
                    <td style="display:none;">@Html.DropDownListFor(model => model.FileStatus, Model.FileStatusList, new { style = "width:150px;" })</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showFileStatusCheckboxes()">
                                <select id="selectFileStatus">
                                    <option name="FileStatusList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="FileStatuscheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedFileStatus)
                    </td>
                </tr>
                <tr>
                    <td align="right" nowrap="nowrap">
                        Date From:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right" nowrap="nowrap">
                        Assignment Created Date From:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.AssignmentCreatedDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.AssignmentCreatedDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
            </table>
        </td>
        <td width="25%" align="left" valign="top">
            <table>
                <tr>
                    @if (loggedInUser.UserTypeId == 11)
                    {
                        <td align="right">Insurance Company:</td>
                        <td>@Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { style = "width:150px;", @id = "ddlInsuranceCompany", @disabled = "disabled" })</td>
                    }
                    else
                    {
                        <td align="right">Insurance Company:</td>
                        <td>
                            @*@Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { style = "width:150px;", @id = "ddlInsuranceCompany" })*@
                            @Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { style = "width:150px;", @id = "ddlInsuranceCompany", @onchange = "FillExaminerNameSearch()" })
                            <img id="imgIsuranceCompanyLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                        </td>
                    }
                </tr>
                @*<tr>
                    <td align="right">Policy System:</td>
                    <td>
                        @Html.DropDownListFor(model => model.PolicySystem, Model.PolicySystemList, new { style = "width:150px;" })
                    </td>
                </tr>*@
                <tr>
                    <td align="right">Examiner Name:</td>
                    <td style="display:none;">
                        @Html.DropDownListFor(model => model.ClientPOCId, Model.ClientPocListForSearch, new { @id = "ddlClientPointOfContact", style = "width:150px;" })
                        <img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                    </td>

                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showExaminerNameCheckboxes()">
                                <select id="selectExaminerName">
                                    <option name="ExaminerNameList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="ExaminerNamecheckboxes">
                            </div>
                        </div>
                        <img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                        @Html.HiddenFor(x => x.SelectedExaminerName)
                    </td>
                </tr>
                @if (Model.ReportType == 1)
                {
                    <tr>
                        <td align="right">SP Name:</td>
                        <td>@Html.TextBoxFor(model => model.SPName)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td align="right">SP:</td>
                        <td>@Html.DropDownListFor(model => model.SelectedSPId, Model.SPList, new { style = "width:150px;" })</td>
                    </tr>
                    <tr>
                        <td align="right">Contractor:</td>
                        <td>@Html.DropDownListFor(model => model.SelectedContractorId, Model.ContractorCompanyList, new { style = "width:150px;" })</td>
                    </tr>
                }

            </table>
        </td>
        <td width="25%" align="left" valign="top">
            <table>
                <tr>
                    <td align="right">Claim Status:</td>
                    <td style="display:none;">@Html.DropDownListFor(model => model.ClaimStatusId, Model.ClaimStatusList, new { style = "width:150px;" })</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showClaimStatusCheckboxes()">
                                <select id="selectClaimStatus">
                                    <option name="ClaimStatusList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="ClaimStatuscheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedClaimStatus)
                    </td>
                </tr>
                @*<tr>
                    <td align="right">Claim Sub Status:</td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select id="selectClaimSubStatus">
                                    <option name="claimSubStatuslist">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="SubStatuscheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedSubStatus)
                    </td>
                </tr>*@
                <tr>
                    <td align="right" nowrap="nowrap">
                        Date Received From:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateReceivedFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DateReceivedTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr>
                    <td align="right">Job Type:</td>
                    <td style="display:none;">
                        @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { style = "width:150px;" })
                    </td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showJobTypeCheckboxes()">
                                <select id="selectJobType">
                                    <option name="JobTypeList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="JobTypescheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedJobTypes)
                    </td>

                </tr>
                <tr>
                    <td align="right">Service Type:</td>
                    <td style="display:none;">
                        @Html.DropDownListFor(model => model.ServiceTypeId, Model.ServiceTypesList, new { style = "width:150px;" })
                    </td>
                    <td>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showServiceTypeCheckboxes()">
                                <select id="selectServiceType">
                                    <option name="ServiceTypeList">--Select--</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="ServiceTypescheckboxes">
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.SelectedServiceTypes)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Retain Search:
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.IsRetainSearch)

                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        if ($("#ddlInsuranceCompany").val() != "0") {
            expandSearchFilter();
        }
        debugger;
        preSelectExaminerNames();


    });
</script>