﻿@model BLL.ViewModels.HomeViewModel
@using CSS
@using BLL
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<style type="text/css">
    .mainTableHeader {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #C1C1C1;
    }

    .subTableHeader1 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #D8D8D8;
    }

    .subTableHeader2 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #E0E0E0;
    }

    .subTableHeader3 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #EAEAEA;
    }
</style>
<script type="text/javascript">
   
    
    
    function showRecordData(controlId) {
        $("#tr" + controlId).show();
        $("#imgExpand" + controlId).hide();
        $("#imgCollapse" + controlId).show();
    }
    function hideRecordData(controlId) {
        $("#tr" + controlId).hide();
        $("#imgExpand" + controlId).show();
        $("#imgCollapse" + controlId).hide();

    }
    
    
</script>
<div id="divCompanyView" style="width: 100%;">
    <table style="width: 100%;" cellpadding="5" cellspacing="0">
        <tr>
            <td class="mainTableHeader"><span id="Level1GroupDesc">Company</span>
            </td>
            <td class="mainTableHeader" align="center">Contact
                <br />
                Over Due</td>
            <td class="mainTableHeader" align="center">Inspection
                <br />
                Over Due</td>
            <td class="mainTableHeader" align="center">Final Upload
                <br />
                Over Due</td>
            <td class="mainTableHeader" align="center">Misc. Over Due</td>
        </tr>
        @{
            List<usp_DiarySummaryMasterLevel1_Result> diarySummaryMaster = css.usp_DiarySummaryMasterLevel1(Model.Level1GroupId, Model.Level1GroupFilter).ToList();
            for (int i = 0; i < diarySummaryMaster.Count; i++)
            {
                usp_DiarySummaryMasterLevel1_Result recordI = diarySummaryMaster[i];
            <tr>
                <td @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                    <img id="@("imgExpand" + i)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordData('@("" + i)')" />
                    <img id="@("imgCollapse" + i)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordData('@("" + i)')" style="display:none;" /> @recordI.Level1_Desc</td>
                <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.ContactOverDue</a></td>
                <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.InspectionOverDue</a></td>
                <td  align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.FinalUploadOverDue</a></td>
                <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.MiscOverDue</a></td>
            </tr>
            <tr id="@("tr" + i)" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                <td colspan="7" align="right">
                    <table style="width: 98%;" cellpadding="5" cellspacing="0">
                        <tr>
                            <td class="subTableHeader1"><span id="Level2GroupDesc">CSS POC</span>
                            </td>
                            <td class="subTableHeader1" align="center">Contact
                                <br />
                                Over Due</td>
                            <td class="subTableHeader1" align="center">Inspection
                                <br />
                                Over Due</td>
                            <td class="subTableHeader1" align="center">Final Upload
                                <br />
                                Over Due</td>
                            <td class="subTableHeader1" align="center">Misc. Over Due</td>
                        </tr>
                        @{
                List<usp_DiarySummaryMasterLevel2_Result> diarySummaryCompany = css.usp_DiarySummaryMasterLevel2(Model.Level1GroupId, recordI.Level1_ID, Model.Level2GroupId).ToList();
                for (int j = 0; j < diarySummaryCompany.Count; j++)
                {
                    usp_DiarySummaryMasterLevel2_Result recordJ = diarySummaryCompany[j];
                            <tr  @(j % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                <td>
                                    <img id="@("imgExpand" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordData('@("" + i + "" + j)')" />
                                    <img id="@("imgCollapse" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordData('@("" + i + "" + j)')" style="display:none;" /> @recordJ.Level2_Desc</td>
                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.ContactOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.InspectionOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.FinalUploadOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.MiscOverDue</a></td>
                            </tr>
                            <tr id="@("tr" + i + "" + j)" style="display:none;"  @(j % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                <td colspan="7" align="right">
                                    <table style="width: 98%;" cellpadding="5" cellspacing="0">
                                        <tr>
                                            <td class="subTableHeader2"><span id="Level3GroupDesc">Service Provider</span>
                                            </td>
                                            <td align="center" class="subTableHeader2">Contact
                                                <br />
                                                Over Due</td>
                                            <td align="center" class="subTableHeader2">Inspection
                                                <br />
                                                Over Due</td>
                                            <td align="center" class="subTableHeader2">Final Upload
                                                <br />
                                                Over Due</td>
                                            <td align="center" class="subTableHeader2">Misc Over Due</td>
                                        </tr>
                                        @{
                    List<usp_DiarySummaryMasterLevel3_Result> diarySummaryCSSPOC = css.usp_DiarySummaryMasterLevel3(Model.Level1GroupId, recordI.Level1_ID, Model.Level2GroupId, recordJ.Level2_ID,Model.Level3GroupId).ToList();
                    for (int k = 0; k < diarySummaryCSSPOC.Count; k++)
                    {
                        usp_DiarySummaryMasterLevel3_Result recordK = diarySummaryCSSPOC[k];
                                            <tr @(k % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                                <td >@recordK.Level3_Desc</td>
                                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.ContactOverDue</a></td>
                                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.InspectionOverDue</a></td>
                                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.FinalUploadOverDue</a></td>
                                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.MiscOverDue</a></td>
                                            </tr>
                    }
                                        }
                                    </table>
                                </td>
                            </tr>
                }
                        }
                    </table>
                </td>
            </tr>
            }
        }
    </table>
</div>