﻿@model BLL.ViewModels.HomeViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script type="text/javascript">
    $(function () {
        refreshGroupHeading();

        var previous;

        $("#ddlLevel1GroupList").focus(function () {
            previous = this.value;
        }).change(function () {
            if ($("#ddlLevel2GroupList").val() == this.value) {
                $("#ddlLevel2GroupList").val(previous)
            }
            else if ($("#ddlLevel3GroupList").val() == this.value) {
                $("#ddlLevel3GroupList").val(previous)
            }
        });


        $("#ddlLevel2GroupList").one('focus', function () {
            previous = this.value;
        }).change(function () {
            if ($("#ddlLevel1GroupList").val() == this.value) {
                $("#ddlLevel1GroupList").val(previous)
            }
            else if ($("#ddlLevel3GroupList").val() == this.value) {
                $("#ddlLevel3GroupList").val(previous)
            }

        });

        $("#ddlLevel3GroupList").one('focus', function () {
            previous = this.value;
        }).change(function () {
            if ($("#ddlLevel1GroupList").val() == this.value) {
                $("#ddlLevel1GroupList").val(previous)
            }
            else if ($("#ddlLevel2GroupList").val() == this.value) {
                $("#ddlLevel2GroupList").val(previous)
            }

        });

    });



    function ddlLevel1GroupList_Change() {

    }
    function ddlLevel2GroupList_Change() {
    }
    function ddlLevel3GroupList_Change() {
    }
    function refreshGroupHeading() {
        $("#Level1GroupDesc").text($("#ddlLevel1GroupList option:selected").text());
        $("#Level2GroupDesc").text($("#ddlLevel2GroupList option:selected").text());
        $("#Level3GroupDesc").text($("#ddlLevel3GroupList option:selected").text());
    }
    function btnAdminViewRefresh_Click() {
        if ($("#ddlLevel1GroupList").val() == $("#ddlLevel2GroupList").val() || $("#ddlLevel2GroupList").val() == $("#ddlLevel3GroupList").val() || $("#ddlLevel1GroupList").val() == $("#ddlLevel3GroupList").val()) {
            $("#ddlLevel1GroupList").val("0");
            $("#ddlLevel2GroupList").val("1");
            $("#ddlLevel3GroupList").val("2");
        }
        $("#imgAdminViewRefresh").show();
        $.ajax({
            url: '@Url.Action("DiarySummaryAdmin", "Home")',
            contentType: 'application/json; charset=utf-8',
            data: $('#frmHome').serialize(),
            cache: false,
            success: function (result) {
                $('#divDiarySummaryAdmin').empty().append(result);
                refreshGroupHeading();
                $("#imgAdminViewRefresh").hide();
            },
            error: function (error) {
                $("#imgAdminViewRefresh").hide();
            }
        });
    }
</script>
@using(Html.BeginForm("Index","Home",FormMethod.Post, new {@id = "frmHome"}))
{
if (loggedInUser.UserTypeId == 2)
{
if(loggedInUser.AssignedRights.Contains((byte)2))
{
<div><b>Examiner View</b></div>
<div>@Html.Partial("_DiarySummaryCSSPOC")</div>
    <br /><br />
}
<div>
    <div><b>Administrator View</b></div>
    <div>
<table>
<tr>
<td>Filter: @Html.TextBoxFor(model => model.Level1GroupFilter, new {@style="width:140px;"})</td>
<td>Hierarchy: @Html.DropDownListFor(model => model.Level1GroupId, Model.Level1GroupList, new {@id = "ddlLevel1GroupList", @style="width:120px;"}) @Html.DropDownListFor(model => model.Level2GroupId, Model.Level2GroupList, new {@id = "ddlLevel2GroupList", @style="width:120px;"}) @Html.DropDownListFor(model => model.Level3GroupId, Model.Level3GroupList, new {@id = "ddlLevel3GroupList", @style="width:120px;"})</td>
<td><input value="Refresh" onclick="btnAdminViewRefresh_Click()" type="button" class="buttonLightYellow_100" /></td>
<td><img id="imgAdminViewRefresh"  style="display:none;vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" width="14" height="14" src="@Url.Content("~/Content/Images/progress01.gif")" /></td>
</tr>
</table>
<table>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
@*<td>@Html.TextBoxFor(model => model.Level2GroupFilter, new {@style="width:120px;"})</td>
<td>@Html.TextBoxFor(model => model.Level3GroupFilter, new {@style="width:120px;"})</td>*@
<td colspan="2" align="right" valign="middle"> 

                    

</td>
<td align="left" valign="top">

</td>
</tr>
</table>
    </div>
    <div id="divDiarySummaryAdmin">@Html.Partial("_DiarySummaryAdminV2")</div>
<br />


</div>

}
else if (loggedInUser.UserTypeId == 3)
{
    @Html.Partial("_DiarySummaryCSSPOC")
}
else
{
    @Html.Partial("_DiarySummarySP")
}
}