﻿@model BLL.ViewModels.DiarySummaryLevelOverDueClaimsListViewModel
<div style="text-align:left;">
<table>
@if(!String.IsNullOrEmpty(Model.Level1_Desc))
{
<tr><td>@Model.Level1Group_Desc:</td><td><b>@Model.Level1_Desc</b></td></tr>
}
@if(!String.IsNullOrEmpty(Model.Level2_Desc))
{
<tr><td>@Model.Level2Group_Desc:</td><td><b>@Model.Level2_Desc</b></td></tr>
}
@if(!String.IsNullOrEmpty(Model.Level3_Desc))
{
<tr><td>@Model.Level3Group_Desc:</td><td><b>@Model.Level3_Desc</b></td></tr>
}
</table>
 

<br />
    </div>
<table width="100%">
<thead class="tableHeader">
<tr>

       <td width="35%">Claim #</td>
    <td width="25%">Insured Name</td>
    <td width="30%">Due Date</td>
<td width="10%">Overdue Diaries</td>




   @* <td width="40%">Claim #</td>
<td width="60%">Overdue Diary Count</td>*@
</tr>
</thead>

    @{
        int i = 0;
        foreach (var claim in Model.ClaimsList)
        {

        <tr class="@(i%2==0?"tableRowAlternate":"tableRow")">
            @*<td style="text-align:left;" nowrap="nowrap">@Html.ActionLink(claim.ClaimNumber, "Details", "PropertyAssignment", new { @claimId = CSS.Cypher.EncryptString(claim.ClaimId+"") }, null)</td>*@
            @{
                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                var CANAssignmentjobID = css.AssignmentJobs.Where(a => a.AssignmentId == claim.AssignmentId).FirstOrDefault().AssignmentJobId;
                <td style="text-align:left;" nowrap="nowrap">@Html.ActionLink(claim.ClaimNumber, "GetReferalDetails", "PropertyAssignment", new { ClaimId = claim.ClaimId, Jobid = claim.JobId, IsView = true, ServiceId = claim.ServiceId, CanAssignmentJobId = CANAssignmentjobID }, null)</td>
            }
            
            <td>@claim.InsuredName</td>
            <td>@claim.DueDate</td>
<td>@claim.OverDueDiaryCount</td>
        </tr>
            i++;
        }
        if(i==0)
        {
            <tr class="tableRowAlternate"><td style="text-align:center;" colspan="4">No Overdue Claims</td></tr>
        }
    }
</table>
