﻿@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
@using CSS

<style type="text/css">
    .mainTableHeader {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #C1C1C1;
    }

    .subTableHeader1 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #D8D8D8;
    }

    .subTableHeader2 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #E0E0E0;
    }

    .subTableHeader3 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #EAEAEA;
    }
</style>
<table style="width: 100%;" cellpadding="5" cellspacing="0">
    <tr>
        <td class="mainTableHeader" align="left">Claim #</td>
        <td class="mainTableHeader" align="left" nowrap="nowrap">Insured Name</td>
        <td class="mainTableHeader" align="left">Title</td>
        <td class="mainTableHeader" align="left">Description</td>
        <td class="mainTableHeader" align="center">Date</td>
        <td class="mainTableHeader" align="left">Status</td>

    </tr>
    @{
        if (loggedInUser != null)
        {
            List<BLL.DiaryItemsforSPGetDetails_Result> diarySummary = css.DiaryItemsforSPGetDetails(loggedInUser.UserId).ToList();
            for (int i = 0; i < diarySummary.Count; i++)
            {
                BLL.DiaryItemsforSPGetDetails_Result recordI = diarySummary[i];
                var AssignmentJobDetails = css.AssignmentJobs.Where(x => x.AssignmentId == recordI.AssignmentId).FirstOrDefault();
                
        <tr valign="top">
            <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.ClaimNumber</td>
            <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.InsuredName</td>
            @*<td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a href="@Url.Action("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(@recordI.ClaimId.ToString()) })">@recordI.Title</a></td>*@
            <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = recordI.ClaimId, Jobid = AssignmentJobDetails.JobId, IsView = true, ServiceId = AssignmentJobDetails.ServiceId })' style="border: none; color: black; text-decoration: none;">@recordI.Title</a></td>            
            <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.DiaryDesc</td>
            <td  align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.CreatedDate.ToString()</td>

            <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.StatusDescription</td>

        </tr>
            }

        }
             
           
            
          
    }

</table>
