﻿@*@using BLL
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<style type="text/css">
    .mainTableHeader {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #C1C1C1;
    }

    .subTableHeader1 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #D8D8D8;
    }

    .subTableHeader2 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #E0E0E0;
    }

    .subTableHeader3 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #EAEAEA;
    }
</style>
<script type="text/javascript">
    function showRecordData(controlId) {
        $("#tr" + controlId).show();
        $("#imgExpand" + controlId).hide();
        $("#imgCollapse" + controlId).show();
    }
    function hideRecordData(controlId) {
        $("#tr" + controlId).hide();
        $("#imgExpand" + controlId).show();
        $("#imgCollapse" + controlId).hide();

    }
</script>
<div id="divCompanyView" style="width: 100%;">
    <table style="width: 100%;" cellpadding="5" cellspacing="0">
        <tr>
            <td class="mainTableHeader">Company
            </td>
            <td class="mainTableHeader" align="center">Contact
                <br />
                Over Due</td>
            <td class="mainTableHeader" align="center">Inspection
                <br />
                Over Due</td>
            <td class="mainTableHeader" align="center">Final Upload
                <br />
                Over Due</td>
            <td class="mainTableHeader" align="center">Misc. Over Due</td>
        </tr>
        @{
            List<usp_DiarySummaryMaster_Result> diarySummaryMaster = css.usp_DiarySummaryMaster().ToList();
            for (int i = 0; i < diarySummaryMaster.Count; i++)
            {
                usp_DiarySummaryMaster_Result recordI = diarySummaryMaster[i];
            <tr>
                <td @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                    <img id="@("imgExpand" + i)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordData('@("" + i)')" />
                    <img id="@("imgCollapse" + i)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordData('@("" + i)')" style="display:none;" /> @recordI.CompanyName</td>
                <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','0','','0','')">@recordI.ContactOverDue</a></td>
                <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','0','','0','')">@recordI.InspectionOverDue</a></td>
                <td  align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','0','','0','')">@recordI.FinalUploadOverDue</a></td>
                <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','0','','0','')">@recordI.MiscOverDue</a></td>
            </tr>
            <tr id="@("tr" + i)" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                <td colspan="7" align="right">
                    <table style="width: 98%;" cellpadding="5" cellspacing="0">
                        <tr>
                            <td class="subTableHeader1">CSS POC
                            </td>
                            <td class="subTableHeader1" align="center">Contact
                                <br />
                                Over Due</td>
                            <td class="subTableHeader1" align="center">Inspection
                                <br />
                                Over Due</td>
                            <td class="subTableHeader1" align="center">Final Upload
                                <br />
                                Over Due</td>
                            <td class="subTableHeader1" align="center">Misc. Over Due</td>
                        </tr>
                        @{
                List<usp_DiarySummaryCompany_Result> diarySummaryCompany = css.usp_DiarySummaryCompany(recordI.HeadCompanyId).ToList();
                for (int j = 0; j < diarySummaryCompany.Count; j++)
                {
                    usp_DiarySummaryCompany_Result recordJ = diarySummaryCompany[j];
                            <tr  @(j % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                <td>
                                    <img id="@("imgExpand" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordData('@("" + i + "" + j)')" />
                                    <img id="@("imgCollapse" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordData('@("" + i + "" + j)')" style="display:none;" /> @recordJ.CSSPOCName</td>
                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','0','')">@recordJ.ContactOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','0','')">@recordJ.InspectionOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','0','')">@recordJ.FinalUploadOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','0','')">@recordJ.MiscOverDue</a></td>
                            </tr>
                            <tr id="@("tr" + i + "" + j)" style="display:none;"  @(j % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                <td colspan="7" align="right">
                                    <table style="width: 98%;" cellpadding="5" cellspacing="0">
                                        <tr>
                                            <td class="subTableHeader2">Service Provider
                                            </td>
                                            <td align="center" class="subTableHeader2">Contact
                                                <br />
                                                Over Due</td>
                                            <td align="center" class="subTableHeader2">Inspection
                                                <br />
                                                Over Due</td>
                                            <td align="center" class="subTableHeader2">Final Upload
                                                <br />
                                                Over Due</td>
                                            <td align="center" class="subTableHeader2">Misc Over Due</td>
                                        </tr>
                                        @{
                    List<usp_DiarySummaryCSSPOC_Result> diarySummaryCSSPOC = css.usp_DiarySummaryCSSPOC(recordJ.HeadCompanyId, recordJ.CSSPointofContactUserId).ToList();
                    for (int k = 0; k < diarySummaryCSSPOC.Count; k++)
                    {
                        usp_DiarySummaryCSSPOC_Result recordK = diarySummaryCSSPOC[k];
                                            <tr @(k % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                                <td >@recordK.SPName</td>
                                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordK.OAUserID','@recordK.SPName')">@recordK.ContactOverDue</a></td>
                                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordK.OAUserID','@recordK.SPName')">@recordK.InspectionOverDue</a></td>
                                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordK.OAUserID','@recordK.SPName')">@recordK.FinalUploadOverDue</a></td>
                                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordK.OAUserID','@recordK.SPName')">@recordK.MiscOverDue</a></td>
                                            </tr>
                    }
                                        }
                                    </table>
                                </td>
                            </tr>
                }
                        }
                    </table>
                </td>
            </tr>
            }
        }
    </table>
</div>*@
