﻿@model BLL.ViewModels.DiarySummaryOverDueClaimsListViewModel

<div style="text-align:left;">
Company: @Model.CompanyName<br />
@if(Model.CSSPOCUserId > 0 && !String.IsNullOrEmpty(Model.CSSPOCName))
{
@:CSS POC: @Model.CSSPOCName<br />
}
@if(Model.SPUserId > 0 && !String.IsNullOrEmpty(Model.SPName))
{
@:SP: @Model.SPName<br />
}<br />
    </div>
<table width="100%">
    <thead class="tableHeader">
<tr>

       <td width="35%">Claim #</td>
    <td width="25%">Insured Name</td>
    <td width="30%">Due Date</td>
<td width="10%">Overdue Diaries</td>




   @* <td width="40%">Claim #</td>
<td width="60%">Overdue Diary Count</td>*@
</tr>
</thead>
    @{
        int i = 0;
        foreach (var claim in Model.ClaimsList)
        {
        <tr class="@(i%2==0?"tableRowAlternate":"tableRow")">
           
            <td style="text-align:left;">@Html.ActionLink(claim.ClaimNumber, "Details", "PropertyAssignment", new { @claimId = CSS.Cypher.EncryptString(claim.ClaimId + "") }, null)</td>
            <td>@claim.InsuredName</td>

            <td>
                @if(claim.DueDate.HasValue)
                {
                    @(claim.DueDate.Value.Month + "/" + claim.DueDate.Value.Day + "/" + claim.DueDate.Value.Year);
                }
            </td>
            <td>@claim.OverDueDiaryCount</td>
        </tr>
            i++;
        }
        if(i==0)
        {
            <tr class="tableRowAlternate" ><td colspan="4" style="text-align:center;">No Overdue Claims</td></tr>
        }
    }
</table>
