﻿
@model BLL.ViewModels.CompanyInvoiceViewModel

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            dateFormat: "mm/dd/yy",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true
        });
    });
    function UnFormatCurrency(value) {
        if (value == "" || value == undefined)
        { return 0; }
        else {
            for (var i = 0; i <= value.indexOf(",") ;) {
                value = value.replace(",", "");
            }
            value = value.replace("$", "");
            return value;
        }
    }
    @*function addPayments() {

        $.ajax({
            url: '@Url.Action("PaymentDetailsInsert", "PropertyAssignmentInvoice")',
            contentType: 'application/json; charset=utf-8',
            data: { PaymentId: '@Model.payment.PaymentId', InvoiceId: $('#hdnInvoiceId').val(), ReceivedDate: $('#txtReceivedDate').val(), AmountReceived: $('#txtAmountReceived').val(), CheckNumber: $('#txtCheckNumber').val() },//, AddedBy: AddedBy, CreatedDateTime: CreatedDateTime
            cache: false,
            success: function (result) {
                //debugger;
                getPaymentDetails('5349');
            },
            error: function (error) {
            }
        });
    }*@
    function addPayments() {

        debugger;

        $("#divPaymentValidationMsg").empty();
        var isValid = true;
        var validationMsg = "";
        if ($("#txtAmountReceived").val().trim().length == 0) {
            isValid = false;
            validationMsg += "Amount Received is required. <br/>";
        }
        else {
            if (parseFloat(UnFormatCurrency($("#txtAmountReceived").val())) > parseFloat(UnFormatCurrency($("#txtBalanceDue").val()))) {
                isValid = false;
                validationMsg += "Amount Received is more than the Balance Due. <br/>";
            }
        }
        //alert($("#txtCheckNumber").val() + ' ' + $("#txtCheckNumber").val().trim().length);
        if ($("#txtCheckNum").val().trim().length == 0) {
            isValid = false;
            validationMsg += "Check No. is required. <br/>";
        }
        if ($("#txtReceivedDate").val().trim().length == 0) {
            isValid = false;
            validationMsg += "Received Date is required. <br/>";
        }
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        var date = $("#txtReceivedDate").val();
        var DateReceived = date + " " + time;
        if ($('#hdnpaymentId').val() == '' || $('#hdnpaymentId').val() == 0)
        {
            var paymentid = -1;
        }
        else
        {
            var paymentid = $('#hdnpaymentId').val();
        }
        var invoiceid = $('#hdnInvoiceId').val();
        var amt = $('#txtAmountReceived').val();
        var chkno = $('#txtCheckNum').val();
        parseInt
        if (isValid) {
            $("#btnPaymentAdd").prop('disabled', true);
            $("#btnPaymentAdd").attr("disabled", "disabled");
            $('#imgAddPaymentProcessing').show();
           $.post('@Url.Content("~/CompanyInvoice/InsertPaymentDetail")',
             { PaymentId: paymentid, InvoiceId: invoiceid, ReceivedDate: DateReceived, AmountReceived: amt, CheckNumber: chkno },
            // { PaymentId: paymentid, InvoiceId: invoiceid, AmountReceived: amt, CheckNumber: chkno, ReceivedDate: DateReceived },
                 function (data) {
                     if(data == "1")
                     {
                         $('#imgAddPaymentProcessing').hide();
                         $("#btnPaymentAdd").removeAttr("disabled");
                         $("#btnPaymentAdd").prop('disabled', false);
                         getPaymentDetails('@Model.invoiceDetail.InvoiceId');
                     }
                     else
                     {
                         //alert(data);
                     }
                 });

        }
        else {
            $("#divPaymentValidationMsg").html(validationMsg);

        }


    }
    function EditpaymentDetails(paymentid, amountReceived, ChequeNumber, ReceivedDate) {

        $('#hdnpaymentId').val(paymentid);
        $('#txtAmountReceived').val(amountReceived);
        $('#txtCheckNum').val(ChequeNumber);
        $('#txtReceivedDate').val(ReceivedDate);
    }

    @*function deletePaymentDetails(paymentid, Invoiceid) {
        debugger;
        if (confirm('Are you sure you want to delete this payment ?')) {
            $.post('@Url.Content("~/PropertyAssignment/DeletePaymentDetail")',

             { PaymentId: paymentid, InvoiceId: Invoiceid },
            function (data) {
                if (data == 1) {
                    getPaymentDetails('@Model.invoiceDetail.InvoiceId');
                }
            });
        }
    }*@
</script>

<table width="80%">
    <tr>
        <td><br /></td>
        <td><div id="divPaymentValidationMsg" class="errorMsg"></div></td>
    </tr>
    <tr>
        <td width="10px"></td>
        <td valign="top">
            <table width="100%">
                <tr height="26px" width="70%">
                    <td>Invoice No :</td>
                    <td>
                        @* @Html.DropDownListFor(model => model.InvoiceId, new SelectList(Model.PropertyInvoiceList.Where(x=>x.InvoiceType!=3).OrderByDescending(x => x.InvoiceId), "InvoiceId", "InvoiceNo"), new { @id="ddlPayInvoiceList" })*@
                        @*@Html.DropDownListFor(model => model.InvoiceId, new SelectList(Model.PropertyInvoiceList.OrderByDescending(x => x.InvoiceId), "InvoiceId", "InvoiceNo"), new { @id = "ddlPayInvoiceList" })*@

                        @Html.TextBoxFor(model => model.invoiceDetail.InvoiceNo, new { @id = "txtInvoiceNo", @readonly = "readonly", @disabled = "disabled" })
                        <img id="ddlPaymentInvLoading" width="15" height="15" style="display:none; vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                    </td>
                    <td style="display: none;">
                        @Html.HiddenFor(model => model.invoiceDetail.InvoiceNo)
                        @Html.HiddenFor(model => model.invoiceDetail.InvoiceId, new { @id = "hdnInvoiceId" })
                        @Html.HiddenFor(model => model.payment.PaymentId, new { @id = "hdnpaymentId" })
                    </td>
                </tr>
                <tr>
                    <td>Invoice Total :</td>
                    @*<td>@Html.TextBoxFor(model => model.invoiceDetail.GrandTotal, Model.invoiceDetail.GrandTotal.HasValue ? Model.invoiceDetail.GrandTotal.Value.ToString("N2") : "", new { @id = "txtGrandtotal", @readonly = true })</td>*@
                    <td>@Html.TextBoxFor(model => model.invoiceDetail.InvoiceTotal, Model.invoiceDetail.InvoiceTotal.ToString("0.00"), new { @id = "txtInvoiceTotal", @readonly = "readonly", @disabled = "disabled" })</td>
                </tr>
                <tr>
                    <td>Invoice Balance Due :</td>
                    @*<td>@Html.TextBoxFor(model => model.invoiceDetail.BalanceDue, Model.invoiceDetail.BalanceDue.HasValue ? Model.invoiceDetail.BalanceDue.Value.ToString("N2") : "", new { @id = "txtBalanceDue", @readonly = true })</td>*@
                    <td>@Html.TextBoxFor(model => model.invoiceDetail.BalanceDue, Model.invoiceDetail.BalanceDue.ToString("0.00"), new { @id = "txtBalanceDue", @readonly = "readonly", @disabled = "disabled" })</td>
                </tr>

            </table>
        </td>
        <td>
            @*<div id="divPaymentValidationMsg" class="errorMsg"></div>*@
            <table width="100%">
                <tr>
                    <td>Amount Received :</td>
                    <td>@Html.TextBoxFor(model => model.payment.AmountReceived, new { @id = "txtAmountReceived" })</td>
                </tr>
                <tr>
                    <td>Check No :</td>
                    <td>@Html.TextBoxFor(model => model.payment.CheckNumber, new { @id = "txtCheckNum" })</td>
                </tr>
                <tr>
                    <td>Date Received :</td>
                    @*<td>@Html.TextBoxFor(model => model.payment.ReceivedDate, new { @id = "txtReceivedDate", @class = "DatePickerTextBox", @Value = (Model == null || Model.payment.ReceivedDate == null ? string.Empty : Convert.ToDateTime(Model.payment.ReceivedDate).ToString("0:MM/dd/yyyy HH:mm:ss")) })</td>*@
                    <td>@Html.TextBoxFor(model => model.paymentreceiveddate, Model.paymentreceiveddate.ToString("MM/dd/yyyy"), new { @id = "txtReceivedDate", @class = "DatePickerTextBox" })</td>

                </tr>
                <tr><td><br /></td><td></td></tr>
                <tr>
                    <td></td>
                    <td>

                        <input type="button" value="Clear" class="buttonLightYellow_100" onclick="clearPaymentFields()" />
                        <input type="button" id="btnPaymentAdd" value="Add" class="buttonLightYellow_100" onclick="addPayments()" /> <img id="imgAddPaymentProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">
    <tr>

        <td colspan="3" style="text-align: right">
            &nbsp;
        </td>
    </tr>



    <tr>
        <td colspan="3" class="subHeading">&nbsp;&nbsp;Details</td>
    </tr>

    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>

    <tr>

        <td colspan="3" class="content">
            <div id="divPaymentListing">
                @Html.Partial("_CompanyPaymentList")

            </div>
            <br /><br />

        </td>
    </tr>
</table>
