﻿@model BLL.ViewModels.CompanyInvoiceViewModel
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

<style>
    .txt {
        text-align: right;
    }

    .txt1 {
        text-align: right;
    }

    .txt2 {
        text-align: right;
    }

    .txt3 {
        text-align: right;
    }

    .txt4 {
        text-align: right;
    }
</style>
@*<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
@*<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />*@

<script type="text/javascript">

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"

    });
    });


        function calculateInvoiceTotal() {
            debugger;
            var sum = 0;
            //iterate through each textboxes and add the values
            $(".txt2").each(function () {

                //add only if the value is number
                if (!isNaN(this.value) && this.value.length != 0) {
                    sum += parseFloat(this.value);
                }

            });
            //.toFixed() method will roundoff the final sum to 2 decimal places
            $('#InvoiceTotal').val(sum.toFixed(2));
            // $("#sum").html(sum.toFixed(2));
        }

        function addInvoiceRow(tableID) {
            var table = document.getElementById(tableID);

            var rowCount = table.rows.length;
            var newRowIndex = rowCount - 1;
            var row = table.insertRow(rowCount);
            row.vAlign = "top";
            var hdnRowCount = document.getElementById("hdnInvoiceRowCount");
            hdnRowCount.value = parseInt(hdnRowCount.value) + 1;


            //payeetype add
            var cell1 = row.insertCell(0);
            var element1 = document.getElementById("ddlPayeeType").cloneNode(true);
            element1.style.width = "95px";
            element1.name = "LineItemgetList[" + newRowIndex + "].PayeeType";
            element1.className = "PayeeTypeChange";
            cell1.appendChild(element1);

            //SP name add
            var cell2 = row.insertCell(1);
            var element2 = document.createElement("input");
            element2.type = "text";
            element2.style.width = "205px";
            element2.name = "LineItemgetList[" + newRowIndex + "].SpName";
            element2.className = "SPNameChange";
            cell2.appendChild(element2);

            //billingtype add
            var cell3 = row.insertCell(2);
            var element3 = document.getElementById("ddlBillingType").cloneNode(true);
            element3.style.width = "95px";
            element3.name = "LineItemgetList[" + newRowIndex + "].BillingType";
            cell3.appendChild(element3);

            //No of units add
            var cell4 = row.insertCell(3);
            var element4 = document.createElement("input");
            element4.style.width = "70px";
            element4.type = "text";
            element4.className = "txt";
            element4.defaultValue = "0";
            element4.name = "LineItemgetList[" + newRowIndex + "].Units";
            cell4.appendChild(element4);

            //Rate per unit add
            var cell5 = row.insertCell(4);
            var element5 = document.createElement("input");
            element5.style.width = "100px";
            element5.className = "txt1";
            element5.type = "text";
            element5.defaultValue = "0";
            element5.name = "LineItemgetList[" + newRowIndex + "].Rate";
            cell5.appendChild(element5);

            //TotalLineitem add
            var cell6 = row.insertCell(5);
            var element6 = document.createElement("input");
            element6.style.width = "100px";
            element6.className = "txt2";
            element6.type = "text";
            element6.name = "LineItemgetList[" + newRowIndex + "].TotalLineItem";
            element6.readOnly = true;
           // element6.disabled = true;
            cell6.appendChild(element6);

            //sp pay percent add
            var cell7 = row.insertCell(6);
            var element7 = document.createElement("input");
            element7.style.width = "100px";
            element7.className = "txt3";
            element7.type = "text";
            element7.defaultValue = "0";
            element7.name = "LineItemgetList[" + newRowIndex + "].SPPayPercent";
            cell7.appendChild(element7);

            // net sp pay add
            var cell8 = row.insertCell(7);
            var element8 = document.createElement("input");
            element8.style.width = "100px";
            element8.className = "txt4";
            element8.type = "text";
            element8.readOnly = true;
           // element8.disabled = true;
            element8.name = "LineItemgetList[" + newRowIndex + "].NetSPPay";
            cell8.appendChild(element8);



            //Delete row
            var cell9 = row.insertCell(8);
            var element9 = document.getElementById("imgCoverageDeleteRowReplica").cloneNode(true);
            element9.id = "imgCoverageDeleteRow" + newRowIndex;
            cell9.appendChild(element9);
            if ((rowCount - 2) >= 0) {
                var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 2));
                deleteRowIcon.style.display = "none";
            }

        }



        function deleteRow(tableID) {
            try {
                debugger;
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                var hdnRowCount = document.getElementById("hdnInvoiceRowCount");
                hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
                table.deleteRow(rowCount - 1);
                if ((rowCount - 3) >= 0) {
                    var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 3));
                    deleteRowIcon.style.display = "inline";
                    calculateInvoiceTotal();
                    CalculateNetSpPayTotal();
                }
            } catch (e) {
                alert(e);
            }
        }


        function CalculateTotal(ele) {
            var rate = $(ele).closest('tr').find('.txt').val();
            var quantity = $(ele).closest('tr').find('.txt1').val();
            rate = rate == '' ? 0 : rate;
            quantity = quantity == '' ? 0 : quantity;
            if (!isNaN(rate) && !isNaN(quantity)) {
                var total = parseFloat(rate) * parseFloat(quantity);
                $(ele).closest('tr').find('.txt2').val(total.toFixed(2));
            }
            calculateInvoiceTotal();
        }


        function CalculateNetSpAmount(ele) {
            var LineItem = $(ele).closest('tr').find('.txt2').val();
            var Pay = $(ele).closest('tr').find('.txt3').val();
            LineItem = LineItem == '' ? 0 : LineItem;
            Pay = Pay == '' ? 0 : Pay;
            if (!isNaN(LineItem) && !isNaN(Pay)) {
                var percentage = ((parseFloat(LineItem)) / 100) * (parseFloat(Pay));
                // var total = parseFloat(LineItem) * parseFloat(Pay);
                $(ele).closest('tr').find('.txt4').val(percentage.toFixed(2));
            }
            CalculateNetSpPayTotal();
        }

        function CalculateNetSpPayTotal() {
            var grandTotal = 0;
            $(".txt4").each(function () {
                //add only if the value is number
                if (!isNaN(this.value) && this.value.length != 0) {
                    grandTotal += parseFloat(this.value);
                }
            });
            // $('#grandTotal').html(grandTotal.toFixed(2));
            $('#NetSPpayAmount').val(grandTotal.toFixed(2));
        }



        $("#tblCompanyList").on("keyup", ".txt", function () {
            debugger;
            // var value = (this.value);
            CalculateTotal(this);
            CalculateNetSpAmount(this);
        });


        $("#tblCompanyList").on("keyup", ".txt1", function () {
            debugger;
            //  var value1 =(this.value);
            CalculateTotal(this);
            CalculateNetSpAmount(this);
        });


        $("#tblCompanyList").on("keyup", ".txt3", function () {
            debugger;
            //  var value1 =(this.value);
            CalculateNetSpAmount(this);
        });
        $('#tblCompanyList').on("keyup", ".SPNameChange", function () {
            debugger;
            var id1;
            var a3 = $(this).closest('tr').find(':selected').val();
            if (a3 == "SP")
            {
                id1 = "1";
            }
            if(a3 == "CC")
            {
                id1 = "12";
            }
                //debugger;
                $('.SPNameChange').autocomplete({
                    source: function (request, response) {
                        $.getJSON('@Url.Action("getData", "CompanyInvoice")' + "?term=" + request.term + "&id=" + id1, function (data) {
                            response(data);
                            $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "150px", "z-index": "999999999999999" });
                        });
                    },
                    minLength: 1,
                    //delay: 1000,
                    maxShowItems: 5
                });
        })


    function CheckValidation()
    {
        debugger;
        var isValid = true;
        $('#divInvoiceValidationmsg').empty();
        var validationmsg = "";
        $('.SPNameChange').each(function () {
            debugger;
           // var spnamecheck = $('.SPNameChange').val();
            var spcheck = $(this).closest('tr').find('.SPNameChange').val();
            if (spcheck == "")
            {
                isValid = false;
                validationmsg += "Service Provider name is required. <br/>";
            }
        })
        $('.txt').each(function () {
            debugger;
            var unitcheck = $(this).closest('tr').find('.txt').val();;
            if (unitcheck.trim().length == 0) {
                isValid = false;
                validationmsg += "No of units required. <br/>";
            }
            else if (isNaN(unitcheck)) {
                isValid = false;
                validationmsg += "No of units should be integer. <br/>";
            }
        })
        $('.txt1').each(function () {
            debugger;
            var ratecheck = $(this).closest('tr').find('.txt1').val();;
            if (ratecheck.trim().length == 0) {
                isValid = false;
                validationmsg += "Rate per unit required. <br/>";
            }
            else if (isNaN(ratecheck)) {
                isValid = false;
                validationmsg += "Rate per unit should be integer. <br/>";
            }
        })
        $('.txt3').each(function () {
            debugger;
            var sppercentcheck = $(this).closest('tr').find('.txt3').val();;
            if (sppercentcheck.trim().length == 0) {
                isValid = false;
                validationmsg += "SP pay percent required. <br/>";
            }
            else if (isNaN(sppercentcheck)) {
                isValid = false;
                validationmsg += "SP pay percent should be integer. <br/>";
            }
        })

        @*parseInt
        if (isValid)
        {
            debugger;
            $.ajax({
                method: "POST",
                url: '@Url.Action("CompanyInvoiceInsert", "CompanyInvoice")',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (result) {
                    console.log("Sucessful");
                    disableEditClaimPopup();

                },
                error: function (error) {
                    alert("something went to be wrong.");
                    console.log($('#formId').serialize());
                    console.log(error);
                }
            });

        }
        else
        {
            $('#divInvoiceValidationmsg').html(validationmsg);
        }*@
    }
    function isNumberKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $("#tblCompanyList").on("keypress", ".txt", function (event) {
       return isNumberKey(event);
    });
    $("#tblCompanyList").on("keypress", ".txt1", function (event) {
        return isNumberKey(event);
    });
    $("#tblCompanyList").on("keypress", ".txt3", function (event) {
        return isNumberKey(event);
    });

    function btnSubmit_Click() {
        debugger;
        debugger;
        $('#divInvalidSP').empty();
        var selectedcompany = $("#EditCompanyInvoice option:selected").val();
        var isformvalid = true;
        var SPnameArray = new Array();
        if (selectedcompany != 0) {
            $('.SPNameChange').each(function () {
                debugger;
                var spname = $(this).val();
                if (spname.indexOf(',') > -1) {
                    var spname1 = spname.replace(",", "~");
                    spname = spname1;
                    // console.log(spname);
                }
                var id1;
                var usertype = $(this).closest('tr').find(':selected').val();
                if (usertype == 'SP')
                    id1 = "1";
                else if (usertype == 'CC')
                    id1 = "12";
                var SParray = {};
                if (spname != "") {
                    debugger;
                    SPnameArray.push(spname + '$' + id1);
                }
                else if (spname == "") {
                    $("#divStatus").empty();
                    alert("SP name required.");
                    isformvalid = false;
                    // $(id).focus();
                }
            });
            if (SPnameArray != null && SPnameArray != "" && SPnameArray.length > 0) {
                //var postdata = { spdata : SPnameArray };
                debugger;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getSPData1", "CompanyInvoice")',
                    data: { spdata: JSON.stringify(SPnameArray) },
                    cache: false,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        debugger;
                        if (data == null || data == "") {
                            //isformvalid = true;
                        }
                        else if (data == "Exception occured") {
                            $("#divStatus").empty();
                            alert("Something went wrong");
                            isformvalid = false;
                        }
                        else {
                            $("#divStatus").empty();
                            $('#divInvalidSP').html(data + " these service providers does not exist");
                            isformvalid = false;
                        }
                        // $("#IntacctLocationId").val(data);
                        //alert(data);
                    },
                    Error: function () {
                        alert('Error');
                    }
                });
            }
            //console.log(SPnameArray);
            if ($('#divInvalidSP').val() == "" && isformvalid)
                //if (isformvalid)
            {
            disableEditClaimPopup();
            $("#submitinvoice").submit();
            }
        }
        else {
            $("#divStatus").html("Company Name is required");
        }

    }
</script>
@*@using (Html.BeginForm("CompanyInvoiceInsert", "CompanyInvoice", FormMethod.Post, new { @id = "submitinvoice" }))
    {*@

<table style="width: 100%; min-height:250px" bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
    <tr>
        <td style="height: 20px"></td>
    </tr>
    <tr style="display: none;">
        <td></td>
    </tr>
    <tr>
        <td width="10px">&nbsp</td>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td width="40%" valign="top">
                        <table style="width: 100%">
                            <tr>
                                <td align="right"><b>Invoice-No. &nbsp;&nbsp;:</b></td>
                                <td colspan="5">
                                    <b>
                                        @{
                                            if (Model.InvoiceId != -1)
                                            {
                                                @Model.LineItemgetList[0].InvoiceNumber
                                            }
                                            else
                                            {
                                                var InvoiceId = "NOT GENERATED";
                                                @InvoiceId
                                            }
                                        }
                                    </b>

                                </td>
                            </tr>
                            <tr>
                                @{
                                    if (Model.InvoiceId != -1)
                                    {
                                        <td nowrap="nowrap" style="text-align:end;">
                                            Invoice Created Date:
                                        </td>
                                                <td valign="top" width="230" style="padding-top: 7px;padding-bottom: 7px;">

                                                    @Html.TextBoxFor(model => model.InvoiceDate, Model.InvoiceDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                                                </td>

                                    }
                                    else
                                    {
                                        <td>
                                            <br />
                                        </td>
                                    }
                                }

                            </tr>
                            <tr>
                                <td nowrap="nowrap" style="text-align:end">
                                    Company Name:
                                </td>
                                <td valign="top" width="230">
                                    @*@Html.Hidden("hdncompanyid", Model.CompanyId)
                                        @Html.HiddenFor(model => model.CompanyId)*@
                                    @Html.Hidden("hdnInvoiceId", Model.InvoiceId)
                                    @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesList, new { @id = "EditCompanyInvoice", @maxlength = "41" })
                                    <br /><div style="display: inline; color: red;" id="divStatus"></div>
                                </td>
                                <td nowrap="nowrap" style="text-align:end">
                                    Service Start Date:
                                </td>
                                <td valign="top" width="130">
                                    @Html.TextBoxFor(model => model.ServiceStartDate, Model.ServiceStartDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                                </td>
                                <td nowrap="nowrap" style="text-align:end">
                                    Service End Date:
                                </td>
                                <td valign="top" width="300">
                                    @Html.TextBoxFor(model => model.ServiceEndDate, Model.ServiceEndDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                                </td>

                            </tr>


                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: inline; color: red;" id="divInvalidSP"></div>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>

                        <table width="110%" id="tblCompanyList" cellspacing="0">

                            <tr valign="top">

                                <td class="tableHeader" nowrap="nowrap" width="90">
                                    Payee Type<div style="display: none;">
                                        @*@Html.DropDownListFor(model => model.Payeetype, Model.PayeeType, new { @maxlength = "41",@id="ddlPayeeType" })*@
                                        @Html.DropDownList("ddlPayeeType", Model.PayeeTypeList, new { @id = "ddlPayeeType" })
                                    </div>
                                </td>
                                <td class="tableHeader" nowrap="nowrap" width="200">Service Provider</td>
                                <td class="tableHeader" width="90" nowrap="nowrap">
                                    Billing Type <div style="display: none;">
                                        @Html.DropDownList("ddlBillingType", Model.BillingTypeList, new { @id = "ddlBillingType" })
                                    </div>
                                </td>
                                <td class="tableHeader" width="70" nowrap="nowrap" align="right"># of units</td>
                                <td class="tableHeader" width="100" nowrap="nowrap" align="right">Gross Rate <br />per unit</td>
                                <td class="tableHeader" width="100" nowrap="nowrap" align="right">Total Line Items $</td>
                                <td class="tableHeader" width="100" nowrap="nowrap" align="right">SP Pay %</td>
                                <td class="tableHeader" width="100" nowrap="nowrap" align="right">Net SP Pay</td>
                                <td width="100">
                                    <b>
                                        <a onclick="addInvoiceRow('tblCompanyList')" style="border: none; color: black; cursor: pointer;">
                                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                            Add Row
                                        </a> &nbsp;
                                    </b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgCoverageDeleteRowReplica" onclick="deleteRow('tblCompanyList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.LineItemgetList.Count == 0)
                            {
                                <tr>


                                    <td width="100">
                                        @Html.DropDownList("LineItemgetList[0].PayeeType", Model.PayeeTypeList, new { @class = "PayeeTypeChange", @style = "width:95px" })
                                        @*@Html.DropDownListFor(model => model.Payeetype, Model.PayeeType, new { @maxlength = "41" })*@
                                    </td>
                                    <td width="200">
                                        <input name="LineItemgetList[0].SpName" type="text" class="SPNameChange" style="width: 205px;" />
                                    </td>
                                    <td width="100">
                                        @Html.DropDownList("LineItemgetList[0].BillingType", Model.BillingTypeList, new { @style = "width:95px" })
                                        @*@Html.DropDownListFor(model => model.Billingtype, Model.BillingType, new { @maxlength = "41" })*@

                                    </td>
                                    <td align="right" width="70">
                                        <input name="LineItemgetList[0].Units" type="text" value="0" class="txt" onchange="CalculateTotal(this)" style="width:70px;" onkeypress="return isNumberKey(event)" />
                                    </td>
                                    <td align="right" width="100">
                                        <input name="LineItemgetList[0].Rate" type="text" value="0" class="txt1" onchange="CalculateTotal(this)" style="width:100px;" onkeypress="return isNumberKey(event)" />
                                    </td>
                                    <td align="right" width="100">
                                        <input name="LineItemgetList[0].TotalLineItem" type="text" class="txt2" style="width:100px;" readonly />
                                    </td>
                                    <td align="right" width="100">
                                        <input name="LineItemgetList[0].SPPayPercent" type="text" value="0" class="txt3" onchange="CalculateNetSpAmount(this)" style="width: 100px;" onkeypress="return isNumberKey(event)" />
                                    </td>
                                    <td align="right" width="100">
                                        <input name="LineItemgetList[0].NetSPPay" type="text" class="txt4" style="width:100px;" readonly />
                                    </td>
                                    <td>
                                        <img id="imgCoverageDeleteRow0" onclick="deleteRow('tblCompanyList')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.LineItemgetList.Count; i++)
                                {
                                    // BLL.CompanyInvoiceLineItem item = Model.LineItemList.ElementAt(i);
                                    //List<SelectListItem> item1 = Model.LineItemgetList.ToList();
                                    //List<SelectListItem> item1 = new List<SelectListItem>();
                                    // var item2 = Model.LineItemgetList[i];
                                    // BLL.InvoiceLineItemsGetList_Result item1 = Model.LineItemgetList.ElementAt(i);

                                    // BLL.InvoiceLineItemsGetList_Result item1 = Model.LineItemgetList.ElementAt(i);

                                    <tr>


                                        <td>
                                            <select id="@("Payeetype" + i)" name="LineItemgetList[@i].PayeeType" style="width: 95px;">
                                                @foreach (var type in Model.PayeeTypeList)
                                                {
                                                    <option value="@type.Value" @(type.Value != Model.LineItemgetList[i].PayeeType ? "" : "selected = selected")>@type.Text</option>
                                                }
                                            </select>
                                            @*@Html.DropDownList("LineItemgetList[@i].PayeeType", Model.PayeeTypeList)*@
                                            @*@Html.DropDownListFor(model => model.LineItemgetList[i].PayeeType, Model.PayeeTypeList, new { @maxlength = "41", @style = "width:150px", @class = "PayeeTypeChange" })*@
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].LineItemId" type="hidden" value="@Model.LineItemgetList[i].LineItemId" style="width:80px; display:none" />
                                            <input name="LineItemgetList[@i].SpName" type="text" class="SPNameChange" value="@Model.LineItemgetList[i].SpName" style="width: 205px;" />
                                        </td>
                                        <td>
                                            <select id="@("Billingtype" + i)" name="LineItemgetList[@i].BillingType" style="width: 95px;" class="PayeeTypeChange">
                                                @foreach (var type1 in Model.BillingTypeList)
                                                {

                                                    <option value="@type1.Value" @(type1.Value != @Model.LineItemgetList[i].BillingType ? "" : "selected = selected")>@type1.Text</option>
                                                }
                                            </select>
                                            @*@Html.DropDownList("LineItemgetList[0].BillingType", Model.BillingTypeList)*@
                                            @*@Html.DropDownListFor(model => model.LineItemgetList[i].BillingType, Model.BillingTypeList, new { @maxlength = "41", @style = "width:150px" })*@

                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].Units" type="text" class="txt" value="@Model.LineItemgetList[i].Units" style="width: 70px;" onkeypress="return isNumberKey(event)" />
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].Rate" type="text" class="txt1" value="@Model.LineItemgetList[i].Rate.Value.ToString("0.00")" style="width: 100px;" onkeypress="return isNumberKey(event)" />
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].TotalLineItem" type="text" class="txt2" value="@Model.LineItemgetList[i].TotalLineItem.Value.ToString("0.00")" onchange="CalculateSum()" style="width: 100px;" readonly />
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].SPPayPercent" type="text" class="txt3" value="@Model.LineItemgetList[i].SPPayPercent" style="width: 100px;" onkeypress="return isNumberKey(event)" />
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].NetSPPay" type="text" class="txt4" value="@Model.LineItemgetList[i].NetSPPay.Value.ToString("0.00")" onchange="CalculateNetSpPayTotal()" style="width: 100px;" readonly />
                                        </td>
                                        <td>
                                            <img id="@("imgCoverageDeleteRow" + i)" onclick="deleteRow('tblCompanyList')" style="@(i == ( Model.LineItemgetList.Count - 1) ? "display:inline; " : "display:none; ")" color black; cursor pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                        </td>
                                    </tr>
                                }
                            }

                        </table>
                    </td>
                    @*<td align="left">
                            <b>
                                <a onclick="addInvoiceRow('tblCompanyList')" style="border: none; color: black; cursor: pointer;">
                                    <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                    Add Row
                                </a> &nbsp;
                            </b>
                        </td>*@
                </tr>


                <tr>
                    <td colspan="2">
                        <table>

                            <tr>
                                @*<td colspan="4"></td>*@
                                <td width="530px"></td>
                                <td nowrap="nowrap" style="text-align:end">
                                    Invoice Total:
                                </td>
                                <td valign="top">
                                    @*@Html.TextBoxFor(model => model.InvoiceTotal, new { @maxlength = "41" })*@
                                    <input name="InvoiceTotal" id="InvoiceTotal" value="@Model.InvoiceTotal.ToString("0.00")" type="text" style="width: 100px; text-align:right" />
                                </td>
                                <td nowrap="nowrap" style="text-align:end">
                                    Net SPPay Amount:
                                </td>
                                <td valign="top" width="100px">
                                    @*@Html.TextBoxFor(model => model.NetSPpayAmount, new { @maxlength = "41" })*@
                                    <input name="NetSPpayAmount" id="NetSPpayAmount" value="@Model.NetSPpayAmount.ToString("0.00")" type="text" style="width: 100px;text-align:right" />
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td align="center">
                        <br />
                        @*<input type="button" value="checkvalid" class="buttonLightYellow_100" onclick="CheckValidation()" />*@
                        <input type="button" value="Submit" class="buttonLightYellow_100" name="SubmitButton" onclick="btnSubmit_Click()" />
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>

            </table>
        </td>
    </tr>

</table>
<input id="hdnInvoiceRowCount" name="hdnInvoiceRowCount" type="hidden" value="@(Model.LineItemgetList.Count == 0 ? "1" : Model.LineItemgetList.Count + "")" />
@*}*@
@*<tr>
        <td nowrap="nowrap" style="text-align:end">
            Invoice Number:
                        </td>
        <td valign="top" width="600">
            @Html.TextBoxFor(model => model.InvoiceNumber, new { @maxlength = "41" })
        </td>
        <td nowrap="nowrap" style="text-align:end">
            Invoice Date:
        </td>
        <td valign="top" width="600">
            @Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
            </td>
    </tr>*@

