﻿@model BLL.App_Code.ViewModels.RBPPaymentViewModel
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

<style>
    .txt {
        text-align: right;
    }

    .txt1 {
        text-align: right;
    }

    .txt2 {
        text-align: right;
    }

    .txt3 {
        text-align: right;
    }

    .txt4 {
        text-align: right;
    }
</style>
@*<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
@*<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />*@

<script type="text/javascript">

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });


    function calculateInvoiceTotal() {
        debugger;
        var sum = 0;
        //iterate through each textboxes and add the values
        $(".txt2").each(function () {

            //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseFloat(this.value);
            }

        });
        //.toFixed() method will roundoff the final sum to 2 decimal places
        $('#PayrollTotal').val(sum.toFixed(2));
        // $("#sum").html(sum.toFixed(2));
    }

    function addInvoiceRow(tableID) {
        debugger;
        var table = document.getElementById(tableID);
        var invoiceid = @Model.InvoiceId;

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnInvoiceRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;


        //payeetype add
        //var cell1 = row.insertCell(0);
        //var element1 = document.getElementById("ddlPayeeType").cloneNode(true);
        //element1.style.width = "95px";
        //element1.name = "LineItemgetList[" + newRowIndex + "].PayeeType";
        //element1.className = "PayeeTypeChange";
        //cell1.appendChild(element1);

        //Company name add
        //var cell2 = row.insertCell(0);
        //var element2 = document.createElement("input");
        //element2.type = "text";
        //element2.style.width = "205px";
        //element2.name = "LineItemgetList[" + newRowIndex + "].Company";
        //element2.className = "CompanyNameChange";
        //element2.id = "Company_" + newRowIndex;
        //cell2.appendChild(element2);

        var cell2 = row.insertCell(0);
        var element2 = document.getElementById("ddlCompany").cloneNode(true);
        element2.className = "CompanyNameChange";
        element2.style.width = "220px";
        element2.name = "LineItemgetList[" + newRowIndex + "].CompanyId";
        cell2.appendChild(element2);
        //if(invoiceid == -1)
        //{
        //    getCompanyList1(element2);
        //}


        //billingtype add
        var cell3 = row.insertCell(1);
        var element3 = document.getElementById("ddlBillingType").cloneNode(true);
        element3.style.width = "95px";
        element3.name = "LineItemgetList[" + newRowIndex + "].BillingType";
        cell3.appendChild(element3);

        //No of units add
        var cell4 = row.insertCell(2);
        var element4 = document.createElement("input");
        element4.style.width = "70px";
        element4.type = "text";
        element4.className = "txt";
        element4.defaultValue = "0";
        element4.name = "LineItemgetList[" + newRowIndex + "].Units";
        cell4.appendChild(element4);

        //Rate per unit add
        var cell5 = row.insertCell(3);
        var element5 = document.createElement("input");
        element5.style.width = "100px";
        element5.className = "txt1";
        element5.type = "text";
        element5.defaultValue = "0";
        element5.name = "LineItemgetList[" + newRowIndex + "].Rate";
        cell5.appendChild(element5);

        //TotalLineitem add
        var cell6 = row.insertCell(4);
        var element6 = document.createElement("input");
        element6.style.width = "100px";
        element6.className = "txt2";
        element6.type = "text";
        element6.name = "LineItemgetList[" + newRowIndex + "].TotalSPPay";
        element6.readOnly = true;
        // element6.disabled = true;
        cell6.appendChild(element6);



        //Delete row
        var cell7 = row.insertCell(5);
        var element7 = document.getElementById("imgCoverageDeleteRowReplica").cloneNode(true);
        element7.id = "imgCoverageDeleteRow" + newRowIndex;
        cell7.appendChild(element7);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

    }



    function deleteRow(tableID) {
        try {
            debugger;
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnRowCount = document.getElementById("hdnInvoiceRowCount");
            hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgCoverageDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
                calculateInvoiceTotal();
               // CalculateNetSpPayTotal();
            }
        } catch (e) {
            alert(e);
        }
    }


    function CalculateTotal(ele) {
        var rate = $(ele).closest('tr').find('.txt').val();
        var quantity = $(ele).closest('tr').find('.txt1').val();
        rate = rate == '' ? 0 : rate;
        quantity = quantity == '' ? 0 : quantity;
        if (!isNaN(rate) && !isNaN(quantity)) {
            var total = parseFloat(rate) * parseFloat(quantity);
            $(ele).closest('tr').find('.txt2').val(total.toFixed(2));
        }
        calculateInvoiceTotal();
    }



    $("#tblCompanyList").on("keyup", ".txt", function () {
        debugger;
        // var value = (this.value);
        CalculateTotal(this);
      //  CalculateNetSpAmount(this);
    });


    $("#tblCompanyList").on("keyup", ".txt1", function () {
        debugger;
        //  var value1 =(this.value);
        CalculateTotal(this);
      //  CalculateNetSpAmount(this);
    });


    $("#tblCompanyList").on("keyup", ".txt3", function () {
        debugger;
        //  var value1 =(this.value);
     //   CalculateNetSpAmount(this);
    });
    @*$('#tblCompanyList').on("keyup", ".CompanyNameChange", function () {
        debugger;
        var id1;
        id1 = "1";
        //debugger;
        $('.CompanyNameChange').autocomplete({
            source: function (request, response) {
                $.getJSON('@Url.Action("CompanyList", "RBPPayment")' + "?term=" + request.term + "&id=" + id1, function (data) {
                    response(data);
                    $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "150px", "z-index": "999999999999999" });
                });
            },
            minLength: 1,
            //delay: 1000,
            maxShowItems: 5
        });

    })*@


    function isNumberKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $("#tblCompanyList").on("keypress", ".txt", function (event) {
        return isNumberKey(event);
    });
    $("#tblCompanyList").on("keypress", ".txt1", function (event) {
        return isNumberKey(event);
    });
    $("#tblCompanyList").on("keypress", ".txt3", function (event) {
        return isNumberKey(event);
    });

    function btnSubmit_Click() {
        debugger;
        $('#divInvalidCompany').empty();
        var SPName = $("#SPName").val();
         var payeetpe = $("#PayeeType option:selected").val();
        var id1;
        if (payeetpe == "SP")
            id1 = 1;
        else
            id1 = 12;
        var isformvalid = true;
        var CompanynameArray = new Array();
        if (SPName != "") {
            if (SPName.indexOf(',') > -1)
            {
                var SPName1 = SPName.replace(",", "~");
                SPName = SPName1;
                // console.log(spname);
            }
            var spdata = SPName + '$' + id1;


            $.ajax({
                type: "GET",
                url: '@Url.Action("getSPData1", "RBPPayment")',
                //data: { spdata: JSON.stringify(spdata) },
                data: { spdata: spdata },
                cache: false,
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data == null || data == "") {

                        $('.CompanyNameChange').each(function () {
                            debugger;
                            var companyname = $(this).val();
                            var id1 = "1";;
                            if (companyname != "" && companyname != "0") {

                            }

                            else if (companyname == "0") {
                                $("#divStatus").empty();
                                $("#divInvalidCompany").empty();
                                $('#divInvalidCompany').html("Please select client company");
                                isformvalid = false;
                            }

                        });

                    }
                    else if (data == "Exception occured") {
                        $("#divStatus").empty();
                        alert("Something went wrong");
                        isformvalid = false;
                    }
                    else {
                        $("#divStatus").empty();
                        alert("Invalid SP Name")
                      //  $('#divStatus').html(data + "SP does not exist");
                        isformvalid = false;

                    }
                    // $("#IntacctLocationId").val(data);
                    //alert(data);
                },
                Error: function () {
                    alert('Error');
                }

            });


            console.log(CompanynameArray);
            if (isformvalid)
            {
            disableEditClaimPopup();
            $("#submitrbppayment").submit();
            }
           // $("#submitrbppayment").submit();
        }
        else {
            $("#divStatus").html("SP Name is required");
        }

    }
    @*function getIntactLocation() {
        debugger;
        var dropdownval = $("#EditCompanyInvoice").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetIntactLocation", "CompanyInvoice")',
            data: { CompanyId: dropdownval },
            success: function (data) {
                debugger;
                $("#IntacctLocationId").val(data);
                //alert(data);
            }
        });
    }*@
    function getSPName() {
        debugger;
        var payeetpe = $("#PayeeType option:selected").val();
        var id1;
        if (payeetpe == "SP")
            id1 = 1;
        else
            id1 = 12;

        $('.SPNameChange').autocomplete({
            source: function (request, response) {
                $.getJSON('@Url.Action("getData", "RBPPayment")' + "?term=" + request.term + "&id=" + id1, function (data) {
                    response(data);
                    $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "150px", "z-index": "999999999999999" });
                });
            },
            minLength: 1,
            //delay: 1000,
            maxShowItems: 5
        });
    }
    //function getCompanyList() {
    $(function (){
        debugger;
     //   var dropdownval = $("#EditIntacctLoc").val();
        //$('.CompanyNameChange').empty();
        if(@Model.InvoiceId==0 || @Model.InvoiceId==-1)
        {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetCompanyList", "RBPPayment")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                //data: { IntacctLocationId: dropdownval },
                cache: false,
                async: false,
                success: function (data) {
                    debugger;
                    //console.log(data);
                    $('.CompanyNameChange').each(function () {
                        debugger;
                        $('.CompanyNameChange').empty();
                        $.each(data, function (index, item) {
                            debugger;
                            $('.CompanyNameChange').append($('<option></option>').text(item.Text).val(item.Value));
                        });
                    });
                },
                Error: function () {
                    alert('Error');
                }
            });
        }
    }
    );
    function getCompanyList1(ele)
    {
        debugger;
      //  var dropdownval = $("#EditIntacctLoc").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCompanyList", "RBPPayment")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
           // data: { IntacctLocationId: dropdownval },
            cache: false,
            async: false,
            success: function (data) {
                debugger;
                $(ele).empty();
                    $.each(data, function (index, item) {
                        debugger;
                        $(ele).append($('<option></option>').text(item.Text).val(item.Value));
                });
            },
            Error: function () {
                alert('Error');
            }
        });
    }
</script>
@*@using (Html.BeginForm("CompanyInvoiceInsert", "CompanyInvoice", FormMethod.Post, new { @id = "submitinvoice" }))
    {*@

<table style="width: 100%; min-height:250px" bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
    <tr>
        <td style="height: 20px"></td>
    </tr>
    <tr style="display: none;">
        <td></td>
    </tr>
    <tr>
        <td width="10px">&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td valign="top">
                        <table style="width: 110%">
                            <tr>
                                <td align="right"><b>Record #:</b></td>
                                <td width="230">
                                    <b>
                                        @{
                                            if (Model.InvoiceId != -1)
                                            {
                                                @Model.LineItemgetList[0].InvoiceNumber
                                            }
                                            else
                                            {
                                                var InvoiceId = "NOT GENERATED";
                                                @InvoiceId
                                            }
                                        }
                                    </b>
                                </td>
                                @*<td style="text-align:end">Intacct Location:</td>
                                <td>
                                    @if (Model.InvoiceId <= 0)
            {
                                        @Html.DropDownListFor(model => model.IntacctLocationId, Model.IntacctLocationList, new { @id = "EditIntacctLoc", @class = "style2", @onchange = "getCompanyList();" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.IntacctLocationId, Model.IntacctLocationList, new { @id = "EditIntacctLoc", @class = "style2", @disabled = "disabled" })
                                        @Html.HiddenFor(model => model.IntacctLocationId)

                                    }

                                </td>*@

                            </tr>
                            <tr>
                                @{
                                    if (Model.InvoiceId != -1)
                                    {
                                        <td nowrap="nowrap" style="text-align:end;">
                                            Pay Record Create Date:
                                        </td>
                                        <td valign="top" width="230">

                                            @Html.TextBoxFor(model => model.InvoiceDate, Model.InvoiceDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                                        </td>

                                    }
                                    else
                                    {
                                        <td>
                                            <br />
                                        </td>
                                    }
                                }

                            </tr>
                            <tr>
                                <td nowrap="nowrap" style="text-align:end">Payee Type:</td>
                                <td>
                                    @Html.DropDownListFor(model => model.PayeeType, Model.PayeeTypeList, new { @class = "style2", @style = "width:87px;" })
                                </td>
                                <td nowrap="nowrap" style="text-align:end;">
                                    Service Start Date:
                                </td>
                                <td style="text-align:left" width="130">
                                    @Html.TextBoxFor(model => model.ServiceStartDate, Model.ServiceStartDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                                </td>


                            </tr>
                            <tr>
                                <td nowrap="nowrap" style="text-align:end">
                                    SP to be Paid:
                                </td>
                                <td width="230" style="text-align:left">
                                    @*@Html.Hidden("hdncompanyid", Model.CompanyId)
                                        @Html.HiddenFor(model => model.CompanyId)*@
                                    @Html.Hidden("hdnInvoiceId", Model.InvoiceId)
                                    @*@if (Model.InvoiceId <= 0)
                                        {
                                            @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesList, new { @id = "EditCompanyInvoice", @maxlength = "41", @onchange = "getIntactLocation();" })
                                        }c
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesList, new { @id = "EditCompanyInvoice", @maxlength = "41", @disabled = "disabled" })
                                            @Html.HiddenFor(model => model.CompanyId)
                                        }*@
                                    <input name="SPName" type="text" id="SPName" class="SPNameChange" style="width: 205px;" onkeyup="getSPName()" value="@Model.SPName" />

                                    <br /><div style="display: inline; color: red;" id="divStatus"></div>
                                </td>

                                <td nowrap="nowrap" style="text-align:end">
                                    Service End Date:
                                </td>
                                <td style="text-align:left" width="300">
                                    @Html.TextBoxFor(model => model.ServiceEndDate, Model.ServiceEndDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                                </td>
                            </tr>


                        </table>
                    </td>
                </tr>
                <tr>
                    <td></td>

                </tr>
                <tr>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        <div style="display: inline; color: red;" id="divInvalidCompany"></div>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">

                        <table width="100%" id="tblCompanyList" cellspacing="0">

                            <tr valign="top">

                                <td class="tableHeader" nowrap="nowrap" width="200">
                                    Client Company
                                    <div style="display: none;">
                                        @Html.DropDownList("ddlCompany", Model.CompaniesList, new { @id = "ddlCompany" })
                                        @*@Html.DropDownListFor(model => model.CompanyId, Model.CompaniesList, new { @id = "ddlCompany", @maxlength = "41" })*@


                                    </div>
                                </td>
                                <td class="tableHeader" width="90" nowrap="nowrap">
                                    Billing Type <div style="display: none;">
                                        @Html.DropDownList("ddlBillingType", Model.BillingTypeList, new { @id = "ddlBillingType" })
                                    </div>
                                </td>
                                <td class="tableHeader" width="70" nowrap="nowrap" align="right"># of units</td>
                                <td class="tableHeader" width="100" nowrap="nowrap" align="right">Rate per Unit</td>
                                <td class="tableHeader" width="100" nowrap="nowrap" align="right">Total SP Pay</td>
                                <td width="100">
                                    <b>
                                        <a onclick="addInvoiceRow('tblCompanyList')" style="border: none; color: black; cursor: pointer;">
                                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                            Add Row
                                        </a> &nbsp;
                                    </b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgCoverageDeleteRowReplica" onclick="deleteRow('tblCompanyList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.LineItemgetList.Count == 0)
                            {
                                <tr>



                                    <td width="200">
                                        @*<input name="LineItemgetList[0].Company" type="text" id="Company_0" class="CompanyNameChange" style="width: 205px;" />*@
                                        @Html.DropDownList("LineItemgetList[0].CompanyId", Model.CompaniesList, new { @style = "width:220px", @class = "CompanyNameChange" })


                                    </td>
                                    <td width="100">
                                        @Html.DropDownList("LineItemgetList[0].BillingType", Model.BillingTypeList, new { @style = "width:95px" })
                                        @*@Html.DropDownListFor(model => model.Billingtype, Model.BillingType, new { @maxlength = "41" })*@

                                    </td>
                                    <td align="right" width="70">
                                        <input name="LineItemgetList[0].Units" type="text" value="0" class="txt" onchange="CalculateTotal(this)" style="width:70px;" onkeypress="return isNumberKey(event)" />
                                    </td>
                                    <td align="right" width="100">
                                        <input name="LineItemgetList[0].Rate" type="text" value="0" class="txt1" onchange="CalculateTotal(this)" style="width:100px;" onkeypress="return isNumberKey(event)" />
                                    </td>
                                    <td align="right" width="100">
                                        <input name="LineItemgetList[0].TotalSPPay" type="text" class="txt2" style="width:100px;" readonly />
                                    </td>

                                    <td>
                                        <img id="imgCoverageDeleteRow0" onclick="deleteRow('tblCompanyList')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.LineItemgetList.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input name="LineItemgetList[@i].LineItemId" type="hidden" value="@Model.LineItemgetList[i].LineItemId" style="width:80px; display:none" />
                                            @*<input name="LineItemgetList[@i].Company" type="text" id="Company_@i" class="SPNameChange" value="@Model.LineItemgetList[i].Company" style="width: 205px;" />*@
                                            <select id="@("CompanyId" + i)" name="LineItemgetList[@i].CompanyId" style="width: 220px;" class="CompanyNameChange">
                                                @foreach (var type1 in Model.CompaniesList)
                                                {

                                                    <option value="@type1.Value" @(type1.Value != @Model.LineItemgetList[i].CompanyId.ToString() ? "0" : "selected = selected")>@type1.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select id="@("Billingtype" + i)" name="LineItemgetList[@i].BillingType" style="width: 95px;" class="PayeeTypeChange">
                                                @foreach (var type1 in Model.BillingTypeList)
                                                {

                                                    <option value="@type1.Value" @(type1.Value != @Model.LineItemgetList[i].BillingType ? "" : "selected = selected")>@type1.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].Units" type="text" class="txt" value="@Model.LineItemgetList[i].Units" style="width: 70px;" onkeypress="return isNumberKey(event)" />
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].Rate" type="text" class="txt1" value="@Model.LineItemgetList[i].Rate.Value.ToString("0.00")" style="width: 100px;" onkeypress="return isNumberKey(event)" />
                                        </td>
                                        <td>
                                            <input name="LineItemgetList[@i].TotalSPPay" type="text" class="txt2" value="@Model.LineItemgetList[i].TotalSPPay.Value.ToString("0.00")" onchange="CalculateSum()" style="width: 100px;" readonly />
                                        </td>

                                        <td>
                                            <img id="@("imgCoverageDeleteRow" + i)" onclick="deleteRow('tblCompanyList')" style="@(i == ( Model.LineItemgetList.Count - 1) ? "display:inline; " : "display:none; ")" color black; cursor pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                        </td>
                                    </tr>
                                }
                            }

                        </table>
                    </td>

                </tr>
                <tr>

                    @*<td nowrap="nowrap" style="text-align:end">
                            Payroll Total:
                        </td>
                        <td valign="top" width="100px">
                            <input name="PayrollTotal" id="PayrollTotal" value="@Model.PayrollTotal.ToString("0.00")" type="text" style="width: 100px;text-align:right" readonly />
                        </td>*@
                    <td colspan="2">
                        <table>

                            <tr>
                                @*<td colspan="4"></td>*@
                                <td width="435px"></td>

                                <td nowrap="nowrap" style="text-align:end">
                                    Payroll Total:
                                </td>
                                <td valign="top" width="100px">
                                    @*@Html.TextBoxFor(model => model.NetSPpayAmount, new { @maxlength = "41" })*@
                                    <input name="PayrollTotal" id="PayrollTotal" value="@Model.PayrollTotal.ToString("0.00")" type="text" style="width: 100px; text-align:right" readonly />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td align="center">
                        <br />
                        <input type="button" value="Submit" class="buttonLightYellow_100" name="SubmitButton" onclick="btnSubmit_Click()" />
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>

            </table>

            @*  <input id="hdnInvoiceRowCount" name="hdnInvoiceRowCount" type="hidden" value="@(Model.LineItemgetList.Count == 0 ? "1" : Model.LineItemgetList.Count + "")" />*@
        </td>
    </tr>
</table>

<input id="hdnInvoiceRowCount" name="hdnInvoiceRowCount" type="hidden" value="@(Model.LineItemgetList.Count == 0 ? "1" : Model.LineItemgetList.Count + "")" />
