﻿@using BLL
@model IEnumerable<ExaminerGetDetails_Result>

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style>

</style>

<table style="width: 100%;">
    @{
        List<ExaminerGetDetails_Result> GetDetails = new List<ExaminerGetDetails_Result>();
        GetDetails = Model.ToList();
        var ExaminerDetails = GetDetails.FirstOrDefault();
    }
    <tr>
        <td>
            <div style="height : 20%;">

            </div>
            <table width="100%" style="padding-bottom:14px;">
                <tr></tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>Name </b>
                    </td>
                    <td>
                        @ExaminerDetails.FirstName @ExaminerDetails.LastName
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Address  </b>
                    </td>
                    <td>@ExaminerDetails.StreetAddress</td>
                </tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>Zip </b>
                    </td>
                    <td>@ExaminerDetails.Zip</td>
                </tr>
                <tr>
                    <td>
                        <b>State </b>
                    </td>
                    <td>
                        @if (ExaminerDetails.State != "0" && ExaminerDetails.State != null)
                        {
                            var StateProvinces = css.StateProvinces.Where(x => x.StateProvinceCode == ExaminerDetails.State).FirstOrDefault();
                            @StateProvinces.Name
                        }
                    </td>
                </tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>City </b>
                    </td>
                    <td>@ExaminerDetails.City</td>
                </tr>
                <tr>
                    <td>
                        <b>Contact No </b>
                    </td>
                    <td>@ExaminerDetails.MobilePhone</td>
                </tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>Email </b>
                    </td>
                    <td>@ExaminerDetails.Email</td>
                </tr>
            </table>
        </td>
    </tr>

</table>