﻿@model BLL.ViewModels.ExhibitBDocViewModel

Independent Contractor Agreement - Exhibit B

<br />
<br />
Exhibit “B” is part of Independent Contractor Agreement

<br /><br />
<u>Daily:</u>
<br /><br />
Choice shall compensate Independent Contractor for services performed in accordance with fees schedules with Choice clients. Independent Contractor
maybe handling assignments for multiple Choice clients, therefore multiple fee schedules may exist. Independent Contractor must reference the correct fee schedule to
determine compensation for services performed for that Choice client. Reimbursable Expenses: Independent Contractor shall be responsible for paying expenses
incurred in connection with performing the Services. Reimbursable expenses will be noted per Fee Schedule(s).
<br /><br />
<b>Independent Contractors shall be entitled to a compensation for performing tasks and duties related to the adjusting services equal to <u><strong>@Model.SPPayPercent%</strong></u> (assigned by Choice
and agreed to by Independent contractor at the time of assignment) of Independent Contractor Published schedule for services for the client.
</b>
<br /><br />
•Independent Contractor published schedules may be different than the Fee Schedule agreed to by PACESETTER CLAIMS SERVICES. and their clients. This
difference may include but is not limited to office fee, file set up fees, TPA fees, oversight fees or electronic transfer fees.
<br /><br />
•Payment is based on Independent Contractors “production” on the file. Whereas if two or more Independent Contractors are working on a file simultaneously – they
will be compensated for their “production” on that particular file at <u><strong>@Model.SPPayPercent%</strong></u> of their total production and not at the total invoice. This includes both T&E and Flat Fee
Billing where applicable.
<br /><br />
•Based on the sole discretion of PACESETTER CLAIMS SERVICES, we reserve the right to change the agreed upon compensation rate at the time of the
assignment and will be documented by both parties in writing.
<br /><br />
<br /><br />
<u>Catastrophe:</u> (Independent Contractor will sign a new Exhibit B for Catastrophe/Event Deployment for each event.)
<br /><br />
It is Choice’s intention to obtain fee schedules with its clients before initiating services during Catastrophic/Event Deployment, however depending on the
nature of the Catastrophic Event Deployment, fee schedules maybe altered. Once Choice and its clients finalize a fee schedule, the schedule will be provided to the
Independent Contractor. Reimbursable Expenses: Independent Contractor shall be responsible for paying expenses incurred in connection with performing the
Services. Reimbursable expenses will be noted per Fee Schedule(s).
<br /><br />
Independent Contractors shall be entitled to a compensation for performing tasks and duties related to the adjusting services equal to <u><strong>@Model.SPPayPercent%</strong></u> (Assigned by Choice
and agreed to by Independent contractor at the time of assignment) of Independent Contractor Published schedule for adjusting services for the client. Independent
Contractor compensation will be established at each Deployment Event. Independent Contractor will sign and Exhibit “A” and Exhibit “B” for each
Deployment Event.
<br /><br />
•Independent Contractor published schedules may be different than the Fee Schedule agreed to by PACESETTER CLAIMS SERVICES. and their clients. This
difference may include but is not limited to office fee, file set up fees, TPA fees, oversight fees or electronic transfer fees.
<br /><br />
•Payment is based on Independent Contractors “production” on the file. Whereas if two or more Independent Contractors are working on a file simultaneously – they
will be compensated for their “production” on that particular file at <u><strong>@Model.SPPayPercent%</strong></u> of their total production and not at the total invoice. This includes both T&E and Flat Fee
Billing where applicable.
<br /><br />
•Based on the sole discretion of PACESETTER CLAIMS SERVICES, we reserve the right to change the agreed upon compensation rate at the time of the
assignment and will be documented by both parties in writing.&nbsp;&nbsp;
<br /><br />
