﻿@model BLL.ViewModels.ExhibitCDocViewModel

Exhibit C
<br /><br />
Exhibit C is part of Independent Contractor Agreement
<br /><br />
Retention Amount
<br /><br />
Choice will retain an amount (the “Retention Amount”) from your earnings as a holdback allowance in accordance with the guidelines set forth
below.
<br /><br />
<u>AMOUNT</u>: Choice will hold a Retention Amount equal to <u><b>@Model.HoldBackPercent%</b></u> of your gross earnings. Chocie’s obligations with respect to the Retention
Amount withheld are those of a debtor and not a trustee, and Choice can commingle the retention deposit with Choice general funds. Choice shall
not be required to pay Independent Contractor interest on the Retention Amount.
<br /><br />
<u>CHARGE BACKS</u>: Should our client require a file to be reworked and you are no longer in the area or readily available to rework the file you
may be subject to a chargeback on compensation paid should the client deem the work unsatisfactory and or insufficient. Should our client
request another Damage Assessor as a result of unsatisfactory work you may be subject to a chargeback on compensation paid.
<br /><br />
<u>RELEASE</u>: Thirty days following the closing of the storm site, the final Retention Amount will be calculated. The Retention Amount will be
released to the Damage Assessor on the following pay period. This means that it will be approximately six weeks after we close storm site operations
before you can expect the Retention Amount to be paid.
<br /><br />
<u>PAY PERIOD</u>: Billing is completed and finalized at Choice’s Corporate Office. Choice shall pay Independent Contractor on or before thirty
(30) days following the date Choice submits an invoice to the client. Choice shall submit invoices to its clients upon approval of all work
represented by the Independent Contractor invoice. Please note Choice clients have final approval of all work and invoices for services performed
on an assignment. Files being handled within Choice’s Large Loss Unit will be paid upon client approval of the file. Paychecks are issued twice a
month. Paychecks will be issued on the 15th of the month and the last day of the month.
<br /><br />
All checks will be sent via Regular Mail on the payroll date. If overnight service is requested a charge of $40.00 will be assessed. Direct deposit
of checks will be subject to a fee of $1.50 per account deposited in. These amounts will be deducted from the payroll.