﻿@model BLL.ViewModels.GoogleMapViewModel

<style type="text/css">

      #TblPopUp {
            width: 375px;
            height: 100px;
            overflow: scroll;
            overflow-x: hidden;
            vertical-align: top;
        }

        .k-button {
            visibility: hidden;
        }

        #TblPopUp td {
            align: left;
        }

</style>
@{
    if (Model != null)
    {
        if (Model.MarkerLocationList != null)
        {
            <script @*src="https://maps.google.com/maps/api/js?sensor=false"*@
                    src="https://maps.google.com/maps/api/js?key=AIzaSyACs0sSddwXg1AtQxF8mCTSB5bkKZW3wmw&sensor=false"
                    type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GoogleMap/infobox.js")" type="text/javascript"></script>
    <div id="map" style="width: 100%; height: 500px;"></div>
    
    <script type="text/javascript">
        debugger;
        function loadAssigment(url){
            document.location=url;
        }

        function addInsuredPointer(map,addressdivq)
        { var oldib;
            var addr = $('<div/>').html(addressdivq).text();
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(parseFloat(locations[i][1]), parseFloat(locations[i][2])),
                map: map,
                //icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+locations[i][3]+'|00CC00|000000'
                icon : 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
            });


            var boxText = document.createElement("div");
            boxText.style.cssText = "width: 390px;font-family:  Arial,Helvetica,sans-serif;  overflow: scroll; overflow-x: hidden; border: 1px solid black; padding:2px; margin-top: 8px; background: white;";
            boxText.innerHTML = $('<div/>').html(addressdivq).text();//addr.unescapeHTML();

            var myOptions = {
                content: boxText
                    , disableAutoPan: false
                    , maxWidth: 0
                    , pixelOffset: new google.maps.Size(-140, 0)
                    , zIndex: null
                    , boxStyle: {
                        background: "url('tipbox.gif') no-repeat"
                        //, opacity: 0.75
                      , width: "375px"
                    }
                    , closeBoxMargin: "10px 2px 2px 2px"
                    , closeBoxURL: "https://www.google.com/intl/en_us/mapfiles/close.gif"
                    , infoBoxClearance: new google.maps.Size(1, 1)
                    , isHidden: false
                    , pane: "floatPane"
                    , enableEventPropagation: false
                // , pane: "mapPane"
                //, enableEventPropagation: true

            };

            var ib = new InfoBox(myOptions);
            //ib.open(mapgoogle, marker);

            //Old info box logic
            //var infowindow = new google.maps.InfoWindow({
            //    content: addressdiv,
            //    maxWidth: 300,
            //    maxHeight: 200
            //});

            google.maps.event.addListener(marker, 'click', function () {
                //expandSearchFilter();
                //$("#txtZip").val(ZipCode);
                //$('#txtZip').blur();
                if (oldib != null) {
                    oldib.close();
                }
                ib.open(map, this);
                oldib = ib;
            });
            google.maps.event.addListener(map, 'click', function () {
                if (ib) {
                    ib.close();
                }
            });


            google.maps.event.addListener(map, 'zoom_changed', function (event) {
                if (ib) {
                    ib.close();
                }
            });
        }



            var locations = [
                @{
            decimal minLatitude = 0;
            decimal maxLatitude = 0;
            decimal minLongitude = 0;
            decimal maxLongitude = 0;

            for (int i = 0; i < Model.MarkerLocationList.Count; i++)
            {
                BLL.Models.GoogleMapLocation location = Model.MarkerLocationList[i];
                if (i == 0)
                {
                    minLatitude = maxLatitude = location.Latitude;
                    minLongitude = maxLongitude = location.Longitude;
                }

                if (location.Latitude < minLatitude)
                {
                    minLatitude = location.Latitude;
                }
                if (location.Latitude > maxLatitude)
                {
                    maxLatitude = location.Latitude;
                }
                if (location.Longitude < minLongitude)
                {
                    minLongitude = location.Longitude;
                }
                if (location.Longitude > maxLongitude)
                {
                    maxLongitude = location.Longitude;
                }

            @:['"@location.Title"',@location.Latitude, @location.Longitude,@location.Index]@(i < Model.MarkerLocationList.Count - 1 ? "," : "")
                }
            if (minLatitude == maxLatitude)
            {
                minLatitude -= (decimal)0.001;
                maxLatitude += (decimal)0.001;
            }
            if (minLongitude == maxLongitude)
            {
                minLongitude -= (decimal)0.001;
                maxLongitude += (decimal)0.001;
            }
            }
            ];

            var map = new google.maps.Map(document.getElementById('map'), {

                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            map.setCenter(new google.maps.LatLng(@((minLatitude + maxLatitude) / 2), @((minLongitude + maxLongitude) / 2)));
            map.fitBounds(new google.maps.LatLngBounds(
              //bottom left
              new google.maps.LatLng(@minLatitude, @minLongitude),
              //top right
              new google.maps.LatLng(@maxLatitude, @maxLongitude)
            ));

            var infowindow = new google.maps.InfoWindow();

            var marker, i;
            var item = {}

            var flightPlanCoordinates=[];
            for (i = 0; i < locations.length; i++) {
                console.log(locations[i][1] + ':' + locations[i][2] + ':' + locations[i][3]);
                var addressdivq='';
                if(locations[i][0]==='"Insured"')
                {
                    @{
            string strPopupDiv = "<table  id='TblPopUp'   cellPadding='0' cellSpacing='0' >";

            strPopupDiv = strPopupDiv + "<tr style='background:#EEEEEE; font-weight :bold; text-align:left; padding-left:5px'  ><td colspan='3' style='padding-left:5px;   '> </td><td colspan='3' style='padding-left:5px;   '> </td></tr>";
            strPopupDiv = strPopupDiv + "<tr  class='tableHeader' ><td></td><td> Claim #</td><td> Insured Name </td><td>Job Type </td><td> Service Type </td></tr>";

                if (Model.insuredDetails != null)
                {

                   

                    bool isOdd1 = false;
                    //string PointColor = "RED";
                    string PointColor;

                    PointColor = "GREEN";

                    //foreach (var obj in Model.spfilteredZip[i].SPAssignments)
                    foreach (var obj in Model.insuredDetails)
                    {
                        if (isOdd1)
                        {
                            strPopupDiv = strPopupDiv + "<tr class='tableRow' >";
                            isOdd1 = false;
                        }
                        else
                        {
                            strPopupDiv = strPopupDiv + "<tr class='tableRowAlternate' >";
                            isOdd1 = true;
                        }

                        strPopupDiv = strPopupDiv + "<td nowrap='nowrap' style='padding-right:3px;'></td><td><a href='#' onclick=\"loadAssigment('" + Url.Content("~/PropertyAssignment/GetReferalDetails") + "?ClaimId=" + obj.ClaimId + "&Jobid=" + obj.JobId + "&IsView=True&ServiceId="+obj.ServiceId+"');\">" + obj.ClaimNumber + "</a> </td> <td>" + obj.InsuredFirstName + " " + obj.InsuredLastName + "</td><td>" + obj.JobDesc + "</td><td>" + obj.Servicename + "</td></tr>";

                    }

                    strPopupDiv = strPopupDiv + "<tr class='footer'><td colspan='6' ><br /></td></tr>";
                    strPopupDiv = strPopupDiv + "</table>";

                    
                }

                @:addInsuredPointer(map,'@strPopupDiv');
                    
                 }
           
                }
                else
                {
                    var item1 = {}
                    item ["lat"] = parseFloat(locations[i][1]);
                    item ["lng"] = parseFloat(locations[i][2]);


                    item1 ["lat"] = parseFloat(locations[locations.length-1][1]);
                    item1 ["lng"] = parseFloat(locations[locations.length-1][2]);
                    flightPlanCoordinates.push(item);
                    flightPlanCoordinates.push(item1);

                    var flightPath = new google.maps.Polyline({
                        path: flightPlanCoordinates,
                        geodesic: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    flightPath.setMap(map);

                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat(locations[i][1]), parseFloat(locations[i][2])),
                        map: map,
                        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+locations[i][3]+'|B2B2B2|000000'
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

      
            }
    </script>
        }
    }
}