﻿@using System.Configuration
@using CSS
@using BLL
@model BLL.ViewModels.InsuranceTypeSearchViewModel
@{
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
    ChoiceSolutionsEntities css = new ChoiceSolutionsEntities();
    string senderemail = ConfigurationManager.AppSettings["SupportEmailAddress"].ToString();
}
<style type="text/css">
    #backgroundTemplatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }


    .EditTemplatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
     
</style>
<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#txtZip").blur(function () {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
                { ZipCode: $("#txtZip").val() },
                 function (data) {
                     if (data != -1) {
                         $("#txtState").val(data.State);
                         $("#txtCity").val(data.City);
                     }
                     else {
                         $("#txtState").val("");
                         $("txtCity").val("");
                     }

                 });
        });
    });
    $(function () {
        $("#TxtCompFax").mask('(999)999-9999');
        $("#txtCompPhone").mask('999-999-9999');
    });

    $(function () {
        $("#Isactive").checked = true;
    });

    $(function () {
        $("#IsInvisionAPi").checked = true;
    });
    $(document).ready(function () {
        debugger;

        var selected = '@Model.region';
        if (selected != '' && selected != null) {
            if (selected.charAt(0) == ',') {
                selected = selected.substr(1, selected.length - 1)
            }
            var arr = selected.split(',');
            $("#mySelectBox").val(arr).trigger("chosen:updated");
            //var obj = $('#mySelectBox');
            //for (var j = 0; j < arr.length; j++) {
            //    if (arr[j] != '')
            //    {
            // var val = arr[j];
            //obj.find('option:[value=' + val + ']').attr('selected', 1);
            //    }
            //}
        }
        ddlIntTypeList_OnChange();
    });
    function ddlIntTypeList_OnChange() {
        if ($("#ddlIntTypeList").val() == "1") {
            $("#divUsesSharedDataset").show();
            $("#tdXactBusinessUnit").show();
            $("#tdXactsendinvoices").show();
        }
        else {
            $("#divUsesSharedDataset").hide();
            $("#tdXactBusinessUnit").hide();
            $("#tdXactsendinvoices").hide();
            $("#cbUsesSharedDataset").removeAttr("checked");
            $("#HasDocumentBridge").removeAttr("checked");
        }
    }
    function loadTemplatePopup(url) {


        document.getElementById("iframeTemplate").src = url;
        centerTemplatePopup();


        $("#backgroundTemplatePopup").css({
            "opacity": "0.7"
        });

        $("#backgroundTemplatePopup").fadeIn("slow");
        $("#divTemplate").fadeIn("slow");

        //var data=$('#iframeTemplate').contents().find('span.k-input');
        //$(data).text("Insert PlaceHolder");

        return false;
    }

    function centerTemplatePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divTemplate").height();
        var popupWidth = $("#divTemplate").width();
        //centering  
        $("#divTemplate").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundTemplatePopup").css({
            "height": windowHeight
        });
        return false;
    }


    function disableTemplatePopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundTemplatePopup").fadeOut("slow");
            $("#divTemplate").fadeOut("slow");
            popupStatus = 0;
        }

    }
    $(document).ready(function () {
        debugger;
        var IsCarrierAcknowledge = $("input:checkbox[name='EmailCarrierAcknowlege']:checked").val();
        if ($("input:checkbox[name='EmailCarrierAcknowlege']").is(":checked")) {
            $("#trToEmail").show();
        }
        else {
            $("#trToEmail").hide();
        }
        $("input:checkbox[name='EmailCarrierAcknowlege']").change(function () {
            debugger;
            var IsCarrierAcknowledged = $("input:checkbox[name='EmailCarrierAcknowlege']:checked").val();
            if (IsCarrierAcknowledged == "true") {
                $("#trToEmail").show();
            }
            else {
                $("#trToEmail").hide();
            }
        })
        if ($("#radioCarrieremail").val() == 'True' && $("#radioLOBemail").val() == 'False')
        {
            debugger;
            $("#txtOtherEmails").prop('disabled', false);
            $('#radioCarrieremail').prop('checked', true);
        }
        else if($("#radioCarrieremail").val() == 'False' && $("#radioLOBemail").val() == 'False')
        {
            $("#txtOtherEmails").prop('disabled', false);
            $('#radioCarrieremail').prop('checked', true);
            $("#radioCarrieremail").val('True');
            $("#radioLOBemail").val('False');
        }
        else {
            $("#txtOtherEmails").prop('disabled', true);
            $('#radioCarrieremail').prop('checked', false);
        }
        if ($("#radioLOBemail").val() == 'True') {
            debugger;
            $('#radioLOBemail').prop('checked', true);
        }
        else
        {
            $('#radioLOBemail').prop('checked', false);
            $("#radioLOBemail").val('False');
        }
        $("#radioCarrieremail").click(function () {
            debugger;
            $("#radioCarrieremail").prop('checked', true);
            $('#radioCarrieremail').val('True');
            $("#radioLOBemail").prop('checked', false);
            $('#radioLOBemail').val('False');
            $("#txtOtherEmails").prop('disabled', false);
            $("#txtOtherEmails").focus = true;
        });
        $("#radioLOBemail").click(function () {
            debugger;
            $("#radioLOBemail").prop('checked', true);
            $('#radioLOBemail').val('True');
            $("#radioCarrieremail").prop('checked', false);
            $('#radioCarrieremail').val('False');
            $("#txtOtherEmails").prop('disabled', true);
        });
        if ($("#txtSenderEmail").val() =="")
        {
            debugger;
            var val1 = '@senderemail';
            $("#txtSenderEmail").val(val1);
        }
    });
</script>
<head>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
    </style>
</head>

        @Html.HiddenFor(model => model.companyid)
    
            
<table width="100%" align="center">
    <tr>
        <td valign="top" width="350"><table align="left" cellspacing="2" width="350">
    
    
    <tr>
        <td valign="top" colspan="2" class="borderBottomLightGray">
            <b>Basic Information</b>
        </td>
        
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Company Name:
        </td>
        <td valign="top" width="600">
            @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = "41" })
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Carrier Id:
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.CarriedId)
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Tax Id:
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.TaxID)
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Integration Company:
        </td>
        <td valign="top" " nowrap="nowrap">
            <div style="float:left;width:180px;">@Html.DropDownListFor(model => model.IntegrationTypeId, Model.IntegrationTypeList, new { @id="ddlIntTypeList", @onchange="ddlIntTypeList_OnChange()", @style="width:170px;"}) &nbsp;&nbsp;</div>
            
        </td>
        
    </tr>
             <tr id="divUsesSharedDataset">
        <td valign="top" nowrap="nowrap" style="height:25px;">Uses Shared Dataset:
        </td>
        <td valign="top" " nowrap="nowrap" align="left">
            @Html.CheckBoxFor(model => model.UsesSharedDataset, new { @id = "cbUsesSharedDataset" }) 
        </td>
        
    </tr>
            <tr id="tdXactsendinvoices">
                    <td align="left">Send Invoice:

                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.HasDocumentBridge)
                    </td>

                </tr>
     <tr id="tdXactBusinessUnit">
        <td valign="top" nowrap="nowrap" style="height:25px;">Xact Business Unit:
        </td>
        <td valign="top" " nowrap="nowrap" align="left">
            @Html.TextBoxFor(model => model.XACTBusinessUnit)
        </td>
        
    </tr>

    <tr>
        <td valign="top" nowrap="nowrap">Company logo:
        </td>
        <td valign="top" nowrap="nowrap">
            <table>
                <tr>
                    <td nowrap="nowrap">Attach your Logo: </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.logo != "" && Model.logo != null)
                        {
                            string absoluteThumnailFileName = Model.companyid + "/" + Model.logo;
                            string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteThumnailFileName);
                                        <a href="@Url.Action("DeleteLogo", "InsuranceSetUp", new { CompanyId=@Model.companyid })" style="border: none; color: black; cursor: pointer;float:left;">
                                                                                            <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick = "return confirm('Are you sure you want to Delete ?')" />
                                                                                        </a>
                            <img id="companyLogo" width="100" height="100" src="@thumbnailFileUrl" />
                        }
                        else
                        {
                            <input type="file" id="file1" name="file1" value="file" />
                        }
                    </td>
                </tr>
            </table>


        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Regions:<u> </u>
        </td>
        <td valign="top">
            @Html.ListBoxFor(model => model.regions, Model.RegionTypeList, new { id = "mySelectBox" })
            @* @Html.ListBoxFor(model => model.RegionId,new SelectList((IEnumerable<SelectListItem>)Model.RegionTypeList,"RegionId","Region1" ))*@
            @* @Html.ListBoxFor(model => model.RegionTypeList, new MultiSelectList(Model.RegionTypeList, "RegionId", "Region"))*@
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Is Active:<u> </u>
        </td>
        <td valign="top">
            @Html.CheckBoxFor(model => model.IsActive, new { id = "Isactive" })
        </td>
    </tr>
     <tr>
         <td valign="top" nowrap="nowrap">
            Is Invision API:<u> </u>
           </td>
          <td valign="top">
          @Html.CheckBoxFor(model => model.IsInvisionAPI, new { id = "IsInvisionAPi" })
       </td>
     </tr>
    <tr>
         <td valign="top" nowrap="nowrap">
            Include Holdback:<u> </u>
           </td>
          <td valign="top">
          @Html.CheckBoxFor(model => model.IncludeHoldback, new { id = "IsIncludeHoldback" })
       </td>
     </tr>
    <tr>
        <td ></td>
        <td></td>
    </tr>
</table>
        </td>
        <td valign="top" width="350">
            
            <table width="350">
                <tr>
        <td valign="top" colspan="2" class="borderBottomLightGray">
            <b>Contact Information</b>
        </td>
        
    </tr>
               <tr>
        <td valign="top" nowrap="nowrap">Address:
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.Address)
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">City:<u> </u>
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.City, new { id = "txtCity" })
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">State:<u> </u>
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.State, new { id = "txtState" })
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Zip:<u> </u>
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.Zip, new { id = "txtZip" })
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Phone:<u> </u>
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.PhoneNumber, new { id = "txtCompPhone" })
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Email:<u> </u>
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.Email, new { id = "txtEmailPhone" })
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Fax:<u> </u>
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.Fax, new { id = "TxtCompFax" })
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">Webstite URL:<u> </u>
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.WebsiteURL)
        </td>
    </tr>
                <tr>
                    <td nowrap="nowrap">Add Custom Report Template

                    </td>
                    <td>
                        <input type="button" id="addtemplate" value="Add Template" onclick="loadTemplatePopup('@Url.Action("EmailTemplate", "EmailTemplate", new { HeadCompanyId = Model.companyid, TemplateId = -1, StatusId = -1,ActionId=0 })    ')" />
                    </td>
                    
                    <td>
                        <input type="button" id="addtemplate" value="View Templates" onclick="loadTemplatePopup('@Url.Action("EmailTemplate", "EmailTemplate", new { HeadCompanyId = Model.companyid, TemplateId = -1, StatusId = -1, ActionId=1 })    ')" />
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">
                        Auto Email Carrier Acknowledgement
                    </td>
                    <td>
                        @*<input type="checkbox" name="CbEmailCarrierAcknowlege" id="CbEmailCarrierAcknowlege" value="@Model.EmailCarrierAcknowlege" />*@
                        @Html.CheckBoxFor(model => model.EmailCarrierAcknowlege, new { @id = "CbEmailCarrierAcknowlege" })
                    </td>
                </tr>
                <tr id="trToEmail" style="display:none">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td colspan="2">Send to the following recipients:<br /></td>
                            </tr>
                            <tr>
                                <td>Client POC</td>
                                <td>
                                    @Html.CheckBoxFor(model => model.ChkClientPOC, new { @id = "ChkClientPOC" })
                                </td>
                            </tr>
                            <tr>
                                <td>SP on Assignment</td>
                                <td>
                                    @Html.CheckBoxFor(model => model.ChkSPOnAssignment, new { @id = "ChkSPOnAssignment" })
                                </td>
                            </tr>
                            <tr>
                                <td>PCS POC</td>
                                <td>
                                    @Html.CheckBoxFor(model => model.ChkChoicePOC, new { @id = "ChkChoicePOC" })
                                </td>
                            </tr>
                            <tr>
                                <td>Same Carrier Email for all LOBs</td>
                                <td>
                                    @Html.RadioButtonFor(model => model.ChkOtherEmail, Model.ChkOtherEmail, new { id = "radioCarrieremail" })&nbsp; @Html.TextBoxFor(model => model.OtherEmails, Model.OtherEmails, new { @id = "txtOtherEmails", style = "width: 260px;", @placeholder = "Email addresses separated by ;" })
                                </td>
                            </tr>
                            <tr>
                                <td>LOB-Specific Email Recipients</td>
                                <td>
                                    @Html.RadioButtonFor(model => model.ChkLOBEmails, (Model.ChkLOBEmails == true ? true : false), new { @id = "radioLOBemail" })
                                    <label>Go to LOB page to enter Recipients</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Subject Line of Email:</td>
                                <td>
                                    @Html.TextBoxFor(model => model.EmailSubject, Model.EmailSubject, new { @id = "txtEmailSubject", style = "width: 290px;" })
                                </td>
                            </tr>
                            <tr>
                                <td>Body of Email:</td>
                                <td>
                                    @Html.TextAreaFor(model => model.EmailMessage, new { @id = "txtEmailMessage", style = "width: 290px; height: 50px;" })
                                </td>
                            </tr>
                            <tr>
                                <td>Sender's(Return) Email:</td>
                                <td>
                                    @Html.TextBoxFor(model => model.SenderEmail, new { @id = "txtSenderEmail", @style = "width: 290px;", @disabled = "disabled" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tax-Exempt
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.TexasInvoiceTaxFlag, new { id = "TexasInvoiceTaxFlag" })
                    </td>
                </tr>
            </table>
            
        </td>
<td valign="top" width="350">
<table width="350">
                <tr>
        <td valign="top" colspan="2" class="borderBottomLightGray">
            <b>FTP Integration</b>
        </td>
        
    </tr>
               <tr>
        <td valign="top" nowrap="nowrap">Enable Document Export:
        </td>
        <td valign="top">
            @Html.CheckBoxFor(model => model.EnableFTPDocExport)
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">FTP User Name:
        </td>
        <td valign="top">
            @Html.TextBoxFor(model => model.FTPUserName)
        </td>
    </tr>
    <tr>
        <td valign="top" nowrap="nowrap">FTP Password:
        </td>
        <td valign="top">
            @Html.PasswordFor(model => model.FTPPassword)
        </td>
    </tr>
<tr>
        <td valign="top" nowrap="nowrap">FTP Confirm Password:
        </td>
        <td valign="top">
            @Html.PasswordFor(model => model.FTPConfirmPassword)
        </td>
    </tr>
   
            </table>
</td>
    </tr>
    <tr>
        <td valign="top" colspan="2">
            <br />
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="3" class="borderBottomLightGray">
            <b>Company Requirements</b>
        </td>
        
    </tr>
    <tr>
        <td>
            Attach POC Quick Reference  File :
        </td>
        <td>
            @{
                Company comp = new Company();
                comp = css.Companies.Find(Model.companyid);
                string absoluteFileName = null;
                string fileUrl = null;
                if (comp != null)
                {
                    absoluteFileName = Model.companyid + "/" + comp.POCQuickReferenceFile;
                    fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteFileName);
                    if (comp.POCQuickReferenceFile != "" && comp.POCQuickReferenceFile != null)
                    {
                        <a href="@Url.Action("DeletePOCQuickReferenceFile", "InsuranceSetUp", new { CompanyId = @Model.companyid })" style="border: none; color: black; cursor: pointer;float:left;">
                            <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick="return confirm('Are you sure you want to Delete ?')" />
                        </a>
                        <text>@comp.POCQuickReferenceFile</text>
                        <a id="fileDownload" href="@Url.Action("ExportPOCQuickReferenceFile", "InsuranceSetUp", new { HeadCompanyId = @Model.companyid, fileurl = Cypher.EncryptString(fileUrl), filename = comp.POCQuickReferenceFile })" style="margin-left: 42%;font-size: 11px;font-weight: 500;">
                          Download
                            @*<img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />*@
                        </a>
                    }
                    else
                    {
                        <input type="file" id="file2" name="file2" value="file" />
                    }
                }
                else
                {
                    <input type="file" id="file2" name="file2" value="file" />
                }
            }
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="3"><div style="width:700px;">@Html.Partial("_Requirements", Model.RequirementsViewModel)</div></td>
    </tr>
  
</table>

<div id="backgroundTemplatePopup" onclick="disableTemplatePopup();"></div>

<div id="divTemplate" class="EditTemplatePopup" style="width: 95%;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Template</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableTemplatePopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeTemplate" style="width: 100%; height: 700px" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
        <tr>
            <td class="footer" align="center">
                <br />
            </td>
        </tr>
    </table>

</div>
