﻿@model BLL.ViewModels.InternalQCViewModel
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<script src="@Url.Content("~/Scripts/jquery.formatCurrency-1.4.0.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<table style="width:100%; height:100%;">
    <tr>
        <td>
            <b>Date:</b>
        </td>
        <td>
            @Html.TextBoxFor(model => model.Date, new { @id = "txtDate", @readonly = true })
            @*@Html.HiddenFor(model => model.IQCId, new { @id = "hdnIQCId" })
                @Html.HiddenFor(model => model.AssignmentId,new { @id = "hdnAssignmentId"})*@
            <input type="hidden" id="hdnAssignmentId" name="hdnAssignmentId" value="@Model.AssignmentId" />
            <input type="hidden" id="hdnIQCId" name="hdnIQCId" value="@Model.IQCId" />
        </td>
    </tr>
    <tr>
        <td>
            <b>Damage Assessor:</b>
        </td>
        <td>
            @Html.TextBoxFor(model => model.DamageAssessor, new { @id = "txtDamageAssessor", @readonly = true })
        </td>
    </tr>
    <tr>
        <td>
            <b>QC Reviewer:</b>
        </td>
        <td>
            @Html.TextBoxFor(model => model.QCReviewer, new { @id = "txtQCReviewer",@readonly = true })
        </td>
    </tr>
    <tr>
        <td>
            <b>Pass/Fail:</b>
        </td>
        <td>
            @Html.DropDownListFor(model => model.PassFail,Model.PassFailList, new { @id = "ddlPassFail" })
            @*@Html.TextBoxFor(model => model.PassFail, new { @id = "txtPassFail" })*@
        </td>
    </tr>
    <tr>
        <td class="mainHeader" colspan="2"><b>Check Claim Info</b></td>
    </tr>
    <tr>
        <td>
            Insured Info is filled in
        </td>
        <td>
            @Html.CheckBoxFor(model => model.InsuredInfoIsFilled, new { @id = "chkInsuredInfoIsFilled" })
        </td>
    </tr>
    <tr>
        <td>
            Date of Loss is correct(@Model.LossDate)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.DateofLossIsCorrect, new { @id = "chkDateofLossIsCorrect" })
        </td>
    </tr>
    <tr>
        <td>
            Reference Type Correct
        </td>
        <td>
            @Html.CheckBoxFor(model => model.ReferenceTypeIsCorrect, new { @id = "chkReferenceTypeIsCorrect" })
        </td>
    </tr>
    <tr>
        <td>
            Loan Number is Living Square Footage of the Home
        </td>
        <td>
            @Html.CheckBoxFor(model => model.LoanNoIsLivingSquareFootage, new { @id = "chkLoanNoIsLivingSquareFootage" })
        </td>
    </tr>
    <tr>
        <td>
            Type of Loss(@Model.LossType)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.TypeOfLoss, new { @id = "chkTypeOfLoss" })
        </td>
    </tr>
    <tr>
        <td>
            Price List & Tax Rate Per SOP
        </td>
        <td>
            @Html.CheckBoxFor(model => model.PriceANDTaxPerSOP, new { @id = "chkPriceANDTaxPerSOP" })
        </td>
    </tr>
    <tr>
        <td class="mainHeader" colspan="2"><b>Check Coverages</b></td>
    </tr>
    <tr>
        <td>
            CRE (Completed Repairs Estimate)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.CRE, new { @id = "chkCRE" })
        </td>
    </tr>
    <tr>
        <td>
            SWE (Scope of Work Estimated)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.SWE, new { @id = "chkSWE" })
        </td>
    </tr>
    <tr>
        <td>
            RHCS (Resilient Home Construction Standards)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.RHCS, new { @id = "chkRHCS" })
        </td>
    </tr>
    <tr>
        <td class="mainHeader" colspan="2"><b>Sketch</b></td>
    </tr>
    <tr>
        <td>
            Measurements are within a 3” tolerance
        </td>
        <td>
            @Html.CheckBoxFor(model => model.MeasurementsWithin3, new { @id = "chkMeasurementsWithin3" })
        </td>
    </tr>
    <tr>
        <td>
            Room Names and Types are Correct
        </td>
        <td>
            @Html.CheckBoxFor(model => model.RoomAndTypeIsCorrect, new { @id = "chkRoomAndTypeIsCorrect" })
        </td>
    </tr>
    <tr>
        <td>
            Ceiling Types are correct
        </td>
        <td>
            @Html.CheckBoxFor(model => model.CeilingTypeIsCorrect, new { @id = "chkCeilingTypeIsCorrect" })
        </td>
    </tr>
    <tr>
        <td>
            Doors are on each room in XM8 sketch and
        </td>
        <td>
            @Html.CheckBoxFor(model => model.DoorsAreOnEachRoomInXM8Sketch, new { @id = "chkDoorsAreOnEachRoomInXM8Sketch" })
        </td>
    </tr>
    <tr>
        <td>
            Door swings are correct
        </td>
        <td>
            @Html.CheckBoxFor(model => model.DoorSwingsAreCorrect, new { @id = "chkDoorSwingsAreCorrect" })
        </td>
    </tr>
    <tr>
        <td>
            Windows are on the XM8 sketch
        </td>
        <td>
            @Html.CheckBoxFor(model => model.WindowsAreOnXM8Sketch, new { @id = "chkWindowsAreOnXM8Sketch" })
        </td>
    </tr>
    <tr>
        <td>
            The sketch makes sense compared to the photos
        </td>
        <td>
            @Html.CheckBoxFor(model => model.SketchComparedPhotos, new { @id = "chkSketchComparedPhotos" })
        </td>
    </tr>
    <tr>
        <td class="mainHeader" colspan="2"><b>Photos</b></td>
    </tr>
    <tr>
        <td>
            Date Stamped
        </td>
        <td>
            @Html.CheckBoxFor(model => model.DateStamped, new { @id = "chkDateStamped" })
        </td>
    </tr>
    <tr>
        <td>
            In Proper Folders
        </td>
        <td>
            @Html.CheckBoxFor(model => model.InProperFolders, new { @id = "chkInProperFolders" })
        </td>
    </tr>
    <tr>
        <td>
            Make sure photos show the work estimated
        </td>
        <td>
            @Html.CheckBoxFor(model => model.PhotosShowWorkEstimated, new { @id = "chkPhotosShowWorkEstimated" })
        </td>
    </tr>
    <tr>
        <td>
            All Required photos (per SOP) in the folders
        </td>
        <td>
            @Html.CheckBoxFor(model => model.AllRequiredPhotosInFolders, new { @id = "chkAllRequiredPhotosInFolders" })
        </td>
    </tr>
    <tr>
        <td>
            Make sure there are NO Blurry photos
        </td>
        <td>
            @Html.CheckBoxFor(model => model.NoBlurryPhotos, new { @id = "chkNoBlurryPhotos" })
        </td>
    </tr>
    <tr>
        <td class="mainHeader" colspan="2"><b>Estimate Tree</b></td>
    </tr>
    <tr>
        <td>
            Estimate Tree according to SOP
        </td>
        <td>
            @Html.CheckBoxFor(model => model.EstimateTreeAccordingToSOP, new { @id = "chkEstimateTreeAccordingToSOP" })
        </td>
    </tr>
    <tr>
        <td class="mainHeader" colspan="2"><b>Required Documents Attached</b></td>
    </tr>
    <tr>
        <td>
            ROE
        </td>
        <td>
            @Html.CheckBoxFor(model => model.ROE, new { @id = "chkROE" })
        </td>
    </tr>
    <tr>
        <td>
            ScopeNotes (consists of Sketch, DA Checklist)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.ScopeNotes, new { @id = "chkScopeNotes" })
        </td>
    </tr>
    <tr>
        <td>
            HQS Form
        </td>
        <td>
            @Html.CheckBoxFor(model => model.HQSForm, new { @id = "chkHQSForm" })
        </td>
    </tr>
    <tr>
        <td class="mainHeader" colspan="2"><b>Items of Concern</b></td>
    </tr>
    <tr>
        <td>
            <table id="tblItemsConcern" cellpadding="0" cellspacing="0">
                <tbody></tbody>
                <tfoot>
                    @if (Model.ItemsConcernGetList == null || Model.ItemsConcernGetList.Count == 0)
                    {
                        <tr>
                            <td>
                                <input type="text" id="txtDescription" name="ItemsConcernGetList[0].Description" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        for (int i = 0; i < Model.ItemsConcernGetList.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="ItemsConcernGetList[@i].IQCId" value="@Model.ItemsConcernGetList[i].IQCId" />
                                    <input type="hidden" name="ItemsConcernGetList[@i].ItemId" value="@Model.ItemsConcernGetList[i].ItemId" />
                                    <input type="text" name="ItemsConcernGetList[@i].Description" value="@Model.ItemsConcernGetList[i].Description"/>
                                    @*<input type="button" value="Remove" onclick="Remove(this)"/>*@
                                </td>
                            </tr>
                        }
                    }
                </tfoot>
            </table>
            <table>
                <tr>
                    <td>
                        <input type="button" id="btnAddRow" value="Add Row" onclick="AddRow()" class="buttonLightYellow_100" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script>
    //function Add(tableId) {
    //    debugger;
    //    AddRow($("#txtDescription").val());
    //    $("#txtDescription").val("");
    //};

    function AddRow() {
        debugger;
        var table = document.getElementById("tblItemsConcern");

        var rowCount = table.rows.length;
        //var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        //var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
        //hdnRowCount.value = parseInt(hdnRowCount.value) + 1;


        var cell2 = row.insertCell(0);
        var element2 = document.createElement("input");
        element2.type = "text";
        //element2.style.width = "80px";
        element2.name = "ItemsConcernGetList[" + rowCount + "].Description";
        cell2.appendChild(element2);

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.addClass("buttonLightYellow_100");
        btnRemove.val("Remove");
        cell.append(btnRemove);
    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to Delete.")) {
            //Get the reference of the Table.
            var table = $("#tblItemsConcern")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };
</script>