﻿@model BLL.ViewModels.InvoiceBilledNotesViewModel
<table align="center" width="90%">
    <tr>
        <td width="50%" align="left" valign="middle" nowrap="nowrap"><b>Pacesetter Services
            <br />
            1701 Gateway Dr. Suite 319, 
            <br />
            Richardson, TX 75080.
            <br />
            info@choicessi.com</b>
        </td>
        <td width="50%" align="right" valign="middle">
            <img src="@Url.Content("~/Content/Images/CSSLogo04.png")" alt="Pacesetter Services "/></td>
    </tr>
</table>

<br />
<br />
<table width="90%" align="center">
    <tr>
        <td align="left"><b>Claim Number:</b> @Model.ClaimNumber <b style="padding-left: 20px;">Invoice Number:</b> @Model.InvoiceNumber</td>
    </tr>
</table>
<br />

<table align="center" width="90%" border="1" cellpadding="3" bordercolor="Black" style="border-collapse: collapse;">
    <tr bgcolor="#c0c0c0">
        <th width="15%" align="left">Date</th>
        <th width="20%" align="left">Subject</th>
        <th width="60%" align="left">Note</th>
        <th width="5%" align="left">Hours</th>
    </tr>
    @foreach (var note in Model.NotesList)
    {
        <tr style="padding-bottom: 3px;">
            <td align="left" valign="top">@note.Date.Value.ToString("MM/dd/yyyy HH:mm")</td>
            <td align="left" valign="top">@note.Subject</td>
            <td align="left" valign="top">@note.Note</td>
            <td align="left" valign="top">@note.Hours</td>
        </tr>
    }
    <tr bgcolor="#cccccc">
        <td></td>
        <td align="left" valign="top">Total</td>
        <td></td>
        <td align="left" valign="top">@Model.TotalHours</td>
    </tr>
</table>
