﻿@model BLL.ViewModels.PricingScheduleViewModel
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<style type="text/css">
    .tableHeader{
            background-color: #B2B2B2;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12 ! important;
    }
    .content{
          font-size: 12 ! important;
    }
</style>
<table width="100%">

    <tr style="text-align: left;">
        <td class="errorMsg" id="tdFormErroMsg"></td>
        @*@Html.HiddenFor(model => model.CompanyLOBPricingid, new { @id = "hdnINVCompanyLOBPricingid" })*@
    </tr>
    <tr>
        <td class="content">
            <table cellpadding="0" cellspacing="0" width="100%">
                
                    <tr valign="top">
                        <td class="tableHeader"></td>
                        <td class="tableHeader">Fee Name</td>
                        <td class="tableHeader">Is FlatFee</td>
                        <td class="tableHeader">W2 Paycode</td>
                        <td class="tableHeader">1099 Paycode</td>
                        <td class="tableHeader">SP Percent</td>
                    </tr>
                
                @*<tbody>
                    @{
                        if (Model.LOBInvisionFeeGetList.Count > 0)
                        {
                            for (int i = 0; i < Model.LOBInvisionFeeGetList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" name="LOBInvisionFeeGetList[@i].RuleId" value="@Model.LOBInvisionFeeGetList[i].RuleId" />
                                        <input type="hidden" name="LOBInvisionFeeGetList[@i].InvisionFeeId" value="@Model.LOBInvisionFeeGetList[i].InvisionFeeID" />
                                        <input type="hidden" name="LOBInvisionFeeGetList[@i].LOBInvisionFeeId" value="@Model.LOBInvisionFeeGetList[i].LOBInvisionFeeId" />
                                    </td>
                                    <td>@Model.LOBInvisionFeeGetList[i].FeeName</td>
                                    <td align="center">@(Model.LOBInvisionFeeGetList[i].IsFlatFee == true ? "Yes" : "No")</td>
                                    <td align="center">
                                        <input type="text" name="LOBInvisionFeeGetList[@i].SPPayPercent" value="@Model.LOBInvisionFeeGetList[i].SPPayPercent" style="width: 100px;" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            if (Model.InvisionFeeList.Count > 0 && Model.InvisionFeeList != null)
                            {
                                for (int i = 0; i < Model.InvisionFeeList.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" name="LOBInvisionFeeGetList[@i].RuleId" value="@Model.InvisionFeeList[i].RuleID" />
                                            <input type="hidden" name="LOBInvisionFeeGetList[@i].InvisionFeeId" value="@Model.InvisionFeeList[i].InvisionFeeId" />
                                        </td>
                                        <td>@Model.InvisionFeeList[i].FeeName</td>
                                        <td align="center">@(Model.InvisionFeeList[i].IsFlatFee == true ? "Yes" : "No")</td>
                                        <td align="center">
                                            <input type="text" name="LOBInvisionFeeGetList[@i].SPPayPercent" value="0" style="width: 100px;" />
                                        </td>
                                    </tr>
                                }
                                //foreach (var FeeItem in Model.InvisionFeeList)
                                //{

                                //}
                            }
                            else
                            {
                                <tr>
                                    <td style="color:red;text-align:center" colspan="4">
                                        - No Records -

                                    </td>
                                </tr>
                            }
                        }
                    }
                    

                </tbody>*@
            <tbody class="content">
                    @{
                        if (Model.LOBInvisionFeeGetList.Count > 0)
                        {
                            int j = 0;
                            List<string> feename = new List<string>();
                            for (int i = 0; i < Model.LOBInvisionFeeGetList.Count; i++)
                            {
                                <tr style="display:none">
                                    <td>
                                      <input type="hidden" name="LOBInvisionFeeGetList[@i].FeeName" value="@Model.LOBInvisionFeeGetList[i].FeeName" />
                                        <input type="hidden" name="LOBInvisionFeeGetList[@i].RuleId" value="@Model.LOBInvisionFeeGetList[i].RuleId" />
                                        <input type="hidden" name="LOBInvisionFeeGetList[@i].InvisionFeeId" value="@Model.LOBInvisionFeeGetList[i].InvisionFeeID" />
                                        <input type="hidden" name="LOBInvisionFeeGetList[@i].CompanyLOBPricingID" value="@Model.LOBInvisionFeeGetList[i].CompanyLOBPricingID" />
                                        <input type="hidden" name="LOBInvisionFeeGetList[@i].LOBInvisionFeeId" value="@Model.LOBInvisionFeeGetList[i].LOBInvisionFeeId" />
                                    </td>
                                    <td>@Model.LOBInvisionFeeGetList[i].FeeName</td>
                                    <td align="center">@(Model.LOBInvisionFeeGetList[i].IsFlatFee == true ? "Yes" : "No")</td>
                                    <td align="center">
                                        <input type="text" name="LOBInvisionFeeGetList[@i].SPPayPercent" value="@Model.LOBInvisionFeeGetList[i].SPPayPercent" style="width: 100px;" />
                                    </td>
                                </tr>
                                if (!feename.Contains(Model.LOBInvisionFeeGetList[i].FeeName))
                                {
                                    feename.Add(@Model.LOBInvisionFeeGetList[i].FeeName);
                                    <tr>
                                        <td>
                                             <input type="hidden" name="UnitOfMeasuresList[@j].FeeName" value="@Model.LOBInvisionFeeGetList[i].FeeName" />
                                        </td>
                                        <td>@Model.LOBInvisionFeeGetList[i].FeeName</td>
                                        <td align="center">@(Model.LOBInvisionFeeGetList[i].IsFlatFee == true ? "Yes" : "No")</td>
                                        <td  align="center">@Model.LOBInvisionFeeGetList[i].W2PayCode</td>
                                        <td align="center">@Model.LOBInvisionFeeGetList[i].W1099PayCode</td>
                                        <td align="center">
                                            <input type="text" name="UnitOfMeasuresList[@j].SPPayPercent" value="@Model.LOBInvisionFeeGetList[i].SPPayPercent" style="width: 100px;" />
                                        </td>
                                    </tr>
                                    j = j + 1;
                                }
                            }
                        }
                        else
                        {
                            if (Model.InvisionFeeList.Count > 0 && Model.InvisionFeeList != null)
                            { int j = 0;
                                for (int i = 0; i < Model.InvisionFeeList.Count; i++)
                                {
                                    <tr style="display:none">
                                        <td>
                                            <input type="hidden" name="LOBInvisionFeeGetList[@i].FeeName" value="@Model.InvisionFeeList[i].FeeName" />
                                            <input type="hidden" name="LOBInvisionFeeGetList[@i].RuleId" value="@Model.InvisionFeeList[i].RuleID" />
                                            <input type="hidden" name="LOBInvisionFeeGetList[@i].InvisionFeeId" value="@Model.InvisionFeeList[i].InvisionFeeId" />
                                        </td>
                                        <td>@Model.InvisionFeeList[i].FeeName</td>
                                        <td align="center">@(Model.InvisionFeeList[i].IsFlatFee == true ? "Yes" : "No")</td>
                                        <td align="center">
                                            <input type="text" name="LOBInvisionFeeGetList[@i].SPPayPercent" value="0" style="width: 100px;" />
                                        </td>
                                    </tr>
                                    List<string> feename = new List<string>();
                                    if (!feename.Contains(Model.InvisionFeeList[i].FeeName))
                                    {
                                        feename.Add(@Model.InvisionFeeList[i].FeeName);
                                        <tr>
                                            <td>
                                                <input type="hidden" name="UnitOfMeasuresList[@j].FeeName" value="@Model.InvisionFeeList[i].FeeName" />
                                            </td>
                                            <td>@Model.InvisionFeeList[i].FeeName</td>
                                            <td align="center">@(Model.InvisionFeeList[i].IsFlatFee == true ? "Yes" : "No")</td>
                                            <td align="center">@Model.LOBInvisionFeeGetList[i].W2PayCode</td>
                                            <td align="center">@Model.LOBInvisionFeeGetList[i].W1099PayCode</td>
                                            <td align="center">
                                                <input type="text" name="UnitOfMeasuresList[@j].SPPayPercent" value="0" style="width: 100px;" />
                                            </td>
                                        </tr>
                                        j = j + 1;
                                    }
                                }
                                
                            }
                            else
                            {
                                <tr>
                                    <td style="color:red;text-align:center" colspan="6">
                                        - No Records -
                                    </td>
                                </tr>
                            }
                        }
                    }
         </tbody>
            </table>
        </td>
    </tr>
</table>