﻿@model BLL.ViewModels.AssignmentJobsViewModel


@*<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>*@
<script type="text/javascript">
   
    $(document).ready(function () {
        //alert('@Model.Claim.InsuredState');
        $("#HomePhone").mask("(999) 999-9999");
        $("#BusinessPhone").mask("(999) 999-9999");
        $("#MobilePhone").mask("(999) 999-9999");
        $("#txtInsuredZip").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
    });
    function copyInsuredToLoss() {
        try {
            document.getElementById('txtInsuredAddress1').value = document.getElementById('txtPropertyAddress1').value;
            document.getElementById('txtInsuredAddress2').value = document.getElementById('txtPropertyAddress2').value;
            document.getElementById('txtInsuredZip').value = document.getElementById('txtPropertyZip').value;
            document.getElementById('ddlInsuredState').value = document.getElementById('ddlPropertyState').value;
            document.getElementById('txtInsuredCity').value = document.getElementById('txtPropertyCity').value;
        }
        catch (err) {
        }
    }
    function IsCANOfferSelectedChanged(rdbSelected) {
        try {
            if (rdbSelected == "rdbYES") {

                $("#CANOfferSelectedDate").prop('disabled', false);

            }
            else if (rdbSelected == "rdbNO") {
                $("#CANOfferSelectedDate").val("");
                $("#CANOfferSelectedDate").prop('disabled', true);
            }
        }
        catch (err) {
        }
    }
</script>
<table width="100%">
    <tr>
        <td colspan="4" class="subHeading">Claim</td>
    </tr>
     @*<tr>
        <td colspan="4" >Is the Insured Information same as Loss Information? @Html.RadioButtonFor(model => model.isInsuredInfoSameAsLossInfo, true, new { @id="cbCopyInsuredToLoss", @onclick="copyInsuredToLoss()" }) Yes @Html.RadioButtonFor(model =>model.isInsuredInfoSameAsLossInfo,false) No
        </td>
        

    </tr>*@
    <tr>
        <td width="20%">
            *Insured First Name
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.InsuredFirstName, new { disabled = "disabled" })
        </td>

        <td width="20%">
            *Insured Last Name
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.InsuredLastName, new { disabled = "disabled" })
        </td>

    </tr>
    <tr>
        <td>*Insured Address 1
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.InsuredAddress1, new { @id = "txtInsuredAddress1", disabled = "disabled" })

        </td>

        <td>
        </td>
        <td>

           

        </td>

    </tr>
     <tr>
        <td>Insured Address 2
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredAddress2, new { @id = "txtInsuredAddress2", disabled = "disabled" })
            

        </td>

        <td>Insured Home Phone
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredHomePhone, new { id = "HomePhone", disabled = "disabled" })
            

        </td>

    </tr>
     <tr>
        <td>*Insured Zip
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredZip, new { @id = "txtInsuredZip", @onblur = "populateZipData('txtInsuredZip','ddlInsuredState','txtInsuredCity')", disabled = "disabled" })
          

        </td>

       <td>Insured Mobile Phone
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Claim.InsuredMobilePhone, new { id = "MobilePhone", disabled = "disabled" })
                   

                </td>

    </tr>
     <tr>
        <td>*Insured State
        </td>
        <td>
             @Html.DropDownListFor(model => model.Claim.InsuredState, Model.InsuredStateList, new { style = "width: 170px;", @id = "ddlInsuredState", disabled = "disabled" })
          

        </td>

       <td>Insured Business Phone
    </td>
    <td>
         @Html.TextBoxFor(model => model.Claim.InsuredBusinessPhone, new { id = "BusinessPhone", disabled = "disabled" })
        
    </td>

    </tr>
      <tr>
        <td>*Insured City
        </td>
        <td>
              @Html.TextBoxFor(model => model.Claim.InsuredCity, new { @id = "txtInsuredCity", disabled = "disabled" })
          

        </td>

        <td>
            Insured Email </td>
                <td>
                      @Html.TextBoxFor(model => model.Claim.InsuredEmail, new { disabled = "disabled" })
                   
                </td>

    </tr>
    @*<tr>
        <td>
            Is CAN Offer Selected
        </td>
        <td>
            @Html.RadioButtonFor(model => model.Claim.IsCANOfferSelected, true, new { @id = "IsCANOfferSelected", @onclick = "IsCANOfferSelectedChanged('rdbYES')" }) Yes @Html.RadioButtonFor(model => model.Claim.IsCANOfferSelected, false, new { @onclick = "IsCANOfferSelectedChanged('rdbNO')" }) No

        </td>

        <td>CAN Offer Selected Date </td>
        <td>
            @if (!Model.Claim.IsCANOfferSelected.HasValue || !Model.Claim.IsCANOfferSelected.Value)
            {

                @Html.TextBoxFor(model => model.Claim.CANOfferSelectedDate, new { @id = "CANOfferSelectedDate", @class = "DatePickerTextBox", @disabled = "disabled", @Value = (Model == null || Model.Claim.CANOfferSelectedDate == null ? string.Empty : Convert.ToDateTime(Model.Claim.CANOfferSelectedDate).ToString("MM/dd/yyyy")) })
            }
            else
            {
                @Html.TextBoxFor(model => model.Claim.CANOfferSelectedDate, new { @id = "CANOfferSelectedDate", @class = "DatePickerTextBox", @Value = (Model == null || Model.Claim.CANOfferSelectedDate == null ? string.Empty : Convert.ToDateTime(Model.Claim.CANOfferSelectedDate).ToString("MM/dd/yyyy")) })
            }


        </td>

    </tr>*@
          
</table>