﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.CANJobsViewModel
@{
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}
<head>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
    </style>
</head>
@Html.HiddenFor(model => model.jobid)
@Html.HiddenFor(model => model.LastInvoiceId)

<table width="100%" align="center">
    <tr>
       
                    <td valign="top" colspan="2">
                        <b>Job Description</b>
                    </td>
        <td valign="top" width="600">
            @Html.TextBoxFor(model => model.jobdesc, new { @maxlength = "41" })
        </td>
                
    </tr>
    <tr>
        <td valign="top" colspan="2">
            <b>Invoice Abbreviation</b>
        </td>
        <td valign="top" width="600">
            @Html.TextBoxFor(model => model.InvoiceAbbreviation, new { @maxlength = "3" })
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="2">
            <b>Last Invoice Number</b>
        </td>
        <td valign="top" width="600">
            @Html.TextBoxFor(model => model.LastInvoiceId, new { @maxlength = "41", @disabled = "disabled" })
        </td>
    </tr>
    <tr>
        
        <td valign="top" nowrap="nowrap">
            <table>
                <tr>
                    <td nowrap="nowrap"><b>Add Icon</b></td>
                </tr>
                <tr>
                    <td>
                        @if (Model.logo != "" && Model.logo != null)
                        {
                            //string baseFolder = "~\\UserUploads\\ServiceProviderDocuments\\";
                            string absoluteThumnailFileName = Model.jobid + "\\" + Model.logo;
                            string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteThumnailFileName);
                            //string thumbnailFileUrl = baseFolder+Model.jobid+"\\"+Model.logo;
                            <a href="@Url.Action("DeleteLogo", "PCSJobs", new { JobId = @Model.jobid })" style="border: none; color: black; cursor: pointer;float:left;">
                                <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick="return confirm('Are you sure you want to Delete ?')" />
                            </a>
                                <img id="JobLogo" width="100" height="100" src="@Url.Content(thumbnailFileUrl)" />
                                <input type="hidden" id="hdlogo" name="hdlogo" value="@Model.logo" />
                        }
                        else
                        {
                            <input type="file" id="file1" name="file1" value="file" />
                        }
                    </td>
                </tr>
            </table>


        </td>
    </tr>

</table>