﻿@using BLL
@model IEnumerable<GetLastClaimsSearched_Result>

<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
    <tr>
        <td class="subHeading borderBottomLightGray" nowrap="nowrap">
           
        </td>

    </tr>
    <tr>
        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td width="10%">
                            Claim Number
                        </td>
                        <td width="10%">
                            Insured Name
                        </td>
                       
                        <td align="center" width="10%"></td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.ToList().Count() > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td width="10%">
                                    @item.claimnumber
                                </td>
                                <td width="10%">


                                    @item.Insured_Name
                                </td>
                                
                                <td align="left" width="10%">
                                    <a id="btnClaimLastSearch" href='#' onclick="CallExistClaim('@item.claimnumber')">
                                        <img src="~/Content/Images/magnifying_glass.png" title="View" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                    @*@Html.ActionLink(item.claimnumber, "Details", new { claimid = item.claimid })*@

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="color:red;text-align:center" colspan="3">
                                - No Records -

                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
</table>