﻿@using CSS
@using BLL
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    User Usertypeid = null;
    UserAssignedRight UserRight = null;
    if (loggedInUser != null)
    {
        Usertypeid = css.Users.Where(x => x.UserId == loggedInUser.UserId).FirstOrDefault();
        UserRight = css.UserAssignedRights.Where(x => x.UserId == loggedInUser.UserId && x.UserRightId == 2 && x.IsActive == true).FirstOrDefault(); //(from U in css.Users join UR in css.UserAssignedRights on U.UserId equals UR.UserId where U.UserId == loggedInUser.UserId select new { U, UR }).ToList();
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>@ViewBag.Title</title>
    @* <script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/kendo.default.min.css")">
    @*     <script src="@Url.Content("~/Scripts/jquery.min.js")"></script> *@
    <script src="@Url.Content("~/Scripts/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />




    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            .dropdown-content option {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content option:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

    <style>
        #Quicklist {
            display: none;
            border: 1px #dadada solid;
            background: white;
            width: 186px;
            height: auto;
            overflow-y: auto;
            position: absolute;
            z-index: 2;
        }

        .selectBox1 {
            position: relative;
        }

        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #Quicklist li:hover {
            background-color: lightgray;
        }

        #Quicklist ul li {
            list-style-type: none;
            font-family:Verdana;
            font-size:13px;
            padding: 4px;
        }
    </style>

    <style>
        a.hover {
            text-decoration: none;
        }
        #backgroundPopup {
            display: none;
            position: fixed;
            _position: absolute; /* hack for internet explorer 6*/
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: #000000;
            border: 1px solid #cecece;
            z-index: 1;
        }
        .EditPopup {
            display: none;
            position: fixed;
            _position: absolute; /* hack for internet explorer 6*/
            width: 600px;
            background: #FFFFFF;
            border: 2px solid #cecece;
            z-index: 2;
        }
    </style>
    <script type="text/javascript">
        var expanded = false;

        function showQuicksearchlist() {
            debugger;
            var checkboxes = document.getElementById("Quicklist");

            checkboxes.style.display = "block";
            expanded = true;
        }
        function calltrigger(selectedsearch) {
            debugger;
            selectedsearch = selectedsearch.replace("_", " ");
            $('#ddlQuickSearch').val(selectedsearch);
            $('#Quicklist').css('display', 'none');
        }
        $(document).click(function (e) {


            //if (e.target.id == "") {
            //    $('#Quicklist').css('display', 'none');
            //}
            if (e.target.id != "") {
                var id = e.target.id;
                if ($('#' + id).hasClass() == "TestSearchClass" || id=="ddlQuickSearch") {
                    $('#Quicklist').css('display', 'block');
                }
                else {
                    $('#Quicklist').css('display', 'none');
                }
            }
            else {
                $('#Quicklist').css('display', 'none');

            }

        });

        function CallQuickClaimSearch()
        {

            debugger;
            var QuickSearchType = 0;




            if (document.getElementById('ddlQuickSearch').value == "") {
                alert('Please enter in the textbox.');
                return false;
            }
            else {

                var Number = document.getElementById('ddlQuickSearch').value;
                var QuickSearchType = document.getElementById('QuickSearchType').value;


                var SearchUrl = '@Url.Action("QuickSearch", "PropertyAssignment")';
                SearchUrl = SearchUrl + "?QuickSearchType=" + QuickSearchType;
                SearchUrl = SearchUrl + "&Number=" + Number;
                window.location.href = SearchUrl;



            }
            return false;
        }
        $(document).ready(function () {

            BindNewQuickSearch();

        });


        function BindNewQuickSearch()
        {
            debugger;

            $('#ddlQuickSearch').val('');

            var QuickSearchType = 0;

            var element = document.getElementById('QuickSearchType');
            var isNumber = "";
            var isQuicktype = "";
            @{
           if (TempData["tmpNumber"] != null && TempData["tmpQuickSearchtype"] != null)
           {
               @:isNumber = '@TempData["tmpNumber"].ToString()';
               @:isQuicktype = '@TempData["tmpQuickSearchtype"].ToString()';
                                   }
       }
            if (isNumber != "" && isQuicktype != "") {
                $("#ddlQuickSearch").val(isNumber);
                $("#QuickSearchType").val(isQuicktype);
            }


            if (typeof (element) != 'undefined' && element != null) {
                QuickSearchType = document.getElementById('QuickSearchType').value;
                //QuickSearchType = $("#QuickSearchType option:selected").text();

                $.ajax
                 ({
                     //url: "../PropertyAssignment/BindQuickSearchList?QuickSearchType=" + QuickSearchType,
                     url: '@Url.Action("BindQuickSearchList", "PropertyAssignment")',
                     type: 'POST',
                     dataType: 'json',
                     traditional: true,
                     timeout: 0,
                     //async: false,
                     data: { QuickSearchType: QuickSearchType },
                     success: function (result) {

                         $("#Quicklist").empty();

                         debugger;
                         var stringhtml = '<ul id="newList" style="list-style-type: none;padding-left:10px;padding-right:10px;margin-top: 4px;margin-bottom: 4px;">';
                         var incr = 0;
                         for (var i = 0; i < result.length; i++) {

                             var res = result[i].replace(/ /g, "_");
                             stringhtml += '<li class="TestSearchClass" id="1_' + i + '" onclick= calltrigger("' + res + '")>' + result[i] + '</li>';
                             incr++;

                         }
                         stringhtml += '</ul>';
                         $('#Quicklist').append(stringhtml);




                         if (incr > 10) {
                             var height = $('#Quicklist').height(200);

                         }
                         else {
                             $('#Quicklist').height('auto');
                         }

                     },
                     error: function (x, e) {

                     }
                 });
            }

        }

        function BindNewBeginQuickSearch()
        {
            debugger;

            $('#ddlQuickSearch').val('');

            var QuickSearchType = 0;




                QuickSearchType = document.getElementById('QuickSearchType').value;


                $.ajax
                 ({
                     //url: "../PropertyAssignment/BindQuickSearchList?QuickSearchType=" + QuickSearchType,
                     url: '@Url.Action("BindQuickSearchList", "PropertyAssignment")',
                     type: 'POST',
                     dataType: 'json',
                     traditional: true,
                     timeout: 0,
                     //async: false,
                     data: { QuickSearchType: QuickSearchType },
                     success: function (result) {

                         $("#Quicklist").empty();

                         debugger;
                         var stringhtml = '<ul id="newList" style="list-style-type: none;padding-left:10px;padding-right:10px;margin-top: 4px;margin-bottom: 4px;">';
                         var incr = 0;
                         for (var i = 0; i < result.length; i++) {

                             var res = result[i].replace(/ /g, "_");
                             stringhtml += '<li class="TestSearchClass" id="1_' + i + '" onclick= calltrigger("' + res + '")>' + result[i] + '</li>';
                             incr++;

                         }
                         stringhtml += '</ul>';
                         $('#Quicklist').append(stringhtml);




                         if (incr > 10) {
                             var height = $('#Quicklist').height(200);

                         }
                         else {
                             $('#Quicklist').height('auto');
                         }

                     },
                     error: function (x, e) {

                     }
                 });


        }

        function Redirect() {
            var hdnRedirect = document.getElementById("hdnRedirect");
            if (hdnRedirect.value == 1) {
                window.location.assign = "@Url.Action("Logout", "Account")";
            }
        }
        function CheckForLoadEvent() {
            if (window.ExecuteOnLoad != null)
                window.ExecuteOnLoad();
        }


        //OPT-223 -12-3-2018
        function loadPopup() {

            //debugger;
            // popupDivVal = Edit;
            //loads popup only if it is disabled
            var popupStatus = 0;

            if (popupStatus == 0) {
                centerPopup();
                $("#backgroundPopup").css({
                    "opacity": "0.7"
                });

                $("#backgroundPopup").fadeIn("slow");
                $("#Edit").fadeIn("slow");
                popupStatus = 1;
            }
            return false;
        }
        function disableAllPopups() {
            disablePopup();
        }
        function disablePopup() {
            //debugger;
            //disables popup only if it is enabled
            var popupStatus = 1;
            if (popupStatus == 1) {
                $("#backgroundPopup").fadeOut("slow");
                $("#Edit").fadeOut("slow");
                popupStatus = 0;
            }
        }
        function centerPopup() {
            //request data for centering
            var windowWidth = document.documentElement.clientWidth;
            var windowHeight = document.documentElement.clientHeight;
            var popupHeight = $("#Edit").height();
            var popupWidth = $("#Edit").width();
            //centering
            $("#Edit").css({
                "position": "absolute",
                "top": windowHeight / 2 - popupHeight / 2,
                "left": windowWidth / 2 - popupWidth / 2
            });
            //only need force for IE6
            $("#backgroundPopup").css({
                "height": windowHeight
            });
            return false;
        }
        function ServiceProviderRegistrationProfile(Flag)
        {
            debugger;
            if (Flag == 1)
            {
                window.location.href = '@Url.Action("Submit", "ContractorCompany", new { id = -1 } )';
            }
            else
            {
                window.location.href = '@Url.Action("Submit", "ServiceProviderRegistration", new { id = -1 } )';
            }
        }

        function loadClaimDetails(event) {
            debugger;
            if (event.keyCode == 13) {
                CallQuickClaimSearch();
            }
        }
    </script>
</head>
<body onload="CheckForLoadEvent()">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="bannerBG">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" width="100%">
                            &nbsp;&nbsp;&nbsp;&nbsp;<img src="@Url.Content("~/Content/Images/PCS_Black_Logo.png")" alt="Pacesetter" width="136" height="131"/>
                            &nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;@*<b style="font-size: large;">Pacesetter</b>*@
                            &nbsp;
                            @*SP and Contractor company*@
                            @{
                                if (loggedInUser != null)
                                {
                                    if (loggedInUser.UserTypeId == 12 || loggedInUser.UserTypeId == 1)
                                    {
                                        <b style="font-size: large; vertical-align: top; padding-left: 5%;">PCS VenndVista Service Provider Portal</b>
                                    }
                                }
                            }
                        </td>
                        <td valign="top" style="padding-right: 5px;">

                            @*<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=DOUQ67WHqLM5QlOiKre1oOwIVWhQFq81SjDp2Yta3fbftcxU6Cv5z"></script></span>*@
                        </td>
                        <td align="right" style="padding-right: 20px;">
                            <table class="loginBar" valign="top">
                                <tr>

                                    @{
                                        if (loggedInUser != null)
                                        {
                                            <td align="right" nowrap="nowrap">
                                                @{
                                                    string ID = Cypher.EncryptString(loggedInUser.UserId.ToString());
                                                    int CompanyId = Convert.ToInt16(loggedInUser.HeadCompanyId);
                                                    if (ID.Contains("/"))
                                                    {
                                                        ID = ID.Replace("/", "[msl]");
                                                    }

                                                    if (loggedInUser != null && (loggedInUser.UserTypeId == 1))
                                                    {
                                                        @Html.ActionLink("My Profile", "Submit", "ServiceProviderRegistration", new { id = ID }, new { })
                                                    }

                                                    else if (loggedInUser != null && (loggedInUser.UserTypeId == 12))
                                                    {
                                                        @Html.ActionLink("My Profile", "submit", "ContractorCompany", new { compid = CompanyId }, new { })
                                                    }

                                                    else
                                                    {
                                                        @*@Html.ActionLink("My Profile", "Submit", "ServiceProviderRegistration", new { id = ID }, new { })*@
                                                        @Html.ActionLink("My Profile", "MyProfile", "User", new { id = ID }, new { })
                                                    }

                                                }

                                                
                                                
                                            </td>



                                        }


                                    }
                                    <td nowrap="nowrap" align="left">

                                        @{
                                            if (HttpContext.Current.User.Identity.Name == String.Empty)
                                            {

                                                @Html.ActionLink("Login", "Login", "Account")

                                            }
                                            else
                                            {
                                                <div style="display: inline;">
                                                    (@HttpContext.Current.User.Identity.Name) @Html.ActionLink("Logout", "Logout", "Account")
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>

                            </table>
                            <table valign="bottom">

                                <tr>
                                    @{
                                        if (loggedInUser != null)
                                        {
                                            <td>
                                                <select id="QuickSearchType" style="width: 150px;" onchange="BindNewBeginQuickSearch()">
                                                    <option value="0">Claim Number</option>
                                                    <option value="1">Policy Number</option>
                                                    <option value="2">Invoice Number</option>
                                                    <option value="3">Insured Name</option>
                                                </select>
                                            </td>
                                            <td>
                                                @*<select id="ddlQuickSearch" style="width: 150px;display:none;">*@
                                                @*<option>Alfa Romeo</option>
                                                    <option>Audi</option>
                                                    <option>BMW</option>
                                                    <option>Citroen</option>
                                                    <option>Fiat</option>
                                                    <option>Ford</option>
                                                    <option>Jaguar</option>*@
                                                @*</select>*@
                                                <div class="selectBox1">
                                                    <input type="text" id="ddlQuickSearch" onkeypress="loadClaimDetails(event)" onclick="showQuicksearchlist()" class="TestSearchClass" />
                                                    @*<div class="overSelect"></div>*@
                                                    <div id="Quicklist">
                                                    </div>
                                                </div>


                                            </td>

                                            <td>
                                                <input type="button" value="Search" id="btnQuickClaimSearch" onclick="return CallQuickClaimSearch()" class="buttonYellow_100" />
                                            </td>
                                        }
                                    }
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" class="pageBorder" style="border-top: 0px !important; width : 100%; padding-left:7%; padding-right:7%">
                    <tr>
                        <td bgcolor="#46B0EE">
                            <table class="navbar" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" valign="middle">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>
                                    <td nowrap="nowrap" valign="middle">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.ActionLink("Home", "Index", "Home")&nbsp;&nbsp;&nbsp;

                                        &nbsp;
                                    </td>
                                    @*  <td nowrap="nowrap" valign="middle">
                                    <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>  *@


                                    <td nowrap="nowrap">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>
                                    @{
                                        if (loggedInUser != null)
                                        {
                                            bool hasQAAgentRights = loggedInUser.AssignedRights.Where(x => x == 1).ToList().Count == 1 ? true : false; //SPX/Examiner
                                            bool hasCSRRights = loggedInUser.AssignedRights.Where(x => x == 4).ToList().Count == 1 ? true : false;
                                            bool hasCSSPOCRights = loggedInUser.AssignedRights.Where(x => x == 2).ToList().Count == 1 ? true : false;

                                            if (Usertypeid.UserTypeId == 2)
                                            {
                                                <td nowrap="nowrap">
                                                    &nbsp;&nbsp;
                                                    @Html.ActionLink("Service Providers", "Search", "ServiceProviders")
                                                    &nbsp;&nbsp; &nbsp;

                                                </td>

                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />

                                                </td>
                                            }
                                            
                                            if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11)
                                            {
                                                <td>
                                                    <div id='cssmenu' class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub ' style="width: 200px;">
                                                                <a onclick="return true"><span>Claims Management</span></a>
                                                                <ul>
                                                                    @if (loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 11)
                                                                    {
                                                                        <li style="width: 230px;">@Html.ActionLink("Create Claim", "PropertyAssignment", "PropertyAssignment")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11)
                                                                    {
                                                                        <li style="width: 230px;">@Html.ActionLink("Search Claim", "Search", "PropertyAssignment", new { @type = "General" }, null)</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2 || loggedInUser.AssignedRights.Contains((byte)2))
                                                                    {
                                                                        <li style="width: 230px;">@Html.ActionLink("Dispatch IA Assignments", "Search", "SPMapSearch")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2 || loggedInUser.AssignedRights.Contains((byte)2))
                                                                    {
                                                                        @*<li style="width: 230px;">@Html.ActionLink("Dispatch Contractor Assignments", "Search", "DispatchContractorAssignments", new { @Location = ",0", @Distance = 0, @jobtypeid = 0, @servicetypeid = 0 }, null)</li>*@
                                                                        <li style="width: 230px;">@Html.ActionLink("Dispatch Contractor Assignments", "ContractorReviewQueue", "PropertyAssignment", new { @type = "DispatchCANAssignments" }, null)</li>

                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2)
                                                                    {
                                                                        <li style="width: 230px;">@Html.ActionLink("Import Claims", "ClaimImport", "ClaimImport")</li>
                                                                        <li style="width: 230px;">@Html.ActionLink("Batch Payments", "BatchPayment", "BatchPayments")</li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>


                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />

                                                </td>

                                            }
                                            if (loggedInUser.UserTypeId == 12 || loggedInUser.UserTypeId == 14)
                                            {
                                                @*<td>
                            <div id='cssmenu' class="cssmenu" style="margin-left: -40px;">
                                <ul>
                                    <li class='active has-sub ' style="width: 180px;">
                                        <a onclick="return true"><span>Claims Management</span></a>
                                        <ul>
                                            @if (loggedInUser.UserTypeId == 12 || loggedInUser.UserTypeId == 14)
                                            {
                                                <li>@Html.ActionLink("Search Claims", "Search", "PropertyAssignment", new { @type = "General" }, null)</li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>*@
                                                <td nowrap="nowrap">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    @Html.ActionLink("Assignment Queue", "Search", "PropertyAssignment", new { @type = "General" }, null)&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>
                                            }

                                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || hasQAAgentRights || hasCSSPOCRights)
                                            {
                                                <td nowrap="nowrap">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    @Html.ActionLink("Video Review Queue", "VideoReviewQueue", "PropertyAssignment")&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>


                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>


                                            }
                                            if (loggedInUser.UserTypeId == 13)
                                            {

                                                <td>
                                                    <div id='cssmenu' class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub ' style="width: 180px;">
                                                                <a onclick="return true"><span>Claims Management</span></a>
                                                                <ul>
                                                                    <li>@Html.ActionLink("Search Claims", "Search", "PropertyAssignment", new { @type = "General" }, null)</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>


                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />

                                                </td>

                                            }
                                            @*if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || hasQAAgentRights)
                    {
                        <td nowrap="nowrap">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("Review Queue", "QAAgentReviewQueue", "PropertyAssignment")&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td nowrap="nowrap">
                            <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                        </td>
                    }*@
                                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || hasQAAgentRights)
                                            {
                                                <td nowrap="nowrap">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    @Html.ActionLink("IA Review Queue", "IAAssignmentSearch", "PropertyAssignment")&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>
                                            }
                                            //new Review Queue
                                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11 || hasQAAgentRights)
                                            {
                                                <td nowrap="nowrap">
                                                    <div id='cssmenu' class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a onclick="return true"><span>Assignment Queue</span></a>
                                                                <ul>
                                                                    <li style="width: 230px;">@Html.ActionLink("Contractor Assignments", "ContractorReviewQueue", "PropertyAssignment", new { @type = "QAAgent_Review" }, null)</li>
                                                                    @*@if (loggedInUser.UserTypeId != 11)
                                                                    {*@
                                                                        <li style="width: 230px;">@Html.ActionLink("IA Assignments", "ReviewQueue", "PropertyAssignment", new { @type = "QAAgent_Review" }, null)</li>
                                                                    @*}*@
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                @*<td nowrap="nowrap">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.ActionLink("New Review Queue", "ReviewQueue", "PropertyAssignment", new { @type = "QAAgent_Review" }, null)&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>*@
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>
                                            }

                                            if (loggedInUser != null)
                                            {
                                                if (Usertypeid.UserTypeId == 2)
                                                {
                                                    <td>
                                                        <div id="cssmenuInsuranceSetup" class="cssmenu" style="margin-left: -40px;">
                                                            <ul>
                                                                <li class='active has-sub '>
                                                                    <a><span>&nbsp;&nbsp;&nbsp;&nbsp;Company&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                    <ul>
                                                                        <li>@Html.ActionLink("Create Client Company", "submit", "InsuranceSetUp")</li>
                                                                        <li>@Html.ActionLink("Company Profile", "CompaniesList", "InsuranceSetUp")</li>
                                                                        <li>@Html.ActionLink("Users", "ClientPOCList", "InsuranceSetUp")</li>

                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                    </td>
                                                }
                                            }

                                            if (loggedInUser.UserTypeId == 1)
                                            {
                                                <td>

                                                    <div id="cssmenuReport" class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a><span>&nbsp;&nbsp;&nbsp;&nbsp;Reports&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                <ul>
                                                                    <li style="width: 250px;">@Html.ActionLink("IA PAYROLL SUMMARY REPORT", "IAPayrollSummaryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("IA PAYROLL HISTORY REPORT", "IAPayrollHistoryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("SP Pay Breakdown Report", "SPInvoiceBreakDownReport", "Reporting")</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>
                                            }

                                            if (loggedInUser.UserTypeId == 12)
                                            {
                                                <td>

                                                    <div id="cssmenuReport" class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a><span>&nbsp;&nbsp;&nbsp;&nbsp;Reports&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                <ul>
                                                                    <li style="width: 250px;">@Html.ActionLink("VENDOR PAYABLES SUMMARY REPORT", "CANPayablesSummaryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("VENDOR PAYABLES HISTORY REPORT", "CANPayablesHistoryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("SP Pay Breakdown Report", "SPInvoiceBreakDownReport", "Reporting")</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>
                                            }


                                            if (Usertypeid.UserTypeId == 2)//loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 12
                                            {
                                                <td>

                                                    <div id="cssmenuReport" class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a><span>&nbsp;&nbsp;&nbsp;&nbsp;Reports&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                <ul>


                                                                    @*<li>@Html.ActionLink("Claims Report", "ClaimsReport", "Reporting")</li>
                                            <li>@Html.ActionLink("Expense Commission Report", "ExpenseCommissionReport", "Reporting")</li>*@
                                                                    <li style="width: 250px;">@Html.ActionLink("Assignment Progress Report", "StatusRequestReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Claimatic Financials Report", "ClaimaticFinancialsReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Claim Dashboard Report", "DashBoardCountReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Detailed Production Report", "DetailedProductionReport", "Reporting")</li>
                                                                    @*<li style="width: 250px;">@Html.ActionLink("Client Report card", "QuarterlyReport", "Reporting")</li>
                                                                      <li style="width: 250px;">@Html.ActionLink("Executive Summary Report", "ESReport", "Reporting")</li>*@
                                                                    <li style="width: 250px;">@Html.ActionLink("Failed Email Report", "FailedEmailReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("IA PAYROLL HISTORY REPORT", "IAPayrollHistoryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("IA PAYROLL SUMMARY REPORT", "IAPayrollSummaryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("KPI Report", "KPIReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("LOB AddOn Fee Report", "LOBAddonFeeReport", "Reporting")</li>
                                                                    @*<li style="width: 250px;">@Html.ActionLink("Payment History Report", "PaymentReport", "Reporting")</li>*@
                                                                    <li style="width: 250px;">@Html.ActionLink("Pending Accounts Receivable Report", "ARReportSimple", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Processed Payment Report", "InvoicePaymentReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Processed Payroll SP Report", "SPPayrollReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Production Report", "ProdReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("SP License Expiry Report", "SPLicenseExpiryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("SP List by Client/COL", "SPDetailReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("SP Ranking Report", "SPRankCalculationReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("SP Pay Breakdown Report", "SPInvoiceBreakDownReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Total Cycle By RCV Report", "TotalCycleByRCVReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Vendor Assignment Activity Report", "CANAssignmentActivityReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("Vendor Gross Profit Report", "GrossProfitReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("VENDOR PAYABLES HISTORY REPORT", "CANPayablesHistoryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("VENDOR PAYABLES SUMMARY REPORT", "CANPayablesSummaryReport", "Reporting")</li>

                                                                    @*<li style="width: 250px;">@Html.ActionLink("Intacct Log Report", "IntacctLogReport", "Reporting")</li>*@

                                                                    @*<li>@Html.ActionLink("SP Payment Summary Report", "SPPaymentSummary", "Reporting")</li>
                                            <li>@Html.ActionLink("Notes", "Index", "Notes")</li>
                                            <li><a href="#">Notes</a></li>*@



                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>
                                            }
                                            else if (UserRight != null)
                                            {
                                                <td>
                                                    <div id="cssmenuReport" class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a><span>&nbsp;&nbsp;&nbsp;&nbsp;Reports&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                <ul>
                                                                    <li style="width: 250px;">@Html.ActionLink("IA PAYROLL SUMMARY REPORT", "IAPayrollSummaryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("VENDOR PAYABLES SUMMARY REPORT", "CANPayablesSummaryReport", "Reporting")</li>

                                                                    <li style="width: 250px;">@Html.ActionLink("IA PAYROLL HISTORY REPORT", "IAPayrollHistoryReport", "Reporting")</li>
                                                                    <li style="width: 250px;">@Html.ActionLink("VENDOR PAYABLES HISTORY REPORT", "CANPayablesHistoryReport", "Reporting")</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                        <td nowrap="nowrap">
                                                            <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                        </td>

                                            }


                                            if (loggedInUser != null)
                                            {
                                                if (Usertypeid.UserTypeId == 2)
                                                {
                                                    <td>
                                                        <div id="cssmenuSysAdminSetup" class="cssmenu" style="margin-left: -40px;">
                                                            <ul>
                                                                <li class='active has-sub '>
                                                                    <a><span>&nbsp;&nbsp;&nbsp;&nbsp;System/Admin&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                    <ul>
                                                                        <li>@Html.ActionLink("Contractor Company", "ContractorCompaniesList", "ContractorCompany")</li>
                                                                        <li>@Html.ActionLink("Network Jobs", "PCSJobsList", "PCSJobs")</li>
                                                                        <li>@Html.ActionLink("Network Services", "PCSServicesList", "PCSServices")</li>
                                                                        <li>@Html.ActionLink("Invoice / Assignment Rules", "InvoiceRules", "PropertyAssignment")</li>
                                                                        <li>@Html.ActionLink("Resource-Based Invoice", "CompanyInvoiceSearch", "CompanyInvoice")</li>
                                                                        @*<li>@Html.ActionLink("Processed RBI History", "ProcessedCompanyInvoice", "CompanyInvoice")</li>*@
                                                                        <li>@Html.ActionLink("Resource-Based Payment", "RBPPaymentSearch", "RBPPayment")</li>

                                                                       @if (loggedInUser.IsSuperAdmin)
                                                                       {
                                                                         <li>@Html.ActionLink("Admin Users", "Search", "User")</li>
                                                                       }
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                    </td>
                                                }
                                            }
                                        }
                                    }

                                    @*                                    @{
                if (loggedInUser != null)
                {
                    if (loggedInUser.UserTypeId == 3)
                    {
                          <td>
                <div id='cssmenu' class="cssmenu" style="margin-left:-40px;">
                    <ul>
                        <li class='active has-sub '><a><span>Claims/Assignments</span></a>
                            <ul>
                                <li>@Html.ActionLink("Create Property Assignment", "PropertyAssignment", "PropertyAssignment")</li>
                                 <li>@Html.ActionLink("Search Assignments", "Search", "PropertyAssignment")</li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </td>
                    }
                }
             }*@



                                    <td nowrap="nowrap" width="100%">&nbsp;</td>
                                    @{
                                        //Register link should be displayed if the user is not logged in and is not on the Registration page
                                        if (loggedInUser == null && ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() != "Submit" && ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() != "EmailMarketingSPRegistration")
                                        {
                                            <td nowrap="nowrap">
                                                <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                            </td>
                                            @*<td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Register", "Submit", "ServiceProviderRegistration", new { id = string.Empty }, null)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>*@
                                            <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="loadPopup()">Register</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                        }
                                    }
                                    <td nowrap="nowrap" align="right">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>

                                    <td nowrap="nowrap" align="right">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>


                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="White" class="mainContent">
                            <div id="divpagerloading" style="display: none;height:75px;opacity:0.7">
                                <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            @RenderBody()

                        </td>

                    </tr>
                    <tr>
                        <td bgcolor="#666666" align="center" style="color: White; height: 40px;"
                            valign="middle">
                            Server: PCS-TEST-APP01
                        </td>
                    </tr>
                </table>

            </td>



        </tr>
    </table>
    <input id="hdnRedirect" name="hdnRedirect" type="hidden" value="@(loggedInUser == null && HttpContext.Current.User.Identity.IsAuthenticated == true ? "1" : "0")" />
    <input id="hdnClaimNo" type="hidden" name="hdnClaimNo" />

    @*<script src="@Url.Content("~/Scripts/jquery-latest.min.js")" type="text/javascript"></script>


        <script src="@Url.Content("~/Scripts/jquery.editable-select.js")" type="text/javascript"></script>*@



</body>
</html>
<div id="backgroundPopup" onclick="disableAllPopups();"></div>
<div id="Edit" class="EditPopup" style="left: 400px;">
    <table cellpadding="0" cellspacing="0;">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Registration Instructions</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopup();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        <tr>
            <td class="footer" style="padding-left: 10px; padding-right: 10px;">
              
                <table style="width:100%">
                    <tr>
                        <td style="width:100%;text-align:center;padding:12px;font-size:12px" colspan="2">
                            Welcome to the Pacesetter Claims service provider registration page.
                        </td>
                    </tr>
                    <tr>
                        <td>
                           
                            <text style="text-align:left">
                            If you are looking to join our roster of licensed (where required) Independent Insurance Adjusters, please click here
                                </text>
                            <br />
                            &nbsp;&nbsp;  <input type="button" onclick="ServiceProviderRegistrationProfile(0);" value="Register" class="buttonLightYellow_100" style="margin:8px;margin-left:50px"  />
                            <br />
                        </td>
                        <td>
                            <text style="text-align:left">
                            If you are looking to join our approved list of other vendor contractors, please click here
                                </text>
                            <br />
                               &nbsp;&nbsp; <input type="button" onclick="ServiceProviderRegistrationProfile(1);" value="Register" class="buttonLightYellow_100" style="margin:8px;margin-left:50px" />
                            <br />
                        </td>
                    </tr>
                </table>
                
                
                @*<table style="width:100%;">
                    @*<tr style="text-align: center;">
                        <td>
                            <input type="button" onclick="ServiceProviderRegistrationProfile(0);" value="Yes" class="buttonLightYellow_100" />
                        </td>
                        <td>
                            <input type="button" onclick="ServiceProviderRegistrationProfile(1);" value="No" class="buttonLightYellow_100" />
                        </td>
                    </tr>
                </table>*@
            </td>
        </tr>
    </table>
</div>
