﻿@model BLL.ViewModels.LoginViewModel
@using (Html.BeginForm("Login","Account"))
{
    
    <div class="errorMsg">
    @Html.ValidationSummary(true)
    </div>
    
    <div class="errorMsg" id="javascriptvalid">

    </div>
    <style type="text/css">
        .bgEditPopupForgotPwd {
            display: none;
            position: fixed;
            _position: absolute; /* hack for internet explorer 6*/
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: #000000;
            border: 1px solid #cecece;
            z-index: 2;
        }
        .EditPopupForgotPwd {
            display: none;
            position: fixed;
            _position: absolute; /* hack for internet explorer 6*/
            width: 650px;
            background: #FFFFFF;
            border: 2px solid #cecece;
            z-index: 3;
        }
    </style>
    <script>
        function btnForgotPwd_Click() {
            debugger;
            $("#divForgotPwdError").empty();
            $("#txtEmail").val('');
            // $("#hdnUserId").empty;
            loadPopupForgotPwd();
            @*var UserName = $("#txtUserName").val();
            if (UserName != "") {
                $.ajax({
                    url: '@Url.Action("FetchEmailFromUserName", "Account")'
                , type: 'GET'
                    , data: { UserName: UserName }
                    , cache: false
                }).done(function (result) {
                    if (result == "0")
                    {
                        $("#divForgotPwdError").html("User ID is InValid<br/><br/>");
                    }
                    else if (result == "1") {
                        $("#divForgotPwdError").html("Email is not available for this User<br/><br/>");
                    }
                    else if (result != "") {
                        $("#txtEmail").val(result);
                        $("#hdnUserId").val(UserName);
                    }
                    loadPopupForgotPwd();
                }).fail(function (result) {
                });
            }
            else {
                alert("Please enter User ID");
            }*@
            }
        function loadPopupForgotPwd() {
            centerPopupForgotPwd();
            $("#divBgEditPopupForgotPwd").css({
                "opacity": "0.7"
            });
            $("#divBgEditPopupForgotPwd").fadeIn("slow");
            $("#divForgotPwdPopup").fadeIn("slow");
        }
        function disablePopupForgotPwd() {
            //debugger;
            //disables popup only if it is enabled 
            var popupStatus = 1;
            if (popupStatus == 1) {
                $("#divBgEditPopupForgotPwd").fadeOut("slow");
                $("#divForgotPwdPopup").fadeOut("slow");
                popupStatus = 0;
            }
        }
        function centerPopupForgotPwd() {
            //request data for centering
            var windowWidth = parent.document.documentElement.clientWidth;
            var windowHeight = parent.document.documentElement.clientHeight;
            var popupHeight = $("#divForgotPwdPopup").height();
            var popupWidth = $("#divForgotPwdPopup").width();
            //centering  
            $("#divForgotPwdPopup").css({
                "position": "absolute",
                "top": (windowHeight / 2 - popupHeight / 2),
                "left": windowWidth / 2 - popupWidth / 2
            });
            //only need force for IE6  
            $("#divBgEditPopupForgotPwd").css({
                "height": windowHeight
            });
            return false;
        }
        function btnSendEmail_Click() {
            debugger;
            //var UserName = $("#hdnUserId").val();
            var Email = $("#txtEmail").val();
            var username = $('#txtEmailUserName').val();
            if (username == null || username == "")  {
                alert("User Name required.");
            }
            else {
                $("#imgProcessingForgotPwdSubmit").show();
                $.ajax({
                    url: '@Url.Action("ForgotPwdEmail", "Account")'
                , type: 'GET'
                   , data: { Email: Email, UserName: username }
                }).done(function (result) {
                    $("#divForgotPwdError").empty();
                    $("#imgProcessingForgotPwdSubmit").hide();
                    if (result == 1) {
                        $("#divForgotPwdError").html("Email Sent Successfully.<br/><br/>");
                    }
                    else if (result == -1) {
                        $("#divForgotPwdError").html("The email address you entered is not associated with an active login profile in the Pacesetter Service system. Please contact The Pacesetter support team at Info@PacesetterClaims.com to assist you in locating or creating your account.<br/><br/>");
                    }
                    else {
                        $("#divForgotPwdError").html("Error Sending Email, Please try again.<br/><br/>");
                    }
                }).fail(function (result) {
                });
            }
        }
        function btnForgotUserId_Click() {
            debugger;
            $("#divForgotUserIdError").empty();
            $("#txtEmailForuserId").val('');
            loadPopupForgotUserId();
        }
        function loadPopupForgotUserId() {
            centerPopupForgotUserId();
            $("#divBgEditPopupForgotUserId").css({
                "opacity": "0.7"
            });
            $("#divBgEditPopupForgotUserId").fadeIn("slow");
            $("#divForgotUserIdPopup").fadeIn("slow");
        }
        function centerPopupForgotUserId() {
            //request data for centering
            var windowWidth = parent.document.documentElement.clientWidth;
            var windowHeight = parent.document.documentElement.clientHeight;
            var popupHeight = $("#divForgotUserIdPopup").height();
            var popupWidth = $("#divForgotUserIdPopup").width();
            //centering
            $("#divForgotUserIdPopup").css({
                "position": "absolute",
                "top": (windowHeight / 2 - popupHeight / 2),
                "left": windowWidth / 2 - popupWidth / 2
            });
            //only need force for IE6
            $("#divBgEditPopupForgotUserId").css({
                "height": windowHeight
            });
            return false;
        }
        function btnSendEmailForUserId_Click() {
            debugger;
            //var UserName = $("#hdnUserId").val();
            var Email = $("#txtEmailForuserId").val();
            if (Email == null || Email == " " || Email == "") {
                alert("Email Address required.");
            }
            else {
                $("#imgProcessingForgotPwdSubmit").show();
                $.ajax({
                    url: '@Url.Action("ForgotUserID", "Account")'
                , type: 'GET'
                   , data: { Email: Email}
                }).done(function (result) {
                    $("#divForgotUserIdError").empty();
                    $("#imgProcessingForgotPwdSubmit").hide();
                    if (result == 1) {
                        $("#divForgotUserIdError").html("Email Sent Successfully.<br/><br/>");
                    }
                    else if (result == -1) {
                        $("#divForgotUserIdError").html("The email address you entered is not associated with an active login profile in the Pacesetter Service system. Please contact The Pacesetter support team at Info@PacesetterClaims.com to assist you in locating or creating your account.<br/><br/>");
                    }
                    else {
                        $("#divForgotUserIdError").html("Error Sending Email, Please try again.<br/><br/>");
                    }
                }).fail(function (result) {
                });
            }
        }
        function disablePopupForgotUserId() {
            //debugger;
            //disables popup only if it is enabled
            var popupStatus = 1;
            if (popupStatus == 1) {
                $("#divBgEditPopupForgotUserId").fadeOut("slow");
                $("#divForgotUserIdPopup").fadeOut("slow");
                popupStatus = 0;
            }
        }
    </script>
    
<table width = "100%">
    @{
        if(HttpContext.Current.User.Identity.IsAuthenticated == false)
        {
    <tr>
        <td width="80">
            User ID</td>
        <td>
            @Html.TextBoxFor(model => model.UserName, new {@id = "txtUserName", @style = "width: 200px;"})
            <div class="errorMsg">
           @* @Html.ValidationMessageFor(model => model.UserName)*@
                </div>

            
        </td>
    </tr>
    <tr>
        <td width="80">
            Password</td>
        <td>
            @Html.PasswordFor(Model => Model.Password, new { @id = "txtPassword", @style = "width: 200px;" })
            <div class="errorMsg">
            @*@Html.ValidationMessageFor(model => model.Password)*@
                </div>
        </td>
    </tr>
    @*<tr>
        <td width="80">
            &nbsp;</td>
        <td align="right">
            &nbsp;<br />
            
            <input type="submit" class="buttonYellow_100" value="Login" />
            
        </td>
    </tr>*@
         <tr>
             <td colspan="2" style="text-align:right;">
                 <table>
                     <tr>
                         <td id="tdAgreetoTerms">
                             <br /> &nbsp;
                             <input type="hidden" id="hdnIsAgreetoTerms"/>
                             @Html.CheckBoxFor(Model => Model.Terms, new { @id = "chkAgreetoTerms" })Agree to Terms
                         </td>
                         @*<td>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="buttonYellow_100" value="Login" style="text-align:right;" onclick="return validateform(event)" />
                         </td>*@
                     </tr>
                 </table>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="buttonYellow_100" value="Login" style="text-align:right;" onclick="return validateform(event)" />
             </td>             
                @*<td colspan="2" style="text-align:right;">
                    &nbsp;<br />
                    @Html.CheckBoxFor(Model => Model.Terms, new { @id = "chkAgreetoTerms", @Text = "Agree to Terms" })Agree to Terms
                    
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="buttonYellow_100" value="Login" style="text-align:right;" onclick="return validateform(event)" />
                   
                </td>*@
            </tr>
            <tr>
                <td colspan="2">
                    <a href="#" onclick="btnForgotPwd_Click()" style="cursor:pointer"> Forgot Password ? </a>
                </td>
                
            </tr>
            <tr>
                <td colspan="2">
                    <a href="#" onclick="btnForgotUserId_Click()" style="cursor:pointer"> Forgot UserId ? </a>
                </td>
                
            </tr>
        <tr>
            <td colspan="2">
                <a id='a' href='#' onclick="a_onClick()">Terms of Service</a>
            </td>
        </tr>
    }
    else
    {
            <tr>
                <td align="center">
            You are logged in as <b>@HttpContext.Current.User.Identity.Name</b>
                    </td>
                </tr>
        }
    }
</table>
}
<div id="bgAssignHRTCompany" onclick="disableAssignHRTCompany();">

</div>
<div id="divAssignHRTCompanyPopup" class="AssignHRTCompanyPOCPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Terms of Service</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignHRTCompany()" />
                            </div>
                        </td>
                    </tr>

                </table>

            </td>

        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <div style="width:796px;overflow:scroll;height:500px;margin:5px;">


                                The Company/User shall not<br />
                                (i) license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Service or the Content in any way;<br />

                                (ii) modify or make derivative works based upon the Service or the Content; <br />
                                (iii) create Internet “links” to the Service or “frame” or “mirror” any Content on any other server or wireless or Internet-based device; or <br />
                                (iv) reverse engineer or use or access the Service in order to <br />
                                (a) build a competitive product or service, <br />
                                (b) build a product using similar ideas, features, functions or graphics of the Service, or <br />
                                (c) copy any ideas, features, functions or graphics of the Service.<br /><br /><br />


                                Domestic and International copyright and trademark laws protect the entire contents of the Service. The owners of the intellectual property, copyrights and trademarks are Vennd Technologies or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, RE-ENGINEER, OR DISTRIBUTE, IN ANY MANNER, ANY CONTENT OR MATERIAL INCORPORATED IN THE SERVICE OR VENND TECHNOLOGIES WEBSITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. Vennd Technologies alone (and its licensors, where applicable) shall own all right, title and interest, including all related Intellectual Property Rights, in and to any Vennd Technologies technology, the Content and the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by the Company or any other Party relating to the Service. This Agreement is not a sale and does not convey to the Company any rights of ownership in or related to the Service, the Vennd Technologies technology or the Intellectual Property Rights owned by Vennd Technologies.<br />
                                <br />
                                You understand that, except for information, products or services clearly identified as being supplied by Vennd Technologies, Vennd Technologies does not operate, control or endorse any information, products or services on the Internet in any way. Except for Vennd Technologies-identified information, products or services, all information, products and services offered through the Service or on the internet generally are offered by third Parties that are not affiliated with Vennd Technologies. You also understand that Vennd Technologies cannot and does not guarantee or warrant that files available for downloading through the Vennd Technologies Website will be free of infection or viruses, worms, Trojan horses or other code that manifest contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for protection against viruses and other malicious code, accuracy of data input and output, and for maintaining a means external to the Service for the reconstruction of any lost data. In connection with your use of the Service, you agree that you will not (and you shall ensure that Users will not): <br /><br />


                                (a) Transmit any message, information, data, text, software or images, or other content (“Material”) that is unlawful, harmful, threatening, abusive, harassing, torturous, defamatory, vulgar, obscene, libelous, or otherwise objectionable that may invade another’s right of privacy or publicity;<br />
                                (b) Impersonate any person or entity including a Vennd Technologies official, forum leader, guide or host or falsely state or otherwise misrepresent your affiliation with a person or entity;<br />
                                (c) Post or transmit any Material that you do not have a right to reproduce, display or transmit under any law or under contractual or fiduciary relationships (such as nondisclosure Agreements);<br />
                                (d) Post or transmit any Material that contains a virus or corrupted data;<br />
                                (e) Delete any author attributions, legal notices or proprietary designations or labels that you upload to any communication feature;<br />
                                (f) Violate any applicable local, state, national or international law;<br />
                                (g) Upload or transmit any Material that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;<br />
                                (h) Delete or revise any Material posted by any other person or entity;<br />
                                (i) Manipulate or otherwise display the Service by using framing or similar navigational technology; or<br />
                                (j) Use the service for any unlawful purpose.<br />
                                (k) Hold Vennd Technologies liable for any unauthorized use or misuse of the Customer's account number or password, unless caused by the negligence of VENND TECHNOLOGIES or its agents. It is the Customer's responsibility to protect the Customer Data and any and all information provided to Vennd Technologies or in the use of the Service. The Customer's account cannot be transferred or used by any third party, nor may the Customer sell, lease, rent or assign the Services or parts of the Services to any third party. It is the Customer's responsibility to promptly notify Vennd Technologies of any changes to account information.<br />
                                Vennd Technologies reserves the right to terminate or restrict your access to the Service immediately, with or without notice, if we determine in our sole discretion, that your use of the Service may violate any laws, regulations or rulings, infringe upon another person’s rights or violate the terms of this Agreement.<br />




                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="divForgotPwdPopup" style="display: none;" class="EditPopupForgotPwd">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    Forgot Password
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupForgotPwd();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <br />
                @*<input type="hidden" id="hdnUserId"/>*@
                <div id="divForgotPwdError" class="errorMsg" style="text-align: left; width: 100%;"><br /></div>
                Please enter your UserName and registered Email Address below and click on send button to receive new password to your below Email Address.<br /><br />
                User ID :- <input type="text" id="txtEmailUserName" style="width:300px" required /><br /><br />
                Email :- &nbsp;&nbsp;&nbsp;<input type="text" id="txtEmail" style="width:300px" /><br /><br />
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingForgotPwdSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Sending" />
                <input id="btnSendEmail" type="button" value="Send" class="buttonYellow_100" onclick="btnSendEmail_Click()" />
            </td>
        </tr>
    </table>
</div>
<div id="divBgEditPopupForgotPwd" onclick="disablePopupForgotPwd();" class="bgEditPopupForgotPwd" style="display: none;"></div>
<div id="divForgotUserIdPopup" style="display: none;" class="EditPopupForgotPwd">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    Forgot UserId
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupForgotUserId();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <br />
                @*<input type="hidden" id="hdnUserId"/>*@
                <div id="divForgotUserIdError" class="errorMsg" style="text-align: left; width: 100%;"><br /></div>
                Please enter your registered Email Address below and click on send button to receive details of all the profile(s) for below Email Address.<br /><br />
                Email :- &nbsp;&nbsp;&nbsp;<input type="text" id="txtEmailForuserId" style="width:300px" /><br /><br />
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingForgotPwdSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Sending" />
                <input id="btnSendEmailforUserId" type="button" value="Send" class="buttonYellow_100" onclick="btnSendEmailForUserId_Click()" />
            </td>
        </tr>
    </table>
</div>
<div id="divBgEditPopupForgotUserId" onclick="disablePopupForgotUserId();" class="bgEditPopupForgotPwd" style="display: none;"></div>
<style>
    #bgAssignHRTCompany {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .AssignHRTCompanyPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 810px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .ulerror {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
      
    }
</style>

<script>
    debugger;

    $('#txtUserName').blur(function () {
        var username = $('#txtUserName').val();
        if (username != "")
        {
            $.ajaxSetup({ cache: false });
            $.ajax({

                url: '@Url.Action("DisplayAgreeToTerms", "Home")'
                , data: { UserName: username }
            }).done(function (data) {
                debugger;
                if(data == true)
                {
                    $('#hdnIsAgreetoTerms').val(0);
                    $('#tdAgreetoTerms').hide();
                } else {
                    $('#hdnIsAgreetoTerms').val(1);
                    $('#tdAgreetoTerms').show();
                }
            }).fail(function (data) { });
        }
        else {
            $('#tdAgreetoTerms').show();
        }
    });

    function validateform(event)
    {
        $('#javascriptvalid').html('');
        $('#javascriptvalid').append("<ul class='ulerror'>");
        if ($('#UserName').val() == '') {
            $('#javascriptvalid').append("<li><b>Please Enter Username</b></li>");
            event.preventDefault();
        }
       
        if ($('#Password').val() == '') {
            $('#javascriptvalid').append("<li><b>Please Enter Password</b></li>");
            event.preventDefault();
        }
        

        @*var username = $('#txtUserName').val();
        var IsValidAgreeTerms = true;
        if (username != "") {
            $.ajaxSetup({ cache: false });
            $.ajax({

                url: '@Url.Action("DisplayAgreeToTerms", "Home")'
                , data: { UserName: username }
            }).done(function (data) {
                debugger;
                if (data == false) {
                    IsValidAgreeTerms = false;
                } 
            }).fail(function (data) { });
        }*@
        debugger;
        if ($('#hdnIsAgreetoTerms').val() == 1)
        {
            //if (!$("#Terms").prop("checked")) {
            //    $('#javascriptvalid').append("<li><b>Accept Terms of Service</b></li>");
            //    event.preventDefault();
            //}
            if (!$("#chkAgreetoTerms").prop("checked")) {
                $('#javascriptvalid').append("<li><b>Accept Terms of Service</b></li>");
                event.preventDefault();
            }
        }  

        //if ($('#hdnIsAgreetoTerms').val() == "")
        //{
        //    if (!$("#Terms").prop("checked")) {
        //        $('#javascriptvalid').append("<li><b>Accept Terms of Service</b></li>");
        //        event.preventDefault();
        //    }
        //}
        
        $('#javascriptvalid').append("</ul>");

       
    }

    function disableAssignHRTCompany() {
        $("#bgAssignHRTCompany").fadeOut("slow");
        $("#divAssignHRTCompanyPopup").fadeOut("slow");
        clearPopup();
    }

    function a_onClick() {
        // alert('a_onClick');
        var username = $("#txtUserName").val();
        if (username != null && username != ' ')
        {
            $.ajaxSetup({ cache: false });
            $.ajax({

                url: '@Url.Action("TermsOfServiceUpdate", "Home")'
                , data: { UserName: username }

            }).done(function (data) {                

            }).fail(function (data) { });
        }
        centerAssignHRTCompanyPopup();
        $("#bgAssignHRTCompany").css({
            "opacity": "0.7"
        });
        $("#bgAssignHRTCompany").fadeIn("slow");
        $("#divAssignHRTCompanyPopup").fadeIn("slow");
    }
    function centerAssignHRTCompanyPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignHRTCompanyPopup").height();
        var popupWidth = $("#divAssignHRTCompanyPopup").width();
        //centering
        $("#divAssignHRTCompanyPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#bgAssignHRTCompany").css({
            "height": windowHeight
        });
        return false;
    }
</script>
