﻿@model BLL.ViewModels.AssignmentServiceProviderSearchViewModel


<link href="@Url.Content("~/Content/JQueryUI/jquery-ui-1.8.23.custom.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.23.custom.min.js")"></script>

<script type="text/javascript">
    $(function () {
        $("#sliderRank").slider({
            value: "@Model.Rank",
            min: 0,
            max: 5,
            step: 1,
            slide: function (event, ui) {
                $("#txtSliderRank").val(ui.value);
            }
        });
        $("#txtSliderRank").val($("#sliderRank").slider("value"));
    });

    $(function () {
        $("#sliderExperience").slider({
            value: "@Model.Experience",
            min: 0,
            max: 100,
            step: 1,
            slide: function (event, ui) {
                $("#txtExperience").val(ui.value);
            }
        });
        $("#txtExperience").val($("#sliderExperience").slider("value"));
    });

    $(function () {
        $("#sliderDistance").slider({
            value: "@Model.Distance",
            min: 0,
            max: 500,
            step: 10,
            slide: function (event, ui) {
                $("#txtDistance").val(ui.value);
            }
        });
        $("#txtDistance").val($("#sliderDistance").slider("value"));
    });
</script>
<table class="style3">
     <tr>
        <td>SP Name
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.SPName, new { style = "width:180px" })
        </td>
    </tr>
    <tr>
        <td class="borderBottomLightGray">&nbsp;
        </td>
    </tr>
    <tr>
        <td>Location
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.Location, new { style = "width:180px" })<br />
            (Enter Zip or City, State)
        </td>
    </tr>
    <tr>
        <td class="borderBottomLightGray">&nbsp;
        </td>
    </tr>
    <tr>
        <td>Ratings
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>@Html.TextBoxFor(model => model.Rank, new { style = "width:25px", id = "txtSliderRank" })</td>
                    <td width="100%" style="padding-left: 10px;">
                        <div id="sliderRank" style="width: 200px;"></div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="borderBottomLightGray">&nbsp;
        </td>
    </tr>
    <tr>
        <td>Years of Experience
        </td>
    </tr>
    <tr>
        <td>
             <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>@Html.TextBoxFor(model => model.Experience, new { style = "width:25px", id = "txtExperience" })</td>
                    <td width="100%" style="padding-left: 10px;">
                        <div id="sliderExperience" style="width: 200px;"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="borderBottomLightGray">&nbsp;
        </td>
    </tr>
    <tr>
        <td>Distance in Miles
        </td>
    </tr>
    <tr>
        <td>
          <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>@Html.TextBoxFor(model => model.Distance, new { style = "width:40px", id = "txtDistance" })</td>
                    <td width="100%" style="padding-left: 10px;">
                        <div id="sliderDistance" style="width: 185px;"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
    </tr>
</table>
