﻿@model BLL.ViewModels.PropertyInvoiceViewModel

<table cellpadding="3" cellspacing="0" width="100%">

                <thead class="tableHeader">
                    <tr valign="top">
                        <td nowrap="nowrap" width="10px"></td>
                        <td nowrap="nowrap">Invoice #</td>
                        <td nowrap="nowrap">Check #</td>
                        <td nowrap="nowrap">Amount ($)</td>
                        <td nowrap="nowrap">Date Received</td>
                        <td nowrap="nowrap">Date Payment Entered</td>
                        <td nowrap="nowrap">Submitted By</td>
                        
                        <td></td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    

                    if (Model.paymentslist != null)
                    {
                       foreach(var payment in Model.paymentslist)
                        { 
                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                        <td></td>
                        <td nowrap="nowrap">
                            @payment.InvoiceNo
                        </td>
                        <td nowrap="nowrap">
                            @payment.CheckNumber
                        </td>
                        <td>@payment.AmountReceived.ToString("0.00")

                        </td>
                        <td>
                            @(payment.ReceivedDate.ToString("MM/dd/yyyy") == "01/01/1900" ? "" : payment.ReceivedDate.ToString("MM/dd/yyyy"))
                        </td>
                        <td>
                            @payment.CreatedDateTime

                        </td>
                        <td nowrap="nowrap">
                            @{
                            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.User user = null;
                            var batchimport = "via Batch Import";
                            if (payment != null)
                            {
                                user = css.Users.Find(payment.AddedBy);
                                if (user != null)
                                {
                                @:@(!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") @(!String.IsNullOrEmpty(user.MiddleInitial) ? user.MiddleInitial : "") @(!String.IsNullOrEmpty(user.LastName) ? user.LastName : "")
                                if (payment.IsBatchImport == true)
                                        {
                                            @batchimport
                                        }
                                                                                                                                                                                                                                                                                                                                }
                            }
                            }
                        </td>
                       
                        @*<td align="right" >
                             @{
                                  if (@Model.invoiceDetail.IsInvoiceClose == false || @Model.invoiceDetail.IsInvoiceClose==null)
                            { 
                            <a href="#" onclick="EditpaymentDetails('@payment.PaymentId','@payment.AmountReceived','@payment.CheckNumber','@payment.ReceivedDate')" style="border: none; color: black; cursor: pointer;text-decoration:none;">
                                                <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right:7px;" />
                                            </a>
                             }
                            if (@Model.invoiceDetail.IsInvoiceClose == false || @Model.invoiceDetail.IsInvoiceClose==null)
                            {
                             <a href="#" onclick="deletePaymentDetails('@payment.PaymentId','@payment.InvoiceId')" style="border: none; color: black; cursor: pointer;text-decoration:none;">
                                                <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                             }
                             }
                        </td>*@
                    </tr>
                                i++;
                        }
                    }
                     if (i == 0)
    {
                                <tr>
                                    <td colspan="7" align="center">
                                        <br />
                                        - No record was found -<br />
                                        <br />
                                    </td>
                                </tr>
    }
                }
            </table>