﻿@* This User Control has a tight coupling with ServiceProviderRegistration/Submit.cshtml *@

@model BLL.Models.ProfileProgressInfo

<script type="text/javascript">
    function setFocus(tabId, elementName, elementIndex, elementIdIntoView) {
        showTab(tabId);
        //alert(tabId + ' ' + elementName + ' ' + elementIndex + ' ' + elementIdIntoView);
        var elementToFocus = document.getElementsByName(elementName)[elementIndex];
        
        //var elementToFocus = document.getElementById('txtLastName');
        elementToFocus.focus();
        $(document.body).animate({ 'scrollTop': $('#' + elementIdIntoView).offset().top }, 2000);
        disableAllPopups();       
    }
</script>
<table width="100%">
    <tr>
        <td>
            Including the following information will improve your Profile Completion Progress. To refresh this list click on the "Save" button.
        </td>
    </tr>
    @if(!Model.HasFirstName){
                <tr>
                    <td nowrap="nowrap" width="150" >
                        <a href="#" onclick="setFocus('1','user.FirstName',0,'a_user_FirstName')">First Name</a></td>
                </tr>
    }
    @if(!Model.HasLastName){
                <tr>
                    <td nowrap="nowrap">
                        <a href="#" onclick="setFocus('1','user.LastName',0,'a_user_LastName')">Last Name</a></td>
                </tr>
    }
     @if(!Model.HasSPPhoto){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','a_SPPhoto',0,'a_SPPhoto')">Service Provider Photo</a></td>
                </tr>
      }  
      @if(!Model.HasUserName){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.UserName',0,'a_user_UserName')">User Name</a></td>
                </tr>
      }  
    @if(!Model.HasPassword){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.Password',0,'a_user_Password')">Password</a></td>
                </tr>
    }
     @if(!Model.HasEmail){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.Email',0,'a_user_Email')">Email</a></td>
                </tr>
        }
     @if(!Model.HasStreetAddress){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.StreetAddress',0,'a_user_StreetAddress')">Street Address</a></td>
                </tr>
      }
      @if(!Model.HasZip){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.Zip',0,'a_user_Zip')">Zip</a></td>
                </tr>
      }
      @if(!Model.HasState){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.State',0,'a_user_State')">State</a></td>
                </tr>
      }
      @if(!Model.HasCity){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.City',0,'a_user_City')">City</a></td>
                </tr>
      }
     @if(!Model.HasSSN){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.SSN',0,'a_user_SSN')">SSN</a></td>
                </tr>
      }
      @if(!Model.HasSSNDocument){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','a_SSNDoc',0,'a_SSNDoc')">Social Security Card Copy</a></td>
                </tr>
      }
    @if(!Model.HasDriversLicenseDoc){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','a_DriversLicenseDoc',0,'a_DriversLicenseDoc')">Drivers License Copy</a></td>
                </tr>
      }
      @if(!Model.HasDriversLicenseNumber){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.ServiceProviderDetail.DriversLicenceNumber',0,'a_user_ServiceProviderDetail_DriversLicenceNumber')">Drivers License Number</a></td>
                </tr>
      }
     @if(!Model.HasDriversLicenceState){
          
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','a_DriversLicenceState',0,'a_DriversLicenceState')">Drivers License State</a></td>
                </tr>
      }
      @if(!Model.HasDOB){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.ServiceProviderDetail.DOB',0,'a_user_ServiceProviderDetail_DOB')">Date of Birth</a></td>
                </tr>
      }
      @if(!Model.HasPlaceOfBirth){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','a_PlaceOfBirthState',0,'a_PlaceOfBirthState')">Place of Birth</a></td>
                </tr>
      }
      @if(!Model.HasHomePhone){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.HomePhone',0,'a_user_HomePhone')">Home Phone</a></td>
                </tr>
        }
    @if(!Model.HasMobileNumber){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.MobilePhone',0,'a_user_MobilePhone')">Mobile Phone</a></td>
                </tr>
        }
      @if(!Model.HasFacebook){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.Facebook',0,'a_user_Facebook')">Facebook</a></td>
                </tr>
        }
    @if(!Model.HasTwitter){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.Twitter',0,'a_user_Twitter')">Twitter</a></td>
                </tr>
        }
    @if(!Model.HasGooglePlus){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.GooglePlus',0,'a_user_GooglePlus')">Google+</a></td>
                </tr>
        }
      @if(!Model.HasServiceProviderAddress){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','a_SPAddressHistory',0,'a_SPAddressHistory')">List of residences for the last ten(10) years</a></td>
                </tr>
      }
       
      @if(!Model.HasPrimaryLanguage){
                   <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.ServiceProviderDetail.PrimaryLanguage',0,'a_PrimaryLanguage')">Primary Language</a></td>
                </tr>
      }
   @if(!Model.HasOtherLanguages){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','user.ServiceProviderDetail.OtherLanguages',0,'a_OtherLanguages')">Other Languages</a></td>
                </tr>
        }
     @if(!Model.HasShirtSize){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('1','a_ShirtSize',0,'a_ShirtSize')">Shirt Size</a></td>
                </tr>
        }
      @if(!Model.HasReference){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','a_ProfRef',0,'a_ProfRef')">Professional References</a></td>
                </tr>
        }
      @if(!Model.HasEducation){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','a_Education',0,'a_Education')">Education</a></td>
                </tr>
        }
      @if(!Model.HasSoftwareExperience){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','a_SWExp',0,'a_SWExp')">Software Experience</a></td>
                </tr>
      }
       @if(!Model.HasClaimTypeExperience){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','a_ClaimTypesExp',0,'a_ClaimTypesExp')">Experience on Claim Types</a></td>
                </tr>
      }
      @if(!Model.HasCapabilityToClimb){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','user.ServiceProviderDetail.CapabilityToClimb',0,'a_CapabilityToClimb')">Capability to Climb</a></td>
                </tr>
      }
      @if(!Model.HasCapabilityToClimbSteep){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','user.ServiceProviderDetail.CapabilityToClimbSteep',0,'a_CapabilityToClimbSteep')">Capability To Climb Steep</a></td>
                </tr>
      }
    @if(!Model.HasAutoCarrier){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','user.ServiceProviderDetail.AutoCarrier',0,'a_AutoCarrier')">Auto Carrier</a></td>
                </tr>
    }
    @if(!Model.HasAutoLimit){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','user.ServiceProviderDetail.AutoLimit',0,'a_AutoLimit')">Auto Limit</a></td>
                </tr>
        }
    
      @if(!Model.HasAutoPolicyNumber){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','user.ServiceProviderDetail.AutoPolicyNumber',0,'a_AutoPolicyNumber')">Auto Policy Number</a></td>
                </tr>
        }
    
    @if(!Model.HasAutoExpiry){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('2','user.ServiceProviderDetail.AutoExpiry',0,'a_AutoExpiry')">Auto Expiry</a></td>
                </tr>
        }
    @if(!Model.HasServiceProviderLicenses){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('3','a_SPLicenses',0,'a_SPLicenses')">Professional, occupational and vocational Licenses</a></td>
                </tr>
        }
     @if(!Model.HasSPDesignations){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('3','a_SPProDesig',0,'a_SPProDesig')">List of Professional Designations</a></td>
                </tr>
        }
     @if(!Model.HasTypeOfClaimPref){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','a_TypeOfClaimsPref',0,'a_TypeOfClaimsPref')">Claim Type Preferences</a></td>
                </tr>
        }
    @if(!Model.HasTypeOfClaimPrefOthers){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','user.ServiceProviderDetail.TypeOfClaimsPrefOthers',0,'a_TypeOfClaimsPref')">Other Claim Type Preferences </a></td>
                </tr>
        }
    @if(!Model.HasConsiderWorkingInCat){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','user.ServiceProviderDetail.ConsiderWorkingInCat',0,'a_ConsiderWorkingInCat')">Consider working a desk as an Inside Examiner</a></td>
                </tr>
        }
    @if(!Model.HasExpWorkingInCat){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','user.ServiceProviderDetail.ConsiderWorkingInCat',0,'a_HasExperienceWorkingInCat')">Experience working as an Inside Examiner</a></td>
                </tr>
        }
    @if(!Model.HasExpWorkingInCatWhen){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','user.ServiceProviderDetail.ExperienceWorkingInCatWhen',0,'a_ExperienceWorkingInCatWhen')">Experience working as an Inside Examiner Date</a></td>
                </tr>
        }
    @if(!Model.HasCatCompany){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','user.ServiceProviderDetail.CatCompany',0,'a_CatCompany')">Company (Inside Examiner)</a></td>
                </tr>
        }
   
    @if(!Model.HasAgreementDoc){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','a_AgreementDoc',0,'a_AgreementDoc')">Copy of Agreement Document</a></td>
                </tr>
        }

    @if(!Model.HasW9Doc){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','a_W9Doc',0,'a_W9Doc')">Copy of W9 Document</a></td>
                </tr>
    }
       @if(!Model.HasDDFDoc){
                <tr>
                    <td nowrap="nowrap" >
                        <a href="#" onclick="setFocus('4','a_DDFDoc',0,'a_DDFDoc')">Copy of Direct Deposit Form</a></td>
                </tr>
        }
   
                </table>