﻿@using CSS
@model BLL.ViewModels.XactAssignmentSearchViewModel

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<table cellpadding="3" cellspacing="0" width="100%">
    <thead class="tableHeader">
        <tr valign="top">
            <td>
                Job Type
            </td>
            <td>
                Service Type
            </td>
            <td>
                Status
            </td>
            <td>
                Service Provider
            </td>
            <td>
                QA Agent
            </td>
            <td>
                Examiner
            </td>
            <td>
                Days Old
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            @*<td width="20%">View/Edit</td>*@

        </tr>
    </thead>

    @{
        int i = 0;
        Int64 Iclaimid = 0;
        if (claimnum != null)
        {
            string claimno = claimnum;
            Iclaimid = css.Claims.Where(x => x.ClaimNumber == claimno).Select(x => x.ClaimId).FirstOrDefault();
        }


        if (getalllist.ToList().Count() > 0 && getalllist != null)
        {
            foreach (var item in getalllist)
            {
                <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                    <td>
                        @*<a href="/PropertyAssignment/GetReferalDetails?ClaimId=20014&Jobid=1&IsView=True&ServiceId=4">*@
                        <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Iclaimid, Jobid = item.Jobid, IsView = true, ServiceId = item.Serviceid })' style="border: none; color: blue; text-decoration: none;">
                            @item.jobdesc
                        </a>
                    </td>
                    <td>
                        @item.Servicename
                    </td>
                    <td>
                        @item.StatusDescription
                    </td>
                    <td>
                        @item.SPName
                    </td>
                    <td>
                        @item.QA_Agent
                    </td>
                    <td>
                        @item.Examiner
                    </td>
                    <td>
                        @item.OlDDays
                    </td>
                    <td nowrap="nowrap">
                        @{
                bool displayAssignSPIcon = false;
                bool displayReAssignSPIcon = false;
                if (item.OAUserID == null)
                {
                    displayAssignSPIcon = true;
                }
                else
                {
                    if (item.OAUserID == 0)
                    {
                        displayAssignSPIcon = true;
                    }
                    else
                    {
                        if (item.FileStatus == 1 || item.FileStatus == 3 || item.FileStatus == 4 || item.FileStatus == 5 || item.FileStatus == 6 || item.FileStatus == 8 || item.FileStatus == 16)
                        {
                            displayReAssignSPIcon = true;
                        }
                    }
                }

                if (displayAssignSPIcon)
                {
                    if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                    {

                        <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid, HRT = 2, JobId = item.Jobid, ServiceId = item.Serviceid })" style="border: none; color: black; cursor: pointer;float:left;">
                            <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a>

                    }
                }
                        }
                    </td>
                    <td nowrap="nowrap">
                        @if (!displayAssignSPIcon)
                        {
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                            {
                                if (displayReAssignSPIcon)
                                {
                                    <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid, HRT = 2,JobId= item.Jobid,ServiceId = item.Serviceid })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                        <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                    </a>
                                }

                                System.Data.Entity.Core.Objects.ObjectParameter outIsNewInvoiceEnabled = new System.Data.Entity.Core.Objects.ObjectParameter("IsNewInvoiceEnabled", System.Data.DbType.Boolean);
                                css.usp_IsNewPropertyInvoiceEnabled(outIsNewInvoiceEnabled, item.Assignmentid);
                                if (Convert.ToBoolean(outIsNewInvoiceEnabled.Value) == true)
                                {
                                    <a href="#" style="text-decoration:none;border: none; color: black; cursor: pointer;padding-right:4px;" onclick="loadPropertyInvoicePopup('@item.Assignmentid','New','-1')">
                                        <img src="@Url.Content("~/Content/Images/iconMoneyAdd01.png")" title="New Invoice" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }
                            }
                        }
                    </td>
                    <td>
                        @if (css.Triages.Where(x => x.AssignmentId == item.Assignmentid).ToList().Count > 0)
                        {
                            <a href="@Url.Action("Details", "PropertyAssignment", new { ClaimId = (item.claimid.ToString()), ActiveMainTab = "Triage" })">
                                <img alt="Triage" title="Triage Available" src="@Url.Content("~/Content/Images/text_list_bullets.png")" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>
                        }
                    </td>
                    @*<td>
                             @{
                        if (loggedInUser.UserTypeId == 12 || loggedInUser.UserTypeId == 2)
                        {
                            //if(css.PropertyAssignments.Where(a => a.CANCompanyId==0))
                            if (css.PropertyAssignments.Where(x => x.AssignmentId == item.Assignmentid).First().CANCompanyId != null)
                            {
                             <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid,HRT=3 })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                 <img src="@Url.Content("~/Content/Images/User-red-icon.png")" title="Assign Estimator" width="15" height="15" style="border: none; vertical-align: bottom;" />
                             </a>
                            }
                        }
                             }
                         </td>
                         <td>
                             @{
                        if (loggedInUser.UserTypeId == 2)
                        {
                            //if(css.PropertyAssignments.Where(a => a.CANCompanyId==0))
                            //if (css.PropertyAssignments.Where(x => x.AssignmentId == claiminfo.AssignmentId).First().CANCompanyId != null)
                            //{
                            if (css.PropertyAssignments.Where(x => x.AssignmentId == item.Assignmentid).First().HRTCompanyId != null)
                            {

                             <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = item.Assignmentid,HRT=1 })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                 <img src="@Url.Content("~/Content/Images/HRT.png")" title="Assign HRT" width="15" height="15" style="border: none; vertical-align: bottom;" />
                             </a>
                            }
                        }
                             }
                         </td>*@
                    <td>
                        @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)))
                        {
                            if (css.ClaimCoverages.Where(x => x.ClaimId == Iclaimid).ToList().Count > 0)
                            {
                                List<BLL.PropertyInvoice> invoiceList = css.PropertyInvoices.Where(x => x.AssignmentId == item.Assignmentid).OrderByDescending(x => x.InvoiceId).ToList();
                                Int64 invoiceId = 0;
                                if (invoiceList.Count == 0)
                                {
                                    invoiceId = -1;
                                }
                                else
                                {
                                    invoiceId = invoiceList.First().InvoiceId;
                                }
                                if (invoiceList.Count == 1)
                                {
                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@item.Assignmentid','Read','@invoiceId')">
                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }
                                else if (invoiceList.Count > 1)
                                {
                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoiceListPopup('@Url.Content("~/PropertyAssignmentInvoice/AssignmentInvoiceSummaryList?AssignmentId=" + item.Assignmentid)')">
                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }
                                else if (invoiceList.Count < 0 || (css.PropertyAssignments.Where(x => x.AssignmentId == item.Assignmentid).First().FileStatus == 7))
                                {
                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@item.Assignmentid','Edit','@invoiceId')">
                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }
                            }
                        }
                    </td>
                    <td>
                        @{
                if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                {
                    <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Iclaimid, Jobid = item.Jobid, IsView = false, ServiceId = item.Serviceid })' style="border: none; color: black; text-decoration: none;">
                        <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                    </a>
                }
                        }
                    </td>
                    @*<td width="20%">
                        <a href="#" style="border: none; color: black; text-decoration: none;">
                                  <img src="~/Content/Images/Edit.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                              </a>

                          </td>*@
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td style="color:red;text-align:center" colspan="3">
                    - No Records -

                </td>
            </tr>
        }
    }
</table>