﻿@using BLL
@model IEnumerable<GetQualifiedInsideSPByLOBList_Result>

<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
    <tr>
        <td class="subHeading borderBottomLightGray" nowrap="nowrap">
           
        </td>

    </tr>
    <tr>
        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td width="20%">
                            Company
                        </td>
                        <td>
                            LOB
                        </td>
                        <td align="center" width="10%">Action</td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.ToList().Count() > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td width="30%">
                                    @item.CompanyName
                                </td>
                                <td>
                                    @item.LOBDescription
                                </td>
                                <td align="center" widht="10%">
                                    <a id="btnDelete" href="javascript:DeleteQualifiedSPByLOBId(@item.SPId,@item.CoampnyId,@item.LOBId)"> Delete</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="color:red;text-align:center" colspan="3">
                                - No Records -

                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
</table>