﻿

@model BLL.App_Code.ViewModels.RBPPaymentViewModel
@{
    Layout = null;
}


@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateCompanyPdfInvoice</title>
</head>
<body>
    <div>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <style>
            .trheading {
                background-color: #C1C1C1;
                font: bold;
            }

            #tblContent td, #tblContent th #tblContent tr {
                border: 1px solid black;
                padding: 8px;
            }

            .trcontent {
                color: cornflowerblue;
            }
        </style>
        <table style="width: 100%; color:black !important; font-size:12px !important; font-family: Verdana !important;" bgcolor="White" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30%">
                                <div style="float: left">
                                    @* <img src="~/Content/Images/CSSLogo04.png" />*@
                                </div>
                            </td>

                            <td style="width: 30%;">
                                <div style="float: left; display: none;">
                                    <img src="~/Content/Images/CSSLogo04.png" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table id="tblContent" table style="width: 90%; border: 1px solid black; border-collapse: collapse;" align="center">

                        <tr style="height:40px">
                            <td colspan="9" class="trheading" style="font-size:18px"><b>Day Rate and Hourly Labor Billing</b></td>

                        </tr>
                        <tr>

                            <td colspan="3" style="height:30px;"><b>SP Name:</b>&nbsp;&nbsp;@Model.LineItemgetList[0].SpName</td>
                            <td colspan="7" style="height:30px;"><b>Payee Type:</b>&nbsp;&nbsp;@Model.LineItemgetList[0].PayeeType</td> @*Payee Type:*@

                        </tr>
                        <tr>
                            <td style="text-align: left" rowspan="2" colspan="3"><b></b>&nbsp;&nbsp;</td>
                            @*<td style="text-align: left" rowspan="2" colspan="2">
                                    @Model.CompanyName
                                </td>*@
                            <td style="text-align: right" rowspan="2"><b>Service Date Range:</b></td>
                            <td style="text-align: left">@Model.LineItemgetList[0].ServiceStartDate.Value.ToString("MM/dd/yyyy")</td>
                            <td style="text-align: right" colspan="2"><b>Record #:</b></td>
                            <td style="text-align: left" colspan="2">@Model.LineItemgetList[0].InvoiceNumber</td>
                        </tr>
                        <tr>
                            @*<td style="text-align: left" colspan="3"></td>*@
                            <td style="text-align: left">@Model.LineItemgetList[0].ServiceEndDate.Value.ToString("MM/dd/yyyy")</td>
                            <td style="text-align: right" colspan="2"><b>Pay Record Create Date:</b></td>
                            <td style="text-align: left" colspan="2">@Model.LineItemgetList[0].InvoiceCreatedDate.Value.ToString("MM/dd/yyyy")</td>
                        </tr>
                        <tr style="height:20px">
                            <td colspan="9"></td>
                            @*<td></td>
                                <td></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>*@
                        </tr>
                        <tr class="trheading" style="height:50px">
                            <td colspan="2" align="Left" width="200px"><b>Company</b></td>
                            @*<td align="center" width="100px"><b>Payee Type</b></td>*@
                            <td align="center"><b>Billing Type</b></td>
                            <td align="right"><b># of Units</b></td>
                            <td align="right" width="80px"><b>Rate per Unit	</b></td>

                            <td align="right"><b>Total SP Pay</b></td>
                            <td align="center"><b>Payroll Date</b></td>
                            <td align="center"><b>QB Posting Date</b></td>
                            @*<td align="right" width="80px"><b>SP Pay %</b></td>
                                <td align="right"><b>Net SP Pay</b></td>*@
                        </tr>
                        @if (Model.LineItemgetList != null)
                        {
                            foreach (var document in Model.LineItemgetList)
                            {
                                <tr class="trcontent">
                                    <td colspan="2" align="Left"><b>@document.Company</b></td>
                                    @*<td align="center"><b>@document.PayeeType</b></td>*@
                                    <td align="center"><b>@document.BillingType</b></td>
                                    <td align="right"><b>@document.Units</b></td>
                                    <td align="right"><b>$@document.Rate.Value.ToString("0.00")</b></td>

                                    <td align="right"><b>$@document.TotalSPPay.Value.ToString("0.00")</b></td>
                                    <td align="center">
                                        @if (document.PaymentDate != null)
                                        {
                                            <b>@document.PaymentDate.Value.ToString("MM/dd/yyyy")</b>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (document.IntacctPostingDate != null)
                                        {
                                            <b>@document.IntacctPostingDate.Value.ToString("MM/dd/yyyy")</b>
                                        }
                                    </td>
                                    @*<td align="right"><b>@document.SPPayPercent.Value.ToString("0.00")</b></td>
                                        <td align="right"><b>$@document.NetSPPay.Value.ToString("0.00")</b></td>*@
                                </tr>
                            }
                        }
                        <tr style="height:40px;">
                            <td colspan="4"></td>
                            <td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>Payroll Total</b></td>
                            <td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>$@Model.PayrollTotal.ToString("0.00")</b></td>
                            @*<td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>Net SP Pay Total</b></td>
                                <td style="background-color:#00ff90; font-size:14px;font:bold" align="right"><b>$@Model.NetSPpayAmount.ToString("0.00")</b></td>*@
                            <td style="font-size:14px;font:bold" align="right" colspan="2"></td>

                        </tr>


                    </table>
                </td>
            </tr>
            <tr style="height:30px">
                <td>&nbsp;</td>
            </tr>



        </table>


    </div>
</body>

</html>


