﻿@model BLL.ViewModels.AssignmentJobsViewModel
@using CSS
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    if (!Model.UseMasterPageLayout)
    {
        Layout = null;
        @:<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        @*@:<link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />*@
    }
}

<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@*<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>


@*<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@


<script>

    function SubmitReferalDetails() {



    }
    function btnAssignCANCompany_Click() {
        if (getSelectedAssignmentIds() != '') {
            loadAssignCANCompanyPopup();
        }
        else {
            alert("Select Claim(s) from the list.");
        }

    }
    function loadAssignCANCompanyPopup() {


    }


    function centerAssignCANCompanyPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignCANCompanyPopup").height();
        var popupWidth = $("#divAssignCANCompanyPopup").width();
        //centering
        $("#divAssignCANCompanyPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#bgAssignCANCompany").css({
            "height": windowHeight
        });
        return false;
    }
    function GetCANCompanyist() {
        debugger;



        var CompanyId;
        CompanyId = $("#ddlAssignCANCompany").val();


        $.ajax({
            url: '@Url.Action("GetContrcatorCompanybyJob", "PropertyAssignment")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { InsuredZip: '@Model.Claim.InsuredZip', ServiceId: $('#ddlServiceType').val(), JobId: $('#hdnJobtypeid').val() },
                type: 'GET',
                success: function (data) {

                    $("#ddlAssignCANCompany").empty();
                    var item = [];
                    item.push("<option value='0'>--Select Company--</option>");
                    $.each(data, function () {
                        item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#ddlAssignCANCompany").html(item.join(' '));

                }




            });

    }
    function validateCANRequest()
    {
        $('#ErrorDiv').html('');
        debugger;
        var result = true;
        if ($('#ddlJobType').val() == 0) {
            result = false;
            $('#ErrorDiv').prepend('<b>Job Type is Required<b></br>');
        }
            if ($('#ddlServiceType').val() == 0)
            {
                result = false;
                $('#ErrorDiv').prepend('<b>Service Type is Required<b></br>');
            }    
       
          //if($('#ddlQAAgentId').val() == 0  && $('#ddlJobType').val() == 6)
          //{
          //    result = false;
          //      $('#ErrorDiv').prepend('<b>QA Agent is Required<b></br>');
          //  }
          return result;
       
    }
    function OpenCompany()
    {
        if (validateCANRequest() == false)
        {
            return false;
        }
        else
        {
            GetCANCompanyist();
            centerAssignCANCompanyPopup();
            $("#bgAssignCANCompany").css({
                "opacity": "0.7"
            });
            $("#bgAssignCANCompany").fadeIn("slow");
            $("#divAssignCANCompanyPopup").fadeIn("slow");

        }


    }
    function SaveRequest(claimid,LOBType) {
        debugger;
        if (validateCANRequest() == false) {
            return false;
            }
            //else if (LOBType == "CN") {
            //    alert("Line of Business must be changed to valid selection");
            //}
        else {
                $.ajax({
                    url: '@Url.Action("getPropertyAssignment", "PropertyAssignment")',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: { claimid: claimid, jobid: $('#hdnJobtypeid').val(), serviceid:  $('#ddlServiceType').val() },
                    type: 'GET',
                    async: false,
                    success: function (data1) {
                        debugger;
                        if (data1 == 1 && "@Model.propertyassignment.AssignmentId" == "0") {
                           // $('#frm1').submit();
                            if (confirm("Are you sure you want to create the assignment ?")) {
                            $("#ddlJobType").removeAttr("disabled");
                                                parent.disablePopupEditDetails();
                                                $('#frm1').submit();
                            }
                            else {
                                location.href = '@Url.Content("~/PropertyAssignment/Details?claimid=" + Cypher.EncryptString(Model.Claim.ClaimId.ToString()))';
                                //return false;
                            }


                        }
                        else {
                            // return false;
                            if ("@Model.propertyassignment.FileStatus" != "7" && "@Model.propertyassignment.FileStatus" != "10" && "@Model.AssignmentJob.JobId" != "6" && "@Model.propertyassignment.OAUserID" != "") {
                                $.ajax({
                                    url: '@Url.Action("CheckSPIsAvailable", "PropertyAssignment")',
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    data: { JobId: $('#ddlJobType').val(), ServiceId: $('#ddlServiceType').val(), SPId: '@Model.propertyassignment.OAUserID', AssignmentId: '@Model.propertyassignment.AssignmentId', ClaimCounty: '@Model.ClaimCounty' },
                                    type: 'GET',
                                    async: false,
                                    success: function (data) {
                                        debugger;
                                        if (data == 1) {
                                            $("#ddlJobType").removeAttr("disabled");
                                            parent.disablePopupEditDetails();
                                            $('#frm1').submit();
                                        }
                                        else {
                                            $('#ErrorDiv').prepend('<b>SP not qualified for the requested Job Type-Service Type Combination<b></br>');
                                            return false;
                                        }
                                    }
                                });
                            }
                            else {
                                $("#ddlJobType").removeAttr("disabled");
                                parent.disablePopupEditDetails();
                                $('#frm1').submit();
                            }
                        }
                    }
                });
            
            @*debugger;
            $("#divEditDetailsPopup").fadeOut("slow");
            $("#backgroundPopup").fadeOut("slow");
            window.location.reload(true);*@
            //window.location.href = '@Url.Action("JobSubmitSuccess", "PropertyAssignment")' + "?claimid=" + claimid;
        }
    }

    function btnAssignCANCompanyConfirm_Click()
    {
        if ($("#ddlAssignCANCompany").val() != "0") {
            @*$("#spanAssignCANCompanyValidate").hide();
            $("#imgClaimDocEmailProgress").show();
            $.ajax({
                type: "POST"
                , url: '@Url.Action("AssignCANCompanytoAssignment", "PropertyAssignment")'
                , data: { assignmentId: $("#propertyassignment_AssignmentId").val(), CSSCANCompanyUserId: $("#ddlAssignCANCompany").val() }
            }).done(function (data) {
                if (data == "1") {
                    disableAssignCANCompany();
                    $("#imgClaimDocEmailProgress").hide();

                }
                else {
                    alert("Error: " + data);
                }

            }).error(function (data) {
                alert("Error: " + data.responseText);
            });
            disableAssignCANCompany();*@
            $("#ddlJobType").removeAttr("disabled");

            $('#frm1').submit();
        }
        else {
            $("#spanAssignCANCompanyValidate").show();

        }

    }

    function disableAssignCANCompany() {
        $("#bgAssignCANCompany").fadeOut("slow");
        $("#divAssignCANCompanyPopup").fadeOut("slow");
        $("#ddlAssignCANCompany").empty();
        var item = [];
        item.push("<option value='0'>--Select Company--</option>");
        $("#ddlAssignCANCompany").html(item.join(' '));

    }

    function OpenDetails() {

    }

</script>
<style>
    #bgAssignCANCompany {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }
    .AssignCANCompanyPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
@using (Html.BeginForm("GetReferalDetails", "PropertyAssignment", FormMethod.Post, new { id = "frm1", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Claim.ClaimId)
    @Html.HiddenFor(model => model.propertyassignment.AssignmentId)
    @Html.HiddenFor(model => model.UseMasterPageLayout)
<table width="100%">
    @*<tr style="display:none;">
        <td class="mainHeader">
            Contractor Alliance Network Request Form
            @{

                <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { assignmentid = Model.AssignmentJob.AssignmentId, Jobid = Model.AssignmentJob.JobId, IsView="true" })' style="border: none; color: black;">
                    <img alt="Edit" src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="16" height="16" style="border: none; vertical-align: bottom;" />
                </a>

            }
        </td>

    </tr>*@
    <tr valign="top">
        <td>
            @*<table width="100%">
                <tr valign="top">
                    <td align="left" class="errorMsg" style="width: 100%;" width="100%">@Html.ValidationSummary()</td>
                    <td align="right" nowrap="nowrap">*Required Field</td>
                </tr>
            </table>*@

            <div class="errorMsg" style="width:100%;" id="ErrorDiv">
                @*@Html.ValidationSummary()*@
            </div>
        </td>
    </tr>
    @*<tr>
        <td>
            <div class="subHeading">
                Claim Details
            </div>
            <div style="text-align:right">
                <a href="#" onclick="OpenDetails()">ViewDetails</a>
            </div>

        </td>
    </tr>*@
    <tr>

        <td>
            <div id="dvCANEdit" style="width:100%;">

                @*@if (Model.AssignmentJob.AssignmentId != null && Model.AssignmentJob.AssignmentId > 0 && Model.IsView == false)
                {

                   @Html.Partial("_ClaimInfo", Model)
                }
                else
                {                    
                    @Html.Partial("_ViewClaimInfo", Model)
                }*@

                @if (Model.IsView == false)
                {

                    @Html.Partial("_ClaimInfo", Model)
                }
                else
                {
                    @Html.Partial("_ViewClaimInfo", Model)
                }

                <input type="hidden" id="hdnJobtypeid" value="@Model.AssignmentJob.JobId"/>
            </div>
            @*<div id="dvCANDetails" style="width:100%;display:none;">
                @Html.Partial("_CANAssignmentDetailsBasic", Model)
            </div>*@
        </td>
    </tr>
    <tr>
        <td>
           
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <div style="width:100%;">

                @if (Model.AssignmentJob.AssignmentId != null && Model.AssignmentJob.AssignmentId > 0 && Model.IsView == false)
                {

                  //  @Html.Partial("_ViewJobInsured", Model)
                }
                else
                {
                   // @Html.Partial("_JobInsured", Model)

                }

            </div>
        </td>
    </tr>
    <tr>
        <td align="right">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="left">


                        @*<div style="float: left">
                            <input type="button" class="buttonLightYellow_100" value="Return to Claim" onclick="window.location.href='@Url.Action("Details", "PropertyAssignment", new { claimid = Model.Claim.ClaimId })';" />

                        </div>*@


                    </td>
                    <td align="right">
                        
                       
                        


                       @if(Model.IsView==false)
                       {
                           
                       
                           @*if (Model.AssignmentJob.AssignmentId == null)
                            {                               
                                <input type="button" class="buttonYellow_100" value="Continue" onclick="OpenCompany();" />
                            }
                            else
                            {
                                <input type="button" class="buttonYellow_100" value="Save" onclick="SaveRequest(@Model.Claim.ClaimId);" />
                            }*@
                            <input type="button" class="buttonYellow_100" value="Save" onclick="SaveRequest(@Model.Claim.ClaimId,'@Model.LOBType');" />
                                if (Model.AssignmentJob.ServiceId == 0)
                                {
                                    <input type="button" class="buttonLightYellow_100" value="Cancel" onclick="window.location.href='@Url.Action("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(Model.Claim.ClaimId.ToString())})';" />
                                }
                                else
                                {
                                    <input type="button" class="buttonLightYellow_100" value="Cancel" onclick="window.location.href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = Model.AssignmentJob.JobId, IsView = true, ServiceId = Model.AssignmentJob.ServiceId,CanAssignmentJobId=Model.AssignmentJob.AssignmentJobId})';" />
                                }
                            @*<input type="button" class="buttonLightYellow_100" value="Cancel" onclick="window.location.href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = Model.AssignmentJob.JobId, IsView = true, ServiceId = Model.AssignmentJob.ServiceId})';" />*@
                                @*<input type="button" class="buttonLightYellow_100" value="Cancel" onclick="parent.disablePopupEditDetails();" />*@
                       }
                     
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
    <div id="bgAssignCANCompany" onclick="disableAssignCANCompany();"></div>
    <div id="divAssignCANCompanyPopup" class="AssignCANCompanyPOCPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader" colspan="2">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Assign Company</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignCANCompany()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center" colspan="2">
                <br />
                <span id="spanAssignCANCompanyValidate" class="errorMsg" style="display: none;">
                    Select a Company.<br />
                    <br />
                </span>
                Company : 
                @*@Html.DropDownList("ddlAssignCANCompany", Model.CANCompanyPOCList, new { @id = "ddlAssignCANCompany" })*@
                @Html.DropDownListFor(model => model.CANcompanyId, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select Company--", Value = "0", Selected = true } }, new { @id = "ddlAssignCANCompany", style = "width: 50%;" })
                <br />
                <br />
            </td>
        </tr>

        <tr>
            <td class="footer" style="text-align:left;">
                <input type="button" value="Back" class="buttonYellow_100" onclick="disableAssignCANCompany()" />
            </td>
            <td class="footer" style="text-align: right">
                <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />

                <input type="button" value="Assign" class="buttonYellow_100" onclick="btnAssignCANCompanyConfirm_Click()" />
            </td>
        </tr>
    </table>

</div>
}

