﻿@model BLL.ViewModels.RequirementViewModel

@{
    
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
@if (!Model.isReadOnly)
{
    <script type="text/javascript">

        function clearRequirements() {
            $('#hdnClaimRequirementId').val('-1');
            $('#hdnHeadCompanyId').val('-1');
            $('#hdnLOBId').val('-1');
            $('#hdnAssgId').val('-1');
            $('#drSoftwareRequired').val('');
            $('#drContactWithin').val('');
            $('#drInspectWithin').val('');
            $('#drFirstReportDue').val('');
            $('#drReservesDue').val('');
            $('#dr').val('');
            $('#drSatusReports').val('');
            $('#drFinalReportDue').val('');
            $('#drBaseServiceCharges').val('');
            $('#drInsuredToValueRequired').val('');
            $('#drNeighborhoodCanvas').val('');
            $('#drITELRequired').val('');
            $('#drMinimumCharges').val('');
            $('#drEstimateContents').val('');
            $('#txtRequiredDocuments').val('');
            $('#drObtainAgreedSorP').val('');
            $('#drDiscussCoveragNScopewithClaimant').val('');
            $('#drRoofSketchRequired').val('');
            $('#drPhotoSGorPGRequired').val('');
            $('#drDepreciacionType').val('');
            $('#drMaxDepr').val('');
            $('#drAppOfOveheadNProfit').val('');
            $('#txtcomments').val('');
        }
    </script>
}
@if(!Model.isReadOnly)
{
    <style type="text/css">

        .lblstyle {
            padding-right: 10px;
            width: 15%;
            vertical-align: middle;
            text-align: right;
        }

        .optionStyle {
            width: 35%;
        }

        .lststyle {
            width: 200px;
        }

        .txtAreastyle {
            width: 80%;
        }
    </style>
}
else
{
    <style type="text/css">

        .lblstyle {
            padding-right: 10px;
            white-space:nowrap;
            vertical-align: top;
            text-align: right;
        }

        .optionStyle {
            vertical-align: top;
            width: 35%;
        }

        .lststyle {
            vertical-align: top;
            width: 200px;
        }

        .txtAreastyle {
            width: 80%;
        }
    </style>
}




<table style="width: 100%" cellspacing="0">

    <tr>
        <td colspan="4">
            @Html.HiddenFor(model => model.ClaimRequirementId, new { @id = "hdnClaimRequirementId" })
            @Html.HiddenFor(model => model.AssignmentId, new { @id = "hdnAssgId" })
            @Html.HiddenFor(model => model.HeadCompanyId, new { @id = "hdnHeadCompanyId" })
            @Html.HiddenFor(model => model.LOBId, new { @id = "hdnLOBId" })
            <br />

        </td>

    </tr>
    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Software Required: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.SoftwareRequired != 0 ?Model.lstSoftwareRequired.Where(x => x.Value == Model.SoftwareRequired + "").FirstOrDefault().Text: "")
            }
            else
            {
                @Html.DropDownListFor(model => model.SoftwareRequired, Model.lstSoftwareRequired, new { @id = "drSoftwareRequired", @Class = "lststyle" })
            }

        </td>
        <td class="lblstyle">Contact Within:</td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.ContactWithin != 0? Model.lstContactWithin.Where(x => x.Value == Model.ContactWithin + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.ContactWithin, Model.lstContactWithin, new { @id = "drContactWithin", @Class = "lststyle" })
            }
        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Inspect within:</td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.InspectWithin != 0? Model.lstInspectWithin.Where(x => x.Value == Model.InspectWithin + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.InspectWithin, Model.lstInspectWithin, new { @id = "drInspectWithin", @Class = "lststyle" })
            }

        </td>
        <td class="lblstyle">First Report Due:
        </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.FirstReportDue != 0? Model.lstFirstReportDue.Where(x => x.Value == Model.FirstReportDue + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.FirstReportDue, Model.lstFirstReportDue, new { @id = "drFirstReportDue", @Class = "lststyle" })
            }
        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Reserves Due:
        </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.ReservesDue != 0 ? Model.lstReservesDue.Where(x => x.Value == Model.ReservesDue + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.ReservesDue, Model.lstReservesDue, new { @id = "drReservesDue", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">Final Report Due:
        </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.FinalReportDue != 0? Model.lstFinalReportDue.Where(x => x.Value == Model.FinalReportDue + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.FinalReportDue, Model.lstFinalReportDue, new { @id = "drFinalReportDue", @Class = "lststyle" })
            }
        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Status Reports:</td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.SatusReports != 0? Model.lstSatusReports.Where(x => x.Value == Model.SatusReports + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.SatusReports, Model.lstSatusReports, new { @id = "drSatusReports", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">Insured To Value Required: 
        </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.InsuredToValueRequired != 0? Model.lstInsuredToValueRequired.Where(x => x.Value == Model.InsuredToValueRequired + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.InsuredToValueRequired, Model.lstInsuredToValueRequired, new { @id = "drInsuredToValueRequired", @Class = "lststyle" })
            }
        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Base Service Charges:
        </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.BaseServiceCharges != 0? Model.lstBaseServiceCharges.Where(x => x.Value == Model.BaseServiceCharges + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.BaseServiceCharges, Model.lstBaseServiceCharges, new { @id = "drBaseServiceCharges", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">ITEL Required:</td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.ITELRequired != 0? Model.lstITELRequired.Where(x => x.Value == Model.ITELRequired + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.ITELRequired, Model.lstITELRequired, new { @id = "drITELRequired", @Class = "lststyle" })
            }
        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Neighborhood Canvas: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.NeighborhoodCanvas != 0?Model.lstNeighborhoodCanvas.Where(x => x.Value == Model.NeighborhoodCanvas + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.NeighborhoodCanvas, Model.lstNeighborhoodCanvas, new { @id = "drNeighborhoodCanvas", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">Estimate Contents: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.EstimateContents!=0?Model.lstEstimateContents.Where(x => x.Value == Model.EstimateContents + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.EstimateContents, Model.lstEstimateContents, new { @id = "drEstimateContents", @Class = "lststyle" })
            }
        </td>
    </tr>


    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Minimum Charges: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.MinimumCharges !=0 ? Model.lstMinimumCharges.Where(x => x.Value == Model.MinimumCharges + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.MinimumCharges, Model.lstMinimumCharges, new { @id = "drMinimumCharges", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">&nbsp;</td>
        <td class="optionStyle">
            &nbsp;</td>
    </tr>



    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Required Documents:</td>
        <td colspan="3">
            @if (Model.isReadOnly)
            {
                @Model.RequiredDocuments
            }
            else
            {
                @Html.TextAreaFor(model => model.RequiredDocuments, new { @id = "txtRequiredDocuments", @Class = "txtAreastyle" })
            }
        </td>

    </tr>



    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Obtain Agreed Scope/Price:</td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.ObtainAgreedSorP !=0?Model.lstObtainAgreedSorP.Where(x => x.Value == Model.ObtainAgreedSorP + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.ObtainAgreedSorP, Model.lstObtainAgreedSorP, new { @id = "drObtainAgreedSorP", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">Discuss Coverage and Scope with Claimant:</td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.DiscussCoveragNScopewithClaimant!=0?Model.lstDiscussCoveragNScopewithClaimant.Where(x => x.Value == Model.DiscussCoveragNScopewithClaimant + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.DiscussCoveragNScopewithClaimant, Model.lstDiscussCoveragNScopewithClaimant, new { @id = "drDiscussCoveragNScopewithClaimant", @Class = "lststyle" })
            }
        </td>
    </tr>



    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Roof Sketch Required:</td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.RoofSketchRequired!=0?Model.lstRoofSketchRequired.Where(x => x.Value == Model.RoofSketchRequired + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.RoofSketchRequired, Model.lstRoofSketchRequired, new { @id = "drRoofSketchRequired", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">Photo of Shingle Gauge/Pitch Gauge Required: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.PhotoSGorPGRequired!=0?Model.lstPhotoSGorPGRequired.Where(x => x.Value == Model.PhotoSGorPGRequired + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.PhotoSGorPGRequired, Model.lstPhotoSGorPGRequired, new { @id = "drPhotoSGorPGRequired", @Class = "lststyle" })
            }
        </td>
    </tr>



    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Depreciation Type: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.DepreciacionType!=0?Model.lstDepreciacionType.Where(x => x.Value == Model.DepreciacionType + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.DepreciacionType, Model.lstDepreciacionType, new { @id = "drDepreciacionType", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle">Max Depr.: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.MaxDepr!=0?Model.lstMaxDepr.Where(x => x.Value == Model.MaxDepr + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.MaxDepr, Model.lstMaxDepr, new { @id = "drMaxDepr", @Class = "lststyle" })
            }
        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Application of Overhead and Profit: </td>
        <td class="optionStyle">
            @if (Model.isReadOnly)
            {
                @(Model.AppOfOveheadNProfit!=0?Model.lstAppOfOveheadNProfit.Where(x => x.Value == Model.AppOfOveheadNProfit + "").FirstOrDefault().Text:" - ")
            }
            else
            {
                @Html.DropDownListFor(model => model.AppOfOveheadNProfit, Model.lstAppOfOveheadNProfit, new { @id = "drAppOfOveheadNProfit", @Class = "lststyle" })
            }
        </td>
        <td class="lblstyle"></td>
        <td class="optionStyle"></td>
    </tr>

    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Comments or Other Instructions: </td>
        <td colspan="3">
            @if (Model.isReadOnly)
            {
                @Model.Comments
            }
            else
            {
                @Html.TextAreaFor(model => model.Comments, new { @id = "txtcomments", @Class = "txtAreastyle" })
            }
        </td>
    </tr>

</table>

