﻿@using System.Configuration
@model BLL.ViewModels.AssignmentJobsViewModel
@using CSS
@using BLL
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@{
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}

<div id="divLeftButtonPanel" class="LeftButtonPanel" style="display: block; vertical-align: middle; margin: 0px auto 0px auto;" title="Referal Bar">
    <table cellspacing="0" cellpadding="0" border="0">
        <tr style="background: #878787;">
            <td align="left" valign="top" style="width: 98%; height: 30px;"></td>            
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
    <div style="vertical-align: middle; margin: 0px auto 0px 10px;vertical-align:central;">
        <table>
            @{
                // List<int> jobids = new List<int> { 7, 8, 9, 10, 12, 17 };
                foreach (var jobtype in css.JobTypes.Where(a => a.IsDeleted == false || a.IsDeleted == null))
                {
                    <tr>
                        <td style="text-align: center;">
                            @{
                    string baseFolder = "~\\UserUploads\\ServiceProviderDocuments\\";
                    string absoluteThumnailFileName = jobtype.JobId + "\\" + jobtype.Logo;
                    string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteThumnailFileName);
                    //string thumbnailFileUrl = baseFolder + jobtype.JobId + "\\" + jobtype.Logo;
                            }
                            
                            @{
                                var AssignmentJobID = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.ClaimId == Model.Claim.ClaimId && aj.JobId == jobtype.JobId && pa.FileStatus != 11 select aj.AssignmentJobId).FirstOrDefault();
                                var AssignmentDetails = css.AssignmentJobs.Where(x => x.AssignmentJobId == AssignmentJobID).FirstOrDefault();
                                PropertyAssignment PropertyAssignmentDetails = null;
                                if (AssignmentDetails != null)
                                {
                                    PropertyAssignmentDetails = css.PropertyAssignments.Where(x => x.AssignmentId == AssignmentDetails.AssignmentId ).FirstOrDefault();
                                }
                            }


                            @if ((from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.ClaimId == Model.Claim.ClaimId && aj.JobId == jobtype.JobId select aj.AssignmentJobId).FirstOrDefault() > 0)
                            {
                                var CanAssignmentJobId = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.FileStatus != 11 && pa.ClaimId == Model.Claim.ClaimId && aj.JobId == jobtype.JobId select aj.AssignmentJobId).ToList();
                                var AssignmentCount = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.FileStatus != 11 && pa.ClaimId == Model.Claim.ClaimId && aj.JobId == jobtype.JobId select aj.AssignmentJobId).Count();

                                if (AssignmentCount > 0)
                                {
                                    if (AssignmentCount == 1)
                                    {
                                        if (PropertyAssignmentDetails != null && PropertyAssignmentDetails.FileStatus == 10)
                                        {
                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId, CanAssignmentJobId = CanAssignmentJobId[0] })' style="cursor: pointer;text-decoration: none;">
                                                <div class="module opp" style="padding-left: 10px;">
                                                    <p><img src="~/Content/Images/check.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                </div>
                                            </a>
                                        }
                                        else if (PropertyAssignmentDetails != null && PropertyAssignmentDetails.FileStatus == 51)
                                        {
                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId, CanAssignmentJobId = CanAssignmentJobId[0] })' style="cursor: pointer;text-decoration: none;">
                                                <div class="module opp" style="padding-left: 10px;">
                                                    <p><img src="~/Content/Images/redCheck.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            //if (loggedInUser.UserTypeId == 11 && jobtype.JobId == 6) //Examiner
                                            //{
                                                @*<a href="#" onclick="ExaminerAlert();" style="border: none; color: black; text-decoration: none;">
                                                        <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom; opacity: 0.2; filter: alpha(opacity=40);" />
                                                    </a>*@
                                                @*<a href="#" style="border: none; color: black; text-decoration: none;">
                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            }
                                            else
                                            {*@
                                                if (Model.AssignmentJob.ServiceId == 0)
                                                {
                                                <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = jobtype.JobId, IsView = false, ServiceId = AssignmentDetails.ServiceId , CanAssignmentJobId = CanAssignmentJobId[0] })' style="border: none; color: black; text-decoration: none;">
                                                        <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                                else
                                                {
                                                <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId ,CanAssignmentJobId = CanAssignmentJobId[0] })' style="border: none; color: black; text-decoration: none;">
                                                        <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                    //}
                                        }
                                    }
                                    else
                                    {
                                        <a href="#" onclick="loadPopupAssignmentServices(@Model.Claim.ClaimId,@jobtype.JobId);" style="cursor: pointer;text-decoration: none;">
                                            <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    }
                                }
                                else
                                {
                                    @*if (loggedInUser.UserTypeId == 11 && jobtype.JobId == 6) //Examiner
                                    {
                                        <a href="#" onclick="ExaminerAlert()" style="border: none; color: black; text-decoration: none;">
                                            <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    }
                                    else
                                    {*@
                                        if (AssignmentCount == 1 || AssignmentCount == 0)
                                        {
                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId ,CanAssignmentJobId = CanAssignmentJobId[0] })' style="cursor: pointer;text-decoration: none;">
                                                <div class="module opp" style="padding-left: 10px;">
                                                    <p><img src="~/Content/Images/check.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" onclick="loadPopupAssignmentServices(@Model.Claim.ClaimId,@jobtype.JobId);" style="cursor: pointer;text-decoration: none;">
                                                <div class="module opp" style="padding-left: 10px;">
                                                    <p><img src="~/Content/Images/check.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                </div>
                                            </a>
                                        }
                                //}
                                }
                                <br /><center>@jobtype.JobDesc</center>
                            }
                            else
                            {
                                @*if (loggedInUser.UserTypeId == 11 && jobtype.JobId == 6) //Examiner
                                {
                                    <a href="#" onclick="ExaminerAlert();" style="border: none; color: black; text-decoration: none;">
                                        <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom; opacity: 0.2; filter: alpha(opacity=40);" />
                                    </a>
                                    <br /><center>@jobtype.JobDesc</center>
                                }
                                else
                                {*@
                                    <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = jobtype.JobId, IsView = false, ServiceId = 0 ,CanAssignmentJobId = 0 })' style="border: none; color: black; text-decoration: none;">
                                        <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom; opacity: 0.2; filter: alpha(opacity=40);" />
                                    </a>
                                    <br /><center>@jobtype.JobDesc</center>
                                @*}*@
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>