﻿@using CSS
@model BLL.ViewModels.XactAssignmentSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">    
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr class="subHeading borderBottomLightGray" nowrap="nowrap">
        <td align="right">
            <input type="hidden" id="hidclaimid" />
            <input type="hidden" id="hidJobid" />
            Job Type:
        </td>
        <td>
            @if (loggedInUser.UserTypeId == 11)
            {
                @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypeListForExaminer, new { id = "ddljobtype", style = "width:150px;", onchange = "GetValue(this)" })
            }
            else
            {
                @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypeList, new { id = "ddljobtype", style = "width:150px;", onchange = "GetValue(this)" })
            }
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label id="lblJobValidation" style="display:none; color:red;">Please Select Job Type.</label>
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:right;">
            <input type="button" value="Make New Assignment" onclick="MakeNewAssignment();" class="buttonYellow_120"  style="width:140px !important; background-size: 140px 20px !important;"/>
        </td>
    </tr>   
</table>

<script>

    $(document.body).on('change', "#ddljobtype", function (e) {
        debugger;
        var jobtypeid = $("#ddljobtype option:selected").val();
        $("#hidJobid").val(jobtypeid);
    })

    function MakeNewAssignment()
    {
        debugger;
        var claimid = $("#hidclaimid").val();
        var JobId = $("#hidJobid").val();
        if (JobId != null &&  JobId != 0)
        {
            if (claimid != 0 && claimid != null)
            {
                window.location.href = '@Url.Action("GetReferalDetails", "PropertyAssignment")' + "?claimid=" + claimid + "&Jobid=" + JobId + "&IsView=" + false + "&ServiceId=" + 0 + "&CanAssignmentJobId=" + 0;
            }
        }
        else {
            $("#lblJobValidation").show();
        }
    }
</script>