﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<style>
    .backgroundPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

   

    .EditPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 200px;
        height: auto;
        overflow-y: scroll;
        position: absolute;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>
<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }
        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }
    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 50px;
        overflow-y: scroll;
        position: absolute;
    }
        #checkboxes label {
            display: block;
        }
            #checkboxes label:hover {
                background-color: #1e90ff;
            }
    #OtherLanguagescheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 142px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }
        #OtherLanguagescheckboxes label {
            display: block;
        }
            #OtherLanguagescheckboxes label:hover {
                background-color: #1e90ff;
            }
</style>
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/Custom/ServiceProviderRegistration.js")" type="text/javascript"></script>*@
<script>
    $(document).ready(function () {
        debugger;
        fillOtherLanguages();
        makeAst();
        makeAstDOBYear();
        makeAstTaxId();
        var IsMailingAddressSame = $("#rdbIsMailingAddressSameYes").val();
        var ModelIsMailingAddressSame = '@Model.user.IsMailingAddressSame';
        if (ModelIsMailingAddressSame == 'False') {
            $("#rdbIsMailingAddressSameNo").attr('checked', 'checked');
            DisplayMailingAddress();
        } else {
            $("#rdbIsMailingAddressSameYes").attr('checked', 'checked');
            CopyMailingAddress();
        }

        var TaxFilingType = $("#rdbTaxFilingTypeYes").val();
        var ModelTaxFilingType = '@Model.user.ServiceProviderDetail.TaxFilingType';
        if (ModelTaxFilingType == 0) {
            debugger;
            $("#rdbTaxFilingTypeNo").attr('checked', 'checked');
        } else {
            $("#rdbTaxFilingTypeYes").attr('checked', 'checked');
        }
        var ModelIsKnowByOtherNames = '@Model.user.ServiceProviderDetail.IsKnowByOtherNames';
        if (ModelIsKnowByOtherNames !='True') {
            Radio_Click(true, 'txtKnowByOtherNames');
        }

        var ModelHasValidPassport = '@Model.user.ServiceProviderDetail.HasValidPassport';
        if (ModelHasValidPassport != 'True') {
            Radio_ClickDate(true, 'txtPassportExpDate');
        }

        var EnableLLC = '@(ViewBag.EnableLLC)';

        $('#txtPassword').val('@Model.user.Password');
        $('#txtConfPassword').val('@Model.user.Password');

        $("#SSN").mask("999-99-9999");
        $("#txttaxid").mask("99-9999999");
        $("#txtSPPay").mask("99");


        if ('@Model.user.ServiceProviderDetail' != null) {

            if ('@Model.user.ServiceProviderDetail.IsDBA' != null) {
                if ('@Model.user.ServiceProviderDetail.IsDBA' != "") {
                    if ('@Model.user.ServiceProviderDetail.IsDBA' == 'False') {

                        $('#ddlFederalTaxClassification').empty();
                        $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));
                    }
                    if ('@Model.user.ServiceProviderDetail.IsDBA' == 'True') {
                        $('#ddlFederalTaxClassification').empty();
                        $("#ddlFederalTaxClassification").append($("<option>").val('0').text('--Select--'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('C').text('C Corporation'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('S').text('S Corporation'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('P').text('Partnership'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('T').text('Trust/estate'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('L').text('LLC'));

                        var federal = $.trim('@Model.user.ServiceProviderDetail.FederalTaxClassification');

                        $("#ddlFederalTaxClassification option[value=" + federal + "]").attr("selected", "selected");


                    }
                }
                else {
                    $('#ddlFederalTaxClassification').empty();
                    $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));

                }
            }

        }
    });

    function populateZipData(zipControl, stateControl, cityControl) {

        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
    { ZipCode: $("#" + zipControl).val() },
    function (data) {
        if (data != -1) {

            $("#" + stateControl).val(data.State);
            $("#" + cityControl).val(data.City);
        }
        else {
            $("#" + stateControl).val("");
            $("#" + cityControl).val("");
        }

    });
    }
    function UserCheck() {
        $("#divStatus").html("Checking....");
        $.post("@Url.Content("~/Account/IsUserNameAvailable")",
    { username: $("#txtUserName").val() },
    function (data) {
        if (data == 1) {
            $("#divStatus").html("User Name is Available");
        }
        else {
            $("#divStatus").html("User Name is Unavailable");
        }
    });
    }
</script>
<script>
    var expanded = false;
    function showOtherLanguagesCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("OtherLanguagescheckboxes");
        if (!expanded) {
            checkboxes.style.display = "inline-grid";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
    function selectallOtherLanguages() {
        debugger;
        if ($('#selectOtherLanguagesid').prop('checked')) {
            $('input[name=cbOtherLanguagesList]').each(function (i, selected) {
                $(selected).prop("checked", true);
          });
        }
        else {
            $('input[name=cbOtherLanguagesList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedOtherLanguagesIds();
    }
    function fillOtherLanguages() {
        debugger;
        $("#OtherLanguagescheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        //item.push("<label for='selectidlable'><input type='checkbox' name='selectallFileStatuslist' id='selectFileStatusid' value='selectallFileStatus' onchange='selectallFileStatus()'>Select all</label>");
      @for (int i = 1; i < Model.OtherLanguagesList.Count; i++)
        {
          Model.OtherLanguagesList[i].Text = Model.OtherLanguagesList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.OtherLanguagesList[i].Text';
            @:val = '@Model.OtherLanguagesList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbOtherLanguagesList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedOtherLanguagesIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
      }
    //$('#FileStatuscheckboxes').height('auto');
        $("#OtherLanguagescheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedOtherLanguages").val();
    debugger;
    if ($("#SelectedOtherLanguages").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#OtherLanguagescheckboxes label");
            $.each($("#OtherLanguagescheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#OtherLanguagescheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedOtherLanguagesIds();
    }
    function getSelectedOtherLanguagesIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbOtherLanguagesList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 assignment status
        //$('input[type=checkbox]').on('change', function (e) {
        //    if ($('input[name=cbOtherLanguagesList]:checked').length > 5) {
        //        $(this).prop('checked', false);
        //        alert("Allowed to select only 5 Status.");
        //    }
        //});
        if (selectedCheckBoxesValue == '') {
            $('#selectOtherLanguages').children('option[name="OtherLanguagesList"]').text("--Select--");
        }
        else {
            $('#selectOtherLanguages').children('option[name="OtherLanguagesList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedOtherLanguages").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
</script>
@if (loggedInUser != null && loggedInUser.UserId != -1)
{
<table>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
  
    @if (loggedInUser != null && loggedInUser.UserTypeId == 2 && Model.user.UserId > 0)
    {
        <tr>
            <td valign="top"><input type="hidden" name="user.RegisteredOnDate" value="@Model.user.RegisteredOnDate.Value.ToString("MM/dd/yyyy")" />
        </tr>
        if (Model.user.RegisteredOnDate != null)
        {
            <tr>
                <td valign="top">&nbsp;</td>
                <td style="font-weight:bold">Original Registration Date :</td>
                <td colspan="2" style="font-weight:bold">
                    <label for="user.RegisteredOnDate">@Model.user.RegisteredOnDate.Value.ToString("MM/dd/yyyy")</label>
                </td>
            </tr>
        }
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top" style="font-weight:bold">
                TaxFiling Type:
                </td>
            <td>
                <input name="user.ServiceProviderDetail.TaxFilingType" id="rdbTaxFilingTypeNo" type="radio" value="0" checked="@(Model.user.ServiceProviderDetail.TaxFilingType.HasValue ? Model.user.ServiceProviderDetail.TaxFilingType : 0)"
                     />1099
                <input name="user.ServiceProviderDetail.TaxFilingType" id="rdbTaxFilingTypeYes" type="radio" value="1" checked="@(Model.user.ServiceProviderDetail.TaxFilingType.HasValue ? Model.user.ServiceProviderDetail.TaxFilingType : 1)"
                        />Commisson-Based W2
            </td>
        </tr>
        if (Model.user.ServiceProviderDetail.QBVendorId != null)
        {
            <tr>
                <td valign="top">&nbsp;</td>
                <td style="font-weight:bold">QB Vendor Id :</td>
                <td colspan="2" style="font-weight:bold">
                    <label>@Model.user.ServiceProviderDetail.QBVendorId.ToString()</label>
                </td>
            </tr>
        }
        <tr>
            <td valign="top">&nbsp;</td>
            <td style="font-weight:bold">Paycom ID :</td>
            <td colspan="2" style="font-weight:bold">
                <input name="user.ServiceProviderDetail.PaycomID" id="txtpaycomid" type="text" value="@Model.user.ServiceProviderDetail.PaycomID" maxlength="4" />
                @*<label>@Model.user.ServiceProviderDetail.PaycomID.ToString()</label>
                <input id="hdnPaycomId" name="user.ServiceProviderDetail.PaycomID" type="hidden" value="@Model.user.ServiceProviderDetail.PaycomID" />*@
             </td>
        </tr>
    }
    else
    {
    <tr>
        <td>
            <input name="user.ServiceProviderDetail.TaxFilingType" type="hidden" value="@Model.user.ServiceProviderDetail.TaxFilingType" />
            <input name="user.ServiceProviderDetail.PaycomID" type="hidden" value="@Model.user.ServiceProviderDetail.PaycomID" />
        </td>
    </tr>
    }
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            Full Name
            <br />
            (initials not acceptable)
        </td>
        <td valign="top" colspan="2">
            <table align="left" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                       First Name
                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        Middle Name
                    </td>
                    <td valign="top">
                      Last Name
                    </td>
                   
                </tr>
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                        <input name="user.FirstName" id="txtFirstName" type="text" value="@Model.user.FirstName" maxlength="25" />


                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <input name="user.MiddleInitial" type="text" value="@Model.user.MiddleInitial" maxlength="25" />

                    </td>
                    <td valign="top">
                        <input name="user.LastName" id="txtLastName" type="text" value="@Model.user.LastName" maxlength="25" />

                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please enter your name exactly as shown on your income tax return form</td>
    </tr>

    <tr>
        <td valign="top">&nbsp;</td>
        <td>Goes by Nickname :</td>
        <td>
            <input name="user.ServiceProviderDetail.NickName" type="text" value="@Model.user.ServiceProviderDetail.NickName" />
        </td>
        <td valign="top" nowrap="nowrap" rowspan="3">
            <table style="padding-left: 30px;">
                <tr>
                    <td>Attach your Photo: </td>
                </tr>
                <tr>
                    <td>
                        <iframe id="frameUploadSSN" style="overflow:hidden;text-align:right;" frameborder="0" width="350" height="100" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=7&maxDocsCount=1&displayMode=1&isReadOnly=false")"></iframe>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
   
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        @if (loggedInUser != null)
        {
            if (loggedInUser.UserTypeId == 2)
            {
                <td valign="top">&nbsp;</td>
                <td valign="top">
                    User Name
                </td>
                <td nowrap="nowrap" valign="top">
                    <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                    <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />

                </td>
            }
            else
            {
                <td valign="top">&nbsp;</td>
                <td valign="top">
                   User Name
                </td>
                <td nowrap="nowrap" valign="top">
                    <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                    <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />

                </td>
            }
        }
        else
        {
            <td valign="top">&nbsp;</td>
            <td valign="top">
                User Name
            </td>
            <td nowrap="nowrap" valign="top">
                <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />
            </td>
        }




    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">Password</td>
        <td valign="top" colspan="2">
              <input name="user.Password" id="txtPassword" type="password" onfocus="HidePasswordMessage();" value="@Model.user.Password" />&nbsp;<div style="display: inline; color: red;" id="divStatus"></div>
            <br />Password should atleast be of 8 characters with 1 Capital letter,1 lowercase letter,1 special charater and a number
        </td>

    </tr>
    <tr>
        <td valign="top" style="height: 10px">&nbsp;</td>
        <td valign="top" style="height: 10px">Confirm Password</td>
        <td valign="top" align="left" colspan="2" style="height: 10px">
           <input name="user.PasswordConfirm" id="txtConfPassword" type="password" onblur="compare();" onfocus="HidePasswordMessage();" value="@Model.user.Password" />
            <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
        </td>

    </tr>

    <tr style="height: 10px">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
           Primary Email:
        </td>
        <td valign="top" colspan="1">
            <input name="user.Email" id="txtEmail" type="text" value="@Model.user.Email" />
        </td>
        <td id="tdEmail">
            <div></div>
        </td>
    </tr>
    <tr style="height: 10px">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
           Secondary Email:
        </td>
        <td valign="top" colspan="1">
            <input name="user.SecondaryPersonalEmail" id="txtSecondEmail" type="text" value="@Model.user.SecondaryPersonalEmail" />

        </td>

    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            Address
        </td>
        <td valign="top" colspan="2">
            <input name="user.StreetAddress" type="text" value="@Model.user.StreetAddress" id="StreetAddress" />
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
           Zip:
        </td>
        <td valign="top" colspan="2">
            <input name="user.Zip" id="txtZip" type="text" value="@Model.user.Zip" onblur="populateZipData('txtZip','ddlState','ddlCity')" />
        </td>

    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
           State:
        </td>
        <td valign="top" colspan="2">
            <select name="user.State" id="ddlState" style="width: 150px;" >
                @foreach (var state in Model.StateList)
                {
                    <option value="@state.Key.Trim()" @(state.Key.Trim() != (Model.user.State ?? "").Trim() ? "" : "selected = selected")>@state.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            City:
        </td>
        <td valign="top" colspan="2">
            <input name="user.City" id="ddlCity" type="text" value="@Model.user.City"/>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top" colspan="2">
            Is mailing address same as above address?
             @Html.RadioButtonFor(model => model.user.IsMailingAddressSame, true, new { @id = "rdbIsMailingAddressSameYes", @onclick = "CopyMailingAddress()" }) Yes
            @Html.RadioButtonFor(model => model.user.IsMailingAddressSame, false, new { @id = "rdbIsMailingAddressSameNo", @onclick = "DisplayMailingAddress()" }) No
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr class="hideMailingAddress">
        <td valign="top">&nbsp;</td>
        <td valign="top">
            <a id="a_user_StreetAddress"></a>Mailing Address:
        </td>
        <td valign="top" colspan="2">
            <input name="user.AddressPO" type="text" value="@Model.user.AddressPO" id="AddressPO" />
        </td>
    </tr>
    <tr class="hideMailingAddress">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            <a id="a_user_Zip"></a>Zip:
        </td>
        <td valign="top" colspan="2">
            <input name="user.MailingZip" id="txtMailingZip" type="text" value="@Model.user.MailingZip" onblur="populateZipData('txtMailingZip', 'ddlMailingState', 'ddlMailingCity')" />
        </td>
    </tr>
    <tr class="hideMailingAddress">
        <td valign="top">&nbsp;</td>
        <td valign="top">
            <a id="a_user_State"></a>State:
        </td>
        <td valign="top" colspan="2">
            <select name="user.MailingState" id="ddlMailingState" style="width: 150px;">
                @foreach (var MailingState in Model.StateList)
                {
                    <option value="@MailingState.Key.Trim()" @(MailingState.Key != (Model.user.MailingState ?? "").Trim() ? "" : "selected = selected")>@MailingState.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr class="hideMailingAddress">
        <td valign="top">&nbsp;</td>
        <td valign="top">
            <a id="a_user_City"></a>City:
        </td>
        <td valign="top" colspan="2">
            <input name="user.MailingCity" id="ddlMailingCity" type="text" value="@Model.user.MailingCity" />
        </td>
    </tr>
    <tr class="hideMailingAddress">
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td colspan="3" valign="top">
            Have you ever been known by any other names?
            <input name="user.ServiceProviderDetail.IsKnowByOtherNames" id="rdbIsKnowByOtherNamesYes" type="radio" value="true" checked="@(Model.user.ServiceProviderDetail.IsKnowByOtherNames.HasValue ? Model.user.ServiceProviderDetail.IsKnowByOtherNames : false)"
                   onclick="Radio_Click(false, 'txtKnowByOtherNames')" />Yes
            <input name="user.ServiceProviderDetail.IsKnowByOtherNames" id="rdbIsKnowByOtherNamesNo" type="radio" value="false" checked="@(Model.user.ServiceProviderDetail.IsKnowByOtherNames.HasValue ? !Model.user.ServiceProviderDetail.IsKnowByOtherNames : true)"
                   onclick="Radio_Click(true, 'txtKnowByOtherNames')" />No
        </td>
    </tr>

    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            If yes, give the names:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.KnowByOtherNames" id="txtKnowByOtherNames" type="text" value="@Model.user.ServiceProviderDetail.KnowByOtherNames" />
        </td>
    </tr>
   
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            Social Security Number:
        </td>
        <td valign="top" colspan="1">
            @if (loggedInUser != null)
            {
                if (loggedInUser.UserTypeId == 2)
                {
                    <input type="text" id="SSN1" readonly="true" value="@Model.user.SSN" />
                    <input id="hdnSSN" name="user.SSN" type="hidden" value="@Model.user.SSN" />
                }
                else
                {
                    <input name="user.SSN" type="text" id="SSN" value="@Model.user.SSN" />
                }
            }
            else
            {
                <input name="user.SSN" type="text" id="SSN" value="@Model.user.SSN" />

            }

            
        </td>
        <td id="tdSSN">
            <div></div>
        </td>
    </tr>
    <tr style="display:none">
        <td></td>
        <td valign="top">
           Attach Copy of Social Security Card:
        </td>
        <td colspan="2">
         <iframe id="frameUploadSSN" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=1&maxDocsCount=1&displayMode=0&isReadOnly=false")"></iframe>
          </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            Are you doing business as DBA?
        </td>
        <td valign="top" colspan="2" id="tddbaradio">
            @{
                string IsDBAYes = "";
                string IsDBANo = "";
                string ShowLLCDetails = "";
                string showFTC = "";
                string displaceFTCName = "";

                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.IsDBA.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.IsDBA.Value)
                        {
                            IsDBAYes = "checked=checked";
                        }
                        else
                        {
                            IsDBANo = "checked=checked";
                            ShowLLCDetails = "disabled=disabled";
                        }
                    }
                    else
                    {
                        IsDBANo = "checked=checked";
                        ShowLLCDetails = "disabled=disabled";
                    }

                }
                else
                {
                    IsDBANo = "checked=checked";
                    ShowLLCDetails = "disabled=disabled";
                }


                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                BLL.ServiceProviderDocument spdocument = null;

                if (css.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && (p.DTId == 9)).ToList().Count > 0)
                {

                    <input type="hidden" id="hdnLLCFirm" value="@Model.user.ServiceProviderDetail.DBA_LLC_Firm_Corp" name="user.ServiceProviderDetail.DBA_LLC_Firm_Corp" />
                    <input type="hidden" id="hdnFTC" value="@Model.user.ServiceProviderDetail.FederalTaxClassification" name="user.ServiceProviderDetail.FederalTaxClassification" />
                    <input type="hidden" id="hdnLLCTaxClassification" value="@Model.user.ServiceProviderDetail.LLCTaxClassification" name="user.ServiceProviderDetail.LLCTaxClassification" />

                    showFTC = "disabled=disabled";
                    ShowLLCDetails = "disabled=disabled";
                    displaceFTCName = "x";
                }



            }

            <input name="user.ServiceProviderDetail.IsDBA" id="rdbIsDBAYes" type="radio" value="true" checked="@(Model.user.ServiceProviderDetail.IsDBA.HasValue ? Model.user.ServiceProviderDetail.IsDBA : false)"
                   onclick="Radio_ClickLLC(false, 'txtLLCFirm')" />Yes
            <input name="user.ServiceProviderDetail.IsDBA" id="rdbIsDBANo" type="radio" value="false"checked="@(Model.user.ServiceProviderDetail.IsDBA.HasValue ? !Model.user.ServiceProviderDetail.IsDBA : true)"
                   onclick="Radio_ClickLLC(true, 'txtLLCFirm')" />No



        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            LLC/Corp./Partnership Name:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.DBA_LLC_Firm_Corp@(displaceFTCName)" type="text" id="txtLLCFirm" value="@Model.user.ServiceProviderDetail.DBA_LLC_Firm_Corp" @ShowLLCDetails />

            @if (loggedInUser != null)
            {
                if (loggedInUser.UserTypeId == 2)
                {
                    if (css.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && (p.DTId == 9)).ToList().Count > 0)
                    {
                        @* <input type="button" id="modifyLLC" name="modifyLLC" value="ModifyLLC" style="margin-left:100px" /> 

                        <a href="#" id="modifyLLC" style="margin-left:100px;text-decoration:none;font-size:13px">Edit LLC</a>
                        <a onclick="addShowHideLLC()" id="modifyLLC" style="border: none; color: blue; cursor: pointer;margin-left:100px;text-decoration:none;font-size:13px" @ShowLLCDetails>Edit LLC</a>
                        <input type="hidden" id="hdnmodifyllc" name="EditLLC" /> *@
                    }

                }
            }
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td nowrap="nowrap">Federal Tax Classification:</td>
        <td>
            <select name="user.ServiceProviderDetail.FederalTaxClassification@(displaceFTCName)" onchange="processFederalTaxClassificationChange()" id="ddlFederalTaxClassification" style="width: 150px;" @showFTC>
                <option value="0">--Select--</option>
            </select>
        </td>
    </tr>
    @{
        bool isLLCTaxClassificationVisible = false;
        string trLLCTaxClassificationStyle = "";
        if (!String.IsNullOrEmpty(Model.user.ServiceProviderDetail.FederalTaxClassification))
        {
            if (Model.user.ServiceProviderDetail.FederalTaxClassification.Trim() == "L")
            {
                isLLCTaxClassificationVisible = true;
            }
        }
        if (!isLLCTaxClassificationVisible)
        {
            trLLCTaxClassificationStyle = "style=display:none;";
        }
    }
    <tr id="trLLCTaxClassification" @trLLCTaxClassificationStyle>
        <td valign="top">&nbsp;</td>
        <td nowrap="nowrap">LLC Tax Classification:</td>
        <td>
            @{
                string llcTaxClassification = "0";
                if (!String.IsNullOrEmpty(Model.user.ServiceProviderDetail.LLCTaxClassification))
                {
                    llcTaxClassification = Model.user.ServiceProviderDetail.LLCTaxClassification;
                }
            }
            <select name="user.ServiceProviderDetail.LLCTaxClassification@(displaceFTCName)" id="ddlLLCTaxClassification" style="width: 150px;" value="@Model.user.ServiceProviderDetail.LLCTaxClassification" @showFTC>
                <option value="0" @(llcTaxClassification == "0" ? "selected=selected" : "")>--Select--</option>
                <option value="C" @(llcTaxClassification == "C" ? "selected=selected" : "")>C Corporation</option>
                <option value="S" @(llcTaxClassification == "S" ? "selected=selected" : "")>S Corporation</option>
                <option value="P" @(llcTaxClassification == "P" ? "selected=selected" : "")>Partnership</option>
            </select>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            Tax Id:
            <br />
            (Employe Identification Number)
        </td>
        <td valign="top" colspan="2">
            @*<input name="user.ServiceProviderDetail.TaxID" type="text" id="txttaxid"  value="@Model.user.ServiceProviderDetail.TaxID"  @ShowLLCDetails />*@
            @if (loggedInUser != null)
            {

                @*if (loggedInUser.UserTypeId != 1 && loggedInUser.UserId != Model.user.UserId)
                {
                    <input id="txttaxid"  type="text" value="@Model.user.ServiceProviderDetail.TaxID" @ShowLLCDetails />
                    <input name="user.ServiceProviderDetail.TaxID" type="hidden" id="hdntaxid" value="@Model.user.ServiceProviderDetail.TaxID" @ShowLLCDetails />
                }
                else
                {
                    <input name="user.ServiceProviderDetail.TaxID" type="text" id="txttaxid"  value="@Model.user.ServiceProviderDetail.TaxID"  @ShowLLCDetails />
                }*@

                <input name="user.ServiceProviderDetail.TaxID" type="text" id="txttaxid" value="@Model.user.ServiceProviderDetail.TaxID" @ShowLLCDetails />
            }
            else
            {
               <input name="user.ServiceProviderDetail.TaxID" type="text" id="txttaxid"  value="@Model.user.ServiceProviderDetail.TaxID"  @ShowLLCDetails />
            }
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                Interested In:
            </td>
            <td colspan="2">
                <input id="rbtnInterestField1" type="radio" name="user.ServiceProviderDetail.InterestedIn" value="1" checked="@(Model.user.ServiceProviderDetail.InterestedIn == 1 ? true : false)" />CAT&nbsp;
                <input id="rbtnInterestField2" type="radio" name="user.ServiceProviderDetail.InterestedIn" value="2" checked="@(Model.user.ServiceProviderDetail.InterestedIn == 2 ? true : false)" />Daily&nbsp;
                <input id="rbtnInterestField3" type="radio" name="user.ServiceProviderDetail.InterestedIn" value="3" checked="@(Model.user.ServiceProviderDetail.InterestedIn == 3 ? true : false)" />Desk&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr  style="display:none;">
        <td valign="top">&nbsp;</td>
        <td valign="top">
           Valid Driver’s License Number:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.DriversLicenceNumber" type="text" value="@Model.user.ServiceProviderDetail.DriversLicenceNumber" />
        </td>
    </tr>
    <tr  style="display:none;">
        <td></td>
        <td valign="top">
           Attach Copy of Drivers License:
        </td>
        <td colspan="2">
            <iframe id="frameUploadDriverLicense" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=3&maxDocsCount=1&displayMode=0&isReadOnly=false")"></iframe>
        </td>
    </tr>
    <tr  style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
          Issuing State:
        </td>
        <td valign="top" colspan="2">
            <select name="user.ServiceProviderDetail.DriversLicenceState" style="width: 150px;">
                @foreach (var issuingstate in Model.IssuingStateList)
                {
                    <option value="@issuingstate.Key" @(issuingstate.Key != Model.user.ServiceProviderDetail.DriversLicenceState ? "" : "selected = selected")>@issuingstate.Value</option>
                }
            </select>
           
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
   
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            Date of Birth:
        </td>
        <td valign="top" colspan="2">
            @*<input name="user.ServiceProviderDetail.DOB" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />*@
            @if (loggedInUser != null)
            {
                @*if (loggedInUser.UserTypeId != 1 && loggedInUser.UserId != Model.user.UserId)
                {
                    <input  id="DOB" type="text" class="DatePickerTextBox" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />
                    <input id="hdnDOB" name="user.ServiceProviderDetail.DOB" type="hidden" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />
            }
            else
            {
                <input name="user.ServiceProviderDetail.DOB" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />
                }*@

                <input name="user.ServiceProviderDetail.DOB" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />
            }
            else
            {
                <input name="user.ServiceProviderDetail.DOB" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />
            }
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
           Place of Birth State:
        </td>
        <td valign="top" colspan="2">
            <select name="user.ServiceProviderDetail.PlaceOfBirthState" style="width: 150px;">
                @foreach (var placeofbirhtstate in Model.PlaceOfBirthStateList)
                {
                    <option value="@placeofbirhtstate.Key" @(placeofbirhtstate.Key != Model.user.ServiceProviderDetail.PlaceOfBirthState ? "" : "selected = selected")>@placeofbirhtstate.Value</option>
                }

            </select>&nbsp;
            City:
            <input name="user.ServiceProviderDetail.PlaceOfBirth" type="text" value="@Model.user.ServiceProviderDetail.PlaceOfBirth" />
        </td>

    </tr>


    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>

    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
           Home Phone:
        </td>
        <td valign="top" colspan="2">
            <input name="user.HomePhone" class="PhoneNo" type="text" value="@Model.user.HomePhone" />
        </td>
    </tr>

    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
           Mobile Phone:
        </td>
        <td valign="top" colspan="2">
            <input name="user.MobilePhone" class="PhoneNo" type="text" value="@Model.user.MobilePhone" />
            &nbsp;&nbsp;
            @Html.DropDownListFor(model => model.NetworkProvider, Model.NetworkProviderList, new { @id = "ddlNetworkProvider", @name = "user.MobileNetworkProvider", @style = "width:170px;" })

        </td>
    </tr>

    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"></td>
        <td valign="top" colspan="2"></td>
    </tr>

    <tr style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
           Facebook Address:
        </td>
        <td valign="top" colspan="2">
            <input name="user.Facebook" type="text" value="@Model.user.Facebook" />
        </td>
    </tr>
    <tr  style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
           Twitter Address:
        </td>
        <td valign="top" colspan="2">
            <input name="user.Twitter" type="text" value="@Model.user.Twitter" />
        </td>
    </tr>
    <tr style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
         Google+ Address:
        </td>
        <td valign="top" colspan="2">
            <input name="user.GooglePlus" type="text" value="@Model.user.GooglePlus" />
        </td>
    </tr>

    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr style="display:none;">
        <td valign="top">&nbsp;</td>
        <td colspan="3" valign="top">
           List your residences for the last ten (10) years starting with your current address,
            giving:
        </td>
    </tr>
    <tr style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td colspan="3" valign="top">
            <table>
                <tr>
                    <td>
                        <table id="tblResidencesList">
                            <tr>
                                <td width="150"><b>Date From</b>
                                <td width="150">
                                    <b>Date To</b>

                                </td>
                                <td width="150">
                                    <b>Address</b>
                                </td>
                                <td width="150">
                                    <b>State</b>
                                    <div style="display: none;">
                                        <select id="ddlStateListReplica" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td width="150">
                                    <b>City</b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgResiDeleteRowReplica" onclick="deleteRow('tblResidencesList')" style="color: black; cursor: pointer;" src="/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderAddresses.Count == 0)
                            {

                                <tr>
                                    <td valign="top" nowrap="nowrap">
                                        <input name="user.ServiceProviderAddresses[0].DateFrom" class="DatePickerTextBox" type="text" />
                                    </td>
                                    <td valign="top" nowrap="nowrap">
                                        <input name="user.ServiceProviderAddresses[0].DateTo" class="DatePickerTextBox" type="text" />
                                    </td>

                                    <td valign="top">
                                        <textarea rows="2" style="width: 150px;" cols="20" name="user.ServiceProviderAddresses[0].Address"></textarea>
                                    </td>
                                    <td valign="top">
                                        <select id="userState0" name="user.ServiceProviderAddresses[0].State" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </td>
                                    <td valign="top">
                                        @*<select id="ddlResiCity0" name="ddlResiCity0" style="width: 100px;">
                                                @foreach (var city in Model.CityList)
                                                {
                                                    <option value="@city.Key">@city.Value</option>
                                                }
                                            </select>*@
                                        <input type="text" id="userCity0" name="user.ServiceProviderAddresses[0].City" style="width: 150px;" value="" />
                                    </td>
                                    <td>
                                        <img id="imgResiDeleteRow0" onclick="deleteRow('tblResidencesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderAddresses.Count; i++)
                                {
                                    BLL.ServiceProviderAddress residence = Model.user.ServiceProviderAddresses.ElementAt(i);
                                    <tr>
                                        <td valign="top" nowrap="nowrap">
                                            <input name="@("user.ServiceProviderAddresses[" + i + "].SPAId")" type="hidden" value="@residence.SPAId" />
                                            <input name="@("user.ServiceProviderAddresses[" + i + "].DateFrom")" class="DatePickerTextBox" type="text"
                                                   value="@(residence.DateFrom.HasValue ? residence.DateFrom.Value.ToString("MM/dd/yyyy") : "")" />

                                        </td>
                                        <td valign="top" nowrap="nowrap">
                                            @*<input name="@("user.ServiceProviderAddresses[" + i + "].SPAId")" type="hidden" value="@residence.SPAId" />*@
                                            <input name="@("user.ServiceProviderAddresses[" + i + "].DateTo")" class="DatePickerTextBox" type="text"
                                                   value="@(residence.DateTo.HasValue ? residence.DateTo.Value.ToString("MM/dd/yyyy") : "")" />
                                        </td>
                                        <td valign="top">
                                            <textarea rows="2" style="width: 150px;" cols="20" name="@("user.ServiceProviderAddresses[" + i + "].Address")">@residence.Address</textarea>
                                        </td>
                                        <td valign="top">
                                            <select id="userState0" name="@("user.ServiceProviderAddresses[" + i + "].State")" style="width: 150px;">
                                                @foreach (var state in Model.StateList)
                                                {
                                                    <option value="@state.Key" @(state.Key != residence.State ? "" : "selected = selected")>@state.Value</option>
                                                }
                                            </select>
                                        </td>
                                        <td valign="top">
                                            @* <select id="@("ddlResiCity" + i)" name="@("ddlResiCity" + i)" style="width: 100px;">
                                                    @foreach (var city in Model.CityList)
                                                    {
                                                        <option value="@city.Key">@city.Value</option>
                                                    }
                                                </select>*@
                                            <input id="userCity0" name="@("user.ServiceProviderAddresses[" + i + "].City")" style="width: 150px;" type="text" value="@(residence.City == null ? "" : residence.City)" />
                                        </td>
                                        <td>
                                            <img id="@("imgResiDeleteRow" + i)" onclick="deleteRow('tblResidencesList')" style="@(i == (Model.user.ServiceProviderAddresses.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                        </td>
                                    </tr>
                                }
                            }

                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <b>
                            <a onclick="addDynamicRow('tblResidencesList')" style="border: none; color: black; cursor: pointer;">
                                <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                Add Row
                            </a> &nbsp;
                        </b>
                    </td>
                </tr>
            </table>

        </td>
    </tr>    <tr style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
           Primary language:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.PrimaryLanguage" type="text" value="@Model.user.ServiceProviderDetail.PrimaryLanguage" />
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td nowrap="nowrap" style="vertical-align:top">
            Other Languages:
        </td>
        <td>
            <div class="multiselect">
                <div class="selectBox" onclick="showOtherLanguagesCheckboxes()">
                    <select id="selectOtherLanguages">
                        <option name="OtherLanguagesList">--Select--</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="OtherLanguagescheckboxes">
                </div>
            </div>
            @Html.HiddenFor(x => x.SelectedOtherLanguages)
        </td>
        @*<td valign="top">
          Other languages:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.OtherLanguages" type="text" value="@Model.user.ServiceProviderDetail.OtherLanguages" />
        </td>*@
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
            Do you have a valid passport?
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.HasValidPassport" id="rdbHasValidPassportYes" type="radio" value="true" checked="@(Model.user.ServiceProviderDetail.HasValidPassport.HasValue ? Model.user.ServiceProviderDetail.HasValidPassport : false)"
                   onclick="Radio_ClickDate(false, 'txtPassportExpDate')" />Yes
            <input name="user.ServiceProviderDetail.HasValidPassport" id="rdbHasValidPassportNo" type="radio" value="false" checked="@(Model.user.ServiceProviderDetail.HasValidPassport.HasValue ? !Model.user.ServiceProviderDetail.HasValidPassport : true)"
                   onclick="Radio_ClickDate(true, 'txtPassportExpDate')" />No
        </td>
    </tr>
    <tr style="display:none;">
        <td></td>
        <td valign="top">
            Attach Copy of Passport:
        </td>
        <td colspan="2">
            <iframe id="frameUploadPassport" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=2&maxDocsCount=1&displayMode=0&isReadOnly=false")"></iframe>
        </td>
    </tr>
    <tr style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            If yes, give expiration date:
        </td>
        <td valign="top" colspan="2">

            <input name="user.ServiceProviderDetail.PassportExpiryDate" type="text" id="txtPassportExpDate"
                   value="@(Model.user.ServiceProviderDetail.PassportExpiryDate.HasValue ? Model.user.ServiceProviderDetail.PassportExpiryDate.Value.ToString("MM/dd/yyyy") : "")" />

        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            Shirt Size:
        </td>
        <td valign="top" colspan="2">

            <select id="user.ServiceProviderDetail.ShirtSizeTypeId" name="user.ServiceProviderDetail.ShirtSizeTypeId" style="width: 150px;">
                @foreach (var shirttype in Model.ShirtSizeTypeList)
                {
                    <option value="@shirttype.Key" @(@shirttype.Key != Model.user.ServiceProviderDetail.ShirtSizeTypeId ? "" : "selected = selected")>@shirttype.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr style="display:none;">
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>

    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            Upload Resume.
        </td>
        <td colspan="2">
            <iframe id="frameUploadTransportation" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=17&maxDocsCount=1&displayMode=0&isReadOnly=false")"></iframe>
        </td>
    </tr>
    <tr>
        <td>
            <input type="hidden" id="SPUserIDCheck" name="user.ServiceProviderDetail.UserId" value="@Model.user.UserId" />
        </td>
    </tr>
    @if (loggedInUser != null)
    {
        if (loggedInUser.UserTypeId == 2)
        {
            <tr>
                <td valign="top">
                    &nbsp;
                </td>
                <td valign="top">
                    Rank :
                </td>
                <td colspan="2">
                    <input id="rb1" type="radio" name="user.ServiceProviderDetail.Rank" value="1" checked="@(Model.user.ServiceProviderDetail.Rank == 1 ? true : false)" />1&nbsp;
                    <input id="rb2" type="radio" name="user.ServiceProviderDetail.Rank" value="2" checked="@(Model.user.ServiceProviderDetail.Rank == 2 ? true : false)" />2&nbsp;
                    <input id="rb3" type="radio" name="user.ServiceProviderDetail.Rank" value="3" checked="@(Model.user.ServiceProviderDetail.Rank == 3 ? true : false)" />3&nbsp;
                    <input id="rb4" type="radio" name="user.ServiceProviderDetail.Rank" value="4" checked="@(Model.user.ServiceProviderDetail.Rank == 4 ? true : false)" />4&nbsp;
                    <input id="rb5" type="radio" name="user.ServiceProviderDetail.Rank" value="5" checked="@(Model.user.ServiceProviderDetail.Rank == 5 ? true : false)" />5
                </td>
            </tr>
        }
    }
    @*@{


        bool Ischecked = false;
              if (Model.user != null)
        {
                if (Model.user.HeadCompanyId != null)
            {
                Ischecked = true;
            }
        }
        <tr style="display:none">
            <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
            <td>

                Contractor Company
            </td>
            <td nowrap="nowrap" style="text-align:left">
                @Html.CheckBox("chkIsContractorCompany", Ischecked, new { id = "chkIsContractorCompany" })
                </td>
        </tr>
        <tr>
            @if (Model.user.TermsOfServiceDate != null)
            {
                <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
                <td>
                    Terms of Service:
                </td>
                <td nowrap="nowrap" style="text-align:left">
                    @Model.user.TermsOfServiceDate.Value
                </td>
            }

        </tr>

    }*@
</table>
                }
                else
                {
                    <table>
                        <tr>
                            <td valign="top">
                                &nbsp;
                            </td>
                            <td valign="top">
                                &nbsp;
                            </td>
                            <td valign="top" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        @if (loggedInUser != null && loggedInUser.UserTypeId == 2 && Model.user.UserId > 0)
                        {
                            <tr>
                                <td valign="top"><input type="hidden" name="user.RegisteredOnDate" value="@Model.user.RegisteredOnDate.Value.ToString("MM/dd/yyyy")" />
                            </tr>
                            if (Model.user.RegisteredOnDate != null)
                            {
                                <tr>
                                    <td valign="top">&nbsp;</td>
                                    <td style="font-weight:bold">Original Registration Date :</td>
                                    <td colspan="2" style="font-weight:bold">
                                        <label for="user.RegisteredOnDate">@Model.user.RegisteredOnDate.Value.ToString("MM/dd/yyyy")</label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td valign="top">&nbsp;</td>
                                <td valign="top" style="font-weight:bold">
                                    TaxFiling Type:
                                </td>
                                <td>
                                    <input name="user.ServiceProviderDetail.TaxFilingType" id="rdbTaxFilingTypeNo" type="radio" value="0" checked="@(Model.user.ServiceProviderDetail.TaxFilingType.HasValue ? Model.user.ServiceProviderDetail.TaxFilingType : 0)" />1099
                                    <input name="user.ServiceProviderDetail.TaxFilingType" id="rdbTaxFilingTypeYes" type="radio" value="1" checked="@(Model.user.ServiceProviderDetail.TaxFilingType.HasValue ? Model.user.ServiceProviderDetail.TaxFilingType : 1)" />Commisson-Based W2
                                </td>
                            </tr>
                            if (Model.user.ServiceProviderDetail.QBVendorId != null)
                            {
                                <tr>
                                    <td valign="top">&nbsp;</td>
                                    <td style="font-weight:bold">QB Vendor Id :</td>
                                    <td colspan="2" style="font-weight:bold">
                                        <label>@Model.user.ServiceProviderDetail.QBVendorId.ToString()</label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td valign="top">&nbsp;</td>
                                <td style="font-weight:bold">Paycom ID :</td>
                                <td colspan="2" style="font-weight:bold">
                                    <input name="user.ServiceProviderDetail.PaycomID" id="txtpaycomid" type="text" value="@Model.user.ServiceProviderDetail.PaycomID" maxlength="4" />
                                    @*<label>@Model.user.ServiceProviderDetail.PaycomID.ToString()</label>
                                        <input id="hdnPaycomId" name="user.ServiceProviderDetail.PaycomID" type="hidden" value="@Model.user.ServiceProviderDetail.PaycomID" />*@
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <input name="user.ServiceProviderDetail.TaxFilingType" type="hidden" value="@Model.user.ServiceProviderDetail.TaxFilingType" />
                                    <input name="user.ServiceProviderDetail.PaycomID" type="hidden" value="@Model.user.ServiceProviderDetail.PaycomID" />
                                </td>
                            </tr>
                        }
                        <tr>
                            <td valign="top">
                                &nbsp;
                            </td>
                            <td valign="top">
                                &nbsp;
                            </td>
                            <td valign="top" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">
                                Full Name
                                <br />
                                (initials not acceptable)
                            </td>
                            <td valign="top" colspan="2">
                                <table align="left" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" style="padding-right: 5px;">
                                            First Name
                                        </td>
                                        <td valign="top" style="padding-right: 5px;">
                                            Middle Name
                                        </td>
                                        <td valign="top">
                                            Last Name
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="padding-right: 5px;">
                                            <input name="user.FirstName" id="txtFirstName" type="text" value="@Model.user.FirstName" maxlength="25" />
                                        </td>
                                        <td valign="top" style="padding-right: 5px;">
                                            <input name="user.MiddleInitial" type="text" value="@Model.user.MiddleInitial" maxlength="5" />
                                        </td>
                                        <td valign="top">
                                            <input name="user.LastName" id="txtLastName" type="text" value="@Model.user.LastName" maxlength="25" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please enter your name exactly as shown on your income tax return form</td>
                        </tr>
                        <tr>
                            <td valign="top">
                                &nbsp;
                            </td>
                            <td valign="top">
                                &nbsp;
                            </td>
                            <td valign="top" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            @if (loggedInUser != null)
                            {
                                if (loggedInUser.UserTypeId == 2)
                                {
                                    <td valign="top">&nbsp;</td>
                                    <td valign="top">
                                        User Name
                                    </td>
                                    <td nowrap="nowrap" valign="top">
                                        <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                                        <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />
                                    </td>
                                }
                                else
                                {
                                    <td valign="top">&nbsp;</td>
                                    <td valign="top">
                                        User Name
                                    </td>
                                    <td nowrap="nowrap" valign="top">
                                        <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                                        <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />
                                    </td>
                                }
                            }
                            else
                            {
                                <td valign="top">&nbsp;</td>
                                <td valign="top">
                                    User Name
                                </td>
                                <td nowrap="nowrap" valign="top">
                                    <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                                    <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />
                                </td>
                            }
                        </tr>
                        <tr>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">Password</td>
                            <td valign="top" colspan="2">
                                <input name="user.Password" id="txtPassword" type="password" onfocus="HidePasswordMessage();" value="@Model.user.Password" />&nbsp;<div style="display: inline; color: red;" id="divStatus"></div>
                                <br />Password should atleast be of 8 characters with 1 Capital letter,1 lowercase letter,1 special charater and a number
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="height: 10px">&nbsp;</td>
                            <td valign="top" style="height: 10px">Confirm Password</td>
                            <td valign="top" align="left" colspan="2" style="height: 10px">
                                <input name="user.PasswordConfirm" id="txtConfPassword" type="password" onblur="compare();" onfocus="HidePasswordMessage();" value="@Model.user.Password" />
                                <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
                            </td>
                        </tr>
                        <tr style="height: 10px">
                            <td valign="top">
                                &nbsp;
                            </td>
                            <td valign="top">
                                Primary Email:
                            </td>
                            <td valign="top" colspan="1">
                                <input name="user.Email" id="txtEmail" type="text" value="@Model.user.Email" />
                            </td>
                            <td id="tdEmail">
                                <div></div>
                            </td>
                        </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">
            &nbsp;
        </td>
        <td valign="top">
            Interested In:
        </td>
        <td colspan="2">
            <input id="rbtnInterestField1" type="radio" name="user.ServiceProviderDetail.InterestedIn" value="1" checked="@(Model.user.ServiceProviderDetail.InterestedIn == 1 ? true : false)" />CAT&nbsp;
            <input id="rbtnInterestField2" type="radio" name="user.ServiceProviderDetail.InterestedIn" value="2" checked="@(Model.user.ServiceProviderDetail.InterestedIn == 2 ? true : false)" />Daily&nbsp;
            <input id="rbtnInterestField3" type="radio" name="user.ServiceProviderDetail.InterestedIn" value="3" checked="@(Model.user.ServiceProviderDetail.InterestedIn == 3 ? true : false)" />Desk&nbsp;
        </td>
    </tr>
    <tr>
        <td></td>
                        <td></td>
                            <td>
                                <div style="float:right;padding-right: 20px;">
                                        <input name="submit" type="submit" class="buttonYellow_100" value="Register" />
                                </div>
                            </td>
                        </tr>
                        </table>
                        }
<input id="hdnResiRowCount" name="hdnResiRowCount" type="hidden" value="@(Model.user.ServiceProviderAddresses.Count == 0 ? "1" : Model.user.ServiceProviderAddresses.Count + "")" />

