﻿@model BLL.ViewModels.ServiceProviderDetailViewModel
<table width="100%">
    <tr>
        <td align="left" valign="top" width="50%">
            <table align="center" width="95%" cellspacing="0">
                <tr>
                    <td style="width:150px;" ></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Employers and adjusting companies worked for in the last ten (10) years starting 
                with the most recent</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>

                                <td valign="top" width="100"><b>Date</b>
                                </td>
                                <td valign="top" width="150"><b>Employer/Adjusting Co. Name</b>
                                </td>
                                <td valign="top" width="150"><b>Address</b>
                                </td>
                                <td valign="top" width="150"><b>Phone Number</b>
                                </td>

                            </tr>

                            @{
                                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                BLL.ServiceProviderEmployer spemp = new BLL.ServiceProviderEmployer();

                                if (Model.user.ServiceProviderEmployers.Count != 0)
                                {
                                    int rowIndex = 0;
                                    string empdate = "";
                                    string employer = "";
                                    string address = "";
                                    string phone = "";
                                    string rowColor = "EAEAEA";
                                    Int64 speid = 0;


                                    var objData = css.ServiceProviderEmployers.Where(m => m.UserId == Model.user.UserId);

                                    for (int i = 1; i <= Model.user.ServiceProviderEmployers.Count; i++)
                                    {
                                        if (i % 2 == 0)
                                        {
                                            rowColor = "EAEAEA";
                                        }
                                        else
                                        {
                                            rowColor = "F9F9F9";
                                        }
                                    }



                                    foreach (var emp in objData)
                                    {

                                        employer = emp.EmployerName;
                                        address = emp.Address;
                                        phone = emp.PhoneNumber;

                                        if (emp.Date != null)
                                        {

                                            empdate = CSS.Utility.getDateInDefaultFormat(emp.Date.Value);
                                        }
                          
                                <tr style="background-color:#@rowColor;">
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@empdate</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@employer</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@address</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@phone</td>

                                </tr>
                         
                                        rowIndex++;

                                    }
                                }
                                else
                                {
                                <tr>
                                    <td colspan="4">- No Records -
                        
                                    </td>
                                </tr>
                                }
        
                            }

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray"><strong>Public Adjuster Details</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Is or has ever been a public adjuster?</td>
                    <td bgcolor="#EAEAEA">@(Model.user.ServiceProviderDetail.HasBeenPublicAdjuster == true ? "Yes": "No")</td>
                </tr>
               

                <tr>
                    <td>Public Adjuster Date:</td>
                    <td >@{
                        string publicadjusterdate = "";
                        if (Model.user.ServiceProviderDetail.PublicAdjusterWhen != null)
                        {

                            publicadjusterdate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.PublicAdjusterWhen.Value);
                        }
                    }

                        @publicadjusterdate</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">Place:</td>
                    <td bgcolor="#EAEAEA"  class="borderBottomLightGray">@Model.user.ServiceProviderDetail.PublicAdjusterWhere</td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>

                    <td colspan="2" class="borderBottomLightGray"><strong>Has worked for Pacesetter Claims in the past?</strong></td>

                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Response:</td>
                    <td bgcolor="#EAEAEA">@(Model.user.ServiceProviderDetail.HasWorkedInCS == true ? "Yes": "No")</td>
                    
                </tr>
                <tr>
                    <td>If yes, Date:</td>
                    <td>@{
                        string workedpastdate = "";

                        if (Model.user.ServiceProviderDetail.WorkedInCSWhen != null)
                        {
                            workedpastdate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.WorkedInCSWhen.Value);
                        }
                    }
                        @workedpastdate</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Place of Work:</td>
                    <td bgcolor="#EAEAEA">@Model.user.ServiceProviderDetail.WorkedInCSWhere</td>
                </tr>
                <tr>
                    <td>If no, asked to work for Pacesetter Claims:</td>
                    <td>@(Model.user.ServiceProviderDetail.CSAskedYouToWork == true ? "Yes": "No")</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Date of Last Catastrophe Worked:</td>
                    <td bgcolor="#EAEAEA">@{
                        string catastrophedate = "";

                        if (Model.user.ServiceProviderDetail.LastDateCatastropheWorked != null)
                        {
                            catastrophedate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.LastDateCatastropheWorked.Value);
                        }
                    }
                        @catastrophedate</td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray">For:</td>
                    <td class="borderBottomLightGray">@Model.user.ServiceProviderDetail.CatastropheForWhom</td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray"><strong>Former employer may be contacted?</strong></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">Response:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">@(Model.user.ServiceProviderDetail.FormerEmployerBeContacted == true ? "Yes": "No")</td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                @*<tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>E&amp;O Insurance Information</strong></td>

                </tr>
                <tr>
                    <td >Carries E&amp;O Insurance:</td>

                    <td >@(Model.user.ServiceProviderDetail.EOHasInsurance == true ? "Yes": "No")</td>

                </tr>
               <tr>
                    <td bgcolor="#EAEAEA">Policy Number:</td>

                    <td bgcolor="#EAEAEA">@Model.user.ServiceProviderDetail.EOPoliyNumber</td>

                </tr>
                <tr>
                    <td>Issuing Company:</td>

                    <td>@Model.user.ServiceProviderDetail.EOCarrier</td>

                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Date of Inception:</td>

                    <td bgcolor="#EAEAEA">@{
                        string inceptiondate = "";

                        if (Model.user.ServiceProviderDetail.EOInception != null)
                        {
                            inceptiondate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.EOInception.Value);
                        }
                    }
                        @inceptiondate</td>

                </tr>
                <tr>
                    <td>Date of Expiration:</td>

                    <td>@{
                        string eoexpdate = "";

                        if (Model.user.ServiceProviderDetail.EOExpiry != null)
                        {
                            eoexpdate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.EOExpiry.Value);
                        }
                    }
                        @eoexpdate</td>

                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Limits:</td>

                    <td bgcolor="#EAEAEA">@Model.user.ServiceProviderDetail.EOLimit</td>

                </tr>
                <tr>
                    <td class="borderBottomLightGray">Deductible:</td>

                    <td class="borderBottomLightGray">@Model.user.ServiceProviderDetail.EODeductible</td>

                </tr>*@
            </table>
        </td>
        <td  valign="top" width="50%">
            <table align="center" width="95%" cellspacing="0">
                <tr>
                    <td style="width:220px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Professional References</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table width="100%">
                            <tr>
                                <td><b>Name</b>
                                </td>
                                <td><b>Company</b>
                                </td>
                                <td><b>Title</b>
                                </td>
                                <td><b>Phone #</b>
                                </td>
                            </tr>
                            @{
                                if (Model.user.ServiceProviderReferences.Count != 0)
                                {
                                    string SPRId0 = "0";
                                    string name0 = "";
                                    string company0 = "";
                                    string title0 = "";
                                    string phoneNo0 = "";
                                    string SPRId1 = "0";
                                    string name1 = "";
                                    string company1 = "";
                                    string title1 = "";
                                    string phoneNo1 = "";
                                    if (Model.user.ServiceProviderReferences.Count >= 1)
                                    {

                                        SPRId0 = Model.user.ServiceProviderReferences.ElementAt(0).SPRId + "";
                                        name0 = Model.user.ServiceProviderReferences.ElementAt(0).Name;
                                        company0 = Model.user.ServiceProviderReferences.ElementAt(0).Company;
                                        title0 = Model.user.ServiceProviderReferences.ElementAt(0).Title;
                                        phoneNo0 = Model.user.ServiceProviderReferences.ElementAt(0).PhoneNumber;

                                    }
                                    if (Model.user.ServiceProviderReferences.Count == 2)
                                    {
                                        SPRId1 = Model.user.ServiceProviderReferences.ElementAt(1).SPRId + "";
                                        name1 = Model.user.ServiceProviderReferences.ElementAt(1).Name;
                                        company1 = Model.user.ServiceProviderReferences.ElementAt(1).Company;
                                        title1 = Model.user.ServiceProviderReferences.ElementAt(1).Title;
                                        phoneNo1 = Model.user.ServiceProviderReferences.ElementAt(1).PhoneNumber;

                                    }
                     
                                <tr>
                                    <td class="tableRowAlternate">

                                        @name0
                                    </td>
                                    <td class="tableRowAlternate">
                                        @company0
                                    </td>
                                    <td class="tableRowAlternate">
                                        @title0
                                    </td>
                                    <td class="tableRowAlternate">
                                        @phoneNo0
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        @name1
                                    </td>
                                    <td>
                                        @company1
                                    </td>
                                    <td>
                                        @title1
                                    </td>
                                    <td>
                                        @phoneNo1
                                    </td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                    <td colspan="4">- No Records -
                        
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray"><strong>Education: Dates, names, locations, and degrees:</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table width="100%">
                            <tr>
                                <td><b>Education</b>
                                </td>
                                <td><b>Date</b>
                                </td>
                                <td><b>University</b>
                                </td>
                                <td><b>Location</b>
                                </td>
                                <td><b>Degree</b>
                                </td>
                            </tr>
                            @{
                                BLL.ServiceProviderEducation eduC = null;

                                if (Model.user.ServiceProviderEducations.Count != 0)
                                {
                                    string dateC = "";
                                    string universityC = "";
                                    string locationC = "";
                                    string degreeC = "";
                                    if (Model.user.ServiceProviderEducations.Where(p => p.Education == "College").Count() != 0)
                                    {

                                        eduC = Model.user.ServiceProviderEducations.Where(p => p.Education == "College").First();
                                        universityC = eduC.Name;
                                        locationC = eduC.Location;
                                        degreeC = eduC.Degree;

                                        if (eduC.Date != null)
                                        {

                                            dateC = CSS.Utility.getDateInDefaultFormat(eduC.Date.Value);
                                        }
                                    }
                    
                                <tr>
                                    <td class="tableRowAlternate"><b>College</b>
                                    </td>
                                    <td class="tableRowAlternate">

                                        @dateC

                                    </td>
                                    <td class="tableRowAlternate">

                                        @universityC
                                    </td>
                                    <td class="tableRowAlternate">
                                        @locationC
                                    </td>
                                    <td class="tableRowAlternate">
                                        @degreeC
                                    </td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                    <td class="tableRowAlternate"><b>College</b>
                                    </td>
                                    <td colspan="4" class="tableRowAlternate">- No Records -
                        
                                    </td>
                                </tr>
                                }
                            }
                            @{
                                BLL.ServiceProviderEducation eduGS = null;

                                if (Model.user.ServiceProviderEducations.Count != 0)
                                {
                                    string dateGS = "";
                                    string universityGS = "";
                                    string locationGS = "";
                                    string degreeGS = "";
                                    if (Model.user.ServiceProviderEducations.Where(p => p.Education == "GraduateStudies").Count() != 0)
                                    {
                                        eduGS = Model.user.ServiceProviderEducations.Where(p => p.Education == "GraduateStudies").First();
                                        universityGS = eduGS.Name;
                                        locationGS = eduGS.Location;
                                        degreeGS = eduGS.Degree;
                                        if (eduGS.Date != null)
                                        {

                                            dateGS = CSS.Utility.getDateInDefaultFormat(eduGS.Date.Value);
                                        }
                                    }
                    
                                <tr>
                                    <td><b>Graduate Studies</b>
                                    </td>
                                    <td>

                                        @dateGS



                                    </td>
                                    <td>
                                        @universityGS
                                    </td>
                                    <td>
                                        @locationGS
                                    </td>
                                    <td>
                                        @degreeGS
                                    </td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                    <td><b>Graduate Studies</b>
                                    </td>
                                    <td colspan="4">- No Records -
                        
                                    </td>
                                </tr>
                                }
                            }
                            @{
                                BLL.ServiceProviderEducation eduO = null;

                                if (Model.user.ServiceProviderEducations.Count != 0)
                                {
                                    string dateO = "";
                                    string universityO = "";
                                    string locationO = "";
                                    string degreeO = "";
                                    if (Model.user.ServiceProviderEducations.Where(p => p.Education == "Others").Count() != 0)
                                    {
                                        eduO = Model.user.ServiceProviderEducations.Where(p => p.Education == "Others").First();
                                        universityO = eduO.Name;
                                        locationO = eduO.Location;
                                        degreeO = eduO.Degree;
                                        if (eduO.Date != null)
                                        {

                                            dateO = CSS.Utility.getDateInDefaultFormat(eduO.Date.Value);
                                        }
                                    }
                                <tr>
                                    <td class="tableRowAlternate"><b>Others</b>
                                    </td>
                                    <td class="tableRowAlternate">
                                        @dateO
                                    </td>
                                    <td class="tableRowAlternate">
                                        @universityO
                                    </td>
                                    <td class="tableRowAlternate">
                                        @locationO
                                    </td>
                                    <td class="tableRowAlternate">
                                        @degreeO
                                    </td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                    <td class="tableRowAlternate"><b>Others</b>
                                    </td>
                                    <td colspan="4" class="tableRowAlternate">- No Records -
                        
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray"><strong>Software Experience Information</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table width="100%">
                            <tr valign="top">
                                <td nowrap="nowrap"><b>Software Experience</b>
                                </td>
                                <td nowrap="nowrap"><b>Software Id</b>
                                </td>
                                <td><b>Years of Experience</b>
                                </td>
                                <td><b>Date Last Used</b>
                                </td>
                            </tr>


                            @*@{
                                BLL.ServiceProviderSoftwareExperience softExp0 = null;


                                string softwareId0 = "";
                                string expYears0 = "0";
                                string dateLastUsed0 = "";

                                if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "MSB").Count() != 0)
                                {
                                    softExp0 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "MSB").First();
                                    softwareId0 = softExp0.SoftwareId;
                                    expYears0 = Convert.ToString(softExp0.YearsOfExperience);
                                    if (softExp0.DateLastUsed != null)
                                    {

                                        dateLastUsed0 = CSS.Utility.getDateInDefaultFormat(softExp0.DateLastUsed.Value);
                                    }

                                }
                  
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate"><b>a. MSB</b>
                                    </td>
                                    <td nowrap="nowrap" class="tableRowAlternate">

                                        @softwareId0
                                    </td>
                                    <td width="30" class="tableRowAlternate">
                                        @expYears0
                                    </td>
                                    <td class="tableRowAlternate">
                                        @dateLastUsed0

                                    </td>
                                </tr>
                
                 
                            }*@
                            @{
                                BLL.ServiceProviderSoftwareExperience softExp1 = null;

                                string softwareId1 = "";
                                string expYears1 = "0";
                                string dateLastUsed1 = "";

                                if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Xactimate").Count() != 0)
                                {
                                    softExp1 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Xactimate").First();
                                    softwareId1 = softExp1.SoftwareId;
                                    expYears1 = Convert.ToString(softExp1.YearsOfExperience);
                                    if (softExp1.DateLastUsed != null)
                                    {

                                        dateLastUsed1 = CSS.Utility.getDateInDefaultFormat(softExp1.DateLastUsed.Value);
                                    }

                                }
                                <tr>
                                    <td nowrap="nowrap"><b>a. Xactimate</b>
                                    </td>
                                    <td nowrap="nowrap">

                                        @softwareId1
                                    </td>
                                    <td>
                                        @expYears1
                                    </td>
                                    <td>
                                        @dateLastUsed1

                                    </td>
                                </tr>
                  
                            }
                            @{
                                BLL.ServiceProviderSoftwareExperience softExp2 = null;

                                string softwareId2 = "";
                                string expYears2 = "0";
                                string dateLastUsed2 = "";

                                if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Symbility").Count() != 0)
                                {
                                    softExp2 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Symbility").First();
                                    softwareId2 = softExp2.SoftwareId;
                                    expYears2 = Convert.ToString(softExp2.YearsOfExperience);
                                    if (softExp2.DateLastUsed != null)
                                    {

                                        dateLastUsed2 = CSS.Utility.getDateInDefaultFormat(softExp2.DateLastUsed.Value);
                                    }
                                }
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate"><b>b. Symbility</b>
                                    </td>
                                    <td nowrap="nowrap" class="tableRowAlternate">

                                        @softwareId2
                                    </td>
                                    <td class="tableRowAlternate">
                                        @expYears2
                                    </td>
                                    <td class="tableRowAlternate">
                                        @dateLastUsed2
                                    </td>
                                </tr>
                            }
                            @{
                                BLL.ServiceProviderSoftwareExperience softExp3 = null;
                                string softwareId3 = "";
                                string expYears3 = "0";
                                string dateLastUsed3 = "";

                                if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Simsol").Count() != 0)
                                {
                                    softExp3 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Simsol").First();

                                    softwareId3 = softExp3.SoftwareId;
                                    expYears3 = softExp3.YearsOfExperience + "";
                                    if (softExp3.DateLastUsed != null)
                                    {

                                        dateLastUsed3 = CSS.Utility.getDateInDefaultFormat(softExp3.DateLastUsed.Value);
                                    }
                                }
                                <tr>
                                    <td nowrap="nowrap"><b>c. Simsol</b>
                                    </td>
                                    <td nowrap="nowrap">

                                        @softwareId3
                                    </td>
                                    <td>
                                        @expYears3
                                    </td>
                                    <td>
                                        @dateLastUsed3

                                    </td>
                                </tr>
                            }
                            @*@{
                                BLL.ServiceProviderSoftwareExperience softExp4 = null;
                                string softwareId4 = "";
                                string expYears4 = "0";
                                string dateLastUsed4 = "";

                                if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Other").Count() != 0)
                                {
                                    softExp4 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Other").First();
                                    softwareId4 = softExp4.SoftwareId;
                                    expYears4 = Convert.ToString(softExp4.YearsOfExperience);
                                    if (softExp4.DateLastUsed != null)
                                    {

                                        dateLastUsed4 = CSS.Utility.getDateInDefaultFormat(softExp4.DateLastUsed.Value);
                                    }
                                }
                                <tr>
                                    <td nowrap="nowrap" class="tableRowAlternate"><b>e. Other/word/excel</b>
                                    </td>
                                    <td nowrap="nowrap" class="tableRowAlternate">

                                        @softwareId4
                                    </td>
                                    <td class="tableRowAlternate">
                                        @expYears4
                                    </td>
                                    <td class="tableRowAlternate">

                                        @dateLastUsed4

                                    </td>
                                </tr>
                            }*@
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray"><strong>Years of experience on the following claim types:</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table width="100%">
                            <tr>
                                <td><b>Claim Types</b>
                                </td>
                                <td><b>Years of Experience</b>
                                </td>
                            </tr>
                            @{
                                int rowIndexClaimTypes = 0;
                                for (int i = 0; i < Model.ClaimTypeList.Count; i++)
                                {
                                    BLL.ServiceProviderExperience exp = null;
                                    string YearsOfExp = "0";
                                    string SPEId = "0";
                                    if (Model.user.ServiceProviderExperiences.Where(m => m.ClaimTypeId == Model.ClaimTypeList.ElementAt(i).Key).Count() != 0)
                                    {
                                        exp = Model.user.ServiceProviderExperiences.Where(m => m.ClaimTypeId == Model.ClaimTypeList.ElementAt(i).Key).First();
                                        YearsOfExp = exp.YearsOfExperience + "";
                                        SPEId = exp.SPEId + "";
                                    }
                                <tr>
                                    <td @(rowIndexClaimTypes % 2 == 0 ? "class=tableRowAlternate": "")>@Model.ClaimTypeList.ElementAt(i).Value:
                                    </td>
                                    <td @(rowIndexClaimTypes % 2 == 0 ? "class=tableRowAlternate": "")>
                                        @YearsOfExp
                                    </td>
                                </tr>
                                    rowIndexClaimTypes++;
                                }
                            }


                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Climbing Information</strong> </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Comfortable Climbing Roofs:</td>
                    <td bgcolor="#EAEAEA">
                        @(Model.user.ServiceProviderDetail.RoofClimbingRequired == true ? "Yes": "No")
                    </td>
                </tr>
                <tr>
                    <td>Ladder will reach and Capable to climb:</td>
                    <td>
                        @if (Model.user.ServiceProviderDetail.CapabilityToClimb == "1 Story")
                        {
                            <div>1 Story</div>
                        }
                        @if (Model.user.ServiceProviderDetail.CapabilityToClimb == "2 Story")
                        {
                            <div>2 Story</div>
                        }
                        @if (Model.user.ServiceProviderDetail.CapabilityToClimb == "Above 2 Story")
                        {
                            <div>Above 2 Story</div>
                        }
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">Capability to climb steep:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                        @if (Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "6/12")
                        {
                            <div>6/12</div>
                        }
                        @if (Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "8/12")
                        {
                            <div>8/12</div>
                        }
                        @if (Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "10/12")
                        {
                            <div>10/12</div>
                        }
                        @if (Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "12/12+")
                        {
                            <div>12/12+</div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray"><strong>Rope and Harness Information</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Has Rope and Harness Experience:</td>
                    <td bgcolor="#EAEAEA">
                        @(Model.user.ServiceProviderDetail.HasRopeAndHarnessExp == true ? "Yes": "No")
                    </td>
                </tr>
                <tr>
                    <td>Has Rope and Harness Equipment:</td>
                    <td>

                        @(Model.user.ServiceProviderDetail.HasRopeHarnessEquip == true ? "Yes": "No")
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">Willing to accept assignments for our Roof Assist Program:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                        @(Model.user.ServiceProviderDetail.HasRoofAssistProgram == true ? "Yes": "No")
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                @*<tr>
                    <td class="borderBottomLightGray" colspan="2"><strong>Auto Liability Insurance Information</strong></td>
                    
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Auto Liabilty Carrier:</td>
                    <td bgcolor="#EAEAEA">@Model.user.ServiceProviderDetail.AutoCarrier</td>
                </tr>
                <tr>
                    <td>Limits:</td>
                    <td>@Model.user.ServiceProviderDetail.AutoLimit</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Policy number:</td>
                    <td bgcolor="#EAEAEA">@Model.user.ServiceProviderDetail.AutoPolicyNumber</td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray">Date of Expiration:</td>
                    <td class="borderBottomLightGray">
                        @{
                            string autodate = "";
                            if (Model.user.ServiceProviderDetail.AutoExpiry != null)
                            {

                                autodate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.AutoExpiry.Value);
                            }
                        }
                        @autodate</td>
                </tr>*@
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
