﻿@model BLL.ViewModels.ServiceProviderSearchViewModel
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dhtmlxslider.css")" />

<link href="@Url.Content("~/Content/JQueryUI/jquery-ui-1.8.23.custom.css")" rel="stylesheet" />
@*<script src="@Url.Content("~/Scripts/JqueryUI/jquery-1.8.0.min.js")"></script>*@
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.23.custom.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<style>
    .multiselect {
        width: 200px;
    }
     .multiselectCertificate {
        width: 300px;
    }
    .selectBox {
        position: relative;
    }
        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }
    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 50px;
        overflow-y: scroll;
        position: absolute;
    }
        #checkboxes label {
            display: block;
        }
            #checkboxes label:hover {
                background-color: #1e90ff;
            }
    #OtherLanguagescheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 142px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }
        #OtherLanguagescheckboxes label {
            display: block;
        }
            #OtherLanguagescheckboxes label:hover {
                background-color: #1e90ff;
            }
              #CompanyCertificationcheckboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 300px;
        height: 142px;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
    }
        #CompanyCertificationcheckboxes label {
            display: block;
        }
            #CompanyCertificationcheckboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
    $(function () {
        $("#sliderRank").slider({
            value: "@Model.Rank",
            min: 0,
            max: 5,
            step: 1,
            slide: function (event, ui) {
                $("#txtSliderRank").val(ui.value);
            }
        });
        $("#txtSliderRank").val($("#sliderRank").slider("value"));
    });

    $(function () {
        $("#sliderExpYears").slider({
            value: "@Model.ExperienceYears",
            min: 0,
            max: 50,
            step: 1,
            slide: function (event, ui) {
                $("#txtExpYears").val(ui.value);
            }
        });
        $("#txtExpYears").val($("#sliderExpYears").slider("value"));
    });
    $(function () {
        $("#sliderDistMiles").slider({
            value: "@Model.Distance",
            min: 0,
            max: 500,
            step: 10,
            slide: function (event, ui) {
                $("#txtLocDistMiles").val(ui.value);
            }
        });
        $("#txtLocDistMiles").val($("#sliderDistMiles").slider("value"));
    });
    $(function () {
        $("#sliderFloodExp").slider({
            value: "@Model.FloodExperienceYears",
            min: 0,
            max: 50,
            step: 1,
            slide: function (event, ui) {
                $("#txtFloodExp").val(ui.value);
            }
        });
        $("#txtFloodExp").val($("#sliderFloodExp").slider("value"));
    });
    function populateZipData() {

        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
    { ZipCode: $("#txtZip").val() },
    function (data) {
        if (data != -1) {
            $("#ddlLocState").val(data.State);
            $("#txtLocCity").val(data.City);
        }

    });
    }
    //$(function () {
    //    $("#txtZip").mask('99999-9999');
    //});

    function showTab(tab) {
        element = document.getElementById("divCompany");
        element.style.display = "none";
        element = document.getElementById("divLocation");
        element.style.display = "none";
        element = document.getElementById("divCertifications");
        element.style.display = "none";

        tabBorderStyle = "1px solid LightGrey";
        document.getElementById("tdTabCompany").style.borderLeft = "";
        document.getElementById("tdTabCompany").style.borderTop = "";
        document.getElementById("tdTabCompany").style.borderRight = "";
        document.getElementById("tdTabCompany").style.borderBottom = tabBorderStyle;

        document.getElementById("tdTabLocation").style.borderLeft = "";
        document.getElementById("tdTabLocation").style.borderTop = "";
        document.getElementById("tdTabLocation").style.borderRight = "";
        document.getElementById("tdTabLocation").style.borderBottom = tabBorderStyle;

        document.getElementById("tdTabCertifications").style.borderLeft = "";
        document.getElementById("tdTabCertifications").style.borderTop = "";
        document.getElementById("tdTabCertifications").style.borderRight = "";
        document.getElementById("tdTabCertifications").style.borderBottom = tabBorderStyle;

        if (tab == "divCompany") {
            document.getElementById("divCompany").style.display = "inline";
            //tab appearance

            document.getElementById("tdTabCompany").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabCompany").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabCompany").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabCompany").style.borderBottom = "";


        }
        else if (tab == "divLocation") {
            document.getElementById("divLocation").style.display = "inline";


            document.getElementById("tdTabLocation").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabLocation").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabLocation").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabLocation").style.borderBottom = "";


        }
        else if (tab == "divCertifications") {
            document.getElementById("divCertifications").style.display = "inline";

            document.getElementById("tdTabCertifications").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabCertifications").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabCertifications").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabCertifications").style.borderBottom = "";

        }
    }
    $(function () { $("#MobilePhone").mask("(999) 999-9999"); });
    $(function () {
        //$("#chkContractSigned,#chkW9Signed").change(function () {

        //    if ($("#chkContractSigned,#chkW9Signed").is(':checked'))
        //    {
        //        $('#chkIgnoreSigned').prop("checked",false)
        //    }
           
        //});
        $("#chkIgnoreSigned").change(function () {

           
            if ($("#chkIgnoreSigned").is(':checked')) {
                $('#chkContractSigned').prop("disabled", true)
                $('#chkW9Signed').prop("disabled", true)
            }
            else {
                $('#chkContractSigned').prop("disabled", false)
                $('#chkW9Signed').prop("disabled", false)
            }
        });
        if ($("#chkIgnoreSigned").is(':checked')) {
            $('#chkContractSigned').prop("disabled", true)
            $('#chkW9Signed').prop("disabled", true)
        }
        else {
            $('#chkContractSigned').prop("disabled", false)
            $('#chkW9Signed').prop("disabled", false)
        }
    });


    $(function () {
        $("#chkIgnoreAcceptingClaims").change(function () {
            if ($("#chkIgnoreAcceptingClaims").is(':checked')) {
                $('input[name = AcceptingClaims]').attr("disabled", true)
            }
            else {
                $('input[name = AcceptingClaims]').attr("disabled", false)
                var value = $("input[name='AcceptingClaims']:checked").val();

                if (typeof value === "undefined") {
                    $('input[name = AcceptingClaims][value=No]').prop('checked', true);
                }
            }
        });

        if ($("#chkIgnoreAcceptingClaims").is(':checked')) {
            $('input[name = AcceptingClaims]').attr("disabled", true)
        }
        else {
            $('input[name = AcceptingClaims]').attr("disabled", false)
            var value = $("input[name='AcceptingClaims']:checked").val();

            if (typeof value === "undefined") {
                $('input[name = AcceptingClaims][value=No]').prop('checked', true);
            }
        }
    });

    
    function IsDeployedZip(element) {
        $('#DeployedZip').val('');
        if (element.checked) {
            $('#DeployedZip').css('display', 'block');
        }
        else {
            $('#DeployedZip').css('display', 'none');
        }
    }


</script>
<script>
    $(document).ready(function () {
        debugger;
        fillOtherLanguages();
        fillCompanyCertification();
    });
    var expanded = false;
    function showOtherLanguagesCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("OtherLanguagescheckboxes");
        if (!expanded) {
            checkboxes.style.display = "inline-grid";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
    var expandcompanyCertificate = false;
    function showCompanyCertificationCheckboxes() {
        debugger;
        var checkboxes = document.getElementById("CompanyCertificationcheckboxes");
        if (!expandcompanyCertificate) {
            checkboxes.style.display = "inline-grid";
            expandcompanyCertificate = true;
        } else {
            checkboxes.style.display = "none";
            expandcompanyCertificate = false;
        }
    }
    function selectallOtherLanguages() {
        debugger;
        if ($('#selectOtherLanguagesid').prop('checked')) {
            $('input[name=cbOtherLanguagesList]').each(function (i, selected) {
                $(selected).prop("checked", true);
          });
        }
        else {
            $('input[name=cbOtherLanguagesList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedOtherLanguagesIds();
    }
    function fillOtherLanguages() {
        debugger;
        $("#OtherLanguagescheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        //item.push("<label for='selectidlable'><input type='checkbox' name='selectallFileStatuslist' id='selectFileStatusid' value='selectallFileStatus' onchange='selectallFileStatus()'>Select all</label>");
      @for (int i = 1; i < Model.OtherLanguagesList.Count; i++)
        {
          Model.OtherLanguagesList[i].Text = Model.OtherLanguagesList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.OtherLanguagesList[i].Text';
            @:val = '@Model.OtherLanguagesList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbOtherLanguagesList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedOtherLanguagesIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
      }
    //$('#FileStatuscheckboxes').height('auto');
        $("#OtherLanguagescheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedOtherLanguages").val();
    debugger;
    if ($("#SelectedOtherLanguages").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#OtherLanguagescheckboxes label");
            $.each($("#OtherLanguagescheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#OtherLanguagescheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedOtherLanguagesIds();
    }
    function getSelectedOtherLanguagesIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbOtherLanguagesList]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxesText += $(selected.parentElement).text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            }
        });
        //Select upto 5 assignment status
        //$('input[type=checkbox]').on('change', function (e) {
        //    if ($('input[name=cbOtherLanguagesList]:checked').length > 5) {
        //        $(this).prop('checked', false);
        //        alert("Allowed to select only 5 Status.");
        //    }
        //});
        if (selectedCheckBoxesValue == '') {
            $('#selectOtherLanguages').children('option[name="OtherLanguagesList"]').text("--Select--");
        }
        else {
            $('#selectOtherLanguages').children('option[name="OtherLanguagesList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedOtherLanguages").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
    function fillCompanyCertification() {
        debugger;
        $("#CompanyCertificationcheckboxes").empty();
        var item = [];
        var txt = '';
        var val = '';
        var lbl= '';
        item.push("<label for='0'><input type='checkbox' name='cbCompanyCertificationList' id='selectallCompanyCertificateID' value='0' onchange='selectallCompanyCertificate()'>Select All</label>");
     @for (int i = 1; i < Model.CompanyCertificationList.Count; i++)
        {
         Model.CompanyCertificationList[i].Text = Model.CompanyCertificationList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.CompanyCertificationList[i].Text';
            @:val = '@Model.CompanyCertificationList[i].Value';
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbCompanyCertificationList' id=chk_" + txt + " value='" + val + "' onchange='getSelectedCompanyCertificationIds()'>" + txt + "</label>";
            @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
     }
    //$('#FileStatuscheckboxes').height('auto');
        $("#CompanyCertificationcheckboxes").html(item.join(' '));
    var val = '';
    var cNames = $("#SelectedCompanyCertification").val();
    debugger;
    if ($("#SelectedCompanyCertification").val() != "")
    {
        if (cNames.indexOf(",") > 0) {
            var cNameArray = cNames.split(",");
            var labels = $("#CompanyCertificationcheckboxes label");
            $.each($("#CompanyCertificationcheckboxes label"), function () {
                val = $(this).children("input");
                $.each(cNameArray, function () {
                    if (val[0].value == this) {
                        val[0].checked = true;
                    }
                });
            });
        }
        else {
            var labels = $("#CompanyCertificationcheckboxes label");
            $.each(labels, function () {
                val = $(this).children("input");
                if (val[0].value == cNames) {
                    val[0].checked = true;
                }
            });
        }
    }
    getSelectedCompanyCertificationIds();
    }
    function getSelectedCompanyCertificationIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxesText = '';
        $('input[name=cbCompanyCertificationList]:checked').each(function (i, selected) {
            //if (selectedCheckBoxesValue.length == 0) {
            //    selectedCheckBoxesValue += $(selected).val();
            //    selectedCheckBoxesText += $(selected.parentElement).text();
            //}
            //else  {
            //    selectedCheckBoxesValue += ',' + $(selected).val();
            //    selectedCheckBoxesText += ',' + $(selected.parentElement).text();
            //}
            if (selectedCheckBoxesValue.length == 0) {
                if ($(selected).val() != 0) {
                    selectedCheckBoxesText += $(selected.parentElement).text();
                }
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                if (selectedCheckBoxesValue.length == 1 && selectedCheckBoxesValue.includes("0")) {
                    selectedCheckBoxesValue += ',' + $(selected).val();
                    selectedCheckBoxesText += $(selected.parentElement).text();
                }
                else {
                    selectedCheckBoxesValue += ',' + $(selected).val();
                    selectedCheckBoxesText += ',' + $(selected.parentElement).text();
                }
            }
        });
        //Select upto 5 assignment status
        //$('input[type=checkbox]').on('change', function (e) {
        //    if ($('input[name=cbCompanyCertificationList]:checked').length > 5) {
        //        $(this).prop('checked', false);
        //        alert("Allowed to select only 5 Status.");
        //    }
        //});
        if (selectedCheckBoxesValue == '') {
            $('#selectCompanyCertification').children('option[name="CompanyCertificationList"]').text("--Select--");
        }
        else {
            $('#selectCompanyCertification').children('option[name="CompanyCertificationList"]').text(selectedCheckBoxesText);
        }
        $("#SelectedCompanyCertification").val(selectedCheckBoxesValue);
        return selectedCheckBoxesValue;
    }
    function selectallCompanyCertificate() {
        debugger;
        if ($('#selectallCompanyCertificateID').prop('checked')) {
            $('input[name=cbCompanyCertificationList]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbCompanyCertificationList]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }
        getSelectedCompanyCertificationIds();
    }
</script>
<table width="100%">
    <tr>
        <td nowrap="nowrap">
            <table cellpadding="3" cellspacing="0" width="100%">
                <tr>
                    <td width="50" style="border-bottom: 1px solid; border-color: LightGrey;"></td>
                    <td id="tdTabCompany" style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('divCompany')">Company</a>&nbsp;&nbsp; </td>
                    <td id="tdTabLocation" style="border-bottom: 1px solid; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('divLocation')">Location</a>&nbsp;&nbsp; </td>
                    <td id="tdTabCertifications" style="border-bottom: 1px solid; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('divCertifications')">Certifications</a>&nbsp;&nbsp;</td>
                    <td width="100%" style="border-bottom: 1px solid; border-color: LightGrey;"></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            <div id="divCompany">
                <table width="100%">
                    <tr>
                        <td nowrap="nowrap" valign="top">Status:</td>
                        <td valign="top" nowrap="nowrap">
                            @Html.RadioButtonFor(model => model.Status, "Inactive")Inactive
                            @Html.RadioButtonFor(model => model.Status, "Active")Active
                            @Html.RadioButtonFor(model => model.Status, "All")All
                        </td>
                        <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                        <td nowrap="nowrap" valign="top">Rank:</td>
                        <td width="100%" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>@Html.TextBoxFor(model => model.Rank, new { style = "width:25px", id = "txtSliderRank" })</td>
                                    <td width="100%" style="padding-left: 10px;">
                                        <div id="sliderRank" style="width: 200px;"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">User Name: </td>
                        <td valign="top">
                            @Html.TextBoxFor(model => model.UserName)
                        </td>
                        <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                        <td nowrap="nowrap" valign="top">Years of Experience: </td>
                        <td width="100%" valign="top">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding-right: 5px;">
                                        @Html.DropDownListFor(model => model.ExperienceClaimTypeId, new SelectList(Model.ExperienceClaimTypeList, "Value", "Text"))
                                    </td>
                                    <td width="25">
                                        @Html.TextBoxFor(model => model.ExperienceYears, new { style = "width:25px", id = "txtExpYears" })

                                    </td>

                                    <td width="100%" style="padding-left: 10px;">
                                        <div id="sliderExpYears" style="width: 200px;"></div>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">Contact Name: </td>
                        <td valign="top">
                            @Html.TextBoxFor(model => model.ContactName)
                        </td>
                        <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                        <td nowrap="nowrap" valign="top">Email Address: </td>
                        <td width="100%" valign="top">
                            @Html.TextBoxFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" valign="top">LLC/Corp./Partnership Name: </td>
                        <td valign="top">
                            @Html.TextBoxFor(model => model.DBA_LLC_Firm_Corp)
                        </td>
                        <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                        <td nowrap="nowrap" valign="top">Mobile Phone:</td>
                        <td width="100%" valign="top">
                            @Html.TextBoxFor(model => model.MobilePhone)
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td>
                            <table widht="100%">
                                <tr>
                                    <td nowrap="nowrap">Bi-Lingual:</td>
                                    <td>@Html.CheckBoxFor(model => model.IsBilingual) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Rope and Harness Experience?</td>
                                    <td>@Html.CheckBoxFor(model => model.HasRopeHarnessExp) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Rope and Harness Equipment?</td>
                                    <td>@Html.CheckBoxFor(model => model.HasRopeHarnessEquip) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Is Accepting Roof Assist Program:</td>
                                    <td>@Html.CheckBoxFor(model => model.HasRoofAssistProgram) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">QA Review Rights?</td>
                                    <td>@Html.CheckBoxFor(model => model.HasExaminerRights) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Is Deployed?</td>
                                    @*<td>@Html.CheckBoxFor(model => model.HasDeployed, new { onchange = "IsDeployedZip(this)" }) </td>
                                        <td nowrap="nowrap" colspan="3">
                                            <div style="width:115px;height:20px;">
                                                @Html.TextBoxFor(model => model.DeployedZip, null, new { style = "display:" + (Model.HasDeployed ? "block" : "none") + "; width:100%;", id = "DeployedZip", title="Deployed Zip" })
                                            </div>

                                        </td>*@
                                    <td>@Html.CheckBoxFor(model => model.HasDeployed) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Commercial Experience</td>
                                    <td>@Html.CheckBoxFor(model => model.HasCommercialClaims) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Passport</td>
                                    <td>@Html.CheckBoxFor(model => model.HasPassport) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Working as an Inside Examiner :</td>
                                    <td>@Html.CheckBoxFor(model => model.InsideExaminer) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Comfortable Climbing Roofs :</td>
                                    <td>@Html.CheckBoxFor(model => model.ClimbingRoofs) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Resume :</td>
                                    <td>@Html.CheckBoxFor(model => model.HasResume) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Accepting Claims?</td>
                                    <td nowrap="nowrap" width="10">@Html.RadioButtonFor(model => model.AcceptingClaims, "Yes", new { @id = "AcceptingClaimsYes", @name = "AcceptingClaims" })</td>
                                    <td nowrap="nowrap">Yes&nbsp;&nbsp;</td>
                                    <td width="10">@Html.RadioButtonFor(model => model.AcceptingClaims, "No", new { @id = "AcceptingClaimsNo", @name = "AcceptingClaims" })</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" style="vertical-align:top">
                                      Other Languages:
                                    </td>
                                      <td nowrap="nowrap" colspan="5">
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="showOtherLanguagesCheckboxes()">
                                            <select id="selectOtherLanguages">
                                                <option name="OtherLanguagesList">--Select--</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="OtherLanguagescheckboxes">
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.SelectedOtherLanguages)
                                </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" style="vertical-align:top">
                                        Service Role Types:
                                    </td>
                                    <td nowrap="nowrap" colspan="4">
                                        @foreach (var serviceProviderRole in Model.ServiceProviderRolesList)
                                        {
                                            <input type="checkbox" name="ServiceProviderRoles" @(Model.ServiceProviderRoles.Contains(serviceProviderRole.Value) ? "checked=\"checked\"" : "") value="@serviceProviderRole.Value" />
                                            @serviceProviderRole.Text <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td nowrap="nowrap">Xact Product Key Code:</td>
                                    <td nowrap="nowrap">
                                     @Html.TextBoxFor(model => model.ProductKeyCode, new { style = "width:100px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Software Used:</td>
                                    <td nowrap="nowrap">
                                        @foreach (var experience in Model.SoftwareExperienceList)
                                        {
                                            <input type="checkbox" name="SoftwareUsed" @(Model.SoftwareUsed.Contains(experience.Value) ? "checked=\"checked\"" : "") value="@experience.Value" />
                                            @experience.Text
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Capability to climb steep:</td>
                                    <td nowrap="nowrap">
                                        @foreach (var Capability in Model.CapabilityToClimbSteepList)
                                        {
                                            <input type="radio" name="CapabilityToClimbSteep" @(Model.CapabilityToClimbSteep.Contains(Capability.Value) ? "checked=\"checked\"" : "") value="@Capability.Value" />
                                            @Capability.Text
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Capable to climb:</td>
                                    <td nowrap="nowrap">
                                        @foreach (var Capability in Model.CapabilityToClimbList)
                                        {
                                            <input type="radio" name="CapabilityToClimb" @(Model.CapabilityToClimb.Contains(Capability.Value) ? "checked=\"checked\"" : "") value="@Capability.Value" />
                                            @Capability.Text
                                        }
                                    </td>
                                </tr>
                                @*<tr>
                                        <td nowrap="nowrap">Has W9 Signed?</td>
                                        <td>
                                            @Html.CheckBoxFor(model => model.HasW9Signed, new { id = "chkW9Signed" })
                                            &nbsp;&nbsp;Ignore Signed: &nbsp;&nbsp; @Html.CheckBoxFor(model => model.HasIgnoreSigned, new { id = "chkIgnoreSigned" })
                                        </td>
                                        <td nowrap="nowrap" width="20">&nbsp;</td>
                                        <td nowrap="nowrap">&nbsp;</td>
                                        <td width="100%">&nbsp;</td>

                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap">Has Contract Signed?</td>
                                        <td>@Html.CheckBoxFor(model => model.HasContractSigned, new { id="chkContractSigned"}) </td>
                                        <td nowrap="nowrap" width="20">&nbsp;</td>
                                        <td nowrap="nowrap">&nbsp;</td>
                                        <td width="100%">&nbsp;</td>
                                        </tr>*@
                                @*<tr>
                                    <td nowrap="nowrap">Original css contract:</td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.ContractSignedOption, "1", new { @name = "ContractSigned" }) &nbsp;
                                        Signed &nbsp;

                                        @Html.RadioButtonFor(model => model.ContractSignedOption, "2", new { @name = "ContractSigned" })&nbsp;
                                        Not Signed&nbsp;

                                        @Html.RadioButtonFor(model => model.ContractSignedOption, "3", new { @name = "ContractSigned" })&nbsp;
                                        Ignore&nbsp;
                                    </td>
                                </tr>*@
                                <tr>
                                    <td nowrap="nowrap">W2 Contract Signed in Vista Status:</td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.W2SignedOption, "1", new { @name = "W2Signed" }) &nbsp;
                                        Signed &nbsp;

                                        @Html.RadioButtonFor(model => model.W2SignedOption, "2", new { @name = "W2Signed" })&nbsp;
                                        Not Signed&nbsp;

                                        @Html.RadioButtonFor(model => model.W2SignedOption, "3", new { @name = "W2Signed" })&nbsp;
                                        Ignore&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">W2 Contract Signed Outside Vista Status:</td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.W2SignedOutsideOption, "1", new { @name = "W2SignedOutside" }) &nbsp;
                                        Signed &nbsp;
                                        @Html.RadioButtonFor(model => model.W2SignedOutsideOption, "2", new { @name = "W2SignedOutside" })&nbsp;
                                        Not Signed&nbsp;
                                        @Html.RadioButtonFor(model => model.W2SignedOutsideOption, "3", new { @name = "W2SignedOutside" })&nbsp;
                                        Ignore&nbsp;
                                    </td>
                                </tr>
                                <tr> 
                                    <td nowrap="nowrap">W2 Contract Signed Date:</td>
                                    <td>
                                        From: @Html.TextBoxFor(model => model.W2ContractDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                        To: @Html.TextBoxFor(model => model.W2ContractDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">1099 Contract Signed in Vista Status:</td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.Contract2020SignedOption, "1", new { @name = "Contract2020Signed" }) &nbsp;
                                        Signed &nbsp;

                                        @Html.RadioButtonFor(model => model.Contract2020SignedOption, "2", new { @name = "Contract2020Signed" })&nbsp;
                                        Not Signed&nbsp;

                                        @Html.RadioButtonFor(model => model.Contract2020SignedOption, "3", new { @name = "Contract2020Signed" })&nbsp;
                                        Ignore&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">1099 Contract Signed Outside Vista Status:</td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.Signed1099OutsideOption, "1", new { @name = "Signed1099Outside" }) &nbsp;
                                        Signed &nbsp;
                                        @Html.RadioButtonFor(model => model.Signed1099OutsideOption, "2", new { @name = "Signed1099Outside" })&nbsp;
                                        Not Signed&nbsp;
                                        @Html.RadioButtonFor(model => model.Signed1099OutsideOption, "3", new { @name = "Signed1099Outside" })&nbsp;
                                        Ignore&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">1099 Contract Signed Date:</td>
                                    <td>
                                        From: @Html.TextBoxFor(model => model.Contract2020DateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                        To: @Html.TextBoxFor(model => model.Contract2020DateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })


                                    </td>
                                </tr>
                                <tr>
                                    <td>Registered Date:</td>
                                    <td>
                                        From: @Html.TextBoxFor(model => model.RegisteredDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                        To: @Html.TextBoxFor(model => model.RegisteredDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })


                                    </td>
                                </tr>

                                <tr>
                                    <td>Approved Date:</td>
                                    <td>
                                        From: @Html.TextBoxFor(model => model.ApprovedDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                        To: @Html.TextBoxFor(model => model.ApprovedDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })


                                    </td>
                                </tr>

                                <tr>
                                    <td nowrap="nowrap" colspan="2">
                                        <input type="text" name="inputbox" style="display: none;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Export All Current SP Data to Excel ?
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.ExportAllSPData, new { @id = "chkAllSPData", @name = "chkAllSPData" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ignore Accepting Claims:
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.HasIgnoreAcceptingClaims, new { id = "chkIgnoreAcceptingClaims" })
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        Ready to Process Background Check :
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.ApplicantReadyToBackgroundCheck, new { id = "chkApplicantReadyToBackgroundCheck" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Passed Background Check :
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.HasApplicantPassedBackgroundCheck, new { id = "chkHasApplicantPassedBackgroundCheck" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Completed Drug Test:
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.HasApplicantCompletedDrugCheck, new { id = "chkHasApplicantCompletedDrugCheck" })
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Background Check Completed Date:</td>
                                    <td>
                                        From: @Html.TextBoxFor(model => model.BackgroundCheckDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                        To: @Html.TextBoxFor(model => model.BackgroundCheckDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Drug Test Completed Date:</td>
                                    <td>
                                        From: @Html.TextBoxFor(model => model.DrugTestDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                        To: @Html.TextBoxFor(model => model.DrugTestDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                    </td>
                                </tr>
                                <tr>
                                <td nowrap="nowrap">TaxFiling Type:</td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.TaxFilingType, 2) N/A
                                        @Html.RadioButtonFor(model => model.TaxFilingType, 0)1099
                                        @Html.RadioButtonFor(model => model.TaxFilingType, 1)Commisson-Based W2
                                    </td>
                                    </tr>
                                <tr>
                                    <td nowrap="nowrap">Assignment Type:</td>
                                    <td>
                                        <input id="rbtnAdjuster0" type="radio" name="AdjusterType" value="0" checked="@(Model.AdjusterType == 0 ? true : false)" />N/A&nbsp;
                                        <input id="rbtnAdjuster1" type="radio" name="AdjusterType" value="1" checked="@(Model.AdjusterType == 1 ? true : false)" />CAT&nbsp;
                                        <input id="rbtnAdjuster2" type="radio" name="AdjusterType" value="2" checked="@(Model.AdjusterType == 2 ? true : false)" />Daily&nbsp;
                                        <input id="rbtnAdjuster3" type="radio" name="AdjusterType" value="3" checked="@(Model.AdjusterType == 3 ? true : false)" />Both&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Adjuster Paycom ID:</td>
                                    <td nowrap="nowrap">
                                        @Html.TextBoxFor(model => model.PayComID, new { style = "width:100px;" })
                                    </td>
                                    </tr>
                            </table>
                        </td>
                    </tr>
                </table>



            </div>
            <div id="divLocation" style="display: none;">
                <table width="100%">
                    <tr>
                        <td nowrap="nowrap">Zip:</td>
                        <td>
                            @Html.TextBoxFor(model => model.Zip, new { onblur = "populateZipData()", id = "txtZip" })
                        </td>
                        <td nowrap="nowrap" width="20">&nbsp;</td>
                        <td nowrap="nowrap">Distance in Miles:</td>
                        <td width="100%">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="25">
                                        @Html.TextBoxFor(model => model.Distance, new { style = "width:25px", id = "txtLocDistMiles" })

                                    </td>
                                    <td width="100%" style="padding-left: 10px;">
                                        <div id="sliderDistMiles" style="width: 200px;"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">State:</td>
                        <td>
                            <select id="ddlLocState" name="State" style="width: 150px;">
                                @foreach (var state in Model.StateList)
                                {
                                    <option value="@state.Value" @(Model.State == state.Value ? "selected=\"selected\"" : "")>@state.Text</option>
                                }
                            </select>
                        </td>
                        <td nowrap="nowrap" width="20">&nbsp;</td>
                        <td nowrap="nowrap"></td>
                        <td width="100%"></td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">City:</td>
                        <td>
                            @Html.TextBoxFor(model => model.City, new { id = "txtLocCity" })
                        </td>

                        <td nowrap="nowrap" width="20">&nbsp;</td>
                        <td nowrap="nowrap">&nbsp;</td>
                        <td width="100%">&nbsp;</td>
                    </tr>

                    <tr>
                        <td nowrap="nowrap">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td nowrap="nowrap" width="20">&nbsp;</td>
                        <td nowrap="nowrap">&nbsp;</td>
                        <td width="100%">&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div id="divCertifications" style="display: none;">
                <table class="style1" style="width:100%">
                    <tr>
                        <td width="10">

                            @Html.CheckBoxFor(model => model.EQCertified)
                        </td>
                        <td>Earthquake Certified</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            @Html.CheckBoxFor(model => model.HasLicense)
                        </td>
                        <td>Search By License:</td>
                        <td>
                            @Html.DropDownListFor(model => model.LicenseState, new SelectList(Model.StateList, "Value", "Text"), new { style = "width:150px;" })
                            From: @Html.TextBoxFor(model => model.LicenseStateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                            To: @Html.TextBoxFor(model => model.LicenseStateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                        </td>
                         <td>
                                    Company Certifications:
                                </td>
                                @*<td>&nbsp;</td>*@
                                <td>
                                    <div class="multiselectCertificate">
                                        <div class="selectBox" onclick="showCompanyCertificationCheckboxes()">
                                            <select id="selectCompanyCertification">
                                                <option name="CompanyCertificationList">--Select--</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="CompanyCertificationcheckboxes">
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.SelectedCompanyCertification)
                                </td>
                        @*<td width="10"></td>
                        <td width="10"></td>
                        <td width="10"></td>
                        <td></td>*@
                    </tr>
                    </table>
                    <table class="style1">
                    <tr>
                        <td width="10">
                            @Html.CheckBoxFor(model => model.HAAGCertified)
                        </td>
                        <td>HAAG Certified</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="10">
                            @Html.CheckBoxFor(model => model.IsFloodCertified)
                        </td>
                            <td>NFIP Certified</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        <td>@Html.DropDownListFor(model => model.FloodClaimTypeID, new SelectList(Model.FloodClaimTypeList, "Value", "Text"), new { style = "width:150px;" })</td>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap">Years Of Experience: </td>
                                    <td width="25">
                                        @Html.TextBoxFor(model => model.FloodExperienceYears, new { style = "width:25px", id = "txtFloodExp" })

                                    </td>
                                    <td width="100%" style="padding-left: 10px;">
                                        <div id="sliderFloodExp" style="width: 200px;"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="10">
                            @Html.CheckBoxFor(model => model.EOHasInsurance)
                        </td>
                        <td>Carry E&amp;O Insurance</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                    </tr>
                        </table>
                        @*<table class="style1">
                    <tr>
                                <td width="10"></td>
                              <td>
                                    Company Certifications:
                        </td>
                                <td style="padding-left:10px">
                                    <div class="multiselectCertificate">
                                        <div class="selectBox" onclick="showCompanyCertificationCheckboxes()">
                                            <select id="selectCompanyCertification">
                                                <option name="CompanyCertificationList">--Select--</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="CompanyCertificationcheckboxes">
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.SelectedCompanyCertification)

                        </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                    </tr>
                            </table>*@
            </div>
            
        </td>
    </tr>
</table>




