﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@using System.Configuration
@using CSS
    @{ 
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
        string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
    }
<style type="text/css">
    #inPagePopupBG {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6 New*/
        /*width: 700px;*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }
</style>
<script>
    $(document).ready(function () {
        debugger;
        var ModelVocationalLicenseEverRevoked = '@Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked';
        if (ModelVocationalLicenseEverRevoked != 'True') {
            Radio_Click(true, 'txtVocationalLicenseEverRevokedDetails', false);
        }

        var ModelEQCertified = '@Model.user.ServiceProviderDetail.EQCertified';
        if (ModelEQCertified != 'True') {
            Radio_ClickDoubleDate(true, 'txtEQExpirationDate', 'txtEQCertificationNumber');
        }

        var ModelHAAGCertified = '@Model.user.ServiceProviderDetail.HAAGCertified';
        if (ModelHAAGCertified != 'True') {
            Radio_ClickDoubleDate(true, 'txtHAAGExpirationDate', 'txtHAAGCertificationNumber');

        }

        var ModelWasCompanyEverSuspended = '@Model.user.ServiceProviderDetail.WasCompanyEverSuspended';
        if (ModelWasCompanyEverSuspended != 'True') {
            Radio_ClickDoubleDate(true, 'txtHAAGExpirationDate', 'txtHAAGCertificationNumber');
        }

        var ModelHasCommercialClaims = '@Model.user.ServiceProviderDetail.HasCommercialClaims';
        if (ModelHasCommercialClaims != 'True') {
            Radio_Click(true, 'txtCommercialClaims');
        }
    });
</script>
<div id="inPagePopupBG" onclick="disableInPagePopup();"></div>
<table>
    <tr>
        <td>&nbsp;
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="2" valign="top"><a id="a_SPLicenses" name="a_SPLicenses"></a>List any professional, occupational, and vocational licenses (Adjuster License) issued by any public
            or governmental licensing agency or regulatory authority which you presently hold.
             &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
            <table>
                <tr>
                    <td>
                        <table id="tblLicensesList">
                            <tr>
                                <td></td>
                                <td width="150"><b>Type (Editable)</b>
                                </td>
                                <td width="150"><b>State</b>
                                    <div style="display: none;">
                                        <select id="ddlStateListReplica" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td width="150"><b>License Number</b>
                                </td>
                                <td width="150"><b>Expiration Date</b>
                                </td>
                                @* <td width="150"><b>Issuer</b>
                                </td>*@
                                <td>
                                    <div style="display: none;">
                                        <img id="imgLicensesDeleteRowReplica" onclick="deleteLicenses('tblLicensesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderLicenses.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td>

                                        <input name="user.ServiceProviderLicenses[0].Type" type="text" value="Adjuster License" />
                                    </td>
                                    <td>
                                        <select id="user.ServiceProviderLicenses[0].State" name="user.ServiceProviderLicenses[0].State" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </td>

                                    <td>
                                        <input name="user.ServiceProviderLicenses[0].LicenseNumber" type="text" />
                                    </td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderLicenses[0].ExpirationDate" class="DatePickerTextBox" type="text" />
                                    </td>
                                    @*<td>
                                        <input name="user.ServiceProviderLicenses[0].Issuer" type="text" />
                                    </td>*@
                                    <td>
                                        <img id="imgLicenseDeleteRow0" onclick="deleteLicenses('tblLicensesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderLicenses.Count; i++)
                                {
                                    BLL.ServiceProviderLicens license = Model.user.ServiceProviderLicenses.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="hidden" />
                                        <input name="@("user.ServiceProviderLicenses[" + i + "].SPLId")" type="hidden" value="@license.SPLId"/>
                                        <input  name="@("user.ServiceProviderLicenses[" + i + "].Type")" type="text" value="@license.Type" />
                                    </td>
                                    <td>
                                        <select id="@("user.ServiceProviderLicenses[" + i + "].State")" name="@("user.ServiceProviderLicenses[" + i + "].State")" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key" @(state.Key != license.State ? "" : "selected = selected")>@state.Value</option>
                                            }
                                        </select>
                                    </td>

                                    <td>
                                        <input name="@("user.ServiceProviderLicenses[" + i + "].LicenseNumber")" type="text" value="@license.LicenseNumber" />
                                    </td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderLicenses[" + i + "].ExpirationDate")" class="DatePickerTextBox" type="text" value="@(license.ExpirationDate.HasValue ? license.ExpirationDate.Value.ToString("MM/dd/yyyy") : "")" />
                                    </td>
                                        
                                    <td>
                                        <img id="@("imgLicenseDeleteRow" + i)" onclick="deleteLicenses('tblLicensesList')" style="@(i == Model.user.ServiceProviderLicenses.Count - 1 ? "display:inline;" : "display:none;")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />
                                        </td>
                                        <td>
                                            @if (license.IsDocUploaded.HasValue)
                                            {
                                                if (license.IsDocUploaded.Value)
                                                {
                                                    string absoluteFileName = license.UserId + "/" + ConfigurationManager.AppSettings["ServiceProviderLicenseDocsFolderName"].ToString() + "/" + license.FileName;
                                                    string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteFileName);
                                                    <a style="padding-right:5px;" href="@fileUrl" target="_blank">Download License</a>
                                                }
                                            }
                                    </td>
                                </tr>
                                }
                            }



                        </table>
                    </td>
                </tr>
                <tr>

                    <td align="right">
                        <b><a style="border: none; color: black; cursor: pointer; padding-right: 30px;" onclick="addLicenses('tblLicensesList')">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" onclick="addLicenses('tblLicensesList')" />
                            Add Row</a> &nbsp; 
                        </b>
                    </td>

                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="1" valign="top" style="width:30%;">Attach copies of licenses:
             &nbsp;
        </td>
        <td><a href="#" onclick="loadLicenseUploadPopup()">Upload License Documents</a></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">Have you ever been refused a vocational license or had a license revoked or suspended?
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
               
            <input id="rbVocLicBeenSuspendedYes" type="radio" name="user.ServiceProviderDetail.VocationalLicenseEverRevoked" value="true" 
        checked="@(Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked.HasValue ? Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked : false)"
                   onclick = "Radio_Click(false, 'txtVocationalLicenseEverRevokedDetails')"  />Yes
            <input id="rbVocLicBeenSuspendedNo" type="radio" name="user.ServiceProviderDetail.VocationalLicenseEverRevoked"  value="false"
       checked="@(Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked.HasValue ? !Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked : true)"
                   onclick = "Radio_Click(true, 'txtVocationalLicenseEverRevokedDetails')" />No&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">If yes, give details:
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" colspan="2" valign="top">
            <textarea rows="4" style="width: 700px;" id="txtVocationalLicenseEverRevokedDetails"  cols="20" name="user.ServiceProviderDetail.VocationalLicenseEverRevokedDetails">@Model.user.ServiceProviderDetail.VocationalLicenseEverRevokedDetails</textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td valign="top">Earthquake Certified?&nbsp;&nbsp;
            
        </td>
        <td>
            <input id="rbIsEQCertifiedYes" type="radio" name="user.ServiceProviderDetail.EQCertified" value="true" checked="@(Model.user.ServiceProviderDetail.EQCertified.HasValue ? Model.user.ServiceProviderDetail.EQCertified : false)" 
                   onclick = "Radio_ClickDoubleDate(false, 'txtEQExpirationDate' ,'txtEQCertificationNumber')"/>Yes
            <input id="rbIsEQCertifiedNo" type="radio" name="user.ServiceProviderDetail.EQCertified" value="false" checked="@(Model.user.ServiceProviderDetail.EQCertified.HasValue ? !Model.user.ServiceProviderDetail.EQCertified : true)"
                   onclick = "Radio_ClickDoubleDate(true, 'txtEQExpirationDate' ,'txtEQCertificationNumber')"/>No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td valign="top">Certification  Number 
            
            
        </td>
        <td>
            <input name="user.ServiceProviderDetail.EQCertificationNumber" id="txtEQCertificationNumber"  type="text" value="@Model.user.ServiceProviderDetail.EQCertificationNumber"  />

        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td valign="top">Expiration Date
            
            
        </td>
        <td>
            <input name="user.ServiceProviderDetail.EQExpirationDate" type="text"  id="txtEQExpirationDate" class="DatePickerTextBox"  value="@(Model.user.ServiceProviderDetail.EQExpirationDate.HasValue ? Model.user.ServiceProviderDetail.EQExpirationDate.Value.ToString("MM/dd/yyyy") : "")"
                 />

        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">Attach Copy of Earthquake Certificate:</td>
        <td>
            <iframe id="frameUploadEQ" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=4&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>HAAG certification?
           
        </td>
        <td>
            <input id="rbIsHAAGCertifiedYes" type="radio" name="user.ServiceProviderDetail.HAAGCertified" value="true" checked="@(Model.user.ServiceProviderDetail.HAAGCertified.HasValue ? Model.user.ServiceProviderDetail.HAAGCertified : false)" 
                   onclick = "Radio_ClickDoubleDate(false, 'txtHAAGExpirationDate', 'txtHAAGCertificationNumber')" />Yes
            <input id="rbIsHAAGCertifiedNo" type="radio" name="user.ServiceProviderDetail.HAAGCertified" value="false" checked="@(Model.user.ServiceProviderDetail.HAAGCertified.HasValue ? !Model.user.ServiceProviderDetail.HAAGCertified : true)"
                    onclick = "Radio_ClickDoubleDate(true, 'txtHAAGExpirationDate', 'txtHAAGCertificationNumber')"  />No
               
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Certification Number
           
        </td>
        <td>
            <input name="user.ServiceProviderDetail.HAAGCertificationNumber"  id="txtHAAGCertificationNumber" type="text" value="@Model.user.ServiceProviderDetail.HAAGCertificationNumber" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Expiration Date
           
        </td>
        <td>
            <input name="user.ServiceProviderDetail.HAAGExpirationDate" id="txtHAAGExpirationDate"  type="text" class="DatePickerTextBox"  value="@(Model.user.ServiceProviderDetail.HAAGExpirationDate.HasValue ? Model.user.ServiceProviderDetail.HAAGExpirationDate.Value.ToString("MM/dd/yyyy") : "")"
                 />
        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">Attach Copy of HAAG Certificate:</td>
        <td>
            <iframe id="frameUploadHAAG" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=5&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="2" valign="top">Has the certificate of authority or license to do business of any client
            of which you were an officer or director or key management person ever been suspended
            or revoked while you occupied such position? &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
            <input id="rbAnyLicSuspendedYes" type="radio" name="user.ServiceProviderDetail.WasCompanyEverSuspended" value="true" checked="@(Model.user.ServiceProviderDetail.WasCompanyEverSuspended.HasValue ? Model.user.ServiceProviderDetail.WasCompanyEverSuspended : false)"
                   onclick = "Radio_Click(false, 'txtCompanySuspendedDetails')" />Yes
            <input id="rbAnyLicSuspendedNo" type="radio" name="user.ServiceProviderDetail.WasCompanyEverSuspended" value="false" checked="@(Model.user.ServiceProviderDetail.WasCompanyEverSuspended.HasValue ? !Model.user.ServiceProviderDetail.WasCompanyEverSuspended : true)" 
                   onclick = "Radio_Click(true, 'txtCompanySuspendedDetails')"/>No&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">If yes, give details: &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" colspan="2" valign="top">
            <textarea rows="4" style="width: 700px;" cols="20"  id="txtCompanySuspendedDetails" name="user.ServiceProviderDetail.CompanySuspendedDetails">@Model.user.ServiceProviderDetail.CompanySuspendedDetails</textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2"><a id="a_SPProDesig" name="a_SPProDesig"></a>List all Professional Designations
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>
                        <table id="tblProfessionalDesig">
                            <tr>
                                <td></td>
                                <td width="150"><b>Date</b>
                                </td>
                                <td width="150"><b>Designations<br />
                                    (CPCU, AIC, RPA, etc.)</b>
                                </td>
                                @* <td width="220" nowrap="nowrap"><b>Company Certifications<br />(State Farm, Metlife, TWIA, etc.)</b>
                                </td>*@
                                <td>
                                    <div style="display: none;">
                                        <img id="imgProfDesigDeleteRowReplica" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderDesignations.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderDesignations[0].Date" class="DatePickerTextBox" type="text"
                                            style="width: 150px;" />
                                    </td>
                                    <td>
                                        <input name="user.ServiceProviderDesignations[0].Designation" type="text" />
                                    </td>
                                    @* <td>
                                        <input name="user.ServiceProviderDesignations[0].Certification" type="text" style="width:200px;" />
                                    </td>*@
                                    <td>
                                        <img id="imgProfDesigDeleteRow0" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderDesignations.Count; i++)
                                {
                                    BLL.ServiceProviderDesignation designation = Model.user.ServiceProviderDesignations.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].SPDId")" type="hidden" value="@designation.SPDId" />
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Date")" class="DatePickerTextBox" type="text"
                                            value="@(designation.Date.HasValue ? designation.Date.Value.ToString("MM/dd/yyyy") : "")" style="width: 150px;"  />
                                    </td>
                                    <td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Designation")" type="text" value="@designation.Designation" />
                                    </td>
                                    @*<td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Certification")" type="text" value="@designation.Certification" style="width:200px;" />
                                    </td>*@
                                    <td>

                                        <img id="@("imgProfDesigDeleteRow" + i)" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="@(i == (Model.user.ServiceProviderDesignations.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />

                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">



                        <b><a onclick="addProfDesig('tblProfessionalDesig')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
         

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">List Individual Company Certifications
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>
                        <table id="tblCompanyCertifications">
                            <tr>
                                <td></td>
                                <td width="150" nowrap="nowrap">
                                    <b>
                                        Company Certificate Title <br />
                                        @*(State Farm, Metlife, TWIA, etc.)*@
                                    </b>
                                    <div style="display: none;">
                                        <select id="ddlCertificationListReplica" style="width: 150px;">
                                            @foreach (var CompanyCertificationtype in Model.CompanyCertificationList)
                                            {
                                                <option value="@CompanyCertificationtype.Key">@CompanyCertificationtype.Value</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td width="180"><b>Date Originally Obtained </b>
                                </td>

                                <td width="180">
                                    <b>Expiration Date</b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgCompCertiDeleteRowReplica" onclick="deleteRowCompCerti('tblCompanyCertifications')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderCertifications.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td >
                                        @*<input name="user.ServiceProviderCertifications[0].Certification" type="text" style="width: 150px;" />*@
                                        <select id="user.ServiceProviderCertifications[0].Certification" name="user.ServiceProviderCertifications[0].Certification" style="width: 150px;">
                                            @foreach (var CompanyCertificationtype in Model.CompanyCertificationList)
                                            {
                                                <option value="@CompanyCertificationtype.Key">@CompanyCertificationtype.Value</option>
                                            }
                                        </select>
                                     </td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderCertifications[0].Date" class="DatePickerTextBox" type="text"
                                            style="width: 150px;" />
                                    </td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderCertifications[0].ExpirationDate" class="DatePickerTextBox" type="text"
                                               style="width: 150px;" />
                                    </td>
                                    <td>
                                        <img id="imgCompCertiDeleteRow0" onclick="deleteRowCompCerti('tblCompanyCertifications')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderCertifications.Count; i++)
                                {
                                    BLL.ServiceProviderCertification certification = Model.user.ServiceProviderCertifications.ElementAt(i);
                                    Model.SelectedCerificationIds = certification + ",";
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderCertifications[" + i + "].SPCId")" type="hidden" value="@certification.SPCId" />
                                        @*<input name="@("user.ServiceProviderCertifications[" + i + "].Certification")" type="text" value="@certification.Certification" style="width:150px;" />*@
                                        <select id="@("user.ServiceProviderCertifications[" + i + "].Certification")" name="@("user.ServiceProviderCertifications[" + i + "].Certification")" style="width: 150px;">
                                            @foreach (var CompanyCertificationtype in Model.CompanyCertificationList)
                                            {
                                                <option value="@CompanyCertificationtype.Key" @(CompanyCertificationtype.Key != certification.Certification ? "" : "selected = selected")>@CompanyCertificationtype.Value</option>
                                            }
                                        </select>
                                     </td>
                                    <td>
                                        <input name="@("user.ServiceProviderCertifications[" + i + "].Date")" class="DatePickerTextBox" type="text"
                                            value="@(certification.Date.HasValue ? certification.Date.Value.ToString("MM/dd/yyyy") : "")" style="width: 150px;"  />
                                    </td>

                                    <td>
                                        <input name="@("user.ServiceProviderCertifications[" + i + "].ExpirationDate")" class="DatePickerTextBox" type="text"
                                               value="@(certification.ExpirationDate.HasValue ? certification.ExpirationDate.Value.ToString("MM/dd/yyyy") : "")" style="width: 150px;" />
                                    </td>
                                    <td>

                                        <img id="@("imgCompCertiDeleteRow" + i)" onclick="deleteRowCompCerti('tblCompanyCertifications')" style="@(i == (Model.user.ServiceProviderCertifications.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />

                                    </td>
                                    <td>
                                        @if (loggedInUser != null)
                                        {
                                              if (certification.IsDocUploaded.HasValue)
                                            {
                                                if (certification.IsDocUploaded.Value)
                                                {
                                                    @*string absoluteFileName = certification.UserId + "/" + ConfigurationManager.AppSettings["ServiceProviderCertificationDocsFolderName"].ToString() + "/" + certification.DocFileName;
                                                    string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteFileName);
                                                  <a style="padding-right:5px;" href="@fileUrl" target="_blank">View Uploaded Cert</a>*@
                                                    <a href="#" style="padding-right:5px;" onclick="loadCertificationUploadPopup(@Model.user.UserId,@certification.SPCId)">View/Edit cert copy</a>
                                                }
                                                else
                                                {
                                                    <a href="#" style="padding-right:5px;" onclick="loadCertificationUploadPopup(@Model.user.UserId,@certification.SPCId)">Upload Cert Copy</a>
                                                }
                                         }
                                            else
                                            {
                                                <a href="#" style="padding-right:5px;" onclick="loadCertificationUploadPopup(@Model.user.UserId,@certification.SPCId)">Upload Cert Copy</a>
                                            }
                                        }
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">



                        <b><a onclick="addCompCerti('tblCompanyCertifications')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
         

                    </td>
                </tr>
            </table>

        </td>
    </tr>
     @*<tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="1" valign="top">Attach copies of Certifications:
             &nbsp;
        </td>
        <td><a href="#" onclick="loadCertificationUploadPopup()">Upload Company Certification Documents</a></td>
    </tr>*@
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    @*<tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">List all professional designations along with individual company certifications
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>
                        <table id="tblProfessionalDesig">
                            <tr>
                                <td></td>
                                <td width="150"><b>Date</b>
                                </td>
                                <td width="150"><b>Designations<br />(CPCU, AIC, RPA, etc.)</b>
                                </td>
                                <td width="220" nowrap="nowrap"><b>Company Certifications<br />(State Farm, Metlife, TWIA, etc.)</b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgProfDesigDeleteRowReplica" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderDesignations.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderDesignations[0].Date" class="DatePickerTextBox" type="text"
                                            style="width: 150px;" />
                                    </td>
                                    <td>
                                        <input name="user.ServiceProviderDesignations[0].Designation" type="text" />
                                    </td>
                                    <td>
                                        <input name="user.ServiceProviderDesignations[0].Certification" type="text" style="width:200px;" />
                                    </td>
                                    <td>
                                        <img id="imgProfDesigDeleteRow0" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderDesignations.Count; i++)
                                {
                                    BLL.ServiceProviderDesignation designation = Model.user.ServiceProviderDesignations.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].SPDId")" type="hidden" value="@designation.SPDId" />
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Date")" class="DatePickerTextBox" type="text"
                                            value="@(designation.Date.HasValue ? designation.Date.Value.ToString("MM/dd/yyyy") : "")" style="width: 150px;"  />
                                    </td>
                                    <td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Designation")" type="text" value="@designation.Designation" />
                                    </td>
                                    <td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Certification")" type="text" value="@designation.Certification" style="width:200px;" />
                                    </td>
                                    <td>
                                        
                                        <img id="@("imgProfDesigDeleteRow" + i)" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="@(i == (Model.user.ServiceProviderDesignations.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />
                                        
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">



                        <b><a onclick="addProfDesig('tblProfessionalDesig')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
         

                    </td>
                </tr>
            </table>

        </td>
    </tr>*@

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td nowrap="nowrap" width="200" colspan="2" valign="top">Are you NFIP Certified?&nbsp;
            <input id="rbIsNFIPCertifiedYes" type="radio" name="user.ServiceProviderDetail.IsFloodCertified" value="true" checked="@(Model.user.ServiceProviderDetail.IsFloodCertified.HasValue ? Model.user.ServiceProviderDetail.IsFloodCertified : false)" />Yes
            <input id="rbIsNFIPCertifiedNo" type="radio" name="user.ServiceProviderDetail.IsFloodCertified" value="false" checked="@(Model.user.ServiceProviderDetail.IsFloodCertified.HasValue ? !Model.user.ServiceProviderDetail.IsFloodCertified : true)" />No
        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">Attach Copy of NFIP Certificate:
        </td>
        <td>
            <iframe id="frameUploadNFIP" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=6&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">If so, please check the following boxes which apply to your experience handling
            NFIP Claims:
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
            <input type ="hidden" name="hdnFClaimTypeYearExpCount" value="@Model.NFIPClaimTypeList.Count" />
            <table>
                @for (int i = 0; i < Model.NFIPClaimTypeList.Count; i++)
                {
                    BLL.ServiceProviderFloodExperience floodexp = null;

                    string FYearsOfExp = "";
                    string HasExperience = "";
                    string SPFEId = "0";

                    if (Model.user.ServiceProviderFloodExperiences.Where(m => m.ClaimTypeId == Model.NFIPClaimTypeList.ElementAt(i).Key).Count() != 0)
                    {
                        floodexp = Model.user.ServiceProviderFloodExperiences.Where(m => m.ClaimTypeId == Model.NFIPClaimTypeList.ElementAt(i).Key).First();
                        SPFEId = floodexp.SPFEId + "";
                        FYearsOfExp = floodexp.YearsOfExperience + "";
                        HasExperience = floodexp.HasExperience == true ? "checked=\"checked\"" : "";
                    }
                    <tr>
                        <td>
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].SPFEId")" value="@SPFEId" type="hidden" />
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].HasExperience")" type="checkbox" @HasExperience value="true"  style="display:none;"/>
                        </td>
                        <td>@Model.NFIPClaimTypeList.ElementAt(i).Value
                        </td>

                        <td>
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].ClaimTypeId")" value="@Model.NFIPClaimTypeList.ElementAt(i).Key" type="hidden" />
                        </td>
                        <td>
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].YearsOfExperience")" type="text" style="width: 20px;"  value="@(FYearsOfExp != "" ? FYearsOfExp : "0")" />

                        </td>
                    </tr>
                }
                @*<tr>
                    <td>
                        <input name="cbExpAL" type="checkbox" />
                        AL - Commercial, Resident, Mobile Home
                    </td>
                    <td>
                        <input name="txtExpALYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="cbExpMH" type="checkbox" />
                        MH - Mobile Home
                    </td>
                    <td>
                        <input name="txtExpMHYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="cbExpPC" type="checkbox" />
                        PC - Property Commercial
                    </td>
                    <td>
                        <input name="txtExpPCYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="cbExpPR" type="checkbox" />
                        PR - Property Residential
                    </td>
                    <td>
                        <input name="txtExpPRYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>*@
            </table>
        </td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">
            &nbsp;
        </td>
        <td colspan="2" valign="top">
            Have you handled Commercial/RC Bap Claims before? &nbsp;
            <input id="rbHasCommercialClaimsYes" type="radio" name="user.ServiceProviderDetail.HasCommercialClaims" value="true"
                   onclick="Radio_Click(false, 'txtCommercialClaims')"  checked="@(Model.user.ServiceProviderDetail.HasCommercialClaims.HasValue ? Model.user.ServiceProviderDetail.HasCommercialClaims : false)" />Yes
            <input id="rbHasCommercialClaimsNo" type="radio" name="user.ServiceProviderDetail.HasCommercialClaims"
                   onclick="Radio_Click(true, 'txtCommercialClaims')" value="false" checked="@(Model.user.ServiceProviderDetail.HasCommercialClaims.HasValue ? !Model.user.ServiceProviderDetail.HasCommercialClaims : true)" />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">
            &nbsp;
        </td>
        <td colspan="2" valign="top">
            If YES, please describe the types of Commercial/RC Bap Claims you have handled and approximate number:
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">
            &nbsp;
        </td>
        <td width="200" colspan="2" valign="top">
            <textarea rows="4" style="width: 700px;" id="txtCommercialClaims" cols="20" name="user.ServiceProviderDetail.CommercialClaims">@Model.user.ServiceProviderDetail.CommercialClaims</textarea>
        </td>
    </tr>
</table>

<div id="divCertificationUpload" class="EditPopup" style="width:550px;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr><td nowrap="nowrap">Company Certification Documents Upload</td><td width="100%" align="right"><div style="width:100%;text-align:right;" >
                        <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableInPagePopup();" /></div></td></tr>
                </table>
                </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id ="iframeCertiDoc"  frameborder="0" height="200" width="100%"></iframe>
                
            </td>
        </tr>
        <tr>
        <td class="footer" style="text-align: right">
            <br />
        </td>
    </tr>

    </table>
    
</div>
<div id="divLicenseUpload" class="EditPopup" style="width:550px;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr><td nowrap="nowrap">License Documents Upload</td><td width="100%" align="right"><div style="width:100%;text-align:right;" >
                        <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableInPagePopup();" /></div></td></tr>
                </table>
                </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe src="@Url.Content("~/ServiceProviderRegistration/LicenseDocsUpload?userId=" + Model.user.UserId)" frameborder="0" height="200" width="100%"></iframe>
                
            </td>
        </tr>
        <tr>
        <td class="footer" style="text-align: right">
            <br />
        </td>
    </tr>

    </table>
    
</div>
<input id="hdnLicensesRowCount" name="hdnLicensesRowCount" type="hidden" value="@(Model.user.ServiceProviderLicenses.Count == 0 ? "1" : Model.user.ServiceProviderLicenses.Count + "")" />
<input id="hdnDesignationsRowCount" name="hdnDesignationsRowCount" type="hidden" value="@(Model.user.ServiceProviderDesignations.Count == 0 ? "1" : Model.user.ServiceProviderDesignations.Count + "")"  />
<input id="hdnCertificationsRowCount" name="hdnCertificationsRowCount" type="hidden" value="@(Model.user.ServiceProviderCertifications.Count == 0 ? "1" : Model.user.ServiceProviderCertifications.Count + "")"  />



