﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}
<style type="text/css">
    .backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .wideareaNewNote {
        width: 350px;
        height: 80px;
    }

    .wide {
        width: 350px;
    }
</style>
<script>
    function deleteServiceProviderDocument(DocumentId) {
        debugger
        if (confirm('Are you sure you want to delete?')) {
            $.post('@Url.Content("~/ServiceProviderRegistration/DeleteServiceProviderDocument")',
            { DocumentId: DocumentId },
            function (responseData) {
                if (responseData == 1) {
                    getDocumentsList(6);
                }
            });
        }
    }

    function showClaimDocUploadProcessing()
    {
        debugger;
        $("#imgProgressNoteSendMail").show();
        var fileInput = document.getElementById('DocFile1');
        var formdata = new FormData
        formdata.append("ServiceProviderId", '@Model.user.ServiceProviderDetail.UserId');
        formdata.append("Title", $('#hdnDocTitle').val());
        if (fileInput.files.length > 0) {
            debugger;
            formdata.append(fileInput.files[0].name, fileInput.files[0]);
        }

        $.ajax({
            url: '/ServiceProviderRegistration/UploadSPDocument',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formdata,
            success: function (result) {
                if (result == 1) {
                    $("#imgProgressNoteSendMail").hide();
                    alert("Document upload successful");
                    disableParticipantsendEmailPopup();
                    //refresh view
                    getDocumentsList(6);
                }
                else
                {
                    $("#imgProgressNoteSendMail").hide();
                    alert("Upload Unsuccessful");
                   // $("#imgProgressNoteSendMail").show();
                   // getDocumentsList(6);
                }
               // chkisExpandedChanged();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }

    function disableParticipantsendEmailPopup() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundDocumentsPopup").fadeOut("slow");
            $("#AddNewDocument").fadeOut("slow");
            popupStatus = 0;
        }
    }

    function loadDocumentUploadPopup() {
        debugger;
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerParticipantsendEmailPopup();
            $("#backgroundDocumentsPopup").css({
                "opacity": "0.7"
            });
            $("#backgroundDocumentsPopup").fadeIn("slow");
            $("#AddNewDocument").fadeIn("slow");
            popupStatus = 1;
        }
        return false;

    }
    
    function centerParticipantsendEmailPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#AddNewDocument").height();
        var popupWidth = $("#AddNewDocument").width();
        //centering
        $("#AddNewDocument").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6
        $("#backgroundDocumentsPopup").css({
            "height": windowHeight
        });
        return false;
    }
</script>
<table width="100%" style="padding-top:10px">
    <tr>
        <td style="margin-left:10px;font-size:large;" width="90%"> <b> Uploaded Documents</b>
        <td style="padding-top: 10px;padding-bottom: 10px;" >
            <input type="button" onclick="loadDocumentUploadPopup()" value="Add Document" class="buttonLightYellow_100" />
        </td>
    </tr>
</table>

<table id="tblDocumentsList" width="100%" cellspacing="0" cellpadding="4" style="padding-bottom: 10px;padding-left: 5px;border-right-width: 5px;padding-right: 5px;">
    <thead>
        <tr class="tableHeader">
            <td></td>
            <td nowrap="nowrap">Uploaded Date</td>
            <td nowrap="nowrap" width="100%">Title</td>
            <td nowrap="nowrap">File Name</td>
            <td nowrap="nowrap">Uploaded By</td>

            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            int rowIndex = 0;
            foreach (var document in Model.DocumentsList)
            {
                <tr @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                    <td></td>
                    <td nowrap="nowrap">@document.UploadedDate.ToString("MM/dd/yyyy")</td>
                    <td>@document.Title</td>
                    <td nowrap="nowrap">
                        @{
                            string DocumentDesc = document.DocumentDesc.Replace(" ", "_");
                            string absolutePrevFileName = document.UserId + "/" + DocumentDesc + "/" + document.Path;
                            string FileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absolutePrevFileName);
                        }

                        <a href="@Url.Action("SPdocumentAcess", "ServiceProviderRegistration", new { SPId = document.UserId, fileurl = Cypher.EncryptString(FileUrl), filename = document.Path })">
                        <img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" /> 
                        </a>
                               @document.Path
                    </td>
                    <td nowrap="nowrap">
                        @{
                            // BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.User user = null;
                            if (document != null)
                            {
                                user = css.Users.Find(document.DocumentUploadedByUserId);
                                if (user != null)
                                {
                                    @:@(!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") @(!String.IsNullOrEmpty(user.MiddleInitial) ? user.MiddleInitial : "") @(!String.IsNullOrEmpty(user.LastName) ? user.LastName : "")
                                }
                                else
                                {
                                    @document.DocumentUploadedByUserId
                                }
                            }
                        }
                    </td>
                    <td nowrap="nowrap">
                        @if (loggedInUser.UserTypeId != 11 && loggedInUser.UserTypeId != 1)
                        {
                            <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="deleteServiceProviderDocument('@document.SPDId')">
                            <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>
                        }
                    </td>
                </tr>
                rowIndex++;
            }
            if (rowIndex == 0)
            {
                <tr>
                    <td align="center" colspan="4">
                        <br />
                        - Documents not uploaded -<br />
                        <br />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="AddNewDocument" style="display: none;width:800px" class="EditPopup">
    <div>
        <table style="width: 100%" cellspacing="0">

            <tr>
                <td class="mainHeader" >
                    <div style="float: left">
                        Add Document
                        <img id="imgProgressNoteSendMail" src="~/Content/Images/progress01.gif" height="30" width="30" style="vertical-align: middle; display: none;" alt="Updating.." />
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disableParticipantsendEmailPopup();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table width="800px" align="center">
        <tr>
            <td valign="top" style="width: 30px">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td style="display: none;">
                <input type="hidden" id="hdnParticipantsname" name="hdnParticipantsname" />
                <input type="hidden" id="hdnEmailSPId" name="hdnEmailSPId" />
                <input type="hidden" id="hdnEmailfromUserid" name="hdnEmailfromUserid" />
                <input type="hidden" id="hdnEmailDateCreated" name="hdnEmailDateCreated" />
                <input type="hidden" id="hdnIsSystemGenerated" name="hdnIsSystemGenerated" />
            </td>
        </tr>
        
        
        <tr>
            <td>
                <b>Title:</b>
            </td>
            <td>
                <input style="width:30%" type="text" id="hdnDocTitle" name="Title" />
            </td>
        </tr>
        <tr>
            <td><b>Document: </b></td>
            <td align="left">
                <input type="file" id="DocFile1" name="DocFile1" value="file" />
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 30px">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: right" class="footer">
                <input type="button" onclick="showClaimDocUploadProcessing()" value="Add Document" name="send" class="buttonLightYellow_100" style="margin-right:15px" />
            </td>
        </tr>

    </table>

</div>
<div id="backgroundDocumentsPopup" onclick="disableParticipantsendEmailPopup();" class="backgroundPopup" style="display: none;"></div>