﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.formatCurrency-1.4.0.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        debugger;
        var ModelHasBeenPublicAdjuster = '@Model.user.ServiceProviderDetail.HasBeenPublicAdjuster';
        if (ModelHasBeenPublicAdjuster != 'True') {
            Radio_ClickDoubleDate(true, 'txtPublicAdjusterWhen', 'txtPublicAdjusterWhere');
        }

        var ModelHasWorkedInCS = '@Model.user.ServiceProviderDetail.HasWorkedInCS';
        if (ModelHasWorkedInCS != 'True') {
            Radio_ClickDoubleDate(true, 'txtWorkedInCSWhen', 'txtWorkedInCSWhere');
        }

        var ModelCSAskedYouToWork = '@Model.user.ServiceProviderDetail.CSAskedYouToWork';
        if (ModelCSAskedYouToWork != 'True') {
            Radio_ClickDoubleDate(true, 'txtLastDateCatastropheWorked', 'txtCatastropheForWhom');

        }

        var ModelRoofClimbingRequired = '@Model.user.ServiceProviderDetail.RoofClimbingRequired';
        if (ModelRoofClimbingRequired != 'True') {
            Radio_ClickMultipleRadio('rbRoofRequiredNo', 'rbOneStory', 'rbTwoStory', 'rbAboveTwo', 'rbSteep6', 'rbSteep8', 'rbSteep10', 'rbSteep12');
        }

        var ModelEOHasInsurance = '@Model.user.ServiceProviderDetail.EOHasInsurance';
        if (ModelEOHasInsurance != 'True') {
            Radio_ClickMultiple(true, 'txtEOPoliyNumber', 'txtEOCarrier', 'txtEOInception', 'txtEOExpiry', 'currency1', 'currency2');
        }
    });
</script>

<table>
    <tr>
        <td>&nbsp;
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">List employers and adjusting companies worked for in the last ten (10) years starting
            with the most recent:
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>
                        <table id="tblEmployerDetails">
                            <tr>
                                <td></td>
                                <td valign="top" width="100"><b>Date</b>
                                </td>
                                <td valign="top" width="150"><b>Employer/Adjusting Co. Name</b>
                                </td>
                                <td valign="top" width="150"><b>Address</b>
                                </td>
                                <td valign="top" width="150"><b>Phone Number</b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgEmpDetailsDeleteRowReplica" onclick="deleteEmployerDetails('tblEmployerDetails')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderEmployers.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td valign="top" nowrap="nowrap">
                                        <input name="user.ServiceProviderEmployers[0].Date" class="DatePickerTextBox" type="text"
                                            style="width: 100px;" />
                                    </td>
                                    <td valign="top">
                                        <input name="user.ServiceProviderEmployers[0].EmployerName" type="text" style="width: 200px" />
                                    </td>
                                    <td valign="top">

                                        <textarea name="user.ServiceProviderEmployers[0].Address" rows="2" xml:lang="Add1"></textarea>
                                    </td>
                                    <td valign="top">
                                        <input name="user.ServiceProviderEmployers[0].PhoneNumber" class="PhoneNo" type="text" />
                                    </td>
                                    <td>
                                        <img id="imgEmpDetailsDeleteRow0" onclick="deleteEmployerDetails('tblEmployerDetails')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderEmployers.Count; i++)
                                {
                                    BLL.ServiceProviderEmployer employer = Model.user.ServiceProviderEmployers.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td valign="top" nowrap="nowrap">
                                        <input name="@("user.ServiceProviderEmployers[" + i + "].SPEId")" type="hidden" value="@employer.SPEId" />
                                        <input name="@("user.ServiceProviderEmployers[" + i + "].Date")" class="DatePickerTextBox" type="text"
                                            value="@(employer.Date.HasValue ? employer.Date.Value.ToString("MM/dd/yyyy") : "")" style="width: 100px;" />
                                    </td>
                                    <td valign="top">
                                        <input name="@("user.ServiceProviderEmployers[" + i + "].EmployerName")" type="text" style="width: 200px" value="@employer.EmployerName" />
                                    </td>
                                    <td valign="top">
                                        <textarea name="@("user.ServiceProviderEmployers[" + i + "].Address")" rows="2"  >@employer.Address</textarea>
                                    </td>
                                    <td valign="top">
                                        <input name="@("user.ServiceProviderEmployers[" + i + "].PhoneNumber")" class="PhoneNo" type="text" value="@employer.PhoneNumber" />
                                    </td>
                                    <td>
                                        <img id="@("imgEmpDetailsDeleteRow" + i)" onclick="deleteEmployerDetails('tblEmployerDetails')" style="@(i == Model.user.ServiceProviderEmployers.Count - 1 ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />
                                    </td>
                                </tr>
                                }

                            }
                        </table>
                    </td>
                </tr>
                <tr>

                    <td align="right">
                        <b><a onclick="addEmployerDetails('tblEmployerDetails')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
  

                    </td>
                </tr>

            </table>

        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
  
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">List two (2) professional references:
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>Name
                    </td>
                    <td>Company
                    </td>
                    <td>Title
                    </td>
                    <td>Phone #
                    </td>
                </tr>
                @{
                    string SPRId0 = "0";
                    string name0 = "";
                    string company0 = "";
                    string title0 = "";
                    string phoneNo0 = "";
                    string SPRId1 = "0";
                    string name1 = "";
                    string company1 = "";
                    string title1 = "";
                    string phoneNo1 = "";
                    if (Model.user.ServiceProviderReferences.Count >= 1)
                    {
                        //if (Model.user.ServiceProviderReferences.ElementAt(0) !=null)
                        SPRId0 = Model.user.ServiceProviderReferences.ElementAt(0).SPRId + "";
                        name0 = Model.user.ServiceProviderReferences.ElementAt(0).Name;
                        company0 = Model.user.ServiceProviderReferences.ElementAt(0).Company;
                        title0 = Model.user.ServiceProviderReferences.ElementAt(0).Title;
                        phoneNo0 = Model.user.ServiceProviderReferences.ElementAt(0).PhoneNumber;
                        //}
                    }
                    if (Model.user.ServiceProviderReferences.Count == 2)
                    {
                        SPRId1 = Model.user.ServiceProviderReferences.ElementAt(1).SPRId + "";
                        name1 = Model.user.ServiceProviderReferences.ElementAt(1).Name;
                        company1 = Model.user.ServiceProviderReferences.ElementAt(1).Company;
                        title1 = Model.user.ServiceProviderReferences.ElementAt(1).Title;
                        phoneNo1 = Model.user.ServiceProviderReferences.ElementAt(1).PhoneNumber;

                    }
                    <tr>
                        <td>
                            <input name="user.ServiceProviderReferences[0].SPRId" type="hidden" value="@SPRId0" />
                            <input name="user.ServiceProviderReferences[0].Name" type="text" value="@name0"/>
                        </td>
                        <td>
                            <input name="user.ServiceProviderReferences[0].Company" type="text" value="@company0"/>
                        </td>
                        <td>
                            <input name="user.ServiceProviderReferences[0].Title" type="text" value="@title0"/>
                        </td>
                        <td>
                            <input name="user.ServiceProviderReferences[0].PhoneNumber" class="PhoneNo" type="text" value="@phoneNo0"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input name="user.ServiceProviderReferences[1].SPRId" type="hidden" value="@SPRId1" />
                            <input name="user.ServiceProviderReferences[1].Name" type="text"  value="@name1"/>
                        </td>
                        <td>
                            <input name="user.ServiceProviderReferences[1].Company" type="text"  value="@company1"/>
                        </td>
                        <td>
                            <input name="user.ServiceProviderReferences[1].Title" type="text" value="@title1"/>
                        </td>
                        <td>
                            <input name="user.ServiceProviderReferences[1].PhoneNumber" class="PhoneNo" type="text" value="@phoneNo1"/>
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2" valign="bottom">Are you, or have you ever been employed as a Licensed Public Adjuster?
            <input name="user.ServiceProviderDetail.HasBeenPublicAdjuster" type="radio" value="true" checked="@(Model.user.ServiceProviderDetail.HasBeenPublicAdjuster.HasValue ? Model.user.ServiceProviderDetail.HasBeenPublicAdjuster : false)" onclick="Radio_ClickDoubleDate(false, 'txtPublicAdjusterWhen', 'txtPublicAdjusterWhere')" />Yes
            <input name="user.ServiceProviderDetail.HasBeenPublicAdjuster" type="radio" value="false" checked="@(Model.user.ServiceProviderDetail.HasBeenPublicAdjuster.HasValue ? !Model.user.ServiceProviderDetail.HasBeenPublicAdjuster : true)" onclick="Radio_ClickDoubleDate(true, 'txtPublicAdjusterWhen', 'txtPublicAdjusterWhere')"/>No
        </td>

    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">If yes, please furnish details of </td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2" width="200">When?</td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2" width="200">
            <input name="user.ServiceProviderDetail.PublicAdjusterWhen"  id="txtPublicAdjusterWhen" type="text" value="@(Model.user.ServiceProviderDetail.PublicAdjusterWhen.HasValue ? Model.user.ServiceProviderDetail.PublicAdjusterWhen.Value.ToString("MM/dd/yyyy") : "")"
                class="DatePickerTextBox" /></td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2" width="200">Where?</td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2" width="200">
            <textarea name="user.ServiceProviderDetail.PublicAdjusterWhere"  id="txtPublicAdjusterWhere" rows="4" style="width: 700px;"
                cols="20">@Model.user.ServiceProviderDetail.PublicAdjusterWhere</textarea></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">Education: Dates, names, locations, and degrees: &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>Education
                    </td>
                    <td>Date
                    </td>
                    <td>University
                    </td>
                    <td>Location
                    </td>
                    <td>Degree
                    </td>
                </tr>
                @{
                    BLL.ServiceProviderEducation eduC = null;
                    string SPEdIdC = "0";
                    string dateC = "";
                    string universityC = "";
                    string locationC = "";
                    string degreeC = "";
                    if (Model.user.ServiceProviderEducations.Where(p => p.Education == "College").Count() != 0)
                    {

                        eduC = Model.user.ServiceProviderEducations.Where(p => p.Education == "College").First();
                        SPEdIdC = eduC.SPEdId + "";
                        dateC = eduC.Date.HasValue ? eduC.Date.Value.ToString("MM/dd/yyyy") : "";
                        universityC = eduC.Name;
                        locationC = eduC.Location;
                        degreeC = eduC.Degree;
                    }
                    
                    <tr>
                        <td>College<input type="hidden" name="user.ServiceProviderEducations[0].Education" value="College" />
                        </td>
                        <td>



                            <input name="user.ServiceProviderEducations[0].SPEdId" type="hidden" value="@SPEdIdC" />
                            <input name="user.ServiceProviderEducations[0].Date" class="DatePickerTextBox" type="text" value="@dateC"
                            style="width: 100px;" />

                        </td>
                        <td>

                            <input name="user.ServiceProviderEducations[0].Name" type="text" value="@universityC" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[0].Location" type="text" value="@locationC" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[0].Degree" type="text" value="@degreeC" />
                        </td>
                    </tr>
                }
                @{
                    BLL.ServiceProviderEducation eduGS = null;
                    string SPEdIdGS = "0";
                    string dateGS = "";
                    string universityGS = "";
                    string locationGS = "";
                    string degreeGS = "";
                    if (Model.user.ServiceProviderEducations.Where(p => p.Education == "Graduate Studies").Count() != 0)
                    {
                        eduGS = Model.user.ServiceProviderEducations.Where(p => p.Education == "Graduate Studies").First();
                        SPEdIdGS = eduGS.SPEdId + "";
                        dateGS = eduGS.Date.HasValue ? eduGS.Date.Value.ToString("MM/dd/yyyy") : "";
                        universityGS = eduGS.Name;
                        locationGS = eduGS.Location;
                        degreeGS = eduGS.Degree;
                    }
                    
                    <tr>
                        <td>Graduate Studies<input type="hidden" name="user.ServiceProviderEducations[1].Education" value="Graduate Studies" />
                        </td>
                        <td>


                            <input name="user.ServiceProviderEducations[1].SPEdId" type="hidden" value="@SPEdIdGS" />
                            <input name="user.ServiceProviderEducations[1].Date" class="DatePickerTextBox" type="text"  value="@dateGS"
                            style="width: 100px;" />



                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[1].Name" type="text" value="@universityGS" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[1].Location" type="text" value="@locationGS"  />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[1].Degree" type="text" value="@degreeGS"  />
                        </td>
                    </tr>
                }
                @{
                    BLL.ServiceProviderEducation eduO = null;

                    string SPEdIdO = "0";
                    string dateO = "";
                    string universityO = "";
                    string locationO = "";
                    string degreeO = "";
                    if (Model.user.ServiceProviderEducations.Where(p => p.Education == "Others").Count() != 0)
                    {
                        eduO = Model.user.ServiceProviderEducations.Where(p => p.Education == "Others").First();
                        SPEdIdO = eduO.SPEdId + "";
                        dateO = eduO.Date.HasValue ? eduO.Date.Value.ToString("MM/dd/yyyy") : "";
                        universityO = eduO.Name;
                        locationO = eduO.Location;
                        degreeO = eduO.Degree;
                    }
                    <tr>
                        <td>Others
                            <input type="hidden" name="user.ServiceProviderEducations[2].Education" value="Others" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[2].SPEdId" type="hidden" value="@SPEdIdO" />
                            <input name="user.ServiceProviderEducations[2].Date" class="DatePickerTextBox" type="text" value="@dateO"
                            style="width: 100px;" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[2].Name" type="text"  value="@universityO" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[2].Location" type="text" value="@locationO"  />
                        </td>
                        <td>
                            <input name="user.ServiceProviderEducations[2].Degree" type="text" value="@degreeO"  />
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>


    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td nowrap="nowrap">Software Experience
                    </td>
                    <td nowrap="nowrap" style="text-align:center">Software Id<br /> (i.e. Xactnetaddress, MSB ID etc)
                    </td>
                    <td>Years of Experience
                    </td>
                    <td>Date Last Used
                    </td>
                    <td>
                        Product Key Code
                    </td>
                </tr>
                @{
                    BLL.ServiceProviderSoftwareExperience softExp0 = null;
                    string SPSEId0 = "0";
                    string softwareId0 = "";
                    string expYears0 = "0";
                    string dateLastUsed0 = "";
                    string productkeycode0 = "";
                    if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "MSB").Count() != 0)
                    {
                        softExp0 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "MSB").First();
                        SPSEId0 = softExp0.SPSEId + "";
                        softwareId0 = softExp0.SoftwareId;
                        expYears0 = Convert.ToString(softExp0.YearsOfExperience);
                        dateLastUsed0 = softExp0.DateLastUsed.HasValue ? softExp0.DateLastUsed.Value.ToString("MM/dd/yyyy") : "";
                        productkeycode0 = softExp0.ProductKeyCode;
                    }
                    <tr  style="display:none;">
                        <td nowrap="nowrap">a. MSB
                        </td>
                        <td nowrap="nowrap" style="text-align:center">
                            <input name="user.ServiceProviderSoftwareExperiences[0].SPSEId" type="hidden" value="@SPSEId0" />
                            <input name="user.ServiceProviderSoftwareExperiences[0].Software" type="hidden" value="MSB" />
                            <input name="user.ServiceProviderSoftwareExperiences[0].SoftwareId" type="text" value="@softwareId0" />
                        </td>
                        <td width="30">
                            <input name="user.ServiceProviderSoftwareExperiences[0].YearsOfExperience" type="text" style="width:30px;" value="@expYears0" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[0].DateLastUsed" class="DatePickerTextBox" type="text" value="@dateLastUsed0"
                            style="width: 100px;" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[0].ProductKeyCode"  type="text" value="@productkeycode0"
                                   style="width: 70px;" />
                        </td>
                    </tr>
                }
                @{
                    BLL.ServiceProviderSoftwareExperience softExp1 = null;

                    string SPSEId1 = "0";
                    string softwareId1 = "";
                    string expYears1 = "0";
                    string dateLastUsed1 = "";
                    string productkeycode1 = "";
                    if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Xactimate").Count() != 0)
                    {
                        softExp1 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Xactimate").First();
                        SPSEId1 = softExp1.SPSEId + "";
                        softwareId1 = softExp1.SoftwareId;
                        expYears1 = Convert.ToString(softExp1.YearsOfExperience);
                        dateLastUsed1 = softExp1.DateLastUsed.HasValue ? softExp1.DateLastUsed.Value.ToString("MM/dd/yyyy") : "";
                        productkeycode1 = softExp1.ProductKeyCode;
                    }
                    <tr>
                        <td nowrap="nowrap">a. Xactimate
                        </td>
                        <td nowrap="nowrap" style="text-align:center">
                            <input name="user.ServiceProviderSoftwareExperiences[1].SPSEId" type="hidden" value="@SPSEId1" />
                            <input name="user.ServiceProviderSoftwareExperiences[1].Software" type="hidden" value="Xactimate" />
                            <input name="user.ServiceProviderSoftwareExperiences[1].SoftwareId" type="text" value="@softwareId1" />
                        </td>
                        <td width="30">
                            <input name="user.ServiceProviderSoftwareExperiences[1].YearsOfExperience" type="text" style="width:30px;" value="@expYears1" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[1].DateLastUsed" class="DatePickerTextBox" type="text" value="@dateLastUsed1"
                            style="width: 100px;" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[1].ProductKeyCode" type="text" value="@productkeycode1"
                                   style="width: 70px;" />
                        </td>
                    </tr>
                }
                @{
                    BLL.ServiceProviderSoftwareExperience softExp2 = null;
                    string SPSEId2 = "0";
                    string softwareId2 = "";
                    string expYears2 = "0";
                    string dateLastUsed2 = "";
                    string productkeycode2 = "";
                    if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Symbility").Count() != 0)
                    {
                        softExp2 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Symbility").First();
                        SPSEId2 = softExp2.SPSEId + "";
                        softwareId2 = softExp2.SoftwareId;
                        expYears2 = Convert.ToString(softExp2.YearsOfExperience);
                        dateLastUsed2 = softExp2.DateLastUsed.HasValue ? softExp2.DateLastUsed.Value.ToString("MM/dd/yyyy") : "";
                        productkeycode2 = softExp2.ProductKeyCode;
                    }
                    <tr>
                        <td nowrap="nowrap">b. Symbility &nbsp;
                        </td>
                        <td nowrap="nowrap" style="text-align:center">
                            <input name="user.ServiceProviderSoftwareExperiences[2].SPSEId" type="hidden" value="@SPSEId2" />
                            <input name="user.ServiceProviderSoftwareExperiences[2].Software" type="hidden" value="Symbility" />
                            <input name="user.ServiceProviderSoftwareExperiences[2].SoftwareId" type="text"  value="@softwareId2" />
                        </td>
                        <td width="30">
                            <input name="user.ServiceProviderSoftwareExperiences[2].YearsOfExperience" type="text" style="width:30px;" value="@expYears2" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[2].DateLastUsed" class="DatePickerTextBox" type="text" value="@dateLastUsed2"
                            style="width: 100px;" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[2].ProductKeyCode" type="text" value="@productkeycode2"
                                   style="width: 70px;" />
                        </td>
                    </tr>
                }
                @{
                    BLL.ServiceProviderSoftwareExperience softExp3 = null;
                    string SPSEId3 = "0";
                    string softwareId3 = "";
                    string expYears3 = "0";
                    string dateLastUsed3 = "";
                    string productkeycode3 = "";
                    if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Simsol").Count() != 0)
                    {
                        softExp3 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Simsol").First();
                        SPSEId3 = softExp3.SPSEId + "";
                        softwareId3 = softExp3.SoftwareId;
                        expYears3 = softExp3.YearsOfExperience + "";
                        dateLastUsed3 = softExp3.DateLastUsed.HasValue ? softExp3.DateLastUsed.Value.ToString("MM/dd/yyyy") : "";
                        productkeycode3 = softExp3.ProductKeyCode;
                    }
                    <tr>
                        <td nowrap="nowrap">c. Simsol
                        </td>
                        <td nowrap="nowrap" style="text-align:center">
                            <input name="user.ServiceProviderSoftwareExperiences[3].SPSEId" type="hidden" value="@SPSEId3" />
                            <input name="user.ServiceProviderSoftwareExperiences[3].Software" type="hidden" value="Simsol" />
                            <input name="user.ServiceProviderSoftwareExperiences[3].SoftwareId" type="text"  value="@softwareId3" />
                        </td>
                        <td width="30">
                            <input name="user.ServiceProviderSoftwareExperiences[3].YearsOfExperience" type="text" style="width:30px;" value="@expYears3" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[3].DateLastUsed" class="DatePickerTextBox" type="text" value="@dateLastUsed3"
                            style="width: 100px;" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[3].ProductKeyCode" type="text" value="@productkeycode3"
                                   style="width: 70px;" />
                        </td>
                    </tr>
                }
                @{
                    BLL.ServiceProviderSoftwareExperience softExp4 = null;
                    string SPSEId4 = "0";
                    string softwareId4 = "";
                    string expYears4 = "0";
                    string dateLastUsed4 = "";
                    string productkeycode4 = "";

                    if (Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Other").Count() != 0)
                    {
                        softExp4 = Model.user.ServiceProviderSoftwareExperiences.Where(p => p.Software == "Other").First();
                        SPSEId4 = softExp4.SPSEId + "";
                        softwareId4 = softExp4.SoftwareId;
                        expYears4 = Convert.ToString(softExp4.YearsOfExperience);
                        dateLastUsed4 = softExp4.DateLastUsed.HasValue ? softExp4.DateLastUsed.Value.ToString("MM/dd/yyyy") : "";
                        productkeycode4 = softExp4.ProductKeyCode;
                    }
                    <tr  style="display:none;">
                        <td nowrap="nowrap">e. Other/word/excel
                        </td>
                        <td nowrap="nowrap" style="text-align:center">
                            <input name="user.ServiceProviderSoftwareExperiences[4].SPSEId" type="hidden" value="@SPSEId4" />
                            <input name="user.ServiceProviderSoftwareExperiences[4].Software" type="hidden" value="Other" />
                            <input name="user.ServiceProviderSoftwareExperiences[4].SoftwareId" type="text" value="@softwareId4" />
                        </td>
                        <td width="30">
                            <input name="user.ServiceProviderSoftwareExperiences[4].YearsOfExperience" type="text" style="width:30px;" value="@expYears4" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[4].DateLastUsed" class="DatePickerTextBox" type="text" value="@dateLastUsed4"
                            style="width: 100px;" />
                        </td>
                        <td>
                            <input name="user.ServiceProviderSoftwareExperiences[4].ProductKeyCode" type="text" value="@productkeycode4"
                                   style="width: 70px;" />
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">Have you worked for Pacesetter Claims Service in the past?
             
            <input type="radio" name="user.ServiceProviderDetail.HasWorkedInCS" value="true" checked="@(Model.user.ServiceProviderDetail.HasWorkedInCS.HasValue ? Model.user.ServiceProviderDetail.HasWorkedInCS : false)" onclick="Radio_ClickDoubleDate(false, 'txtWorkedInCSWhen', 'txtWorkedInCSWhere')" />Yes
            <input type="radio" name="user.ServiceProviderDetail.HasWorkedInCS" id="rdbHasWorkedInCSNo" value="false" checked="@(Model.user.ServiceProviderDetail.HasWorkedInCS.HasValue ? !Model.user.ServiceProviderDetail.HasWorkedInCS : true)" onclick="Radio_ClickDoubleDate(true, 'txtWorkedInCSWhen', 'txtWorkedInCSWhere')" />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2">
            <table>
                <tr>
                    <td>If yes, When?</td>
                    <td>
                        <input name="user.ServiceProviderDetail.WorkedInCSWhen"  id="txtWorkedInCSWhen" type="text" class="DatePickerTextBox" value="@(Model.user.ServiceProviderDetail.WorkedInCSWhen.HasValue ? Model.user.ServiceProviderDetail.WorkedInCSWhen.Value.ToString("MM/dd/yyyy") : "")" /></td>
                </tr>
                <tr>
                    <td>Where?</td>
                    <td>
                        <input name="user.ServiceProviderDetail.WorkedInCSWhere"  id="txtWorkedInCSWhere" type="text" value="@Model.user.ServiceProviderDetail.WorkedInCSWhere" /></td>
                </tr>
                <tr>
                    <td>If no, did we ask you to work for us?
                    </td>
                    <td>
              <input type="radio" name="user.ServiceProviderDetail.CSAskedYouToWork" value="true" checked="@(Model.user.ServiceProviderDetail.CSAskedYouToWork.HasValue ? Model.user.ServiceProviderDetail.CSAskedYouToWork : false)"  onclick="Radio_ClickDoubleDate(false, 'txtLastDateCatastropheWorked', 'txtCatastropheForWhom')" />Yes
              <input  type="radio" name="user.ServiceProviderDetail.CSAskedYouToWork" id="rdbCSAskedYouToWorkNo" value="false" checked="@(Model.user.ServiceProviderDetail.CSAskedYouToWork.HasValue ? !Model.user.ServiceProviderDetail.CSAskedYouToWork : true)" onclick="Radio_ClickDoubleDate(true, 'txtLastDateCatastropheWorked', 'txtCatastropheForWhom')" />No
                            </tr>
                <tr>
                    <td>Date of Last Catastrophe Worked:
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.LastDateCatastropheWorked"  id="txtLastDateCatastropheWorked" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.LastDateCatastropheWorked.HasValue ? Model.user.ServiceProviderDetail.LastDateCatastropheWorked.Value.ToString("MM/dd/yyyy") : "")" /></td>
                </tr>
                <tr>
                    <td>For Whom?
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.CatastropheForWhom"  id="txtCatastropheForWhom" type="text" value="@Model.user.ServiceProviderDetail.CatastropheForWhom" />

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">Former employer may be contacted: &nbsp;
            <input id="rbContactFormerEmployerYes" name="user.ServiceProviderDetail.FormerEmployerBeContacted" type="radio" value="true" checked="@(Model.user.ServiceProviderDetail.FormerEmployerBeContacted.HasValue ? Model.user.ServiceProviderDetail.FormerEmployerBeContacted : false)" />Yes
            <input id="rbContactFormerEmployerNo" name="user.ServiceProviderDetail.FormerEmployerBeContacted"
                type="radio" value="false" checked="@(Model.user.ServiceProviderDetail.FormerEmployerBeContacted.HasValue ? !Model.user.ServiceProviderDetail.FormerEmployerBeContacted : true)" />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">Please indicate years of experience on the following Field Property claim types. (Not including Flood) &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <input type ="hidden" name="hdnClaimTypeYearExpCount" value="@Model.ClaimTypeList.Count" />
            <table>

                @for (int i = 0; i < Model.ClaimTypeList.Count; i++)
                {
                    BLL.ServiceProviderExperience exp = null;
                    string YearsOfExp = "0";
                    string SPEId = "0";
                    if (Model.user.ServiceProviderExperiences.Where(m => m.ClaimTypeId == Model.ClaimTypeList.ElementAt(i).Key).Count() != 0)
                    {
                        exp = Model.user.ServiceProviderExperiences.Where(m => m.ClaimTypeId == Model.ClaimTypeList.ElementAt(i).Key).First();
                        YearsOfExp = exp.YearsOfExperience + "";
                        SPEId = exp.SPEId + "";
                    }
                    <tr>
                        <td>@Model.ClaimTypeList.ElementAt(i).Value
                        </td>
                        <td>
                            <input name="@("user.ServiceProviderExperiences[" + i + "].SPEId")" value="@SPEId" type="hidden" />
                            <input name="@("user.ServiceProviderExperiences[" + i + "].ClaimTypeId")" value="@Model.ClaimTypeList.ElementAt(i).Key" type="hidden" />
                            <input name="@("user.ServiceProviderExperiences[" + i + "].YearsOfExperience")" type="text" style="width: 20px;"  value="@YearsOfExp" />
                        </td>
                    </tr>
                }

            </table>

        </td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td nowrap="nowrap">Are you comfortable Climbing Roofs?&nbsp;
            
            
        </td>
        <td>
              
            <input id="rbRoofRequiredYes" type="radio" name="user.ServiceProviderDetail.RoofClimbingRequired" value="true" checked="@(Model.user.ServiceProviderDetail.RoofClimbingRequired.HasValue ? Model.user.ServiceProviderDetail.RoofClimbingRequired : false)" 
                   onclick="Radio_ClickMultipleRadio(false, 'rbOneStory', 'rbTwoStory', 'rbAboveTwo', 'rbSteep6', 'rbSteep8', 'rbSteep10', 'rbSteep12')"/>Yes&nbsp;
            <input id="rbRoofRequiredNo" type="radio" name="user.ServiceProviderDetail.RoofClimbingRequired"  value="false"  checked="@(Model.user.ServiceProviderDetail.RoofClimbingRequired.HasValue ? !Model.user.ServiceProviderDetail.RoofClimbingRequired : true)" 
                    onclick="Radio_ClickMultipleRadio(true, 'rbOneStory', 'rbTwoStory', 'rbAboveTwo', 'rbSteep6', 'rbSteep8', 'rbSteep10', 'rbSteep12')"/>No&nbsp;

        </td>

    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td nowrap="nowrap">Ladder will reach and I am Capable to climb? &nbsp;&nbsp;
        </td>
        <td>
            <input id="rbOneStory" type="radio" name="user.ServiceProviderDetail.CapabilityToClimb" value="1 Story" 
                checked="@(Model.user.ServiceProviderDetail.CapabilityToClimb == "1 Story" ? true : false)" />1 Story&nbsp;
            <input id="rbTwoStory" type="radio" name="user.ServiceProviderDetail.CapabilityToClimb" value="2 Story"  checked="@(Model.user.ServiceProviderDetail.CapabilityToClimb == "2 Story" ? true : false)" />2 Story
            <input id="rbAboveTwo" type="radio" name="user.ServiceProviderDetail.CapabilityToClimb" value="Above 2 Story"  checked="@(Model.user.ServiceProviderDetail.CapabilityToClimb == "Above 2 Story" ? true : false)" />Above
            2 Story
        </td>

    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td nowrap="nowrap">Capability to climb steep: 
            
        </td>
        <td>
            <input id="rbSteep6" type="radio" name="user.ServiceProviderDetail.CapabilityToClimbSteep" value="6/12" 
                checked="@(Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "6/12" ? true : false)" />6/12&nbsp;
            <input id="rbSteep8" type="radio" name="user.ServiceProviderDetail.CapabilityToClimbSteep" value="8/12" 
                checked="@(Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "8/12" ? true : false)" />8/12&nbsp;
            <input id="rbSteep10" type="radio" name="user.ServiceProviderDetail.CapabilityToClimbSteep" value="10/12"  checked="@(Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "10/12" ? true : false)" />10/12
            <input id="rbSteep12" type="radio" name="user.ServiceProviderDetail.CapabilityToClimbSteep" value="12/12+"  checked="@(Model.user.ServiceProviderDetail.CapabilityToClimbSteep == "12/12+" ? true : false)" />12/12+
           
        </td>

    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td nowrap="nowrap" width="200">&nbsp;</td>
        <td width="100%">&nbsp;</td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td nowrap="nowrap">Has Rope and Harness Experience?&nbsp;
            
            
        </td>
        <td>
            <input id="rbRopenHarnessExpYes" type="radio" name="user.ServiceProviderDetail.HasRopeAndHarnessExp" value="true" checked="@(Model.user.ServiceProviderDetail.HasRopeAndHarnessExp.HasValue ? Model.user.ServiceProviderDetail.HasRopeAndHarnessExp : false)" />Yes&nbsp;
            <input id="rbRopenHarnessExpNo" type="radio" name="user.ServiceProviderDetail.HasRopeAndHarnessExp" checked="@(Model.user.ServiceProviderDetail.HasRopeAndHarnessExp.HasValue ? !Model.user.ServiceProviderDetail.HasRopeAndHarnessExp : true)" 
                value="false" />No&nbsp;

        </td>

    </tr>
 @*   <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td nowrap="nowrap">Has Rope and Harness Equipment?&nbsp;
            
            
        </td>
        <td>
            <input id="rbRopenHarnessEquipYes" type="radio" name="user.ServiceProviderDetail.HasRopeHarnessEquip" value="true" checked="@(Model.user.ServiceProviderDetail.HasRopeHarnessEquip.HasValue ? Model.user.ServiceProviderDetail.HasRopeHarnessEquip : false)" />Yes&nbsp;
            <input id="rbRopenHarnessEquipNo" type="radio" name="user.ServiceProviderDetail.HasRopeHarnessEquip" checked="@(Model.user.ServiceProviderDetail.HasRopeHarnessEquip.HasValue ? !Model.user.ServiceProviderDetail.HasRopeHarnessEquip : true)" 
                value="false" />No&nbsp;

        </td>

    </tr>*@
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td nowrap="nowrap">Are you willing to accept assignments as a field inspector only (Inspection with App–no estimating)?&nbsp;
            
            
        </td>
        <td>
            <input id="rbRoofAssistProgramYes" type="radio" name="user.ServiceProviderDetail.HasRoofAssistProgram" value="true" checked="@(Model.user.ServiceProviderDetail.HasRoofAssistProgram.HasValue ? Model.user.ServiceProviderDetail.HasRoofAssistProgram : false)" />Yes&nbsp;
            <input id="rbRoofAssistProgramNo" type="radio" name="user.ServiceProviderDetail.HasRoofAssistProgram" checked="@(Model.user.ServiceProviderDetail.HasRoofAssistProgram.HasValue ? !Model.user.ServiceProviderDetail.HasRoofAssistProgram : true)" 
                value="false" />No&nbsp;

        </td>

    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td nowrap="nowrap" width="200">&nbsp;</td>
        <td width="100%">&nbsp;</td>
    </tr>
    <tr  style="display:none;">
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">Do you carry E&amp;O Insurance?
             @{
                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                BLL.ServiceProviderDocument spdocument = null;
                BLL.ServiceProviderDetail spdetails = null;
                string showEO = "enabled";
                if (css.ServiceProviderDetails.Where(x => x.UserId == Model.user.UserId).ToList().Count != 0)
                {
                    spdetails = css.ServiceProviderDetails.Where(x => x.UserId == Model.user.UserId).First();
                    if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 8).Count() != 0)
                    {
                        spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 8).First();
                        
                        
                            showEO = "disabled";
                        
                    }
                    if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 12).Count() != 0)
                    {
                        spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 12).First();

                        
                            showEO = "disabled";
                        
                    }
                }
                
                }
                
             <input id="rbHasEOInsuranceYes" name="user.ServiceProviderDetail.EOHasInsurance" type="radio" value="true" @showEO checked="@(Model.user.ServiceProviderDetail.EOHasInsurance.HasValue ? Model.user.ServiceProviderDetail.EOHasInsurance : false)" 
                    onclick="Radio_ClickMultiple(false, 'txtEOPoliyNumber', 'txtEOCarrier', 'txtEOInception', 'txtEOExpiry', 'currency1', 'currency2',true)"/>Yes
            <input id="rbHasEOInsuranceNo" name="user.ServiceProviderDetail.EOHasInsurance" type="radio" value="false" @showEO checked="@(Model.user.ServiceProviderDetail.EOHasInsurance.HasValue ? !Model.user.ServiceProviderDetail.EOHasInsurance : true)"
                   onclick="Radio_ClickMultiple(true, 'txtEOPoliyNumber', 'txtEOCarrier', 'txtEOInception', 'txtEOExpiry', 'currency1', 'currency2',true)" />No
        </td>
    </tr>
    <tr  style="display:none;">
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2">If Yes – please list the following
            <br />
            <table>
                <tr>
                    <td>Policy Number
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.EOPoliyNumber"  id="txtEOPoliyNumber" type="text" value="@Model.user.ServiceProviderDetail.EOPoliyNumber"  />
                    </td>
                </tr>
                <tr>
                    <td>Issuing Company
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.EOCarrier"  id="txtEOCarrier" type="text" value="@Model.user.ServiceProviderDetail.EOCarrier"  />
                    </td>
                </tr>
                <tr>
                    <td>Date of Inception
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.EOInception"  id="txtEOInception" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.EOInception.HasValue ? Model.user.ServiceProviderDetail.EOInception.Value.ToString("MM/dd/yyyy") : "")"
                            />
                    </td>
                </tr>
                <tr>
                    <td>Date of Expiration
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.EOExpiry"  id="txtEOExpiry" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.EOExpiry.HasValue ? Model.user.ServiceProviderDetail.EOExpiry.Value.ToString("MM/dd/yyyy") : "")" />
                    </td>
                </tr>
                <tr>
                    <td>Limits
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.EOLimit" type="text"  onkeypress="numericOnly(this);" onblur="checkCurrency1();" id="currency1"  />
                    </td>
                </tr>
                <tr>
                    <td>Deductible
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.EODeductible" type="text"  onkeypress="numericOnly(this);" onblur="checkCurrency2();" id="currency2"   />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr  style="display:none;">
        <td></td>
        <td colspan="2">
             <table>
                <tr>
                    <td>Attach copy of E&O Insurance: </td>

                </tr>
                <tr>
                    <td>
                        <iframe id="frameUploadEOI" style="overflow:hidden;text-align:right;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=13&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr  style="display:none;">
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">Auto Liability Insurance Details
            
        </td>
    </tr>
    <tr  style="display:none;">
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2">
            
            <table>
                <tr>
                    <td>Auto Liabilty Carrier
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.AutoCarrier" type="text" value="@Model.user.ServiceProviderDetail.AutoCarrier"  />
                    </td>
                </tr>
                <tr>
                    <td>Limits
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.AutoLimit"  onkeypress="numericOnly(this);" onblur="checkCurrency3();" id="currency3"  type="text" />
                    </td>
                </tr>
                <tr>
                    <td>Policy number 
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.AutoPolicyNumber" type="text" value="@Model.user.ServiceProviderDetail.AutoPolicyNumber"
                            />
                    </td>
                </tr>
                <tr>
                    <td>Date of Expiration
                    </td>
                    <td>
                        <input name="user.ServiceProviderDetail.AutoExpiry" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.AutoExpiry.HasValue ? Model.user.ServiceProviderDetail.AutoExpiry.Value.ToString("MM/dd/yyyy") : "")" />
                    </td>
                </tr>


            </table>
            
        </td>
    </tr>
    <tr  style="display:none;">
        <td></td>
        <td colspan="2">
             <table>
                <tr>
                    <td>Attach copy of Auto Liability Insurance: </td>
                </tr>
                <tr>
                    <td>
                        <iframe id="frameUploadALI" style="overflow:hidden;text-align:right;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=14&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<input id="hdnEmployersRowCount" name="hdnEmployersRowCount" type="hidden" value="@(Model.user.ServiceProviderEmployers.Count == 0 ? "1" : Model.user.ServiceProviderEmployers.Count + "")" />
