﻿@model BLL.ViewModels.ServiceProviderDetailViewModel

<table width="100%">
    <tr>
        <td align="left" valign="top" width="50%">
            <table align="center" width="95%" cellspacing="0">
                <tr>
                    <td style="width:150px;" class="borderBottomLightGray">
                        <strong>Licenses</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" colspan="2">Professional, occupational, and vocational licenses (Damage Assessor Licenses) issued 
                by any public or governmental licensing agency or regulatory authority held 
                presently</td>
                </tr>

                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table cellspacing="0">
                            <tr>
                                <td width="150"><b>Type</b>
                                </td>
                                <td width="150"><b>State</b>

                                </td>
                                <td width="150"><b>License Number</b>
                                </td>
                                <td width="150"><b>Expiration Date</b>
                                </td>

                            </tr>
                            @{  
                                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                BLL.StateProvince sp = new BLL.StateProvince();

                                if (Model.user.ServiceProviderLicenses.Count != 0)
                                {

                                    string type = "";
                                    string state = "";
                                    string licenseNo = "";
                                    string expDate = "";
                                    string stateName = "";
                                    int rowIndex = 0;
                                    var objData = css.ServiceProviderLicenses.Where(m => m.UserId == Model.user.UserId);
                                    foreach (var licenses in objData)
                                    {
                                        type = licenses.Type;
                                        state = licenses.State;
                                        licenseNo = licenses.LicenseNumber;

                                        if (!string.IsNullOrEmpty(state))
                                        {
                                            if (state != "--Select--" && state != "0")
                                            {

                                                string listate = css.StateProvinces.Where(m => m.StateProvinceCode == state).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == state).First().Name : "";

                                                stateName = listate;
                                            }
                                        }

                                        if (licenses.ExpirationDate != null)
                                        {

                                            expDate = CSS.Utility.getDateInDefaultFormat(licenses.ExpirationDate.Value);
                                        }
                        
                                <tr>
                                    <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@type</td>
                                    <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@stateName</td>
                                    <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@licenseNo</td>
                                    <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate": "")>@expDate</td>
                                </tr>
                                        rowIndex++;
                                    }

                                }
                                else
                                {
                                <tr>
                                    <td colspan="4">- No Records -
                        
                                    </td>
                                </tr>
                                }
        
                            }



                        </table>
                    </td>

                </tr>
                @*<tr>
            <td bgcolor="#EAEAEA">
                State</td>
            <td bgcolor="#EAEAEA">
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                License Number</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#EAEAEA">
                Expiration Date</td>
            <td bgcolor="#EAEAEA">
                &nbsp;</td>
        </tr>*@
                <tr>

                    <td>&nbsp;<br /><br /></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Has ever been refused a vocational license or a license revoked or suspended?</strong></td>

                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Response:</td>
                    <td bgcolor="#EAEAEA">@(Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked == true ? "Yes" : "No")</td>

                </tr>
                <tr>
                    <td class="borderBottomLightGray" valign="top">If yes, details:</td>

                    <td class="borderBottomLightGray" valign="top">&nbsp; @Model.user.ServiceProviderDetail.VocationalLicenseEverRevokedDetails</td>
                </tr>

                <tr>

                    <td>&nbsp;<br /><br /></td>
                    <td></td>
                </tr>
                <tr>

                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Earthquake Certification</strong></td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Earthquake Certified :</td>
                    <td bgcolor="#EAEAEA">
                        @(Model.user.ServiceProviderDetail.EQCertified == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td>License Number :</td>
                    <td>
                        @Model.user.ServiceProviderDetail.EQCertificationNumber</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Expiration Date :</td>
                    <td bgcolor="#EAEAEA">
                        @{
                            string expirationDate = "";
                            if (Model.user.ServiceProviderDetail.EQExpirationDate != null)
                            {

                                expirationDate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.EQExpirationDate.Value);
                            }
                        }
                        @expirationDate</td>
                </tr>
                <tr>
                    <td valign="top" class="borderBottomLightGray">Copy of Earthquake Certificate:</td>
                    <td class="borderBottomLightGray">
                        <iframe id="frameUploadDL" style="overflow:hidden;text-align:right;" frameborder="0" width="300" height="30" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=4&maxDocsCount=1&displayMode=0&isReadOnly=true")" ></iframe>
                    </td>
                </tr>
                <tr>

                    <td>&nbsp;<br /><br /></td>
                    <td></td>
                </tr>
                <tr>

                    <td colspan="2" class="borderBottomLightGray">
                        <strong>HAAG Certification</strong></td>
                </tr>
                <tr>
                <tr>
                    <td bgcolor="#EAEAEA">HAAG certification :</td>
                    <td bgcolor="#EAEAEA">
                        @(Model.user.ServiceProviderDetail.HAAGCertified == true ? "Yes" : "No")

                    </td>
                </tr>
                <tr>
                    <td>License Number :</td>
                    <td>
                        @Model.user.ServiceProviderDetail.HAAGCertificationNumber </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Expiration Date :</td>
                    <td bgcolor="#EAEAEA">
                        @{
                            string haagexpirationDate = "";
                            if (Model.user.ServiceProviderDetail.HAAGExpirationDate != null)
                            {

                                haagexpirationDate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.HAAGExpirationDate.Value);
                            }
                        }
                        @expirationDate</td>
                </tr>
                <tr>
                    <td valign="top" class="borderBottomLightGray">Copy of HAAG Certificate:</td>
                    <td class="borderBottomLightGray">
                        <iframe id="frameUploadDL" style="overflow:hidden;text-align:right;" frameborder="0" width="300" height="30" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=5&maxDocsCount=1&displayMode=0&isReadOnly=true")" ></iframe>
                    </td>
                </tr>
                <tr>

                    <td>&nbsp;<br /><br /></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Has the certificate of authority or license to do business of any insurance 
                company of which you were an officer or director or key management person ever 
                been suspended or revoked while you occupied such position? </strong></td>

                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Response: </td>
                    <td bgcolor="#EAEAEA">@(Model.user.ServiceProviderDetail.WasCompanyEverSuspended == true ? "Yes" : "No") </td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray" valign="top">If yes, details :</td>
                    <td class="borderBottomLightGray" valign="top">
                        @Model.user.ServiceProviderDetail.CompanySuspendedDetails</td>
                </tr>

            </table>

        </td>
        <td  valign="top" width="50%">
            <table align="center" width="95%" cellspacing="0">
                <tr>
                    <td style="width:150px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Professional designations along with individual company certifications</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table width="100%">
                            <tr>

                                <td width="100"><b>Date</b>
                                </td>
                                <td><b>Designations<br />
                                    (CPCU, AIC, RPA etc)</b>
                                </td>
                                <td><b>Company Certifications<br />
                                    (State Farm, Metlife, TWIA etc)</b>
                                </td>

                            </tr>
                            @{  
                    

                                if (Model.user.ServiceProviderDesignations.Count != 0)
                                {

                                    string desigDate = "";
                                    string designations = "";
                                    string certifications = "";

                                    int rowIndex = 0;
                                    var objData = css.ServiceProviderDesignations.Where(m => m.UserId == Model.user.UserId);
                                    foreach (var spDesig in objData)
                                    {
                                        designations = spDesig.Designation;
                                        certifications = spDesig.Certification;

                                        if (spDesig.Date != null)
                                        {

                                            desigDate = CSS.Utility.getDateInDefaultFormat(spDesig.Date.Value);
                                        }
                        
                                <tr>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@desigDate</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@designations</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@certifications</td>

                                </tr>
                                        rowIndex++;
                                    }

                                }
                                else
                                {
                                <tr>
                                    <td colspan="3">- No Records -
                        
                                    </td>
                                </tr>
                                }
        
                            }


                        </table>
                    </td>
                </tr>
                <tr>

                    <td>&nbsp;<br /><br /></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray">
                        <strong>NFIP Information</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">NFIP Certified :</td>
                    <td bgcolor="#EAEAEA">
                        @(Model.user.ServiceProviderDetail.IsFloodCertified == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td valign="top" class="borderBottomLightGray">Copy of NFIP Certificate :</td>
                    <td class="borderBottomLightGray">
                        <iframe id="frameUploadDL" style="overflow:hidden;text-align:right;" frameborder="0" width="300" height="30" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=6&maxDocsCount=1&displayMode=0&isReadOnly=true")" ></iframe>
                    </td>
                </tr>
                <tr>

                    <td>&nbsp;<br /><br /></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>NFIP Claims</strong></td>
                </tr>
                <tr>

                    <td colspan="2" class="borderBottomLightGray">
                        <table width="100%">
                            <tr>
                                <td><b>Claim Type</b>
                                </td>
                                <td><b>Years of Experience</b>
                                </td>
                            </tr>
                            @{
                                if (Model.NFIPClaimTypeList.Count != 0)
                                {
                                    int rowIndex = 0;

                                    for (int i = 0; i < Model.NFIPClaimTypeList.Count; i++)
                                    {
                                        BLL.ServiceProviderFloodExperience floodexp = null;

                                        string FYearsOfExp = "";
                                        string HasExperience = "";

                                        if (Model.user.ServiceProviderFloodExperiences.Where(m => m.ClaimTypeId == Model.NFIPClaimTypeList.ElementAt(i).Key).Count() != 0)
                                        {
                                            floodexp = Model.user.ServiceProviderFloodExperiences.Where(m => m.ClaimTypeId == Model.NFIPClaimTypeList.ElementAt(i).Key).First();
                                            FYearsOfExp = floodexp.YearsOfExperience + "";
                                        }
                                <tr>

                                    <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@Model.NFIPClaimTypeList.ElementAt(i).Value:
                                    </td>
                                    
                                    <td  @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                                        @FYearsOfExp
                                    </td>
                                </tr>
                                        rowIndex++;
                                    }


                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2">- No Records -</td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<br /><br /></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Have you handled Commercial/RC Bap Claims before?</strong>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Response:</td>
                    <td bgcolor="#EAEAEA">@(Model.user.ServiceProviderDetail.HasCommercialClaims == true ? "Yes" : "No")</td>

                </tr>
                <tr>
                    <td class="borderBottomLightGray" valign="top">If yes, details:</td>

                    <td class="borderBottomLightGray" valign="top">&nbsp; @Model.user.ServiceProviderDetail.CommercialClaims</td>
                </tr>

            </table>

        </td>
    </tr>
</table>































