﻿@model BLL.ViewModels.ServiceProviderDetailViewModel
@using System.Configuration
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    BLL.ServiceProviderDocument spdocument = null;
    BLL.ServiceProviderDetail spdetails = null;
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}

<table  width="100%">
    <tr>
        <td align="left" valign="top" width="50%">
            <table width="95%" align="center" cellspacing="0">
                <tr><td style="width:150px;" ></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <strong>Claims Preference Information</strong></td>
                    
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"  >Daily:</td>

                    @{

                        string TypeOfClaimPref = "";
                        string chkDaily = "";
                        string chkFlood = "";
                        string chkHurricane = "";
                        string chkSupervision = "";
                        string chkMobileHomes = "";
                        string chkWind = "";
                        string chkOther = "";

                        if (Model.user.ServiceProviderDetail.TypeOfClaimsPref != null && Model.user.ServiceProviderDetail.TypeOfClaimsPref != "")
                        {
                            string[] strArrayClaimPref = new string[10];
                            TypeOfClaimPref = Model.user.ServiceProviderDetail.TypeOfClaimsPref;
                            strArrayClaimPref = TypeOfClaimPref.Split(',');
                            for (int i = 0; i < strArrayClaimPref.Length; i++)
                            {
                                string strVal = strArrayClaimPref[i];

                                switch (strVal)
                                {
                                    case "Daily":
                                        chkDaily = "Yes";
                                        break;
                                    case "Flood":
                                        chkFlood = "Yes";
                                        break;
                                    case "Hurricane":
                                        chkHurricane = "Yes";
                                        break;
                                    case "Inside Claims Handling/Supervision":
                                        chkSupervision = "Yes";
                                        break;
                                    case "Mobile Homes":
                                        chkMobileHomes = "Yes";
                                        break;
                                    case "Wind/Hail":
                                        chkWind = "Yes";
                                        break;
                                    case "Other":
                                        chkOther = "Yes";
                                        break;

                                }

                            }
                        } 
            
         
                    }
                    <td bgcolor="#EAEAEA"  >

                        @chkDaily
                    </td>
                </tr>
                <tr>
                    <td  >Flood:</td>
                    <td  >@chkFlood</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"   >Hurricane:
                    </td>
                    <td bgcolor="#EAEAEA"  >

                        @chkHurricane
                    </td>
                </tr>
                <tr>
                    <td   >Inside Claims Handling/Supervision:</td>
                    <td  >@chkSupervision</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"   >Mobile Homes:</td>
                    <td bgcolor="#EAEAEA"  >@chkMobileHomes</td>
                </tr>
                <tr>
                    <td   >Wind/Hail:</td>
                    <td  >@chkWind</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"   >Other:</td>
                    <td bgcolor="#EAEAEA"  >@chkOther</td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray" valign="top">Other Description:</td>
                    <td class="borderBottomLightGray" valign="top">@Model.user.ServiceProviderDetail.TypeOfClaimsPrefOthers</td>
                </tr>
                <tr>
                    <td  >&nbsp;<br /><br /></td>
                    <td  >&nbsp;</td>
                </tr>
                 <tr>
                    <td colspan="2" class="borderBottomLightGray"><strong>
                        During the last ten (10) years, has ever been refused a professional, occupational,
            or vocational license by any public or governmental licensing agency or regulatory
            authority, or any such license held has ever been suspended or revoked?</strong></td>
               
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA">Response:</td>
                    <td  bgcolor="#EAEAEA">@(Model.user.ServiceProviderDetail.AnyLicenseEverRevoked == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td colspan="2">
                     If yes,details:</td>
                    <td> </td>
                </tr>
                <tr>
                    <td colspan="2" bgcolor="#EAEAEA">@Model.user.ServiceProviderDetail.AnyLicenseEverRevokedDetails</td>
                </tr>
                  <tr>
                    <td  >&nbsp;<br /><br /></td>
                    <td  >&nbsp;</td>
                </tr>
                <tr>
                    <td class="borderBottomLightGray"><strong>Convictions</strong>
                     </td>
                    <td class="borderBottomLightGray">
                    </tr>
                        <tr>
                    <td bgcolor="#EAEAEA" valign="top" >
                        Had any DWI/DUI convictions in the last 5 years:
        
                     </td>
                    <td bgcolor="#EAEAEA" valign="top" >
                            @(Model.user.ServiceProviderDetail.HasDWIDUIConvections == true ? "Yes" : "No")
                    </tr>
                <tr>
                    <td  valign="top">
                        Has ever been convicted of, plead guilty to, or plead nolo contender (no contest)
            to a felony or misdemeanor:
           
                     </td>
                    <td valign="top" >
                         @(Model.user.ServiceProviderDetail.HasFelonyConvictions == true ? "Yes" : "No")
                        </td>
                    </tr>
                        <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray" valign="top">
                        If yes,details and location (county) of offense:
                     </td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray" valign="top">
                         @Model.user.ServiceProviderDetail.FelonyConvictionsDetails
                    </tr>
                <tr>
                    <td  >&nbsp;<br /><br /></td>
                    <td  >&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray"><strong>Documents</strong>
                     </td>
          
                    </tr>
                        @*<tr>
                    <td valign="top" bgcolor="#EAEAEA">
                        Copy of Agreement:
                     </td>
                    <td  bgcolor="#EAEAEA" >
                        @if (Model.IsSertifiAgreementSigned)
                        {
                            <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                            <a href="@Model.SertifiAgreementSignedURL" target="_blank">View E-Signed Document </a>
                        }
                        else
                        {
                            @:Document Not Signed
                        }
                        
                    </tr>*@
                <tr style="display:none">
                    <td   valign="top">
                        Copy of W9:
                     </td>
                    <td  >
                         @if (Model.IsSertifiW9Signed)
                        {
                             <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                            <a href="@Model.SertifiW9SignedURL" target="_blank">View E-Signed Document </a>
                        }
                        else
                        {
                            @:Document Not Signed
                        }
                    </tr>
                       
                <tr>
                    <td valign="top" bgcolor="#EAEAEA">
                        IA Contract:
                    </td>
                    <td bgcolor="#EAEAEA">
                        @if (Model.IsSertifi2020AgreementSigned)
                        {
                            <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                            <a href="@Model.Sertifi2020AgreementSignedURL" target="_blank">View E-Signed Document </a>
                        }
                        else
                        {
                            @:Document Not Signed
                        }
                        
                    </td>

                </tr>

                <tr style="display:none">
                    <td valign="top" bgcolor="#EAEAEA">
                        Exhibit A Form:
                    </td>
                    <td bgcolor="#EAEAEA">
                        @if (Model.IsSertifiExhibitASigned)
                        {
                    
                            <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                            <a href="@Model.SertifiExhibitASignedURL" target="_blank">View E-Signed Document </a>
                        }
                        else
                        {
                            @:Document Not Signed
                        }

                    </td>
                </tr>  
                <tr style="display:none">
                    <td valign="top" bgcolor="#EAEAEA">
                        Exhibit B Form:
                    </td>
                    <td bgcolor="#EAEAEA">
                        @if (Model.IsSertifiExhibitBSigned)
                        {
                            <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                            <a href="@Model.SertifiExhibitBSignedURL" target="_blank">View E-Signed Document </a>
                        }
                        else
                        {
                            @:Document Not Signed
                        }
                    </td>
                </tr>
                <tr style="display:none">
                    <td valign="top" bgcolor="#EAEAEA">
                        Exhibit C Form:
                    </td>
                    <td bgcolor="#EAEAEA">
                        @if (Model.IsSertifiExhibitCSigned)
                        {
                            <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                            <a href="@Model.SertifiExhibitCSignedURL" target="_blank">View E-Signed Document </a>
                        }
                        else
                        {
                            @:Document Not Signed
                        }
                    </td>
                </tr>
                </table>

               
        </td>
        <td valign="top" width="50%">
            <table align="center" width="95%" cellspacing="0">


                <tr>
                    <td style="width:150px;" class="borderBottomLightGray">
                        <strong>Work Information</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" valign="top"  >Prefer's working as an inside examiner:</td>
                    <td bgcolor="#EAEAEA" valign="top"  >
                        @(Model.user.ServiceProviderDetail.ConsiderWorkingInCat == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td  >Has experience working as an inside examiner:</td>
                    <td  >
                        @(Model.user.ServiceProviderDetail.HasExperienceWorkingInCat == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" valign="top"  >Work Date:</td>
                    <td bgcolor="#EAEAEA" valign="top"  >@{
                string examinerdate = "";
                if (Model.user.ServiceProviderDetail.ExperienceWorkingInCatWhen != null)
                {
                    examinerdate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.ExperienceWorkingInCatWhen.Value);
                }    
            }
            @examinerdate</td>
                </tr>
                <tr>
                    <td  >Company:</td>
                    <td  >@Model.user.ServiceProviderDetail.CatCompany</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray" valign="top"  >Duties:</td>
                      <td bgcolor="#EAEAEA" widht="100%" class="borderBottomLightGray" valign="top" > @Model.user.ServiceProviderDetail.CatDuties</td>
                </tr>
                 <tr>
                    <td  >&nbsp;<br /><br /></td>
                    <td  >&nbsp;</td>
                </tr>
                  <tr>
                    <td class="borderBottomLightGray" colspan="2" ><b>Insurers in Service Provider control's directly or indirectly or own legally or
            beneficially 10% or more of the outstanding stock (in voting power):</b></td>
                      </tr>
                          <tr>
                              
                    <td class="borderBottomLightGray" colspan="2" bgcolor="#EAEAEA" >@( Model.user.ServiceProviderDetail.InsurerStakeholderList == null ? "N/A" : Model.user.ServiceProviderDetail.InsurerStakeholderList)
                        </tr>
                 <tr>
                    <td  >&nbsp;<br /><br /></td>
                    <td  >&nbsp;</td>
                </tr>
                 <tr>
                    <td colspan="2" class="borderBottomLightGray"><strong>Has ever been an officer, director, trustee, investment committee member, key
            employee, or controlling stockholder of any insurer which, while Service Provider occupied any
            such position or capacity with respect to it, became insolvent or was placed under
            supervision or in receivership, rehabilitation,liquidation, or conservatorship?</strong>
            </td>
                    
                       
                        </tr>
                <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray"> Response:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray"> @(Model.user.ServiceProviderDetail.BecameInsolvent == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td  >&nbsp;<br /><br /></td>
                    <td  >&nbsp;</td>
                </tr>
                   @{
        //BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
        BLL.StateProvince sp = new BLL.StateProvince();
        string State = "";
        if (Model.user.ServiceProviderDetail.DeployedState != null)
        {
            if (Model.user.ServiceProviderDetail.DeployedState != "--Select--" && Model.user.ServiceProviderDetail.DeployedState != "0")
            {
                string state = css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.ServiceProviderDetail.DeployedState).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.ServiceProviderDetail.DeployedState).First().Name : "";
                State = state;
               
            }

        }
    }
                
            @if (Model.user.Active.HasValue)
            {
                if (Model.user.Active == true)
                { 
                    <tr>
                        <td class="borderBottomLightGray"><b>Additional Information</b></td>
                        <td class="borderBottomLightGray"></td>
                    </tr>
                      <tr>

        <td>
                Currently Accepting assignments from Pacesetter Claims:</td>
                          <td>
                @(Model.user.ServiceProviderDetail.IsAcceptingAssignments == true ? "Yes" : "No")
              </td>
    </tr>
            
                   <tr>

        <td bgcolor="#EAEAEA">    
                Available for deployment :</td>
                       <td bgcolor="#EAEAEA">
                @(Model.user.ServiceProviderDetail.IsAvailableForDeployment == true ? "Yes" : "No")
                 </td>
    </tr>
                <tr>
                    <td>Has been deployed:</td>
                    <td>@(Model.user.ServiceProviderDetail.IsDeployed == true ? "Yes" : "No")</td>
                </tr>
                 <tr>
                     <td bgcolor="#EAEAEA">Deployment Zip:</td>
                     <td bgcolor="#EAEAEA">@Model.user.ServiceProviderDetail.DeployedZip</td>
                     </tr>
                 <tr>
                     <td>Deployment State:</td>
                     <td>@Model.user.ServiceProviderDetail.DeployedState</td>
                     </tr>
                   <tr>
                     <td bgcolor="#EAEAEA" class="borderBottomLightGray">Deployment City:</td>
                     <td bgcolor="#EAEAEA" class="borderBottomLightGray">@Model.user.ServiceProviderDetail.DeployedCity</td>
                     </tr>
                <tr>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">AdjusterType:</td>
                    @{
                        if (Model.user.ServiceProviderDetail.AdjusterType == 1)
                        {
                            <td bgcolor="#EAEAEA" class="borderBottomLightGray">CAT</td>
                        }
                        else if (Model.user.ServiceProviderDetail.AdjusterType == 2)
                        {
                            <td bgcolor="#EAEAEA" class="borderBottomLightGray">Daily</td>
                        }
                        else if (Model.user.ServiceProviderDetail.AdjusterType == 3)
                        {
                            <td bgcolor="#EAEAEA" class="borderBottomLightGray">Both</td>
                        }
                    }
                    
                </tr>

                @*<tr>
                    @{var adjusterType = (BLL.ViewModels.AdjusterType)Model.user.ServiceProviderDetail.AdjusterType;}
                      <td bgcolor="#EAEAEA" class="borderBottomLightGray">Adjuster Type:</td>
                      <td bgcolor="#EAEAEA" class="borderBottomLightGray">@adjusterType</td>
                </tr>*@
                }


            }
 
                
            </table>
        </td>
    </tr>

</table>


