﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.ContractorTypeSearchViewModel
@{
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}
<style type="text/css">
    #backgroundTemplatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }


    .EditTemplatePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#txtZip1").blur(function () {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
                { ZipCode: $("#txtZip1").val() },
                 function (data) {
                     if (data != -1) {
                         $("#txtState").val(data.State);
                         $("#txtCity").val(data.City);
                     }
                     else {
                         $("#txtState").val("");
                         $("txtCity").val("");
                     }

                 });
        });
    });
    $(function () {
        $("#TxtCompFax").mask('(999)999-9999');
        $("#txtCompPhone").mask('999-999-9999');
    });

    $(function () {
        $("#Isactive").checked = true;
    });

    $(function () {
        $("#submit").on('click', function () {
       // $("#CompanyName").on('blur', function () {
            if ($('#CompanyName').val().length > 41) {
                alert("Company name Characters should be less than 41")
                return false;
            }
       // });
        });
    });

    $(document).ready(function () {

        var selected = '@Model.region';
        if (selected != '' && selected != null) {
            var arr = selected.split(',');
            var obj = $('#mySelectBox');
            for (var j = 0; j < arr.length; j++) {
                var val = arr[j];
                obj.find('option:[value=' + val + ']').attr('selected', 1);
            }
        }
        ddlIntTypeList_OnChange();

    });
    function ddlIntTypeList_OnChange() {
        if ($("#ddlIntTypeList").val() == "1") {
            $("#divUsesSharedDataset").show();
            $("#tdXactBusinessUnit").show();
            $("#tdXactsendinvoices").show();
        }
        else {
            $("#divUsesSharedDataset").hide();
            $("#tdXactBusinessUnit").hide();
            $("#tdXactsendinvoices").hide();
            $("#cbUsesSharedDataset").removeAttr("checked");
            $("#HasDocumentBridge").removeAttr("checked");
        }
    }

    function loadTemplatePopup(url) {

        debugger;

        document.getElementById("iframeTemplate").src = url;
        centerTemplatePopup();


        $("#backgroundTemplatePopup").css({
            "opacity": "0.7"
        });

        $("#backgroundTemplatePopup").fadeIn("slow");
        $("#divTemplate").fadeIn("slow");

        //var data=$('#iframeTemplate').contents().find('span.k-input');
        //$(data).text("Insert PlaceHolder");

        return false;
    }

    function centerTemplatePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divTemplate").height();
        var popupWidth = $("#divTemplate").width();
        //centering
        $("#divTemplate").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundTemplatePopup").css({
            "height": windowHeight
        });
        return false;
    }


    function disableTemplatePopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundTemplatePopup").fadeOut("slow");
            $("#divTemplate").fadeOut("slow");
            popupStatus = 0;
        }

    }


</script>
<head>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
    </style>
</head>

@Html.HiddenFor(model => model.companyid)


<table width="100%" align="center">
    <tr>
        <td valign="top" width="350">
            <table align="left" cellspacing="2" width="350">


                <tr>
                    <td valign="top" colspan="2" class="borderBottomLightGray">
                        <b>Basic Information</b>
                    </td>

                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Company Name:
                    </td>
                    <td valign="top" width="600">
                        @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = "41" })
                    </td>
                </tr>
                @*<tr>
                    <td valign="top" nowrap="nowrap">
                        Carrier Id:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.CarriedId)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Tax Id:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.TaxID)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Integration Company:
                    </td>
                    <td valign="top" nowrap="nowrap">
                        <div style="float: left; width: 180px;">@Html.DropDownListFor(model => model.IntegrationTypeId, Model.IntegrationTypeList, new { @id = "ddlIntTypeList", @onchange = "ddlIntTypeList_OnChange()", @style = "width:170px;" }) &nbsp;&nbsp;</div>

                    </td>

                </tr>
                <tr id="divUsesSharedDataset">
                    <td valign="top" nowrap="nowrap" style="height: 25px;">
                        Uses Shared Dataset:
                    </td>
                    <td valign="top" nowrap="nowrap" align="left">
                        @Html.CheckBoxFor(model => model.UsesSharedDataset, new { @id = "cbUsesSharedDataset" })
                    </td>

                </tr>
                <tr id="tdXactsendinvoices">
                    <td align="left">
                        Send Invoice:

                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.HasDocumentBridge)
                    </td>

                </tr>

                <tr id="tdXactBusinessUnit">
                    <td valign="top" nowrap="nowrap" style="height: 25px;">
                        Xact Business Unit:
                    </td>
                    <td valign="top" nowrap="nowrap" align="left">
                        @Html.TextBoxFor(model => model.XACTBusinessUnit)
                    </td>

                </tr>*@

                @*<tr>
                    <td valign="top" nowrap="nowrap">
                        Company logo:
                    </td>
                    <td valign="top" nowrap="nowrap">
                        <table>
                            <tr>
                                <td nowrap="nowrap">Attach your Logo: </td>
                            </tr>
                            <tr>
                                <td>
                                    @if (Model.logo != "" && Model.logo != null)
                                    {
                                        string absoluteThumnailFileName = Model.companyid + "/" + Model.logo;
                                        string baseFolder = "/UserUploads/ServiceProviderDocuments/";
                                        //string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteThumnailFileName);
                                        string thumbnailFileUrl = baseFolder + absoluteThumnailFileName;

                                        <a href="@Url.Action("DeleteLogo", "ContractorCompany", new { CompanyId=@Model.companyid })" style="border: none; color: black; cursor: pointer;float:left;">
                                            <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick="return confirm('Are you sure you want to Delete ?')" />
                                        </a>
                                        <img id="companyLogo" width="100" height="100" src="@thumbnailFileUrl" />
                                    }
                                    else
                                    {
                                        <input type="file" id="file1" name="file1" value="file" />
                                    }
                                </td>
                            </tr>
                        </table>


                    </td>
                </tr>*@
                <tr>
                    @*<td valign="top" nowrap="nowrap">
                        Regions:<u> </u>
                    </td>
                    <td valign="top">*@
                        @*@Html.ListBoxFor(model => model.regions, Model.RegionTypeList, new { id = "mySelectBox" })*@
                        @* @Html.ListBoxFor(model => model.RegionId,new SelectList((IEnumerable<SelectListItem>)Model.RegionTypeList,"RegionId","Region1" ))*@
                        @* @Html.ListBoxFor(model => model.RegionTypeList, new MultiSelectList(Model.RegionTypeList, "RegionId", "Region"))*@
                    @*</td>*@
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Is Active:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.CheckBoxFor(model => model.IsActive, new { id = "Isactive" })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">Preferred Company</td>
                    <td valign="top">
                        @Html.CheckBoxFor(model => model.IsPreferred, new { id = "IsPreferred" })

                    </td>
                   
                </tr>
            </table>
        </td>
        <td valign="top" width="350">

            <table width="350">
                <tr>
                    <td valign="top" colspan="2" class="borderBottomLightGray">
                        <b>Contact Information</b>
                    </td>

                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Address:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Address, new { id = "txtcntAddress", @readonly = true })
                        @*@Html.TextBoxFor(model => model.Address, new { @readonly = true })*@
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        City:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.City, new { id = "txtCity", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        State:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.State, new { id = "txtState", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Zip:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Zip, new { id = "txtZip1", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Phone:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { id = "txtCompPhone", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Email:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Email, new { id = "txtEmailPhone", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Fax:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Fax, new { id = "TxtCompFax", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Webstite URL:<u> </u>
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.WebsiteURL, new { @readonly = true })
                    </td>
                </tr>
                <tr>
                    @*<td nowrap="nowrap">
                        Add Template

                    </td>*@
                    @*<td>

                        <input type="button" id="addtemplate" value="Add Template" onclick="loadTemplatePopup('@Url.Action("EmailTemplate", "EmailTemplate", new { HeadCompanyId = Model.companyid, TemplateId = -1, StatusId = -1 })    ')" />
                    </td>*@
                </tr>
            </table>

        </td>
        <td valign="top" width="350" style="display:none;">
            <table width="350">
                <tr>
                    <td valign="top" colspan="2" class="borderBottomLightGray">
                        <b>User Credentials</b>
                    </td>

                </tr>
               
                <tr>
                    <td valign="top" nowrap="nowrap">
                         User Name:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                         Password:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td valign="top" nowrap="nowrap">
                        Confirm Password:
                    </td>
                    <td valign="top">
                        @Html.TextBoxFor(model => model.ConfirmPassword)
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="2">
            <br />
        </td>
    </tr>
    @*<tr>
        <td valign="top" colspan="3" class="borderBottomLightGray">
            <b>Company Requirements</b>
        </td>

    </tr>
    <tr>
        <td valign="top" colspan="3">*@
            @*<div style="width: 700px;">@Html.Partial("_Requirements", Model.RequirementsViewModel)</div>*@
        @*</td>
    </tr>*@

</table>

<div id="backgroundTemplatePopup" onclick="disableTemplatePopup();"></div>

<div id="divTemplate" class="EditTemplatePopup" style="width: 95%;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Template</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableTemplatePopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeTemplate" style="width: 100%; height: 700px" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
        <tr>
            <td class="footer" align="center">
                <br />
            </td>
        </tr>
    </table>

</div>


<script type="text/javascript">
    //function loadIframetest() {
    //    //alert('wasss up do?');
    //    debugger;
    //    // alert($('#tdtemplate'));
    //    //alert($('#iframeTemplate').contents().find('#txttest').val());
    //    alert( $('#iframeTemplate').contents().find('span.k-input').html());
    //    //var data=$('#iframeTemplate').contents().find('span.k-input');
    //    //$(data).text("Insert PlaceHolder");
    //}

    //$('#iframeTemplate').ready(function () {
    //    //Everything you need.
    //    debugger;
    //    alert('wasss up do?');
    //});


</script>


