﻿@using BLL
@model IEnumerable<ServiceProviderGetDetails_Result>

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style>

</style>

<table style="width: 100%;">
    @{
        List<ServiceProviderGetDetails_Result> GetDetails = new List<ServiceProviderGetDetails_Result>();
        GetDetails = Model.ToList();
        var SPDetails = GetDetails.FirstOrDefault();
    }
    <tr>
        <td>
            <div style="height : 20%;">

            </div>
            <table width="100%" style="padding-bottom:14px;">
                <tr></tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>Name </b>
                    </td>
                    <td>
                        @SPDetails.FirstName @SPDetails.LastName
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Address  </b>
                    </td>
                    <td>@SPDetails.StreetAddress</td>
                </tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>Zip </b>
                    </td>
                    <td>@SPDetails.Zip</td>
                </tr>
                <tr>
                    <td>
                        <b>State </b>
                    </td>
                    <td>
                     @{                        
                        var StateProvinces = css.StateProvinces.Where(x => x.StateProvinceCode == SPDetails.State).FirstOrDefault();
                    }
                     @StateProvinces.Name</td>
                </tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>City </b>
                    </td>
                    <td>@SPDetails.City</td>
                </tr>
                <tr>
                    <td>
                        <b>Contact No </b>
                    </td>
                    <td>@SPDetails.MobilePhone</td>
                </tr>
                <tr class="tableRowAlternate">
                    <td>
                        <b>Email </b>
                    </td>
                    <td>@SPDetails.Email</td>
                </tr>
            </table>
        </td>
    </tr>

</table>