﻿@model IEnumerable<BLL.usp_Get_SPHoldBackPayablesList_Result>
<table cellspacing="0" cellpadding="3" width="100%">


    <tr class="tableHeader" valign="top">
        <td nowrap="nowrap"></td>
        <td nowrap="nowrap">Service Provider</td>
        <td nowrap="nowrap">Invoice Number</td>
        <td nowrap="nowrap">Release Hold Back</td>
        <td nowrap="nowrap">Amount($)</td>
        <td nowrap="nowrap" align="right">
            PaymentDate
        </td>

    </tr>
    @{
        int recordIndex = 0;
        foreach (var record in Model)
        {
            <tr>
                <td>
                    @if(!record.PaymentDate.HasValue){
                    <a href="#" style="border: none; color: black; text-decoration: none;" onclick="EditSPHoldBackPayables(@record.HBID)">
                        <img src="/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;">
                    </a>
                    }
                @*<a style="text-decoration: none; color: blue;" href="#" onclick="EditSPHoldBackPayables(@record.HBID)"><b>Edit</b></a>*@
                </td>
                <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">@record.SPName</td>
                <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                 @record.InvoiceNo
                </td>
                <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                    @if (record.release_HoldBack == "P")
                    {
                        <text>Partial</text>
                    }
                    else if (record.release_HoldBack == "F")
                    {  <text>Full</text>}
                </td>
                <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">

                    @(record.pay_Amount.HasValue ? String.Format("{0:0.##}", record.pay_Amount.Value) : "")
                </td>
                <td class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")" align="right">

                    @(record.PaymentDate.HasValue ? record.PaymentDate.Value.ToString("MM/dd/yyyy hh:mm tt") : "")
                </td>

            </tr>
                    recordIndex++;
        }
        if (recordIndex == 0)
        {
            <tr>
                <td class="tableRow" align="center" colspan="8">- No Records -</td>
            </tr>
        }
    }
    <tr>
        <td colspan="6" align="right" style="padding-right: 5px;"></td>

    </tr>

</table>