﻿@model BLL.SPHoldBackPayable


@using (Html.BeginForm("SPHoldBackPayables", "PropertyAssignmentInvoice", FormMethod.Post, new { id = "frmSPHoldBackPayables" }))
{
<table style="padding-left:5px;padding-right:5px;width: 100%" bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
    <tr>
        <td style="height: 20px"></td>
    </tr>
  
    <tr>
        <td colspan="3" class="subHeading">&nbsp;&nbsp;SP HoldBack Payable&nbsp;&nbsp;
        <a style="text-decoration: none; color: blue;" href="#" onclick="ADDSPHoldBackPayables(@Model.PAid)"><b>New</b></a></td>
    </tr>
    <tr>
        <td width="10px"></td>
        <td valign="top">
            <table width="100%">
                <tr height="15px">
                    <td></td>
                    <td>
                       
                    </td>
                    <td style="display: none;">
                        @Html.HiddenFor(model => model.PAid)
                        @Html.HiddenFor(model => model.InvoiceId, new { @id = "hdnInvoiceId" })
                        @Html.HiddenFor(model => model.SPId, new { @id = "hdnSPID" })
                        @Html.HiddenFor(model => model.HBID, new { @id = "hdnHBID" })
                    </td>
                </tr>
                <tr height="30px">
                    <td>Full SP Pay Amount:</td>
                    <td>@Html.TextBoxFor(model => model.full_SPPayAmt, Model.full_SPPayAmt.HasValue ? Model.full_SPPayAmt.Value.ToString("N2") : "", new { @id = "txtfull_SPPayAmt", @readonly = true })</td>
                </tr>
                <tr height="30px">
                    <td>Release Hold Back:</td>
                    <td>
                        @Html.RadioButtonFor(model => model.release_HoldBack, "P", new { @onChange = "fun_release_HoldBack('P')" })Partial  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.release_HoldBack, "F", new { @onChange = "fun_release_HoldBack('F')" })Full
                    </td>
                </tr>
                <tr height="30px">
                    <td>Percentage or Set Amount:</td>
                    <td>
                        @Html.RadioButtonFor(model => model.PA_type, "P", new { @id = "PA_type_P", @onChange = "fun_PA_type('P')" })Percentage  &nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.PA_type, "A", new { @id = "PA_type_A", @onChange = "fun_PA_type('A')" })Set Amount
                    </td>
                </tr>
                <tr height="30px">
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.pay_Percentage, new { style = "width:75px", @id = "txtpay_Percentage" }) % &nbsp;&nbsp;&nbsp;

                        Amount($): @Html.TextBoxFor(model => model.pay_Amount, new { style = "width:75px", @id = "txtpay_Amount" })
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div id="divPaymentValidationMsg" class="errorMsg"></div>
            <table width="100%">
                <tr height="15px">
                    <td></td>
                    <td></td>
                    <td style="display: none;">
                       
                    </td>
                </tr>
                <tr height="30px">
                    <td>Outstanding Hold Back:</td>
                    <td>@Html.TextBoxFor(model => model.outstanding_HoldBack, new { @id = "txtoutstanding_HoldBack", @readonly = "readonly" })</td>
                </tr>
                <tr height ="30px">
                    <td></td>
                    <td></td>
                </tr>
                <tr height="30px">
                    <td></td>
                    <td></td>
                </tr>
                <tr><td><br /></td><td></td></tr>
                <tr>
                    <td></td>
                    <td>
                        @{
                      
                            @*<input type="button" value="Clear" class="buttonLightYellow_100" onclick="clearPaymentFields()" />*@
                            <input type="button" id="btnPaymentAdd" value="Submit" class="buttonLightYellow_100" onclick="submit_Click()" /> <img id="imgAddPaymentProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />
                       
                    }
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>

    <td colspan="3" style="text-align: right">
        &nbsp;
    </td>
</tr>



<tr>
    <td colspan="3" class="subHeading">&nbsp;&nbsp;Hold Back Details</td>
</tr>

<tr>
    <td colspan="3">
        <div id="GetSPHoldBackPayablesListDIV">
            @{
               Html.RenderAction("GetSPHoldBackPayablesList", "PropertyAssignmentInvoice", new { PAID = Model.PAid });
            }
        </div>
    </td>
</tr>

<tr>

    @*<td colspan="3" class="content">
        <div id="divPaymentListing">
            @Html.Partial("_PaymentList")

        </div>
        <br /><br />

    </td>*@
</tr>
</table>
}

<script type="text/javascript">

    function formatCurrency(value, id) {

        if ((String(value)).indexOf("$") != -1 || String(value) == "") {
            return;
        }
        var buf = "";
        var sBuf = "";
        var j = 0;
        value = String(parseFloat(value).toFixed(2));

        if (value.indexOf(".") >= 0) {
            buf = value.substring(0, value.indexOf("."));
        } else {
            buf = value;
        }
        if (buf.length % 3 != 0 && (buf.length / 3 - 1) > 0) {
            sBuf = buf.substring(0, buf.length % 3) + ",";
            buf = buf.substring(buf.length % 3);
        }
        j = buf.length;
        for (var i = 0; i < (j / 3 - 1) ; i++) {
            sBuf = sBuf + buf.substring(0, 3) + ",";
            buf = buf.substring(3);
        }
        sBuf = sBuf + buf;
        if (value.indexOf(".") >= 0) {
            //value = '$' + sBuf + value.slice(value.indexOf("."), value.indexOf(".") + 3);
            value = sBuf + value.slice(value.indexOf("."), value.indexOf(".") + 3);
        }
        else {
            //value = '$' + sBuf + '.00';
            value = sBuf + '.00';
        }
        $('#' + id).val(value);
    }
    function fun_release_HoldBack(type) {
        if (type == 'P') {
            $("#PA_type_P").prop("disabled", false);
            $("#PA_type_A").prop("disabled", false);
        }
        else if (type == 'F') {
            debugger;
            $("#PA_type_P").prop("disabled", true);
            $("#PA_type_A").prop("disabled", true);
            $("#txtpay_Percentage").prop("readonly", true);
            $("#txtpay_Amount").prop("readonly", true);
            $txtpay_Percentage = $('#txtpay_Percentage');
            $txtpay_Percentage.val(100);
            $txtpay_Percentage.trigger('blur');
        }
    }
    function fun_PA_type(type) {
        if (type == 'P') {
            $("#txtpay_Percentage").prop("readonly", false);
            $("#txtpay_Amount").prop("readonly", true);
        }
        else if (type == 'A') {
            debugger;
            $("#txtpay_Percentage").prop("readonly", true);
            $("#txtpay_Amount").prop("readonly", false);
        }
    }
    $(document).ready(function () {

        $txtpay_Percentage = $('#txtpay_Percentage');
        $txtpay_Percentage.on('blur', function () {
            var amtval = (parseFloat($('#txtoutstanding_HoldBack').val()) * (parseFloat($txtpay_Percentage.val()) / 100));
            formatCurrency(amtval, 'txtpay_Amount');
        });

    })


    function GetSPHoldBackPayablesList(PAID) {
        debugger;
        $("#divFinancialsLoading").show();
        $.ajax(
               {
                   type: 'POST',
                   url: '@Url.Action("GetSPHoldBackPayablesList", "PropertyAssignmentInvoice")',
                   data: { PAID: PAID },
                   success: function (data) {
                       $("#divFinancialsLoading").hide();
                       $("#GetSPHoldBackPayablesListDIV").empty();
                       $("#GetSPHoldBackPayablesListDIV").append(data);

                   },
                   error: function (jq, status, message) {
                       $("#divFinancialsLoading").hide();
                   }
               });
    }
</script>