﻿@model BLL.ViewModels.SplitSPPayViewModel
<script type="text/javascript">
    $('#txtAdjustedSP1PayPercent').blur(function () {
        $('#txtAdjustedSP1Pay').val(parseFloat($('#txtSplitAmount').val()) * parseFloat($('#txtAdjustedSP1PayPercent').val()) / 100);
        $('#txtAdjustedSP2PayPercent').val(100 - $('#txtAdjustedSP1PayPercent').val());
        $('#txtAdjustedSP2PayPercent').trigger('blur');
    });
    $('#txtAdjustedSP2PayPercent').blur(function () {
        $('#txtAdjustedSP2Pay').val(parseFloat($('#txtSplitAmount').val()) * parseFloat($('#txtAdjustedSP2PayPercent').val()) / 100);
        $('#txtAdjustedSP1PayPercent').val(100 - $('#txtAdjustedSP2PayPercent').val());
        $('#txtAdjustedSP1PayPercent').trigger('blur');
    });
</script>
@Html.HiddenFor(model=>model.ClaimId)
@Html.HiddenFor(model=>model.InvoiceId)
@Html.HiddenFor(model => model.SplitAmount, new { @id="txtSplitAmount" })
@Html.HiddenFor(model=>model.SPList[0].SPId)
@Html.HiddenFor(model=>model.SPList[1].SPId)

<table>
    <tr>
        <td colspan="4"><b>@Model.SPList[0].SPFullName</b></td>
    </tr>
    <tr>
        <td>Current SP Pay %</td>
        <td>@Html.TextBoxFor(model => model.SPList[0].CurrentSPPayPercent, new {  @readOnly = true, @style="width:100px;" })</td>
        <td> Current SP Pay ($)</td>
        <td>@Html.TextBoxFor(model => model.SPList[0].CurrentSPPay, "{0:0.00}",new { @readOnly = true, @style="width:100px;" })</td>
    </tr>
    <tr>
        <td>Adjust SP Pay %</td>
        <td>@Html.TextBoxFor(model => model.SPList[0].AdjustedSPPayPercent, new { @id="txtAdjustedSP1PayPercent", @style="width:100px;"})</td>
        <td> Adjusted SP Pay ($)</td>
        <td>@Html.TextBoxFor(model => model.SPList[0].AdjustedSPPay, "{0:0.00}", new { @id="txtAdjustedSP1Pay", @readOnly = true, @style="width:100px;" })</td>
    </tr>
    <tr>
        <td colspan="4"><br /></td>
    </tr>
        <tr>
        <td colspan="4"><b>@Model.SPList[1].SPFullName</b></td>
    </tr>
    <tr>
        <td>Current SP Pay %</td>
        <td>@Html.TextBoxFor(model => model.SPList[1].CurrentSPPayPercent, new { @readOnly = true, @style="width:100px;" })</td>
        <td> Current SP Pay ($)</td>
        <td>@Html.TextBoxFor(model => model.SPList[1].CurrentSPPay,"{0:0.00}", new { @readOnly = true, @style="width:100px;" })</td>
    </tr>
    <tr>
        <td>Adjust SP Pay %</td>
        <td>@Html.TextBoxFor(model => model.SPList[1].AdjustedSPPayPercent, new { @id="txtAdjustedSP2PayPercent", @style="width:100px;"})</td>
        <td> Adjusted SP Pay ($)</td>
        <td>@Html.TextBoxFor(model => model.SPList[1].AdjustedSPPay,"{0:0.00}", new {@id="txtAdjustedSP2Pay", @readOnly = true, @style="width:100px;" })</td>
    </tr>
</table>