﻿@model BLL.ViewModels.SPSearchMapViewModel
           @using CSS;
@{
    if (Model != null)
    {
        if (Model.MarkerList != null)
        {
    @*<script src="https://maps.google.com/maps/api/js?sensor=false"
        type="text/javascript"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACs0sSddwXg1AtQxF8mCTSB5bkKZW3wmw&sensor=false"
            type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/GoogleMap/infobox.js")"  type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/GoogleMap/oms.min.js")"  type="text/javascript"></script>
   <div id="map" style="width: 100%; height: 600px;"></div>
    
    <script type="text/javascript">
        function initializeSPSearchMap(){
            
            var locations = [
                @{
            decimal minLatitude = 0;
            decimal maxLatitude = 0;
            decimal minLongitude = 0;
            decimal maxLongitude = 0;

            for (int i = 0; i < Model.MarkerList.Count; i++)
            {
                BLL.Models.SPSearchMapMaker location = Model.MarkerList[i];
                if (i == 0)
                {
                    minLatitude = maxLatitude = location.Latitude;
                    minLongitude = maxLongitude = location.Longitude;
                }

                if (location.Latitude < minLatitude)
                {
                    minLatitude = location.Latitude;
                }
                if (location.Latitude > maxLatitude)
                {
                    maxLatitude = location.Latitude;
                }
                if (location.Longitude < minLongitude)
                {
                    minLongitude = location.Longitude;
                }
                if (location.Longitude > maxLongitude)
                {
                    maxLongitude = location.Longitude;
                }

                
                
                
                
                
                
                
                
                
                location.SPId = Cypher.EncryptString(location.SPId);

                if (!string.IsNullOrEmpty(location.SPId))
                {
                    if (location.SPId.Contains("/"))
                    {
                        location.SPId = location.SPId.Replace("/", "[msl]");
                    }
                }  
                
                
                
                
                
                
                

            @:['@location.SPName',@location.Latitude, @location.Longitude,@location.Index,'@location.SPId','@location.State','@location.City','@location.Zip','@location.Mobile','@location.Email']@(i < Model.MarkerList.Count - 1 ? "," : "")
            }
            if (minLatitude == maxLatitude)
            {
                minLatitude -= (decimal)0.01;
                maxLatitude += (decimal)0.01;
            }
            if (minLongitude == maxLongitude)
            {
                minLongitude -= (decimal)0.01;
                maxLongitude += (decimal)0.01;
            }
            }
            ];
            var gm = google.maps;
            var map = new gm.Map(document.getElementById('map'), {
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            map.fitBounds(new google.maps.LatLngBounds(
              //bottom left
              new google.maps.LatLng(@minLatitude, @minLongitude),
              //top right
              new google.maps.LatLng(@maxLatitude, @maxLongitude)
            ));
            map.setCenter(new google.maps.LatLng(@((minLatitude + maxLatitude) / 2), @((minLongitude + maxLongitude) / 2)));
            
            var i;
            //var infoBoxes = [];
            
            var oms = new OverlappingMarkerSpiderfier(map,{keepSpiderfied: true});
            
            //var myInfoBoxOptions = {
                
            //           disableAutoPan: false
            //           ,maxWidth: 0
            //           ,zIndex: null
            //           ,boxStyle: { 
            //               background: "url('tipbox.gif') no-repeat"
            //             ,opacity: 0.9
            //             ,width: "300px"
            //           }
            //           ,closeBoxMargin: "10px 2px 2px 2px"
            //           ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
            //           ,infoBoxClearance: new google.maps.Size(1, 1)
            //           ,isHidden: false
            //           ,pane: "floatPane"
            //           ,enableEventPropagation: false
            //};

            //var iw = new InfoWindow(myInfoBoxOptions);
            var iw = new gm.InfoWindow();
            oms.addListener('click', function(marker) {
                iw.setContent(marker.content);
                iw.open(map, marker);
            });
            var usualColor = 'E03333';
            var spiderfiedColor = 'FEC458';
            var iconWithColor = function(color) {
                return 'http://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin|+|' +
                  color + '|000000|ffff00';
            }
            var shadow = new gm.MarkerImage(
              'https://www.google.com/intl/en_ALL/mapfiles/shadow50.png',
              new gm.Size(37, 34),  // size   - for sprite clipping
              new gm.Point(0, 0),   // origin - ditto
              new gm.Point(10, 34)  // anchor - where to meet map location
            );

            oms.addListener('spiderfy', function(markers) {
                for(var i = 0; i < markers.length; i ++) {
                    markers[i].setIcon(iconWithColor(spiderfiedColor));
                    markers[i].setShadow(null);
                } 
                //iw.close();
            });
            oms.addListener('unspiderfy', function(markers) {
                for(var i = 0; i < markers.length; i ++) {
                    markers[i].setIcon(iconWithColor(usualColor));
                    markers[i].setShadow(shadow);
                }
            });

            for (i = 0; i < locations.length; i++) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2])
                     ,map: map
                     ,visible: true
                    //,icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+locations[i][3]+'|B2B2B2|000000'
                });

                            
                var boxHtml;
                boxHtml = "<table>";
                boxHtml += "<tr>";
                boxHtml += "<td nowrap=nowrap>";
                boxHtml += "<b>"+locations[i][0]+"</b> (<a href='@Url.Action("ServiceProviderDetails","ServiceProviders")/"+ locations[i][4] +"'>View Details</a>)";
                boxHtml += "</td>";
                boxHtml += "</tr>";
                boxHtml += "<tr>";
                boxHtml += "<td>";
                boxHtml += locations[i][5] + ", " + locations[i][6] + ", " + locations[i][7];
                boxHtml += "</td>";
                boxHtml += "</tr>";
                boxHtml += "<tr>";
                boxHtml += "<td>";
                boxHtml += locations[i][8];
                boxHtml += "</td>";
                boxHtml += "</tr>";
                boxHtml += "<tr>";
                boxHtml += "<td>";
                boxHtml += locations[i][9];
                boxHtml += "</td>";
                boxHtml += "</tr>";
                boxHtml += "</table>";
                var boxText = document.createElement("div");
                boxText.style.cssText = "border: 1px none black; margin-top: 8px; background: white; padding: 5px;";
                boxText.innerHTML = boxHtml;
                
                var myOptions = {
                    content: boxText
                };
                
                marker.setOptions(myOptions);
                marker.setIcon(iconWithColor(usualColor));
                oms.addMarker(marker);
            }
            
        }

    </script>
        }
    }
}