﻿@model BLL.ViewModels.TriageViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@if (!Model.isReadOnly)
{
    <style type="text/css">
    .backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

</style>
    
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function btnSendTriageEmail_Click() {
            var selectedCheckBoxesValue = '';
            $('#tblTriageSendEmailParticipants').find("input:checkbox.ClassClaimParticipant:checked").each(function (i, selected) {
                if (selectedCheckBoxesValue.length == 0) {
                    selectedCheckBoxesValue += $(selected).val();
                }
                else {
                    selectedCheckBoxesValue += ',' + $(selected).val();
                }
            });
            //Set the value of hiddenField selected checkboxes value 
            $("#hdnTriageParticipantsName").val(selectedCheckBoxesValue);
            $("#imgTriageSendMail").show();
            $.post('@Url.Content("~/PropertyAssignment/SendTriageEmailToParticipant")',
                  {
                      assignmentId: '@Model.Triage.AssignmentId', participantid: $("#hdnTriageParticipantsName").val()
                  },
                    function (data) {
                        if (data == "1") {
                            disableTriageEmailPopup();
                            $("#imgTriageSendMail").hide();
                        }
                    });
        }

        function btnBilledNotesInvoiceExpot_Click() {
            window.open("@Url.Action("InvoiceBilledNotesList", "PropertyAssignmentInvoice")?ClaimId=0&InvoiceId=" + $("#ddlBilledNotesInvoiceList").val(), "_blank");
        }

        function loadTriageSendEmailPopup() {
            var popupStatus = 0;
            if (popupStatus == 0) {
                centerTriageEmailPopup();
                $("#bgTriageEmailPopup").css({
                    "opacity": "0.7"
                });
                $("#bgTriageEmailPopup").fadeIn("slow");
                $("#divTriageEmail").fadeIn("slow");
                popupStatus = 1;
            }
            return false;
        }
        function disableTriageEmailPopup() {
            $("#bgTriageEmailPopup").fadeOut("slow");
            $("#divTriageEmail").fadeOut("slow");
        }
        function centerTriageEmailPopup() {
            //request data for centering
            var windowWidth = document.documentElement.clientWidth;
            var windowHeight = document.documentElement.clientHeight;
            var popupHeight = $("#divTriageEmail").height();
            var popupWidth = $("#divTriageEmail").width();
            //centering  
            $("#divTriageEmail").css({
                "position": "absolute",
                "top": windowHeight / 2 - popupHeight / 2,
                "left": windowWidth / 2 - popupWidth / 2

            });
            //only need force for IE6  
            $("#bgTriageEmailPopup").css({
                "height": windowHeight
            });
            return false;
        }

        function txtEmail_onChange() {

            if ($("#txtEmail").val().trim().length != 0) {
                $("#cbPreferEmailOverPhone").attr('checked', true);

            }
            else {
                $("#cbPreferEmailOverPhone").attr('checked', false);
            }
        }
        function populateZipData(zipControl, stateControl, cityControl) {
            try {
                $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
            { ZipCode: $("#" + zipControl).val() },
            function (data) {
                if (data != -1) {

                    $("#" + stateControl).val(data.State);
                    $("#" + cityControl).val(data.City);
                }
                else {
                    $("#" + stateControl).val("");
                    $("#" + cityControl).val("");
                }

            });
            copyInsuredToLossOnBlur();
        } catch (err) {
        }
        }

        $(document).ready(function () {
            $("#txtMobilePhone").mask("(999) 999-9999");
            $("#txtHomePhone").mask("(999) 999-9999");
            $("#txtWorkPhone").mask("(999) 999-9999");

        });
        function saveTriageForm() {

            var triageId = $('#hdnTriageId').val();
            var assignmentId = $('#hdnAssignmentId').val();
            var partyContactName = $('#txtPartyContactName').val();
            var damageStreetAddress = $('#txtDamageStreetAddress').val();
            var damangeCity = $('#txtDamangeCity').val();
            var damageState = $('#ddlDamageState').val();
            var damageZip = $('#txtDamageZip').val();
            var dwellingAffectedAreaName = $('#txtDwellingAffectedAreaName').val();
            var homePhone = $('#txtHomePhone').val();
            var workPhone = $('#txtWorkPhone').val();
            var mobilePhone = $('#txtMobilePhone').val();
            var email = $('#txtEmail').val();
            var preferEmailOverPhone = $("#cbPreferEmailOverPhone").is(":checked") ? "true" : "false";
            var severityLevelId = $('#ddlSeverityLevelId').val();
            var damangesReview = $('#txtDamangesReview').val();

            var isValid = true;
            var isValidErrorMsg = '';

            if (preferEmailOverPhone == "true" && email.trim().length == 0) {
                isValid = false;
                alert("Prefer Email Commnication is selected, but Email has not been provided.");
            }

            if (isValid) {
                $("#imgProcessingSaveTriage").show();
                $.post('@Url.Content("~/PropertyAssignment/SaveTriageDetails")',
               {
                   triageId: triageId, assignmentId: assignmentId, partyContactName: partyContactName, damageStreetAddress: damageStreetAddress, DamangeCity: damangeCity, damageState: damageState, damageZip: damageZip, dwellingAffectedAreaName: dwellingAffectedAreaName, homePhone: homePhone, workPhone: workPhone, mobilePhone: mobilePhone, email: email, preferEmailOverPhone: preferEmailOverPhone, severityLevelId: severityLevelId, damangesReview: damangesReview
               },
                function (data) {
                    $("#imgProcessingSaveTriage").hide();
                    if (data > 0) {
                        $('#hdnTriageId').val(data);
                        document.getElementById("divMessage").innerHTML = "Triage Form Saved.<br/><br/>";
                        window.scrollTo(0, 0);
                    }
                    else {
                        document.getElementById("divMessage").innerHTML = "Triage Form could not be saved.<br/><br/>";
                        window.scrollTo(0, 0);
                    }
                });
            }
            else {
                //document.getElementById("divMessage").innerHTML = isValidErrorMsg;
            }
        }
        function resetTriageForm() {
            if (confirm("Are you sure you want to reset the Triage form?") == true) {
                $('#txtPartyContactName').val("");
                $('#txtDamageStreetAddress').val("");
                $('#txtDamangeCity').val("");
                $('#ddlDamageState').val("0");
                $('#txtDamageZip').val("");
                $('#txtDwellingAffectedAreaName').val("");
                $('#txtHomePhone').val("");
                $('#txtWorkPhone').val("");
                $('#txtMobilePhone').val("");
                $('#txtEmail').val("");
                $("#cbPreferEmailOverPhone").attr('checked', false);
                $('#ddlSeverityLevelId').val("0");
                $('#txtDamangesReview').val("");
            }
        }
    </script>
}
@Html.HiddenFor(model => model.Triage.TriageId, new { @id = "hdnTriageId" })
@Html.HiddenFor(model => model.Triage.AssignmentId, new { @id = "hdnAssignmentId" })

<table width="100%" cellpadding="0">
    <tr valign="top" valign="top">
        <td class="mainHeader">Triage Questionnaire 
           @if (!Model.isReadOnly)
           {
               if(loggedInUser.UserTypeId != 11)
               {
               <img style="cursor: pointer;"  border="0" onclick="loadTriageSendEmailPopup();" title="Email Triage" alt="Email Triage" height="16" width="16" src="@Url.Content("~/Content/Images/email_forward.png")" />
               }
           }
        </td>
    </tr>
    <tr valign="top" valign="top">
        <td class="content">
            <div id="divMessage" class="errorMsg"></div>
            <br />
            <table width="100%" cellspacing="0">
                <tr valign="top" valign="top" class="tableRowAlternate">
                    <td align="left"><b>1. </b></td>
                    <td align="left">Party with whom initial contact was made:
                        <br />
                        @if (Model.isReadOnly)
                        {
                            @Model.Triage.PartyContactName
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Triage.PartyContactName, new { @id = "txtPartyContactName", @style = "width:550px;" })
                        }<br />
                        <br />
                    </td>

                </tr>

                <tr valign="top" valign="top" class="tableRow">
                    <td align="left"><b>2. </b></td>
                    <td align="left">Please allow me to verify the address where the damages occurred</td>

                </tr>
                <tr valign="top" class="tableRow">
                    <td align="left">&nbsp;</td>
                    <td align="left">
                        <table>
                            <tr>
                                <td nowrap="nowrap">Street Address</td>
                                <td colspan="5">
                                    @if (Model.isReadOnly)
                                    {
                                        @Model.Triage.DamageStreetAddress
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Triage.DamageStreetAddress, new { @id = "txtDamageStreetAddress", @style = "width:370px;" })
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">Zip</td>
                                <td>
                                    @if (Model.isReadOnly)
                                    {
                                        @Model.Triage.DamageZip
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Triage.DamageZip, new { @id = "txtDamageZip", @onblur = "populateZipData('txtDamageZip','ddlDamageState','txtDamangeCity')" })
                                    }

                                </td>
                                <td nowrap="nowrap">State</td>
                                <td>
                                    @if (Model.isReadOnly)
                                    {
                                        try
                                        {
                                        @(Model.Triage.DamageState != "0" ? Model.StateList.Where(x => x.Value == Model.Triage.DamageState + "").FirstOrDefault().Text : " - ")
                                        }
                                        catch (Exception ex)
                                        {
                                        @(Model.Triage.DamageState != "0" ? Model.Triage.DamageState : " - ")
                                        }
                                    }
                                    else
                                    {
                                        <select id="ddlDamageState" style="width: 170px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Value" @(state.Value == Model.Triage.DamageState ? "selected=selected" : "") >@state.Text</option>
                                            }
                                        </select>
                                    }
                                </td>
                                <td nowrap="nowrap">City</td>
                                <td>
                                    @if (Model.isReadOnly)
                                    {
                                        @Model.Triage.DamangeCity
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Triage.DamangeCity, new { @id = "txtDamangeCity" })
                                    }

                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr valign="top" class="tableRowAlternate">
                    <td align="left"><b>3.</b></td>
                    <td align="left">What area(s) of the Building/Dwelling was affected?
                        <br />
                        @if (Model.isReadOnly)
                        {
                            @Model.Triage.DwellingAffectedAreaName
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Triage.DwellingAffectedAreaName, new { @id = "txtDwellingAffectedAreaName", @style = "width:550px;" })
                        }<br />
                        <br />
                    </td>

                </tr>

                <tr valign="top" class="tableRow">
                    <td align="left"><b>4.</b></td>
                    <td align="left">What are the best contact numbers for the Damage Assessor to reach you at?</td>

                </tr>
                <tr valign="top" class="tableRow">
                    <td align="left">&nbsp;</td>
                    <td align="left">
                        <table>
                            <tr>
                                <td nowrap="nowrap">Mobile Phone</td>
                                <td>@if (Model.isReadOnly)
                                    {
                                    @Model.Triage.MobilePhone
                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.Triage.MobilePhone, new { @id = "txtMobilePhone" })
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">Home Phone</td>
                                <td>
                                    @if (Model.isReadOnly)
                                    {
                                        @Model.Triage.HomePhone
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Triage.HomePhone, new { @id = "txtHomePhone" })
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">Work Phone</td>
                                <td>
                                    @if (Model.isReadOnly)
                                    {
                                        @Model.Triage.WorkPhone
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Triage.WorkPhone, new { @id = "txtWorkPhone" })
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr valign="top" class="tableRowAlternate">
                    <td align="left"><b>5.</b></td>
                    <td align="left">Would you prefer email communication or strictly telephone? If yes what is your email address?</td>

                </tr>
                <tr class="tableRowAlternate">
                    <td align="left">&nbsp;</td>
                    <td valign="middle" align="left">Prefer Email Commnication:
                         @if (Model.isReadOnly)
                         {
                             @(Model.Triage.PreferEmailOverPhone.HasValue ? Model.Triage.PreferEmailOverPhone.Value ? "Yes" : "No" : "No")
                         }
                         else
                         {
                             @Html.CheckBox("Triage.PreferEmailOverPhone", Model.Triage.PreferEmailOverPhone.HasValue ? Model.Triage.PreferEmailOverPhone.Value : false, new { @id = "cbPreferEmailOverPhone" })
                         }
                        Email: 
                         @if (Model.isReadOnly)
                         {
                             @Model.Triage.Email
                         }
                         else
                         {
                             @Html.TextBoxFor(model => model.Triage.Email, new { @id = "txtEmail", @style = "width:350px;" }) 
                         }
                        <br />
                        <br />
                    </td>

                </tr>
                <tr valign="top" class="tableRow">
                    <td align="left"><b>6.</b></td>
                    <td align="left">What is the severity Level (1 = Least Severe- 6 = Most Severe)?
            <br />
                        Example Tree on fence, missing screens etc= Level 1. Tree through the roof, uninhabitable = level 6.</td>

                </tr>
                <tr valign="top" class="tableRow">
                    <td align="left">&nbsp;</td>
                    <td align="left">
                        @if (Model.isReadOnly)
                        {
                            @(Model.Triage.SeverityLevelId.HasValue ? Model.Triage.SeverityLevelId.Value != 0 ? Model.SeverityLevelsList.Where(x => x.Value == Model.Triage.SeverityLevelId + "").FirstOrDefault().Text : " - " : " - ")
                        }
                        else
                        {
                            <select id="ddlSeverityLevelId" style="width: 170px;">
                                @foreach (var severityLevel in Model.SeverityLevelsList)
                                {
                                    <option value="@severityLevel.Value" @(severityLevel.Value == Model.Triage.SeverityLevelId + "" ? "selected=selected" : "")>@severityLevel.Text</option>
                                }
                            </select>
                        }
                        <br />
                        <br />


                    </td>

                </tr>
                <tr valign="top" class="tableRowAlternate">
                    <td align="left"><b>7.</b></td>
                    <td align="left">Review of damages</td>

                </tr>
                <tr valign="top" class="tableRowAlternate">
                    <td align="left">&nbsp;</td>
                    <td align="left">
                        @if (Model.isReadOnly)
                        {
                            @Model.Triage.DamangesReview
                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.Triage.DamangesReview, new { @id = "txtDamangesReview", @rows = 5, @style = "width:550px;" })
                        }

                    </td>

                </tr>

            </table>
        </td>
    </tr>
    <tr valign="top">
        <td class="footer" align="right">
            @if (!Model.isReadOnly)
            {
                <img id="imgProcessingSaveTriage" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input type="button" class="buttonYellow_100" value="Save" onclick="saveTriageForm()" />
                <input type="button" class="buttonLightYellow_100" value="Reset" onclick="resetTriageForm()" />
            }
        </td>
    </tr>
</table>

@if(!Model.isReadOnly)
{
<div id="divTriageEmail" style="display: none;" class="EditPopup">
    <div>
        <table style="width: 100%" cellspacing="0">

            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        Send Email
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disableTriageEmailPopup();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table width="100%" id="tblTriageSendEmailParticipants" cellspacing="0">
        <tr>
            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td style="display: none;">
                <input type="hidden" id="hdnTriageParticipantsName" name="hdnTriageParticipantsName" />                
            </td>
        </tr>
        @{
            int i = 0;
            foreach (var objParticipant in Model.ClaimParticipantsList)
            {
            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td nowrap="nowrap">
                    <input type="checkbox" name="chkpartipantcheckboxname" class="ClassClaimParticipant" id="chkpartipant" value="@objParticipant.UserId"/>@objParticipant.ShortDesc
                </td>
            </tr>
                i++;

            }
        }
        <tr>
            <td valign="top" style="width: 30px">&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right" class="footer" nowrap="nowrap">
                <img id="imgTriageSendMail" style="display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" alt="Sending Email" title="Sending Email" />
                <input type="button" onclick="btnSendTriageEmail_Click()" value="Send" name="Send" class="buttonLightYellow_100" /></td>
        </tr>

    </table>

</div>
<div id="bgTriageEmailPopup" onclick="disableTriageEmailPopup();" class="backgroundPopup" style="display: none;"></div>
}
