﻿@using BLL
@model IEnumerable<GetUnQualifiedList_Result>

   <table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
            <tr>
                <td class="subHeading borderBottomLightGray" nowrap="nowrap">UnQualify List
                </td>
                
            </tr>
            <tr>
                <td class="content">

                    <table cellpadding="3" cellspacing="0" width="100%">
                        <thead class="tableHeader">
                            <tr valign="top">
                                <td width="20%">Company           
                                </td>
                               
                                <td align="center" width="10%">Status</td>
                            </tr>
                        </thead>
                        @{
                        int i = 0;
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td width="20%">
                                   @item.CompanyName
                                </td>
                              
                                <td align="center" widht="10%">
                                     <a id="btnQualified" href="javascript:QualifiedSP(@item.SPId,@item.CompanyId)"> Qualify</a>
                                </td>
                            </tr>
                                i++;
                            }
                        }
                        }
                    </table>
                </td>
            </tr>
        </table>