﻿@using BLL
@model IEnumerable<GetUnQualifiedSPByClientPOCList_Result>

<table width="100%">
    <tr>
        <td align="left" valign="top" width="50%">
            <table width="95%" align="center" cellspacing="0">
                <tr>
                    <td style="width: 150px;" nowrap="nowrap" class="borderBottomLightGray">
                        @*<strong>UnQualified List</strong></td>*@
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>

                    <td colspan="2" class="borderBottomLightGray">
                        <table cellspacing="0" width="100%">

                            <tr>


                                <td width="25%"><b>Company</b>
                                </td>
                                <td>
                                   <b> Examiner </b>
                                </td>


                            </tr>




                            @{
                                int i = 0;
                                if (Model.ToList().Count>0 && Model!=null)
                                {
                                    foreach (var item in Model)
                                    {
                                <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                    <td width="25%">
                                        @item.CompanyName
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    @*<td align="center" widht="10%">
                                        <a id="btnQualified" href="javascript:QualifiedSP(@item.SPId,@item.CompanyId)">Qualify</a>
                                    </td>*@
                                </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                <tr>
                                    <td style="color:red">- No Records -
                        
                                    </td>
                                </tr>
                                }
        
                            }


                        </table>
                    </td>

                </tr>



            </table>
        </td>

    </tr>

</table>
