﻿@model BLL.ViewModels.UserRightsViewModel
@Html.HiddenFor(model => model.UserId)
@Html.HiddenFor(model => model.UserFullName)
<b>&nbsp;User Rights for @Model.UserFullName</b><br /><br />
<table width="100%" cellspacing="0">
    
@for (int i = 0; i < Model.UserAssignedRightsInfoList.Count;i++)
{
    
        <tr @(i%2 == 0? "class=tableRow":"class=tableRowAlternate")>
            <td>@Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserRightId)
        @Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserRightDesc)
        @Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserId)
        @Html.CheckBoxFor(model => Model.UserAssignedRightsInfoList[i].HasRight) </td>
            <td width="100%">@Model.UserAssignedRightsInfoList[i].UserRightDesc</td>
        </tr>
    
        
    
}
    </table>
