﻿@model BLL.ViewModels.ClaimCorrespondencesViewModel
@{
    Layout = null;
    ViewBag.Title = "CANClaimCorrespondenceDocument";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function showAddClaimCorrespondenceDocProgress() {
        var ProgressImage = document.getElementById("imgClaimCorrespondenceDocProgress");
        document.getElementById("spanClaimCorrespondenceDocProgress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }
</script>

<div style="text-align:center;white-space:nowrap;">
    @using (Html.BeginForm("CANClaimCorrespondenceDocument"))
    {
        @Html.HiddenFor(model => model.AssignmentId)
        @Html.HiddenFor(model => model.DocumentTypeId)
        @Html.HiddenFor(model => model.UploadedByUserId)
        @Html.DropDownListFor(model => model.CorrespondenceFormId, Model.CorrespondenceFormList, new { @style = "width:200px;" })
        @Html.HiddenFor(model => model.JobId)
        <input value="Select" type="submit" class="buttonLightYellow_100" />
    }
</div>

@using (Html.BeginForm("UploadCANClaimCorrespondenceDocument", "PropertyAssignment", FormMethod.Post))
{
    if (Model.CorrespondenceFormFieldList != null)
    {
        if (Model.CorrespondenceFormFieldList.ToList().Count != 0)
        {

            <div>
                <table align="center">
                    @Html.HiddenFor(model => model.AssignmentId)
                    @Html.HiddenFor(model => model.DocumentTypeId)
                    @Html.HiddenFor(model => model.CorrespondenceFormId)
                    @Html.HiddenFor(model => model.UploadedByUserId)
                    @Html.HiddenFor(model => model.JobId)


                    @foreach (BLL.CorrespondenceFormField field in Model.CorrespondenceFormFieldList)
                    {
                    <tr>
                        <td>@field.FormFieldName</td>
                        <td>
                            <input type="text" name="@field.FormFieldId" />
                        </td>
                    </tr>
                    }


                </table>
            </div>
            <div style="width: 98%; padding-right: 5px; text-align: right;">
                <br />
                <br />
                <span style="visibility: hidden; width: 90%; height: 90%;" id="spanClaimCorrespondenceDocProgress">
                    <img height="16" width="16" id="imgClaimCorrespondenceDocProgress" style="vertical-align:middle;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                </span>
                <input type="submit" value="Add Document" class="buttonYellow_100" onclick="showAddClaimCorrespondenceDocProgress()" />
            </div>
        }
    }
}
