﻿@model BLL.ViewModels.CANDocumentsListViewModel
@{
    Layout = "";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    BLL.Claim claim = css.Claims.Find(Model.ClaimId);

    string subject = "Document(s) - Insured Name: " + claim.InsuredFirstName + " " + claim.InsuredLastName + " - Claim #: " + claim.ClaimNumber;
}

<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        //  alert('wass up doc?');
        $("#sortablebasic").sortable();
        $("#sortablebasic").disableSelection();
        //$("#sortablebasic").kendoSortable({
        //    hint: function (element) {
        //        return element.clone().addClass("hint");
        //    },
        //    placeholder: function (element) {
        //        return element.clone().addClass("placeholder").text("drop here");
        //    }
        //});

        //   alert('kendo load complete');
    });
</script>
<style>
        #dvattachments {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #Documentlist {
            margin: 30px auto;
            width: 300px;
            background-color: #f3f5f7;
            border-radius: 4px;
            border: 1px solid rgba(0,0,0,.1);
        }

        /*#Documentlist-title {
            height: 80px;
            background: url('../content/web/sortable/playlist.png') no-repeat 50% 50% #ffffff;
            border-radius: 4px 4px 0 0;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }

            #playlist-title span {
                display: none;
            }
    */
        #sortablebasic {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li.sortable {
            list-style-type: none;
            padding: 6px 8px;
            margin: 0;
            color: #666;
            font-size: 1.2em;
            cursor: move;
        }

            li.sortable:last-child {
                border-bottom: 0;
                border-radius: 0 0 4px 4px;
            }

            li.sortable span {
                display: block;
                float: right;
                color: #666;
            }

            li.sortable:hover {
                background-color: #dceffd;
            }

        li.hint {
            display: block;
            width: 200px;
            background-color: #52aef7;
            color: #fff;
        }

            li.hint:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 6px solid #52aef7;
                position: absolute;
                left: 216px;
                top: 8px;
            }

            li.hint:last-child {
                border-radius: 4px;
            }

            li.hint span {
                color: #fff;
            }

        li.placeholder {
            background-color: #dceffd;
            color: #52aef7;
            text-align: right;
        }
</style>


<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="mainHeader">

            <table width="100%">
                <tr>
                    <td align="left"><b>Email Documents</b></td>
                    <td align="right">
                        <div style="width: 100%; text-align: right;">
                            <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableDocumentPopups()" />
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="content" align="center">


            <table width="100%" align="center">
                <tr>
                    <td colspan="2">
                        <div id="emaildocerrormsg" style="display:none;color:red;font-size:14px;margin-left:5px">

                        </div>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="20%">To: </td>
                    <td width="80%">
                        <textarea id="toEmails" style="width: 98% !important;" rows="2" name="toEmails">@(String.IsNullOrEmpty(Model.ClaimParticipantsEmailAddresses) == false ? Model.ClaimParticipantsEmailAddresses : "")</textarea>
                    </td>
                </tr>
                <tr valign="top">
                    <td></td>
                    <td class="infoText">Use comma ',' to seperate email addresses.</td>
                </tr>
                <tr valign="top">
                    <td width="100" colspan="2">
                        <input type="checkbox" id="cbSetReplyTo" checked="checked">
                        Set Reply-To email address  @CSS.AuthenticationUtility.GetUser().Email
                    </td>
                </tr>
                <tr valign="top">
                    <td>Subject: </td>
                    <td>
                        <input style="width:98% !important;" type="text" id="subject" name="subject" value="@subject" />
                    </td>
                </tr>
                <tr valign="top">
                    <td>Body: </td>
                    <td>
                        <textarea id="body" style="width: 98% !important;" rows="5" name="body">  </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Merge Documents
                    </td>
                    <td style="text-align:left">
                        <input type="checkbox" name="mergedoc" value="1" id="mergedoc" />
                    </td>
                </tr>

                <tr>

                    <td></td>
                    <td>
                        <div id="dvattachments">
                            <span style="margin:0px;text-align:left">Drag-Drop to Order Documents</span>
                            <div id="Documentlist" style="margin-left:0px;width:500px;height:250px;overflow-y:scroll">


                                <ul id="sortablebasic" style="text-align:left">


                                    @{foreach (var doc in Model.DocumentsListMail)
                                    {
                                        <li class="ui-state-default sortable" id="@doc.DocumentId ">@doc.Title  </li>

                                    }
                                    }


                                    @*<li class="sortable" id="@ doc.DocumentId ">@ doc.Title  </li>*@
                                </ul>
                            </div>
                        </div>

                    </td>

                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td class="footer" style="text-align: right">
            <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />
            <input type="submit" value="Send Email" class="buttonYellow_100" onclick="sendCANEmail()" />
        </td>
    </tr>
</table>

