﻿@model BLL.ViewModels.AssignmentJobsViewModel
@using CSS

@{
    Layout = null;
    ViewBag.Title = "AssignmentDiaries";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style type="text/css">
    #backgroundTEInterimInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditTEInterimInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 800px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>

<script type="text/javascript">
    function btnTEInterimInvoiceDiarySubmit_Click() {
        $('#divTEInterimInvoiceDiarySubmitProcessing').show();
        UnformatField('TEInterimInvoiceDiary');
    }

    function deleteClaimDiariesDetails(diaryId, assignmentid, tabid) {
        debugger;
        if (confirm('Are you sure you want to delete')) {
            $.post('@Url.Content("~/PropertyAssignment/DeleteClaimDiariesDetails")',
            { diaryId: diaryId },
            function (data) {
                if (data == 1) {
                    @*getDiariesList('@Url.Action("CANClaimDiariesList", "PropertyAssignment", new { assignmentId = Model.propertyassignment.AssignmentId, jobId = Model.AssignmentJob.JobId })', tabid);*@
                    var url='@Url.Action("CANClaimDiariesList","PropertyAssignment")';
                    url = url + "?assignmentId=" + @Model.AssignmentJob.AssignmentId +"&jobId=" + @Model.AssignmentJob.JobId
                  getDiariesList(url, '4');
                }
            });
        }
    }
    function disableTEInterimInvoiceDiaryPopup() {
        $('#backgroundTEInterimInvoicePopup').fadeOut("slow");
        $('#divTEInterimInvoicePopup').fadeOut("slow");
    }
    function loadTEInterimInvoicePopup(diaryId) {
        $('#divTEInterimInvoiceDetails').empty();
        $("#imgProcessingPropertyInvoicedetails").show();
        $("#hdnTEInterimInvoiceDiaryId").val(diaryId);
        $.post('@Url.Content("~/PropertyAssignmentInvoice/Details")',
               {
                   assignmentid: '@Model.propertyassignment.AssignmentId', fileOpenMode: 'Edit', invoiceId: '-1'
               },
                 function (data) {
                     $('#divTEInterimInvoiceDetails').append(data);
                     $("#imgProcessingPropertyInvoicedetails").hide();
                 });
        centerPropertyInvoicePopup();
        $('#backgroundTEInterimInvoicePopup').css({
            "opacity": "0.7"
        });
        $('#backgroundTEInterimInvoicePopup').fadeIn("slow");
        $('#divTEInterimInvoicePopup').fadeIn("slow");
    }
    function centerPropertyInvoicePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divTEInterimInvoicePopup').height();
        var popupWidth = $('#divTEInterimInvoicePopup').width();
        //centering
        $('#divTEInterimInvoicePopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $('#backgroundTEInterimInvoicePopup').css({
            "height": windowHeight
        });
        return false;
    }
    function markDiaryIdComplete(diaryId) {
        //Mark Diary Item as Completed
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/PropertyAssignment/ApproveClaimDiariesDetails")',
            data: { diaryId: diaryId },
            success: function (data) {
                if (data == 1) {
                    var url='@Url.Action("CANClaimDiariesList","PropertyAssignment")';
                    url = url + "?assignmentId=" + @Model.AssignmentJob.AssignmentId +"&jobId=" + @Model.AssignmentJob.JobId
                getDiariesList(url, '4');
                }
            }
        });
    }
    function approveClaimDiariesDetails(diaryId, diaryCategoryId, assignmentid, tabid) {
        if (diaryCategoryId == '@System.Configuration.ConfigurationManager.AppSettings["TEInterimInvoiceDiaryCategoryId"].ToString()') {
            //Create T&E Interim Invoice
            loadTEInterimInvoicePopup(diaryId);
        }
        else {
            //Mark Diary Item as Completed
            $.post('@Url.Content("~/PropertyAssignment/ApproveClaimDiariesDetails")',
            { diaryId: diaryId },
            function (data) {
                if (data == 1) {
                       var url='@Url.Action("CANClaimDiariesList","PropertyAssignment")';
                        url = url + "?assignmentId=" + @Model.AssignmentJob.AssignmentId +"&jobId=" + @Model.AssignmentJob.JobId

                    getDiariesList(url, tabid);
                }
            });
        }
    }

    function diariesOrderBy(orderbyvalue) {
        $.post('@Url.Content("~/PropertyAssignment/OrderBydiaries")',
       { assignmentid: '@Model.propertyassignment.AssignmentId', orderbyvalue: orderbyvalue, LastOrderByvalue: $("#hdnLastOrderByDiary").val(), Flag: $('#orderbyflag').val() },
       function (data) {
           bindDiaries(data);
       });

    }

    $(document).ready(function () {
       
    });
   

</script>
<table align="left" cellpadding="3" cellspacing="0" width="100%">
    <tr>
        <td class="mainHeader">Diaries</td>
    </tr>

    <tr>
        <td class="content">
            <table width="100%">
                <tr style="text-align: right;">
                    <td>
                        @Html.Partial("_CANAssignmentDetailsAddEditDiaries")
                    </td>
                </tr>
            </table>
            <table cellpadding="3" cellspacing="0" width="100%">

                <thead class="tableHeader">
                    <tr valign="top">
                        <td><a href="#" onclick="diariesOrderBy('DiaryCategoryId')">Subject</a></td>
                        <td><a href="#" onclick="diariesOrderBy('CreatedByUserId')">Added By</a></td>
                        <td><a href="#" onclick="diariesOrderBy('CreatedDate')">Created Date</a></td>
                        <td><a href="#" onclick="diariesOrderBy('DueDate')">Due Date</a></td>
                        <td><a href="#" onclick="diariesOrderBy('StatusId')">Status</a></td>
                        <td style="width: 30px">
                            <table>
                                <tr>
                                    <td style="width: 10px"></td>
                                    <td style="width: 10px"></td>
                                    <td style="width: 10px"></td>
                                </tr>
                            </table>
                        </td>
                        <td style="display: none">
                            <input type="hidden" name="hdnLastOrderByDiary" id="hdnLastOrderByDiary" value="@ViewBag.LastOrderByDiaryItem" />
                            <input type="hidden" name="flag" id="orderbyflag" value="@ViewBag.flag" />
                        </td>
                    </tr>
                </thead>

                @{
                    int i = 0;
                    if (Model.canclaimsinfoviewmodel.DiaryDetail != null)
                    {
                        foreach (var diary in Model.canclaimsinfoviewmodel.DiaryDetail)
                        {

                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td nowrap="nowrap">
                                    @{
                            BLL.DiaryCategory diaryCategory = css.DiaryCategories.Find(diary.DiaryCategoryId);
                            <div style="display: inline;">@diaryCategory.DiaryCategoryDesc</div>
                                    }
                                </td>
                                <td nowrap="nowrap">
                                    @{
                            if (diary.CreatedByUserId != null)
                            {
                                if (diary.CreatedByUserId > 0)
                                {
                                    BLL.User user = css.Users.Find(diary.CreatedByUserId);
                                    <div style="display: inline;">@user.FirstName @user.LastName</div>
                                }
                            }
                                    }

                                </td>
                                <td nowrap="nowrap">

                                    @(diary.CreatedDate.HasValue ? diary.CreatedDate.Value.ToString("MM/dd/yyyy") : "")
                                </td>
                                <td nowrap="nowrap">
                                    @(diary.DueDate.HasValue ? diary.DueDate.Value.ToString("MM/dd/yyyy") : "")
                                </td>
                                <td nowrap="nowrap">
                                    @{
                            byte statusId;
                            if (diary.StatusId.HasValue)
                            {

                                statusId = diary.StatusId.Value;
                                if (diary.DueDate.HasValue)
                                {
                                    if (statusId == 1 && diary.DueDate.Value < DateTime.Now)
                                    {
                                        statusId = 3;
                                    }
                                }
                                BLL.DiaryStatusList diarystatusList = css.DiaryStatusLists.Find(statusId);

                                @:@diarystatusList.StatusDescription

                            }
                                    }

                                </td>
                                <td style="width: 30px">
                                    <table>
                                        <tr>
                                            <td colspan="1" style="width: 15px; text-align: center;">
                                                @if (@diary.StatusId != 2 && loggedInUser.UserTypeId != 1 && loggedInUser.UserTypeId != 12)
                                                {
                                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="approveClaimDiariesDetails('@diary.DiaryId','@diary.DiaryCategoryId','@diary.AssignmentId','4')">
                                                        <img src="~/Content/Images/Approve.png" title="Status" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }

                                            </td>
                                            <td style="width: 10px; text-align: center;">
                                                @Html.Hidden("txtDiaryComment" + diary.DiaryId, (!String.IsNullOrEmpty(diary.DiaryDesc) ? diary.DiaryDesc.Replace("'", "\\'") : ""), new { @id = "txtDiaryComment" + diary.DiaryId })

                                                <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPopupNewDiaryItem('@diary.DiaryId','@(diary.DueDate.HasValue ? diary.DueDate.Value.ToString("MM/dd/yyyy") : "")','@(diary.AssignedToUserId.HasValue ? diary.AssignedToUserId.Value : 0)','@(diary.DiaryCategoryId.HasValue ? diary.DiaryCategoryId.Value : 0)','@diary.Title','@("txtDiaryComment" + diary.DiaryId)','@(diary.IsExternalContact ? "true" : "false")','@(diary.IsBillable.HasValue ? diary.IsBillable.Value ? "true" : "false" : "false")','@(diary.NoOfHours.HasValue ? diary.NoOfHours.Value + "" : "")')">
                                                    <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            </td>
                                            <td style="width: 10px; text-align: center;">
                                                @if (loggedInUser.UserTypeId != 1 && loggedInUser.UserTypeId != 12)
                                                {
                                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="deleteClaimDiariesDetails('@diary.DiaryId','@diary.AssignmentId','4')">
                                                        <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                                                i++;
                        }
                    }
                }
            </table>
        </td>
    </tr>
    <tr>
        <td class="footer" align="right">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="left">


                        <div style="float: left">
                            <input type="button" class="buttonLightYellow_100" value="Return to Claim" onclick="window.location.href='@Url.Action("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(Model.Claim.ClaimId.ToString())})';" />
                           
                        </div>


                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>
<div id="divTEInterimInvoicePopup" class="EditTEInterimInvoicePopup" style="width: 78%;">
    @using (@Html.BeginForm("SubmitPropertyInvoice", "PropertyAssignmentInvoice", new { returnToPage = "none" }, FormMethod.Post, new { @id = "frmTEInterimInvoiceDiary" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Property Invoice</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableTEInterimInvoiceDiaryPopup()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td colspan="2">
                                <img id="imgProcessingPropertyInvoicedetails" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                                <div id="divTEInterimInvoiceDetails" style="overflow-y: scroll; height: 500px;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer" style="text-align: right">
                    <table>
                        <tr>
                            <td nowrap="nowrap" width="100%" align="right">
                                <div id="divTEInterimInvoiceDiarySubmitProcessing" style="display: none; width: 100%">
                                    <img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;padding-right:5px;" alt="loading" />
                                </div>
                            </td>
                            <td>
                                <input type="hidden" id="hdnTEInterimInvoiceDiaryId" value="" />
                                <input type="button" class="buttonLightYellow_100" value="Submit" onclick="btnTEInterimInvoiceDiarySubmit_Click()" />
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    }
</div>
<div id="backgroundTEInterimInvoicePopup" onclick="disableTEInterimInvoiceDiaryPopup()"></div>
