﻿@model BLL.ViewModels.DocumentsListViewModel

@{
    Layout = "";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    BLL.Claim claim = css.Claims.Find(Model.ClaimId);

    string subject = "Document(s) - Insured Name: " + claim.InsuredFirstName + " " + claim.InsuredLastName + " - Claim #: " + claim.ClaimNumber;
}
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {
        //  alert('wass up doc?');
        //$("#sortablebasic").kendoSortable({
        //    hint: function (element) {
        //        return element.clone().addClass("hint");
        //    },
        //    placeholder: function (element) {
        //        return element.clone().addClass("placeholder").text("drop here");
        //    }
        //});
        $("#sortablebasicftp").sortable();
        $("#sortablebasicftp").disableSelection();
        //   alert('kendo load complete');
    });
</script>
<style>
    #dvattachments {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #Documentlist {
        margin: 30px auto;
        width: 300px;
        background-color: #f3f5f7;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.1);
    }

    /*#Documentlist-title {
        height: 80px;
        background: url('../content/web/sortable/playlist.png') no-repeat 50% 50% #ffffff;
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

        #playlist-title span {
            display: none;
        }
*/
    #sortablebasic {
        padding: 0;
        margin: 0;
        list-style:none;
    }

    li.sortable {
        list-style-type: none;
        padding: 6px 8px;
        margin: 0;
        color: #666;
        font-size: 1.2em;
        cursor: move;
    }

        li.sortable:last-child {
            border-bottom: 0;
            border-radius: 0 0 4px 4px;
        }

        li.sortable span {
            display: block;
            float: right;
            color: #666;
        }

        li.sortable:hover {
            background-color: #dceffd;
        }

    li.hint {
        display: block;
        width: 200px;
        background-color: #52aef7;
        color: #fff;
    }

        li.hint:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #52aef7;
            position: absolute;
            left: 216px;
            top: 8px;
        }

        li.hint:last-child {
            border-radius: 4px;
        }

        li.hint span {
            color: #fff;
        }

    li.placeholder {
        background-color: #dceffd;
        color: #52aef7;
        text-align: right;
    }
</style>



<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="mainHeader">
            <table width="100%">
                <tr>
                    <td align="left"><b>FTP</b></td>
                    <td align="right">
                        <div style="width: 100%; text-align: right;">
                            <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableDocumentFTPPopup()" />
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="content" align="left" style="padding-left:50px">
            <br />
            <br />
            Transfer selected document(s) to the FTP account?
                <br />
            <br />
            <br />
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <br /><br />
        <table style="width:100%">
            <tr>

                <td style="width:7.5%">&nbsp;</td>
                
                <td style="width:92.5%">
                    Merge Documents : <input type="checkbox" name="mergeftpdoc" value="1" id="mergeftpdoc" />
                </td>
            </tr>
        </table>
            </td>
    </tr>
    <tr>
        <td colspan="2">

            <div id="dvattachments">
                <br />

                <span style="margin:50px;text-align:left">Drag-Drop to Order Documents</span>

                <div id="Documentlist" style="margin-left:50px;width:540px">
                    <ul id="sortablebasicftp" style="padding-left:0px;text-align:left">

                        @{foreach (var doc in Model.DocumentsListMail)
                          {
                            <li class="ui-state-default sortable" id="@doc.DocumentId ">@doc.Title  </li>
                          }
                        }
                    </ul>
                </div>
            </div>

        </td>

    </tr>
    <tr>
        <td class="footer" style="text-align: right">
            <img id="imgDocFTPProgress" height="16" width="16"  style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />
            <input type="submit" value="Transfer" class="buttonYellow_100" onclick="transferDocToFTP()" />
        </td>
    </tr>
</table>

