﻿@using CSS
@model BLL.ViewModels.XactAssignmentSearchViewModel

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

@*<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>*@


<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet">

<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function OrderByclaim(OrderBYclaim) {
        $('#hdnCurrentPage').val('@Model.Pager.Page');
        $('#hdnOrderByValue').val(OrderBYclaim)
        document.getElementById("formSearch").submit();
    }
    function showRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'table-row';
        document.getElementById('imgExpand' + rowIndex).style.display = 'none';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'block';
    }
    function hideRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'none';
        document.getElementById('imgExpand' + rowIndex).style.display = 'block';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'none';
    }
</script>

@using (Html.BeginForm("ContractorReviewQueue", "PropertyAssignment", new { @type = "DispatchCANAssignments" }, FormMethod.Post, new { @id = "formSearch" }))
{
    <table width="100%">
        @*<tr>
                <td>

                    <table align="left" cellspacing="0" width="100%">
                        <tr>
                            <td class="mainHeader">
                                <a id="lblSearchExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Filter</a>
                                <a id="lblSearchCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a>
                            </td>
                        </tr>
                        <tr id="trSearchFilterContent" style="display: none;">
                            <td class="content">

                                @Html.Partial("_AssignmentSearchFilter", Model)

                            </td>
                        </tr>
                        <tr align="right" id="trSearchFilterFooter" style="display: none;">
                            <td class="footer">

                                <input type="submit" class="buttonLightYellow_100" value="Search" name="SubmitButton" onclick="searchedClaim()" />
                                <input type="submit" class="buttonLightYellow_100" value="Clear" id="Clear" name="SubmitButton" />
                                <input type="submit" class="buttonLightYellow_100" value="Export" id="Export" name="SubmitButton" />

                            </td>
                        </tr>

                    </table>

                </td>
            </tr>*@
        <tr>
            <td>
                <br />
                <table align="left" cellpadding="3" cellspacing="0" width="100%">

                    <tr>
                        <td class="mainHeader">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" nowrap="nowrap">Dispatch Contractor Assignments</td>
                                    <td nowrap="nowrap" style="font-size: 11px !important; font-weight: normal !important;">
                                        <span style="visibility: hidden; width: 150px; height: 40px;" id="progress">
                                            <img id="progress_image" height="16" width="16" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                            Refreshing...
                                        </span>

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td class="content">
                            <table cellpadding="3" cellspacing="0" width="100%">

                                <thead class="tableHeader">
                                    @if (Model.FileStatus == 6 || Model.FileStatus == 19 || (loggedInUser.UserTypeId != 2 && loggedInUser.UserTypeId != 11) || Model.IsQAReview == true)
                                    {
                                        <tr valign="top">
                                            <td nowrap="nowrap"></td>
                                            <td nowrap="nowrap">#</td>
                                            <td nowrap="nowrap"></td>
                                            <td><a href="#" onclick="OrderByclaim('ClaimNo');"> Claim Number</a></td>
                                            <td>
                                                <a href="#" onclick="OrderByclaim('Examiner');">Examiner</a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="OrderByclaim('InsuredName');">Insured Name</a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="OrderByclaim('City');">City</a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="OrderByclaim('Zip');">Zip</a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="OrderByclaim('JobType');">Job Type</a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="OrderByclaim('ServiceType');">Service Type</a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="OrderByclaim('AssignmentStatus');">Status</a>
                                            </td>

                                            @*<td>
                                                    <a href="#" onclick="OrderByclaim('SPName');">Service Provider</a>
                                                </td>
                                                <td>
                                                    <a href="#" onclick="OrderByclaim('QAAgent');">QA Agent</a>
                                                </td>

                                                <td>
                                                    <a href="#" onclick="OrderByclaim('AssignedDate');">Assigned Date</a>
                                                </td>*@
                                            @*<td>
                                                    <a href="#" onclick="OrderByclaim('DaysOld');"> #OF ASSIGNS YTD</a>
                                                </td>*@
                                            <td>
                                                <input type="hidden" value="@ViewBag.LastOrderByValue" id="hdnlastOrderByValue" name="hdnlastOrderByValue" />
                                                <input type="hidden" value="@ViewBag.flag" id="hdnFlagClaim" name="hdnFlagClaim" />
                                                <input type="hidden" id="hdnOrderByValue" name="hdnOrderByValue" />
                                                <input type="hidden" id="hdnPageSige" name="hdnPageSige" />
                                                <input type="hidden" id="hdnNext" name="hdnNext" />
                                                <input type="hidden" id="hdnOrderDirection" name="hdnOrderDirection" />
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            @*<td width="20%">View/Edit</td>*@

                                        </tr>
                                    }


                                </thead>

                                @{
                                    int i = 0; //Used to identify whether any records are present, Alternating row colours, row number
                                    int j = Model.Pager.Page - 1;
                                    int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                                    int k = j * z;
                                    if (Model.ClaimsInfo != null)
                                    {

                                        foreach (var claiminfo in Model.ClaimsInfo)
                                        {

                                            string claimNumber = "";
                                            string rcv = "";
                                            string serviceProvider = "";
                                            string policyNumber = "";
                                            string catCode = "";
                                            string causeTypeOfLoss = "";
                                            string serviceOffering = "";
                                            string dateOfLoss = "";
                                            string insuredName = "";
                                            string insuredAddress = "";
                                            string insuredCity = "";
                                            string insuredState = "";
                                            string insuredZip = "";
                                            string PropertyZip = "";
                                            string totalDeductible = "";
                                            string companyname = "";

                                            BLL.Claim claim = css.Claims.Find(claiminfo.ClaimId);
                                            if (claim != null)
                                            {
                                                if (!String.IsNullOrEmpty(claim.ClaimNumber))
                                                {
                                                    claimNumber = claim.ClaimNumber;
                                                }
                                                if (claiminfo.RCV.HasValue)
                                                {
                                                    rcv = String.Format("{0:0.00}", claiminfo.RCV);
                                                }
                                                if (!String.IsNullOrEmpty(claim.PolicyNumber))
                                                {
                                                    policyNumber = claim.PolicyNumber;
                                                }
                                                if (!String.IsNullOrEmpty(claim.PolicyNumber))
                                                {
                                                    policyNumber = claim.PolicyNumber;
                                                }
                                                if (!String.IsNullOrEmpty(claim.CatCode))
                                                {
                                                    catCode = claim.CatCode;
                                                }
                                                if (claim.CauseTypeOfLoss != null)
                                                {
                                                    //causeTypeOfLoss = claim.CauseTypeOfLoss;
                                                    BLL.LossType lossType = css.LossTypes.Find(claim.CauseTypeOfLoss);
                                                    if (lossType != null)
                                                    {
                                                        causeTypeOfLoss = lossType.LossType1;
                                                    }
                                                }

                                                if (claim.DateofLoss.HasValue)
                                                {
                                                    dateOfLoss = claim.DateofLoss.Value.ToString("MM/dd/yyyy");
                                                }
                                                if (!String.IsNullOrEmpty(claim.InsuredFirstName))
                                                {
                                                    insuredName = claim.InsuredFirstName;
                                                }
                                                if (!String.IsNullOrEmpty(claim.InsuredLastName))
                                                {
                                                    insuredName += " " + claim.InsuredLastName;
                                                }
                                                if (!String.IsNullOrEmpty(claim.InsuredAddress1))
                                                {
                                                    insuredAddress = claim.InsuredAddress1;
                                                }
                                                if (!String.IsNullOrEmpty(claim.InsuredAddress2))
                                                {
                                                    insuredAddress += "" + claim.InsuredAddress2;
                                                }
                                                if (!String.IsNullOrEmpty(claim.InsuredCity))
                                                {
                                                    insuredCity = claim.InsuredCity;
                                                }
                                                if (!String.IsNullOrEmpty(claim.InsuredState))
                                                {
                                                    insuredState = claim.InsuredState;
                                                }
                                                if (!String.IsNullOrEmpty(claim.InsuredZip))
                                                {
                                                    insuredZip = claim.InsuredZip;
                                                }
                                                if (!String.IsNullOrEmpty(claim.PropertyZip))
                                                {
                                                    PropertyZip = claim.PropertyZip;
                                                }
                                            }

                                            if (claiminfo.OAUserId != null)
                                            {
                                                Int64 userid = @claiminfo.OAUserId;
                                                int? cntHeadcompanyid;
                                                cntHeadcompanyid = css.Users.Where(x => x.UserId == userid).Select(x => x.HeadCompanyId).FirstOrDefault();


                                                companyname = cntHeadcompanyid != null ? css.Companies.Where(x => x.CompanyId == cntHeadcompanyid).FirstOrDefault().CompanyName : string.Empty;
                                            }
                                            if (Model.FileStatus == 6 || Model.FileStatus == 19 || (loggedInUser.UserTypeId != 2 && loggedInUser.UserTypeId != 8 && loggedInUser.UserTypeId != 11) || Model.IsQAReview == true)
                                            {
                                                if (loggedInUser.UserTypeId != 12 || (loggedInUser.UserTypeId == 12 && claiminfo.FileStatusId != 18 && claiminfo.FileStatusId != 2) || Model.IsQAReview == true)
                                                {
                                                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")" valign="top">
                                                        <td>
                                                            @*<input type="checkbox" name="cbSelect" value="@claiminfo.AssignmentId" />*@
                                                        </td>
                                                        <td>@(k = k + 1)</td>
                                                        <td nowrap="nowrap">
                                                            <a href="#">
                                                                <img id="imgExpand@(i + "")" alt="Expand" title="Expand" src="~/Content/Images/plus.png" onclick="showRecordDetails(@(i + ""))" style="border: none;" />
                                                            </a>

                                                            <a href="#">
                                                                <img id="imgCollapse@(i + "")" title="Collapse" onclick="hideRecordDetails(@(i + ""))" alt="Collapse" src="~/Content/Images/minus.png" style="display: none; border: none;" />
                                                            </a>

                                                        </td>
                                                        <td>
                                                            @{
                                                    var AssignmentServiceList = css.GetAllCANAssignmentsServicesList(claiminfo.ClaimId).ToList();
                                                    Int32 AssignmentCount = AssignmentServiceList.Count();
                                                    Int32 PageRdirect;
                                                    Int64 JobId;
                                                    Int64 ServiceId;
                                                    if (AssignmentServiceList != null)
                                                    {
                                                        if (AssignmentCount == 0)
                                                        {
                                                            PageRdirect = 0;
                                                            JobId = 0;
                                                            ServiceId = 0;
                                                        }
                                                        else if (AssignmentCount == 1)
                                                        {
                                                            PageRdirect = 1;
                                                            var jobassignmentdetails = AssignmentServiceList.FirstOrDefault();
                                                            JobId = Convert.ToInt64(jobassignmentdetails.Jobid);
                                                            ServiceId = Convert.ToInt64(jobassignmentdetails.Serviceid);
                                                        }
                                                        else
                                                        {
                                                            PageRdirect = 2;
                                                            JobId = 0;
                                                            ServiceId = 0;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        PageRdirect = 0;
                                                        JobId = 0;
                                                        ServiceId = 0;
                                                    }
                                                            }
                                                            @*<a href="#" onclick="AssignmentServices(@claiminfo.ClaimId,@PageRdirect,@JobId,@ServiceId);">
                                                                    @claiminfo.ClaimNumber
                                                                </a>*@
                                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = claiminfo.ClaimId, Jobid = claiminfo.JobId, IsView = true, ServiceId = claiminfo.ServiceId, CanAssignmentJobId = claiminfo.AssignmentJobId  })' style="border: none; color: blue; text-decoration: none;">
                                                                @claiminfo.ClaimNumber
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @*@claiminfo.CSSPOCUserUserFullName*@
                                                            @claiminfo.ClientPOCUserFullName
                                                        </td>
                                                        <td>
                                                            @insuredName
                                                        </td>
                                                        <td>
                                                            @insuredCity
                                                        </td>
                                                        <td>
                                                            @insuredZip
                                                        </td>
                                                        <td>
                                                            @*<a href="/PropertyAssignment/GetReferalDetails?ClaimId=20014&Jobid=1&IsView=True&ServiceId=4">*@
                                                            @*<a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = claiminfo.ClaimId, Jobid = claiminfo.JobId, IsView = true, ServiceId = claiminfo.ServiceId })' style="border: none; color: blue; text-decoration: none;">
                                                                    @claiminfo.JobDesc
                                                                </a>*@
                                                            @claiminfo.JobDesc
                                                        </td>
                                                        <td>
                                                            @claiminfo.Servicename
                                                        </td>

                                                        <td>
                                                            @claiminfo.FileStatus
                                                        </td>
                                                        <td nowrap="nowrap">
                                                            @{
                                                    bool displayAssignSPIcon = false;
                                                    bool displayReAssignSPIcon = false;
                                                    if (claiminfo.OAUserId == null)
                                                    {
                                                        displayAssignSPIcon = true;
                                                    }
                                                    else
                                                    {
                                                        if (claiminfo.OAUserId == 0)
                                                        {
                                                            displayAssignSPIcon = true;
                                                        }
                                                        else
                                                        {
                                                            if (claiminfo.FileStatusId == 21)
                                                            {
                                                                displayReAssignSPIcon = true;
                                                            }
                                                        }
                                                    }

                                                    if (displayAssignSPIcon)
                                                    {
                                                        if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                                        {
                                                            @*@Html.ActionLink("Dispatch Contractor Assignments", "Search", "DispatchContractorAssignments", new { , @Distance = 0, @jobtypeid = 0, @servicetypeid = 0 }, null)*@
                                                                <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = PropertyZip, Distance = 0, jobtypeid = claiminfo.JobId, servicetypeid = claiminfo.ServiceId, assignmentId = claiminfo.AssignmentId })" style="border: none; color: black; cursor: pointer;float:left;">
                                                                    <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                </a>

                                                        }
                                                    }
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (!displayAssignSPIcon)
                                                            {
                                                                if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                                                {
                                                                    if (displayReAssignSPIcon)
                                                                    {

                                                                        <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = PropertyZip, Distance = 0, jobtypeid = claiminfo.JobId, servicetypeid = claiminfo.ServiceId, assignmentId = claiminfo.AssignmentId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                                            <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                                                        </a>
                                                                    }


                                                                }
                                                            }
                                                        </td>

                                                        <td nowrap="nowrap"></td>
                                                        <td></td>

                                                        <td></td>

                                                    </tr>
                                                }
                                            }


                                            <tr id="trRecordInfo@(i + "")" style="display:none;" class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                                <td colspan="18">
                                                    <table width="100%" cellspacing="5">
                                                        <tr>
                                                            <td><b>Claim #:</b> @claimNumber</td>
                                                            <td><b>Policy #:</b>@policyNumber</td>
                                                            <td><b>CAT Code:</b> @catCode</td>
                                                            <td><b>Cause Type of Loss:</b> @causeTypeOfLoss </td>
                                                            <td><b>Service Offering:</b> @serviceOffering</td>
                                                            <td><b>Date of Loss: </b>@dateOfLoss</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Insured Name:</b> @insuredName</td>
                                                            <td><b>Address:</b> @insuredAddress </td>
                                                            <td><b>City:</b> @insuredCity</td>
                                                            <td><b>State:</b>  @insuredState</td>
                                                            <td><b>Zip: </b>@insuredZip</td>
                                                            <td><b>Total Deductible:</b>@totalDeductible</td>
                                                        </tr>
                                                    </table>


                                                    <br />
                                                    <br />
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    if (i == 0)
                                    {
                                        <tr>
                                            <td colspan="18" align="center">
                                                <br />
                                                - No record matching the Search Filter was found -<br />
                                                <br />
                                            </td>
                                        </tr>
                                    }
                                }


                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>

                                    <td>
                                        @Html.Partial("_Pager", Model.Pager)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}




