﻿@using System.Configuration
@model BLL.ViewModels.XACTClaimsInfoViewModel
@using CSS
@using BLL
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
@{
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

@*<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.default.min.css" rel="stylesheet" />*@
@*  <script src="js/jquery.min.js"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery.min.js")" ></script>*@
@*   <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css" rel="stylesheet" />
     <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.default.min.css" rel="stylesheet" />
     <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.min.css" rel="stylesheet" />
     <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
     <script src="http://cdn.kendostatic.com/2014.1.528/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.all.min.js" ></script>*@
<style>
    .module {
        margin: 0px;
        width: 48px;
        height: 48px;
        float: left;
        /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg);*/
        background-size: cover;
        position: relative;
        padding-left: 4px;
    }

    p {
        position: absolute;
        /*bottom: 11px;*/
        left: 4px;
        background: rgba(0, 0, 0, 0.75);
        /*padding: 2px 0px;
        color: white;*/
        margin: 8px;
        font: 12px Sans-Serif;
    }

    .opp p {
        background: rgba(218, 57, 57, 0.75);
        color: white;
        /*background-image:url(/Content/Images/pin2.png);*/
        margin-left: 12px;
    }
</style>
<script type="text/javascript">

    function RequirementSuceess() {
        $('#divRequirementsMessage').css('display', 'block');
        $('#divRequirementsMessage').empty().append('Changes saved Successfully!');
    }
    //OnSuccess = "RequirementSuceess()"
    function RequirementFailed() {
        $('#divRequirementsMessage').css('display', 'block');
        $('#divRequirementsMessage').empty().append('Some error occoured!');
    }

    function ResetMessage() {

        $('#divRequirementsMessage').empty();
    }

    function ExecuteOnLoad() {
        var ActiveMainTab = '@Model.ActiveMainTab';
        if (ActiveMainTab.length != 0) {
            if (ActiveMainTab == "Details") {
                showView(0);
            }
            else if (ActiveMainTab == "Triage") {
                showTriageView('@Url.Action("TriageDetails", new { assignmentId = Model.PropertyAssignment.AssignmentId })', '2');
            }
        }
    }
    function getDocumentsList(claimId, assignmentId, documentTypeId, statusId) {
        //    console.log(claimId);
        //  console.log(assignmentId);
        // console.log(documentTypeId);
        $("#divDocumentsList").empty();
        $("#divDocumentsListLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
        '@Url.Action("ClaimJobsDocumentsList")',
            {
                claimId: claimId, assignmentId: assignmentId, documentTypeId: documentTypeId, statusId: statusId
            },
            function (myData) {
                //       console.log(myData);
                $("#divDocumentsList").html(myData);
                $("#divDocumentsListLoading").hide();
                //     console.log("end");
            });

    }
    function getFinaciallist(claimid) {


        $.ajax({
            url: '@Url.Action("GetFinacialList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { claimid: claimid },
            cache: false,
            success: function (result) {
                $('#tabReserves').empty().append(result);

            },
            error: function (error) {

            }
        });
        showView('7');
    }
    function showTriageView(url, tabid) {
        $("#divTriage").empty();
        $("#divTriageLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {

            $("#divTriage").html(myData);
            $("#divTriageLoading").hide();
        });
        showView(tabid);
    }

    function showFinancialsView(url, tabid) {
        $("#divFinancials").empty();
        $("#divFinancialsLoading").show();
        $.getJSON(
        url,
        function (myData) {
            $("#divFinancials").html(myData);
            $("#divFinancialsLoading").hide();
        }).error(function (err) {
            //alert(err.responseText);
        });
        showView(tabid);
    }
    function showRequirementsView(assignmentId, tabid) { //JAY

        $("#divRequirementsContent").empty();
        $("#divRequirementLoading").show();
        $.ajax({
            url: '@Url.Action("Requierments", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentId: assignmentId },
            cache: false,
            success: function (result) {
                $('#divRequirementsContent').empty().append(result);
                $("#divRequirementLoading").hide();
            },
            error: function (error) {
                alert(error);
            }
        });
        showView(tabid);
    }


    function getDiariesList(url, tabid) {
        $("#divDiaries").empty();
        $("#divDiariyListLoading").show();

        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {
            $("#divDiaries").html(myData);
            $("#divDiariyListLoading").hide();
        });
        showView(tabid);
    }

    function bindDiaries(data) {
        $("#divDiaries").empty();
        $("#divDiaries").html(data);
    }
    @*function getNotesList(tabid) {
        //check if ddlNotesDisplayType exists. If not make use of default value.
        displayType = $("#ddlNotesDisplayType").length != 0 ? $("#ddlNotesDisplayType").val() : "0";
        $('#divNotesHistory').empty();
        $("#divNotesListLoading").show();
        $.ajax({
            url: '@Url.Action("GetJobsNotesList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            //data: { claimid: '@Model.PropertyAssignment.ClaimId', DisplayType: displayType },
            data: { claimid: '@Model.PropertyAssignment.ClaimId', Assignmentid: '@Model.PropertyAssignment.AssignmentId', Jobid: 0, DisplayType: displayType },
            cache: false,
            success: function (result) {
                $('#divNotesHistory').empty().append(result);
                $("#divNotesListLoading").hide();
            },
            error: function (error) {
            }
        });
        showView(tabid);
    }*@
    function getClaimNotesList(tabid) {
        //check if ddlNotesDisplayType exists. If not make use of default value.
        displayType = $("#ddlNotesDisplayType").length != 0 ? $("#ddlNotesDisplayType").val() : "0";
        $('#divNotesHistory').empty();
        $("#divNotesListLoading").show();
        $.ajax({
            url: '@Url.Action("GetClaimNotesList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { claimid: '@Model.PropertyAssignment.ClaimId', DisplayType: displayType },
            //data: { claimid: '@Model.PropertyAssignment.ClaimId', Assignmentid: '@Model.PropertyAssignment.AssignmentId', Jobid: 0, DisplayType: displayType },
            cache: false,
            success: function (result) {
                $('#divNotesHistory').empty().append(result);
                $("#divNotesListLoading").hide();
            },
            error: function (error) {
            }
        });
        showView(tabid);
    }

    function NotesHistoryRF(Claimid, FirstPage1, CurrentPage1) {
        var displayType = $('#ddlNotesDisplayType').val();
        $("#divNotesListLoading").show();
        $.post('@Url.Content("~/PropertyAssignment/GetNotesList")',
               {
                   claimid: Claimid, FirstPage: FirstPage1, CurrentPage: CurrentPage1, DisplayType: displayType
               },
                 function (data) {
                     $('#divNotesHistory').empty().append(data);
                     $("#divNotesListLoading").hide();
                 });
        showView(5);
    }

    function showView(id) {
        debugger;
        element = document.getElementById('divDetails');
        element.style.display = 'none';
        element = document.getElementById('divClientPolicy');
        element.style.display = 'none';
        element = document.getElementById('divTriage');
        element.style.display = 'none';
        element = document.getElementById('divRequirements');
        element.style.display = 'none';
        element = document.getElementById('divDiaries');
        element.style.display = 'none';
        element = document.getElementById('divNotesHistory');
        element.style.display = 'none';
        element = document.getElementById('divDocuments');
        element.style.display = 'none';
        element = document.getElementById('divFinancials');
        element.style.display = 'none';
        element = document.getElementById('divClaimFinancial');
        element.style.display = 'none';

        if (id == 0) {
            element = document.getElementById('divDetails');
            element.style.display = 'block';
        }
        else if (id == 1) {
            element = document.getElementById('divClientPolicy');
            element.style.display = 'block';
        }
        else if (id == 2) {
            element = document.getElementById('divTriage');
            element.style.display = 'block';
        }
        else if (id == 3) {
            element = document.getElementById('divRequirements');
            element.style.display = 'block';
        }
        else if (id == 4) {
            element = document.getElementById('divDiaries');
            element.style.display = 'block';
        }
        else if (id == 5) {
            element = document.getElementById('divNotesHistory');
            element.style.display = 'block';
        }
        else if (id == 6) {
            element = document.getElementById('divDocuments');
            element.style.display = 'block';
            getDocumentsList('@Model.PropertyAssignment.ClaimId', '@Model.PropertyAssignment.AssignmentId', '0');
        }
        else if (id == 7) {
            element = document.getElementById('divFinancials');
            element.style.display = 'block';

        }
        else if (id == 8) {
            element = document.getElementById('divClaimFinancial');
            element.style.display = 'block';
        }
    }

    function OpenemailUtilityToSP(emailid, phoneNum, emailSubject, assignmentId) {
        //alert(assignmentId);
        $('#divEmailUtility').css("display", "block");
        loadEmailUtilityPopup(emailid, '@CSS.AuthenticationUtility.GetUser().Email', assignmentId, phoneNum, emailSubject);
    }

    function OpenemailUtility(emailid, phoneNum, emailSubject) {
        $('#divEmailUtility').css("display", "block");
        loadEmailUtilityPopup(emailid, '@CSS.AuthenticationUtility.GetUser().Email', '@Model.PropertyAssignment.AssignmentId', phoneNum, emailSubject);
    }
    function OpenTemplateToemailUtility1() {
        $('#divTemplateToEmailUtility1').css("display", "block");
        //  $('#TemplateToEmailUtilitbackgroundPopup1').css("display", "block");
        loadTemplateToEmailUtilityPopup1('@Model.PropertyAssignment.AssignmentId', '@Model.claim.ClaimId');

    }


</script>
<!-- Jay For Edit popup -->
<script type="text/javascript">
    function disableAllPopups() {
        disableEditClaimPopup();
    }
    function loadEditClaimPopup(url) {
        //alert('' + url);
        document.getElementById("iframeEditClaim").src = url;
        centerEditClaimPopup();
      
        //$("#backgroundPopup").css({
        //    "opacity": "0.7"
        //});

        //$("#backgroundPopup").fadeIn("slow");
        $("#backgroundEditClaimPopup").css({
            "opacity": "0.7"
        })
     
        $("#backgroundEditClaimPopup").fadeIn("slow");
        $("#divEditClaim").fadeIn("slow");
               
        return false;
    }

    function disableEditClaimPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divEditClaim").fadeOut("slow");
        // loadSubmit();

        // document.forms["formSearch"].submit();

        location.href = '@Url.Content("~/PropertyAssignment/Details?claimid=" + Cypher.EncryptString(@Model.claim.ClaimId.ToString()))';
    }
    function centerEditClaimPopup() {


        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditClaim").height();
        var popupWidth = $("#divEditClaim").width();
        //centering
        $("#divEditClaim").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        //$("#backgroundPopup").css({
        //    "height": windowHeight
        //});
        return false;
    }
    function loadSubmit() {
        var ProgressImage = document.getElementById("progress_image");
        document.getElementById("progress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }
</script>
<script>
    var gblJobid = 0;
    function loadPopupAssignmentServices(Assignmentid, jobid) {
        var popupStatus = 0;

        if (popupStatus == 0) {

            centerPopupAssignmentServices();
            $("#backgroundPopupAssignmentServices").css({
                "opacity": "0.7"
            });


            bindAssignmentServicesList(Assignmentid, jobid);
            $("#backgroundPopupAssignmentServices").fadeIn("slow");
            $("#AssignmentServiceslist").fadeIn("slow");
            popupStatus = 1;
        }
        return false;

    }

    function centerPopupAssignmentServices() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#AssignmentServiceslist").height();
        var popupWidth = $("#AssignmentServiceslist").width();
        //centering
        $("#AssignmentServiceslist").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupAssignmentServices").css({
            "height": windowHeight
        });
        return false;
    }
    function disablePopupAssignmentServices() {
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupAssignmentServices").fadeOut("slow");
            $("#AssignmentServiceslist").fadeOut("slow");
            popupStatus = 0;


        }
    }

    function bindAssignmentServicesList(Assignmentid, jobid) {
        debugger;
        $.ajax({
            url: '@Url.Action("_AssignmentServiceList", "PropertyAssignment")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                Assignmentid: Assignmentid, jobid: jobid
            }),
            success: function (result) {

                var div = $('#dvServicesList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }
</script>
<style>
    .left, .hidden {
        float: left;
        height: 350px;
    }

    .left {
        width: 50%;
        background: #fff;
        z-index: 1;
    }

    .hidden {
        width: 25%;
        z-index: 2;
        position: absolute;
        left: -1000px;
        background: #f90;
        color: #000;
        float: right;
    }

    .right {
        width: 50%;
        float: right;
        height: 350px;
        background: #000;
        color: #fff;
    }

    .clear {
        clear: both;
    }

    .LeftButton {
        transform: rotate(-90deg);
        width: auto;
        height: 30px;
        overflow: hidden;
        box-sizing: content-box;
        position: fixed;
        z-index: 16543210;
        top: 45%;
        left: -2.7%;
        background-color: black;
        color: white;
        line-height: 30px;
        font-size: 15px;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        border-radius: 5px 5px;
        border: 1px solid rgb(61, 122, 173);
        text-align: center;
        cursor: pointer;
        padding: 5px;
    }

    .LeftButtonPanel {
        width: 95px;
        height: 690px;
        /*overflow: auto;*/
        box-sizing: content-box;
        /*position: fixed;*/
        position: absolute;
        /*z-index: 16543210;*/
        /*top: 25%;*/
        top: 150px;
        left: 0px;
        background-color: white;
        /*border-radius: 0px 0px;
        border: black;
        border-style:solid;*/
        opacity: 0.90;
    }

    .LeftButton .LeftButtonText {
        cursor: pointer;
        width: auto;
        height: auto;
        margin: 0px 5px 0px 5px;
        vertical-align: middle;
        line-height: 30px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        font-family: 'Helvetica Neue', Arial, sans-serif;
    }

    /*Claim Edit*/
    .c {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditClaimDetails {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .backgroundEditClaimPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }


    /* Assignments pending popup style  */
    .backgroundPopupAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .backgroundPopupNewAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .PopupNewAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>
<script>
    var topButtonVal = 0, sliderValue = 0, bottomButtonVal = 0, leftButtonVal = 0;
    $(document).ready(function () {
        var leftPercentWidth = (($("#divLeftButton").width()) / $(document).width()) * 100;
        $("#divLeftButton").css({ 'left': '-' + ((leftPercentWidth - 2.5) / 2) + '%' });
        $('#slide').click(function () {
            var hidden = $('.hidden');
            if (hidden.hasClass('visible')) {
                hidden.animate({ "left": "-1000px" }, "slow").removeClass('visible');
            } else {
                hidden.animate({ "left": "0px" }, "slow").addClass('visible');
            }
        });

        $("#divLeftButton").click(function () {
            closeOtherSliderPanes('Left');

            if (leftButtonVal == 0) {
                $("#divLeftButton").animate({ "left": "+=90px" }, "slow", function (evt) { });
                leftButtonVal = 1;
            }
            else {
                $("#divLeftButton").animate({ "left": "-=90px" }, "slow", function (evt) { });
                leftButtonVal = 0;
            }
            $("#divLeftButtonPanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        });

        //$(document).mouseup(function (e) {
        //    debugger;
        //    var divLeftBtn = $("#divLeftButton");

        //    var divLeft = $("#divLeftButtonPanel");

        //    //console.log(e.target.id + " " + e.target.className+" "+e.target.activeElement);

        //    var boolValue = false;

        //    if (topButtonVal == 1 && divTopBtn.is(e.target) == false && divTop.is(e.target) == false
        //        && divTopBtn.children().closest(e.target).length <= 0 && divTop.children().closest(e.target).length <= 0 &&
        //        document.getElementById("divTopButtonPanel").contains(e.target) == false && document.getElementById("divTopButton").contains(e.target) == false) {
        //        boolValue = true;
        //    }

        //    if (sliderValue == 1 && divRightBtn.is(e.target) == false && divRight.is(e.target) == false
        //        && divRightBtn.children().closest(e.target).length <= 0 && divRight.children().closest(e.target).length <= 0 &&
        //        document.getElementById("divQuoteMeButton").contains(e.target) == false && document.getElementById("divQuoteMePanel").contains(e.target) == false) {
        //        boolValue = true;
        //    }

        //    if (bottomButtonVal == 1 && divBottomBtn.is(e.target) == false && divBottom.is(e.target) == false
        //        && divBottomBtn.children().closest(e.target).length <= 0 && divBottom.children().closest(e.target).length <= 0 &&
        //        document.getElementById("divBottomButton").contains(e.target) == false && document.getElementById("divBottomButtonPanel").contains(e.target) == false) {
        //        boolValue = true;
        //    }

        //    if (leftButtonVal == 1 && divLeftBtn.is(e.target) == false && divLeft.is(e.target) == false
        //        && divLeftBtn.children().closest(e.target).length <= 0 && divLeft.children().closest(e.target).length <= 0 &&
        //        document.getElementById("divLeftButton").contains(e.target) == false && document.getElementById("divLeftButtonPanel").contains(e.target) == false) {
        //        boolValue = true;
        //    }

        //    if (boolValue) {
        //        closeOtherSliderPanes("");
        //    }

        //});

        //function closeOtherSliderPanes(currentPane) {
        //    switch (currentPane) {

        //        case "Top": {

        //            if (sliderValue == 1) {
        //                $("#divQuoteMeButton").animate({ "right": "-=567px" }, "slow", function (evt) { });
        //                $("#divQuoteMePanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (bottomButtonVal == 1) {
        //                $("#divBottomButton").animate({ "bottom": "-=701px" }, "slow", function (evt) { });
        //                $("#divBottomButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (leftButtonVal == 1) {
        //                $("#divLeftButton").animate({ "left": "-=701px" }, "slow", function (evt) { });
        //                $("#divLeftButtonPanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }
        //            sliderValue = 0; bottomButtonVal = 0; leftButtonVal = 0;
        //            break;
        //        }
        //        case "Right": {

        //            if (topButtonVal == 1) {
        //                $("#divTopButton").animate({ "top": "-=701px" }, "slow", function (evt) { });
        //                $("#divTopButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (bottomButtonVal == 1) {
        //                $("#divBottomButton").animate({ "bottom": "-=701px" }, "slow", function (evt) { });
        //                $("#divBottomButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (leftButtonVal == 1) {
        //                $("#divLeftButton").animate({ "left": "-=701px" }, "slow", function (evt) { });
        //                $("#divLeftButtonPanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }
        //            topButtonVal = 0; bottomButtonVal = 0; leftButtonVal = 0;
        //            break;
        //        }
        //        case "Bottom": {

        //            if (topButtonVal == 1) {
        //                $("#divTopButton").animate({ "top": "-=701px" }, "slow", function (evt) { });
        //                $("#divTopButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (sliderValue == 1) {
        //                $("#divQuoteMeButton").animate({ "right": "-=567px" }, "slow", function (evt) { });
        //                $("#divQuoteMePanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (leftButtonVal == 1) {
        //                $("#divLeftButton").animate({ "left": "-=701px" }, "slow", function (evt) { });
        //                $("#divLeftButtonPanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }
        //            topButtonVal = 0; sliderValue = 0; leftButtonVal = 0;
        //            break;
        //        }
        //        case "Left": {
        //            if (topButtonVal == 1) {
        //                $("#divTopButton").animate({ "top": "-=701px" }, "slow", function (evt) { });
        //                $("#divTopButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (sliderValue == 1) {
        //                $("#divQuoteMeButton").animate({ "right": "-=567px" }, "slow", function (evt) { });
        //                $("#divQuoteMePanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (bottomButtonVal == 1) {
        //                $("#divBottomButton").animate({ "bottom": "-=701px" }, "slow", function (evt) { });
        //                $("#divBottomButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            topButtonVal = 0; sliderValue = 0; bottomButtonVal = 0;
        //            break;
        //        }
        //        default: {
        //            if (topButtonVal == 1) {
        //                $("#divTopButton").animate({ "top": "-=701px" }, "slow", function (evt) { });
        //                $("#divTopButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (sliderValue == 1) {
        //                $("#divQuoteMeButton").animate({ "right": "-=567px" }, "slow", function (evt) { });
        //                $("#divQuoteMePanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (bottomButtonVal == 1) {
        //                $("#divBottomButton").animate({ "bottom": "-=701px" }, "slow", function (evt) { });
        //                $("#divBottomButtonPanel").animate({ "height": "toggle" }, "slow", function (evt) { });
        //            }

        //            if (leftButtonVal == 1) {
        //                $("#divLeftButton").animate({ "left": "-=90px" }, "slow", function (evt) { });
        //                $("#divLeftButtonPanel").animate({ "width": "toggle" }, "slow", function (evt) { });
        //            }
        //            topButtonVal = 0; sliderValue = 0; bottomButtonVal = 0; leftButtonVal = 0;
        //            break;
        //        }
        //    }
        //}
    });

    //make new service assignment

    function PopupSelectJobTypeforAssigment(Claimid) {
        var popupStatus = 0;
        debugger;
        if (popupStatus == 0) {

            centerPopupNewAssignmentServices();
            $("#backgroundPopupNewAssignmentServices").css({
                "opacity": "0.7"
            });


            SelectJobTypeforAssigment(Claimid);
            $("#backgroundPopupNewAssignmentServices").fadeIn("slow");
            $("#MakeNewServiceAssignments").fadeIn("slow");
            popupStatus = 1;
        }
        return false;

    }

    function centerPopupNewAssignmentServices() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#MakeNewServiceAssignments").height();
        var popupWidth = $("#MakeNewServiceAssignments").width();
        //centering
        $("#MakeNewServiceAssignments").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupNewAssignmentServices").css({
            "height": windowHeight
        });
        return false;
    }

    function SelectJobTypeforAssigment(Claimid) {
        debugger;
        $.ajax({
            url: '@Url.Action("SelectJobandServiceType", "PropertyAssignment")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                debugger;
                var div = $('#divNewAssignmentServicesList');
                div.html(result);
                $("#hidclaimid").val(Claimid);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }


    function disablePopupNewAssignmentServices() {
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupNewAssignmentServices").fadeOut("slow");
            $("#MakeNewServiceAssignments").fadeOut("slow");
            popupStatus = 0;
        }
    }

    function ExaminerAlert() {
        alert("User Rights Do Not Allow Access to this Job Type")
    }
    function showClaimFinancialView(url, tabid) {
        $("#divClaimFinancial").empty();
        $("#divClaimFinancialLoading").show();
        $.ajaxSetup({ cache: false });
        $.get(
        url,
        function (myData) {
            $("#divClaimFinancial").html(myData);
            $("#divClaimFinancialLoading").hide();
        });
        showView(tabid);
    }
</script>

<input type="hidden" name="hdnClaimID" id="hdnClaimID" value="@Model.claim.ClaimId" />
<table width="100%">
    <tr>
        <td class="mainHeader">
            <table width="100%;">
                <tr>
                    <td width="20%;" nowrap="nowrap">Claim Details&nbsp;</td>
                    <td width="70%;">
                        @{
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                            {
                                <a href="#" onclick="loadEditClaimPopup('@Url.Action("PropertyAssignment", "PropertyAssignment", new { claimid = Model.claim.ClaimId })')" style="border: none; color: black; cursor: pointer;float:left;">
                                    <img alt="Edit" src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="16" height="16" style="border: none; vertical-align: bottom;" />
                                </a>
                            }

                        }
                    </td>
                    <td>
                        @*<a href="#" onclick="PopupSelectJobTypeforAssigment(@Model.claim.ClaimId);">
                                <img alt="Triage" title="New Assignment" src="@Url.Content("~/Content/Images/New-Assignment.png")" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>*@
                        @if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 11)
                        {
                            <input type="button" value="Make New Request" class="buttonYellow_120" onclick="PopupSelectJobTypeforAssigment(@Model.claim.ClaimId);" />
                        }
                    </td>
                    @*<td nowrap="nowrap">
                            @{
                                bool displayAssignSPIcon = false;
                                bool displayReAssignSPIcon = false;
                                if (Model.PropertyAssignment.OAUserID == null)
                                {
                                    displayAssignSPIcon = true;
                                }
                                else
                                {
                                    if (Model.PropertyAssignment.OAUserID == 0)
                                    {
                                        displayAssignSPIcon = true;
                                    }
                                    else
                                    {
                                        if (Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5 || Model.PropertyAssignment.FileStatus == 6 || Model.PropertyAssignment.FileStatus == 8 || Model.PropertyAssignment.FileStatus == 8)
                                        {
                                            displayReAssignSPIcon = true;
                                        }
                                    }
                                }

                                if (displayAssignSPIcon)
                                {
                                    if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                    {

                                <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.PropertyAssignment.AssignmentId, HRT = 2 })" style="border: none; color: black; cursor: pointer;float:left;">
                                    <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>

                                    }
                                }
                            }
                        </td>
                        <td nowrap="nowrap">
                            @if (!displayAssignSPIcon)
                            {
                                if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                {
                                    if (displayReAssignSPIcon)
                                    {
                                <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.PropertyAssignment.AssignmentId, HRT = 2 })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                    <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                </a>
                                    }
                                }
                            }
                        </td>*@
                </tr>
            </table>


        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td class="subHeading">Summary</td>
                </tr>
                <tr>
                    <td class="content">
                        <table>
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>Claim Number:</b>
                                </td>
                                <td width="100%" colspan="2" nowrap="nowrap">
                                    @Model.claim.ClaimNumber
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>CAT Code:</b>
                                </td>
                                <td width="100%" nowrap="nowrap" colspan="2">
                                    @Model.claim.CatCode
                                </td>

                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>Insured Name:</b>
                                </td>
                                <td width="100%">
                                    @Model.claim.InsuredFirstName @Model.claim.InsuredLastName
                                </td>
                            </tr>
                            @*<tr>
                                    <td nowrap="nowrap" valign="top">
                                        <b>RCV:</b></td>
                                    <td width="100%">
                                        @(Model.claim.RCV.HasValue ? String.Format("{0:$0.00}", Model.claim.RCV) : "") </td>
                                </tr>*@
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>Claim Status:</b>
                                </td>
                                <td width="100%">
                                    @{
                                        string Claimstatus = "";
                                        Claimstatus = css.ClaimStatus.Where(x => x.ClaimStatusId == Model.claim.ClaimStatusId).Select(x => x.ClaimStatusDes).FirstOrDefault();
                                        @Claimstatus
                                    }

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="subFooter">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="3" cellspacing="0"
                               style="border-top-style: solid; border-bottom-style: solid; border-width: 1px; border-color: #999999"
                               width="100%">
                            <tr>
                                <td align="center">
                                    <a href="#" onclick="showView(0)">Details</a>

                                </td>
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    <a href="#" onclick="showView(1)">Client/Policy</a>

                                </td>
                                @if (loggedInUser.UserTypeId == 2)
                                {
                                    <td align="center"
                                        style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                        <a href="#" onclick="showClaimFinancialView('@Url.Action("ClaimFinancialDetails", new { ClaimId = Model.claim.ClaimId })','8')">
                                            Claim Financials
                                        </a>
                                    </td>
                                }
                                @if (loggedInUser.UserTypeId != 12)
                                {
                                    <td align="center"
                                        style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                        <a href="#" onclick="showTriageView('@Url.Action("TriageDetails", new { assignmentId = Model.PropertyAssignment.AssignmentId })','2')">
                                            Triage
                                        </a>
                                    </td>

                                    <td align="center"
                                        style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                        <a href="#" onclick="showRequirementsView('@Model.PropertyAssignment.AssignmentId','3')">
                                            Requirements
                                        </a>
                                    </td>
                                }
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    <a href="#" onclick="getClaimNotesList('5')">Notes</a>
                                </td>
                                @*<td align="center"
                                        style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                        <a href="#" onclick="getDiariesList('@Url.Action("ClaimDiariesList", new { assignmentId = Model.PropertyAssignment.AssignmentId })','4')">
                                        Tasks/Diary
                                        </a>
                                    </td>*@
                                    @*<td align="center"
                                            style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                            <a href="#" onclick="getNotesList('5')">Notes</a>

                                        </td>
                                        <td align="center"
                                            style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                            <a href="#" onclick="showView('6')">Documents</a>

                                        </td>*@
                                    @*<td align="center"
                                        style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                        Photos</td>*@
                                    @*<td align="center"
                                            style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                            @if (loggedInUser.UserTypeId != 11)
                                            {
                                                <a href="#" onclick="showFinancialsView('@Url.Action("Financials", new { claimId = Model.PropertyAssignment.ClaimId })',7)">
                                                    Financials
                                                </a>
                                            }
                                        </td>*@
                                    @*<a href="#" onclick="getFinaciallist('@Model.PropertyAssignment.ClaimId')">Financials</a>*@
                                    <td align="center">&nbsp;</td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <br />
                            <div id="divDetails">
                                @Html.Partial("_AssignmentDetailsBasic")
                            </div>
                            <div id="divClientPolicy" style="display: none;">
                                @Html.Partial("_AssignmentDetailsClientPolicy")
                            </div>
                            <div id="divClaimFinancialLoading" style="display: none;">
                                <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divClaimFinancial" style="display: none;">
                            </div>
                            <div id="divTriageLoading" style="display: none;">
                                <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divTriage" style="display: none;">
                            </div>
                            <div id="divRequirementLoading" style="display: none;">
                                <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divRequirements" style="display: none;">
                                <div id="divRequirementsMessage" class="errorMsg"></div>
                                @using (Ajax.BeginForm("Requirements", "PropertyAssignment", null, new AjaxOptions { HttpMethod = "POST", OnFailure = "RequirementFailed();", OnSuccess = "RequirementSuceess();" }, new { id = "frmRequirements" }))
                                {
                                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                        <tr>
                                            <td class="mainHeader">
                                                Requirements
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="content">
                                                <div id="divRequirementsContent"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" align="right" class="footer">
                                                <img id="imgProcessingSaveTriage" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                                                <input type="submit" class="buttonYellow_100" value="Save" />
                                                @* <input type="button" class="buttonLightYellow_100" value="Reset" onclick="resetTriageForm()" />*@
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </div>
                            <div id="divNotesListLoading" style="display: none;">
                                <img id="Notesprogress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divNotesHistory" style="display: none;">
                                @*@Html.Partial("_AssignmentDetailsNotesHistory")*@
                            </div>

                            <div id="divDocuments" style="display: none;">
                                @Html.Partial("_AssignmentDetailsDocuments")
                            </div>
                            <div id="divDiariyListLoading" style="display: none;">
                                <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divDiaries" style="display: none;">
                                @* @Html.Partial("_AssignmentDetailsDiariesList")*@
                            </div>
                            <div id="divFinancialsLoading" style="display: none;">
                                <img style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divFinancials" style="display: none;">
                                @Html.Partial("_AssignmentDetailsFinancials")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td class="footer">
                @*@using (Html.BeginForm("Search", "PropertyAssignment", FormMethod.Get, new { type="",backpar="1" }))
                    {
                        <input type="button" class="buttonLightYellow_100" value="Back" />
                    }*@
                @*<button type="button" class="buttonLightYellow_100" onclick="location.href='@Url.Action("Search", "PropertyAssignment", new { type = "2", backpar = "1" })' ;return false;">Back</button>*@
                @{
                    if (Session != null && Session["RedirectToList"] != null)
                    {                    
                        string RedirectToList = Session["RedirectToList"].ToString();
                        if (RedirectToList == "IAAssignmentList")
                        {
                            <button type="button" class="buttonLightYellow_100" onclick="location.href='@Url.Action("ReviewQueue", "PropertyAssignment", new { type = "QAAgent_Review", backpar = "" })' ;return false;">Back</button>
                        }
                        else if (RedirectToList == "ContractorAssignmentList")
                        {
                            <button type="button" class="buttonLightYellow_100" onclick="location.href='@Url.Action("ContractorReviewQueue", "PropertyAssignment", new { type = "QAAgent_Review", backpar = "" })' ;return false;">Back</button>
                        }
                        else if (RedirectToList == "SearchClaims")
                        {
                            <button type="button" class="buttonLightYellow_100" onclick="location.href='@Url.Action("Search", "PropertyAssignment", new { type = "", backpar = "1" })' ;return false;">Back</button>
                        }
                        else if (RedirectToList == "IAReviewQueue")
                        {
                            <button type="button" class="buttonLightYellow_100" onclick="location.href='@Url.Action("IAAssignmentSearch", "PropertyAssignment", new { type = "QAAgent_Review", backpar = "" })' ;return false;">Back</button>
                        }
                    }
                }
            </td>
        </tr>
    </table>

    <div id="backgroundPopup"></div>

        <div id="divEmailUtility" style="display: none;">
            @Html.Partial("_EmailUtility")
        </div>
        <div id="divEditClaim" class="EditClaimDetails" style="width: 1000px;">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="mainHeader">
                        <table width="100%">
                            <tr>
                                <td align="left"><b>Edit Claim/Assignment</b></td>
                                <td align="right">
                                    <div style="width: 100%; text-align: right;">
                                        <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableEditClaimPopup()" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="content" align="center">
                        <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="button" class="buttonYellow_100" value="Back" id="btnback" onclick="disableEditClaimPopup()" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="backgroundEditClaimPopup" class="backgroundEditClaimPopup" style="display:none;"></div>

        <div id="divTemplateToEmailUtility1" style="display:none">
            @Html.Partial("_TemplateToEmailUtility1")
        </div>
        <div id="divLeftButton" class="LeftButton" style="left: -2.62965%;">
            @*<div id="btnright" class="RightButtonText">-- Referal Bar --</div>*@
        </div>
        @{
            if (loggedInUser.UserTypeId != 12 && loggedInUser.UserTypeId != 1)
            {
                <div id="divLeftButtonPanel" class="LeftButtonPanel" style="display: block; vertical-align: middle; margin: 0px auto 0px auto;" title="Referal Bar">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr style="background: #878787;">
                            <td align="left" valign="top" style="width: 98%; height: 30px;"></td>
                            @*<td align="right" valign="middle" style="vertical-align: top; float: right; height: 30px;">
                                    <img id="imgCloseLeft" src="http://laco.rhealtech.com/App_Themes/Main/Images/close.png"
                                         style="width: 25px; height: 25px; border: 0px none; cursor: pointer;" />
                                </td>*@
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                    <div style="vertical-align: middle; margin: 0px auto 0px 10px;vertical-align:central;">
                        <table>
                            @{

                                var CanAssignmentId = Model.PropertyAssignment.AssignmentId;
                                //var CanAssignmentJobId = css.AssignmentJobs.Where(x => x.AssignmentJobId == CanAssignmentId).FirstOrDefault();
                                List<BLL.JobType> JobTypes = css.JobTypes.Where(a => a.IsDeleted == false || a.IsDeleted == null).ToList();
                                //var Company = css.Companies.Where(a => a.CompanyId == Model.claim.HeadCompanyId).FirstOrDefault();
                                //if (Company.IsHRTGIA == false)
                                //{
                                //    JobTypes = css.JobTypes.Where(a => a.JobId == 6).ToList();
                                //}
                                foreach (var jobtype in JobTypes)
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            @{
                                                //string baseFolder = "~\\UserUploads\\ServiceProviderDocuments\\";
                                                string absoluteThumnailFileName = jobtype.JobId + "\\" + jobtype.Logo;
                                                string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteThumnailFileName);
                                                //string thumbnailFileUrl = baseFolder + jobtype.JobId + "\\" + jobtype.Logo;
                                            }
                                            @{                                               
                                                var AssignmentJobID = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.ClaimId == Model.PropertyAssignment.ClaimId && aj.JobId == jobtype.JobId && pa.FileStatus != 11 select aj.AssignmentJobId).FirstOrDefault();
                                                //var AssignmentDetails = css.AssignmentJobs.Where(x => x.AssignmentJobId == AssignmentJobID).FirstOrDefault();

                                                //var AssignmentJobID = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.ClaimId == Model.Claim.ClaimId && aj.JobId == jobtype.JobId && pa.FileStatus != 11 select aj.AssignmentJobId).FirstOrDefault();
                                                var AssignmentDetails = css.AssignmentJobs.Where(x => x.AssignmentJobId == AssignmentJobID).FirstOrDefault();
                                                PropertyAssignment PropertyAssignmentDetails = null;
                                                if (AssignmentDetails != null)
                                                {
                                                    PropertyAssignmentDetails = css.PropertyAssignments.Where(x => x.AssignmentId == AssignmentDetails.AssignmentId).FirstOrDefault();
                                                }
                                            }
                                            @if ((from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.ClaimId == Model.PropertyAssignment.ClaimId && aj.JobId == jobtype.JobId select aj.AssignmentJobId).FirstOrDefault() > 0)
                                            {
                                                var CanAssignmentJobId = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.FileStatus != 11 && pa.ClaimId == Model.PropertyAssignment.ClaimId && aj.JobId == jobtype.JobId select aj.AssignmentJobId).ToList();
                                                var AssignmentCount = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.FileStatus != 11 && pa.ClaimId == Model.PropertyAssignment.ClaimId && aj.JobId == jobtype.JobId select aj.AssignmentJobId).Count();
                                                //var AssignmentCount = (from c in css.Claims join pa in css.PropertyAssignments on c.ClaimId equals pa.ClaimId join aj in css.AssignmentJobs on pa.AssignmentId equals aj.AssignmentId where pa.FileStatus != 10 && pa.FileStatus != 11 && pa.ClaimId == Model.PropertyAssignment.ClaimId && aj.JobId == jobtype.JobId select aj.AssignmentJobId).Count();
                                                if (AssignmentCount > 0)
                                                {
                                                    if (AssignmentCount == 1)
                                                    {
                                                        if (PropertyAssignmentDetails != null && PropertyAssignmentDetails.FileStatus == 10)
                                                        {
                                                            @*<a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.PropertyAssignment.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId })' style="cursor: pointer;text-decoration: none;">
                                                                <div class="module opp" style="padding-left: 10px;">
                                                                    <p><img src="~/Content/Images/check.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                                </div>
                                                            </a>*@
                                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.PropertyAssignment.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId, CanAssignmentJobId = CanAssignmentJobId[0] })' style="cursor: pointer;text-decoration: none;">
                                                                <div class="module opp" style="padding-left: 10px;">
                                                                    <p><img src="~/Content/Images/check.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                                </div>
                                                            </a>
                                                        }
                                                        else if (PropertyAssignmentDetails != null && PropertyAssignmentDetails.FileStatus == 51)
                                                        {
                                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.PropertyAssignment.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId, CanAssignmentJobId = CanAssignmentJobId[0] })' style="cursor: pointer;text-decoration: none;">
                                                                <div class="module opp" style="padding-left: 10px;">
                                                                    <p><img src="~/Content/Images/redCheck.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                                </div>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            @*if (loggedInUser.UserTypeId == 11 && jobtype.JobId == 6) //Examiner
                                                            {
                                                                <a href="#" onclick="ExaminerAlert()" style="border: none; color: black; text-decoration: none;">
                                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                                                </a>
                                                            }
                                                            else
                                                            {*@
                                                    <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.PropertyAssignment.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId ,CanAssignmentJobId = CanAssignmentJobId[0] })' style="border: none; color: black; text-decoration: none;">
                                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                                                </a>
                                                           // }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a href="#" onclick="loadPopupAssignmentServices(@Model.PropertyAssignment.ClaimId,@jobtype.JobId);" style="cursor: pointer;text-decoration: none;">
                                                            <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />

                                                        </a>
                                                    }

                                                }
                                                else
                                                {
                                                    @*if (loggedInUser.UserTypeId == 11 && jobtype.JobId == 6) //Examiner
                                                    {
                                                        <a href="#" onclick="ExaminerAlert()" style="border: none; color: black; text-decoration: none;">
                                                            <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />
                                                        </a>
                                                    }
                                                    else
                                                    {*@
                                                        if (AssignmentCount == 1 || AssignmentCount == 0)
                                                        {
                                                                        <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.PropertyAssignment.ClaimId, Jobid = jobtype.JobId, IsView = true, ServiceId = AssignmentDetails.ServiceId , CanAssignmentJobId = CanAssignmentJobId[0] })' style="cursor: pointer;text-decoration: none;">
                                                                <div class="module opp" style="padding-left: 10px;">
                                                                    <p><img src="~/Content/Images/check.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                                </div>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" onclick="loadPopupAssignmentServices(@Model.PropertyAssignment.ClaimId,@jobtype.JobId);" style="cursor: pointer;text-decoration: none;">
                                                                <div class="module opp" style="padding-left: 10px;">
                                                                    <p><img src="~/Content/Images/check.png" style="position:absolute;z-index:3;padding-left: 6px;" /></p>
                                                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;opacity: 0.2; filter: alpha(opacity=40);" />
                                                                </div>
                                                            </a>
                                                        }
                                                   // }
                                                }
                            <br /><center>@jobtype.JobDesc</center>
                        }
                        else
                        {
                            @*if (loggedInUser.UserTypeId == 11 && jobtype.JobId == 6) //Examiner
                            {
                                <a href="#" onclick="ExaminerAlert()" style="border: none; color: black; text-decoration: none;">
                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom; opacity: 0.2; filter: alpha(opacity=40);" />
                                </a>
                            }
                            else
                            {*@
                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.PropertyAssignment.ClaimId, Jobid = jobtype.JobId, IsView = false, ServiceId = 0, CanAssignmentJobId = 0 })' style="border: none; color: black; text-decoration: none;">
                                    <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@jobtype.JobDesc width="48" height="48" style="border: none; vertical-align: bottom; opacity: 0.2; filter: alpha(opacity=40);" />

                                </a>
                           // }
                            <br /><center>@jobtype.JobDesc</center>
                        }
                    </td>
                </tr>
            }
                        }
                    </table>




                </div>

            </div>
        }


    }
    <div id="AssignmentServiceslist" style="display: none;width:746px;" class="EditPopupAssignmentServices">
        <table width="100%" cellspacing="0" id="tbldivservice">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Requests Pending</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupAssignmentServices()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="trcontent">

                <td>
                    <div id="dvServicesList1">
                    </div>
                </td>
            </tr>

        </table>
    </div>
    <div id="backgroundPopupAssignmentServices" onclick="disablePopupAssignmentServices();" class="backgroundPopupAssignmentServices" style="display: none;"></div>

    @*make new assignment*@
    <div id="MakeNewServiceAssignments" style="display: none;width:400px;" class="PopupNewAssignmentServices">
        <table width="100%" cellspacing="0" id="tbldivserviceassignment">
            <tr>
                <td class="mainHeader">
                    <table width="100%">
                        <tr>
                            <td align="left"><b>New Assignments</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupNewAssignmentServices()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="trNewAssignmentContent">
                <td>
                    <div id="divNewAssignmentServicesList">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="backgroundPopupNewAssignmentServices" onclick="disablePopupNewAssignmentServices();" class="backgroundPopupNewAssignmentServices" style="display: none;"></div>
