﻿@model BLL.ViewModels.PropertyInvoiceViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePdfInvoice</title>
</head>
<body>
    <div>

        @{
            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
            var AssignmentJobs = css.AssignmentJobs.Where(x => x.AssignmentId == Model.invoiceDetail.AssignmentId).FirstOrDefault();
        }
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        @* <link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />*@

        <table style="width: 100%; color:black !important; font-size:16px !important; font-family: verdana !important;" bgcolor="White" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>

                    <table style="width: 100%">
                        <tr>
                            <td style="width: 15%">
                                <div style="float: left">
                                    <img src="http://localhost/Content/Images/PCS_Black_Logo.png" height="136" width="131" alt="Pacesetter Claims Service, Inc." />
                                    @* <img src="~/Content/Images/CSSLogo04.png" />*@
                                </div>
                            </td>
                            <td style="text-align: center; width: 70%;">
                                <div>
                                    <h2 style="margin-top: 0px;margin-bottom: 0px;"><b>Pacesetter Claims Service, Inc.</b></h2>
                                    <h3 style="margin-top: 0px;margin-bottom: 0px;">
                                        <b>
                                            1350 S. Boulder Ave. Suite 700

                                            <br />
                                            Tulsa, OK 74119
                                            <br />
                                            Tax Id: 73-1533956
                                        </b>

                                        @*Tax Id :@System.Configuration.ConfigurationManager.AppSettings["CSSTaxId"]*@
                                    </h3>
                                </div>
                            </td>
                            <td style="width: 15%;">
                                @*<div style="float: left; display: none;">
                                        <img src="~/Content/Images/CSSLogo04.png" />
                                    </div>*@
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%; border: 1px solid black;">
                        <tr>
                            <td colspan="2">
                                <table width="100%">

                                    <tr>
                                        <td align="center" valign="top" style="width: 50%">
                                            <table align="none" style="width: 95%; border: 1px solid black;" cellspacing="3">
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right;">Company :</th>
                                                    <td style="text-align: left">
                                                        @Model.invoiceDetail.CompanyName
                                                    </td>
                                                </tr>
                                                @*<tr>
                                                        <td width="10px"></td>
                                                        <th style="text-align: right">Policy Number :</th>
                                                        <td style="text-align: left">@Model.invoiceDetail.PolicyNumber</td>
                                                    </tr>*@

                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right">Claim Number :</th>
                                                    <td style="text-align: left">@Model.invoiceDetail.ClaimNumber</td>
                                                </tr>
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right">Loss Date :</th>
                                                    <td style="text-align: left">@Model.invoiceDetail.DateofLoss</td>
                                                </tr>
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right">Field Adjuster Name :</th>
                                                    <td style="text-align: left">@Model.invoiceDetail.OutSideAdujusterName</td>
                                                </tr>
                                                @if (AssignmentJobs.JobId != 6)
                                                {
                                                    string JobTypeName = css.JobTypes.Where(x => x.JobId == AssignmentJobs.JobId).FirstOrDefault().JobDesc.ToString();
                                                    string ServiceTypeName = css.ServiceTypes.Where(x => x.ServiceId == AssignmentJobs.ServiceId).FirstOrDefault().Servicename.ToString();

                                                    <tr>
                                                        <td></td>
                                                        <th style="text-align: right" valign="top">Job Type/Service Type :</th>
                                                        <td style="text-align: left"> @JobTypeName/ @ServiceTypeName </td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                        <td align="center" valign="top" style="width: 50%">
                                            <table align="none" style="width: 95%; border: 1px solid black;" cellspacing="3">
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right;width:150px">Invoice No :</th>
                                                    <td style="text-align: left">@Model.invoiceDetail.InvoiceNo</td>
                                                </tr>
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right">Insured Name :</th>
                                                    <td style="text-align: left">@Model.invoiceDetail.InsuredFirstName @Model.invoiceDetail.InsuredLastName </td>
                                                </tr>
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right">Invoice Date :</th>
                                                    <td style="text-align: left">@Model.invoiceDetail.InvoiceDate</td>
                                                </tr>
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right">Invoice Type :</th>
                                                    <td style="text-align: left">
                                                        @{
                                                            switch (Model.invoiceDetail.InvoiceType)
                                                            {
                                                                case 1:
                                                                    <text>
                                                                        Final
                                                                    </text>
                                                                    break;
                                                                case 2:
                                                                    <text>
                                                                        Interim
                                                                    </text>
                                                                    break;
                                                                case 3:
                                                                    <text>
                                                                        Supplement
                                                                    </text>
                                                                    break;
                                                                case 4:
                                                                    <text>
                                                                        CreditMemo
                                                                    </text>
                                                                    break;
                                                                default:
                                                                    <text>
                                                                    </text>
                                                                    break;
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10px"></td>
                                                    <th style="text-align: right" valign="top">Loss Address :</th>
                                                    <td style="text-align: left">
                                                        @Model.invoiceDetail.PropertyAddress1 @Model.invoiceDetail.PropertyAddress2, @Model.invoiceDetail.PropertyCity @Model.invoiceDetail.PropertyState @Model.invoiceDetail.PropertyZip
                                                        <br />
                                                        @Model.invoiceDetail.InsuredHomePhone
                                                        <br />
                                                        @Model.invoiceDetail.PropertyContactPhone
                                                    </td>
                                                </tr>
                                                @*<tr>
                                                        <td width="10px"></td>
                                                        <th style="text-align: right" valign="top">Tax Id :</th>
                                                        <td style="text-align: left">@System.Configuration.ConfigurationManager.AppSettings["CSSTaxId"]</td>
                                                    </tr>*@
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        @if (Model.invoiceDetail.FeeType == 1)
                        {
                            Double TE1total = 0.00;
                            Double TE2total = 0.00;
                            Double TE3total = 0.00;
                            Double Taxval = 0.00;
                            Double TPAOfficeFee = 0.00;
                            Double FileSetupFee = 0.00;
                            Double ReinspectionFee = 0.00;
                            <tr>
                                <td style="padding-left: 5%;">Loss RCV : @(Model.invoiceDetail.RCV.HasValue ? (Convert.ToDouble(Model.invoiceDetail.RCV.Value) == 0.00 ? "0.00" : Model.invoiceDetail.RCV.Value.ToString(".00")) : "0.00") </td>
                            </tr>
                            <tr>
                                <td width="100%;" align="center" valign="top">

                                    <table style="border-collapse: collapse; border: 1px solid black; text-align: left;" width="95%;">

                                        <tr style="height:30px">

                                            @*
                                                <th width="60px" style="border:1px solid black; text-align:left">#</th>*@
                                            <th style="border: 1px solid black; text-align: left" width="50%">Hourly Services Breakdown:</th>

                                            @*
                                                <th style="border: 1px solid black; text-align: right">Total</th>*@
                                        </tr>

                                        <tr style="height:30px">

                                            @*
                                                <th width="60px" style="border:1px solid black; text-align:left">#</th>*@
                                            <th style="border: 1px solid black; text-align: left">Adjuster Name</th>
                                            <th style="border: 1px solid black; text-align: right"># Hours</th>
                                            <th style="border: 1px solid black; text-align: left">SP Level</th>
                                            <th style="border: 1px solid black; text-align: right">Total</th>
                                            @*
                                                <th style="border: 1px solid black; text-align: right">Total</th>*@
                                        </tr>

                                        @if (Model.invoiceDetail.TE1SPHourlyRate.HasValue)
                                        {
                                            <tr>
                                                <td style="border: 1px solid black; text-align: left">@Model.invoiceDetail.OutSideAdujusterName</td>

                                                @if (Model.invoiceDetail.TE1NoOfHours.HasValue)
                                                {
                                                    <td style="border: 1px solid black; text-align: right">

                                                        @if (Model.invoiceDetail.TE1NoOfHours == 1)
                                                        {
                                                            <label>Flat Rate</label>
                                                        }
                                                        else
                                                        {
                                                            @(Model.invoiceDetail.TE1NoOfHours.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TE1NoOfHours.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TE1NoOfHours.Value.ToString(".00")) : "0.00")
                                                        }
                                                    </td>
                                                }
                                                @if (Model.invoiceDetail.TE1SPLevel.HasValue)
                                                {
                                                    if (Model.invoiceDetail.TE1SPLevel == 1)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">QC Reviewer</td>
                                                    }
                                                    else if (Model.invoiceDetail.TE1SPLevel == 2)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Inspector</td>
                                                    }
                                                    else if (Model.invoiceDetail.TE1SPLevel == 3)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Estimate Writer</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Clerical Adjuster</td>
                                                    }

                                                }
                                                @{


                                                }
                                                <td style="border: 1px solid black; text-align: right">
                                                    @if (Model.invoiceDetail.TE1NoOfHours.HasValue && Model.invoiceDetail.TE1SPHourlyRate.HasValue)
                                                    {
                                                        var TE1TotalFee = Convert.ToDouble(Model.invoiceDetail.TE1SPHourlyRate.Value) * Convert.ToDouble(Model.invoiceDetail.TE1NoOfHours.Value);
                                                        @TE1TotalFee.ToString(".00");
                                                        TE1total = TE1TotalFee;
                                                    }
                                                    else
                                                    {
                                                        var TE1TotalFee = 0;
                                                        @TE1TotalFee.ToString(".00");
                                                        TE1total = TE1TotalFee;
                                                    }
                                                </td>
                                            </tr>
                                                    }

                                        @if (Model.invoiceDetail.TE2SPHourlyRate.HasValue)
                                        {
                                            <tr>

                                                <td style="border: 1px solid black; text-align: left">@Model.OAUser1name</td>

                                                @if (Model.invoiceDetail.TE2NoOfHours.HasValue)
                                                {
                                                    <td style="border: 1px solid black; text-align: right">
                                                        @if (Model.invoiceDetail.TE2NoOfHours == 1)
                                                        {
                                                            <label>Flat Rate</label>
                                                        }
                                                        else
                                                        {
                                                            @(Model.invoiceDetail.TE2NoOfHours.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TE2NoOfHours.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TE2NoOfHours.Value.ToString(".00")) : "0.00")
                                                        }
                                                    </td>
                                                }
                                                @if (Model.invoiceDetail.TE2SPLevel.HasValue)
                                                {
                                                    if (Model.invoiceDetail.TE2SPLevel == 1)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">QC Reviewer</td>
                                                    }
                                                    else if (Model.invoiceDetail.TE2SPLevel == 2)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Inspector</td>
                                                    }
                                                    else if (Model.invoiceDetail.TE2SPLevel == 3)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Estimate Writer</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Clerical Adjuster</td>
                                                    }

                                                }
                                                <td style="border: 1px solid black; text-align: right">

                                                    @if (Model.invoiceDetail.TE2NoOfHours.HasValue && Model.invoiceDetail.TE2SPHourlyRate.HasValue)
                                                    {
                                                        var TE2TotalFee = Convert.ToDouble(Model.invoiceDetail.TE2SPHourlyRate.Value) * Convert.ToDouble(Model.invoiceDetail.TE2NoOfHours.Value);
                                                        @TE2TotalFee.ToString(".00");
                                                        TE2total = TE2TotalFee;
                                                    }
                                                    else
                                                    {
                                                        var TE2TotalFee = 0;
                                                        @TE2TotalFee.ToString(".00");
                                                        TE2total = TE2TotalFee;
                                                    }



                                                </td>
                                            </tr>
                                        }

                                        @if (Model.invoiceDetail.TE3SPHourlyRate.HasValue)
                                        {
                                            <tr>
                                                <td style="border: 1px solid black; text-align: left">@Model.OAUser2name</td>
                                                @if (Model.invoiceDetail.TE3NoOfHours.HasValue)
                                                {
                                                    <td style="border: 1px solid black; text-align: right">
                                                        @if (Model.invoiceDetail.TE3NoOfHours == 1)
                                                        {
                                                            <label>Flat Rate</label>
                                                        }
                                                        else
                                                        {
                                                            @(Model.invoiceDetail.TE3NoOfHours.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TE3NoOfHours.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TE3NoOfHours.Value.ToString(".00")) : "0.00")
                                                        }
                                                    </td>
                                                }
                                                @if (Model.invoiceDetail.TE3SPLevel.HasValue)
                                                {
                                                    if (Model.invoiceDetail.TE3SPLevel == 1)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">QC Reviewer</td>
                                                    }
                                                    else if (Model.invoiceDetail.TE3SPLevel == 2)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Inspector</td>
                                                    }
                                                    else if (Model.invoiceDetail.TE3SPLevel == 3)
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Estimate Writer</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="border: 1px solid black; text-align: left">Clerical Adjuster</td>
                                                    }
                                                }
                                                <td style="border: 1px solid black; text-align: right">

                                                    @if (Model.invoiceDetail.TE3NoOfHours.HasValue && Model.invoiceDetail.TE3SPHourlyRate.HasValue)
                                                    {
                                                        var TE3TotalFee = Convert.ToDouble(Model.invoiceDetail.TE3SPHourlyRate.Value) * Convert.ToDouble(Model.invoiceDetail.TE3NoOfHours.Value);
                                                        @TE3TotalFee.ToString(".00");
                                                        TE3total = TE3TotalFee;
                                                    }
                                                    else
                                                    {
                                                        var TE3TotalFee = 0;
                                                        @TE3TotalFee.ToString(".00");
                                                        TE3total = TE3TotalFee;
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        @*@if (Model.invoiceDetail.OfficeFee.HasValue)
                                            {
                                                if (Model.invoiceDetail.OfficeFee > 0)
                                                {
                                                    TPAOfficeFee = Convert.ToDouble(Model.invoiceDetail.OfficeFee);
                                                    <tr style="height:30px">
                                                        <td style="border: 1px solid black; padding-left: 10px;"><b>TPA/Office Fee</b></td>
                                                        <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.OfficeFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.OfficeFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.OfficeFee.Value.ToString(".00")) : "0.00")</td>
                                                    </tr>
                                                }
                                            }
                                            @if (Model.invoiceDetail.FileSetupFee.HasValue)
                                            {
                                                if (Model.invoiceDetail.FileSetupFee > 0)
                                                {
                                                    FileSetupFee = Convert.ToDouble(Model.invoiceDetail.FileSetupFee);
                                                    <tr style="height:30px">
                                                        <td style="border: 1px solid black; padding-left: 10px;"><b>File Set up Fee</b></td>
                                                        <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.FileSetupFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.FileSetupFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.FileSetupFee.Value.ToString(".00")) : "0.00")</td>
                                                    </tr>
                                                }
                                            }
                                            @if (Model.invoiceDetail.ReInspectionFee.HasValue)
                                            {
                                                if (Model.invoiceDetail.ReInspectionFee > 0)
                                                {
                                                    ReinspectionFee = Convert.ToDouble(Model.invoiceDetail.ReInspectionFee);
                                                    <tr style="height:30px">
                                                        <td style="border: 1px solid black; padding-left: 10px;"><b>Reinspection Fee</b></td>
                                                        <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.ReInspectionFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ReInspectionFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ReInspectionFee.Value.ToString(".00")) : "0.00")</td>
                                                    </tr>
                                                }
                                            }*@


                                        <tr style="height:30px">

                                            <td style="border: 1px solid black;"><b>Misc Fees Breakdown</b></td>
                                            <td style="border: 1px solid black; text-align: right" colspan="3">&nbsp;</td>
                                        </tr>

                                        @if (Model.invoiceDetail.TE1Misc >= 0)
                                        {
                                            <tr>
                                                <td style="border: 1px solid black; text-align: left">@Model.invoiceDetail.OutSideAdujusterName</td>
                                                <td style="border: 1px solid black; text-align: right" colspan="3">
                                                    @Model.invoiceDetail.TE1Misc
                                                </td>
                                            </tr>
                                        }
                                        @if (Model.invoiceDetail.TE2Misc >= 0)
                                        {
                                            <tr>
                                                <td style="border: 1px solid black; text-align: left">@Model.OAUser1name</td>
                                                <td style="border: 1px solid black; text-align: right" colspan="3">
                                                    @Model.invoiceDetail.TE2Misc
                                                </td>
                                            </tr>
                                        }
                                        @if (Model.invoiceDetail.TE3Misc >= 0)
                                        {
                                            <tr>
                                                <td style="border: 1px solid black; text-align: left">@Model.OAUser2name</td>
                                                <td style="border: 1px solid black; text-align: right" colspan="3">
                                                    @Model.invoiceDetail.TE3Misc
                                                </td>
                                            </tr>
                                        }

                                        <tr style="height:30px">
                                            @*
                                                <td width="60px" style="border:1px solid black;">1</td>*@
                                            <td style="border: 1px solid black;">&nbsp;</td>
                                            <td style="border: 1px solid black;" colspan="2"><b>Misc(T&E)</b></td>
                                            <td style="border: 1px solid black; text-align: right" colspan="2">
                                                @{
                                                    var TotalSPMisc = Model.invoiceDetail.TE1Misc + Model.invoiceDetail.TE2Misc + Model.invoiceDetail.TE3Misc;
                                                }
                                                <b>@TotalSPMisc.ToString("0.00")</b>
                                            </td>
                                        </tr>

                                        @*@if (Model.invoiceDetail.Misc.HasValue)
                                            {
                                            if (Model.invoiceDetail.Misc > 0)
                                            {
                                            <tr>
                                                <td style="border: 1px solid black;" valign="top">
                                                    <b>Misc.</b>
                                                    <br />
                                                    <b>Comment:</b> @(!String.IsNullOrEmpty(Model.invoiceDetail.MiscComment) ? Model.invoiceDetail.MiscComment : "-")
                                                </td>
                                                <td style="border: 1px solid black; text-align: right" valign="top" colspan="3">@(Model.invoiceDetail.Misc.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Misc.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Misc.Value.ToString(".00")) : "0.00")</td>
                                            </tr>
                                            }
                                            }*@
                                        @*///////////////

                                            /////////////////*@


                                        @*@if (Model.invoiceDetail.Tax.HasValue)
                                            {
                                            if (Model.invoiceDetail.Tax > 0)
                                            {
                                            <tr style="height:30px">
                                                <td style="border: 1px solid black;"><b>Total Services Sales Tax</b></td>
                                                <td style="border: 1px solid black; text-align: right" colspan="3"><b>@(Model.invoiceDetail.Tax.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Tax.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Tax.Value.ToString(".00")) : "0.00")</b></td>
                                            </tr>
                                            }
                                            }*@
                                        @if (Model.invoiceDetail.TotalMileage.HasValue)
                                        {
                                            if (Model.invoiceDetail.TotalMileage != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">3</td>*@
                                                    <td style="border: 1px solid black;">Total Mileage</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.TotalMileage.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalMileage.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalMileage.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.TotalPhotosCharges.HasValue)
                                        {
                                            if (Model.invoiceDetail.TotalPhotosCharges != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">4</td>*@
                                                    <td style="border: 1px solid black;">Total Photos</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.TotalPhotosCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalPhotosCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalPhotosCharges.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.Tolls.HasValue)
                                        {
                                            if (Model.invoiceDetail.Tolls != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">5</td>*@
                                                    <td style="border: 1px solid black;">Tolls</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.Tolls.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Tolls.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Tolls.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.OtherTravelCharge.HasValue)
                                        {
                                            if (Model.invoiceDetail.OtherTravelCharge != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">6</td>*@
                                                    <td style="border: 1px solid black;">Other Travel</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.OtherTravelCharge.HasValue ? (Convert.ToDouble(Model.invoiceDetail.OtherTravelCharge.Value) == 0.00 ? "0.00" : Model.invoiceDetail.OtherTravelCharge.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.AierialImageFee.HasValue)
                                        {
                                            if (Model.invoiceDetail.AierialImageFee != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">7</td>*@
                                                    <td style="border: 1px solid black;">Aerial Image Fee</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.AierialImageFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.AierialImageFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.AierialImageFee.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.EDIFee.HasValue)
                                        {
                                            if (Model.invoiceDetail.EDIFee != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">8</td>*@
                                                    <td style="border: 1px solid black;">EDI Fee</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.EDIFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.EDIFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.EDIFee.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.Airfare.HasValue)
                                        {
                                            if (Model.invoiceDetail.Airfare != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">9</td>*@
                                                    <td style="border: 1px solid black;">Airfare</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.Airfare.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Airfare.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Airfare.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.Misc.HasValue)
                                        {
                                            if (Model.invoiceDetail.Misc >= 0 || Model.invoiceDetail.Misc < 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;" valign="top">10</td>*@
                                                    <td style="border: 1px solid black;" valign="top">
                                                        Misc.
                                                        <br />
                                                        Comment: @(!String.IsNullOrEmpty(Model.invoiceDetail.MiscComment) ? Model.invoiceDetail.MiscComment : "-")
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3" valign="top">@(Model.invoiceDetail.Misc.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Misc.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Misc.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.ContentCount.HasValue)
                                        {
                                            if (Model.invoiceDetail.ContentCount != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">11</td>*@
                                                    <td style="border: 1px solid black;">Contents Count</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.ContentCount.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ContentCount.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ContentCount.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.AddOnFees >= 0 || Model.invoiceDetail.AddOnFees < 0)
                                        {
                                            var AddonTable = css.InvoiceAddOnFees.Where(x => x.InvoiceId == Model.invoiceDetail.InvoiceId).ToList();
                                            if (AddonTable != null)
                                            {
                                                foreach (var item in AddonTable)
                                                {
                                                    {
                                                        string Description = Model.LOBFeeGetList.Where(x => x.PotentialFeesId == item.PotentialFeesID).FirstOrDefault().FeeDesc.ToString();
                                                        var companypotentialfee = css.CompanyPotentialFees.Where(x => x.PotentialFeesId == item.PotentialFeesID).FirstOrDefault();
                                                        if (companypotentialfee != null && companypotentialfee.AddToGrossAmount == true)
                                                        {
                                                            <tr style="height:30px">
                                                                <td style="border: 1px solid black;">@Description</td>
                                                                <td style="border: 1px solid black; text-align: right" colspan="3">@(item.BaseAmount.Value.ToString(".00"))</td>
                                                            </tr>
                                                        }
                                                    }

                                                }
                                            }

                                        }
                                        @if (Model.invoiceDetail.TotalAdditionalCharges.HasValue)
                                        {
                                            if (Model.invoiceDetail.TotalAdditionalCharges != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">12</td>*@
                                                    <td style="border: 1px solid black;"><b>Total Additional Charges</b></td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3"><b>@(Model.invoiceDetail.TotalAdditionalCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalAdditionalCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalAdditionalCharges.Value.ToString(".00")) : "0.00")</b></td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.OfficeFee.HasValue)
                                        {
                                            if (Model.invoiceDetail.OfficeFee != 0)
                                            {
                                                <tr style="height:30px">

                                                    <td style="border: 1px solid black; padding-left: 10px;">- TPA/Office Fee</td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.OfficeFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.OfficeFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.OfficeFee.Value.ToString(".00")) : "0.00")</td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.invoiceDetail.CANAdminFee != 0)
                                        {
                                            <tr style="height:30px">
                                                <td style="border: 1px solid black; padding-left: 10px;">- Network Admin Fee</td>
                                                <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.CANAdminFee >= 0 ? (Convert.ToDouble(Model.invoiceDetail.CANAdminFee) == 0.00 ? "0.00" : Model.invoiceDetail.CANAdminFee.ToString(".00")) : "0.00")</td>
                                            </tr>
                                        }
                                        @if (Model.invoiceDetail.SubTotal.HasValue)
                                        {
                                            if (Model.invoiceDetail.SubTotal != 0)
                                            {
                                                <tr style="height:30px">
                                                    @*
                                                        <td width="60px" style="border:1px solid black;">1</td>*@
                                                    <td style="border: 1px solid black;">&nbsp;</td>
                                                    <td style="border: 1px solid black;" colspan="2"><b>Invoice Total w/o Sales Tax</b></td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="2">
                                                        @*@(Model.invoiceDetail.SubTotal.HasValue ? (Convert.ToDouble(Model.invoiceDetail.SubTotal.Value) == 0.00 ? "0.00" : Model.invoiceDetail.SubTotal.Value.ToString(".00")) : "0.00")*@
                                                        @{
                                                            var totalservices = TE3total + TE2total + TE1total + Taxval + TPAOfficeFee + FileSetupFee + ReinspectionFee;
                                                        }
                                                        <span><b>@totalservices.ToString("0.00")</b></span>
                                                    </td>
                                                </tr>
                                                                }
                                                            }
                                        @if (Model.invoiceDetail.Tax.HasValue)
                                        {
                                            if (Model.invoiceDetail.Tax != 0)
                                            {
                                                <tr style="height:30px">
                                                    @{
                                                        var test = "@";
                                                    }
                                                    <td style="border: 1px solid black;"><b>Total Services Sales Tax @test</b></td>
                                                    <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.Tax.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Tax.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Tax.Value.ToString(".00")) : "0.00")</td>
                                                    @{
                                                        Taxval = Model.invoiceDetail.Tax.HasValue ? Convert.ToDouble(Model.invoiceDetail.Tax.Value) : 0.00;
                                                    }
                                                </tr>
                                                            }
                                                        }


                                                        @*/////////

                                                            /////////*@



                                                        <tr style="height:30px">
                                                            @*
                                                                <td width="60px" style="border:1px solid black;"></td>*@
                                                            <td style="border: 1px solid black;"><b>Total Services and Fees</b></td>
                                                            <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.GrandTotal.HasValue ? (Convert.ToDouble(Model.invoiceDetail.GrandTotal.Value) == 0.00 ? "0.00" : Model.invoiceDetail.GrandTotal.Value.ToString(".00")) : "0.00")</td>
                                                        </tr>

                                                        <tr style="height:30px">
                                                            @*
                                                                <td width="60px" style="border:1px solid black;"></td>*@
                                                            <td style="border: 1px solid black;"><b>PRIOR PAYMENTS ON CLAIMS (Includes all Prior Invoices)</b></td>

                                                            <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.TotalAmountReceived.HasValue ? (Convert.ToDouble(Model.TotalAmountReceived.Value) == 0.00 ? "0.00" : Model.TotalAmountReceived.Value.ToString(".00")) : "0.00")</td>
                                                        </tr>
                                                        <tr style="height:30px">
                                                            @*
                                                                <td width="60px" style="border:1px solid black;"></td>*@
                                                            <td style="border: 1px solid black;"><b>BALANCE DUE</b></td>
                                                            <td style="border: 1px solid black; text-align: right" colspan="3">@(Model.invoiceDetail.BalanceDue.HasValue ? (Convert.ToDouble(Model.invoiceDetail.BalanceDue.Value) == 0.00 ? "0.00" : Model.invoiceDetail.BalanceDue.Value.ToString(".00")) : "0.00")</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td style="padding-left: 15%;">RCV : @(Model.invoiceDetail.RCV.HasValue ? (Convert.ToDouble(Model.invoiceDetail.RCV.Value) == 0.00 ? "0.00" : Model.invoiceDetail.RCV.Value.ToString(".00")) : "0.00") </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%;" align="center" valign="top">

                                                                    <table style="border-collapse: collapse; border: 1px solid black; text-align: left;" width="70%;">

                                                                        <tr style="height:30px">

                                                                            @*<th  width="60px" style="border:1px solid black; text-align:left">#</th>*@
                                                                            <th style="border: 1px solid black; text-align: left">Description</th>
                                                                            <th style="border: 1px solid black; text-align: right">$ Amount</th>
                                                                        </tr>
                                                                        @if (Model.invoiceDetail.ServicesCharges.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.ServicesCharges != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    <td style="border: 1px solid black;"><b>Services</b></td>
                                                                                    <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.ServicesCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ServicesCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ServicesCharges.Value.ToString(".00")) : "0.00")</b></td>
                                                                                </tr>
                                                                            }
                                                                        }


                                                                        @*
                                                                            @if (Model.invoiceDetail.FileSetupFee.HasValue)
                                                                            {
                                                                                if (Model.invoiceDetail.FileSetupFee > 0)
                                                                                {
                                                                                    <tr style="height:30px">

                                                                                        <td style="border: 1px solid black; padding-left: 10px;">- File Set up Fee</td>
                                                                                        <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.FileSetupFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.FileSetupFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.FileSetupFee.Value.ToString(".00")) : "0.00")</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            @if (Model.invoiceDetail.ReInspectionFee.HasValue)
                                                                            {
                                                                                if (Model.invoiceDetail.ReInspectionFee > 0)
                                                                                {
                                                                                    <tr style="height:30px">

                                                                                        <td style="border: 1px solid black; padding-left: 10px;">- Reinspection Fee</td>
                                                                                        <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.ReInspectionFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ReInspectionFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ReInspectionFee.Value.ToString(".00")) : "0.00")</td>
                                                                                    </tr>
                                                                                }
                                                                                    }*@



                                                                        @if (Model.invoiceDetail.TotalMileage.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.TotalMileage != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">3</td>*@
                                                                                    <td style="border: 1px solid black;">Total Mileage</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.TotalMileage.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalMileage.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalMileage.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.TotalPhotosCharges.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.TotalPhotosCharges != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">4</td>*@
                                                                                    <td style="border: 1px solid black;">Total Photos</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.TotalPhotosCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalPhotosCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalPhotosCharges.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.Tolls.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.Tolls != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">5</td>*@
                                                                                    <td style="border: 1px solid black;">Tolls</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.Tolls.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Tolls.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Tolls.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.OtherTravelCharge.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.OtherTravelCharge != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">6</td>*@
                                                                                    <td style="border: 1px solid black;">Other Travel</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.OtherTravelCharge.HasValue ? (Convert.ToDouble(Model.invoiceDetail.OtherTravelCharge.Value) == 0.00 ? "0.00" : Model.invoiceDetail.OtherTravelCharge.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.AierialImageFee.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.AierialImageFee != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">7</td>*@
                                                                                    <td style="border: 1px solid black;">Aierial Image Fee</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.AierialImageFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.AierialImageFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.AierialImageFee.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.EDIFee.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.EDIFee != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">8</td>*@
                                                                                    <td style="border: 1px solid black;">EDI Fee</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.EDIFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.EDIFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.EDIFee.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.Airfare.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.Airfare != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">9</td>*@
                                                                                    <td style="border: 1px solid black;">Airfare</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.Airfare.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Airfare.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Airfare.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                                @*
                                                                                    <tr style="height:30px">*@
                                                                                @*<td width="60px" style="border:1px solid black;" valign="top">10</td>*@
                                                                                @*<td style="border: 1px solid black;" valign="top">Misc.
                                                                                            <br />
                                                                                            Comment: @(!String.IsNullOrEmpty(Model.invoiceDetail.MiscComment) ? Model.invoiceDetail.MiscComment : "-")
                                                                                        </td>
                                                                                        <td style="border: 1px solid black; text-align: right" valign="top">@(Model.invoiceDetail.Misc.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Misc.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Misc.Value.ToString(".00")) : "0.00")</td>
                                                                                    </tr>*@
                                                                            }
                                                                        }

                                                                        @if (Model.invoiceDetail.Misc.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.Misc >= 0 || Model.invoiceDetail.Misc < 0)
                                                                            {

                                                                                <tr style="height:30px">

                                                                                    <td style="border: 1px solid black;" valign="top">
                                                                                        Misc.
                                                                                        <br />
                                                                                        Comment: @(!String.IsNullOrEmpty(Model.invoiceDetail.MiscComment) ? Model.invoiceDetail.MiscComment : "-")
                                                                                    </td>
                                                                                    <td style="border: 1px solid black; text-align: right" valign="top">@(Model.invoiceDetail.Misc.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Misc.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Misc.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.ContentCount.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.ContentCount != 0)
                                                                            {


                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">11</td>*@
                                                                                    <td style="border: 1px solid black;">Contents Count</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.ContentCount.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ContentCount.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ContentCount.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.AddOnFees >= 0 || Model.invoiceDetail.AddOnFees < 0)
                                                                        {
                                                                            var AddonTable = css.InvoiceAddOnFees.Where(x => x.InvoiceId == Model.invoiceDetail.InvoiceId).ToList();
                                                                            if (AddonTable != null)
                                                                            {
                                                                                foreach (var item in AddonTable)
                                                                                {
                                                                                    string Description = "";
                                                                                    {
                                                                                        if (item.PotentialFeesID != null)
                                                                                        {
                                                                                            Description = Model.LOBFeeGetList.Where(x => x.PotentialFeesId == item.PotentialFeesID).FirstOrDefault().FeeDesc.ToString();
                                                                                        }
                                                                                        else if (item.InvisionFeeID != null)
                                                                                        {
                                                                                            Description = css.InvisionFees.Where(x => x.InvisionFeeId == item.InvisionFeeID).FirstOrDefault().FeeName.ToString();
                                                                                        }
                                                                                        var companypotentialfee = css.CompanyPotentialFees.Where(x => x.PotentialFeesId == item.PotentialFeesID).FirstOrDefault();
                                                                                        if (companypotentialfee != null && companypotentialfee.AddToGrossAmount == true)
                                                                                        {
                                                                                            <tr style="height:30px">
                                                                                                <td style="border: 1px solid black;">@Description</td>
                                                                                                <td style="border: 1px solid black; text-align: right" colspan="3">@(item.BaseAmount.Value.ToString(".00"))</td>
                                                                                            </tr>
                                                                                        }
                                                                                    }

                                                                                }
                                                                            }

                                                                        }
                                                                        @if (Model.invoiceDetail.AddOnFees >= 0)
                                                                        {
                                                                            var AddonTable = css.InvoiceAddOnFees.Where(x => x.InvoiceId == Model.invoiceDetail.InvoiceId).ToList();
                                                                            if (AddonTable != null)
                                                                            {
                                                                                foreach (var item in AddonTable)
                                                                                {
                                                                                    string Description = "";
                                                                                    {
                                                                                        if (item.InvisionFeeID != null && item.BaseAmount > 0)
                                                                                        {
                                                                                            Description = css.InvisionFees.Where(x => x.InvisionFeeId == item.InvisionFeeID).FirstOrDefault().FeeName.ToString();
                                                                                            // var companypotentialfee = css.CompanyPotentialFees.Where(x => x.PotentialFeesId == item.PotentialFeesID).FirstOrDefault();
                                                                                            <tr style="height:30px">
                                                                                                <td style="border: 1px solid black;">@Description</td>
                                                                                                <td style="border: 1px solid black; text-align: right" colspan="3">@(item.BaseAmount.Value.ToString(".00"))</td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.TotalAdditionalCharges.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.TotalAdditionalCharges != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">12</td>*@
                                                                                    <td style="border: 1px solid black;"><b>Total Additional Charges</b></td>
                                                                                    <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.TotalAdditionalCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalAdditionalCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalAdditionalCharges.Value.ToString(".00")) : "0.00")</b></td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.OfficeFee.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.OfficeFee != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    <td style="border: 1px solid black; padding-left: 10px;">- TPA/Office Fee</td>
                                                                                    <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.OfficeFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.OfficeFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.OfficeFee.Value.ToString(".00")) : "0.00")</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.SubTotal.HasValue)
                                                                        {
                                                                            if (Model.invoiceDetail.SubTotal != 0)
                                                                            {
                                                                                <tr style="height:30px">
                                                                                    @*<td width="60px" style="border:1px solid black;">1</td>*@
                                                                                    <td style="border: 1px solid black;"><b>Invoice Total w/o Sales Tax</b></td>
                                                                                    <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.SubTotal.HasValue ? (Convert.ToDouble(Model.invoiceDetail.SubTotal.Value) == 0.00 ? "0.00" : Model.invoiceDetail.SubTotal.Value.ToString(".00")) : "0.00")</b></td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        @if (Model.invoiceDetail.Tax.HasValue)
                                                                        {
                                                                            <tr style="height:30px">
                                                                                <td style="border: 1px solid black;">Sales Tax</td>
                                                                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.Tax.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Tax.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Tax.Value.ToString(".00")) : "0.00")</td>
                                                                            </tr>
                                                                        }
                                                                        @*@if (Model.invoiceDetail.SubTotal.HasValue)
                                                                            {
                                                                                if (Model.invoiceDetail.SubTotal > 0)
                                                                                {
                                                                                    var TotalServices = (Model.invoiceDetail.Tax + Model.invoiceDetail.SubTotal).Value.ToString(".00");
                                                                                    <tr style="height:30px">
                                                                                        <td style="border: 1px solid black;"><b>Total Services with Sales Tax</b></td>
                                                                                        <td style="border: 1px solid black; text-align: right"><b>@TotalServices</b></td>
                                                                                    </tr>
                                                                                }
                                                                            }*@
                                                                        <tr style="height:30px">
                                                                            @*<td width="60px" style="border:1px solid black;"></td>*@
                                                                            <td style="border: 1px solid black;"><b>INVOICE TOTAL</b></td>
                                                                            <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.GrandTotal.HasValue ? (Convert.ToDouble(Model.invoiceDetail.GrandTotal.Value) == 0.00 ? "0.00" : Model.invoiceDetail.GrandTotal.Value.ToString(".00")) : "0.00")</b></td>
                                                                        </tr>

                                                                        <tr style="height:30px">
                                                                            @*<td width="60px" style="border:1px solid black;"></td>*@
                                                                            <td style="border: 1px solid black;"><b>PRIOR PAYMENTS ON CLAIMS (Includes all Prior Invoices)</b></td>

                                                                            <td style="border: 1px solid black; text-align: right"><b>@(Model.TotalAmountReceived.HasValue ? (Convert.ToDouble(Model.TotalAmountReceived.Value) == 0.00 ? "0.00" : Model.TotalAmountReceived.Value.ToString(".00")) : "0.00")</b></td>
                                                                        </tr>
                                                                        <tr style="height:30px">
                                                                            @*<td width="60px" style="border:1px solid black;"></td>*@
                                                                            <td style="border: 1px solid black;"><b>BALANCE DUE</b></td>
                                                                            <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.BalanceDue.HasValue ? (Convert.ToDouble(Model.invoiceDetail.BalanceDue.Value) == 0.00 ? "0.00" : Model.invoiceDetail.BalanceDue.Value.ToString(".00")) : "0.00")</b></td>
                                                                        </tr>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        @* </td>
            </tr>
            <tr>
                <td></td>

            </tr>



                </table>*@

    </div>
</body>
</html>
