﻿@using System.Configuration
@model BLL.ViewModels.AssignmentJobsViewModel
@using CSS
@using System.Xml
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    ViewBag.Title = "Property Assignment";
}
@{
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
@*<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>


    <link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>



<style type="text/css">
    .bgEditPopupCPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupCPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }


    .backgroundPopupSPDetails {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .SPDetails {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .backgroundPopupExaminerDetails {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .ExaminerDetails {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
    /*ribbonlicon css*/

    .LeftButton {
        transform: rotate(-90deg);
        width: auto;
        height: 30px;
        overflow: hidden;
        box-sizing: content-box;
        position: fixed;
        z-index: 16543210;
        top: 45%;
        left: -2.7%;
        background-color: black;
        color: white;
        line-height: 30px;
        font-size: 15px;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        border-radius: 5px 5px;
        border: 1px solid rgb(61, 122, 173);
        text-align: center;
        cursor: pointer;
        padding: 5px;
    }

    .LeftButtonPanel {
        width: 95px;
        height: 690px;
        /*overflow: auto;*/
        box-sizing: content-box;
        /*position: fixed;*/
        position: absolute;
        z-index: 16543210;
        /*top: 25%;*/
        top: 150px;
        left: 0px;
        background-color: white;
        /*border-radius: 0px 0px;
        border: black;
        border-style:solid;*/
        opacity: 0.90;
    }

    .LeftButton .LeftButtonText {
        cursor: pointer;
        width: auto;
        height: auto;
        margin: 0px 5px 0px 5px;
        vertical-align: middle;
        line-height: 30px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        font-family: 'Helvetica Neue', Arial, sans-serif;
    }

    .module {
        margin: 0px;
        width: 48px;
        height: 48px;
        float: left;
        /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg);*/
        background-size: cover;
        position: relative;
        padding-left: 4px;
    }

    p {
        position: absolute;
        /*bottom: 11px;*/
        left: 4px;
        background: rgba(0, 0, 0, 0.75);
        /*padding: 2px 0px;
    color: white;*/
        margin: 8px;
        font: 12px Sans-Serif;
    }

    .opp p {
        background: rgba(218, 57, 57, 0.75);
        color: white;
        /*background-image:url(/Content/Images/pin2.png);*/
        margin-left: 12px;
    }

     /* Assignments pending popup style  */
    .backgroundPopupAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }
    .EditPopupAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .backgroundPopupNewAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .PopupNewAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });


    });



    @*function populateZipData(zipControl, stateControl, cityControl) {
        try {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
        { ZipCode: $("#" + zipControl).val() },
        function (data) {
            if (data != -1) {

                $("#" + stateControl).val(data.State);
                $("#" + cityControl).val(data.City);
            }
            else {
                $("#" + stateControl).val("");
                $("#" + cityControl).val("");
            }

        });
        copyInsuredToLossOnBlur();
    } catch (err) {
    }
    }

    function btnNewCPOC_Click() {
        if ($("#ddlInsuranceCompany").val() != "0") {
            $("#spnCPOCHeading").html("Add ");
            $("#btnSaveCPOC").val("Add ");

            $("#imgClientPOCListLoading").show();
            $.ajax({
                url: '@Url.Action("ClientPOCEdit", "InsuranceSetup")'
        , type: 'GET'
            , data: { UserId: 0 }
            , cache: false
            }).done(function (result) {
                $("#divClientPOC").empty();
                $("#divClientPOC").html(result);
                $("#hdnCPOCHeadCompanyId").val($("#ddlInsuranceCompany").val());
                loadPopupCPOC();
                $("#imgClientPOCListLoading").hide();
            }).fail(function (result) {
            });
        }
        else {
            alert("Select an Insurance Company.");
        }
        return false;
    }
    function btnSaveCPOC_Click() {

        var data = $("#frmCPOC").serialize();

        $("#imgProcessingNewClientPOCSubmit").show();
        $.ajax({
            url: '@Url.Action("ClientPOCEdit", "InsuranceSetup")'
  , type: 'POST'
      , data: data
        }).done(function (result) {

            if (result.Code == "1") {
                $("#divClientPOC").empty();
                disablePopupNewClientPOC();
                $("#imgProcessingNewClientPOCSubmit").hide();
                populateClientPOCDLL(result.Data);
            }
            else if (result.Code == "-1") {
                $("#divClientPOC").html(result.Data);
                $("#imgProcessingNewClientPOCSubmit").hide();
            }
        }).fail(function (result) {
            //alert(result.responseText);
        });
    }
    function loadPopupCPOC() {

        centerPopupNewClientPOC();
        $("#divBgEditPopupCPOC").css({
            "opacity": "0.7"
        });

        $("#divBgEditPopupCPOC").fadeIn("slow");
        $("#divCPOCPopup").fadeIn("slow");
    }
    function disablePopupNewClientPOC() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#divBgEditPopupCPOC").fadeOut("slow");
            $("#divCPOCPopup").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewClientPOC() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#divCPOCPopup").height();
        var popupWidth = $("#divCPOCPopup").width();
        //centering
        $("#divCPOCPopup").css({
            "position": "absolute",
            "top": (windowHeight / 2 - popupHeight / 2),
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#divBgEditPopupCPOC").css({
            "height": windowHeight
        });
        return false;
    }*@
    function disableEditClaimPopup() {

        $("#divEditDetailsPopup").fadeOut("slow");
        $("#backgroundPopup").fadeOut("slow");

        //loadSubmit();
        //document.forms["formSearch"].submit();

    }

    function disableAllPopups() {
        disableEditClaimPopup();
    }
    function loadEditDetailsPopup(url) {
        document.getElementById("iframeEditDetails").src = url;
        centerEditClaimPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divEditDetailsPopup").fadeIn("slow");

        return false;
    }

    function disablePopupEditDetails() {
        $("#divEditDetailsPopup").fadeOut("slow");
        $("#backgroundPopup").fadeOut("slow");
    }

    function centerEditClaimPopup() {


        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditDetailsPopup").height();
        var popupWidth = $("#divEditDetailsPopup").width();
        //centering
        $("#divEditDetailsPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function NotesHistoryRF(Claimid, FirstPage1, CurrentPage1) {
        var displayType = $('#ddlNotesDisplayType').val();
        $("#divNotesListLoading").show();
        $.post('@Url.Content("~/PropertyAssignment/GetNotesList")',
               {
                   claimid: Claimid, Assignmentid: '@Model.AssignmentJob.AssignmentId', FirstPage: FirstPage1, CurrentPage: CurrentPage1, DisplayType: displayType
               },
                 function (data) {
                     $('#divNotesHistory').empty().append(data);
                     $("#divNotesListLoading").hide();
                 });
        showView(5);
    }

    function showView(id) {
        element = document.getElementById('divDetails');
        element.style.display = 'none';
        element = document.getElementById('divClientPolicy');
        element.style.display = 'none';
        element = document.getElementById('divTriage');
        element.style.display = 'none';
        element = document.getElementById('divRequirements');
        element.style.display = 'none';
        element = document.getElementById('divDiaries');
        element.style.display = 'none';
        element = document.getElementById('divNotesHistory');
        element.style.display = 'none';
        element = document.getElementById('divDocuments');
        element.style.display = 'none';
        element = document.getElementById('divFinancials');
        element.style.display = 'none';

        if (id == 0) {

            element = document.getElementById('divDetails');
            element.style.display = 'block';
            location.reload();
        }
        else if (id == 1) {
            element = document.getElementById('divClientPolicy');
            element.style.display = 'block';
        }
        else if (id == 2) {
            element = document.getElementById('divTriage');
            element.style.display = 'block';
        }
        else if (id == 3) {
            element = document.getElementById('divRequirements');
            element.style.display = 'block';
        }
        else if (id == 4) {
            element = document.getElementById('divDiaries');
            element.style.display = 'block';
        }
        else if (id == 5) {
            element = document.getElementById('divNotesHistory');
            element.style.display = 'block';
        }
        else if (id == 6) {
            element = document.getElementById('divDocuments');
            element.style.display = 'block';
            getDocumentsList('@Model.propertyassignment.ClaimId', '@Model.AssignmentJob.AssignmentId', '0');

        }
        else if (id == 7) {
            element = document.getElementById('divFinancials');
            element.style.display = 'block';

        }
    }
    function OpenCANTemplateToemailUtility1() {
        $('#divTemplateToEmailUtility1').css("display", "block");
        //  $('#TemplateToEmailUtilitbackgroundPopup1').css("display", "block");
        CANloadTemplateToEmailUtilityPopup1('@Model.propertyassignment.AssignmentId', '@Model.Claim.ClaimId');

    }

    function showTriageView(url, tabid) {
        $("#divTriage").empty();
        $("#divTriageLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {

            $("#divTriage").html(myData);
            $("#divTriageLoading").hide();
        });
        showView(tabid);
    }

    function showRequirementsView(assignmentId, tabid) {

        $("#divRequirementsContent").empty();
        $("#divRequirementLoading").show();
        $.ajax({
            url: '@Url.Action("Requierments", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentId: assignmentId },
            cache: false,
            success: function (result) {
                $('#divRequirementsContent').empty().append(result);
                $("#divRequirementLoading").hide();
            },
            error: function (error) {
                alert(error);
            }
        });
        showView(tabid);
    }

    function showFinancialsView(url, tabid) {
        $("#divFinancials").empty();
        $("#divFinancialsLoading").show();
        $.getJSON(
        url,
        function (myData) {
            $("#divFinancials").html(myData);
            $("#divFinancialsLoading").hide();
        }).error(function (err) {
            //alert(err.responseText);
        });
        showView(tabid);
    }
    function getNotesList(tabid) {
        //check if ddlNotesDisplayType exists. If not make use of default value.
        displayType = $("#ddlNotesDisplayType").length != 0 ? $("#ddlNotesDisplayType").val() : "0";
        $('#divNotesHistory').empty();
        $("#divNotesListLoading").show();
        $.ajax({
            url: '@Url.Action("GetJobsNotesList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { claimid: '@Model.propertyassignment.ClaimId', Assignmentid: '@Model.AssignmentJob.AssignmentId', Jobid: '@Model.AssignmentJob.JobId', DisplayType: displayType },
            cache: false,
            success: function (result) {
                $('#divNotesHistory').empty().append(result);
                $("#divNotesListLoading").hide();

                @*url: '@Url.Action("GetNotesList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { claimid: '@Model.propertyassignment.ClaimId', DisplayType: displayType },
            cache: false,
            success: function (result) {
                $('#divNotesHistory').empty().append(result);
                $("#divNotesListLoading").hide();*@

            },
            error: function (error) {
            }
        });
        showView(tabid);
    }
    function getDocumentsList(claimId, assignmentId, documentTypeId, statusId) {
        //    console.log(claimId);
        //  console.log(assignmentId);
        // console.log(documentTypeId);
        $("#divDocumentsList").empty();
        $("#divDocumentsListLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
        @*'@Url.Action("ClaimJobsDocumentsList")',*@
         '@Url.Action("ClaimDocumentsList")',
            {
                //claimId: claimId, assignmentId: assignmentId, jobid: jobid, documentTypeId: documentTypeId, statusId: statusId
                claimId: claimId, assignmentId: assignmentId, documentTypeId: documentTypeId, statusId: statusId
            },
            function (myData) {
                //       console.log(myData);
                $("#divDocumentsList").html(myData);
                $("#divDocumentsListLoading").hide();
                //     console.log("end");
            });

    }
    debugger;
    function getDiariesList(url, tabid) {
        debugger;
        $("#divDiaries").empty();
        $("#divDiariyListLoading").show();

        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {
            $("#divDiaries").html(myData);
            $("#divDiariyListLoading").hide();
        });
        showView(tabid);
    }
    function getCANDiariesList(url, tabid) {
        debugger;
        $("#divDiaries").empty();
        $("#divDiariyListLoading").show();

        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {
            $("#divDiaries").html(myData);
            $("#divDiariyListLoading").hide();
        });
        showView(tabid);
    }
    $("frm1").submit(function () {



    });

    function OpenCANNetemailUtility(emailid, phoneNum, emailSubject) {
        $('#divEmailUtility').css("display", "block");
        loadEmailUtilityPopup(emailid, '@CSS.AuthenticationUtility.GetUser().Email', '@Model.propertyassignment.AssignmentId', phoneNum, emailSubject);
    }
    function OpenTemplateToemailUtility1() {
        $('#divTemplateToEmailUtility1').css("display", "block");
        //  $('#TemplateToEmailUtilitbackgroundPopup1').css("display", "block");
        debugger;
        CANloadTemplateToEmailUtilityPopup1('@Model.propertyassignment.AssignmentId', '@Model.canclaimsinfoviewmodel.claim.ClaimId');
    }

   


    function loadPopupSPDetails(UserId) {
        var popupStatus = 0;
        debugger
        if (popupStatus == 0) {

            centerPopupSPDetails();
            $("#backgroundPopupSPDetails").css({
                "opacity": "0.7"
            });
            bindSPDetails(UserId);
            $("#backgroundPopupSPDetails").fadeIn("slow");
            $("#SPDetailsPopup").fadeIn("slow");
            popupStatus = 1;
        }
        return false;

    }
    function centerPopupSPDetails() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#SPDetailsPopup").height();
        var popupWidth = $("#SPDetailsPopup").width();
        //centering
        $("#SPDetailsPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupSPDetails").css({
            "height": windowHeight
        });
        return false;
    }

    function bindSPDetails(UserId) {
        debugger;
        $.ajax({
            url: '@Url.Action("_SPDetails", "PropertyAssignment")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                UserId: UserId
            }),
            success: function (result) {
                debugger;
                var div = $('#dvSPDetails');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    function disablePopupSPDetails() {
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupSPDetails").fadeOut("slow");
            $("#SPDetailsPopup").fadeOut("slow");
            popupStatus = 0;
        }
    }

    //Examiner

    function loadPopupExaminerDetails(UserId) {
        var popupStatus = 0;
        debugger
        if (popupStatus == 0) {

            centerPopupExaminerDetails();
            $("#backgroundPopupExaminerDetails").css({
                "opacity": "0.7"
            });
            bindExaminerDetails(UserId);
            $("#backgroundPopupExaminerDetails").fadeIn("slow");
            $("#ExaminerDetailsPopup").fadeIn("slow");
            popupStatus = 1;
        }
        return false;

    }
    function centerPopupExaminerDetails() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#ExaminerDetailsPopup").height();
        var popupWidth = $("#ExaminerDetailsPopup").width();
        //centering
        $("#ExaminerDetailsPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupExaminerDetails").css({
            "height": windowHeight
        });
        return false;
    }

    function bindExaminerDetails(UserId) {
        debugger;
        $.ajax({
            url: '@Url.Action("_ExaminerDetails", "PropertyAssignment")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                UserId: UserId
            }),
            success: function (result) {
                debugger;
                var div = $('#dvExaminerDetails');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    function disablePopupExaminerDetails() {
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupExaminerDetails").fadeOut("slow");
            $("#ExaminerDetailsPopup").fadeOut("slow");
            popupStatus = 0;
        }
    }



    //ribbonicon
    function loadPopupAssignmentServices(Assignmentid, jobid) {
        var popupStatus = 0;

        if (popupStatus == 0) {

            centerPopupAssignmentServices();
            $("#backgroundPopupAssignmentServices").css({
                "opacity": "0.7"
            });

            bindAssignmentServicesList(Assignmentid, jobid);
            $("#backgroundPopupAssignmentServices").fadeIn("slow");
            $("#AssignmentServiceslist").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function centerPopupAssignmentServices() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#AssignmentServiceslist").height();
        var popupWidth = $("#AssignmentServiceslist").width();
        //centering
        $("#AssignmentServiceslist").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupAssignmentServices").css({
            "height": windowHeight
        });
        return false;
    }

    function disablePopupAssignmentServices() {
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupAssignmentServices").fadeOut("slow");
            $("#AssignmentServiceslist").fadeOut("slow");
            popupStatus = 0;
        }
    }

    function bindAssignmentServicesList(Assignmentid, jobid) {
        debugger;
        $.ajax({
            url: '@Url.Action("_AssignmentServiceList", "PropertyAssignment")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                Assignmentid: Assignmentid, jobid: jobid
            }),
            success: function (result) {

                var div = $('#dvServicesList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    function ExaminerAlert()
    {
        alert("User Rights Do Not Allow Access to this Job Type")
    }

    $(document).ready(function () {
        var pathname = window.location.pathname;
    });

    function BackButton()
    {
        var path = document.referrer;
        alert(path);
    }

    function OpenemailUtility(emailid, phoneNum, emailSubject) {
        $('#divEmailUtility').css("display", "block");
        loadEmailUtilityPopup(emailid, '@CSS.AuthenticationUtility.GetUser().Email', '@Model.propertyassignment.AssignmentId', phoneNum, emailSubject);
    }

</script>

@*<link href="~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />*@

<input type="hidden" name="hdnClaimID" id="hdnClaimID" value="@Model.Claim.ClaimId" />
<table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">

    <tr>
        <td>


            <input type="hidden" id="claimid" name="claimid" value="@Model.Claim.ClaimId" />



            <table style="width: 100%">
                <tr>
                    <td class="subHeading">
                        @if (Model.AssignmentJob.JobId > 0 && Model.AssignmentJob.JobId != null)
                        {
                            var job = css.JobTypes.Where(x => x.JobId == Model.AssignmentJob.JobId).FirstOrDefault();
                            var Service = css.ServiceTypes.Where(x => x.ServiceId == Model.AssignmentJob.ServiceId).FirstOrDefault();
                            if (Service != null && Model.AssignmentJob.ServiceId > 0)
                            {
                                var assignmentname = job.JobDesc + " - " + Service.Servicename;
                                @assignmentname
                            }
                            else
                            {
                                @job.JobDesc
                            }
                            @*@job.JobDesc  @Service.Servicename*@
                        if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 11 || loggedInUser.AssignedRights.Contains((byte)2))
                        {
                            if (loggedInUser.UserTypeId == 11)
                            {
                               // if (Model.AssignmentJob.JobId != 6)
                               // {
                                    if (Model.AssignmentJob.ServiceId != 0 && Model.AssignmentJob.ServiceId != null)
                                    {
                                        @*<a href="#" onclick="loadEditDetailsPopup('@Url.Action("GetReferalDetailsEdit", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = Model.AssignmentJob.JobId, IsView = false, ServiceId = Model.AssignmentJob.ServiceId })')" style="border: none; color: black; text-decoration: none;">
                                <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>*@


                                        <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = Model.AssignmentJob.JobId, IsView = false, ServiceId = Model.AssignmentJob.ServiceId,CanAssignmentJobId = Model.AssignmentJob.AssignmentJobId })' style="border: none; color: black; text-decoration: none;">
                                            <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>

                                    }
                               // }
                            }
                            else
                            {
                                @*<a href="#" onclick="loadEditDetailsPopup('@Url.Action("GetReferalDetailsEdit", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = Model.AssignmentJob.JobId, IsView = false, ServiceId = Model.AssignmentJob.ServiceId })')" style="border: none; color: black; text-decoration: none;">
                        <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                    </a>*@

                                <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = Model.AssignmentJob.JobId, IsView = false, ServiceId = Model.AssignmentJob.ServiceId,CanAssignmentJobId = Model.AssignmentJob.AssignmentJobId })' style="border: none; color: black; text-decoration: none;">
                                    <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>
                                }
                            }
                        }

                        @if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 11 || loggedInUser.AssignedRights.Contains((byte)2))
                        {
                            if (loggedInUser.UserTypeId == 11)
                            {
                               // if (Model.AssignmentJob.JobId != 6)
                               // {
                                    if (Model.propertyassignment.AssignmentId != null && Model.propertyassignment.AssignmentId != 0)
                                    {
                                        if (Model.propertyassignment.OAUserID == null || Model.propertyassignment.OAUserID == 0)
                                        {
                                            @*<a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.propertyassignment.AssignmentId, HRT = 2, JobId = Model.AssignmentJob.JobId, ServiceId = Model.AssignmentJob.ServiceId })" style="border: none; color: black; cursor: pointer;">*@
                                            <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = Model.Claim.InsuredZip, Distance = 0, jobtypeid = Model.AssignmentJob.JobId, servicetypeid = Model.AssignmentJob.ServiceId, assignmentId = Model.propertyassignment.AssignmentId })" style="border: none; color: black; cursor: pointer;">

                                                <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        }
                                        else
                                        {
                                            @*<a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.propertyassignment.AssignmentId, HRT = 2,JobId = Model.AssignmentJob.JobId,ServiceId = Model.AssignmentJob.ServiceId})" style="text-decoration:none;border: none; color: black; cursor: pointer;">*@
                                            <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = Model.Claim.InsuredZip, Distance = 0, jobtypeid = Model.AssignmentJob.JobId, servicetypeid = Model.AssignmentJob.ServiceId, assignmentId = Model.propertyassignment.AssignmentId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">

                                                <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                            </a>
                                            @*if (Model.Claim.VantageDocsExists == true)
                                {
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer;">
                                        <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }*@


                        if (Model.Claim.VantageDocsExists == true)
                        {
                            String vantage_claim = null;
                            List<BLL.VantageClaim> VantageSP = new List<BLL.VantageClaim>();
                            VantageSP = css.VantageClaims.Where(x => x.ClaimNumber == Model.Claim.ClaimNumber).ToList();
                            if (VantageSP.Count() > 1)
                            {
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer;">
                                    <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>
                                                    <ul class="dropdown-menu dropdown-menu-default">
                                                        @foreach (BLL.VantageClaim row in VantageSP)
                                                        {
                                                            BLL.VVTenant Tenant = css.VVTenants.Find(row.TenantId);
                                                            <li>
                                                                @{
                                                                    vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.Claim.ClaimNumber) + "&key=" + Tenant.APIKey;
                                                                }
                                                                <a target="_blank" href="@vantage_claim">
                                                                    @Tenant.CompanyName
                                                                </a>
                                                            </li>
                                                                    }
                                                    </ul>
                                                                    }
                                                                    else
                                                                    {
                                                                        BLL.VVTenant Tenant = css.VVTenants.Find(VantageSP.First().TenantId);
                                                                        vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.Claim.ClaimNumber) + "&key=" + Tenant.APIKey;
                                                                        <a target="_blank" href="@vantage_claim" style="border: none; color: black; cursor: pointer;">
                                                                            <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                        </a>
                                                                                        }
                                                                                    }

                                                                                }



                                                                            }
                                                                       // }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (Model.AssignmentJob.JobId != 6)
                                                                        {
                                                                            if (Model.propertyassignment.AssignmentId != null && Model.propertyassignment.AssignmentId != 0)
                                                                            {
                                                                                if (Model.propertyassignment.OAUserID == null || Model.propertyassignment.OAUserID == 0)
                                                                                {
                                                                                    <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = Model.Claim.InsuredZip, Distance = 0, jobtypeid = Model.AssignmentJob.JobId, servicetypeid = Model.AssignmentJob.ServiceId, assignmentId = Model.propertyassignment.AssignmentId })" style="border: none; color: black; cursor: pointer;">
                                                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                                    </a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a href="@Url.Action("Search", "DispatchContractorAssignments", new { Location = Model.Claim.InsuredZip, Distance = 0, jobtypeid = Model.AssignmentJob.JobId, servicetypeid = Model.AssignmentJob.ServiceId, assignmentId = Model.propertyassignment.AssignmentId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                                                                    </a>

                                                                                }

                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            if (Model.propertyassignment.AssignmentId != null && Model.propertyassignment.AssignmentId != 0)
                                                                            {
                                                                                if (Model.propertyassignment.OAUserID == null || Model.propertyassignment.OAUserID == 0)
                                                                                {
                                                                                    <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.propertyassignment.AssignmentId, HRT = 2, JobId = Model.AssignmentJob.JobId, ServiceId = Model.AssignmentJob.ServiceId })" style="border: none; color: black; cursor: pointer;">
                                                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                                    </a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.propertyassignment.AssignmentId, HRT = 2,JobId = Model.AssignmentJob.JobId,ServiceId = Model.AssignmentJob.ServiceId})" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                                                                    </a>
                                                                                    }

                                                                                }
                                                                            }
                                                                        }
                                                                    }
                        @{
                            try
                            {
                                @*if (Model.Claim.VantageDocsExists == true)
                    {
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer;">
                            <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a>
                    }*@

                        if (Model.Claim.VantageDocsExists == true)
                        {
                            String vantage_claim = null;
                            List<BLL.VantageClaim> VantageSP = new List<BLL.VantageClaim>();
                            VantageSP = css.VantageClaims.Where(x => x.ClaimNumber == Model.Claim.ClaimNumber).ToList();
                            if (VantageSP.Count() > 1)
                            {
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer;">
                                    <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    @foreach (BLL.VantageClaim row in VantageSP)
                                    {
                                        BLL.VVTenant Tenant = css.VVTenants.Find(row.TenantId);
                                        <li>
                                            @{
                                                vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.Claim.ClaimNumber) + "&key=" + Tenant.APIKey;
                                            }
                                            <a target="_blank" href="@vantage_claim">
                                                @Tenant.CompanyName
                                            </a>
                                        </li>
                                                }
                                </ul>
                                                }
                                                else
                                                {
                                                    BLL.VVTenant Tenant = css.VVTenants.Find(VantageSP.First().TenantId);
                                                    vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.Claim.ClaimNumber) + "&key=" + Tenant.APIKey;
                                                    <a target="_blank" href="@vantage_claim" style="border: none; color: black; cursor: pointer;">
                                                        <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                        }
                                                    }
                                                }
                                                catch (Exception ex)
                                                {
                                                }
                        }
                    </td>


                    
</tr>
                <tr>
                    <td class="content">
                        <table>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            <td nowrap="nowrap" valign="top">
                                                <b>Client Name:</b>
                                            </td>
                                            @if (Model.Claim.HeadCompanyId != null)
                                            {
                                                var companyname = css.Companies.First(x => x.CompanyId == Model.Claim.HeadCompanyId).CompanyName;
                                                <td width="100%" colspan="2" nowrap="nowrap">
                                                    @companyname
                                                </td>
                                            }
                                            else
                                            {
                                                <td width="100%" colspan="2" nowrap="nowrap">
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap" valign="top">
                                                <b>Claim Number:</b>
                                            </td>
                                            <td width="100%" colspan="2" nowrap="nowrap">
                                                @Model.Claim.ClaimNumber
                                            </td>
                                        </tr>

                                        <tr>
                                            <td nowrap="nowrap" valign="top">
                                                <b>Insured Name:</b>
                                            </td>
                                            <td width="100%">
                                                @Model.Claim.InsuredFirstName @Model.Claim.InsuredLastName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap" valign="top">
                                                <b>SP Name:</b>
                                            </td>
                                            <td width="100%">
                                                @if (Model.propertyassignment.User != null && Model.AssignmentJob.JobId == 6)
                                                {
                                                    <a href="#" onclick="loadPopupSPDetails(@Model.propertyassignment.User.UserId);" style="border: none; color: black; text-decoration: none;font-weight:600;font-size:12px">
                                                        @Model.propertyassignment.User.FirstName @Model.propertyassignment.User.LastName
                                                    </a>
                                                }
                                                else if (Model.propertyassignment.User != null && Model.propertyassignment.User.Company1 != null)
                                                {
                                                    <a href="#" onclick="loadPopupSPDetails(@Model.propertyassignment.User.UserId);" style="border: none; color: black; text-decoration: none; font-weight: 600; font-size: 12px">
                                                        @Model.propertyassignment.User.Company1.CompanyName
                                                    </a>
                                                }

                                                @*@{
                                                        Int64? useridsp=0;
                                                        if(Model.propertyassignment.OAUserID==null)
                                                        {
                                                             useridsp = 0;
                                                        }
                                                        else
                                                        {
                                                            useridsp = (Int64)Model.propertyassignment.OAUserID;
                                                        }
                                                        if (useridsp != 0)
                                                        {
                                                            Int64 useridspnew = (Int64)useridsp;
                                                            BLL.User userSP = css.Users.Where(x => x.UserId == useridspnew).FirstOrDefault();
                                                            BLL.Company company = css.Companies.Where(x=>x.HeadCompanyId == userSP.HeadCompanyId).FirstOrDefault();
                                                            if (userSP != null)
                                                            {
                                                                @userSP.FirstName @userSP.LastName
                                                            }
                                                        }
                                                    }*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap" valign="top">
                                                <b>Examiner Name:</b>
                                            </td>
                                            <td width="100%">
                                                @if (Model.Claim.ClientPointOfContactUserId != null)
                                                {
                                                    <a href="#" onclick="loadPopupExaminerDetails(@Model.Claim.ClientPointOfContactUserId);" style="border: none; color: black; text-decoration: none;">
                                                        @Model.Claim.User.FirstName @Model.Claim.User.LastName
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td nowrap="nowrap" valign="top">
                                                <b>RCV($) :</b>
                                            </td>
                                            <td>
                                                 @*@{
                                                    var RCVAmount = css.PropertyInvoices.Where(x => x.AssignmentId == Model.propertyassignment.AssignmentId).Sum(y => y.RCV);
                                                    if (RCVAmount.HasValue)
                                                    {
                                                        <text> @Math.Round(RCVAmount.Value, 2)</text>
                                                    }
                                                    else
                                                    {
                                                        @Math.Round(Convert.ToDecimal(Model.propertyassignment.AssignmentRCV), 2)
                                                    }
                                                }*@
                                                @Math.Round(Convert.ToDecimal(Model.propertyassignment.AssignmentRCV), 2)
                                                
                                               
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>


                                                @{
                                                    var job1 = css.JobTypes.Where(x => x.JobId == Model.AssignmentJob.JobId).FirstOrDefault();


                                                    string absoluteThumnailFileName = job1.JobId + "\\" + job1.Logo;

                                                    string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteThumnailFileName);
                                                  //string thumbnailFileUrl = baseFolder + job1.JobId + "\\" + job1.Logo;

                                                  <img alt="Edit" src="@Url.Content(thumbnailFileUrl)" title=@job1.JobDesc width="48" height="48" style="border: none; vertical-align: bottom;" />

                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="subFooter">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="3" cellspacing="0"
                               style="border-top-style: solid; border-bottom-style: solid; border-width: 1px; border-color: #999999"
                               width="100%">
                            <tr>
                                <td align="center">
                                    <a href="#" onclick="showView(0)">Details</a>
                                </td>
                                @*<td align="center">
                                        @if (Model.AssignmentJob.JobId > 0 && Model.AssignmentJob.JobId != null)
                                        {
                                            var job = css.JobTypes.Where(x => x.JobId == Model.AssignmentJob.JobId).FirstOrDefault();

                                            <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.Claim.ClaimId, Jobid = Model.AssignmentJob.JobId, IsView = true, ServiceId = Model.AssignmentJob.ServiceId})' style="border: none; color: black; text-decoration: none;">
                                                Details
                                            </a>
                                        }
                                    </td>*@
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    @{
                                        if (Model.AssignmentJob.ServiceId > 0)
                                        {
                                            <a href="#" onclick="showView(1)">
                                                Client/Policy
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#">Client/Policy</a>
                                        }
                                    }
                                </td>
                                @if (loggedInUser.UserTypeId != 12)
                                {
                                    <td align="center"
                                        style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                        @{
                                    if (Model.AssignmentJob.ServiceId > 0)
                                    {
                                        <a href="#" onclick="showTriageView('@Url.Action("TriageDetails", new { assignmentId = Model.propertyassignment.AssignmentId })','2')">Triage</a>
                                    }
                                    else
                                    {
                                        <a href="#">Triage</a>
                                    }
                                        }
                                    </td>

                                    <td align="center"
                                        style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                        @{
                                    if (Model.AssignmentJob.ServiceId > 0)
                                    {
                                        <a href="#" onclick="showRequirementsView('@Model.propertyassignment.AssignmentId','3')">Requirements</a>
                                    }
                                    else
                                    {
                                        <a href="#">Requirements</a>
                                    }
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td align="center" style="border-left-style: solid; border-width: 1px; border-color: #999999; display : none">
                                        @{
                                    if (Model.AssignmentJob.ServiceId > 0)
                                    {
                                        <a href="#" onclick="showRequirementsView('@Model.propertyassignment.AssignmentId','3')">Requirements</a>
                                    }
                                    else
                                    {
                                        <a href="#">Requirements</a>
                                    }
                                        }
                                    </td>
                                }
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    @{
                                        if (Model.AssignmentJob.ServiceId > 0)
                                        {
                                            <a href="#" onclick="getNotesList('5')">Notes</a>
                                        }
                                        else
                                        {
                                            <a href="#">Notes</a>
                                        }
                                    }
                                </td>
                                <td align="center" style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    @{

                                        if (Model.AssignmentJob.ServiceId > 0)
                                        {
                                            <a href="#" onclick="showView('6')">Documents</a>
                                        }
                                        else
                                        {
                                            <a href="#">Documents</a>
                                        }

                                    }
                                </td>

                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    @*<a href="#" onclick="getDiariesList('@Url.Action("CANClaimDiariesList", new { assignmentId = Model.propertyassignment.AssignmentId,jobId=Model.AssignmentJob.JobId })','4')">Tasks/Diary</a>*@

                                    @{
                                        if (Model.AssignmentJob.ServiceId > 0)
                                        {
                                            <a href="#" onclick="getDiariesList('@Url.Action("ClaimDiariesList", new { assignmentId = Model.AssignmentJob.AssignmentId })','4')">Tasks/Diary</a>
                                        }
                                        else
                                        {
                                            <a href="#">Tasks/Diary</a>
                                        }
                                    }

                                </td>
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    @*<a href="#" onclick="getFinaciallist('@Model.PropertyAssignment.ClaimId')">Financials</a>*@
                                    @{
                                        if (loggedInUser.UserTypeId != 12 && loggedInUser.UserTypeId != 11)
                                        {
                                            if (Model.AssignmentJob.ServiceId > 0)
                                            {
                                                <a href="#" onclick="showFinancialsView('@Url.Action("CANFinancials", new { claimId = Model.propertyassignment.ClaimId, JobId = Model.AssignmentJob.JobId,ServiceId=Model.AssignmentJob.ServiceId,CanAssignmentJobId = Model.AssignmentJob.AssignmentJobId  })',7)">Financials</a>
                                                        }
                                                        else
                                                        {
                                                <a href="#">Financials</a>
                                                        }
                                                    }
                                                }
                                </td>
                                <td align="center">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <div id="divDetails">
                            @Html.Partial("_ReferalDetails", Model)
                        </div>
                        <div id="divClientPolicy" style="display: none;">
                            @Html.Partial("_AssignmentJobDetailsClientPolicy")
                        </div>
                        <div id="divTriageLoading" style="display: none;">
                            <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divTriage" style="display: none;">
                        </div>
                        <div id="divRequirementLoading" style="display: none;">
                            <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        @if (loggedInUser.UserTypeId != 12)
                                                {

                                                }
                        <div id="divRequirements" style="display: none;">
                            <div id="divRequirementsMessage" class="errorMsg"></div>
                            @using (Ajax.BeginForm("Requirements", "PropertyAssignment", null, new AjaxOptions { HttpMethod = "POST", OnFailure = "RequirementFailed();", OnSuccess = "RequirementSuceess();" }, new { id = "frmRequirements" }))
                            {
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tr>
                                        <td class="mainHeader">Requirements
                                        @{
                                                    var comp = css.Companies.Find(Model.Claim.HeadCompanyId);
                                                    string fileUrl = "";
                                                    string absoluteFileName = Model.Claim.HeadCompanyId + "/" + comp.POCQuickReferenceFile;
                                                    fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteFileName);
                                          }
                                                @if (Model.AssignmentJob.JobId==6 && (comp.POCQuickReferenceFile != "" && comp.POCQuickReferenceFile != null))
                                                {
                                                    <a id="fileDownload" href="@Url.Action("ExportPOCQuickReferenceFile", "InsuranceSetUp", new { HeadCompanyId = Model.Claim.HeadCompanyId, fileurl = Cypher.EncryptString(fileUrl), filename = comp.POCQuickReferenceFile })" style="margin-left: 42%;font-size: 11px;font-weight: 500;">
                                                        Inside Handling Quick Reference
                                                        @*<img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />*@
                                                    </a>
                                                }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content">
                                            <div id="divRequirementsContent"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right" class="footer">
                                            <img id="imgProcessingSaveTriage" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                                            <input type="submit" class="buttonYellow_100" value="Save" />
                                            @* <input type="button" class="buttonLightYellow_100" value="Reset" onclick="resetTriageForm()" />*@
                                        </td>
                                    </tr>
                                </table>

                            }
                        </div>
                        <div id="divNotesListLoading" style="display: none;">
                            <img id="Notesprogress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divNotesHistory" style="display: none;">
                            @*@Html.Partial("_AssignmentDetailsNotesHistory")*@

                        </div>

                        <div id="divDocuments" style="display: none;">
                            @Html.Partial("_AssignmentJobDetailsDocuments")
                            @*@Html.Partial("_AssignmentDetailsDocuments")*@
                        </div>
                        <div id="divDiariyListLoading" style="display: none;">
                            <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divDiaries" style="display: none;">
                            @* @Html.Partial("_AssignmentDetailsDiariesList")*@
                        </div>
                        <div id="divFinancialsLoading" style="display: none;">
                            <img style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divFinancials" style="display: none;">
                            @Html.Partial("_AssignmentJobDetailsFinancials")
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="footer" align="right">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="left">
                                    <div style="float: left">
                                        @*@if (loggedInUser.AssignedRights.Contains((byte)1))
                                            {
                                                <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("Search", "PropertyAssignment", new { @type = "General" })';" />
                                            }
                                            else
                                            {
                                                <input type="button" class="buttonLightYellow_100" value="Return to claim" onclick="window.location.href='@Url.Action("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(Model.Claim.ClaimId.ToString())})';" />
                                            }*@
                                        <input type="button" class="buttonLightYellow_100" value="Back to Claim" onclick="window.location.href='@Url.Action("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(Model.Claim.ClaimId.ToString())})';" />
                                        @*<input type="button" onclick="location.href = '@Request.UrlReferrer'" value="Back" />*@

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div id="backgroundPopup"></div>
<div id="divEmailUtility" style="display: none;">
    @Html.Partial("_EmailUtility")
</div>

@*ribbonicon*@
<div id="divLeftButton" class="LeftButton" style="left: -2.62965%;">
    @*<div id="btnright" class="RightButtonText">-- Referal Bar --</div>*@
</div>
@{
    if (loggedInUser.UserTypeId != 12 && loggedInUser.UserTypeId != 1)
    {
        if (Model.AssignmentJob.ServiceId != 0)
        {
            @Html.Partial("_RibbonIcon", Model)
        }
    }
}



<div id="divCPOCPopup" style="display: none;" class="EditPopupCPOC">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    <span id="spnCPOCHeading"></span>Examiner
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupNewClientPOC();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div id="divClientPOCError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                @using (Html.BeginForm("ClientPOCEdit", "InsuranceSetUp", FormMethod.Post, new { @id = "frmCPOC" }))
                {
                    <div id="divClientPOC"></div>
                }
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingNewClientPOCSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input id="btnSaveCPOC" type="button" value="Save" class="buttonYellow_100" onclick="btnSaveCPOC_Click()" />
            </td>
        </tr>
    </table>
</div>
<div id="backgroundPopup" onclick="disableAllPopups();"></div>
<div id="divEditDetailsPopup" style="display: none;z-index:1000;" class="EditPopupDetails">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    <span id="spnEditDetailsHeading"></span>Details
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupEditDetails();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div class="divEditDetailsContent">
                    <iframe id="iframeEditDetails" width="1000" height="450" frameborder="0" scrolling="auto" style="background-color:white;"></iframe>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="divBgEditPopupCPOC" onclick="disablePopupNewClientPOC();" class="bgEditPopupCPOC" style="display: none;"></div>
<div id="divTemplateToEmailUtility1" style="display:none">
    @Html.Partial("_CANTemplateToEmailUtility1")
</div>

<div id="SPDetailsPopup" style="display: none;width:35%;" class="SPDetails">
    <table width="100%" cellspacing="0" id="tbldivSP">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Service Provider Details</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupSPDetails()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trcontent">

            <td>
                <div id="dvSPDetails">
                </div>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupSPDetails" onclick="disablePopupSPDetails();" class="backgroundPopupSPDetails" style="display: none;"></div>

<div id="AssignmentServiceslist" style="display: none;width:746px;" class="EditPopupAssignmentServices">
    <table width="100%" cellspacing="0" id="tbldivservice">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Requests Pending</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupAssignmentServices()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trcontent">

            <td>
                <div id="dvServicesList1">
                </div>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupAssignmentServices" onclick="disablePopupAssignmentServices();" class="backgroundPopupAssignmentServices" style="display: none;"></div>


<div id="ExaminerDetailsPopup" style="display: none;width:35%;" class="ExaminerDetails">
    <table width="100%" cellspacing="0" id="tbldivExaminer">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Examiner Details</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupExaminerDetails()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trcontent">

            <td>
                <div id="dvExaminerDetails">
                </div>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupExaminerDetails" onclick="disablePopupExaminerDetails();" class="backgroundPopupExaminerDetails" style="display: none;"></div>
