﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ICompanyLobPricing</title>
</head>
<body>
    <div style="text-align:center;">
        <iframe id="iCompLOBPricing" src='@Url.Content("~/PropertyAssignment/InvoicePricing?PreInvoiceRuleId=" + ViewBag.PreInvoiceRuleId + "&PricingType="+ViewBag.Pricingtype)' frameborder="0" width="680px" style="overflow:scroll" height="290" ></iframe>
        </div>
</body>
</html>
 