﻿@model BLL.ViewModels.InternalQCViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Internal QC Checklist</title>
</head>
<body>
    <div>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <table style="width: 100%; font-size:16px !important; font-family: verdana !important;" bgcolor="White" width="100%" >
            <tr>
                <td class="mainHeader" colspan="2" style="text-align: center; font-size: 20px !important;" ><b>Internal QC Checklist</b></td>
            </tr>
            <tr>
                <td width="50%">
                    <b>Date:</b>
                </td>
                <td>
                    @*@Html.TextBoxFor(model => model.Date, new { @id = "txtDate" })*@    
                    @Model.Date                                   
                </td>
            </tr>
            <tr>
                <td>
                    <b>Damage Assessor:</b>
                </td>
                <td>
                    @*@Html.TextBoxFor(model => model.DamageAssessor, new { @id = "txtDamageAssessor" })*@
                    @Model.DamageAssessor
                </td>
            </tr>
            <tr>
                <td>
                    <b>QC Reviewer:</b>
                </td>
                <td>
                    @*@Html.TextBoxFor(model => model.QCReviewer, new { @id = "txtQCReviewer" })*@
                    @Model.QCReviewer
                </td>
            </tr>
            <tr>
                <td>
                    <b>Pass/Fail:</b>
                </td>
                <td>
                    @*@Html.TextBoxFor(model => model.PassFail, new { @id = "txtPassFail" })*@
                    @if (Model.PassFail == "1")
                    {
                        @:Pass
                    }
                    else
                    {
                        @:Fail
                    }
                   
                </td>
            </tr>
            <tr>
                <td class="mainHeader" colspan="2"><b>Check Claim Info</b></td>
            </tr>
            <tr>
                <td>
                    Insured Info is filled in
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.InsuredInfoIsFilled, new { @id = "chkInsuredInfoIsFilled" })
                </td>
            </tr>
            <tr>
                <td>
                    Date of Loss is correct(@Model.LossDate)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.DateofLossIsCorrect, new { @id = "chkDateofLossIsCorrect" })
                </td>
            </tr>
            <tr>
                <td>
                    Reference Type Correct
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ReferenceTypeIsCorrect, new { @id = "chkReferenceTypeIsCorrect" })
                </td>
            </tr>
            <tr>
                <td>
                    Loan Number is Living Square Footage of the Home
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.LoanNoIsLivingSquareFootage, new { @id = "chkLoanNoIsLivingSquareFootage" })
                </td>
            </tr>
            <tr>
                <td>
                    Type of Loss(@Model.LossType)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.TypeOfLoss, new { @id = "chkTypeOfLoss" })
                </td>
            </tr>
            <tr>
                <td>
                    Price List & Tax Rate Per SOP
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PriceANDTaxPerSOP, new { @id = "chkPriceANDTaxPerSOP" })
                </td>
            </tr>
            <tr>
                <td class="mainHeader" colspan="2"><b>Check Coverages</b></td>
            </tr>
            <tr>
                <td>
                    CRE (Completed Repairs Estimate)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.CRE, new { @id = "chkCRE" })
                </td>
            </tr>
            <tr>
                <td>
                    SWE (Scope of Work Estimated)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.SWE, new { @id = "chkSWE" })
                </td>
            </tr>
            <tr>
                <td>
                    RHCS (Resilient Home Construction Standards)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.RHCS, new { @id = "chkRHCS" })
                </td>
            </tr>
            <tr>
                <td class="mainHeader" colspan="2"><b>Sketch</b></td>
            </tr>
            <tr>
                <td>
                    Measurements are within a 3” tolerance
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.MeasurementsWithin3, new { @id = "chkMeasurementsWithin3" })
                </td>
            </tr>
            <tr>
                <td>
                    Room Names and Types are Correct
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.RoomAndTypeIsCorrect, new { @id = "chkRoomAndTypeIsCorrect" })
                </td>
            </tr>
            <tr>
                <td>
                    Ceiling Types are correct
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.CeilingTypeIsCorrect, new { @id = "chkCeilingTypeIsCorrect" })
                </td>
            </tr>
            <tr>
                <td>
                    Doors are on each room in XM8 sketch and
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.DoorsAreOnEachRoomInXM8Sketch, new { @id = "chkDoorsAreOnEachRoomInXM8Sketch" })
                </td>
            </tr>
            <tr>
                <td>
                    Door swings are correct
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.DoorSwingsAreCorrect, new { @id = "chkDoorSwingsAreCorrect" })
                </td>
            </tr>
            <tr>
                <td>
                    Windows are on the XM8 sketch
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.WindowsAreOnXM8Sketch, new { @id = "chkWindowsAreOnXM8Sketch" })
                </td>
            </tr>
            <tr>
                <td>
                    The sketch makes sense compared to the photos
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.SketchComparedPhotos, new { @id = "chkSketchComparedPhotos" })
                </td>
            </tr>
            <tr>
                <td class="mainHeader" colspan="2"><b>Photos</b></td>
            </tr>
            <tr>
                <td>
                    Date Stamped
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.DateStamped, new { @id = "chkDateStamped" })
                </td>
            </tr>
            <tr>
                <td>
                    In Proper Folders
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.InProperFolders, new { @id = "chkInProperFolders" })
                </td>
            </tr>
            <tr>
                <td>
                    Make sure photos show the work estimated
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PhotosShowWorkEstimated, new { @id = "chkPhotosShowWorkEstimated" })
                </td>
            </tr>
            <tr>
                <td>
                    All Required photos (per SOP) in the folders
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.AllRequiredPhotosInFolders, new { @id = "chkAllRequiredPhotosInFolders" })
                </td>
            </tr>
            <tr>
                <td>
                    Make sure there are NO Blurry photos
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.NoBlurryPhotos, new { @id = "chkNoBlurryPhotos" })
                </td>
            </tr>
            <tr>
                <td class="mainHeader" colspan="2"><b>Estimate Tree</b></td>
            </tr>
            <tr>
                <td>
                    Estimate Tree according to SOP
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.EstimateTreeAccordingToSOP, new { @id = "chkEstimateTreeAccordingToSOP" })
                </td>
            </tr>
            <tr>
                <td class="mainHeader" colspan="2"><b>Required Documents Attached</b></td>
            </tr>
            <tr>
                <td>
                    ROE
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ROE, new { @id = "chkROE" })
                </td>
            </tr>
            <tr>
                <td>
                    ScopeNotes (consists of Sketch, DA Checklist)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ScopeNotes, new { @id = "chkScopeNotes" })
                </td>
            </tr>
            <tr>
                <td>
                    HQS Form
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.HQSForm, new { @id = "chkHQSForm" })
                </td>
            </tr>
            <tr>
                <td class="mainHeader" colspan="2"><b>Items of Concern</b></td>
            </tr>
            <tr>
                <td>
                    <table id="tblItemsConcern" cellpadding="0" cellspacing="0">
                        <tbody></tbody>
                        <tfoot>                                        
                            @if (Model.ItemsConcernGetList != null)
                            {
                                for (int i = 0; i < Model.ItemsConcernGetList.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @(i+1) @Model.ItemsConcernGetList[i].Description
                                        </td>
                                    </tr>
                                }
                            }
                        </tfoot>
                    </table>                    
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
