﻿@model BLL.ViewModels.InvoiceRulesViewModel


<style>
    .AssignCSSPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
     #bgAssignCSSPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

      #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

   
    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }

</style>
<script>
    function LoadKenduPricing(PreInvoiceRuleID, PricingType) {

        debugger;
        var window = $("#LOBPricing").data("kendoWindow");
        window.refresh({
            url: '@Url.Content("~/PropertyAssignment/IInvoicePricing")',
            data: { PreInvoiceRuleID: PreInvoiceRuleID, Pricingtype: PricingType }
        });
        window.center().open();
    }

    function EditPreInvoiceRule(PreInvoiceRuleID) {
        debugger;
        var Serviceidval;
        if (PreInvoiceRuleID != -1) {
            debugger;
            $.ajax({
                type: "GET"
                           , url: '@Url.Action("GetInvoiceRule", "PropertyAssignment")'
                           , data: { PreInvoiceRuleID: PreInvoiceRuleID }

                           , success: function (data) {
                               if (data != 0) {
                                   $('#txtruledesc').val(data[0].RuleDesc);
                                   $('#ddlJobType').val(data[0].JobId);
                                   console.log(data[0].ServiceTypeId);
                                   FillServiceTypes();
                                   $('#ddlServiceTypesList').val(data[0].ServiceTypeId);
                                   Serviceidval = data[0].ServiceTypeId;
                                   if (data[0].PricingType == 0) {
                                       $("#rdoFlatfee").attr('checked', true);
                                   }
                                   else {
                                       $("#rdoRCVfee").attr('checked', true);

                                   }
                                   console.log(data[0].Isdeductible);
                                   if (data[0].Isdeductible == true) {
                                       $("#IsDeductible").attr('checked', true);
                                       //@Model.IsDeductible = true;
                                   } else {
                                       $("#IsDeductible").attr('checked', false);
                                       //@Model.IsDeductible = false;
                                   }
                                   //if (data[0].IsAssignmentQueue == true) {
                                   //    $("#IsAssignmentQueue").attr('checked', true);                                       
                                   //} else {
                                   //    $("#IsAssignmentQueue").attr('checked', false);                                       
                                   //}
                                   debugger;
                                   if (data[0].IsAssignmentQueue == 1) {
                                       $('input:radio[name="AssignmentQueue"][value="1"]').attr('checked', true);
                                   }
                                   else if (data[0].IsAssignmentQueue == 2)
                                   {
                                       $('input:radio[name="AssignmentQueue"][value="2"]').attr('checked', true);
                                   }
                                   else if (data[0].IsAssignmentQueue == 3)
                                   {
                                       $('input:radio[name="AssignmentQueue"][value="3"]').attr('checked', true);
                                   }
                                   else if (data[0].IsAssignmentQueue == 0 || data[0].IsAssignmentQueue == null)
                                   {
                                       $('input:radio[name="AssignmentQueue"][value="1"]').attr('checked', false);
                                       $('input:radio[name="AssignmentQueue"][value="2"]').attr('checked', false);
                                       $('input:radio[name="AssignmentQueue"][value="3"]').attr('checked', false);
                                   }

                                   if (data[0].IsautoInvoice == true) {
                                       $("#IsautoInvoice").attr('checked', true);
                                       
                                   } else {
                                       $("#IsautoInvoice").attr('checked', false);
                                      
                                   }
                                   if (data[0].IsautoApprove == true) {
                                       $("#IsautoApprove").attr('checked', true);

                                   } else {
                                       $("#IsautoApprove").attr('checked', false);

                                   }
                                   if (data[0].OnlyPayables == true) {
                                       $("#OnlyPayables").attr('checked', true);
                                   } else {
                                       $("#OnlyPayables").attr('checked', false);
                                   }
                               }
                               else {
                                   alert("Error: " + data);
                               }
                           }

            }).error(function (data) {
                alert("Error: " + data.responseText);
            });

            return Serviceidval;
        }
    }


    function LoadContent(ServiceTypeId)
    {


    }
    function loadAssignClientPOCPopup(PreInvoiceRuleID) {
        debugger;
        var Serviceidval;
        $('#hdnPreinvoiceruleIDMain').val(PreInvoiceRuleID);
        Serviceidval = EditPreInvoiceRule(PreInvoiceRuleID);
        $('#ddlServiceTypesList').val(Serviceidval);
        centerAssignClientPocPopup();
        $("#bgAssignCSSPOC").css({
            "opacity": "0.7"
        });
        $("#bgAssignCSSPOC").fadeIn("slow");
        $("#divAssignClientPocPopup").fadeIn("slow");

    }
    function disableAssignClientPocPopup() {

        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignClientPocPopup").fadeOut("slow");
    }
    function btnAssignClientPoc_Click(PreInvoiceRuleID) {

        debugger;
        $('#frminvoicerules').trigger("reset");
        //$("#frminvoicerules").append(' ');
        loadAssignClientPOCPopup(PreInvoiceRuleID);

    }
    function centerAssignClientPocPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignClientPocPopup").height();
        var popupWidth = $("#divAssignClientPocPopup").width();
        //centering
        $("#divAssignClientPocPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#bgAssignCSSPOC").css({
            "height": windowHeight
        });
        return false;
    }
    function btnAssignClientPocConfirm_Click() {
        debugger;

        var PreinvoiceRuleId = $('#hdnPreinvoiceruleIDMain').val();
        var pricingType;
        if ($("#rdoFlatfee").is(":checked")) {
            pricingType = 0;
        }
        else {
            pricingType = 1;
        }
        var Isdeductible = $("#IsDeductible").prop("checked");
        //var IsAssignmentQueue = $("#IsAssignmentQueue").prop("checked");
        var IsautoInvoice = $("#IsautoInvoice").prop("checked");
        var IsautoApprove = $("#IsautoApprove").prop("checked");
        var OnlyPayables = $("#OnlyPayables").prop("checked");
        var AssignmentQueue = $('input[name=AssignmentQueue]:checked').val();
     
        
        //if ($("#IsDeductible").is(":checked")) {
        //    Isdeductible = 0;
        //}
        //else {
        //    Isdeductible = 1;
        //}

        if ($("#ddlFileStatusList").val() != "0" && $("#ddlServiceTypesList").val() != "0") {
            $("#spanAssignClientPocValidate").hide();
            $("#imgClaimDocEmailProgress").show();
            $.ajax({
                type: "POST"
                , url: '@Url.Action("AddInvoiceRule", "PropertyAssignment")'
                    , data: { Ruledesc: $('#txtruledesc').val(), ServiceTypeId: $("#ddlServiceTypesList").val(), JobtypeId: $("#ddlJobType").val(), Pricingtype: pricingType, PreinvoiceRuleId: PreinvoiceRuleId, Isdeductible: Isdeductible, IsAssignmentQueue: AssignmentQueue, IsautoInvoice: IsautoInvoice, IsautoApprove: IsautoApprove, OnlyPayables: OnlyPayables }
            }).done(function (data) {
                if (data == "1") {
                    disableAssignClientPocPopup();
                    $("#imgClaimDocEmailProgress").hide();
                    location.reload();

                }
                else {
                    alert("Error: Duplicate record! ");
                }

            }).error(function (data) {
               // alert("Error: " + data.responseText);
            });
        }
        else {
            $("#spanAssignClientPocValidate").show();

        }
    }
    function loadLOBPopup(url) {

        document.getElementById("iframeLOB").src = url;
        centerLOBPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divLOB").fadeIn("slow");

        return false;
    }

    function disableLOBPopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("slow");
            $("#divLOB").fadeOut("slow");
            popupStatus = 0;
            $('#txtruledesc').val('');
        }

    }
    function centerLOBPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divLOB").height();
        var popupWidth = $("#divLOB").width();
        //centering
        $("#divLOB").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function DeletePreInvoiceRule(ServiceId, StatusId) {
        if (confirm("Are you Sure you want to Delete This Rule?")) {
            $.ajax({
                type: "POST"
                    , url: '@Url.Action("DeleteInvoiceRule", "PropertyAssignment")'
                    , data: { ServiceTypeId: ServiceId, FileStatusId: StatusId }
            }).done(function (data) {
                if (data == "1") {


                    location.reload();

                }
                else {
                    alert("Error: " + data);
                }

            }).error(function (data) {
                alert("Error: " + data.responseText);
            });
        }

    }

    function FillServiceTypes() {
        debugger;



        var CompanyjobId;
        CompanyjobId = $("#ddlJobType").val();
        var item = new Array();

        $.ajax({
            url: '@Url.Action("GetServiceTypes", "ContractorCompany")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { Jobid: CompanyjobId },
            type: 'GET',
            async: false,
            success: function (data) {

                $("#ddlServiceTypesList").empty();


                item.push("<option value='0'>--Select Service Type--</option>");

                $.each(data, function () {
                    item.push("<option value=" + this.Value + ">" + this.Text + "</option>");


                });

                $("#ddlServiceTypesList").append(item);
            }




        });
    }
</script>
<h2>Invoice / Assignment Rules</h2>
<table bgcolor="White" width="100%" cellspacing="0" class="bodyFont">
    <tr>
        
        <td class="mainHeader" style="text-align:right;">
          
            <input type="button" value="Add Invoice Rule" class="buttonLightYellow_120" onclick="btnAssignClientPoc_Click(-1)" style="font-size:11px !important;" id="btnAssignClientPoc" />
        </td>
    </tr>
    <tr>
        <td class="subHeading borderBottomLightGray" nowrap="nowrap"></td>

    </tr>
    <tr>
        <td class="content">
            <input type="hidden" id="hdpreinvoiceruleid" name="hdnPricingtype"/>
            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">
                        <td width="10%">
                           Rule Name
                        </td>
                        <td width="10%">
                           Job Type
                        </td>
                        <td width="10%">
                            Service Type
                        </td>
                        <td>
                            Pricing Type
                        </td>
                        <td align="center" width="10%"></td>
                        <td align="center" width="10%"></td>
                        <td align="center" width="10%"></td>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.PreInvoiceRules.ToList().Count() > 0 && Model != null)
                    {
                        foreach (var item in Model.PreInvoiceRules.ToList())
                        {
                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td width="10%">
                                    @item.RuleDesc
                                </td>
                                <td width="10%">
                                    @item.JobDesc
                                </td>
                                <td width="10%">

                                    @item.Servicename
                                  
                                </td>
                                <td width="10%">

                                   @if(item.PricingType==0)
                                   {
                                       @:Flat Fee
                                   }
                                   else
                                   {
                                       @:RCV based
                                   }
                                     

                                </td>

                                <td align="left" width="10%">
                                    @*<a id="btnClaimLastSearch" href='#' onclick="DeletePreInvoiceRule('@item.ServiceId','@item.StatusId')">
                                        <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>*@
                                    @*@Html.ActionLink(item.claimnumber, "Details", new { claimid = item.claimid })*@
                                    @*<a href="#" onclick="loadLOBPopup('@Url.Action("InvoiceRulesLOB", "LineOfBusiness", new { HeadCompanyId = 1, LOBId = -1 })')" style="border: none; cursor: pointer;float:left;"><img width="15" height="15" src="@Url.Content("~/Content/Images/Edit.png")" title="Manage Pricing" /></a>*@
                                    <a href="#" onclick="LoadKenduPricing(@item.PreInvoiceRuleID,@item.PricingType)" style="border: none; cursor: pointer;">
                                        <img src="~/Content/Images/doller.jpg" title="Lob Pricing" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                </td>
                                <td>
                                    <a href="#" onclick="btnAssignClientPoc_Click(@item.PreInvoiceRuleID)" style="border: none; cursor: pointer;float:left;"><img width="15" height="15" src="@Url.Content("~/Content/Images/Edit.png")" title="Edit Rule" /></a>
                                </td>
                                <td>
                                    <a href="#" onclick="DeletePreInvoiceRule(@item.PreInvoiceRuleID,2)" style="border: none; cursor: pointer;float:left;"><img width="15" height="15" src="@Url.Content("~/Content/Images/Cancel.png")" title="Delete Rule" /></a>
                                </td>                                
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="color:red;text-align:center" colspan="3">
                                - No Records -

                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
</table>
<div id="bgAssignCSSPOC" onclick="disableAssignCSSPOCPopup();"></div>
<div id="divAssignClientPocPopup" class="AssignCSSPOCPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Add Invoice Rule</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignClientPocPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <br />
                <span id="spanAssignClientPocValidate" class="errorMsg" style="display: none;">
                   Invoice Rule <br />
                    <br />
                </span>
              
               

               @* File Status: @Html.DropDownList("ddlFileStatusList", Model.FileStatusList, new { @id = "ddlFileStatusList" })<br/>*@
                <form id="frminvoicerules">
                    <input type="hidden" id="hdnPreinvoiceruleIDMain" name= "hdnpreinvoiceruleidmain">
                    <table>
                        <tr>
                            <td>Rule Name:</td>
                            <td>@Html.TextBoxFor(model => model.RuleDesc, new { @id = "txtruledesc" })</td>
                        </tr>
                        <tr>
                            <td>Job Type:</td>
                            <td>@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypeList, new { @id = "ddlJobType", style = "width: 170px;", @onchange = "FillServiceTypes()" })</td>
                        </tr>
                        <tr>
                            <td>Service Type:</td>
                            <td>
                            @*@Html.DropDownList("ddlServiceTypesList", Model.ServiceTypesList, new { @id = "ddlServiceTypesList" })*@
                                @Html.DropDownListFor(model => model.ServiceId, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select Service--", Value = "0"} }, new { @id = "ddlServiceTypesList", style = "width: 170px;" })
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Pricing Type:</td>
                            <td>@Html.RadioButtonFor(model => model.PricingType, 0, new { @name = "rdopricingtype", @id = "rdoFlatfee" }) Flat Fee &nbsp; @Html.RadioButtonFor(model => model.PricingType, 1, new { @name = "rdopricingtype", @id = "rdoRCVfee" }) RCV Based</td>
                        </tr>
                        <tr>
                            <td>Apply Deductible:</td>
                            <td>
                                @*@Html.CheckBox("IsDeductible", new { @id = "IsDeductible" })*@
                                <input name="IsDeductible" id="IsDeductible" type="checkbox" />

                            </td>
                        </tr>                        
                        @*<tr>
                            <td>Assignment Queue:</td>
                            <td>                               
                                <input name="IsAssignmentQueue" id="IsAssignmentQueue" type="checkbox" />
                            </td>
                        </tr>*@
                        <tr>
                            <td>Auto Invoice:</td>
                            <td>
                                @*@Html.CheckBox("IsDeductible", new { @id = "IsDeductible" })*@
                                <input name="IsautoInvoice" id="IsautoInvoice" type="checkbox" />

                            </td>
                        </tr>
                        <tr>
                            <td>Auto Approve:</td>
                            <td>
                                @*@Html.CheckBox("IsDeductible", new { @id = "IsDeductible" })*@
                                <input name="IsautoApprove" id="IsautoApprove" type="checkbox" />

                            </td>
                        </tr>
                        <tr>
                            <td>Only Payables:</td>
                            <td>
                                @*@Html.CheckBox("IsDeductible", new { @id = "IsDeductible" })*@
                                <input name="OnlyPayables" id="OnlyPayables" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Auto Assign<br />
                                Assignment Queue<br />
                                Examiner Selection<br />
                            </td>
                            <td>
                                <input type="radio" class="radioBtnClass" name="AssignmentQueue" value="1" /><br />
                                <input type="radio" class="radioBtnClass" name="AssignmentQueue" value="2" /><br />
                                <input type="radio" class="radioBtnClass" name="AssignmentQueue" value="3" /><br />
                                @*@Html.RadioButtonFor(model => model.IsAssignmentQueue, "1")Auto Assign
                @Html.RadioButtonFor(model => model.IsAssignmentQueue, "2")Assignment Queue
                @Html.RadioButtonFor(model => model.IsAssignmentQueue, "3")Examiner Selection*@
                            </td>
                        </tr>
                    </table>
                </form>

                <br />
                <br />
            </td>
        </tr>

        <tr>
            <td class="footer" style="text-align: right">
                <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />

                <input type="button" value="Submit" class="buttonYellow_100" onclick="btnAssignClientPocConfirm_Click()" />
            </td>
        </tr>
    </table>

</div>

<div id="backgroundPopup" onclick="disableLOBPopup();"></div>
<div id="divLOB" class="EditPopup" style="width:800px;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Invoice Rules</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableLOBPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeLOB" width="800" height="300" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
        <tr>
            <td class="footer" align="center">
                <br />
            </td>
        </tr>
    </table>

</div>
@(Html.Kendo().Window()
    .Name("LOBPricing")
    .Title("Add/Edit Pricing Info")
    .Content("loading info...")
    //.LoadContentFrom(@Url.Content("~/CompanyLOBPricing/ICompanyLobPricing?CompanyId=0&LobID=0"))
    //.LoadContentFrom(@Url.Content("~/PropertyAssignment/InvoicePricing?PreInvoiceRuleId=0"))
    .Draggable()
    .Visible(false)
    .Height(310)
    .Width(700)
    .Modal(true)
)
