﻿@model BLL.ViewModels.InvoicePricingViewModel
@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")">

<link rel="stylesheet" href="@Url.Content("~/Content/kendo.default.min.css")">

<script src="@Url.Content("~/Scripts/kendo.web.min.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"  type="text/javascript"></script>
<link href="@Url.Content("~/Content/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">


    $(document).on('change blur', '.decimal', function () {
        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(2));
        }
    });



    function closepopup() {
        //debugger;
        window.parent.$("#LOBPricing").data("kendoWindow").close();
        //var kendoWindow = $("#LOBPricing").data("kendoWindow").close();
    }

    function addLOBPricingRow(tableID) {
        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;

        //StartRange
        var cell2 = row.insertCell(0);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.style.width = "80px";
        element2.name = "InvoicePricingList[" + newRowIndex + "].StartRange";
        cell2.appendChild(element2);

        //EndRange
        var cell3 = row.insertCell(1);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.style.width = "80px";
        element3.name = "InvoicePricingList[" + newRowIndex + "].EndRange";
        cell3.appendChild(element3);

        //BaseServiceFee
        var cell4 = row.insertCell(2);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.style.width = "80px";
        element4.name = "InvoicePricingList[" + newRowIndex + "].BaseServiceFee";
        cell4.appendChild(element4);

        //SPServiceFee
        var cell5 = row.insertCell(3);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.style.width = "80px";
        element5.name = "InvoicePricingList[" + newRowIndex + "].SPServiceFee";
        cell5.appendChild(element5);

        //RCVPercent
        var cell6 = row.insertCell(4);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.style.width = "80px";
        element6.name = "InvoicePricingList[" + newRowIndex + "].RCVPercent";
        cell6.appendChild(element6);

        //SPRCVPercent
        var cell7 = row.insertCell(5);
        var element7 = document.createElement("input");
        element7.type = "text";
        element7.style.width = "80px";
        element7.name = "InvoicePricingList[" + newRowIndex + "].SPRCVPercent";
        cell7.appendChild(element7);

        //RCVFlatReduction
        var cell8 = row.insertCell(6);
        var element8 = document.createElement("input");
        element8.type = "text";
        element8.style.width = "80px";
        element8.name = "InvoicePricingList[" + newRowIndex + "].SPRCVPercent";
        cell8.appendChild(element8);

        //SPXPercent
        var cell9 = row.insertCell(7);
        var element9 = document.createElement("input");
        element9.type = "text";
        element9.style.width = "80px";
        element9.name = "InvoicePricingList[" + newRowIndex + "].SPXPercent";
        cell9.appendChild(element9);

        //CSSPOCPercent
        var cell10 = row.insertCell(8);
        var element10 = document.createElement("input");
        element10.type = "text";
        element10.style.width = "80px";
        element10.name = "InvoicePricingList[" + newRowIndex + "].CSSPOCPercent";
        cell10.appendChild(element10);
        //MF Reduction
        var cell11 = row.insertCell(9);
        var element11 = document.createElement("input");
        element11.type = "text";
        element11.style.width = "80px";
        element11.name = "InvoicePricingList[" + newRowIndex + "].MFReduction";
        cell11.appendChild(element11);
        //MF Reduction Percent
        var cell12 = row.insertCell(10);
        var element12 = document.createElement("input");
        element12.type = "text";
        element12.style.width = "80px";
        element12.name = "InvoicePricingList[" + newRowIndex + "].MFReductionPercent";
        cell12.appendChild(element12);

        var cell13 = row.insertCell(11);
        cell13.align = "left";
        //cell9.innerHTML = "";
        var element13 = document.createElement("input");
        element13.type = "checkbox";
        element13.style.width = "50px";
        element13.name = "InvoicePricingList[" + newRowIndex + "].IsTimeNExpance";
        element13.setAttribute("onclick", "CheckChanged('tblLOBPricingList','" + newRowIndex + "','false')");
        //element9.checked = true;
        cell13.appendChild(element13);
                       

        //Delete
        var cell14 = row.insertCell(12);
        var element14 = document.getElementById("imgLOBPricingDeleteRowReplica").cloneNode(true);
        element14.id = "imgLOBPricingDeleteRow" + newRowIndex;
        cell14.appendChild(element14);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

    }

    function FlatFeeCheckChanged(tableID, chkRNo, PrevVal) {

        debugger;
        var IrowNo = parseInt(chkRNo) ;
        //IrowNo = IrowNo + 1;
        //IrowNo = IrowNo - 1;
        var table = document.getElementById(tableID);
        // var row = table.rows[IrowNo];
        //var row = table.insertRow(IrowNo);
        //alert(PrevVal.toLowerCase());
        //debugger;
        //alert(IrowNo);
        if (PrevVal.toLowerCase() == 'true') {
            //alert('set true');
            IrowNo = IrowNo + 1;
            //StartRange
            //var cell2 = table.rows[IrowNo].cells[0];
            //var element2 = document.createElement("input");
            //element2.type = "text";
            //element2.style.width = "80px";
            //element2.name = "LobPricingList[" + IrowNo + "].StartRange";
            //cell2.appendChild(element2);

            ////EndRange
            //var cell3 = table.rows[IrowNo].cells[1];
            //var element3 = document.createElement("input");
            //element3.type = "text";
            //element3.style.width = "80px";
            //element3.name = "LobPricingList[" + IrowNo + "].EndRange";
            //cell3.appendChild(element3);

            ////BaseServiceFee
            //var cell4 = table.rows[IrowNo].cells[2];
            //cell4.innerHTML = '';
            //var element4 = document.createElement("input");
            //element4.type = "text";
            //element4.style.width = "80px";
            //element4.name = "InvoicePricingList[" + IrowNo + "].BaseServiceFee";
            //cell4.appendChild(element4);

            ////SPServiceFee
            //var cell5 = table.rows[IrowNo].cells[3];
            //cell5.innerHTML = '';
            //var element5 = document.createElement("input");
            //element5.type = "text";
            //element5.style.width = "80px";
            //element5.name = "InvoicePricingList[" + IrowNo + "].SPServiceFee";
            //cell5.appendChild(element5);

            table.rows[IrowNo].cells[2].innerHTML = ' ';
            //RPXercent
            var cell6 = table.rows[IrowNo].cells[2];
            var element6 = document.createElement("input");
            element6.type = "text";
            element6.style.width = "80px";
            element6.name = "InvoicePricingList[" + IrowNo + "].SPXPercent";
            cell6.appendChild(element6);

            //CSSPOCPercent
            var cell7 = table.rows[IrowNo].cells[2];
            var element7 = document.createElement("input");
            element7.type = "text";
            element7.style.width = "80px";
            element7.name = "InvoicePricingList[" + IrowNo + "].CSSPOCPercent";
            cell7.appendChild(element7);
            //MF Reduction
            var cell8 = table.rows[IrowNo].cells[2];
            var element8 = document.createElement("input");
            element8.type = "text";
            element8.style.width = "80px";
            element8.name = "InvoicePricingList[" + IrowNo + "].MFReduction";
            cell8.appendChild(element8);
            //MF Reduction Percent
            var cell9 = table.rows[IrowNo].cells[9];
            var element9 = document.createElement("input");
            element9.type = "text";
            element9.style.width = "80px";
            element9.name = "InvoicePricingList[" + IrowNo + "].MFReductionPercent";
            cell9.appendChild(element9);



            //IsTimeNExpance
            var cell10 = table.rows[IrowNo].cells[3];
            cell10.align = "left";
            cell10.innerHTML = "";
            var element10 = document.createElement("input");
            element10.type = "checkbox";
            element10.style.width = "50px";
            element10.name = "InvoicePricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";
            //element9.value = "false";

            element10.setAttribute("onclick", "FlatFeeCheckChanged('tblLOBPricingList','" + parseInt(chkRNo) + "','false')");
            //element9.checked = true;
            cell10.appendChild(element10);
        }
        else
        {
            //IrowNo = IrowNo + 1;
            ////alert(IrowNo);
            ////alert(chkRNo);
            ////table.rows[IrowNo].cells[0].innerHTML = "";
            ////table.rows[IrowNo].cells[1].innerHTML = "";
            //table.rows[IrowNo].cells[1].innerHTML = '/ hr ';
            //table.rows[IrowNo].cells[3].innerHTML = "";
            ////table.rows[IrowNo].cells[4].innerHTML = "";
           
            //var cell7 = table.rows[IrowNo].cells[3];
            //cell7.align = "left";
            //cell7.innerHTML = "";
            //var element7 = document.createElement("input");
            //element7.type = "checkbox";
            //element7.style.width = "50px";
            //element7.name = "InvoicePricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";
            //element7.value = "true";
            //element7.setAttribute("onclick", "FlatFeeCheckChanged('tblLOBPricingList','" + parseInt(chkRNo) + "','true')");
            //element7.checked = true;
            //cell7.appendChild(element7);
        }

    }

    function CheckChanged(tableID, chkRNo, PrevVal) {

        debugger;
        var IrowNo = parseInt(chkRNo) ;
        //IrowNo = IrowNo + 1;
        //IrowNo = IrowNo - 1;
        var table = document.getElementById(tableID);
        // var row = table.rows[IrowNo];
        //var row = table.insertRow(IrowNo);
        //alert(PrevVal.toLowerCase());
        //debugger;
        //alert(IrowNo);
        if (PrevVal.toLowerCase() == 'true') {
            //alert('set true');
            IrowNo = IrowNo + 1;
            //StartRange
            //var cell2 = table.rows[IrowNo].cells[0];
            //var element2 = document.createElement("input");
            //element2.type = "text";
            //element2.style.width = "80px";
            //element2.name = "LobPricingList[" + IrowNo + "].StartRange";
            //cell2.appendChild(element2);

            ////EndRange
            //var cell3 = table.rows[IrowNo].cells[1];
            //var element3 = document.createElement("input");
            //element3.type = "text";
            //element3.style.width = "80px";
            //element3.name = "LobPricingList[" + IrowNo + "].EndRange";
            //cell3.appendChild(element3);

            ////BaseServiceFee
            var cell4 = table.rows[IrowNo].cells[2];
            cell4.innerHTML = '';
            var element4 = document.createElement("input");
            element4.type = "text";
            element4.style.width = "80px";
            element4.name = "InvoicePricingList[" + IrowNo + "].BaseServiceFee";
            cell4.appendChild(element4);

            //SPServiceFee
            var cell5 = table.rows[IrowNo].cells[3];
            cell5.innerHTML = '';
            var element5 = document.createElement("input");
            element5.type = "text";
            element5.style.width = "80px";
            element5.name = "InvoicePricingList[" + IrowNo + "].SPServiceFee";
            cell5.appendChild(element5);

//////////////        

            //RCVPercent
            var cell6 = table.rows[IrowNo].cells[4];
            var element6 = document.createElement("input");
            element6.type = "text";
            element6.style.width = "80px";
            element6.name = "InvoicePricingList[" + IrowNo + "].RCVPercent";
            cell6.appendChild(element6);

            //SPRCVPercent
            var cell7 = table.rows[IrowNo].cells[5];
            var element7 = document.createElement("input");
            element7.type = "text";
            element7.style.width = "80px";
            element7.name = "InvoicePricingList[" + IrowNo + "].SPRCVPercent";
            cell7.appendChild(element7);

            //RCVFlatReduction
            var cell8 = table.rows[IrowNo].cells[6];
            var element8 = document.createElement("input");
            element8.type = "text";
            element8.style.width = "80px";
            element8.name = "InvoicePricingList[" + IrowNo + "].RCVFlatReduction";
            cell8.appendChild(element8);


            //RPXercent
            var cell9 = table.rows[IrowNo].cells[7];
            var element9 = document.createElement("input");
            element9.type = "text";
            element9.style.width = "80px";
            element9.name = "InvoicePricingList[" + IrowNo + "].SPXPercent";
            cell9.appendChild(element9);
            
            var cell10 = table.rows[IrowNo].cells[8];
            var element10 = document.createElement("input");
            element10.type = "text";
            element10.style.width = "80px";
            element10.name = "InvoicePricingList[" + IrowNo + "].CSSPOCPercent";
            cell10.appendChild(element10);


            var cell11 = table.rows[IrowNo].cells[9];
            var element11 = document.createElement("input");
            element11.type = "text";
            element11.style.width = "80px";
            element11.name = "InvoicePricingList[" + IrowNo + "].MFReduction";
            cell11.appendChild(element11);

            var cell12 = table.rows[IrowNo].cells[10];
            var element12 = document.createElement("input");
            element12.type = "text";
            element12.style.width = "80px";
            element12.name = "InvoicePricingList[" + IrowNo + "].MFReductionPercent";
            cell12.appendChild(element12);

            //IsTimeNExpance
            var cell13 = table.rows[IrowNo].cells[11];
            cell13.align = "left";
            cell13.innerHTML = "";
            var element13 = document.createElement("input");
            element13.type = "checkbox";
            element13.style.width = "50px";
            element13.name = "InvoicePricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";
            //element9.value = "false";

            element13.setAttribute("onclick", "CheckChanged('tblLOBPricingList','" + parseInt(chkRNo) + "','false')");
            //element9.checked = true;
            cell13.appendChild(element13);
  //////////////
           
        }
        else {
            IrowNo = IrowNo + 1;
            //alert(IrowNo);
            //alert(chkRNo);
            //table.rows[IrowNo].cells[0].innerHTML = "";
            //table.rows[IrowNo].cells[1].innerHTML = "";
            table.rows[IrowNo].cells[2].innerHTML = '/ hr ';
            table.rows[IrowNo].cells[3].innerHTML = "";
            table.rows[IrowNo].cells[4].innerHTML = "";
            table.rows[IrowNo].cells[5].innerHTML = "";
            table.rows[IrowNo].cells[6].innerHTML = "";
            table.rows[IrowNo].cells[7].innerHTML = "";
            table.rows[IrowNo].cells[8].innerHTML = "";
            table.rows[IrowNo].cells[9].innerHTML = "";
            table.rows[IrowNo].cells[10].innerHTML = "";

            var cell11 = table.rows[IrowNo].cells[11];
            cell11.align="left";
            cell11.innerHTML = "";
            var element11 = document.createElement("input");
            element11.type = "checkbox";
            element11.style.width = "50px";
            element11.name = "InvoicePricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";
            element11.value = "true";
            element11.setAttribute("onclick","CheckChanged('tblLOBPricingList','"+  parseInt(chkRNo) +"','true')");
            element11.checked = true;
            cell11.appendChild(element11);

            //table.rows[1].cells[7].getElementsByTagName("input")[0].setAttribute("onChange", "CheckChanged('tblLOBPricingList','" + IrowNo + "','true')");

            //table.rows[IrowNo].cells[7].getElementsByTagName("input")[0].onchange = "CheckChanged('tblLOBPricingList','" + IrowNo + "','false')";

        }
        // alert(IrowNo);

    }

    function deleteLOBPricingRow(tableID, lobPrcId) {
        try {
            //debugger;
            if (confirm('Do you want to delete this pricing?')) {
                if (lobPrcId != '0') {
                    var hdndellist = document.getElementById('hdnDelLobprcIDlst');
                    hdndellist.value = hdndellist.value + lobPrcId + ','
                    //alert(hdndellist.value);
                }
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
                hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
                table.deleteRow(rowCount - 1);
                if ((rowCount - 3) >= 0) {
                    var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 3));
                    deleteRowIcon.style.display = "inline";
                }
            }
            else {
                //do nothing 
            }

        } catch (e) {
            alert(e);
        }
    }



</script>
<body style="background-image: none">

    @*action="@Html.Action("LOBPricing","CompanyLOBPricing")" id="divLOBPricing"*@
    <form action="~/PropertyAssignment/InvoicePricing" method="post">

        @{

            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="content" align="center">
                        <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
                            <tr>
                                <td class="subHeading borderBottomLightGray" nowrap="nowrap">
                                    Invoice Pricing 
                                    <input type="hidden" id="hdnDelLobprcIDlst" name="hdnDelLobprcIDlst" value="@Model.Delstring" />
                                    <input type="hidden" id="hdnPreInvoiceRuleId" name="hdnPreInvoiceRuleId" value="@Model.PreInvoiceRuleId" />
                                    <input type="hidden" id="hdnPricingtype" name="hdnPricingtype" value="@Model.Pricingtype" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div style="display: none;">

                                    </div>
                                    @if (Model.ValidationSummary != null && Model.ValidationSummary.Trim() != "")
                                    {

                                        @:<div style="padding-left:10px;" class="errorMsg"> <br />  @Html.Raw(Model.ValidationSummary)   </div>
                                     }


                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <br />
                                    @if (Model.Pricingtype == 0)
                                    {
                                        <table align="center" id="tblLOBPricingList" cellspacing="0" cellpadding="0">
                                            <tr valign="top">
                                               
                                                <td class="tableHeader" width="90" nowrap="nowrap">
                                                    Base Service <br />Fee ($)
                                                </td>
                                                <td class="tableHeader" width="80">
                                                    SP Service <br />Fee ($)
                                                </td>                                               
                                                <td class="tableHeader" width="90">
                                                    SPX <br />
                                                    Percent
                                                </td>
                                                <td class="tableHeader" width="90">
                                                    CSS <br />
                                                    POC
                                                </td>
                                                <td class="tableHeader" width="90">
                                                    MF Reduction ($) <br />
                                                    
                                                </td>
                                                <td class="tableHeader" width="90">
                                                    MF Reduction<br />
                                                    Percent
                                                </td>
                                                <td class="tableHeader" width="90">
                                                    Time & <br />
                                                    Expense
                                                </td>
                                                <td width="100%">
                                                    <div style="display: none;">
                                                        <img id="imgLOBPricingDeleteRowReplica" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                                    </div>
                                                </td>

                                            </tr>
                                            @if (Model.InvoicePricingList.Count == 0)
                                            {
                                                <tr>
                                                    
                                                    <td>
                                                        <input name="InvoicePricingList[0].BaseServiceFee" type="text" style="width: 80px;" />
                                                        <label id="lblPerhr[0]" title=" /hr " style="display: none"></label>
                                                    </td>
                                                    <td>
                                                        <input name="InvoicePricingList[0].SPServiceFee" type="text" style="width: 80px;" />
                                                    </td>                                                   
                                                    <td>
                                                        <input name="InvoicePricingList[0].SPXPercent" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td>
                                                        <input name="InvoicePricingList[0].CSSPOCPercent" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td>
                                                        <input name="InvoicePricingList[0].MFReduction" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td>
                                                        <input name="InvoicePricingList[0].MFReductionPercent" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td align="left">
                                                        <input name="InvoicePricingList[0].IsTimeNExpance" type="checkbox" onclick="FlatFeeCheckChanged('tblLOBPricingList', '0', 'false')" style="width: 50px;" />
                                                    </td>
                                                    <td>
                                                        <img id="imgLOBPricingDeleteRow0" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                {
                                                    for (int i = 0; i < Model.InvoicePricingList.Count; i++)
                                                    {
                                                        BLL.invoicerulepricing pricing = Model.InvoicePricingList.ElementAt(i);
                                                        <tr>
                                                            <td>
                                                                <input name="InvoicePricingList[@i].InvoicerulepricingId" type="text" value="@pricing.InvoicerulepricingId" style="width:80px; display:none" />
                                                                <input name="InvoicePricingList[@i].BaseServiceFee" type="text" value="@pricing.BaseServiceFee" style="width:80px;" />
                                                            </td>
                                                            <td>
                                                                <input name="InvoicePricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" />
                                                            </td> 
                                                            <td>
                                                                <input name="InvoicePricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:80px;" />
                                                            </td>
                                                            <td>
                                                                <input name="InvoicePricingList[@i].CSSPOCPercent" type="text" value="@pricing.CSSPOCPercent" style="width: 80px;" />
                                                            </td>
                                                            <td>
                                                                <input name="InvoicePricingList[@i].MFReduction" type="text" value="@pricing.MFReduction"  style="width: 80px;" />
                                                            </td>
                                                            <td>
                                                                <input name="InvoicePricingList[@i].MFReductionPercent" type="text" value="@pricing.MFReductionPercent"  style="width: 80px;" />
                                                            </td>

                                                            @if (pricing.IsTimeNExpance.HasValue ? (pricing.IsTimeNExpance.Value ? true : false) : false)
                                                            {
                                                                <td>
                                                                    / hr
                                                                </td>                                                                                                                            
                                                                <td align="left">
                                                                    <input name="InvoicePricingList[@i].IsTimeNExpance" type="checkbox" onclick="FlatFeeCheckChanged('tblLOBPricingList','@i    ','true')"
                                                                           checked="checked" value="@pricing.IsTimeNExpance.Value.ToString()" style="width:50px;" />
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                
                                                                <td align="left">
                                                                    <input name="InvoicePricingList[@i].IsTimeNExpance" type="checkbox" onclick="FlatFeeCheckChanged('tblLOBPricingList','@i    ','@pricing.IsTimeNExpance    ')"
                                                                           value="@pricing.IsTimeNExpance" style="width:50px;" />
                                                                </td>                                                                
                                                            }
                                                            <td>
                                                                <img id="@("imgLOBPricingDeleteRow" + i)" onclick="deleteLOBPricingRow('tblLOBPricingList','@pricing.InvoicerulepricingId')"
                                                                     style="@(i == (Model.InvoicePricingList.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                            }
                                            </table>
                                            }
                                            else
                                            {
                                            <table align="center" id="tblLOBPricingList" cellspacing="0" cellpadding="0">
                                                <tr valign="top">
                                                    <td class="tableHeader" width="80">
                                                        Start Range <br />($)
                                                    </td>
                                                    <td class="tableHeader" width="80">
                                                        End Range <br />($)
                                                    </td>
                                                    <td class="tableHeader" width="90" nowrap="nowrap">
                                                        Base Service <br />Fee ($)
                                                    </td>
                                                    <td class="tableHeader" width="80">
                                                        SP Service <br />Fee ($)
                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        RCV <br />
                                                        Percent
                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        SP RCV <br />
                                                        Percent
                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        RCV Flat Reduction<br />
                                                        
                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        SPX <br />
                                                        Percent
                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        CSS <br />
                                                        POC
                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        MF Reduction ($) <br />

                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        MF Reduction<br />
                                                        Percent
                                                    </td>
                                                    <td class="tableHeader" width="90">
                                                        Time & <br />
                                                        Expense
                                                    </td>
                                                    <td width="100%">
                                                        <div style="display: none;">
                                                            <img id="imgLOBPricingDeleteRowReplica" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                                        </div>
                                                    </td>
                                                </tr>
                                                @if (Model.InvoicePricingList.Count == 0)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input name="InvoicePricingList[0].StartRange" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].EndRange" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].BaseServiceFee" type="text" style="width: 80px;" />
                                                            <label id="lblPerhr[0]" title=" /hr " style="display: none"></label>
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].SPServiceFee" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].RCVPercent" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].SPRCVPercent" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].RCVFlatReduction" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].SPXPercent" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].CSSPOCPercent" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].MFReduction" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td>
                                                            <input name="InvoicePricingList[0].MFReductionPercent" type="text" style="width: 80px;" />
                                                        </td>
                                                        <td align="left">
                                                            <input name="InvoicePricingList[0].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','0','false')" style="width: 50px;" />
                                                        </td>
                                                        <td>
                                                            <img id="imgLOBPricingDeleteRow0" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    {
                                                        for (int i = 0; i < Model.InvoicePricingList.Count; i++)
                                                        {
                                                            BLL.invoicerulepricing pricing = Model.InvoicePricingList.ElementAt(i);
                                                            <tr>

                                                                <td>
                                                                    <input name="InvoicePricingList[@i].StartRange" type="text" value="@pricing.StartRange" style="width:80px;" />
                                                                    <input name="InvoicePricingList[@i].InvoicerulepricingId" type="text" value="@pricing.InvoicerulepricingId" style="width:80px; display:none" />
                                                                </td>
                                                                <td>
                                                                    <input name="InvoicePricingList[@i].EndRange" type="text" value="@pricing.EndRange" style="width:80px;" />
                                                                </td>
                                                            @if (pricing.IsTimeNExpance.HasValue ? (pricing.IsTimeNExpance.Value ? true : false) : false)
                                                            {
                                                                <td>
                                                                    / hr
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>                                                               
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td align="left">
                                                                    <input name="InvoicePricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','true')"
                                                                           checked="checked" value="@pricing.IsTimeNExpance.Value.ToString()" style="width:50px;" />
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <input name="InvoicePricingList[@i].BaseServiceFee" type="text" value="@pricing.BaseServiceFee" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="InvoicePricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="InvoicePricingList[@i].RCVPercent" type="text" value="@pricing.RCVPercent" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="InvoicePricingList[@i].SPRCVPercent" type="text" value="@pricing.SPRCVPercent" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="InvoicePricingList[@i].RCVFlatReduction" type="text" value="@pricing.RCVFlatReduction" style="width:80px;" />
                                                                </td>
                                                                 <td>
                                                                    <input name="InvoicePricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:80px;" />
                                                                </td>

                                                                    <td>
                                                                        <input name="InvoicePricingList[@i].CSSPOCPercent" type="text" value="@pricing.CSSPOCPercent"  style="width: 80px;" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="InvoicePricingList[@i].MFReduction" type="text" value="@pricing.MFReduction"  style="width: 80px;" />
                                                                    </td>
                                                                    <td>
                                                                        <input name="InvoicePricingList[@i].MFReductionPercent" type="text" value="@pricing.MFReductionPercent"  style="width: 80px;" />
                                                                    </td>
                                                                                                                                <td align="left">
                                                                    <input name="InvoicePricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','@pricing.IsTimeNExpance    ')"
                                                                           value="@pricing.IsTimeNExpance" style="width:50px;" />
                                                                </td>                                                                
                                                            }
                                                                <td>
                                                                    <img id="@("imgLOBPricingDeleteRow" + i)" onclick="deleteLOBPricingRow('tblLOBPricingList','@pricing.InvoicerulepricingId')"
                                                                         style="@(i == (Model.InvoicePricingList.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                                </td>
                                                            </tr>
                                                        }

                                                    }
                                                }
                                            </table>
                                            }
                                            <table width="100%">
                                                @if(Model.Pricingtype!=0)
                                                {
                                                    
                                                   <tr>
                                                        <td>
                                                            <br />
                                                            <b>
                                                                <a onclick="addLOBPricingRow('tblLOBPricingList')" style="border: none; color: black; cursor: pointer; text-align: right">
                                                                    <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                                                    Add Row
                                                                </a> &nbsp;
                                                            </b>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td class="borderTopLightGray" align="right" style="padding-top:3px;">
                                                        @*onclick="return ValidatePage('tblLOBPricingList');" *@
                                                        <input id="hdnLOBPricingRowCount" name="hdnLOBPricingRowCount" type="hidden" value="@(Model.InvoicePricingList.Count == 0 ? "1" : Model.InvoicePricingList.Count + "")" />
                                                        <input type="submit" id="newbtn2" class="buttonYellow_100" value="Save" name="newbtn2" />
                                                    </td>
                                                </tr>
                                            </table>


</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        }



    </form>

</body>



