﻿@{
    ViewBag.Title = "JobSubmitSuccess";
}
@model BLL.ViewModels.AssignmentJobsViewModel
@using CSS

<h2> Service Assignment Created </h2>

<input type="button" class="buttonLightYellow_100" value="return to claim " onclick="window.location.href='@Url.Action("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(Model.Claim.ClaimId.ToString())})';" />