﻿@model BLL.ViewModels.PropertyAssignmentViewModel
@using CSS
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@{
    if (!Model.UseMasterPageLayout)
    {
        Layout = null;
    @:<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @:<link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />
    }
    ViewBag.Title = "Property Assignment";
}

@*<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    .bgEditPopupCPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupCPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
    });
    function populateZipData(zipControl, stateControl, cityControl) {
        try {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
        { ZipCode: $("#" + zipControl).val() },
        function (data) {
            if (data != -1) {

                $("#" + stateControl).val(data.State);
                $("#" + cityControl).val(data.City);
            }
            else {
                $("#" + stateControl).val("");
                $("#" + cityControl).val("");
            }

        });
        copyInsuredToLossOnBlur();
    } catch (err) {
    }
    }

    function btnNewCPOC_Click() {
        if ($("#ddlInsuranceCompany").val() != "0") {
            $("#spnCPOCHeading").html("Add ");
            $("#btnSaveCPOC").val("Add ");

            $("#imgClientPOCListLoading").show();
            $.ajax({
                url: '@Url.Action("ClientPOCEdit", "InsuranceSetup")'
        , type: 'GET'
            , data: { UserId: 0 }
            , cache: false
            }).done(function (result) {
                $("#divClientPOC").empty();
                $("#divClientPOC").html(result);
                $("#hdnCPOCHeadCompanyId").val($("#ddlInsuranceCompany").val());
                loadPopupCPOC();
                $("#imgClientPOCListLoading").hide();
            }).fail(function (result) {
            });
        }
        else {
            alert("Select an Client.");
        }
        return false;
    }
    function btnSaveCPOC_Click() {

        var data = $("#frmCPOC").serialize();

        $("#imgProcessingNewClientPOCSubmit").show();
        $.ajax({
            url: '@Url.Action("ClientPOCEdit", "InsuranceSetup")'
  , type: 'POST'
      , data: data
        }).done(function (result) {

            if (result.Code == "1") {
                $("#divClientPOC").empty();
                disablePopupNewClientPOC();
                $("#imgProcessingNewClientPOCSubmit").hide();
                populateClientPOCDLL(result.Data);
            }
            else if (result.Code == "-1") {
                $("#divClientPOC").html(result.Data);
                $("#imgProcessingNewClientPOCSubmit").hide();
            }
        }).fail(function (result) {
            //alert(result.responseText);
        });
    }
    function loadPopupCPOC() {

        centerPopupNewClientPOC();
        $("#divBgEditPopupCPOC").css({
            "opacity": "0.7"
        });

        $("#divBgEditPopupCPOC").fadeIn("slow");
        $("#divCPOCPopup").fadeIn("slow");
    }
    function disablePopupNewClientPOC() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#divBgEditPopupCPOC").fadeOut("slow");
            $("#divCPOCPopup").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewClientPOC() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#divCPOCPopup").height();
        var popupWidth = $("#divCPOCPopup").width();
        //centering  
        $("#divCPOCPopup").css({
            "position": "absolute",
            "top": (windowHeight / 2 - popupHeight / 2),
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#divBgEditPopupCPOC").css({
            "height": windowHeight
        });
        return false;
    }

    //edit claim popup close
    function disableEditClaimPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divEditClaim").fadeOut("slow");
        $("#divEditClaim").hide();
        // loadSubmit();

        // document.forms["formSearch"].submit();

        location.href = '@Url.Content("~/PropertyAssignment/Details?claimid=" + Cypher.EncryptString(@Model.Claim.ClaimId.ToString()))';
        //window.location.reload();
    }
    function CallOnApplicantNumberChangeEvent()
    {
        debugger;
        var   txtPolicyNo = $("#txtClaimNumber").val();
        $('#txtPolicynumber').val(txtPolicyNo);
    }
</script>

@*<link href="~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
<table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
    <tr>
        <td>

            @using (Html.BeginForm("PropertyAssignment", "PropertyAssignment", FormMethod.Post))
            { 
                <input type="hidden" id="claimid" name="claimid" value="@Model.Claim.ClaimId" />
                @Html.HiddenFor(model => model.Claim.ClaimId)
                @Html.HiddenFor(model => model.propertyassignment.AssignmentId)
                @Html.HiddenFor(model => model.UseMasterPageLayout)
                <table width="100%">
                    <tr>
                        <td class="mainHeader">Assignment/Claim Details</td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <table width="100%">
                                <tr valign="top">
                                    <td align="left" class="errorMsg" style="width: 100%;" width="100%">@Html.ValidationSummary()</td>
                                    <td align="right" nowrap="nowrap">*Required Field</td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                    <tr>

                        <td><div style="width:90%;">@Html.Partial("_ClaimInformation", Model)</div></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>

                        <td><div style="width:90%;">@Html.Partial("_PolicyInformation", Model)</div></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><div style="width:90%;">@Html.Partial("_LossInformation", Model)</div></td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><div style="width:90%;">@Html.Partial("_Insured", Model)</div></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><div style="width:90%;">@Html.Partial("_Claimant", Model)</div></td>
                    </tr>
                    <tr>
                        <td class="footer" align="right">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="left"></td>
                                    <td align="right">
                                        @if (Model.UseMasterPageLayout)
                                        {
                                            @Html.CheckBoxFor(model => model.isRedirectToTriage)@:Display Triage after Submit &nbsp;&nbsp;
                                                                                }
                                        <input type="submit" class="buttonYellow_100" value="Submit" id="btnClaimSubmit"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
    
     
    
            }


        </td>
    </tr>
</table>

<div id="divCPOCPopup" style="display: none;" class="EditPopupCPOC">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    <span id="spnCPOCHeading"></span>Examiner
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupNewClientPOC();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div id="divClientPOCError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                @using (Html.BeginForm("ClientPOCEdit", "InsuranceSetUp", FormMethod.Post, new { @id = "frmCPOC" }))
                {
                    <div id="divClientPOC"></div>
                }
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingNewClientPOCSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input id="btnSaveCPOC" type="button" value="Save" class="buttonYellow_100" onclick="btnSaveCPOC_Click()" /></td>
        </tr>
    </table>
</div>
<div id="divBgEditPopupCPOC" onclick="disablePopupNewClientPOC();" class="bgEditPopupCPOC" style="display: none;"></div>
