﻿@model BLL.ViewModels.ClaimDocumentViewModel
@{
    Layout = null;
    ViewBag.Title = "UploadCANClaimDocument";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function showClaimDocUploadProcessing() {
        var ProgressImage = document.getElementById("imgClaimUploadProgress");
        document.getElementById("spanClaimUploadProgress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }
</script>
<div class="errorMsg">
    @Html.ValidationSummary()
</div>
<span style="position: absolute; visibility: hidden; width: 100%; height: 100%; background-color: white; filter: alpha(opacity=90);" id="spanClaimUploadProgress">
    <img id="imgClaimUploadProgress" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Uploading...
</span>
@using (Html.BeginForm("UploadCANClaimDocument", "PropertyAssignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table width="100%">

        <tr>
            <td>
                <b>Title:</b>
            </td>
            <td width="100%">
                @Html.HiddenFor(model => model.Document.AssignmentId)
                @Html.HiddenFor(model => model.Document.DocumentTypeId)
                @Html.HiddenFor(model => model.Document.DocumentUploadedByUserId)
                @Html.HiddenFor(model => model.Document.JobId)
                @Html.TextBoxFor(model => model.Document.Title)
            </td>
        </tr>
        <tr>
            <td>
                <b>Document:</b>
            </td>
            <td>
                <input type="file" id="uploadFile" name="uploadFile" />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <input type="submit" value="Add Document" class="buttonYellow_100" onclick="showClaimDocUploadProcessing()" />
            </td>
        </tr>
    </table>
}
