﻿@using CSS
@model BLL.ViewModels.ClaimDocumentViewModel
@{
    Layout = null;
    ViewBag.Title = "UploadClaimDocument";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<div class="errorMsg">
     @Html.ValidationSummary()
</div>
<span style="position: absolute; visibility: hidden; width: 100%; height: 100%; background-color: white; filter: alpha(opacity=90);" id="spanClaimUploadProgress">
        <img id="imgClaimUploadProgress"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Uploading...
    </span>
@using (Html.BeginForm("UploadClaimDocument", "PropertyAssignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table width="100%">
  
    <tr>
        <td>
            <b>Title:</b></td>
        <td width="100%">
            @Html.HiddenFor(model=>model.Document.AssignmentId)
            @Html.HiddenFor(model=>model.Document.DocumentTypeId)
            @Html.HiddenFor(model=>model.Document.DocumentUploadedByUserId)
            @Html.TextBoxFor(model => model.Document.Title, new { @class = "documentTitle"})
            <span class="spanDocTitleValidation" style="color:red; display:none;font-size: 12px;float: right;padding-right: 5%;">Document title required</span>
        </td>
    </tr>
    <tr>
        <td>
            <b>Document:</b></td>
        <td>
            <input type="file" id="uploadFile" name="uploadFile" /></td>
    </tr>
    <tr>
        <td>
            <b>Final Document:</b>
        </td>
        <td>
            @*<input type="checkbox" id="isfinaldocument" name="isfinaldocument" />*@
            @Html.CheckBoxFor(model => model.IsFinalDocument, new { @id = "isfinaldocument", @name = "isfinaldocument" })
        </td>
    </tr>
    <tr id="trSPInvoice" style="display:none">
        <td>
            <b>SP Invoice #</b>
        </td>
        <td width="100%">
            @Html.TextBoxFor(model => model.SPInvoice)
        </td>
    </tr>
    <tr id="trInvoiceDate" style="display:none">
        <td>
            <b>SP Invoice Date</b>
        </td>
        <td>
            @Html.TextBoxFor(model => model.InvoiceDate,new { style = "width:100px;", @class = "DatePickerTextBox", @value = DateTime.Now.GetDateTimeFormats() })
        </td>
    </tr>
    <tr >
        <td>
            &nbsp;
        </td>
        <td align="right">
            <input type="submit" value="Add Document" class="buttonYellow_100" onclick="return showClaimDocUploadProcessing()" /></td>
    </tr>
</table>
}




<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>


<script type="text/javascript">

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
        $(".DatePickerTextBox").datepicker('setDate', new Date());
    });


    $(function () {
        if (!$('#isfinaldocument').is(':checked')) {
            $("#trSPInvoice").hide();
            $("#trInvoiceDate").hide();
            $('.documentTitle').val('');
        } else {
            $("#trSPInvoice").show();
            $("#trInvoiceDate").show();
        }
    });

    $('#isfinaldocument').change(function () {
        debugger;
        if (!$(this).is(':checked')) {
            $("#trSPInvoice").hide();
            $("#trInvoiceDate").hide();
            $('.documentTitle').val('');
        } else {
            var documenttype = '@Model.Document.DocumentTypeId';
            var jobtype = '@css.AssignmentJobs.Where(x=>x.AssignmentId== Model.Document.AssignmentId).FirstOrDefault().JobId';
            if (documenttype == 3 && jobtype !=6) {
                 $('.documentTitle').val('SP Invoice:');
            }
            $("#trSPInvoice").show();
            $("#trInvoiceDate").show();
        }
        //alert("hi");
    });   

    function showClaimDocUploadProcessing() {
        if ($('.documentTitle').val() != '')
        {
            var ProgressImage = document.getElementById("imgClaimUploadProgress");
            document.getElementById("spanClaimUploadProgress").style.visibility = "visible";
            setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
            return true;
        }
        else
        {
            $('.spanDocTitleValidation').css('display','block')            
            return false;
        }
    }
</script>
