﻿@model BLL.ViewModels.ClaimsSearchViewModel
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
    function showSearch(id) {

        if (id == 1) {
            element = document.getElementById('divSearchFilter');
            element.style.display = 'block';
            element = document.getElementById('aClear');
            element.style.display = 'block';
            element = document.getElementById('aSearch');
            element.style.display = 'none';
            element = document.getElementById('trSearchFilterFooter');
            element.style.display = 'table-row';
        }
        if (id == 2) {
            element = document.getElementById('divSearchFilter');
            element.style.display = 'none';
            element = document.getElementById('aClear');
            element.style.display = 'none';
            element = document.getElementById('aSearch');
            element.style.display = 'block';
            element = document.getElementById('trSearchFilterFooter');
            element.style.display = 'none';
        }

    }

    
</script>
<table width="100%">
    <tr>
        <td valign="top" width="200">
            @using(Html.BeginForm("Search","ClaimsSearch"))
            {
            <table align="left" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader"><a id="aSearch" href="#" onclick="showSearch(1)" style="color: black;">Search Filter</a><a id="aClear" href="#" onclick="showSearch(2)" style="display: none; color: black;">Search Filter</a>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <div id="divSearchFilter" style="display:none;" >
                        @Html.Partial("_ClaimsSearchFilter")
                            </div>
                    </td>
                </tr>
                 <tr align="right" id="trSearchFilterFooter" style="display: none;">
                        <td class="footer">
                            <input type="submit" class="buttonLightYellow_100" value="Search" />
                        </td>
                    </tr>
            </table>
            }
        </td>

    </tr>
    <tr>

        <td valign="top">
            
        </td>
    </tr>
</table>
