﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.CertificationDocsUploadViewModel
@{
    Layout = null;
    ViewBag.Title = "Company Certification Documents Upload";
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
    <style type="text/css">
        body {
            font-family: Verdana;
            font-size: 11px !important;
            color: #727272;
            margin: 0px;
        }
    </style>
}
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function isFileValid() {
            var isValid = true;
            var file = document.getElementById('certificationFile');
            //var hash = {
            //    '.pdf': 1,
            //    '.PDF': 1
            //};
            //if (check_extension(file.value, hash) != true) {
            //    alert('Select a PDF file.');
            //    isValid = false;
            //}
            if (file.value.trim().length == 0) {
                alert("Select a file");
                isValid = false;
            }
            return isValid;
        }
        function getExtension(filename) {
            var re = /\..+$/;
            var ext = filename.match(re);
            return ext;
        }
        function check_extension(filename, hash) {

            var ext = getExtension(filename);

            if (hash[ext]) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>
    <table>
        <tr>
            <td>@using (Html.BeginForm("CertificationDocsUpload", "ServiceProviderRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <table>
                     @*<tr>
                        <td class="defaultPageText" colspan="2">If the list below does not contain your company certification, kindly save this registration form before proceeding.
                        </td>
                    </tr>*@
                    <tr>
                        <td class="defaultPageText" width="200" nowrap="nowrap">Select Company Certification:@Html.HiddenFor(model => model.UserId)</td>
                        <td>@Html.DropDownListFor(model => model.SPCId, Model.CertificationList, new { onchange = "this.form.submit();",disabled = "disabled" })
                       @Html.HiddenFor(model => model.SPCId) 
                        </td>
                    </tr>
                    @{
                    if (Model.Certification != null)
                    {
                        bool showUpload = true;
                        if (Model.Certification.IsDocUploaded.HasValue)
                        {
                            if (Model.Certification.IsDocUploaded.Value)
                            {
                                showUpload = false;
                            }
                        }

                        if (showUpload)
                        {
                        <tr>
                            <td class="defaultPageText">Choose File:</td>
                            <td class="defaultPageText">
                                <input type="file" id="certificationFile" name="certificationFile" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="right">

                                <input type="submit" value="Upload" class="buttonYellow_100" onclick="javascript: return isFileValid();" /></td>
                        </tr>
                        }

                    }
                    }
                </table>
                }
            </td>
        </tr>
        @{
            if (Model.Certification != null)
            {
                if (Model.Certification.IsDocUploaded.HasValue)
                {
                    if (Model.Certification.IsDocUploaded.Value)
                    {
                        string absoluteFileName = Model.Certification.UserId + "/" + System.Configuration.ConfigurationManager.AppSettings["ServiceProviderCertificationDocsFolderName"].ToString() + "/" + Model.Certification.DocFileName;
                        string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteFileName);
             <tr><td  lass="defaultPageText" style="padding:5px">File Name : @Model.Certification.DocFileName</td></tr>
            <tr>
                <td class="defaultPageText"><a style="padding-right:5px;" href="@fileUrl" target="_blank">
                  Download  @*<img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;"/>*@</a>
                    <a style="padding-right:5px;" href="@Url.Action("CertificationDocsDelete", "ServiceProviderRegistration", new { SPCId = Model.Certification.SPCId })" style="border: none; color: black; cursor: pointer;float:right;" onclick = "return confirm('Are you sure you want to Delete ?')">
                  Delete   @*<img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick = "return confirm('Are you sure you want to Delete ?')" />*@</a></td>
                <td class="defaultPageText"></td>
            </tr>
                    }
                }
            }
        }
    </table>

</body>
</html>
