﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.ServiceProviderDocumentsViewModel
@{
    Layout = null;
    ViewBag.Title = "Upload Documents";
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
    <style type="text/css">
        body {
            font-family: Verdana;
            font-size: 11px !important;
            color: #727272;
            margin: 0px;
        }
    </style>
}


<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        function loadSubmit() {
            var ProgressImage = document.getElementById("progress_image");
            document.getElementById("progress").style.visibility = "visible";
            setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
            return true;
        }

        function onSuccessMsg() {
            alert('success');
        }
        function displayProgressInfo() {
            alert('test');
            document.getElementById("divLoading").style.visibility = "inline";
            //document.getElementById("divContent").style.visibility = "none";
        }
        function isFileValid() {
            var isValid = true;
            var file = document.getElementById('file1');
            var type = "@Model.DisplayMode";
            if (type == "0") {
                //var hash = {
                //    '.pdf': 1,
                //    '.PDF': 1,
                //    '.doc': 1,
                //    '.DOC': 1,
                //    '.docx': 1,
                //    '.DOCX': 1,
                //    '.xls': 1,
                //    '.XLS': 1,
                //    '.xlsx': 1,
                //    '.XLSX': 1,
                //    '.jpg': 1,
                //    '.JPG': 1,
                //    '.gif': 1,
                //    '.GIF': 1,
                //    '.png': 1,
                //    '.PNG': 1,
                //    '.tif': 1,
                //    '.TIF': 1
                //};

                //if (check_extension(file.value, hash) != true) {
                //    alert('Select a pdf, doc, docx, xls, xlsx, jpg, gif, png or a tif file.');
                //    isValid = false;
                //}
                if (file.value.trim().length == 0) {
                    alert("Select a file");
                    isValid = false;
                }
            }
            else if (type == "1") {
                var hash = {
                    '.jpg': 1,
                    '.JPG': 1,
                    '.gif': 1,
                    '.GIF': 1,
                    '.png': 1,
                    '.PNG': 1,
                    '.tif': 1,
                    '.TIF': 1
                };
                if (check_extension(file.value, hash) != true) {
                    alert('Select a jpg, gif, png or a tif file.');
                    isValid = false;
                }

            }

            if (isValid) {
                loadSubmit();
            }
            return isValid;
        }

        function getExtension(filename) {
            var re = /\..+$/;
            var ext = filename.match(re);
            return ext;
        }
        function check_extension(filename, hash) {

            var ext = getExtension(filename);

            if (hash[ext]) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>
    <span style="position: absolute; visibility: hidden; width: 100%; height: 100%; background-color: white; filter: alpha(opacity=90);" id="progress">
        <img id="progress_image"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Uploading...
    </span>



    @if (Model.ServiceProviderDocument.UserId == -1)
    {
        <table width="100%" cellpadding="0" cellspacing="0">

            <tr>
                @if (Model.ServiceProviderDocument.DTId == 1)  //For SSN Document
                {
                <td class="defaultPageText">After you save your registration information within the user portal, please log back in to upload a copy of your Social Security Card. Please be assured that the number itself will be masked to all users other than the PCS Administrator, and they will also be the only user who can view a copy of the document.
                </td>
                }
                else
                {
                    <td class="defaultPageText">
                        After you "Save" this registration form, kindly login to your account and upload the document. </td>
                }
            </tr>


        </table>
    }
    else
    {
        <table cellpadding="0" cellspacing="0">
            @* Identify the number of documents which can be uploaded by the user. *@
            @if ((Model.MaxDocsCount == 0 || Model.ServiceProvidersDocuments.ToList().Count < Model.MaxDocsCount) && !Model.IsReadOnly)
            {
                <tr>
                    <td>@using (Html.BeginForm("UploadFile", "ServiceProviderRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        @Html.HiddenFor(model => model.ServiceProviderDocument.UserId)
                        @Html.HiddenFor(model => model.ServiceProviderDocument.DTId)
                        @Html.HiddenFor(model => model.MaxDocsCount)
                        @Html.HiddenFor(model => model.DisplayMode)
                        @Html.HiddenFor(model => model.IsReadOnly)
                    
                        <table align="left" cellspacing="0" width="100%">
                            <tr>
                                <td>

                                    <table cellspacing="0" cellpadding="0">
                                        @if (Model.DisplayMode == 0)
                                        {
                                            <tr>
                                                <td class="defaultPageText">Title:</td>
                                                <td nowrap="nowrap">@Html.TextBoxFor(model => model.ServiceProviderDocument.Title)<div style="color: red;">@ViewBag.TitleValidationMsg</div>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr style="display: none;">
                                                <td class="defaultPageText">Title:</td>
                                                <td>@Html.HiddenFor(model => model.ServiceProviderDocument.Title)</td>
                                            </tr>    
                                        }
                                        <tr>
                                            <td class="defaultPageText">
                                                @(Model.DisplayMode == 0 ? "File:" : "")

                                            </td>

                                            <td nowrap="nowrap">
                                                <input id="file1" name="file1" type="file" />
                                                <input id="btnSubmit" type="submit" value="Upload" style="height: 22px;" onclick="javascript: return isFileValid();" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="right"></td>
                            </tr>
                        </table>



                        }
                    </td>
                </tr>
            }
            @if (Model.ServiceProvidersDocuments.ToList().Count > 0)
            {
                <tr>
                    <td>
                        <div style="overflow-y: auto;">
                            <table align="left" cellspacing="0" width="100%">

                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <table width="100%" cellspacing="0">

                                                        <tbody>

                                                            @foreach (BLL.ServiceProviderDocument document in Model.ServiceProvidersDocuments)
                                                            {
                                                                if (String.IsNullOrEmpty(document.SertifiDocumentId))
                                                                {
                                                                <tr valign="top">

                                                                    <td class="defaultPageText" nowrap="nowrap">
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    @if (Model.DisplayMode == 0)
                                                                                    { 
                                                                                        string absoluteFileName = Model.ServiceProviderDocument.UserId + "/" + Url.Encode((new BLL.ChoiceSolutionsEntities()).DocumentTypes.Find(Model.ServiceProviderDocument.DTId).DocumentDesc.Replace(" ", "_")) + "/" + (new FileInfo(document.Path)).Name;
                                                                                        string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteFileName);

                                                                                        <a href="@fileUrl" target="_blank">
                                                                                            <img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;"/></a>
                                                                                    }
                                                                                </td>
                                                                                <td>
                                                                                    @if (!Model.IsReadOnly)
                                                                                    {
                                                                                        <a href="@Url.Action("DeleteFile", "ServiceProviderRegistration", new { SPDId = document.SPDId, userId = document.UserId, documentTypeId = document.DTId, maxDocsCount = Model.MaxDocsCount, displayMode = Model.DisplayMode, isReadOnly = Model.IsReadOnly })" style="border: none; color: black; cursor: pointer;float:right;">
                                                                                            <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick = "return confirm('Are you sure you want to Delete ?')" />
                                                                                        </a>
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        </table>

                                                                    </td>
                                                                    <td class="defaultPageText" width="100%">
                                                                        @if (Model.DisplayMode == 0)
                                                                        {
                                                                            @document.Title
                                                                            
                                                                        }
                                                                        else
                                                                        {
                                                                            string absoluteThumnailFileName = Model.ServiceProviderDocument.UserId + "/" + Url.Encode((new BLL.ChoiceSolutionsEntities()).DocumentTypes.Find(Model.ServiceProviderDocument.DTId).DocumentDesc.Replace(" ", "_")) + "/" + CSS.Utility.getThumbnailFileName((new FileInfo(document.Path)).Name);
                                                                            string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteThumnailFileName);
                                                                            <img src="@thumbnailFileUrl"  />
                                                                        }

                                                                    </td>
                                                                </tr>
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </div>

                    </td>
                </tr>
            }
            else
            {
                if (Model.IsReadOnly)
                {
                <tr>
                    <td class="defaultPageText">- @(Model.DisplayMode == 0 ? "Document" : "Image ") not attached -
                        
           
                    </td>
                </tr>
                }
            }
        </table>

    }

</body>
</html>
