﻿@model IEnumerable<BLL.ClaimTypesGetListNew_Result>

<h2>List</h2>
No of Years

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               
                @Html.TextBoxFor(modelItem => item.YearsOfExperience,new { style = "width:300px" })

            </td>
            @* <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
        </tr>
    }
    <tr>
        <td>
            <input id="btnSubmit" type="button" />
        </td>

    </tr>
</table>



