﻿@{ ViewBag.Title = "Registration Successful"; }

<h2>Registration Successful</h2>

Thank you for registering with us. Please complete your profile by clicking the <b>Edit Profile</b> button below so that we can get to know you better.
   <br />  <br />
@using (Html.BeginForm("SubmitSuccess", "ServiceProviderRegistration", FormMethod.Post))
{
    <div style="float:left;">
        <input type="submit" value="Edit Profile" class="buttonYellow_100" />
</div>
}
<br />
<br />
    <script>
    </script>
