﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Custom/ServiceProviderRegistration.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Service Provider Registration";
CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style type="text/css">
    a.hover {
        text-decoration: none;
    }


    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 600px;*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }
</style>
<script type="text/javascript">
    function getNotesList(tabid) {
        debugger;
        //check if ddlNotesDisplayType exists. If not make use of default value.
        displayType = $("#ddlNotesDisplayType").length != 0 ? $("#ddlNotesDisplayType").val() : "0";
        $('#divNotesHistory').empty();
        $("#divNotesListLoading").show();
        $.ajax({
            url: '@Url.Action("GetNotesList", "ServiceProviderRegistration")',
            contentType: 'application/json; charset=utf-8',
             data: { FirstPage: 1, CurrentPage: 1, ServiceProviderId: '@Model.user.ServiceProviderDetail.UserId', DisplayType: displayType },
            cache: false,
            success: function (result) {
                $('#divNotesHistory').empty().append(result);
                $("#divNotesListLoading").hide();
            },
            error: function (error) {
            }
        });
            showTab(tabid);
    }
    function NotesHistoryRF(Claimid, FirstPage1, CurrentPage1) {
        displayType = $("#ddlNotesDisplayType").length != 0 ? $("#ddlNotesDisplayType").val() : "0";
        $('#divNotesHistory').empty();
        $("#divNotesListLoading").show();
        $.post('@Url.Content("~/ServiceProviderRegistration/GetNotesList")',
               {
                   FirstPage: FirstPage1, CurrentPage: CurrentPage1, ServiceProviderId: '@Model.user.ServiceProviderDetail.UserId', DisplayType: displayType
               },
                 function (data) {
                     $('#divNotesHistory').empty().append(data);
                     $("#divNotesListLoading").hide();
                 });
        showTab(5);
    }
    function getDocumentsList(tabid) {
        debugger;
        $("#divDocumentsList").empty();
        $("#divDocumentsListLoading").show();
        $.ajax({
            url: '@Url.Action("GetDocumentsList", "ServiceProviderRegistration")',
            contentType: 'application/json; charset=utf-8',
            data: { ServiceProviderId: '@Model.user.ServiceProviderDetail.UserId', DocumentType: 19 },
            cache: false,
            success: function (result) {
                $('#divDocumentsList').empty().append(result);
                $("#divDocumentsListLoading").hide();
            },
            error: function (error) {
            }
        });
           showTab(6);
    }
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"
    });
    });

    var Servicesdata = [];
    var ContractorCompanyServicesoffered = [];
    function btnSave_Click() {
        if (compare() == true) {
            if (confirm("Please confirm that your Payee Print Name is : " + $('#IntacctPrintAs').val())) {
                $("#frmRegistration").submit();
            }
            else {
                confirm.close();
            }
        }
    }
    function btnBackSearch_Click() {
        window.location.href = '@Url.Action("Search", "ServiceProviders")';
    }
    function refreshProgressIndicator() {
        $.post("@Url.Content("~/ServiceProviderRegistration/GetProgressIndicatorValueAsJSON")",
    { userId: '@Model.user.UserId' },
    function (data) {
        if (data != -1) {
            SetProgressBarIndicator(data);
        }


    });
    }

    function SetProgressBarIndicator(progressValue) {
        if(@Model.user.UserId>1)
        {
	document.getElementById('divProgressBar').style.width = progressValue + "%";
        document.getElementById('divProgressText').innerHTML = "<a href='#' style='text-decoration:none;' onclick='loadProfileProgressInfoPopup()'>Profile Completion: " + progressValue + "%</a>   ";
        }
    }
    function ExecuteOnLoad() {

        //load popup
        //@(Model.user.UserId == -1 ? "loadPopup();" : "")

        //initialize progress bar
        @{
            if (Model.user != null)
            {
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.ProfileProgress != null)
                    {
                        @:SetProgressBarIndicator('@Model.user.ServiceProviderDetail.ProfileProgress');
                            }
                }
            }
        }

        @*document.getElementById('divProgressBar').style.width = "@Model.user.ServiceProviderDetail.ProfileProgress%";
        document.getElementById('divProgressText').innerText = "Profile Completion: @Model.user.ServiceProviderDetail.ProfileProgress%   ";*@

        Callfun();

        

    }

    function popupRedirect() {
        window.open('', '', 'width=200,height=100');
    }

    function Callfun() {
        //var hdnUsertypeid = document.getElementById("hdnUsertypeid");
        //alert(hdnUsertypeid.value);
        //if (hdnUsertypeid.value == 2) {
        //    ExecuteScript();
        if (window.ExecuteScript != null)
            window.ExecuteScript();
        if (window.ExecuteCurrency != null)
            window.ExecuteCurrency();
    }
    function loadPopup() {

        //debugger;
        // popupDivVal = Edit;
        //loads popup only if it is disabled
        //var popupStatus = 0;

        //if (popupStatus == 0) {
        //    centerPopup();
        //    $("#backgroundPopup").css({
        //        "opacity": "0.7"
        //    });

        //    $("#backgroundPopup").fadeIn("slow");
        //    $("#Edit").fadeIn("slow");
        //    popupStatus = 1;
        //}
        //return false;
    }
    function disableAllPopups() {
        disablePopup();
        disableProfileProgressInfoPopup();
    }
    function disablePopup() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("slow");
            $("#Edit").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopup() {
        //request data for centering

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#Edit").height();
        var popupWidth = $("#Edit").width();
        //centering
        $("#Edit").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function loadProfileProgressInfoPopup() {


        centerProfileProgressInfoPopup();
        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divProfileProgressInfo").fadeIn("slow");

        return false;
    }

    function disableProfileProgressInfoPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divProfileProgressInfo").fadeOut("slow");

    }
    function centerProfileProgressInfoPopup() {


        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#Edit").height();
        var popupWidth = $("#Edit").width();
        //centering
        $("#divProfileProgressInfo").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function showTab(id) {
        debugger;
        element = document.getElementById('tab-1');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab1');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('tab-2');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab2');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('tab-3');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab3');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('tab-4');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab4');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('divNotesHistory');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab5');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('divDocumentsList');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab6');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';
	
        //element = document.getElementById('tab-5');
        //element.style.display = 'none';
        //element = document.getElementById('tdTextTab4');
        //element.style.backgroundColor = 'LightGray';
        //element.style.borderBottom = 'Solid';
        //element.style.borderWidth = '1px';

        if (id == 1) {
            element = document.getElementById('tab-1');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab1');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';

        }
        else if (id == 2) {
            element = document.getElementById('tab-2');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab2');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';

        }
        else if (id == 3) {
            element = document.getElementById('tab-3');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab3');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';
        }
        else if (id == 4) {
            element = document.getElementById('tab-4');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab4');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';
        }
        else if (id == 5) {
             element = document.getElementById('divNotesHistory');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab5');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';
        }
        else if (id == 6) {
            element = document.getElementById('divDocumentsList');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab6');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';
        }
        //else if (id == 5) {
        //    element = document.getElementById('tab-5');
        //    element.style.display = 'block';
        //    element = document.getElementById('tdTextTab4');
        //    element.style.backgroundColor = 'White';
        //    element.style.borderBottom = 'None';
        //}
        window.scrollTo(0, 0);
    }


    //code added for Services provided by service Provider
    var expanded = false;
    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    $(document).ready(function () {

        var expanded = false;

        $("#cntcompany").css("display", "none");
        if ($('#chkIsContractorCompany').prop('checked') == true) {

            $("#cntcompany").css("display", "block");
            $("#txtZip1").val($('#txtZip').val());
            //$('#txtcntAddress').val($('#Addresspo').val());
            //$('#txtcntAddress').val($('#txtStreetAddress').val());
            $('#txtCity').val($('#ddlCity').val());
            $('#txtState').val($('#ddlState').val());
            $("#txtEmailPhone").val($('#txtEmail').val());
        }
        else {

            $("#cntcompany").css("display", "none");
        }

        $('#UnQualifiedSP').on('click', function (e) {

            //alert(e.target.nodeName);
            if ($(e.target.parentNode).is("label")) {
                var checkboxes = document.getElementById("checkboxes");
                if (!expanded) {
                    checkboxes.style.display = "block";
                    expanded = true;
                }
                //else {
                //    checkboxes.style.display = "none";
                //    expanded = false;
                //}


            }
            else {
                if (!$(e.target.parentNode).is("div.selectBox")) {
                    var checkboxes = document.getElementById("checkboxes");
                    checkboxes.style.display = "none";
                    expanded = false;
                }
            }



        });

        $('#chkIsContractorCompany').on('change', function () {
            debugger;

            if ($('#chkIsContractorCompany').prop('checked') == true) {
                $("#txtZip1").val($('#txtZip').val());
                //$('#txtcntAddress').val($('#Addresspo').val());
                $('#txtcntAddress').val($('#txtStreetAddress').val());

                $('#txtCity').val($('#ddlCity').val());
                $('#txtState').val($('#ddlState').val());
                $("#txtCntCompName").val($('#txtFirstName').val() + " " + $('#txtLastName').val());
                $("#txtEmailPhone").val($('#txtEmail').val());
                $("#cntcompany").css("display", "block");
            }
            else {
              
                $("#cntcompany").css("display", "none");
            }
            if ($('#chkIsContractorCompany').prop('checked') == false) 
            {
                if(!confirm("do you want to remove Contractor company rights from service Provider?? "))
                {
                    $('#chkIsContractorCompany').prop('checked', true);
                    $("#cntcompany").css("display", "block");
                }
                else {
                    $('#chkIsContractorCompany').prop('checked', false);
                }
                
            }

        });

      
    });
    debugger;





            


    function getSelectedCountyIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        $('input[name=cbCountylist]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        if (selectedCheckBoxesValue == '') {

            $('#selectcounty').children('option[name="countylist"]').text("--Select County--");
        }
        else {
            //$('#selectcounty option[value="0"]').text(selectedCheckBoxesValue);
            //$('#selectcounty option[name="countylist"]').text(selectedCheckBoxesValue);
            $('#selectcounty').children('option[name="countylist"]').text(selectedCheckBoxesValue);
        }
        return selectedCheckBoxesValue;
    }
    function selectall() {
        if ($('#selectid').prop('checked')) {
            $('input[name=cbCountylist]').each(function (i, selected) {


                $(selected).prop("checked", true);



            });
        }
        else {
            $('input[name=cbCountylist]').each(function (i, selected) {


                $(selected).prop("checked", false);



            });



        }

        getSelectedCountyIds();












    }
    function bindServicesList(CompanyID) {
        debugger;
        $.ajax({
            url: '@Url.Action("_ContractorCompanyServiceList", "ContractorCompany")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                CompanyID: CompanyID
            }),
           
            success: function (result) {

                var div = $('#dvUnQualifiedList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }
    function bindRegistrationServicesList() {
        debugger;
      
        $.ajax({
            url: '@Url.Action("_ContractorCompanyRegistrationServiceList", "ContractorCompany")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ 'Servicesdata': Servicesdata }),
            success: function (result) {
                debugger;
                var div = $('#dvUnQualifiedList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }

    function DeleteService(ContractorCompanyserviceid) {
        debugger;

        if ($('#hUserHeadCompanyId').val()) {
            $("#imgProcessingUnQualifiedSPSubmit1").show();
            $.ajax({
                url: '@Url.Action("DeleteService", "ContractorCompany")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    ContractorCompanyserviceId: ContractorCompanyserviceid
                }),
                success: function (result) {
                    if (result == 1) {

                        $("#imgProcessingUnQualifiedSPSubmit1").hide();
                        bindServicesList($('#hUserHeadCompanyId').val());
                    }
                    else if (result == 2) {
                        document.getElementById("divUnQLOBError").innerHTML = "Service is already in use";
                        $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    }
                },
                error: function (error) {

                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    alert(JSON.stringify(error));
                }
            });
        }
        else{
            $("#imgProcessingUnQualifiedSPSubmit1").show();
            $.ajax({
                url: '@Url.Action("DeleteTempService", "ContractorCompany")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    ContractorCompanyserviceId: ContractorCompanyserviceid
                }),
                success: function (result) {
                    //if (result == 1) {

                    //    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    //    bindRegistrationServicesList();
                    //}
                    //else if (result == 2) {
                    //    document.getElementById("divUnQLOBError").innerHTML = "Service is already in use";
                    //    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    //}

                    Servicesdata = result;
                    bindRegistrationServicesList();
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                },
                error: function (error) {

                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    alert(JSON.stringify(error));
                }
            });
        }
    }

    function FillCounty() {
        debugger;

        $('#selectcounty').children('option[name="countylist"]').text("--Select County--");

        var CompanyId;
        CompanyId = $("#ddlCounty").val();


        $.ajax({
            url: '@Url.Action("GetCountyNames", "ContractorCompany")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { Statename: $('#ddlstate').val() },
            type: 'GET',
            success: function (data) {

                $("#checkboxes").empty();

                var incr = 0;
                var item = [];
                //item.push("<option value='0'>--Select County--</option>");
                item.push("<label for='selectidlable'><input type='checkbox' name='selectalllist' id='selectid' value='selectall' onchange='selectall()'>Select all</label>");
                $.each(data, function () {
                    //item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    item.push("<label for=" + this.Value + "><input type='checkbox' name='cbCountylist' id=chk_" + this.Text + " value='" + this.Text + "'onchange='getSelectedCountyIds()'>" + this.Value + "</label>");
                    incr++;
                });
                if (incr > 10) {
                    var height = $('#checkboxes').height(200);

                }
                else {
                    $('#checkboxes').height('auto');
                }
                $("#checkboxes").html(item.join(' '));

            }




        });
    }
    //$(function () {
    //    $('#ddlCounty').multiselect({
    //        includeSelectAllOption: true
    //    });

    //});
    function AddService() {
        debugger;
        var ddlJobType = $('#ddlJobType').val();
        var ddlService = $('#ddlServiceType').val();
        var ddlState = $('#ddlstate').val();
        var ddlCounty = $('#ddlCounty').val();


        var ids = getSelectedCountyIds();
        var isValid = true;
        var isValidErrorMsg = '';

        if (ddlJobType == '0') {
            isValid = false;
            isValidErrorMsg += "Select Job required.<br/>";
        }
        if (ddlService == '0') {
            isValid = false;
            isValidErrorMsg += "Select Service required.<br/>";
        }
        if (ddlstate == '0') {
            isValid = false;
            isValidErrorMsg += "Select State required.<br/>";
        }
        //if (ddlCounty == '0') {
        //    isValid = false;
        //    isValidErrorMsg += "Select County required.<br/>";
        //}

        if (ids == '') {
            isValid = false;
            isValidErrorMsg += "Select County required.<br/>";

        }
        document.getElementById("divUnQLOBError").innerHTML = ""
        if ($('#hUserHeadCompanyId').val()) {
            //code when Company is already created
            if (isValid) {
                $("#imgProcessingUnQualifiedSPSubmit1").show();


                $.getJSON('@Url.Content("~/ContractorCompany/AddContractorCompanyService")',
               {
                   CompanyId: $('#hUserHeadCompanyId').val(), ServiceId: $('#ddlServiceType').val(), State: $('#ddlstate').val(), County: getSelectedCountyIds(), JobTypeId: $('#ddlJobType').val()
               },
                function (data) {
                    if (data == 1) {
                        // disablePopupUnQualifiedSP();
                        $("#imgProcessingUnQualifiedSPSubmit1").hide();

                        bindServicesList($('#hUserHeadCompanyId').val());
                    }
                    else if (data == 2) {
                        //record Already Exists
                        $("#imgProcessingUnQualifiedSPSubmit1").hide();
                        document.getElementById("divUnQLOBError").innerHTML = "Service Already Exist";
                    }
                });
            }
            else {
                document.getElementById("divUnQLOBError").innerHTML = isValidErrorMsg;
            }
            //code ends
        }
        else {
            //code when company not exist
            if (isValid) {
                //var ContractorCompanyServicesoffered = [];
                var ContractorCompanyserviceId = 0;
                ContractorCompanyserviceId++;
                // var Servicesdata = [];
                //var Counties = getSelectedCountyIds.split(','); 

                //for (i = 0; i < Counties.length; i++) {
                //    ContractorCompanyServicesoffered.push({ ServiceId: $('#ddlServiceType').val(), StateID: $('#ddlstate').val(), CountyName: Counties[i] });
                //}



                Servicesdata.push({ servicename: $('#ddlServiceType option:selected').text(), StateName: $('#ddlstate option:selected').text(), CountyName: getSelectedCountyIds(), ContractorCompanyserviceId: ContractorCompanyserviceId, ServiceId: $('#ddlServiceType').val() });

                bindRegistrationServicesList();
            }
            else {
                document.getElementById("divUnQLOBError").innerHTML = isValidErrorMsg;
            }

            //code ends
        }



    }

</script>
@{
    if (loggedInUser != null)
    {
        if (loggedInUser.UserTypeId == 2)
        { 
    <input id="hdnUsertypeid" type="hidden" value="2"  />
        }
    }
}


<div>

  
    <div class="headingBlack borderBottomLightGray">
        Service Provider Registration
    </div>
    <table width="100%" align="center">
        <tr>
            <td width="100%"><a href="#" onclick="loadPopup()" style="display:none;">View Registration Instructions</a></td>
            @if (Model.user.UserId != null && Model.user.UserId != -1)
            {
            <td nowrap="nowrap" style="text-decoration: none; font-size: 11px; color: gray; " valign="bottom">
                <div><a style="text-decoration: none; color: gray;" href="#" onclick="refreshProgressIndicator()">
                    <img style="border-width: 0px; vertical-align: middle;" src="~/Content/Images/Refresh02.png" title="Refresh Indicator" /></a></div>
            </td>
            <td align="right">
                <div id="divProgress" class="progress">
                    <div id="divProgressBar" class="bar"></div>
                    <div id="divProgressText" class="percent" style="padding-right: 5px !important;">Progress</div>
                </div>
            </td>
            }
        </tr>

    </table>

    <br />
    <br />
    <div class="successMsg" style="width: 100%; text-align: center;">
        @TempData["UserSuccessMessage"]
    </div>
    <div style="width: 100%;">
        @{ if (!String.IsNullOrEmpty(Model.user.RejectionRemarks))
           {
            <div align="center" class="errorMsg" style="display:block">Rejection Remarks: @Model.user.RejectionRemarks
                <br />
            </div>
            <div align="center" class="infoText" style="display:block">(Save or Submit this registration form once you have made appropriate changes)</div>
           }
        }
         <div id="divJSValidation" class="errorMsg" >
             </div>
        <div class="errorMsg" >
        @Html.ValidationSummary()
        @*@ViewBag.ExceptionErrorMsg*@
            </div>
    </div>
    @if(Model.displayBackToSearch)
    {
    <div style="float:left;padding-left: 20px;"><input type="button" class="buttonLightYellow_100" value="Back to Search" onclick="btnBackSearch_Click()"/></div>
    }
    
    @using (Html.BeginForm("Submit", "ServiceProviderRegistration", FormMethod.Post, new { @id = "frmRegistration" }))
    {
            <div style="float:right;padding-right: 20px;">
                @if (Model.user.UserId != null && Model.user.UserId != -1)
                {
                    <input name="submit" type="submit" class="buttonYellow_100" value="Save" />
                }
                @*else
                {
                    <input name="submit" type="submit" class="buttonYellow_100" value="Register" />
                }*@
            </div>

    <input id="hdnContractorServices" name="hdnContractorServices" type="hidden"/>
        <table align="center" width="950" cellpadding="0" cellspacing="0">

            <tr valign="bottom">
                <td align="right" valign="baseline" class="boxBlurTopLeft"></td>
                <td class="boxBlurTopMiddle"></td>
                <td align="left" valign="baseline" class="boxBlurTopRight"></td>
            </tr>
            <tr>
                <td class="boxBlurLeftMiddle" valign="bottom">&nbsp;
                <img src="@Url.Content("~/Content/Images/BoxBlurLeftMiddle01.jpg")" />

                </td>
                <td>
                    <table cellpadding="3" cellspacing="0" style="height: 30px; border-left-style: solid; border-right-style: none; border-width: 1px; border-color: #999999"
                        width="100%">
                        <tr>
                            <td id="tdTextTab1" align="center" style="background-color: White; border-bottom-style: none; border-top-style: solid; border-width: 1px; border-color: #999999;width:20%">
                                <a href="#" onclick="showTab(1)" style="text-decoration: none; color: Black;"><b>Personal & Contact</b></a>
                            </td>
                           
                            <td id="tdTabSpace1" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                                @if (Model.user.UserId != null && Model.user.UserId != -1)
                                {
                            <td id="tdTextTab2" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                            <a href="#" onclick="showTab(2)" style="text-decoration: none; color: Black;">
                                <b>
                                    Experience
                                    & Education
                                </b>
                            </a>
                        </td>
                            <td id="tdTabSpace2" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                            <td id="tdTextTab3" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                                <a href="#" onclick="showTab(3)" style="text-decoration: none; color: Black;">
                                    <b>
                                        Certifications
                                        & Licenses
                                    </b>
                                </a> &nbsp;
                            </td>
                            <td id="tdTabSpace3" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                            <td id="tdTextTab4" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                                <a href="#" onclick="showTab(4)" style="text-decoration: none; color: Black;">
                                    <b>
                                        Other Details & Agreement Docs
                                    </b>
                                </a>
                                &nbsp;
                            </td>
                                }
                                @if (loggedInUser != null && loggedInUser.UserTypeId == 2)
                                {

                            <td id="tdTabSpace4" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE;  width: 1px;"></td>
                            <td id="tdTextTab5" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                                <a href="#" onclick="getNotesList(5)" style="text-decoration: none; color: Black;">
                                    <b>Profile Notes</b>
                                </a>
                                &nbsp;
                            </td>
                            <td id="tdTabSpace5" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                            <td id="tdTextTab6" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;border-right-style: solid;">
                                <a href="#" onclick="getDocumentsList(6)" style="text-decoration: none; color: Black;">
                                    <b>
                                        Documents
                                    </b>
                                </a>
                                &nbsp;
                            </td>
                            }
                            else
                            {
                                <td id="tdTabSpace4" style="display: none; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE;  width: 1px;"></td>
                                <td id="tdTextTab5" align="center" style="display: none;border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                                    <a href="#" onclick="getNotesList(5)" style="text-decoration: none; color: Black;">
                                        <b>Profile Notes</b>
                                    </a>
                                &nbsp;
                                </td>
                                <td id="tdTabSpace5" style="display: none;border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; background-color: #DEDEDE; width: 1px;"></td>
                                <td id="tdTextTab6" align="center" style="display: none;border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                                <a href="#" onclick="getDocumentsList(6)" style="text-decoration: none; color: Black;">
                                    <b>
                                        Documents
                                    </b>
                                </a>
                                &nbsp;
                            </td>
                            }
                        </tr>
                    </table>
                    <div>


                        @Html.HiddenFor(model => model.user.Active)

                        <div style="border-left-style: solid; border-bottom-style: solid; border-right-style: solid; border-width: 1px; border-color: #999999;">
                            <div id="tab-1">
                                @Html.Partial("_ServiceProviderBasicInfo", Model)
                                <br />
                                <div class="footer" style="text-align: right; padding: 10px;">
                                    <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(2)" style="display:none;"/>
                                </div>
                            </div>
                            <div id="tab-2" style="display: none">
                                @Html.Partial("_ServiceProviderProfessionalInfo", Model)
                                <br />
                                <div class="footer" style="text-align: right; padding: 10px;">
                                    <input type="button" class="buttonLightYellow_100" value="Back" onclick="showTab(1)" />
                                    <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(3)" />
                                </div>
                            </div>
                            <div id="tab-3" style="display: none">
                                @Html.Partial("_ServiceProviderCertificationInfo", Model)
                                <br />
                                <div class="footer" style="text-align: right; padding: 10px;">
                                    <input type="button" class="buttonLightYellow_100" value="Back" onclick="showTab(2)" />
                                    <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(4)" />
                                </div>
                            </div>
                            <div id="tab-4" style="display: none">
                                @Html.Partial("_ServiceProvidersOthersInfo", Model)
                                <br />
                                <div class="footer" style="text-align: right; padding: 10px;">
                                    <input type="button" class="buttonLightYellow_100" value="Back" onclick="showTab(3)" />

                                    <input type="submit" class="buttonYellow_100" value="Submit" onclick="javascript: return compare();" />

                                </div>
                            </div>
                            <div id="divNotesListLoading" style="display: none;">
                                <img id="Notesprogress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divNotesHistory" style="display: none;">
                            </div>
                            <div id="divDocumentsListLoading" style="display: none;">
                                <img id="Documentsprogress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            <div id="divDocumentsList" style="display: none;">
                              </div>
                            @*<div id="tab-5" style="display: none">
                                @if(Model.contractorcompanysearchviewmodel != null)
                                {
                                @Html.Partial("_SPContractorCompanyRegistration", Model.contractorcompanysearchviewmodel)
                                }
                                
                                <br />
                                <table>
                                    @{


                                        <tr>
                                            <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">@Html.Hidden("UserHeadCompanyId", Model.user.HeadCompanyId, new { id = "hUserHeadCompanyId" })</td>
                                            <td colspan="2">
                                                <div id="servicesDiv">
                                                    <a href="#" onclick="loadPopupUnQualifiedSP();" style="cursor: pointer;">Services Provided</a><br />
                                                    Click the link to Manage Services <br /><br />
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                </table>
                                <div class="footer" style="text-align: right; padding: 10px;">
                                    @*<input type="button" class="buttonYellow_100" value="Next" onclick="showTab(2)" style="display:none;" />
                                </div>
                            </div>*@
                        </div>

                    </div>
                </td>
                <td class="boxBlurRightMiddle">
                    <img src="@Url.Content("~/Content/Images/BoxBlurRightMiddle01.jpg")" />
                </td>
            </tr>
            <tr>
                <td align="right" valign="top" class="boxBlurBottomLeft"></td>
                <td class="boxBlurBottomMiddle">&nbsp;
                </td>
                <td align="left" valign="top" class="boxBlurBottomRight"></td>
            </tr>
        </table>
    }
    <br />
</div>



@*<input id="popupStatus" type="hidden" value="@(Model.user.UserId == -1? "\onload=loadPopup()\"": "1")"  />*@
<div id="backgroundPopup" onclick="disableAllPopups();"></div>
<div id="Edit" class="EditPopup">
    <table cellpadding="0" cellspacing="0;">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Registration Instructions</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopup();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" style="padding-left: 10px; padding-right: 10px;">
                <br />
                1. Once you begin with your registration, you may first fill in personal details such as your Full Name, User Name, Password, Social Security Number, Physical Address and Email Address and then click on the "Save" button.
                <br />
                <br />

                2. After you 'Save' you will be required to validate your email address. This will enable us to send you notifications as far as deployment or revenue generating opportunities for you. You will receive a Welcome e-mail as soon as your registration form is saved and validated. This welcome email will include your User Name and Password.
                <br />
                <br />


                3. You may then continue filling other details on the registration form. If you wish you may come back to it later by logging into your account.
                <br />
                <br />

                4. You need to review and electronically sign documents such as the Agreement/Contract, W9 and Direct Deposit form (optional) from the “Others & Agreement” tab. However you need to save your registration and then login back to e-sign the documents. 
                <br />
                <br />
                @* <b>Documents </b><br /><br />
        
        <a href="@Url.Content("~/Utility/GetAgreementDoc")" target="_blank">Agreement</a>  <br />      
        <a href="@Url.Content("~/Downloads/ServiceProviderDocuments/W9_PDF.pdf")" target="_blank">W9</a><br />
        <a href="@Url.Content("~/Downloads/ServiceProviderDocuments/Disclosure_and_Consent_Form_USE.pdf")" target="_blank">Background Authorization Form</a><br />
        <a href="@Url.Content("~/Downloads/ServiceProviderDocuments/Direct_Deposit_Form.pdf")" target="_blank">Direct Deposit Form</a>
        <br /><br /><br />*@
            </td>
        </tr>
        <tr>
            <td class="footer">&nbsp;</td>
        </tr>
    </table>
</div>
<div id="divProfileProgressInfo" class="EditPopup">
    <table cellpadding="0" cellspacing="0;" width="100%">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Profile Progress Information</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableProfileProgressInfoPopup();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" style="padding-left: 10px; padding-right: 10px;">
               @Html.Partial("_ProfileProgressInfo",Model.ProfileProgressInfo)
            </td>
        </tr>
        <tr>
            <td class="footer">&nbsp;</td>
        </tr>
    </table>
</div>
<div id="UnQualifiedSP" style="display: none;width:1000px;" class="EditPopupUnQualifiedSP">
    <table width=" 100%" cellspacing="0" id="tbldivservice">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Add Services</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupUnQualifiedSP()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trLOB">
            <td>
                <table width="100%" cellspacing="0">
                    <tr>
                        <td class="content" align="left">
                            <div id="divUnQLOBError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                            <div id="div1">
                                <table>
                                    <tr>
                                        <td>Add Service</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.JobId, Model.JobTypeList, new { @id = "ddlJobType", style = "width: 170px;" })
                                        </td>
                                        <td>
                                            @*@Html.DropDownListFor(model => model.LobId, (IEnumerable<SelectListItem>)ViewBag.LOBList, "--Select LOB--", new { @style = "width:150px;" })*@

                                            @Html.DropDownListFor(model => model.ServiceId, Model.ServiceTypesList, new { @id = "ddlServiceType", style = "width: 170px;" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.StateName, Model.USAStateList, new { @id = "ddlstate", style = "width: 170px;", @onchange = "FillCounty()" })
                                        </td>
                                        <td style="display:none;">
                                            @Html.DropDownListFor(model => model.CountyName, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select County--", Value = "0", Selected = true } }, new { @id = "ddlCounty", style = "width: 170px;" })
                                        </td>
                                        <td>
                                            <div class="multiselect">
                                                <div class="selectBox" onclick="showCheckboxes()">
                                                    <select id="selectcounty">
                                                        <option name="countylist">--Select County--</option>
                                                    </select>
                                                    <div class="overSelect"></div>
                                                </div>
                                                <div id="checkboxes">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td class="footer" align="right">
                            <img id="imgProcessingUnQualifiedSPSubmit1" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                            <input type="button" value="Add Service" class="buttonYellow_100" onclick="AddService()" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="dvUnQualifiedList1">
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupUnQualifiedSP" onclick="disablePopupUnQualifiedSP();" class="backgroundPopupUnQualifiedSP" style="display: none;"></div>
