﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@using CSS
@{
    ViewBag.Title = "UpdateSuccess";
}
@{
    string ID = Cypher.EncryptString(Model.user.UserId.ToString());
}
<h2>Update Successful</h2>
Your details have successfully been updated
<a href="@Url.Action("Submit", "ServiceProviderRegistration", new { ID = ID })" style="border: none; color: black; cursor: pointer;float:right;">
    <div style="float:right;padding-right: 20px;"><input type="button" class="buttonLightYellow_100" value="Back to Profile" /></div>
</a>