﻿@model BLL.ViewModels.PropertyInvoiceViewModel
@{
    ViewBag.Title = "Import Claims";
}
<table width="50%">
    <tr><td class="mainHeader">Import Payments</td></tr>
    <tr>
        <td class="content">
            <br />
            @if (Model.TotalSuccessCount > 0)
            {
                <text> @Model.TotalSuccessCount new payments(s) have been imported successfully. </text>
                <br /><br />
            }

            @if (Model.importpaymentfail != null)
            {
                <table width="100%">
                    <tr class="trheading">
                        <td><b>Invoice#</b></td>
                        <td><b>Claim#</b></td>
                        <td><b>Reason for fail</b></td>
                    </tr>
                    @foreach (var fail in Model.importpaymentfail)
                    {
                    <tr class="trcontent">
                        <td>@fail.InvoiceNumber</td>
                        <td>@fail.ClaimNumber</td>
                        <td>@fail.Reason</td>
                    </tr>
                    }
                </table>
            }

            else
            {
                <text> Some internal error occured while importing claims. Please try again.</text>
            }


            <br /><br />
        </td>
    </tr>
    <tr><td class="footer"><br /></td></tr>
</table>

<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />

