﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ExpenseCommissionReport.aspx.cs" Inherits="CSS.Reports.ExpenseCommissionReport" %>


<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
<%@ Register Assembly="Telerik.ReportViewer.WebForms, Version=6.2.13.110, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" Namespace="Telerik.ReportViewer.WebForms" TagPrefix="telerik" %>
<!DOCTYPE html>
<script src="../Scripts/DateTimePicker/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="../Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
<link href="../Content/JQueryUI/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>

    <script type="text/javascript">
        $(function () {
            $(".DatePickerTextBox").datepicker({
                showOn: "button",
                buttonImage: "../Content/Images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+20",
                minDate: new Date(1999, 10 - 1, 25),
                maxDate: '+30Y',
                inline: true
            });


            var waitDiv = document.getElementById("TrptViewer_ReportArea_WaitControl");
            var tcell = waitDiv.getElementsByTagName("TD")[0];
            tcell.style.verticalAlign = "Top";
            tcell.style.textAlign = "Center";
            tcell.style.padding = "100px";
        });
    </script>
</head>
<body>
    <form id="Form1" runat="server">
        <br />
        <table style="width: 100%">
            <tr>
                <td colspan="4"></td>
            </tr>
            <%--            <tr>
                <td>Completion Start Date</td>
                <td>
                    <asp:TextBox ID="txtStartdate" CssClass="DatePickerTextBox" runat="server"></asp:TextBox>
                </td>
                <td>End Date</td>
                <td>
                    <asp:TextBox ID="txtEnddate" CssClass="DatePickerTextBox" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center">
                    <asp:Button ID="btnShowReport" runat="server" Text="Show Report" OnClick="btnShowReport_Click" />
                </td>
            </tr>--%>
            <tr>
                <td colspan="4" style="text-align: center">
                    <asp:ScriptManager ID="ScriptManager1" runat="server">
                    </asp:ScriptManager>
                    <%-- <rsweb:ReportViewer ID="rptViewer" runat="server" Width="100%" Height="100%" AsyncRendering="False"
                        SizeToReportContent="True">
                    </rsweb:ReportViewer>--%>
                    <telerik:ReportViewer ID="TrptViewer" runat="server" Width="83%" Height="1250px">
<urireportsource uri="Content\Reports\Tnew.trdx"></urireportsource>
                        
                    </telerik:ReportViewer>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
