﻿@model BLL.ViewModels.CANEstimatorViewModel
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dhtmlxslider.css")" />

<link href="@Url.Content("~/Content/JQueryUI/jquery-ui-1.8.23.custom.css")" rel="stylesheet" />
@*<script src="@Url.Content("~/Scripts/JqueryUI/jquery-1.8.0.min.js")"></script>*@
<script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.23.custom.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
    $(function () {
        $("#sliderRank").slider({
            value: "@Model.Rank",
            min: 0,
            max: 5,
            step: 1,
            slide: function (event, ui) {
                $("#txtSliderRank").val(ui.value);
            }
        });
        $("#txtSliderRank").val($("#sliderRank").slider("value"));
    });

    $(function () {
        $("#sliderExpYears").slider({
            value: "@Model.ExperienceYears",
            min: 0,
            max: 50,
            step: 1,
            slide: function (event, ui) {
                $("#txtExpYears").val(ui.value);
            }
        });
        $("#txtExpYears").val($("#sliderExpYears").slider("value"));
    });
    $(function () {
        $("#sliderDistMiles").slider({
            value: "@Model.Distance",
            min: 0,
            max: 500,
            step: 10,
            slide: function (event, ui) {
                $("#txtLocDistMiles").val(ui.value);
            }
        });
        $("#txtLocDistMiles").val($("#sliderDistMiles").slider("value"));
    });
    $(function () {
        $("#sliderFloodExp").slider({
            value: "@Model.FloodExperienceYears",
            min: 0,
            max: 50,
            step: 1,
            slide: function (event, ui) {
                $("#txtFloodExp").val(ui.value);
            }
        });
        $("#txtFloodExp").val($("#sliderFloodExp").slider("value"));
    });

    function populateZipData(zipControl, stateControl, cityControl) {

        //alert("ZipData"+zipControl);
        debugger;
        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
        { ZipCode: $("#" + zipControl).val() },
    function (data) {
        if (data != -1) {

            $("#" + stateControl).val(data.State);
            $("#" + cityControl).val(data.City);
        }
        else {
            $("#" + stateControl).val("");
            $("#" + cityControl).val("");
        }

    });
    }

    function getCurrentCity() {
        var ddlCity = document.getElementById("ddlCity").value;
        var userCity = document.getElementById("userCity0");

        if (ddlCity != null && ddlCity != "") {
            userCity.value = ddlCity;
        }
    }

    function getCurrentState() {

        var ddlState = document.getElementById("ddlState").value;
        var userState = document.getElementById("userState0");

        if (ddlState != null && ddlState != "") {
            userState.value = ddlState;
        }
    }

    @*function populateZipData() {

        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
         { ZipCode: $("#txtZip").val() },
         function (data) {
             if (data != -1) {
                 $("#ddlLocState").val(data.State);
                 $("#txtLocCity").val(data.City);
             }

         });
    }*@
    //$(function () {
    //    $("#txtZip").mask('99999-9999');
    //});

    function showTab(tab) {
        element = document.getElementById("divCompany");
        element.style.display = "none";
        element = document.getElementById("divLocation");
        element.style.display = "none";
        element = document.getElementById("divCertifications");
        element.style.display = "none";

        tabBorderStyle = "1px solid LightGrey";
        document.getElementById("tdTabCompany").style.borderLeft = "";
        document.getElementById("tdTabCompany").style.borderTop = "";
        document.getElementById("tdTabCompany").style.borderRight = "";
        document.getElementById("tdTabCompany").style.borderBottom = tabBorderStyle;

        document.getElementById("tdTabLocation").style.borderLeft = "";
        document.getElementById("tdTabLocation").style.borderTop = "";
        document.getElementById("tdTabLocation").style.borderRight = "";
        document.getElementById("tdTabLocation").style.borderBottom = tabBorderStyle;

        document.getElementById("tdTabCertifications").style.borderLeft = "";
        document.getElementById("tdTabCertifications").style.borderTop = "";
        document.getElementById("tdTabCertifications").style.borderRight = "";
        document.getElementById("tdTabCertifications").style.borderBottom = tabBorderStyle;

        if (tab == "divCompany") {
            document.getElementById("divCompany").style.display = "inline";
            //tab appearance

            document.getElementById("tdTabCompany").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabCompany").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabCompany").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabCompany").style.borderBottom = "";


        }
        else if (tab == "divLocation") {
            document.getElementById("divLocation").style.display = "inline";


            document.getElementById("tdTabLocation").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabLocation").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabLocation").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabLocation").style.borderBottom = "";


        }
        else if (tab == "divCertifications") {
            document.getElementById("divCertifications").style.display = "inline";

            document.getElementById("tdTabCertifications").style.borderLeft = tabBorderStyle;
            document.getElementById("tdTabCertifications").style.borderTop = tabBorderStyle;
            document.getElementById("tdTabCertifications").style.borderRight = tabBorderStyle;
            document.getElementById("tdTabCertifications").style.borderBottom = "";

        }
    }
    $(function () {
        $("#MobilePhone").mask("(999) 999-9999");

    });
    $(function () {
        //$("#chkContractSigned,#chkW9Signed").change(function () {

        //    if ($("#chkContractSigned,#chkW9Signed").is(':checked'))
        //    {
        //        $('#chkIgnoreSigned').prop("checked",false)
        //    }

        //});
        $("#chkIgnoreSigned").change(function () {


            if ($("#chkIgnoreSigned").is(':checked')) {
                $('#chkContractSigned').prop("disabled", true)
                $('#chkW9Signed').prop("disabled", true)
            }
            else {
                $('#chkContractSigned').prop("disabled", false)
                $('#chkW9Signed').prop("disabled", false)
            }
        });
        if ($("#chkIgnoreSigned").is(':checked')) {
            $('#chkContractSigned').prop("disabled", true)
            $('#chkW9Signed').prop("disabled", true)
        }
        else {
            $('#chkContractSigned').prop("disabled", false)
            $('#chkW9Signed').prop("disabled", false)
        }
    });
</script>
<table width="100%">
    <tr>
        <td nowrap="nowrap">
            @*<table cellpadding="3" cellspacing="0" width="100%">
                <tr>
                    <td width="50" style="border-bottom: 1px solid; border-color: LightGrey;"></td>
                    <td id="tdTabCompany" style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('divCompany')">Company</a>&nbsp;&nbsp; </td>
                    @*<td id="tdTabLocation" style="border-bottom: 1px solid; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('divLocation')">Location</a>&nbsp;&nbsp; </td>
                    <td id="tdTabCertifications" style="border-bottom: 1px solid; border-color: LightGrey;">&nbsp;&nbsp;<a href="#" onclick="showTab('divCertifications')">Certifications</a>&nbsp;&nbsp;</td>*@
                    @*<td width="100%" style="border-bottom: 1px solid; border-color: LightGrey;"></td>
                </tr>
            </table>*@

        </td>
    </tr>
    <tr>
        <td>
            <div id="divCompany">
                <table width="100%">
                    @*<tr>
                        <td nowrap="nowrap" valign="top">Status:</td>
                        <td valign="top" nowrap="nowrap">
                            @Html.RadioButtonFor(model => model.Status, "Inactive")Inactive
                            @Html.RadioButtonFor(model => model.Status, "Active")Active



                            @Html.RadioButtonFor(model => model.Status, "All")All
                        </td>
                      
                    </tr>*@
                    <tr>
                        <td nowrap="nowrap" valign="top">User Name: </td>
                        <td valign="top">
                            @Html.TextBoxFor(model => model.UserName)
                        </td>
                        <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                        <td valign="top">Email Address: </td>
                        <td valign="top">
                            @Html.TextBoxFor(model => model.Email)
                        </td>
                        <td nowrap="nowrap" valign="top">Mobile Phone:</td>
                        <td width="100%" valign="top">
                            @Html.TextBoxFor(model => model.MobilePhone)
                        </td>
                        @*<td nowrap="nowrap" valign="top">Years of Experience: </td>*@
                        @*<td width="100%" valign="top">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding-right: 5px;">
                                        @Html.DropDownListFor(model => model.ExperienceClaimTypeId, new SelectList(Model.ExperienceClaimTypeList, "Value", "Text"))
                                    </td>
                                    <td width="25">
                                        @Html.TextBoxFor(model => model.ExperienceYears, new { style = "width:25px", id = "txtExpYears" })

                                    </td>

                                    <td width="100%" style="padding-left: 10px;">
                                        <div id="sliderExpYears" style="width: 200px;"></div>
                                    </td>

                                </tr>
                            </table>
                        </td>*@
                    </tr>
                    <tr>                       
                        <td nowrap="nowrap" valign="top"> <a id="a_user_State"></a>State:</td>
                        <td valign="top" width="20">
                            <select name="user.State" id="ddlState" style="width: 150px;" onblur="getCurrentState()">
                                @foreach (var state in Model.StateList)
                                {
                                    <option value="@state.Key.Trim()" @(state.Key != (Model.State ?? "").Trim() ? "" : "selected = selected")>@state.Value</option>
                                }
                            </select>
                        </td>
                        <td nowrap="nowrap" width="20" valign="top">&nbsp;</td>
                        <td valign="top"> <a id="a_user_City"></a> City:</td>
                        <td valign="top" >
                            <input name="user.City" id="ddlCity" type="text" value="@Model.City" onblur="getCurrentCity()" />
                        </td>                        
                        <td valign="top"> <a id="a_user_Zip"></a>Zip: </td>
                        <td valign="top" width="100%">
                            <input name="user.Zip" id="txtZip" type="text" value="@Model.Zip" onblur="populateZipData('txtZip','ddlState','ddlCity')" />
                        </td>

                    </tr>                  

                    <tr>
                        <td nowrap="nowrap" valign="top">Resource Name: </td>
                        <td valign="top">
                            @Html.TextBoxFor(model => model.ContactName)
                        </td>
                        <td nowrap="nowrap" width="20">&nbsp;</td>
                        <td nowrap="nowrap">Distance in Miles:</td>
                        <td >
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="25">
                                        @Html.TextBoxFor(model => model.Distance, new { style = "width:25px", id = "txtLocDistMiles" })

                                    </td>
                                    <td width="100%" style="padding-left: 10px;">
                                        <div id="sliderDistMiles" style="width: 200px;"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                       
                    </tr>
                    <tr>
                        
                      
                       
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td>
                            @*<table widht="100%">
                                <tr>
                                    <td nowrap="nowrap">Bi-Lingual:</td>
                                    <td>@Html.CheckBoxFor(model => model.IsBilingual) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Rope and Harness Experience?</td>
                                    <td>@Html.CheckBoxFor(model => model.HasRopeHarnessExp) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Rope and Harness Equipment?</td>
                                    <td>@Html.CheckBoxFor(model => model.HasRopeHarnessEquip) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Is Accepting Roof Assist Program:</td>
                                    <td>@Html.CheckBoxFor(model => model.HasRoofAssistProgram) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Has Examiner Rights?</td>
                                    <td>@Html.CheckBoxFor(model => model.HasExaminerRights) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Is Deployed?</td>
                                    <td>@Html.CheckBoxFor(model => model.HasDeployed) </td>
                                    <td nowrap="nowrap" width="20">&nbsp;</td>
                                    <td nowrap="nowrap">&nbsp;</td>
                                    <td width="100%">&nbsp;</td>
                                </tr>
                            </table>*@
                        </td>
                        <td>
                            <table width="100%">
                                @*<tr>
                                    <td nowrap="nowrap">Software Used:</td>
                                    <td nowrap="nowrap">
                                        @foreach (var experience in Model.SoftwareExperienceList)
                                        {
                                            <input type="checkbox" name="SoftwareUsed" @(Model.SoftwareUsed.Contains(experience.Value) ? "checked=\"checked\"" : "") value="@experience.Value" />
                                            @experience.Text
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Capability to climb steep:</td>
                                    <td nowrap="nowrap">
                                        @foreach (var Capability in Model.CapabilityToClimbSteepList)
                                        {
                                            <input type="radio" name="CapabilityToClimbSteep" @(Model.CapabilityToClimbSteep.Contains(Capability.Value) ? "checked=\"checked\"" : "") value="@Capability.Value" />
                                            @Capability.Text
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td nowrap="nowrap">Capable to climb:</td>
                                    <td nowrap="nowrap">
                                        @foreach (var Capability in Model.CapabilityToClimbList)
                                        {
                                            <input type="radio" name="CapabilityToClimb" @(Model.CapabilityToClimb.Contains(Capability.Value) ? "checked=\"checked\"" : "") value="@Capability.Value" />
                                            @Capability.Text
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td nowrap="nowrap">Has W9 Signed?</td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.HasW9Signed, new { id = "chkW9Signed" })
                                    &nbsp;&nbsp;Ignore Signed: &nbsp;&nbsp; @Html.CheckBoxFor(model => model.HasIgnoreSigned, new { id = "chkIgnoreSigned" })
                                </td>
                                <td nowrap="nowrap" width="20">&nbsp;</td>
                                <td nowrap="nowrap">&nbsp;</td>
                                <td width="100%">&nbsp;</td>

                            </tr>*@
                            @*<tr>
                                <td nowrap="nowrap">Has Contract Signed?</td>
                                <td>@Html.CheckBoxFor(model => model.HasContractSigned, new { id = "chkContractSigned" }) </td>
                                <td nowrap="nowrap" width="20">&nbsp;</td>
                                <td nowrap="nowrap">&nbsp;</td>
                                <td width="100%">&nbsp;</td>
                            </tr>*@



                            <tr>
                                @*<td>Registered Date:</td>*@
                                @*<td>
                                    From: @Html.TextBoxFor(model => model.RegisteredDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                    To: @Html.TextBoxFor(model => model.RegisteredDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })


                                </td>*@
                            </tr>

                            @*<tr>
                                <td>Approved Date:</td>
                                <td>
                                    From: @Html.TextBoxFor(model => model.ApprovedDateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                                    To: @Html.TextBoxFor(model => model.ApprovedDateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })


                            </tr>*@

                            <tr>
                                <td nowrap="nowrap" colspan="2">
                                    <input type="text" name="inputbox" style="display: none;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>



        </div>
        <div id="divLocation" style="display: none;">
            @*<table width="100%">
                <tr>
                    <td nowrap="nowrap">Zip:</td>
                    <td>
                        @Html.TextBoxFor(model => model.Zip, new { onblur = "populateZipData()", id = "txtZip" })
                    </td>
                    <td nowrap="nowrap" width="20">&nbsp;</td>
                    <td nowrap="nowrap">Distance in Miles:</td>
                    <td width="100%">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="25">
                                    @Html.TextBoxFor(model => model.Distance, new { style = "width:25px", id = "txtLocDistMiles" })

                                </td>
                                <td width="100%" style="padding-left: 10px;">
                                    <div id="sliderDistMiles" style="width: 200px;"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">State:</td>
                    <td>
                        <select id="ddlLocState" name="State" style="width: 150px;">
                            @foreach (var state in Model.StateList)
                            {
                                <option value="@state.Value" @(Model.State == state.Value ? "selected=\"selected\"" : "")>@state.Text</option>
                            }
                        </select>
                    </td>
                    <td nowrap="nowrap" width="20">&nbsp;</td>
                    <td nowrap="nowrap"></td>
                    <td width="100%"></td>
                </tr>
                <tr>
                    <td nowrap="nowrap">City:</td>
                    <td>
                        @Html.TextBoxFor(model => model.City, new { id = "txtLocCity" })
                    </td>

                    <td nowrap="nowrap" width="20">&nbsp;</td>
                    <td nowrap="nowrap">&nbsp;</td>
                    <td width="100%">&nbsp;</td>
                </tr>

                <tr>
                    <td nowrap="nowrap">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td nowrap="nowrap" width="20">&nbsp;</td>
                    <td nowrap="nowrap">&nbsp;</td>
                    <td width="100%">&nbsp;</td>
                </tr>
            </table>*@
        </div>
        <div id="divCertifications" style="display: none;">
            @*<table class="style1">
                <tr>
                    <td width="10">

                        @Html.CheckBoxFor(model => model.EQCertified)
                    </td>
                    <td>Earthquake Certified</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="10">
                        @Html.CheckBoxFor(model => model.HAAGCertified)
                    </td>
                    <td>HAAG Certified</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="10">
                        @Html.CheckBoxFor(model => model.IsFloodCertified)
                    </td>
                    <td>NFIP Certified</td>
                    <td>@Html.DropDownListFor(model => model.FloodClaimTypeID, new SelectList(Model.FloodClaimTypeList, "Value", "Text"), new { style = "width:150px;" })</td>
                    <td>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td nowrap="nowrap">Years Of Experience: </td>
                                <td width="25">
                                    @Html.TextBoxFor(model => model.FloodExperienceYears, new { style = "width:25px", id = "txtFloodExp" })

                                </td>
                                <td width="100%" style="padding-left: 10px;">
                                    <div id="sliderFloodExp" style="width: 200px;"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="10">
                        @Html.CheckBoxFor(model => model.EOHasInsurance)
                    </td>
                    <td>Carry E&amp;O Insurance</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td width="10">
                        @Html.CheckBoxFor(model => model.HasLicense)
                    </td>
                    <td>Search By License:</td>
                    <td>
                        @Html.DropDownListFor(model => model.LicenseState, new SelectList(Model.StateList, "Value", "Text"), new { style = "width:150px;" })
                    From: @Html.TextBoxFor(model => model.LicenseStateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    To: @Html.TextBoxFor(model => model.LicenseStateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })


                </td>
            </tr>
        </table>*@
    </div>
</td>
</tr>
</table>
