﻿@model BLL.ViewModels.CANEstimatorViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();

}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function processFederalTaxClassificationChange() {

        if ($("#ddlFederalTaxClassification").val() == "L") {
            document.getElementById("trLLCTaxClassification").style.display = "table-row";
        }
        else {
            document.getElementById("trLLCTaxClassification").style.display = "none";
            $("#ddlLLCTaxClassification").val("0");
        }
    }
    function populateZipData(zipControl, stateControl, cityControl) {

        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
         { ZipCode: $("#" + zipControl).val() },
         function (data) {
             if (data != -1) {

                 $("#" + stateControl).val(data.State);
                 $("#" + cityControl).val(data.City);
             }
             else {
                 $("#" + stateControl).val("");
                 $("#" + cityControl).val("");
             }

         });
    }

    function getCurrentCity() {
        var ddlCity = document.getElementById("ddlCity").value;
        var userCity = document.getElementById("userCity0");

        if (ddlCity != null && ddlCity != "") {
            userCity.value = ddlCity;
        }
    }

    function getCurrentState() {

        var ddlState = document.getElementById("ddlState").value;
        var userState = document.getElementById("userState0");

        if (ddlState != null && ddlState != "") {
            userState.value = ddlState;
        }
    }

    function toggleIFrame(id, visible) {
        alert(id + "" + visible + "");
        element = document.getElementById("frameUploadSSN");
        if (visible == "true") {
            element.style.visibility = "inline";
        }
        else {
            element.style.visibility = "none";
        }
    }
    function openPopup(url, title) {
        window.open(url, "", 'directories = 0, titlebar = 0, toolbar = 0, location = 0, status = 0, menubar = 0, scrollbars = no, resizable = no, width = 400, height = 350');
    }
    function UserCheck() {
        $("#divStatus").html("Checking....");
        $.post("@Url.Content("~/Account/IsUserNameAvailable")",
        { username: $("#txtUserName").val() },
        function (data) {
            if (data == 1) {
                $("#divStatus").html("User Name is Available");
            }
            else {
                $("#divStatus").html("User Name is Unavailable");
            }
        });
    }

    function isAnswerYes(txtid) {
        var txtbox = document.getElementById(txtid);
        txtbox.enable = false;
    }




    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });


    function addDynamicRow(tableID) {

        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnResiRowCount = document.getElementById("hdnResiRowCount");
        hdnResiRowCount.value = parseInt(hdnResiRowCount.value) + 1;
        //delete checkbox
        //var cell1 = row.insertCell(0);
        //var element1 = document.createElement("input");
        ////element1.type = "checkbox";
        //element1.type = "hidden";
        //cell1.appendChild(element1);

        //dateTo
        var cell1 = row.insertCell(0);
        cell1.style.whiteSpace = "nowrap";
        var element1 = document.createElement("input");
        element1.type = "text";
        element1.className = "DatePickerTextBox";
        element1.name = "user.ServiceProviderAddresses[" + newRowIndex + "].DateFrom";
        cell1.appendChild(element1);

        //dateFrom
        var cell2 = row.insertCell(1);
        cell2.style.whiteSpace = "nowrap";
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.className = "DatePickerTextBox";
        element2.name = "user.ServiceProviderAddresses[" + newRowIndex + "].DateTo";
        cell2.appendChild(element2);

        //Address
        var cell3 = row.insertCell(2);
        var element3 = document.createElement("textarea");
        element3.name = "user.ServiceProviderAddresses[" + newRowIndex + "].Address";
        element3.style.width = "150px"
        cell3.appendChild(element3);

        //State
        var cell4 = row.insertCell(3);
        var element4 = document.getElementById("ddlStateListReplica").cloneNode(true);
        element4.style.width = "150px";
        element4.name = "user.ServiceProviderAddresses[" + newRowIndex + "].State";
        cell4.appendChild(element4);

        //City
        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.style.width = "150px";
        element5.name = "user.ServiceProviderAddresses[" + newRowIndex + "].City";
        cell5.appendChild(element5);

        //Delete
        var cell6 = row.insertCell(5);
        var element6 = document.getElementById("imgResiDeleteRowReplica").cloneNode(true);
        element6.id = "imgResiDeleteRow" + newRowIndex;
        cell6.appendChild(element6);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgResiDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

        $(function () {
            $(".DatePickerTextBox").datepicker({
                showOn: "button",
                buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+20"

            });
        });
    }

    function deleteRow(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnResiRowCount = document.getElementById("hdnResiRowCount");
            hdnResiRowCount.value = parseInt(hdnResiRowCount.value) - 1;
            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgResiDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
            }


        } catch (e) {
            alert(e);
        }
    }

    $(function () {
        $(".PhoneNo").mask("(999) 999-9999");


    });
    function addShowHideLLC()
    {
        $('#tddbaradio input[type="radio"]').removeAttr("disabled");
        $('#ddlFederalTaxClassification').removeAttr("disabled");
        $('#ddlLLCTaxClassification').removeAttr("disabled");

        $('#hdnmodifyllc').val("1");
        if ($('#rdbIsDBAYes').is(':checked')) {
            $('#txtLLCFirm').removeAttr("disabled");
        }
        else { $('#txtLLCFirm').Attr("disabled", "disabled"); }
    }
    function ExecuteOnLoad() {



        if ('@Model.user.ServiceProviderDetail' != null) {

            if ('@Model.user.ServiceProviderDetail.IsDBA' != null) {
                if ('@Model.user.ServiceProviderDetail.IsDBA' != "") {
                    if ('@Model.user.ServiceProviderDetail.IsDBA' == 'False') {

                        $('#ddlFederalTaxClassification').empty();
                        $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));
                    }
                    if ('@Model.user.ServiceProviderDetail.IsDBA' == 'True') {
                        $('#ddlFederalTaxClassification').empty();
                        $("#ddlFederalTaxClassification").append($("<option>").val('0').text('--Select--'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('C').text('C Corporation'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('S').text('S Corporation'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('P').text('Partnership'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('T').text('Trust/estate'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('L').text('LLC'));

                        var federal = $.trim('@Model.user.ServiceProviderDetail.FederalTaxClassification');

                        $("#ddlFederalTaxClassification option[value=" + federal + "]").attr("selected", "selected");


                    }
                }
                else {
                    $('#ddlFederalTaxClassification').empty();
                    $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));
                }
            }

        }

    }

    $(document).ready(function () {
        // $('#SSN').bind('blur', ssnunique);

        var EnableLLC = '@(ViewBag.EnableLLC)';

        if (EnableLLC == '1') {
            $('#tddbaradio input[type="radio"]').removeAttr("disabled");
            $('#ddlFederalTaxClassification').removeAttr("disabled");
            $('#ddlLLCTaxClassification').removeAttr("disabled");
            $('#hdnmodifyllc').val("1");

        }
        else
        {
            $('#hdnmodifyllc').val("0");
        }
        //$('#modifyLLC').click(function () {

        //    $('#tddbaradio input[type="radio"]').removeAttr("disabled");
        //    $('#ddlFederalTaxClassification').removeAttr("disabled");
        //    $('#ddlLLCTaxClassification').removeAttr("disabled");
        //    $('#hdnmodifyllc').val("1");

        //});


        $("#SSN").mask("999-99-9999");
        $("#txttaxid").mask("99-9999999");

       @* if ('@Model.user.ServiceProviderDetail' != null) {

            if ('@Model.user.ServiceProviderDetail.IsDBA' != null) {
                if ('@Model.user.ServiceProviderDetail.IsDBA' != "") {
                    if ('@Model.user.ServiceProviderDetail.IsDBA' == 'False') {

                        $('#ddlFederalTaxClassification').empty();
                        $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));
                    }
                    if ('@Model.user.ServiceProviderDetail.IsDBA' == 'True') {
                        $('#ddlFederalTaxClassification').empty();
                        $("#ddlFederalTaxClassification").append($("<option>").val('0').text('--Select--'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('C').text('C Corporation'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('S').text('S Corporation'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('P').text('Partnership'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('T').text('Trust/estate'));
                        $("#ddlFederalTaxClassification").append($("<option>").val('L').text('LLC'));

                        var federal = $.trim('@Model.user.ServiceProviderDetail.FederalTaxClassification');

                        $("#ddlFederalTaxClassification option[value=" + federal + "]").attr("selected", "selected");


                    }
                }
                else {
                    $('#ddlFederalTaxClassification').empty();
                    $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));

                }
            }

        }*@
    });



    function ExecuteScript() {

        var hdnSSN = document.getElementById("hdnSSN");
        if (hdnSSN != null) {
            makeAst();
        }


    }

    function makeAst() {

        var hdnSSN = document.getElementById("hdnSSN");
        var SSN1 = document.getElementById("SSN1");
        if (hdnSSN == null) {

        }
        else {
            var v = hdnSSN.value;
            var l = v.length;
            var val = '';
            for (var i = 0; i < l; i++) {
                if (i < 6) {
                    val += '*';
                }
                else {
                    val += v.charAt(i);
                }
            }
            SSN1.value = val;
        }
        return true;
    }

    function compare() {
        //Perform validation when all the previous required fields have data else let the controller handle those validations.
        var valueToReturn = true;
        if ($("#txtFirstName").val().length != 0 && $("#txtLastName").val().length != 0 && $("#txtUserName").val().length != 0) {
            if ($("#tdConfirmPassword") != "") {
                var pass = $('#txtPassword').val();
                var confPass = $('#txtConfPassword').val();
                var letters;
                var numbers;
                var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                var number = /^[0-9]+$/; //PATTERN FOR NUMBERS
                if ($('#txtPassword').val() != $('#txtConfPassword').val()) {
                    passwordNotMatch("Passwords do not match.");
                    valueToReturn = false;
                }
                else if (pass.length < 6) {
                    passwordNotMatch("Password should be at least 6 characters.");
                    valueToReturn = false;
                }
                for (i = 0; i < pass.length; i++) {
                    if (pass.substr(i, 1).match(alpha)) {
                        letters = true; //AT LEAST ONE LETTER EXISTS
                    }
                    else if (pass.substr(i, 1).match(number)) {
                        numbers = true; //AT LEAST ONE NUMBER EXISTS
                    }
                }
                //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                if (letters == true && numbers == true) {
                }
                else {
                    passwordNotMatch("Password should have at least one alphabet and one numeric character.");
                    valueToReturn = false;
                }
            }
        }
        return valueToReturn;
    }

    function passwordNotMatch(message) {
        $("#tdConfirmPassword").css("display", "block");
        $('#txtPassword').val('');
        $('#txtConfPassword').val('');
        $("#tdConfirmPassword").text(message);
        $("#divJSValidation").html(message);

    }
    function HidePasswordMessage() {
        $("#tdConfirmPassword").css("display", "none");
    }

    function ssnunique() {
        var SSNValue = $("#SSN").val();
        if (SSNValue != "") {
            SSNValue = SSNValue.replace('-', '');
            SSNValue = SSNValue.replace('-', '');
            $.ajax({
                url: '@Url.Action("SSNUnique", "ServiceProviderRegistration")',
                contentType: 'application/json; charset=utf-8',
                data: { SSNValue: SSNValue },
                cache: false,
                success: function (result) {
                    if (!result) {
                        $("#tdSSN div").css("display", "block");
                        $("#tdSSN div").text("SSN number already exists!");
                        $("#tdSSN div").css("color", "red");
                    }
                    else { $("#tdSSN div").css("display", "none"); }
                },
                error: function (error) {
                }
            });
            }
        }

        function hideDiv() {
            $("#tdSSN div").css("display", "none");
            $("#tdEmail div").css("display", "none");
        }

        $(function () {
            // $('#txtEmail').bind('blur', emailUnique);
            // $('#txtEmail').bind('focus', hideDiv);
        });

        function emailUnique() {
            var Emailtext = $("#txtEmail").val();
            if (Emailtext != "") {
                Emailtext = Emailtext.replace('-', '');
                Emailtext = Emailtext.replace('-', '');
                $.ajax({
                    url: '@Url.Action("EmailUnique", "ServiceProviderRegistration")',
                    contentType: 'application/json; charset=utf-8',
                    data: { Emailtext: Emailtext },
                    cache: false,
                    success: function (result) {
                        if (!result) {
                            $("#tdEmail div").css("display", "block");
                            $("#tdEmail div").text("Email already exists!");
                            $("#tdEmail div").css("color", "red");
                        }
                        else { $("#tdEmail div").css("display", "none"); }
                    },
                    error: function (error) {
                    }
                });
            }
        }

        function getLLCFirm() {
            if ($('#txttaxid').val() != "") {
                $.post("@Url.Content("~/ServiceProviderRegistration/GetLLCFirm")",
                {
                    taxid: $('#txttaxid').val()
                },

                function (data) {
                    if (data != null) {
                        if (data != "") {
                            if (data != -1) {
                                $('#txtLLCFirm').val(data);
                            }
                            else {
                                $('#txtLLCFirm').val("");
                            }
                        }
                    }
                });
            }
        }

        function Radio_Click(rdbNo, txtTobeDisabled, autoFocus) {
            var rdb = document.getElementById(rdbNo);
            var textBox = document.getElementById(txtTobeDisabled);
            textBox.disabled = rdb.checked;
            if (autoFocus == true) {
                textBox.focus();
            }
        }


        function Radio_ClickLLC(rdbNo, txtTobeDisabled, autoFocus) {
            var rdb = document.getElementById(rdbNo);
            var textBox = document.getElementById(txtTobeDisabled);

            $('#rdbIsDBAYes').click(function () {
                textBox.disabled = false;
                $('#hdnIsDBA').val("true");
                $('#ddlFederalTaxClassification').empty();

                $("#ddlFederalTaxClassification").append($("<option>").val('0').text('--Select--'));
                $("#ddlFederalTaxClassification").append($("<option>").val('C').text('C Corporation'));
                $("#ddlFederalTaxClassification").append($("<option>").val('S').text('S Corporation'));
                $("#ddlFederalTaxClassification").append($("<option>").val('P').text('Partnership'));
                $("#ddlFederalTaxClassification").append($("<option>").val('T').text('Trust/estate'));
                $("#ddlFederalTaxClassification").append($("<option>").val('L').text('LLC'));
            });
            $('#rdbIsDBANo').click(function () {
                $('#hdnIsDBA').val("false");
                $('#ddlFederalTaxClassification').empty();
                $('#txtLLCFirm').val("");
                textBox.disabled = rdb.checked;
                $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));
                document.getElementById("trLLCTaxClassification").style.display = "none";
                $("#ddlLLCTaxClassification").val("0");
            });

            if (autoFocus == true) {
                textBox.focus();
            }

        }


        function Radio_ClickDate(rdbNo, txtDate, autoFocus) {
            var rdb = document.getElementById(rdbNo);
            var textBox = document.getElementById(txtDate);

            textBox.disabled = rdb.checked;
            if (textBox.disabled == false) {

                $('#' + txtDate).addClass('DatePickerTextBox');
                $('#' + txtDate).datepicker("enable");
                $(function () {
                    $(".DatePickerTextBox").datepicker({
                        showOn: "button",
                        buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                    buttonImageOnly: true,
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+20"

                });
            });

            //textBox.setAttribute("class", ".DatePickerTextBox");
            //textBox.className = "DatePickerTextBox";
        }
        else {
            //textBox.setAttribute("class", "");
            $('#' + txtDate).removeClass('DatePickerTextBox');
            $('#' + txtDate).datepicker("disable");

            }
            if (autoFocus == true) {
                textBox.focus();
            }


    }




</script>
<div style="width: 100%;">
   
    <div id="divJSValidation" class="errorMsg">
    </div>
    <div class="errorMsg">
        @Html.ValidationSummary()
        @*@ViewBag.ExceptionErrorMsg*@
    </div>
</div>

@using (Html.BeginForm("Submit", "CANEstimator", FormMethod.Post, new { @id = "frmRegistration" }))
{
    <table>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top" colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                Full Name
                <br />
                (initials not acceptable)
            </td>
            <td valign="top" colspan="2">
                <table align="left" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td valign="top" style="padding-right: 5px;">
                            <a id="a_user_FirstName"></a>First Name
                        </td>
                        <td valign="top" style="padding-right: 5px;">
                            Middle Name
                        </td>
                        <td valign="top">
                            <a id="a_user_LastName"></a>Last Name
                        </td>
                        @* <td valign="top" rowspan="2">
                            <input name="submit" type="submit" class="buttonYellow_100" value="Save" /></td>*@
                    </tr>
                    <tr>
                        <td valign="top" style="padding-right: 5px;">
                            <input name="user.FirstName" id="txtFirstName" type="text" value="@Model.user.FirstName" maxlength="41" />


                        </td>
                        <td valign="top" style="padding-right: 5px;">
                            <input name="user.MiddleInitial" type="text" value="@Model.user.MiddleInitial" maxlength="41" />

                        </td>
                        <td valign="top">
                            <input name="user.LastName" id="txtLastName" type="text" value="@Model.user.LastName" maxlength="41" />

                        </td>

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Please enter your name exactly as shown on your income tax return form</td>
        </tr>

        @*<tr>
            <td valign="top">&nbsp;</td>
            <td>Goes by Nickname :</td>
            <td>
                <input name="user.ServiceProviderDetail.NickName" type="text" value="@Model.user.ServiceProviderDetail.NickName" />
            </td>
        </tr>*@
        @* <tr>
                <td valign="top">&nbsp;
                </td>
                <td valign="top">Attach your Photo:
                </td>
                <td valign="top"><iframe id="frameUploadSSN" style="overflow:hidden;" frameborder="0" width="500" height="100" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=7&maxDocsCount=1&displayMode=1")" ></iframe>
                </td>
            </tr>*@
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top" colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            @if (loggedInUser != null)
            {
                if (loggedInUser.UserTypeId == 2)
                {
                    <td valign="top">&nbsp;</td>
                    <td valign="top">
                        <a id="a_user_UserName"></a>User Name
                    </td>
                    <td nowrap="nowrap" valign="top">
                        <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                        @* <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />*@
                        @*@Html.ValidationMessage(@Model.user.UserName)*@

                    </td>
                }
                else
                {
                    <td valign="top">&nbsp;</td>
                    <td valign="top">
                        <a id="a_user_UserName"></a>User Name
                    </td>
                    <td nowrap="nowrap" valign="top">
                        <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                        <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />

                    </td>
                }
            }
            else
            {
                <td valign="top">&nbsp;</td>
                <td valign="top">
                    <a id="a_user_UserName"></a>User Name
                </td>
                <td nowrap="nowrap" valign="top">
                    <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                    <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />

                </td>
            }


        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top"><a id="a_user_Password"></a>Password</td>
            <td valign="top" colspan="2">
                <input name="user.Password" id="txtPassword" type="password" value="@Model.user.Password" onfocus="HidePasswordMessage();" />&nbsp;<div style="display: inline; color: red;" id="divStatus"></div>
                <br />Password should atleast be of 6 characters with one alphabet and a number
            </td>

        </tr>
        <tr>
            <td valign="top" style="height: 10px">&nbsp;</td>
            <td valign="top" style="height: 10px">Confirm Password</td>
            <td valign="top" align="left" colspan="2" style="height: 10px">
                <input name="user.PasswordConfirm" id="txtConfPassword" type="password" value="@Model.user.Password" onblur="compare();" onfocus="HidePasswordMessage();" />
                <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
            </td>

        </tr>

        <tr style="height: 10px">
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                <a id="a_user_Email"></a>Email Address:
            </td>
            <td valign="top" colspan="1">
                <input name="user.Email" id="txtEmail" type="text" value="@Model.user.Email" />

            </td>
            <td id="tdEmail">
                <div></div>
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">&nbsp;</td>
            <td valign="top" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                Address or PO Box:
            </td>
            <td valign="top" colspan="2">
                <input name="user.AddressPO" type="text" value="@Model.user.AddressPO" />
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                Street Number:
            </td>
            <td valign="top" colspan="2">
                <input name="user.AddressLine1" type="text" value="@Model.user.AddressLine1" />
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_StreetAddress"></a>Street Name:
            </td>
            <td valign="top" colspan="2">
                <input name="user.StreetAddress" type="text" value="@Model.user.StreetAddress" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                <a id="a_user_Zip"></a>Zip:
            </td>
            <td valign="top" colspan="2">
                <input name="user.Zip" id="txtZip" type="text" value="@Model.user.Zip" onblur="populateZipData('txtZip','ddlState','ddlCity')" />
            </td>

        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_State"></a>State:
            </td>
            <td valign="top" colspan="2">
                <select name="user.State" id="ddlState" style="width: 150px;" onblur="getCurrentState()">
                    @foreach (var state in Model.StateList)
                    {
                        <option value="@state.Key.Trim()" @(state.Key != (Model.user.State ?? "").Trim() ? "" : "selected = selected")>@state.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                <a id="a_user_City"></a>City:
            </td>
            <td valign="top" colspan="2">
                <input name="user.City" id="ddlCity" type="text" value="@Model.user.City" onblur="getCurrentCity()" />
            </td>
        </tr>

        <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                Do you have a valid passport?
            </td>
            <td valign="top" colspan="2">
                @{
                    string HasValidPassportYes = "";
                    string HasValidPassportNo = "";
                    if (Model.user.ServiceProviderDetail != null)
                    {
                        if (Model.user.ServiceProviderDetail.HasValidPassport.HasValue)
                        {
                            if (Model.user.ServiceProviderDetail.HasValidPassport.Value)
                            {
                                HasValidPassportYes = "checked=checked";
                            }
                            else
                            {
                                HasValidPassportNo = "checked=checked";
                            }
                        }
                        else
                        {
                            HasValidPassportNo = "checked=checked";
                        }
                    }
                    else
                    {
                        HasValidPassportNo = "checked=checked";
                    }

                }
                <input name="user.ServiceProviderDetail.HasValidPassport" id="rdbHasValidPassportYes" type="radio" value="true" onclick="Radio_ClickDate('rdbHasValidPassportNo', 'txtPassportExpDate',true)" @HasValidPassportYes />Yes
                <input name="user.ServiceProviderDetail.HasValidPassport" id="rdbHasValidPassportNo" type="radio" value="false" onclick="Radio_ClickDate('rdbHasValidPassportNo', 'txtPassportExpDate',true)" @HasValidPassportNo />No
            </td>
        </tr>
        <tr>
            @if (Model.TermsOfService != null)
            {
                <td valign="top">&nbsp;</td>
                <td valign="top">
                    Terms of Service:
                </td>
                <td>
                    @Html.LabelFor(model => model.TermsOfService, Model.TermsOfService)
                </td>
            }            
        </tr>
        @*<tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">
                User Rights:
            </td>
            <td valign="top">

                <table cellspacing="0">

                    @for (int i = 0; i < Model.UserRightsViewModel.UserAssignedRightsInfoList.Count; i++)
                    {

                        <tr @(i % 2 == 0 ? "class=tableRow" : "class=tableRowAlternate")>
                            <td>
                                @Html.HiddenFor(model => Model.UserRightsViewModel.UserAssignedRightsInfoList[i].UserRightId)
                                @Html.HiddenFor(model => Model.UserRightsViewModel.UserAssignedRightsInfoList[i].UserRightDesc)
                                @Html.HiddenFor(model => Model.UserRightsViewModel.UserAssignedRightsInfoList[i].UserId)
                                @Html.CheckBoxFor(model => Model.UserRightsViewModel.UserAssignedRightsInfoList[i].HasRight)
                            </td>
                            <td width="100%">@Model.UserRightsViewModel.UserAssignedRightsInfoList[i].UserRightDesc</td>
                        </tr>



                    }
                </table>
            </td>
        </tr>*@
        <tr>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top">
                &nbsp;
            </td>
            <td valign="top" colspan="2">
                &nbsp;
            </td>
        </tr>

        <tr align="right">
            <td class="footer" colspan="6">
                <div style="float: left">
                    <input type="button" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("Search", "CANEstimator")    ';" />

                </div>
                <div style="float: right">
                    <input type="submit" class="buttonYellow_100" value="Save" id="submit" />
                </div>
            </td>
        </tr>


    </table>

}


