﻿
@model BLL.App_Code.ViewModels.RBPPaymentViewModel
@{
    Layout = null;
}


@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>GenerateRBPPayment</title>
</head>
<body>
    <div>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <style>
            .trheading {
                /*border: 1px solid black;*/
                background-color: #C1C1C1;
                font: bold;
            }

            #topContent tr, #topContent td {
                padding: 8px 4px;
                font-size: 16px !important;
            }

            #tblContent td, #tblContent th #tblContent tr {
                /*border: 1px solid black;*/
                padding: 8px 4px;
            }



            #trborder tr, #trborder td {
                border: 1px solid black;
                padding: 8px 4px;
                font-size: 16px !important;
            }

            .trcontent {
                border: 1px solid black;
                /*color: cornflowerblue;*/
                font-size: 16px !important;
            }
        </style>
        <table style="width: 100%; color:black !important; font-family: Verdana !important;" bgcolor="White" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td style="text-align: left; width: 15%">
                                <div>
                                    @*<img src="@Url.Content("~/Content/Images/CSSLogo03.png")" height="50" width="196" alt="Choice Solutions Service, Inc." />*@
                                    <img src="http://localhost/Content/Images/PCS_Black_Logo.png" height="136" width="131" alt="Pacesetter Claims Service, Inc." />


                                </div>
                            </td>
                            <td style="text-align: center; width: 70%;">
                                <div>
                                    @*@if (Model.IntacctLocationId == 100)
                                    {
                                        <h1><b>Choice Solutions Services Inc.</b></h1>
                                        <h2>
                                            <b>
                                                PO Box 831990
                                                <br />
                                                PHONE #:877-733-0455
                                                <br />
                                                Richardson, TX 75083-1990
                                                <br />
                                                EIN: 82-2239970
                                            </b>
                                            <br />
                                        </h2>
                                    }
                                    else if (Model.IntacctLocationId == 300)
                                    {
                                        <h1><b>Choice TPA, LLC</b></h1>
                                        <h2>
                                            <b>
                                                PO Box 831990
                                                <br />
                                                PHONE #:877-733-0455
                                                <br />
                                                Richardson, TX 75083-1990
                                                <br />
                                                EIN: 82-2251367
                                            </b>
                                            <br />
                                        </h2>
                                    }
                                    else if (Model.IntacctLocationId == 400)
                                    {
                                        <h1><b>Choice Sector, LLC</b></h1>
                                        <h2>
                                            <b>
                                                PO Box 831990
                                                <br />
                                                PHONE #:877-733-0455
                                                <br />
                                                Richardson, TX 75083-1990
                                                <br />
                                                EIN: 46-0566308
                                            </b>
                                            <br />
                                        </h2>
                                    }
                                    else
                                    {
                                        <h1><b>Choice Field Services, LLC</b></h1>
                                        <h2>
                                            <b>
                                                PO Box 831990
                                                <br />
                                                PHONE #:877-733-0455
                                                <br />
                                                Richardson, TX 75083-1990
                                                <br />
                                                EIN: 82-2239970
                                            </b>
                                            <br />
                                        </h2>
                                    }*@

                                    <h2 style="margin-top: 0px;margin-bottom: 0px;"><b>Pacesetter Claims Service, Inc.</b></h2>
                                    <h3 style="margin-top: 0px;margin-bottom: 0px;">
                                        <b>
                                            1350 S. Boulder Ave. Suite 700
                                            <br />
                                            Tulsa, OK 74119
                                            <br />
                                            Tax Id: 73-1533956
                                        </b>
                                        @*Tax Id :@System.Configuration.ConfigurationManager.AppSettings["CSSTaxId"]*@
                                    </h3>
                                </div>
                            </td>
                            <td style="width: 15%;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table id="tblContent" table style="width: 95%;" align="center">

                        <tr style="height:40px;">
                            <td colspan="8" class="trheading" style="font-size:18px; text-align:center"><b>Day Rate and Hourly Labor Billing</b></td>
                            @*<td></td>
                                <td></td>
                                <td></td>*@
                        </tr>
                    </table>
                    @*<tr style="height:20px">

                            <td colspan="3"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>*@
                    <table table style="width:95%;" align="center" id="topContent">
                        <tr>
                            <td><b>SP:</b>&nbsp;&nbsp;@Model.SPName</td>
                            @*             <td style="font-size:12px;"><b>@Model.CompanyName</b></td>*@
                            <td align="right"><b>Service Date Range:</b></td>
                            <td align="left">@Model.ServiceStartDate.ToString("MM/dd/yyyy")</td>
                            <td align="right"><b>Record #:</b></td>
                            <td align="left">@Model.EditInvoiceNumber</td>

                        </tr>
                        <tr>
                            <td></td>

                            <td align="right"></td>
                            <td align="left">@Model.ServiceEndDate.ToString("MM/dd/yyyy")</td>
                            <td align="right"><b>Pay Record Create Date:</b>
                            <td align="left">@Model.InvoiceDate.ToString("MM/dd/yyyy")</td>

                        </tr>
                        <tr style="height:20px; border: 1px solid white; border-collapse: collapse;">
                            @*<td colspan="3"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>*@
                        </tr>
                    </table>
                    <table table style="width: 95%; border-collapse: collapse;" align="center">


                        <tr class="trheading" style="height:50px;" id="trborder">
                            <td align="left" width="20%" style="padding-left: 1%;" colspan="2"><b>Company</b></td>
                            @*<td align="center"><b>Payee Type</b></td>*@
                            <td align="center"><b>Billing Type</b></td>
                            <td align="center"><b># of Units</b></td>
                            <td align="right" style="padding-right: 1%"><b> Rate Per Unit</b></td>
                            <td align="right" style="padding-right: 1%"><b>Total SP Pay</b></td>
                        </tr>
                        @if (Model.LineItemgetList != null)
                        {
                            foreach (var document in Model.LineItemgetList)
                            {
                                string companyname = css.Companies.Where(a => a.CompanyId == document.CompanyId).FirstOrDefault().CompanyName;
                                <tr id="trborder">
                                    <td align="left" style="padding-left: 1%;" colspan="2">@companyname</td>
                                    @*<td align="center">SP</td>*@
                                    <td align="center">@document.BillingType</td>
                                    <td align="center">@document.Units</td>
                                    <td align="right" style="padding-right: 1%">$@document.Rate.Value.ToString("0.00")</td>
                                    <td align="right" style="padding-right: 1%">$@document.TotalSPPay.Value.ToString("0.00")</td>
                                </tr>
                            }

                        }
                        <tr style="height:50px;border: 1px solid white;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="background-color: #C1C1C1;font-size:16px; font:bold;text-align:right;padding-right: 1%" align="right"><b>Payroll Total</b></td>

                            <td style="background-color: #C1C1C1;font-size:16px; font:bold;text-align:right;padding-right: 1%" align="right"><b>$@Model.PayrollTotal.ToString("0.00")</b></td>

                        </tr>

                    </table>
                    @*<table table style="width: 90%;" align="center">
                                    <tr style="height:50px;">
                                        <td colspan="2"></td>

                                        <td style="background-color: #C1C1C1; font-size:14px;font:bold;text-align:right;padding-right: 2%" align="right"><b>Invoice Total</b></td>

                                        <td style="background-color: #C1C1C1; font-size:14px;font:bold;text-align:right;padding-right: 2%" align="right"><b>$@Model.InvoiceTotal.ToString("0.00")</b></td>

                                    </tr>

                        </table>*@


                </td>
            </tr>
            <tr>
                <td></td>

            </tr>



        </table>


    </div>
</body>

</html>
