﻿@model BLL.ViewModels.CANAssignmentActivityReportViewModel

@{
    ViewBag.Title = "Assignment Activity Report";
}
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        //  alert($("#hdnSearchFilter").val());

        FilterChange();

    });
    function FilterChange() {
        @* var url = '@Url.Content("~/Users/getCityJson")';*@

        var ddlsource = "#SearchBy";
        var ddltarget = "#SearchFilter";

        if ($(ddlsource).val() != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSearchFilterJson", "Reporting")',
                data: { searchId: $("#SearchBy").val() },
                success: function (data) {
                    $("#SearchFilter").empty();
                    var item = [];
                    item.push("<option value='0'>--Select--</option>");
                    $.each(data, function () {
                        item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#SearchFilter").html(item.join(' '));
                    $("#SearchFilter").val('@Model.SearchfilterValue');
                    // alert($("#hdnSearchFilter").val());
                    //alert($("#SearchFilter").val());

                }
            })

        }
        else {
            $("#SearchFilter").empty();
            $("#SearchFilter").append("<option value=''>--Select--</option>");
        }
    }
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });

</script>
@using (Html.BeginForm("CANAssignmentActivityReport", "Reporting"))
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Filters</td>
        </tr>
        <tr>
            <td class="content">
                <table>
                    <tr>
                        <td nowrap="nowrap">Start Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.StartDate, Model.StartDate.HasValue ? Model.StartDate.Value.ToString("MM/dd/yyyy") : "", new { @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                        <td nowrap="nowrap">End Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.EndDate, Model.EndDate.HasValue ? Model.EndDate.Value.ToString("MM/dd/yyyy") : "", new { @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                        <td>Job Type:</td>
                        <td>@Html.DropDownListFor(model => model.JobId, Model.JobTypeList, new { @style = "width:150px;" })</td>
                        <td>Service Type:</td>
                        <td>@Html.DropDownListFor(model => model.ServiceId, Model.ServiceTypeList, new { @style = "width:150px;" })</td>
                        <td>Provider Type:</td>
                        <td>@Html.DropDownListFor(model => model.ProviderTypeId, Model.ProviderTypeList, new { @style = "width:150px;" })</td>
                        @*<td align="right">Search By:</td>
                             <td>@Html.DropDownListFor(model => model.SearchBy, Model.SearchFilterList, new { @style = "width:150px;", onchange = "FilterChange()" })</td>

                             <td>Search:</td>
                             <td>
                                 @Html.HiddenFor(model => model.SearchfilterValue, new { id = "hdnSearchFilter" })

                                 @Html.DropDownListFor(model => model.SearchFilter, (IEnumerable<SelectListItem>)ViewBag.SearchList, "--Select--", new { @style = "width:150px;" })
                            </td>*@
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>@Html.DropDownListFor(model => model.State, Model.StateList, new { @style = "width:150px;" })</td>
                        <td>Cat Code:</td>
                        <td>@Html.DropDownListFor(model => model.CatCode, Model.CatCodeList, new { @style = "width:150px;" })</td>
                        <td>Loss Type: </td>
                        <td>@Html.DropDownListFor(model => model.LossTypeId, Model.LossTypeList, new { @style = "width:150px;" })</td>
                        <td>Service Provider:</td>
                        <td>@Html.TextBoxFor(model => model.SPName, new { @style = "width:150px;" })</td>
                        <td>Company</td>
                        <td>@Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, new { @style = "width:150px;" })</td>
                   </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" value="Search" class="buttonLightYellow_100" name="submitbutton" />
                @*<input type="submit" value="Export" class="buttonLightYellow_100" name="submitbutton" />*@
            </td>
        </tr>
    </table>
    <div>
    </div>
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">Assignment Activity Report</td>
    </tr>
    <tr>
        <td class="content">
            @if (Model.ReportURL != null)
            {
                <iframe src="@Url.Content(Model.ReportURL)" frameborder="0" width="100%" height="1050px"></iframe>
            }            
        </td>
    </tr>
    <tr>
        <td class="footer"></td>
    </tr>
</table>