﻿@model BLL.ViewModels.ClaimaticFinancialsReportViewModel
@using CSS
@using BLL
@{
    ViewBag.Title = "Claimatic Financial Report";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    User loggedInUserDetails = null;
    UserAssignedRight UserRight = null;
    if (loggedInUser != null)
    {
        loggedInUserDetails = css.Users.Where(x => x.UserId == loggedInUser.UserId).FirstOrDefault();
        UserRight = css.UserAssignedRights.Where(x => x.UserId == loggedInUser.UserId && x.UserRightId == 2 && x.IsActive == true).FirstOrDefault(); //(from U in css.Users join UR in css.UserAssignedRights on U.UserId equals UR.UserId where U.UserId == loggedInUser.UserId select new { U, UR }).ToList();
    }
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet"
      type="text/css" />

<style type="text/css">
    .mainTableHeader {
        /*border-bottom: 1px solid black;*/
        font-weight: bold;
        background-color: #C1C1C1;
    }

    .subTableHeader1 {
        /*border-bottom: 1px solid black;*/
        font-weight: bold;
        background-color: #D8D8D8;
    }

    .subTableHeader2 {
        /*border-bottom: 1px solid black;*/
        font-weight: bold;
        background-color: #E0E0E0;
    }

    .subTableHeader3 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #EAEAEA;
    }
</style>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"
    });
    });
    function showINVRecordData(controlId) {
        debugger;
        $("#trINV" + controlId).show();
        $("#imgExpandIN" + controlId).hide();
        $("#imgCollapseIN" + controlId).show();
    }
    function hideINVRecordData(controlId) {
        $("#trINV" + controlId).hide();
        $("#imgExpandIN" + controlId).show();
        $("#imgCollapseIN" + controlId).hide();
    }
    function showDSRecordData(controlId) {
        debugger;
        $("#trDS" + controlId).show();
        $("#imgExpandDS" + controlId).hide();
        $("#imgCollapseDS" + controlId).show();
    }
    function hideDSRecordData(controlId) {
        $("#trDS" + controlId).hide();
        $("#imgExpandDS" + controlId).show();
        $("#imgCollapseDS" + controlId).hide();

    }
    function exportReport()
    {
        debugger;
        var number = $("#ClaimNumber").val();
        var StartDate = $("#Date1").val();
        var EndDate = $("#Date2").val();
        $.ajax({
            url: '@Url.Action("ClaimFinancialExport", "Reporting")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { number: number, StartDate: StartDate, EndDate: EndDate },
            type: 'GET',
            success: function (data) {
                debugger;
            }
        });
    }
</script>

    @using (Html.BeginForm("ClaimaticFinancialsReport", "Reporting", FormMethod.Post, new { id = "frmClaimaticFan" }))
    {
        <div>
            <table style="width: 99%;padding-left: 1%;">
                <tr>
                    <td class="mainHeader">
                        Search Filter
                    </td>
                </tr>
                <tr>
                    <td class="content" align="left" nowrap="nowrap">
                        Claim Number: @Html.TextBoxFor(model => model.ClaimNumber, "{0:MM/dd/yyyy}", new {@id="ClaimNumber", style = "width:100px;"})
                        &nbsp;&nbsp;
                        Invoice Created Start Date: @Html.TextBoxFor(model => model.StartDate, new { @class = "DatePickerTextBox", @style = "width:80px;" })
                        &nbsp;&nbsp;End Date: @Html.TextBoxFor(model => model.EndDate, new { @class = "DatePickerTextBox", @style = "width:80px;" })


                    </td>
                </tr>
                <tr>
                    <td class="footer" align="right">
                        <input type="submit" id="btnReport" value="Search" class="buttonLightYellow_100" name="SubmitButton" />
                        <input  type="submit" id="btnReport" value="Export" class="buttonLightYellow_100"  name="SubmitButton" />
                    </td>
                </tr>
                <tr>
                    <td class="mainHeader">
                        Claimatic Financial Report
                    </td>
                </tr>
            </table>

            <table style="width: 99%;padding-left: 1%;" cellpadding="5" cellspacing="0">
                <tr>
                    <td class="mainTableHeader">
                        <span id="Level1GroupDesc">Claim#</span>
                    </td>
                    <td class="mainTableHeader">
                        Policy#
                    </td>
                    <td class="mainTableHeader">
                        Customer
                    </td>
                    <td class="mainTableHeader">
                        Insured Name
                    </td>
                    @*<td class="mainTableHeader" align="center">Misc. Over Due</td>*@
                </tr>
                @{
                    int L = 0;
                    int m = Model.Pager.Page - 1;
                    int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                    int x = m * z;
                    //List<usp_DiarySummaryMasterLevel1_Result> diarySummaryMaster = css.usp_DiarySummaryMasterLevel1(Model.Level1GroupId, Model.Level1GroupFilter).ToList();

                    for (int i = 0; i < Model.CliamMasterList.Count; i++)
                    {
                        // usp_DiarySummaryMasterLevel1_Result recordI = Model.CliamMasterList[i];
                        <tr @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                            <td>
                                <img id="@("imgExpandIN" +i)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showINVRecordData(@(i + ""))" />
                                <img id="@("imgCollapseIN" +i)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideINVRecordData(@(i + ""))" style="display:none;" />@Model.CliamMasterList[i].ClaimNumber
                            </td>
                            <td>@Model.CliamMasterList[i].PolicyNumber</td>
                            <td>@Model.CliamMasterList[i].CompanyName</td>
                            <td>@Model.CliamMasterList[i].InsuredName</td>
                        </tr>
                        <tr id="@("trINV" + i)" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                            <td colspan="7" align="right">
                                <table style="width: 98%;" cellpadding="5" cellspacing="0">
                                    <tr>
                                        <td class="subTableHeader1">
                                            <span id="Level2GroupDesc">Invoice #</span>
                                        </td>
                                        <td class="subTableHeader1">
                                            Invoice Type
                                        </td>
                                        <td class="subTableHeader1">
                                           Date Created
                                        </td>
                                        
                                        <td class="subTableHeader1">
                                           Service Expense
                                        </td>
                                        <td class="subTableHeader1">
                                            Disbursement Total
                                        </td>
                                       
                                        <td class="subTableHeader1">Tax total</td>
                                        <td class="subTableHeader1">Is Taxable</td>
                                        <td class="subTableHeader1">Is No bill</td>
                                        <td class="subTableHeader1">Loss Amount</td>
                                        <td class="subTableHeader1">Date Exported</td>  
                                        <td class="subTableHeader1">Sub Total</td>
                                        <td class="subTableHeader1">Net Total</td>
                                    </tr>
                                    @{
                                        List<usp_ClaimaticClaimInvoiceReport_Result> ClaimaticClaimInvoiceReport = css.usp_ClaimaticClaimInvoiceReport(@Model.CliamMasterList[i].ClaimaticClaimId, @Model.StartDate, Model.EndDate).ToList();
                                        for (int j = 0; j < ClaimaticClaimInvoiceReport.Count; j++)
                                        {
                                            usp_ClaimaticClaimInvoiceReport_Result recordJ = ClaimaticClaimInvoiceReport[j];
                                            <tr @(i % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                                <td>
                                                    <img id="@("imgExpandDS" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showDSRecordData('@("" + i + "" + j )')" />
                                                    <img id="@("imgCollapseDS" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideDSRecordData('@("" + i + "" + j)')" style="display:none;" />
                                                    @recordJ.id
                                                </td>
                                                <td>@recordJ.InvoiceType</td>
                                                <td>@recordJ.DateCreated</td>
                                                <td>@recordJ.serviceExpense</td>
                                                <td>@String.Format("{0:0.00}",@recordJ.disbursementTotal)</td>
                                                <td>@String.Format("{0:0.00}",@recordJ.taxTotal)</td>
                                                <td>@recordJ.is_taxable</td>
                                                <td>@recordJ.isNoBill</td>
                                                <td>@String.Format("{0:0.00}", @recordJ.lossAmount)</td>
                                                <td>@recordJ.date_exported</td>
                                                <td>@String.Format("{0:0.00}", @recordJ.subTotal)</td>
                                                <td>@String.Format("{0:0.00}", @recordJ.netTotal)</td>

                                            </tr>
                                            <tr id="@("trDS" +i+""+ j )" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                                                <td colspan="7" align="right">
                                                    <table style="width: 98%;" cellpadding="5" cellspacing="0">
                                                        <tr>
                                                            <td class="subTableHeader1">
                                                                <span id="Level3GroupDesc">Resource</span>
                                                            </td>
                                                            <td class="subTableHeader1">
                                                                Expense
                                                            </td>
                                                            @*<td align="center" class="subTableHeader1">
                                                                customer_expense_id
                                                            </td>*@
                                                            <td class="subTableHeader1">
                                                                Quantity
                                                            </td>
                                                            <td class="subTableHeader1">Cost</td>
                                                            @*<td align="center" class="subTableHeader1">description</td>*@
                                                            @*<td align="center" class="subTableHeader1">Date created</td>*@
                                                            @*<td align="center" class="subTableHeader1">invoice_temp_id</td>*@
                                                            @*<td align="center" class="subTableHeader1">billable Quantity</td>*@
                                                            @*<td align="center" class="subTableHeader1">max_amount</td>*@
                                                            <td class="subTableHeader1">Billable Total Cost</td>
                                                        </tr>
                                                        @{
                                                            List<usp_ClaimaticDisburesment_Result> ClaimaticDisburesment = css.usp_ClaimaticDisburesment(@recordJ.id, @Model.StartDate, Model.EndDate).ToList();
                                                            for (int k = 0; k < ClaimaticDisburesment.Count; k++)
                                                            {
                                                                usp_ClaimaticDisburesment_Result recordK = ClaimaticDisburesment[k];
                                                                <tr @(i % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                                                    <td>@recordK.ResourceName</td>
                                                                    <td>@recordK.expenseName</td>
                                                                    @*<td align="center">@recordK.customer_expense_id</td>*@
                                                                    <td>@recordK.quantity</td>
                                                                    <td>@String.Format("{0:0.00}", @recordK.cost)</td>
                                                                    @*<td align="center">@recordK.description</td>*@
                                                                    @*<td align="center">@recordK.dateCreated</td>*@
                                                                    @*<td align="center">@recordK.invoice_temp_id</td>*@
                                                                    @*<td align="center">@recordK.billable_qty</td>*@
                                                                    @*<td align="center">@recordK.max_amount</td>*@
                                                                    <td>@String.Format("{0:0.00}", @recordK.billable_total_cost)</td>

                                                                </tr>
                                                            }
                                                        }
                                                    </table>
                                                </td>
                                            </tr>
                                                            }
                                    }

                                </table>
                            </td>
                        </tr>
                        @*</td>
                            </tr>*@
                                                            }
                }
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td>
                                    @Html.Partial("_Pager", Model.Pager)
                                </td>
                            </tr>
                            <tr>
                                <td class="footer">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
                                                            }
