﻿
@model BLL.ViewModels.DashBoardCountReportViewModel

@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

@*<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>*@


<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet">

<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>


<style type="text/css">
    .AssignmentAcceptPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .backgroundAssignmentAccept {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .backgroundAssignmentAccept {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }


    /*Rejection*/
    .AssignmentRejPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
    /* Assignments pending popup style  */
    .backgroundAssignmentRejection {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }



    #bgAssignCSSPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #bgAssignCANCompany {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    #bgAssignHRTCompany {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .AssignCSSPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .AssignCANCompanyPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .AssignHRTCompanyPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }


    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    #backgroundPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 10;
    }

    .EditPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 11;
        font-size: 13px;
    }

    #backgroundInvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 8;
    }

    .InvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 9;
        font-size: 13px;
    }


    .backgroundPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .backgroundPopupNewAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .PopupNewAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>

<style>
    .backgroundPopupAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupAssignmentServices {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 200px;
        height: auto;
        overflow-y: scroll;
        position: absolute;
    }

    .selectBox {
        position: relative;
    }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .selectBox select {
        width: 100%;
    }

    .multiselect {
        width: 200px;
    }

    #checkboxes label {
        display: block;
    }

    .NoPaddingLeftRight {
        padding-left: 0;
        padding-right: 0;
        font-weight: bold;
    }
</style>
<script type="text/javascript">


    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }
    function searchReport() {
        debugger;
        if ($('#txtClaimnumber').css("display") == "none") {
            $('#txtClaimnumber').val($('#ddlClaimSearch').val());
        }
    }
</script>
<script>

    function loadPopupClaimsSearchList() {
        debugger;

        var popupStatus = 0;

        if (popupStatus == 0) {

            centerPopupClaimsSearchList();
            $("#backgroundPopupClaimsSearchList").css({
                "opacity": "0.7"
            });

            bindClaimsSearchList();

            $("#backgroundPopupClaimsSearchList").fadeIn("slow");
            $("#ClaimsSearchList").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function centerPopupClaimsSearchList() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#ClaimsSearchList").height();
        var popupWidth = $("#ClaimsSearchList").width();
        //centering
        $("#ClaimsSearchList").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupClaimsSearchList").css({
            "height": windowHeight
        });
        return false;
    }
    function bindClaimsSearchList() {
        debugger;
        $.ajax({
            url: '@Url.Action("_LastClaimsSearchList", "PropertyAssignment")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (result) {

                var div = $('#dvClaimsSearchList');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }
    function disablePopupClaimsSearchList() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupClaimsSearchList").fadeOut("slow");
            $("#ClaimsSearchList").fadeOut("slow");
            popupStatus = 0;


        }
    }

    function CallExistClaim(Claimnumber) {
        //alert("hie");
        debugger;
        //alert(Claimnumber);

        if (Claimnumber == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            //var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;
            $.ajax
            ({
                //url: "../PropertyAssignment/ClaimExist?Number=" + Claimnumber + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { Number: Claimnumber, QuickSearchType: QuickSearchType, SearchString: Claimnumber },
                success: function (result) {
                    var ClaimIDNo = result.ClaimIdNo;

                    debugger;
                    if (result.resultDisplay) {
                        window.location.href = "../PropertyAssignment/Details?claimid=" + ClaimIDNo;
                    }
                    else {
                        if (result.QuickSearchTypes == 0) {
                            alert('This Claim Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 1) {
                            alert('This Policy Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 2) {
                            alert('This Invoice Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 3) {
                            alert('This Insured Name does not exist.');
                        }

                        // document.getElementById('ddlClaimSearch').value = "";
                    }
                },
                error: function (x, e) {

                }
            });

        }
        return false;

    }
</script>



@using (Html.BeginForm("DashBoardCountReport", "Reporting", FormMethod.Post, new { @id = "formSearch" }))
{
    <table width="100%">
        <tr>
            <td colspan="3">
                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <a id="lblSearchExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Filter</a>
                            <a id="lblSearchCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a>
                        </td>
                    </tr>
                    <tr id="trSearchFilterContent" style="display: none;">
                        <td class="content">
                            @Html.Partial("_DashBoardCountReportSearchFilter", Model)
                        </td>
                    </tr>
                    <tr align="right" id="trSearchFilterFooter" style="display: none;">
                        <td class="footer">
                            <input type="submit" class="buttonLightYellow_100" value="Search" name="SubmitButton" onclick="searchReport()" />
                            <input type="button" class="buttonLightYellow_100" value="Clear" id="Clear" name="SubmitButton" onclick="clearformSearch()" />
                            <input type="submit" class="buttonLightYellow_100" value="Export" id="Export" name="SubmitButton" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>


            <td style="width:30%;padding-right:40px;vertical-align:top">
                <br /><br />
                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" nowrap="nowrap">Assignment Status Report</td>
                                    <td nowrap="nowrap" style="font-size: 11px !important; font-weight: normal !important;">
                                        <span style="visibility: hidden; width: 150px; height: 40px;" id="progress">
                                            <img id="progress_image" height="16" width="16" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                            Refreshing...
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr style="background:  lightgray;">
                                    <td><b>Assignment Status</b></td>
                                    <td><b>Count</b></td>
                                </tr>
                                @{Int64 TotalAssignmentCountType1 = 0; }
                                @foreach (var Status in Model.FileStatusList.Where(a => a.Value != "0"))
                                {
                                    Int64 TotalCount = 0;
                                    var Statistics = Model.AssignmentStatistics.Where(a => a.Type == 1 && a.Id.ToString() == Status.Value).FirstOrDefault();
                                    if (Statistics != null)
                                    {
                                        TotalCount = Convert.ToInt64(Statistics.AssignmentCount);
                                        TotalAssignmentCountType1 += Convert.ToInt64(Statistics.AssignmentCount);
                                    }

                                    <tr>
                                        <td style="padding-bottom: 4px;">@Status.Text </td>
                                        <td>@TotalCount</td>
                                    </tr>

                                }
                                <tr>
                                    <td class="footer NoPaddingLeftRight">Total </td>
                                    <td class="footer NoPaddingLeftRight">@TotalAssignmentCountType1</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>


            <td style="vertical-align: top;" colspan="2">
                <br /><br />
                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" nowrap="nowrap">JT/ST Combination Report</td>
                                    <td nowrap="nowrap" style="font-size: 11px !important; font-weight: normal !important;">
                                        <span style="visibility: hidden; width: 150px; height: 40px;" id="progress">
                                            <img id="progress_image" height="16" width="16" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                            Refreshing...
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr style="background:  lightgray;">
                                    <td><b>Job Type</b></td>
                                    <td><b>Service Type</b></td>
                                    <td><b>Count</b></td>
                                </tr>

                                @*@foreach (var JobServiceType in Model.JobServiceTypeList.OrderBy(a => a.Jobtypeid).ToList())
                                    {
                                        Int64 TotalCount = 0;
                                        var Statistics = Model.AssignmentStatistics.Where(a => a.Type == 4 && a.Id == JobServiceType.JobServiceTypeId).FirstOrDefault();
                                        if (Statistics != null)
                                        {
                                            TotalCount = Convert.ToInt64(Statistics.AssignmentCount);
                                         <tr>
                                             <td style="padding-bottom: 4px;">@JobServiceType.JobDesc</td>
                                             <td>@JobServiceType.Servicename</td>
                                             <td>@TotalCount</td>
                                         </tr>
                                        }

                                    }*@
                                @foreach (var Statistics in Model.AssignmentStatistics.Where(a => a.Type == 4))
                                {
                                    Int64 TotalCount = 0;

                                    if (Statistics != null)
                                    {
                                        TotalCount = Convert.ToInt64(Statistics.AssignmentCount);
                                    }

                                    <tr>
                                        <td style="padding-bottom: 4px;">@Statistics.JobTypeName</td>
                                        <td>@Statistics.ServiceTypeName</td>
                                        <td>@TotalCount</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="footer NoPaddingLeftRight">Total </td>
                                    @{Int64 TotalAssignmentCountType4 = Model.AssignmentStatistics.Where(a => a.Type == 4).Select(a => Convert.ToInt64(a.AssignmentCount)).Sum();}
                                    <td class="footer NoPaddingLeftRight"></td>
                                    <td class="footer NoPaddingLeftRight">@TotalAssignmentCountType4</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>


            <td style="width:30%;padding-right:40px;vertical-align:top">
                <br /><br /><br />
                <table align="left" cellpadding="3" cellspacing="0" width="100%" style="margin-bottom: 50px;">
                    <tr>
                        <td class="mainHeader">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" nowrap="nowrap">Claim Status Report</td>
                                    <td nowrap="nowrap" style="font-size: 11px !important; font-weight: normal !important;">
                                        <span style="visibility: hidden; width: 150px; height: 40px;" id="progress">
                                            <img id="progress_image" height="16" width="16" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                            Refreshing...
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr style="background:  lightgray;">
                                        <td><b>Claim Status</b></td>
                                        <td><b>Count</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Status in Model.ClaimStatusList.Where(a => a.Value != "0"))
                                    {
                                        Int64 TotalCount = 0;
                                        var Statistics = Model.AssignmentStatistics.Where(a => a.Type == 2 && a.Id.ToString() == Status.Value).FirstOrDefault();
                                        if (Statistics != null)
                                        {
                                            TotalCount = Convert.ToInt64(Statistics.AssignmentCount);
                                        }

                                        <tr>
                                            <td style="padding-bottom: 4px;">@Status.Text </td>
                                            <td>@TotalCount</td>
                                        </tr>

                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="footer NoPaddingLeftRight">Total </td>
                                        @{Int64 TotalAssignmentCountType2 = Model.AssignmentStatistics.Where(a => a.Type == 2).Select(a => Convert.ToInt64(a.AssignmentCount)).Sum();}
                                        <td class="footer NoPaddingLeftRight">@TotalAssignmentCountType2</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </table>
                <br /><br /><br />
                @*<table align="left" cellpadding="3" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" nowrap="nowrap">Claim Sub Status Report</td>
                                    <td nowrap="nowrap" style="font-size: 11px !important; font-weight: normal !important;">
                                        <span style="visibility: hidden; width: 150px; height: 40px;" id="progress">
                                            <img id="progress_image" height="16" width="16" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                            Refreshing...
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr style="background:  lightgray;">
                                    <td><b>Claim Sub Status</b></td>
                                    <td><b>Count</b></td>
                                </tr>
                                @foreach (var Status in Model.ClaimSubStatusList.ToList())
                                {
                                    Int64 TotalCount = 0;
                                    var Statistics = Model.AssignmentStatistics.Where(a => a.Type == 3 && a.Id.ToString() == Status.Value).FirstOrDefault();
                                    if (Statistics != null)
                                    {
                                        TotalCount = Convert.ToInt64(Statistics.AssignmentCount);
                                    }
                                    <tr>
                                        <td style="padding-bottom: 4px;">@(Status.Text.Replace("HHH", "+"))</td>
                                        <td>@TotalCount</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="footer NoPaddingLeftRight">Total </td>
                                    @{Int64 TotalAssignmentCountType3 = Model.AssignmentStatistics.Where(a => a.Type == 3).Select(a => Convert.ToInt64(a.AssignmentCount)).Sum();}
                                    <td class="footer NoPaddingLeftRight">@TotalAssignmentCountType3</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>*@
            </td>

            @if (loggedInUser.UserTypeId != 12 && loggedInUser.UserTypeId != 1 && loggedInUser.UserTypeId != 14) //CAN SP ,Service Provider,Contractor Company User
            {
                <td colspan="2" style="vertical-align: top;">
                    <br /><br /><br />
                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td class="mainHeader">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="100%" nowrap="nowrap">JT/ST Service Provider Combination Report</td>
                                        <td nowrap="nowrap" style="font-size: 11px !important; font-weight: normal !important;">
                                            <span style="visibility: hidden; width: 150px; height: 40px;" id="progress">
                                                <img id="progress_image" height="16" width="16" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                                Refreshing...
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" style="max-width: 100%; table-layout:fixed;" cellpadding="0" cellspacing="0">
                                    <thead style="display: table; width:calc(100% - 18px); margin-bottom: 5px;">
                                        <tr style="background:  lightgray;">
                                            <td style="width: 25%;"><b>Job Type</b></td>
                                            <td style="width: 25%;"><b>Service Type</b></td>
                                            <td style="width: 25%;"><b>Service Provider</b></td>
                                            <td style="width: 25%;"><b>Count</b></td>
                                        </tr>
                                    </thead>
                                </table>
                                <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 100%;table-layout:fixed;">

                                    <tbody style="max-height: 400px; min-height: 50px; overflow:auto; overflow-x:hidden; display:table-caption; width:100%; margin-bottom: 5px;">
                                        @foreach (var Statistics in Model.AssignmentStatistics.Where(a => a.Type == 5))
                                        {
                                            Int64 TotalCount = 0;
                                            if (Statistics != null)
                                            {
                                                TotalCount = Convert.ToInt64(Statistics.AssignmentCount);
                                            }

                                            <tr style="display: table; width:100%;table-layout:fixed;">
                                                <td style="padding-bottom: 4px;width: 25%;">@Statistics.JobTypeName</td>
                                                <td style="width: 25%;">@Statistics.ServiceTypeName</td>
                                                <td style="width: 25%;">@Statistics.SPName</td>
                                                <td style="width: 25%;">@TotalCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot style="display: table; width:calc(100% - 18px);">
                                        <tr>
                                            <td class="footer NoPaddingLeftRight">Total </td>
                                            @{Int64 TotalAssignmentCountType5 = Model.AssignmentStatistics.Where(a => a.Type == 5).Select(a => Convert.ToInt64(a.AssignmentCount)).Sum();}
                                            <td class="footer NoPaddingLeftRight" style="width: 25%;"></td>
                                            <td class="footer NoPaddingLeftRight" style="width: 25%;"></td>
                                            <td class="footer NoPaddingLeftRight" style="width: 25%;">@TotalAssignmentCountType5</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                                                }


        </tr>

    </table>
                                                }


<div id="ClaimsSearchList" style="display: none;width:746px;" class="EditPopupClaimsSearchList">
    <table width=" 100%" cellspacing="0" id="tbldivservice">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Recently Accessed Claims</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupClaimsSearchList()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trLOB">
            <td>
                <table width="100%" cellspacing="0">

                    <tr>
                        <td colspan="2">
                            <div id="dvClaimsSearchList">
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupClaimsSearchList" onclick="disablePopupClaimsSearchList();" class="backgroundPopupClaimsSearchList" style="display: none;"></div>


@*@section ScriptSection{
    <script type="text/javascript">
        populateClientPOCDLL('0');

    </script>
}*@


