﻿@model BLL.ViewModels.DetailedProductionReport
@{
    ViewBag.Title = "DetailedProductionReport";
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<style>
    .companydropdown {
        height: 150px;
        overflow: scroll;
        position: absolute;
        background: white;
        margin-top: 0px;
        z-index: 999999999999;
    }

    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 200px;
        height: auto;
        overflow-y: scroll;
        position: absolute;
        overflow-x: scroll;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });



    $(document).ready(function () {
        var expanded = false;
        $('#divDetailedProduction').on('click', function (e) {

            //alert(e.target.nodeName);
            if ($(e.target.parentNode).is("label")) {
                var checkboxes = document.getElementById("checkboxes");
                if (!expanded) {
                    checkboxes.style.display = "block";
                    expanded = true;
                }
                //else {
                //    checkboxes.style.display = "none";
                //    expanded = false;
                //}


            }
            else {
                if (!$(e.target.parentNode).is("div.selectBox")) {
                    var checkboxes = document.getElementById("checkboxes");
                    checkboxes.style.display = "none";
                    expanded = false;
                }
            }



        });
    });

    $(document).ready(function () {

        FillCompanies();

    });

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function FillCompanies() {
        debugger;

        $("#checkboxes").empty();
        var incr = 0;
        var item = [];
        var txt = '';
        var val = '';
        var lbl = '';

        item.push("<label for='selectidlable'><input type='checkbox' name='selectalllist' id='selectid' value='selectall' onchange='selectall()'>Select all</label>");

        @for (int i = 1; i < Model.CompaniesList.Count; i++)
        {
            // Model.CompaniesList[i].Text = Model.CompaniesList[i].Text.Replace("+", "HHH");
            @:txt = '@Model.CompaniesList[i].Text';
                    @:val = '@Model.CompaniesList[i].Value';

        
            @:lbl = "<label for=" + val + "><input type='checkbox' name='cbCompanylist' id=" + val + " value='" + txt + "'onchange='getSelectedCompanyIds()'>" + txt + "</label>";
                   // @:lbl = (lbl.replace("HHH", "+")).replace("HHH", "+");
            @:item.push(lbl);
               }


        $("#checkboxes").html(item.join(' '));
        var val = '';
        var cNames = $("#SelectedCompanies").val();
        debugger;
        if ($("#SelectedCompanies").val() != "") {
            if (cNames.indexOf(",") > 0) {
                var cNameArray = cNames.split(",");
                var labels = $("#checkboxes label");
                $.each($("#checkboxes label"), function () {
                    val = $(this).children("input");
                    $.each(cNameArray, function () {
                        if (val[0].value == this) {
                            val[0].checked = true;
                        }
                    });
                });
            }
            else {
                var labels = $("#checkboxes label");
                $.each(labels, function () {
                    val = $(this).children("input");
                    if (val[0].value == cNames) {
                        val[0].checked = true;
                    }
                });
            }
        }
        getSelectedCompanyIds();
    }


    function getSelectedCompanyIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        var selectedCheckBoxId = '';
        
        $('input[name=cbCompanylist]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
                selectedCheckBoxId += $(selected).attr("id");
                //selectedCheckBoxesValue += $(selected).text();
                //selectedCheckBoxText += $(selected).next('selectalllist').text();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
                selectedCheckBoxId += ',' + $(selected).attr("id");
                //selectedCheckBoxText += ',' + $(selected).next('selectalllist').text();
            }
        });
        if (selectedCheckBoxesValue == '') {

            $('#selectcompany').children('option[name="companylist"]').text("--Select Company--");
        }
        else {
            //$('#selectcounty option[value="0"]').text(selectedCheckBoxesValue);
            //$('#selectcounty option[name="countylist"]').text(selectedCheckBoxesValue);

            $('#selectcompany').children('option[name="companylist"]').text(selectedCheckBoxesValue);
        }

        $("#HidCompanyIds").val("");
        console.log($("#HidCompanyIds").val());
        $('input[name=HidCompanyIds]').val('');
        console.log($('input[name=HidCompanyIds]').val());
        $("#HidCompanyIds").val(selectedCheckBoxId);
        console.log($("#HidCompanyIds").val());
        $("#SelectedCompanies").val(selectedCheckBoxesValue);
        if ($('#selectid').prop('checked')) {
            $("#HidCompanyIds").val("-1");

        }
        return selectedCheckBoxesValue;
    }

    function selectall() {
        if ($('#selectid').prop('checked')) {
            $('input[name=cbCompanylist]').each(function (i, selected) {
                $(selected).prop("checked", true);
            });
        }
        else {
            $('input[name=cbCompanylist]').each(function (i, selected) {
                $(selected).prop("checked", false);
            });
        }

        getSelectedCompanyIds();
    }



    function ClearSearchFilters() {
        $("#txtDateRecivedStartDate").val(null);
        $("#txtDateRecivedEndDate").val(null);
        $("#txtInvoiceStartDate").val(null);
        $("#txtInvoiceEndDate").val(null);
        $("#selectcompany").val(null);
        $("#companylist").val(null);
        
    }

</script>

@using (Html.BeginForm("DetailedProductionReport", "Reporting", FormMethod.Post, new { id = "frmProdReport" }))
{
    <div id="divDetailedProduction">
        <table width="100%">
            <tr>
                <td class="mainHeader">Report Filters</td>
            </tr>
            <tr>
                <td class="content">
                    <table>
                        <tr>
                            <td nowrap="nowrap">Received Start Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.DateRecivedStartDate, Model.DateRecivedStartDate.HasValue ? Model.DateRecivedStartDate.Value.ToString("MM/dd/yyyy") : "", new { @Id = "txtDateRecivedStartDate", @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                            <td nowrap="nowrap">End Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.DateRecivedEndDate, Model.DateRecivedEndDate.HasValue ? Model.DateRecivedEndDate.Value.ToString("MM/dd/yyyy") : "", new { @Id = "txtDateRecivedEndDate", @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Invoice Start Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.InvoiceStartDate, Model.InvoiceStartDate.HasValue ? Model.InvoiceStartDate.Value.ToString("MM/dd/yyyy") : "", new { @Id = "txtInvoiceStartDate", @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                            <td nowrap="nowrap">End Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.InvoiceEndDate, Model.InvoiceEndDate.HasValue ? Model.InvoiceEndDate.Value.ToString("MM/dd/yyyy") : "", new { @Id = "txtInvoiceEndDate", @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Insurance Company:</td>

                            <td style="display:none;">
                                <input type="hidden" id="HidCompanyIds" name="HidCompanyIds" />
                                @Html.DropDownListFor(model => model.HidCompanyIds, Model.CompaniesList, new { style = "width:170px;" })
                            </td>
                            @*@Html.DropDownListFor(model => model.HeadCompanyId, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select Company--", Value = "0", Selected = true } }, new { @id = "ddlCompany", style = "width: 170px;" })*@
                         

                <td>
                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select id="selectcompany">
                                <option name="companylist">--Select Company--</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes">
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.SelectedCompanies)
                </td>
            </tr>
                        </table>
                    </td>
                </tr>
        <tr>
            <td class="footer" align="right">
                <input type="button" value="Clear" class="buttonLightYellow_100" onclick="ClearSearchFilters()" />
                @*<input type="submit" value="Search" class="buttonLightYellow_100" />*@
               <input type="submit" value="Search" class="buttonLightYellow_100" name="SubmitButton" />
                <input type="submit" value="Export" class="buttonLightYellow_100" name="SubmitButton" />
            </td>
        </tr>
        </table>
    </div>
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">Detailed Production Report</td>
    </tr>
    <tr>
        <td>
            <br />
            <table align="left" cellpadding="3" cellspacing="0" width="100%">
                <tbody>

                    <tr>
                        <td class="content">
                            <table cellpadding="3" cellspacing="0" width="100%">
                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td>Company Name</td>
                                        <td>Claim #</td>
                                        <td>EMP Type</td>
                                        <td>Invoice Type</td>
                                        <td style="width:8%;">Invoice #</td>
                                        <td style="width:8%;">Assignment Received Date</td>
                                        <td style="width:8%;">Invoice Date</td>
                                        <td style="width:10%;">Line Of Business</td>
                                        <td>QB Class</td>
                                        <td style="width:8%;">Total Invoice Amount</td>
                                        <td>SP Name</td>
                                        <td style="width:1%">Amount Paid To SP</td>
                                        <td>QA Agent</td>
                                        <td style="width:5%">Amount Paid To QA</td>
                                        <td>POC</td>
                                        <td style="width:5%">Amount Paid To POC</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.ProductionReportList != null)
                                        {
                                            foreach (var item in Model.ProductionReportList)
                                            {
                                                <tr class="tableRow">
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.ClaimNumber</td>
                                                    <td>@item.EmpType</td>
                                                    <td>@item.InvoiceType</td>
                                                    <td>@item.InvoiceNo</td>
                                                    <td>@item.dateRecieved</td>
                                                    <td>@item.InvoiceDate</td>
                                                    <td>@(item.LOBName == null ? "" : item.LOBName)</td>
                                                    <td>@item.QBClass</td>
                                                    <td>@String.Format("{0:0.00}", @item.TotalInvoiceAmount)</td>
                                                    <td>@(item.OAName != null ? item.OAName : "")</td>
                                                    <td>@String.Format("{0:0.00}", @item.AmountPaidToSP)</td>
                                                    <td>@(item.QAName != null ? item.QAName : "")</td>
                                                    <td>@String.Format("{0:0.00}", @item.AmountPaidToQA)</td>
                                                    <td>@(item.CSSPocName != null ? item.CSSPocName : "")</td>
                                                    <td>@String.Format("{0:0.00}", @item.AmountPaidToCSSPoc)</td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>

            </table>
        </td>
    </tr>


    <tr>
        <td class="footer"></td>
    </tr>
</table>
