﻿@model BLL.ViewModels.PayrollSummaryReportViewModel
@using CSS
@using BLL
@{
    ViewBag.Title = "Payroll Summary Report";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    User loggedInUserDetails = null;
    UserAssignedRight UserRight = null;
    if (loggedInUser != null)
    {
        loggedInUserDetails = css.Users.Where(x => x.UserId == loggedInUser.UserId).FirstOrDefault();
        UserRight = css.UserAssignedRights.Where(x => x.UserId == loggedInUser.UserId && x.UserRightId == 2 && x.IsActive == true).FirstOrDefault(); //(from U in css.Users join UR in css.UserAssignedRights on U.UserId equals UR.UserId where U.UserId == loggedInUser.UserId select new { U, UR }).ToList();
    }
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet"
      type="text/css" />
<script type="text/javascript">

    function cbSelect_OnChange(sourceCheckBoxId, destinationFieldId) {
        $('#' + destinationFieldId).val($('#' + sourceCheckBoxId).attr('checked') == 'checked' ? 'true' : 'false');
    }
    function btnSelectAll_Click() {
        $('[type="checkbox"]:not(:disabled)').attr('checked', 'checked');
    }
    function btnVerifyRelease_Click() {
        $("#btnProcessPayroll").hide();
        var numberOfChecked = $('input[type="checkbox"]:checkbox:checked').length;
        if (numberOfChecked > 0) {
            $("#imgProcessingPayroll").show();
            return true;
        }
        else {
            alert("No selections were made.");
            return false;
        }
    }
    function expand_Click(spId) {
        $("#imgCollapse_" + spId).show();
        $("#trDetails_" + spId).show();
        $("#imgExpand_" + spId).hide();
    }
    function collapse_Click(spId) {
        $("#imgCollapse_" + spId).hide();
        $("#trDetails_" + spId).hide();
        $("#imgExpand_" + spId).show();
    }
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
    function checkedChange(classname, ele) {
        if (ele.is(':checked')) {
            $("." + classname).prop('checked', true);
        }
        else { $("." + classname).prop('checked', false); }

    }
</script>
<div>
    @using (Html.BeginForm("IAPayrollSummaryReport", "Reporting"))
    {
        <table width="100%">
            <tr>
                <td class="mainHeader">
                    Search Filter
                </td>
            </tr>
            <tr>
                <td class="content" align="left" nowrap="nowrap">
                    Invoice Created Through: @Html.TextBoxFor(model => model.EndDate, "{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })
                    @*&nbsp;&nbsp;&nbsp;User Type: @Html.RadioButtonFor(model => model.UserTypeId,0) Both &nbsp;&nbsp;@Html.RadioButtonFor(model => model.UserTypeId,1) Service Provider &nbsp;&nbsp;@Html.RadioButtonFor(model => model.UserTypeId,8)QA Agent*@
                    @if (Model.adjusterType != BLL.ViewModels.AdjusterType.IA)
                    {
                        <text>
                            &nbsp;&nbsp;&nbsp;JobType : @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { @id = "ddlJobType", style = "width: 170px;" })
                        </text>
                    }
                    &nbsp;&nbsp;&nbsp;Payment Type : @Html.DropDownListFor(model => model.PaymentType, Model.PaymentTypesList, new { @id = "ddlPaymentType", style = "width: 170px;" })
                    &nbsp;&nbsp;@*ServiceType : @Html.DropDownListFor(model => model.ServiceTypeId, Model.ServiceTypesList, new { @id = "ddlServiceType", style = "width: 170px;" })*@
                    &nbsp;&nbsp;&nbsp;<input type="submit" value="Search" class="buttonLightYellow_100" name="submitbutton" />
                    @*@if (loggedInUser.UserTypeId != 1)
                        {*@
                    <input type="submit" value="Export" class="buttonLightYellow_100" name="submitbutton" />
                    @*}*@
                </td>
            </tr>
            <tr>
                <td class="footer">
                    <br />
                </td>
            </tr>
        </table>
    }
</div>
<br />
<br />
<div>
    @using (Html.BeginForm("PayrollSummaryReportProcess", "Reporting"))
    {
        decimal totalAmount = 0;
        double totalSpPayPercent = 0;
        @Html.HiddenFor(model => model.EndDate)
        @Html.HiddenFor(model => model.adjusterType)
        <table width="100%">
            <tr>
                <td class="mainHeader">
                    <table width="100%">
                        <tr valign="baseline">
                            <td align="left" nowrap="nowrap">IA PAYROLL SUMMARY REPORT</td>
                            <td nowrap="nowrap" align="left" style="font-size:10px;color:gray;float:right;font-weight:normal;vertical-align:baseline;">&nbsp;&nbsp;(Displaying invoices created till @Model.EndDate.ToString("MM/dd/yyyy"))</td>
                            <td align="right" width="100%" nowrap="nowrap">
                                @if (Model.PayrollSummaryReport.Count > 0)
                                {
                                    if (loggedInUserDetails.UserTypeId == 2)
                                    {
                                        <input type="button" value="Select All" onclick="btnSelectAll_Click()" class="buttonLightYellow_100" />
                                            <input id="btnProcessPayroll" type="submit" value="Process Payroll" onclick="return btnVerifyRelease_Click()" class="buttonYellow_100" />
                                            <img id="imgProcessingPayroll" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Processing Payroll" />
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                    <div style="float: left">
                        <div></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <br />
                    <table width="98%">
                        <tr>
                            <td align="right">
                                <table width="230">
                                    <tr style="color: #c8c8c8;">
                                        <td width="80">Avg. Pay</td>
                                        <td width="150" align="right">Total Payment</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @{
                            for (int i = 0; i < Model.PayrollSummaryReport.Count; i++)
                            {
                                String CheckClass = "CLChecked" + i;
                                var record = Model.PayrollSummaryReport[i];
                                totalAmount += record.Master.PaymentAmount.HasValue ? record.Details.Select(a => a.PaymentAmount).Sum() : 0;
                                totalSpPayPercent += record.Master.TotalSPPayPercentAvg.HasValue ? record.Details.Select(a => a.TotalSPPayPercent.Value).Average() : 0;
                                <tr>
                                    <td>
                                        <table width="100%">
                                            <tr style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;">
                                                <td width="196px">
                                                    @*<div style="float: left;">*@
                                                    &nbsp;&nbsp;
                                                    <a onclick="expand_Click('@(record.Master.SPId)')">
                                                        <img id="imgExpand_@(record.Master.SPId)" src="@Url.Content("~/Content/Images/plus.png")" style="cursor:pointer;" />
                                                    </a>
                                                    <a onclick="collapse_Click('@(record.Master.SPId)')">
                                                        <img id="imgCollapse_@(record.Master.SPId)" src="@Url.Content("~/Content/Images/minus.png")" style="display:none;cursor:pointer;" />
                                                    </a>&nbsp;&nbsp;
                                                    @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Master.SPId)
                                                    @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Master.PaymentAmount)
                                                    @{
                                                        if (loggedInUser.UserTypeId != 1)
                                                        {
                                                            if (record.isSelectable)
                                                            {
                                                                if (Model.PayrollSummaryReport[i].Master.SignedStatus == 1)
                                                                {
                                                                    @Html.CheckBoxFor(model => Model.PayrollSummaryReport[i].isSelected, new { onchange = "checkedChange('CLChecked" + i + "',$(this))" })
                                                                }
                                                                else
                                                                {
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @Html.CheckBox("cbDummy", false, new { @disabled = "disabled" })
                                                            }
                                                        }

                                                    }
                                                    <b>@record.Master.SPName</b>
                                                </td>
                                                @*</div>*@
                                                <td width="600px">
                                                    @*<div style="float:left;padding-left: 50px;">*@
                                                    @if (Model.PayrollSummaryReport[i].Master.SignedStatus == 0)
                                                    {
                                                        <span>
                                                            <b style="color:red">Unable To Process - SP Has No Signed Contract </b>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                        </span>
                                                    }
                                                    @*</div>*@
                                                </td>
                                                <td>
                                                    <div style="float: right">
                                                        <table width="230">
                                                            <tr>
                                                                <td width="80">@record.Details.Select(a => a.TotalSPPayPercent.Value).Average().ToString("0.00")%</td>
                                                                <td width="150" align="right"><b>$@record.Details.Select(a => a.PaymentAmount).Sum().ToString("#,0.00")</b></td>

                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                    <tr id="trDetails_@(record.Master.SPId)" style="display:none;">
                                        <td align="right">
                                        <table width="95%">
                                                <tr style="color: #c8c8c8;">
                                                <td></td>
                                                <td width="100">Invoice/RBP Date</td>
                                                <td width="100">Company</td>
                                                <td width="100">Claim #</td>
                                                <td width="100">Insured Name</td>
                                                <td width="150">Invoice #</td>
                                                @*<td width="200">Invoice Date</td>*@
                                                <td width="100">Service StartDate</td>
                                                <td width="100">Serivce EndDate</td>
                                                    <td width="200">Total Pay %age</td>
                                                    <td width="200">LOB</td>
                                                    <td width="200">Job Type</td>
                                                    <td width="200">Service Type</td>
                                                <td width="100">Payment Type</td>
                                                <td width="100">Admin Fee</td>
                                                <td align="right" nowrap="nowrap" width="100">Payment Amount ($)</td>
                                                </tr>
                                                @for (int pr = 0; pr < Model.PayrollSummaryReport[i].Details.Count; pr++)
                                                {
                                                    var detail = Model.PayrollSummaryReport[i].Details[pr];

                                                    <tr>
                                                        @if (loggedInUser.UserTypeId != 1)
                                                        {
                                                            if (Model.PayrollSummaryReport[i].Master.SignedStatus == 1)
                                                            {
                                                                <td>@Html.CheckBoxFor(x => x.PayrollSummaryReport[i].Details[pr].isAssignmentSelected, new { @class = CheckClass })</td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    <td>
                                                        @detail.InvoiceDate.Value.ToString("MM/dd/yyyy")
                                                    </td>
                                                    <td>@detail.CompanyName</td>
                                                        <td>
                                                        @if (Model.PayrollSummaryReport[i].Details[pr].PaymentType == 4 || Model.PayrollSummaryReport[i].Details[pr].PaymentType == 5)
                                                        {
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].PAId)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].PaymentType)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].PaymentAmount)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].HeadCompanyId)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].InvoiceNo)
                                                            @*@Html.ActionLink(detail.ClaimNumber, "Details", "PropertyAssignment", new { claimId = Cypher.EncryptString(detail.ClaimId.ToString()) }, null)*@
                                                        }
                                                        else
                                                        {
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].PAId)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].PaymentType)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].PaymentAmount)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].HeadCompanyId)
                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Details[pr].InvoiceNo)
                                                            {
                                                                long AssignmentID = Model.PayrollSummaryReport[i].Details[pr].AssignmentId;
                                                                int? jobid = Model.PayrollSummaryReport[i].Details[pr].JobId;
                                                                int? serviceid = Model.PayrollSummaryReport[i].Details[pr].ServiceId;
                                                                BLL.AssignmentJob AssignmentJob = css.AssignmentJobs.Where(a => a.AssignmentId == AssignmentID).FirstOrDefault();
                                                                long AssignmentJobID = AssignmentJob.AssignmentJobId;
                                                                @Html.ActionLink(detail.ClaimNumber, "GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.PayrollSummaryReport[i].Details[pr].ClaimId, Jobid = jobid, IsView = true, ServiceId = serviceid, CanAssignmentJobId = AssignmentJobID }, null)
                                                            }
                                                                }
                                                        </td>
                                                        <td>@detail.InsuredName</td>
                                                        <td>@detail.InvoiceNo</td>
                                                    @*<td>@detail.InvoiceDate.Value.ToString("MM/dd/yyyy")</td>*@
                                                    @if (detail.PaymentType == 4 || detail.PaymentType == 5)
                                                    {
                                                        <td>@detail.ServiceStartDate.Value.ToString("MM/dd/yyyy")</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                    @if (detail.PaymentType == 4 || detail.PaymentType == 5)
                                                    {
                                                        <td>@detail.ServiceEndDate.Value.ToString("MM/dd/yyyy")</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                        <td>
                                                            @if (detail.TotalSPPayPercent.HasValue)
                                                            {
                                                                <text>@detail.TotalSPPayPercent.Value.ToString("0.00")</text>
                                                            }
                                                        </td>
                                                        <td>@detail.LOB</td>
                                                        <td>@detail.JobDesc</td>
                                                        <td>@detail.ServiceName</td>
                                                        <td>@detail.PaymentTypeDesc</td>
                                                    <td>@detail.CANAdminFee.ToString("0.00")</td>
                                                    <td align="center">
                                                        @*@if (detail.PaymentAmount != 0)
                                                            {*@
                                                            <text>@detail.PaymentAmount.ToString("0.00")</text>
                                                            @*}*@
                                                        </td>
                                                    </tr>

                                                                }
                                            </table>
                                        </td>
                                    </tr>

                                                                }
                                                                if (Model.PayrollSummaryReport.Count == 0)
                                                                {
                                                                    <tr><td colspan="4" align="center">- No record found - </td></tr>
                                                                }
                                                                else { totalSpPayPercent = totalSpPayPercent / Model.PayrollSummaryReport.Count; }
                        }
                    </table>
                    @*<br />*@
                </td>
            </tr>
            @if (Model.PayrollSummaryReport.Count != 0)
                {
                <tr>
                    <td class="content" align="center">
                        <table width="98%">
                            <tr>
                                <td align="left" style="height:20px;background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;">
                                    <div style="float: left;">
                                    </div>
                                    <div style="float: right">
                                        <table width="350">
                                            <tr>
                                                <td width="120"><b>Total</b></td>
                                                <td width="80"><b>@totalSpPayPercent.ToString("0.00")%</b></td>
                                                <td width="150" align="right"><b>$@totalAmount.ToString("#,0.00")</b></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            <tr>
                <td class="footer">
                    @if (Model.PayrollSummaryReport.Count > 20)
                {
                        <div style="float: right">
                            <input id="btnProcessPayroll" type="submit" value="Process Payroll" onclick="return btnVerifyRelease_Click()" class="buttonYellow_100" />
                        </div>
                    }
                    else
                    {
                        <br />
                    }
                </td>
            </tr>
        </table>

                                                                }
</div>
<br />
<br />
