﻿@model BLL.ViewModels.ProcessedPayrollReportViewModel
@using CSS
@using BLL
@{
    ViewBag.Title = "Processed Payroll Report";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    User loggedInUserDetails = null;
    UserAssignedRight UserRight = null;
    if (loggedInUser != null)
    {
        loggedInUserDetails = css.Users.Where(x => x.UserId == loggedInUser.UserId).FirstOrDefault();
        UserRight = css.UserAssignedRights.Where(x => x.UserId == loggedInUser.UserId && x.UserRightId == 2 && x.IsActive == true).FirstOrDefault(); //(from U in css.Users join UR in css.UserAssignedRights on U.UserId equals UR.UserId where U.UserId == loggedInUser.UserId select new { U, UR }).ToList();
    }
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var payrollDate='';
    $(function () {
        var id1 = "1";
        debugger;
        $('#txtSPName').autocomplete({
            source: function (request, response) {
                $.getJSON('@Url.Action("getData", "Reporting")' + "?term=" + request.term + "&id=" + id1, function (data) {
                    response(data);
                    $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "150px", "z-index": "999999999999999" });
                });
            },
            minLength: 1,
            //delay: 1000,
            maxShowItems: 5
        });


    });
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
    function displayPayrollReport(payrollDateTime) {
        debugger;
        payrollDate=payrollDateTime;
        var basePath = '@Url.Content("~/Reports/ProcessedPayrollSummaryReport.aspx")';
        var payrollDateTime = 'PayrollDate=' + payrollDateTime;
        var JobTypeId = 'JobTypeId=' + @((Int16)Model.adjusterType);//$('#ddlJobType').val();
        var ServiceTypeId = 'ServiceTypeId=0';

        //var ServiceTypeId = 'ServiceTypeId=' +$('#ddlServiceType').val();
        var reportPath = basePath + '?' + payrollDateTime;
        @*@if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 12)*@
        @if (loggedInUserDetails.UserTypeId == 1 || loggedInUserDetails.UserTypeId == 12)
        {
           @:var SPId = 'SPId=@loggedInUser.UserId.ToString()';
                   @:reportPath = reportPath + '&' + SPId;
                }

        reportPath = reportPath + '&' + JobTypeId;
        var SPNametxt = $("#txtSPName").val();
        var PrintasTxt = $("#txtPrintAs").val();
        if (SPNametxt != null && SPNametxt != "") {
            var SPName = 'SPName=' + SPNametxt;
            reportPath = reportPath + '&' + SPName;
        }
        if (PrintasTxt != null && PrintasTxt != "") {
            var PrintAs = 'PrintAs=' + PrintasTxt;
            reportPath = reportPath + '&' + PrintAs;
        }
        reportPath = reportPath + '&' + ServiceTypeId;
        document.getElementById('iFReport').src = reportPath;
        $("#DivSungardFormat").show();
    }

    function IAPayrollPaycomExport(ReportName) {
        debugger;
        if (payrollDate != null && payrollDate != undefined && payrollDate != "") {
            var URL = '@Url.Action("IAPayrollPaycomExport", "Reporting")'
            var PayrollDateTime = "PayrollDateTime=" + payrollDate;
            //var JobTypeID = "JobTypeID=" + $('#ddlJobType').val();
           // var ServiceTypeID = "ServiceTypeID=" + $('#ddlServiceType').val();
           URL = URL + "?" + PayrollDateTime + "&ReportName="+ReportName;
           window.open(URL,"_blank");
           //window.close(URL);
            //location.reload();
        }
        else {
            alert("Select payroll date");
        }
    }
</script>
@using (Html.BeginForm("IAPayrollHistoryReport", "Reporting", FormMethod.Post))
{
    <table width="100%">
        <tr>
        <td width="28%" valign="top">
<table width="100%">
                    <tr>
                        <td class="mainHeader">Search Payroll</td>
                    </tr>
                    <tr>
                        <td class="content">
                            <table>
                                <tr><td>Start Date: </td><td>@Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })</td></tr>
                                <tr><td>End Date: </td><td>@Html.TextBoxFor(model => model.EndDate, "{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })</td></tr>
			<tr>
                <td>SP Name : </td>
                <td>
                    @*<input type="hidden" name="SPName" id="hdnSPName" value="@Model.SPName" />
                    <input type="text" name="txtSPName" id="txtSPName" style="width:100px;" value="@Model.SPName">*@
                @Html.TextBoxFor(model => model.SPName, new { @id = "txtSPName", @style = "width:100px;"})
                @*<input autocomplete="off" id="txtSP" name="SPName" style="width:100px;" type="text" value="" class="ui-autocomplete-input" role="textbox" aria-autocomplete="list" aria-haspopup="true">*@
                </td>
            </tr>
				
            <tr>
                <td>Payee Name : </td>
                <td>
                    @Html.TextBoxFor(model => model.PrintAsName, new {@id = "txtPrintAs", @style = "width:100px;" })
                </td>
            </tr>
                        @*@if(Model.adjusterType==BLL.ViewModels.AdjusterType.CAN)
                                {
                                    <tr><td>JobType:</td><td>@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { @id = "ddlJobType", style = "width: 150px;" })</td></tr>
                                }
                        <tr><td>ServiceType:</td><td>@Html.DropDownListFor(model => model.ServiceTypeId, Model.ServiceTypesList, new { @id = "ddlServiceType", style = "width: 150px;" })</td></tr>*@
                                <tr><td></td><td align="right"> </td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="footer" align="right">
                            <input type="submit" value="Search" class="buttonLightYellow_100" name="submitbutton"/>
                            <input type="submit" value="Export" class="buttonLightYellow_100" name="submitbutton"/>
                        </td>
                    </tr>
                </table>

                <table width="100%">
                    <tr>
                        <td class="mainHeader">@(loggedInUser.UserTypeId == 1 ? "SP " : "")Payroll History</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>
                                            <b>Payroll<br/>Date</b>
                                        </td>
                                        <td width="10%">
                                            <b>Quickbooks<br/>Posting Date</b>
                                        </td>
                                        <td align="center">
                                            <b>Processed<br/>By</b>
                                        </td>
                                        <td width="5%" align="center">
                                            <b>Processed</b>
                                        </td>
                                    </tr>
                                </thead>

                                @foreach (var payrollDate in Model.PayrollDates)
                                {
                                    string[] PayrollDateData = payrollDate.Split('+');
                                    <tr>
                                        <td>
                                            <a href="#" onclick="displayPayrollReport('@PayrollDateData[0].ToString()')" style="text-decoration:none;">@PayrollDateData[0].ToString()</a>
                                        </td>
                                        <td>
                                            @PayrollDateData[3].ToString()
                                        </td>
                                        <td align="center">
                                            @PayrollDateData[1].ToString()
                                        </td>
                                        <td align="center">
                                            @if (PayrollDateData[2].ToString() == "True")
                                            {
                                                <img src="~/Content/Images/Approve.png" title="Processed" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            }
                                        </td>
                                    </tr>

                                }
                            </table>
                        </td>
                        @*<td class="content">

                            <br />
                            <ul>
                                @foreach (var payrollDate in Model.PayrollDates)
                                {
                                    <li><a href="#" onclick="displayPayrollReport('@payrollDate')" style="text-decoration:none;"> @payrollDate</a></li>
                                }
                            </ul>
                            </td>*@
                    </tr>
                    <tr>
                        <td class="footer">
                            <br />
                        </td>
                    </tr>
                </table>
            </td>
        <td width="72%" valign="top">
                <table width="100%">
                    <tr><td class="mainHeader">IA PAYROLL HISTORY REPORT
                            @if (loggedInUser.UserTypeId != 1)
                            {
                                <div style="float:right;display:none" id="DivSungardFormat">
                                      <button type="button" class="buttonLightYellow_100" onclick="IAPayrollPaycomExport('W2')" id="btnInvoiceExport">W2 Report</button>
                                     &nbsp;&nbsp;<button type="button" class="buttonLightYellow_100" onclick="IAPayrollPaycomExport('1099')" id="btnInvoiceExport">1099 Report</button>
                                </div>
                            }</td></tr>
                    <tr>
                        <td class="content">
                            <iframe id="iFReport" frameborder="0" width="100%" height="1350px"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td class="footer"><br /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}