﻿@model BLL.ViewModels.IntacctLogReportViewModel

@{
    ViewBag.Title = "IntacctLogReport";
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });

    function expandSearchFilter() {

        document.getElementById("SearchContent").style.display = "table-row";
        //document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("SearchContent").style.display = "none";
        //document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }


    $(document).ready(function ()
    {
        showView(0);
        element2 = document.getElementById('p1');
        $(element2).addClass('TabChange');

    })
    function showView(id) {
        element = document.getElementById('divVendor');
        element.style.display = 'none';
        element = document.getElementById('divCustomer');
        element.style.display = 'none';
        element = document.getElementById('divBill');
        element.style.display = 'none';
        element = document.getElementById('divPayment');
        element.style.display = 'none';
        element = document.getElementById('divInvoice');
        element.style.display = 'none';

        if (id == 0) {
            element = document.getElementById('divVendor');
            element.style.display = 'block';
            changecss();

        }
        else if (id == 1) {
            element = document.getElementById('divBill');
            element.style.display = 'block';
            changecss();
        }
        else if (id == 2) {
            element = document.getElementById('divCustomer');
            element.style.display = 'block';
            changecss();
        }
        else if (id == 3) {
            element = document.getElementById('divInvoice');
            element.style.display = 'block';
            changecss();
        }
        else if (id == 4) {
            element = document.getElementById('divPayment');
            element.style.display = 'block';
            changecss();
        }

    }

    function changecss() {
        $('#tabtable tr td a').on('click', function () {
            debugger;
            var a1 = $(this).parents('tr').find('td .TabChange');
            var a2 = $(this).parent('td');
            $(a1).removeClass('TabChange');
            $(a2).addClass('TabChange');

        })
    }
    $('#btnReport').click(function ()
    {
        debugger;
        GetLogList();
    })

    function GetLogList()
    {
        debugger;
         date1 = $('#FromDate').val();
         date2 = $('#ToDate').val();
         $.ajax(
                    {
                        method: "POST",
                        url: '@Url.Action("IntacctLogReport", "Reporting")',
                       // data: $("#formId").serialize(),
                        data: { fromdate: date1, todate: date2 },
                        success: function (data) {
                            console.log("success");
                        },
                        error: function (data) {
                        }
                    })
    }



</script>
<style>
    .TabChange {
        background-color: #b2b2b2;
    }

        .TabChange a {
            color: white;
        }
</style>

@using (Html.BeginForm("IntacctLogReport", "Reporting", FormMethod.Post, new { @id = "formId" }))
{
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <a id="lblSearchExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Filter</a>
                <a id="lblSearchCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;


            </td>
        </tr>
        <tr id="SearchContent">
            <td class="content">
                <div style="float: left;">
                    From Date: @Html.TextBoxFor(model => model.FromDate, Model.FromDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                    To Date: @Html.TextBoxFor(model => model.ToDate, Model.ToDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                </div>

            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" id="btnReport" value="Generate Report" class="buttonLightYellow_100" name="SubmitButton" />
                <input type="submit" value="Export" class="buttonLightYellow_100" name="SubmitButton" />
            </td>
        </tr>
    </table>
}

<div style="padding-top:20px">
    <table width="100%">
        <tr>
            <td class="mainHeader">Intacct Error Log Report</td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table cellpadding="3" cellspacing="0" id="tabtable"
                       style="border-top-style: solid; border-bottom-style: solid; border-width: 1px; border-color: #999999"
                       width="100%">
                    <tr>
                        <td align="center" id="p1">
                            <a href="#" onclick="showView(0)">Vendor</a>
                        </td>
                        <td align="center"
                            style="border-left-style: solid; border-width: 1px; border-color: #999999">
                            <a href="#" onclick="showView(1)">Bill</a>
                        </td>
                        <td align="center"
                            style="border-left-style: solid; border-width: 1px; border-color: #999999">
                            <a href="#" onclick="showView(2)">Customer</a>
                        </td>
                        <td align="center"
                            style="border-left-style: solid; border-width: 1px; border-color: #999999">
                            <a href="#" onclick="showView(3)">Invoice</a>
                        </td>
                        <td align="center"
                            style="border-left-style: solid; border-width: 1px; border-color: #999999">
                            <a href="#" onclick="showView(4)">Payment</a>
                        </td>


                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <div id="divVendor" style="display:none">
                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <br />
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="mainHeader">Vendor</td>
                                        </tr>
                                        <tr>
                                            <td class="content">
                                                <table cellpadding="3" cellspacing="0" width="100%">
                                                    <thead class="tableHeader">
                                                        <tr valign="top">
                                                            <td>FirstName</td>
                                                            <td>LastName</td>
                                                            <td>DBA FirmName</td>
                                                            <td>Payee Print Name</td>
                                                            <td>Email</td>
                                                            <td>Registered Date</td>
                                                            <td>IsActive</td>
                                                            <td>Proposed Intacct VendorId</td>
                                                            <td>Date BridgingFailed</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.VendorList)
                                                        {
                                                            <tr class="tableRow">
                                                                <td>@item.FirstName</td>
                                                                <td>@item.LastName</td>
                                                                <td>@item.DBAFirmName</td>
                                                                <td>@item.IntacctPrintAs</td>
                                                                <td>@item.Email</td>
                                                                <td>@item.RegisteredDate</td>
                                                                <td>@item.IsActive</td>
                                                                <td>@item.ProposedIntacctVendorId</td>
                                                                <td>@item.DateBridgingFailed</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
                <div id="divBill" style="display:none">
                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <br />
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="mainHeader">Bill</td>
                                        </tr>
                                        <tr>
                                            <td class="content">
                                                <table cellpadding="3" cellspacing="0" width="100%">
                                                    <thead class="tableHeader">
                                                        <tr valign="top">
                                                            <td>SP</td>
                                                            <td>IntacctVendorID</td>
                                                            <td>Payee PrintName</td>
                                                            <td>DBA FirmName</td>
                                                            <td>Email</td>
                                                            <td>PaymentDate</td>
                                                            <td align="right">Total Due</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.BillList)
                                                        {
                                                            <tr class="tableRow">
                                                                <td>@item.SP</td>
                                                                <td>@item.IntacctVendorId</td>
                                                                <td>@item.Intacctprintas</td>
                                                                <td>@item.DBA_LLC_Firm_Corp</td>
                                                                <td>@item.Email</td>
                                                                <td>@item.PayrollDate</td>
                                                                <td align="right">$@item.TotalDue.ToString("0.00")</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
                <div id="divCustomer" style="display:none">
                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <br />
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="mainHeader">Customer</td>
                                        </tr>
                                        <tr>
                                            <td class="content">
                                                <table cellpadding="3" cellspacing="0" width="100%">
                                                    <thead class="tableHeader">
                                                        <tr valign="top">
                                                            <td>CompanyName</td>
                                                            <td>Address</td>
                                                            <td>City</td>
                                                            <td>State</td>
                                                            <td>Zip</td>
                                                            <td>IsActive</td>
                                                            <td>Proposed Intacct CustomerId</td>
                                                            <td>Date BridgingFailed</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.CustomerList)
                                                        {
                                                            <tr class="tableRow">
                                                                <td>@item.CompanyName</td>
                                                                <td>@item.Address</td>
                                                                <td>@item.City</td>
                                                                <td>@item.State</td>
                                                                <td>@item.Zip</td>
                                                                <td>@item.Active</td>
                                                                <td>@item.ProposedIntacctCustomerId</td>
                                                                <td>@item.DateBridgingFailed</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
                <div id="divInvoice" style="display:none">
                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <br />
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="mainHeader">Invoice</td>
                                        </tr>
                                        <tr>
                                            <td class="content">
                                                <table cellpadding="3" cellspacing="0" width="100%">
                                                    <thead class="tableHeader">
                                                        <tr valign="top">
                                                            <td>Customer</td>
                                                            <td>IntacctCustomerId</td>
                                                            <td>ClaimNumber</td>
                                                            <td>InvoiceNo</td>
                                                            <td align="right">InvoiceTotal</td>
                                                            <td>InvoiceDate</td>
                                                            <td>Date BridgingFailed</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.InvoiceList)
                                                        {
                                                            <tr class="tableRow">
                                                                <td>@item.Customer</td>
                                                                <td>@item.IntacctCustomerId</td>
                                                                <td>@item.ClaimNumber</td>
                                                                <td>@item.InvoiceNo</td>
                                                                <td align="right">$@item.InvoiceTotal.ToString("0.00")</td>
                                                                <td>@item.InvoiceDate</td>
                                                                <td>@item.DateBridgingFailed</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
                <div id="divPayment" style="display:none">
                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <br />
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="mainHeader">Payment</td>
                                        </tr>
                                        <tr>
                                            <td class="content">
                                                <table cellpadding="3" cellspacing="0" width="100%">
                                                    <thead class="tableHeader">
                                                        <tr valign="top">
                                                            <td width="15%">Customer</td>
                                                            <td width="10%">Intacct CustomerId</td>
                                                            <td width="10%">Claim Number</td>
                                                            <td width="10%">InvoiceNo</td>
                                                            <td>Intacct InvoiceId</td>
                                                            <td align="right" width="10%">Invoice Total</td>
                                                            <td width="15%">Invoice Date</td>
                                                            <td align="right" width="5%">Amount Received</td>
                                                            <td width="10%">Received Date</td>
                                                            <td width="15%">Date BridgingFailed</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.PaymentList)
                                                        {
                                                            <tr class="tableRow">
                                                                <td>@item.Customer</td>
                                                                <td>@item.IntacctCustomerId</td>
                                                                <td>@item.ClaimNumber</td>
                                                                <td>@item.InvoiceNo</td>
                                                                <td>@item.IntacctInvoiceId</td>
                                                                <td align="right">$@item.InvoiceTotal.ToString("0.00")</td>
                                                                <td>@item.InvoiceDate</td>
                                                                <td align="right">$@item.AmountReceived.ToString("0.00")</td>
                                                                <td>@item.ReceivedDate.ToString("MM/dd/yyyy")</td>
                                                                <td>@item.DateBridgingFailed</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                    </table>
                </div>

            </td>
        </tr>

    </table>
</div>








