﻿@model BLL.ViewModels.InvoicePaymentReportViewModel

@{
    ViewBag.Title = "Payment Report";
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });


    $('#btnReport').click(function ()
    {
        debugger;
        GetReportList();
        //element = document.getElementById('divPayment');
        //element.style.display = 'block';
    })
    function GetReportList() {
        debugger;
        $.ajax(
                   {
                       method: "POST",
                       url: '@Url.Action("InvoicePaymentReport", "Reporting")',
                       data: $("#formId").serialize(),
                       success: function (data) {
                           console.log("success");
                       },
                       error: function (data) {
                       }
                   })
    }


</script>

@using (Html.BeginForm("InvoicePaymentReport", "Reporting", FormMethod.Post, new { @id = "formId" }))
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Filters</td>
        </tr>
        <tr>
            <td class="content">
                <div style="float: left;">
                     
                     Company Name: @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesList)
                    
                </div>
                <div>
                    &nbsp;&nbsp;
                    Start Date: @Html.TextBoxFor(model => model.StartDate, Model.StartDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                    &nbsp;&nbsp;End Date:@Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" id="btnReport" value="Generate Report" class="buttonLightYellow_100" name="SubmitButton"/>
                <input type="submit" value="Export" class="buttonLightYellow_100" name="SubmitButton" />
            </td>
        </tr>
    </table>
}

<div style="padding-top:20px">
    <table width="100%">
        <tr>
            <td class="mainHeader">Payment Report</td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
        </tr>
        
        <tr>
            <td>
                <div id="divPayment">
                    <table align="left" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <br />
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tbody>
                                        
                                        <tr>
                                            <td class="content">
                                                <table cellpadding="3" cellspacing="0" width="100%">
                                                    <thead class="tableHeader">
                                                        <tr valign="top">
                                                            <td width="20%">Client</td>
                                                            <td>Claim Number</td>
                                                            <td>Property State</td>
                                                            <td>Invoice Number</td>
                                                            <td align="right">Invoice Total</td>
                                                            <td width="20%">Invoice Date</td>
                                                            <td width="10%">PaymentPosted Date</td>
                                                            <td align="right">PaymentPosted Amount</td>
                                                            <td align="right">Balance Due</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.ReportList != null)
                                                        {
                                                            foreach (var item in Model.ReportList)
                                                            {
                                                                <tr class="tableRow">
                                                                    <td>@item.Client</td>
                                                                    <td>@item.ClaimNumber</td>
                                                                    <td>@item.PropertyState</td>
                                                                    <td>@item.InvoiceNumber</td>
                                                                    <td align="right">$@item.InvoiceTotal.Value.ToString("0.00")</td>
                                                                    <td>@item.InvoiceDate</td>
                                                                    <td>@item.PaymentPostedDate.Value.ToString("MM/dd/yyyy")</td>
                                                                    <td align="right">$@item.PaymentPostedAmount.Value.ToString("0.00")</td>
                                                                    <td align="right">$@item.BalanceDue.Value.ToString("0.00")</td>
                                                                </tr>
                                                            }
                                                        }
                                                       
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
                

            </td>
        </tr>

    </table>
</div>





