﻿@model BLL.ViewModels.PaymentReportViewModel
@{
    ViewBag.Title = "Payment Report";
}
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });

</script>
@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Filters</td>
        </tr>
        <tr>
            
            <td class="content">
                <div style="float: left;">
                    Client: @Html.DropDownListFor(model => model.HeadCompanyId, Model.CompaniesList)

                </div>
                <div>
                    &nbsp;&nbsp;
                    Payment Received From Date :
                    @Html.TextBoxFor(model => model.PaymentReceivedFromDate, Model.PaymentReceivedFromDate.HasValue ? Model.PaymentReceivedFromDate.Value.ToString("MM/dd/yyyy") : "", new { @class = "DatePickerTextBox", @style = "width:120px;" })

                    &nbsp;&nbsp;To Date :
                    @Html.TextBoxFor(model => model.PaymentReceivedToDate, Model.PaymentReceivedToDate.HasValue ? Model.PaymentReceivedToDate.Value.ToString("MM/dd/yyyy") : "", new { @class = "DatePickerTextBox", @style = "width:120px;" })
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" value="Payment History" class="buttonLightYellow_100" />
            </td>
        </tr>
    </table>
    <table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">Payment History Report</td>
    </tr>
    <tr>
        <td class="content">
            <iframe src="@Url.Content(Model.ReportURL)" frameborder="0" width="100%" height="750px"></iframe>
        </td>
    </tr>
    <tr>
        <td class="footer"></td>
    </tr>
</table>

}

