﻿@*@model DateTime*@
@{
    ViewBag.Title = "Payroll Summary Report";
}

<table width="98%">
    <tr>
        <td class="mainHeader">Payroll Summary Report Success</td>
    </tr>
    <tr>
        <td class="content" align="center">Payroll for the selected Service Providers have been processed.<br />
            @*<table align="center" width="100%">
                <tr>
                    <td class="content">
                       @if (ViewBag.jobID==6)
                       {                       
                         <iframe src="@Url.Content("~/Reports/ProcessedPayrollSummaryReport.aspx?PayrollDate=" + Model + "&JobTypeId=" + ViewBag.jobID)" frameborder="0" width="100%" height="1350px"></iframe>
                       }
                       else{
                        <iframe src="@Url.Content("~/Reports/ProcessedPayablesSummaryReport.aspx?PayrollDate=" + Model + "&JobTypeId=" + ViewBag.jobID)" frameborder="0" width="100%" height="1350px"></iframe>

                       }
                      </td>
                </tr>
                <tr>
                    <td class="footer"></td>
                </tr>
            </table>*@


        </td>
    </tr>
    <tr>
        <td class="footer">
            <br />
        </td>
    </tr>
</table>
