﻿@model BLL.ViewModels.ProcessedPayrollReportViewModel
@using CSS
@{
    ViewBag.Title = "Processed Payroll Report";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
    function displayPayrollReport(payrollDateTime) {
        debugger;
        var basePath = '@Url.Content("~/Reports/ProcessedPayrollSummaryReport.aspx")';
        var payrollDateTime = 'PayrollDate=' + payrollDateTime;
        var JobTypeId = 'JobTypeId=' + $('#ddlJobType').val();

        var reportPath = basePath + '?' + payrollDateTime;
        @if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 12)
        {
            //@:var SPId = 'SPId=@Cypher.EncryptString(loggedInUser.UserId.ToString())';
           @:var SPId = 'SPId=@loggedInUser.UserId.ToString()';
            @:reportPath = reportPath + '&' + SPId;
        }

        reportPath = reportPath + '&' + JobTypeId;
        document.getElementById('iFReport').src = reportPath;
    }

</script>
@using (Html.BeginForm("ProcessedPayrollReport", "Reporting", FormMethod.Post))
            { 
<table width="100%">
    <tr>
        <td width="20%" valign="top">
<table>
 <tr>
                    <td class="mainHeader">Search Payroll</td>
                </tr>
<tr>
                    <td class="content"><table>
<tr><td>Start Date: </td><td>@Html.TextBoxFor(model => model.StartDate,"{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })</td></tr>
<tr><td>End Date: </td><td>@Html.TextBoxFor(model => model.EndDate,"{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })</td></tr>
                        <tr><td>JobType:</td><td>@Html.DropDownListFor(model => model.JobTypeId, Model.JobTypesList, new { @id = "ddlJobType", style = "width: 150px;" })</td></tr>
                        <tr><td>ServiceType:</td><td>@Html.DropDownListFor(model => model.ServiceTypeId, Model.ServiceTypesList, new { @id = "ddlServiceType", style = "width: 150px;" })</td></tr>
<tr><td></td><td align="right"> </td></tr>
</table></td></tr>
 <tr>
                    <td class="footer" align="right">
                        <input type="submit" value="Search" class="buttonLightYellow_100" />
                    </td>
                </tr>
</table>

            <table width="98%">
                <tr>
                    <td class="mainHeader">@(loggedInUser.UserTypeId == 1? "SP ":"")Payroll History</td>
                </tr>
                <tr>
                    <td class="content">

<br />
                        <ul>
                            @foreach (var payrollDate in Model.PayrollDates)
                            {
                                <li><a href="#" onclick="displayPayrollReport('@payrollDate')" style="text-decoration:none;"> @payrollDate</a></li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        <br />
                    </td>
                </tr>
            </table>
        </td>
        <td width="80%">
            <table width="100%">
                <tr><td class="mainHeader">Processed Payroll Report</td></tr>
                <tr>
                    <td class="content">
                        <iframe id="iFReport" frameborder="0" width="100%" height="1350px"></iframe>
                    </td>
                </tr>
                <tr>
                    <td class="footer"><br /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}