﻿@model BLL.ViewModels.SPAddonFeeReportViewModel
@{
    ViewBag.Title = "SPAddonFeeReport";
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<style>
    .companydropdown {
        height: 150px;
        overflow: scroll;
        position: absolute;
        background: white;
        margin-top: 0px;
        z-index: 999999999999;
    }

    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 200px;
        height: auto;
        overflow-y: scroll;
        position: absolute;
        overflow-x: scroll;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });



    $(document).ready(function () {
        var expanded = false;
        $('#divSPInvoiceReport').on('click', function (e) {

            if ($(e.target.parentNode).is("label")) {
                if (!expanded) {
                    expanded = true;
               }
                else {
                    expanded = false;
                }


            }
            else {
                if (!$(e.target.parentNode).is("div.selectBox")) {
                    expanded = false;
                }
            }



        });
    });

    //$(document).ready(function () {

    //    GetLineOfBussinessList();

    //});


    $(function () {
        debugger;
        $('#ddlInsuranceCompany').change(function () {
            GetLineOfBussinessList();
        });

    });

    function GetLineOfBussinessList() {
        debugger;
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        $("#imgLOBListLoading").show();
        $('#ddlLineOfBussiness').empty();
        $('#ddlLineOfBussiness').append($('<option/>').attr('value', "0").text("--Select--"));
        $.getJSON('@Url.Content("~/PropertyAssignment/GetLineOfBussinessList")',
                   { companyId: selectedCategoryId },
                   function (subcategories) {
                       var subsSelect = $('#ddlLineOfBussiness');
                       $('#ddlLineOfBussiness').empty();
                       $.each(subcategories, function (index, subcat) {
                           subsSelect.append(
                               $('<option/>')
                                   .attr('value', subcat.Value)
                                   .text(subcat.Text)
                           );
                       });
                       $("#imgLOBListLoading").hide();
                   });
    }


    function ClearSearchFilters() {
        $("#txtStartDate").val(null);
        $("#txtEndDate").val(null);
        $("#ddlInsuranceCompany").val(null);
        $("#ddlLineOfBussiness").val(null);
    }

</script>

@using (Html.BeginForm("SpAddonFeeReport", "Reporting", FormMethod.Post, new { id = "frmSPAddonFeeReport" }))
{
    <div id="divSPInvoiceReport">
        <table width="100%">
            <tr>
                <td class="mainHeader">Report Filters</td>
            </tr>
            <tr>
                <td class="content">
                    <table>
                        <tr>
                            <td nowrap="nowrap">Start Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.StartDate, Model.StartDate.HasValue ? Model.StartDate.Value.ToString("MM/dd/yyyy") : "", new { @Id = "txtStartDate", @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                            <td nowrap="nowrap">End Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.EndDate, Model.EndDate.HasValue ? Model.EndDate.Value.ToString("MM/dd/yyyy") : "", new { @Id = "txtEndDate", @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                            <td nowrap="nowrap">Insurance Company:</td>
                            <td nowrap="nowrap">
                                @Html.DropDownListFor(model => model.CompanyIds, Model.CompaniesList, new { @id = "ddlInsuranceCompany" })
                            </td>
                            <td nowrap="nowrap">
                                Line of Business
                            </td>
                            <td nowrap="nowrap">
                                @Html.DropDownListFor(model => model.LOBId, Model.LineOfBusinessList, new { style = "width: 250px;", @id = "ddlLineOfBussiness" })
                                <img id="imgLOBListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer" align="right">
                    <input type="button" value="Clear" class="buttonLightYellow_100" onclick="ClearSearchFilters()" />
                    @*<input type="submit" value="Search" class="buttonLightYellow_100" />*@
                    <input type="submit" value="Search" class="buttonLightYellow_100" name="SubmitButton" />
                    <input type="submit" value="Export" class="buttonLightYellow_100" name="SubmitButton" />
                </td>
            </tr>
        </table>
    </div>
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">LOB AddOn Fee Report</td>
    </tr>
    <tr>
        <td>
            <br />
            <table align="left" cellpadding="3" cellspacing="0" width="100%">
                <tbody>

                    <tr>
                        <td class="content">
                            <table cellpadding="3" cellspacing="0" width="100%">
                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td>Company Name</td>
                                        <td>LOB Description</td>
                                        <td>Fee Description</td>
                                        <td>Total Amount</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SPAddonFeeReportGetList)
                                    {
                                        <tr class="tableRow">
                                            <td>@item.CompanyName</td>
                                            <td>@item.LOBDesc</td>
                                            <td>@item.FeeName</td>
                                            <td>@item.TotalAmount.Value.ToString("0.00")</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>

            </table>
        </td>
    </tr>


    <tr>
        <td class="footer"></td>
    </tr>
</table>
