﻿@model BLL.ViewModels.SPDetailReportViewModel

@{
    ViewBag.Title = "SPDetailReport";
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
      });

</script>
@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Filters</td>
        </tr>
        <tr>
            <td class="content">
                <table>


                    <tr>
                         <td nowrap="nowrap" align="right">Start Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.StartDate,Model.StartDate.Value.ToString("MM/dd/yyyy"), new { @class="DatePickerTextBox", @style="width:120px;"})</td>
                        <td nowrap="nowrap" align="right">End Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.EndDate, Model.EndDate.Value.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style="width:120px;" })</td>
                        
                    </tr>
                    <tr>
                        
                         <td nowrap="nowrap" align="right">Company:</td>
                        <td>@Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, new { @style="width:200px;"})</td>
                        <td nowrap="nowrap" align="right">Type Of Loss</td>
                        <td nowrap="nowrap" align="right">@Html.DropDownListFor(model => model.TypeOfLossId, Model.TypeOfLossList, new { @style="width:170px;"})</td>
                        
                    </tr>

                   
                </table>
                
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" value="Refresh Report" class="buttonLightYellow_100" /></td>
        </tr>
    </table>
    <div>
    </div>
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">SPDetail Report</td>
    </tr>
    <tr>
        <td class="content">
            <iframe src="@Url.Content(Model.ReportURL)" frameborder="0" width="100%" height="800px" scrolling="auto"></iframe>
        </td>
    </tr>
    <tr>
        <td class="footer"></td>
    </tr>
</table>
