﻿@model BLL.ViewModels.SPPayrollReportViewModel
@using CSS
@{
    ViewBag.Title = "SP Invoice BreakDown Report";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<style type="text/css">
   div.maintable{
  width: 100%;
  overflow-x: scroll;
   }
    </style>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"
        });
    });
</script>

@using (Html.BeginForm("SPInvoiceBreakDownReport", "Reporting", FormMethod.Post, new { id = "frmSPInvoice" }))
{

    <div id="divSPInvoiceReport">
        <table width="100%">
            <tr>
                <td class="mainHeader">Search Payroll</td>
            </tr>
            <tr>
                <td class="content">
                    <table>
                        <tr>
                            <td nowrap="nowrap">Start Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.SelectedPayrollStartDate, Model.SelectedPayrollStartDate.HasValue ? Model.SelectedPayrollStartDate.Value.ToString("MM/dd/yyyy") : "", new { @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                            <td nowrap="nowrap">End Date:</td>
                            <td nowrap="nowrap">@Html.TextBoxFor(model => model.SelectedPayrollEndDate, Model.SelectedPayrollEndDate.HasValue ? Model.SelectedPayrollEndDate.Value.ToString("MM/dd/yyyy") : "", new { @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer" align="right">
                    <input type="submit" value="Search" class="buttonLightYellow_100" name="SubmitButton" />
                    <input type="submit" value="Export" class="buttonLightYellow_100" name="SubmitButton" />
                </td>
            </tr>
        </table>
    </div>

    
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">SP Pay Breakdown Report</td>
    </tr>
    <tr>
        <td>
            <br />
            <div class="maintable">
            <table align="left" cellpadding="4" cellspacing="0" width="100%">
                <tbody>

                    <tr>
                        <td class="content">
                            <table cellpadding="4" cellspacing="0" width="130%">
                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td>SP Name</td>
                                        <td>EMP Type</td>
                                        <td>LOB</td>
                                        <td>QB Class</td>
                                        <td>PayCode</td>
                                        <td>Invoice Type</td>
                                        <td>Invoice No</td>
                                        <td>Invoice Date</td>
                                        <td>Client</td>
                                        <td>Claim No</td>
                                        <td>Insured Name</td>
                                        <td>Loss Date</td>
                                        <td width="10%">Loss Address</td>
                                        <td>Loss State</td>
                                        <td>Loss Zip</td>
                                        <td>Item</td>
                                        <td>Amount</td>
                                        <td>Comm. Rate</td>
                                        <td>Resource Amount</td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.SPInvoiceReportList != null && Model.SPInvoiceReportList.Count > 0)
                                    {
                                        foreach (var SP in Model.SPInvoiceReportList)
                                        {
                                            <tr>
                                                <td>@SP.ContractorOrSPName</td>
                                                <td>@SP.EmpType</td>
                                                <td>@SP.LOB</td>
                                                <td>@SP.QBClass</td>
                                                <td>@SP.PayCode</td>
                                                <td>@SP.InvoiceType</td>
                                                <td>@SP.InvoiceNo</td>
                                                <td>@SP.InvoiceDate</td>
                                                <td>@SP.CompanyName</td>
                                                <td>@SP.ClaimNumber</td>
                                                <td>@SP.InsuredName</td>
                                                <td>@SP.DateofLoss</td>
                                                <td>@SP.LossAddress</td>
                                                <td>@SP.LossState</td>
                                                <td>@SP.LossZip</td>
                                                <td>@SP.Item</td>
                                                <td>$@SP.Amount.ToString("0.00")</td>
                                                <td>@SP.CommisionRate</td>
                                                <td>$@(SP.ResourceAmount !=0 ? SP.ResourceAmount.ToString("0.00") : "")</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>

            </table>
                </div>
        </td>
    </tr>


    <tr>
        <td class="footer"></td>
    </tr>
</table>



@*<table width="100%">
    <tr>
        <td width="25%" valign="top">
            <table width="100%">
                <tr>
                    <td class="mainHeader">Search Payroll</td>
                </tr>
                <tr>
                    <td class="content">
                        Payroll Date:-
                        @Html.DropDownListFor(model => model.SelectedPayrollDate, Model.PayrollDates)
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        <input type="submit" value="Search" class="buttonLightYellow_100" name="SubmitButton" />
                        <input type="submit" value="Export" class="buttonLightYellow_100" name="SubmitButton" />
                    </td>
                </tr>
            </table>
        </td>
        <td width="75%">
            <table width="100%">
                <tr><td class="mainHeader">Processed SP Invoice Report</td></tr>
                <tr>
                    <td class="content">
                        <table width="100%">
                            <tr><td colspan="10">Run Date:- @Model.SelectedPayrollDate</td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <th width="200">SP Name</th>
                                <th width="200">EMP Type</th>
                                <th width="200">PayCode</th>
                                <th width="200">Invoice Type</th>
                                <th width="200">Invoice No</th>
                                <th width="200">Invoice Date</th>
                                <th width="200">Client</th>
                                <th width="200">Claim No</th>
                                <th width="200">Insured Name</th>
                                <th width="200">Loss Date</th>
                                <th width="200">Loss Address</th>

                            </tr>
                            @if (Model.SPInvoiceReportList != null && Model.SPInvoiceReportList.Count > 0)
                            {
                                foreach (var SP in Model.SPInvoiceReportList)
                                {
                                    <tr>
                                        <td>@SP.ContractorOrSPName</td>
                                        <td>@SP.EmpType</td>
                                        <td>@SP.Paycode</td>
                                        <td>@SP.InvoiceType</td>
                                        <td>@SP.InvoiceNo</td>
                                        <td>@SP.InvoiceDate</td>
                                        <td>@SP.CompanyName</td>
                                        <td>@SP.ClaimNumber</td>
                                        <td>@SP.InsuredName</td>
                                        <td>@SP.DateofLoss</td>
                                        <td>@SP.LossAddress</td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="footer"><br /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>*@