﻿@model BLL.ViewModels.SPPayrollReportViewModel
@using CSS
@{
    ViewBag.Title = "SP Payroll History Report";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"
    });
    });
    </script>
@using (Html.BeginForm("SPPayrollReport", "Reporting", FormMethod.Post, new { id = "frmPayroll" }))
{
    <table width="100%">
        <tr>
            <td width="25%" valign="top">
                <table width="100%">
                    <tr>
                        <td class="mainHeader">Search Payroll</td>
                    </tr>
                    <tr>
                        <td class="content">
                            @*Payroll Date:-
                    @Html.DropDownListFor(model => model.SelectedPayrollDate, Model.PayrollDates)*@
                    <tr><td>Start Date:&nbsp;&nbsp; @Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })</td></tr>
                    <tr></tr>
                    <tr><td>End Date:&nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBoxFor(model => model.EndDate, "{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })</td></tr>
                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            
                            <input type="submit" value="Search" class="buttonLightYellow_100" name="SubmitButton"/>
                            <input type="submit" value="Export" class="buttonLightYellow_100" name="SubmitButton"/>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="75%">
                <table width="100%">
                    <tr><td class="mainHeader">Processed Payroll SP Recap Report</td></tr>
                    <tr>
                        <td class="content">
                            <table width="100%">
                                <tr><td>Run Date:- @Model.StartDate1 &nbsp;&nbsp;To:- @Model.EndDate2</td></tr>
                                    @*<th>End Date :- @Model.EndDate2</th></tr>*@
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <th width="30%" align="left">SP Name</th>
                                    <th width="20%" align="left">SP Email</th>
                                    <th width="20%" align="left">SP Mobile Phone</th>
                                    <th align="left">Total SP Pay Amount</th>
                                </tr>
                               @if(Model.SPList != null && Model.SPList.Count > 0)
                               { 
                                foreach (var SP in Model.SPList)
                                {
                                    <tr>
                                        <td width="30%">@SP.SPFullName</td>
                                        <td width="20%">@SP.SPEmail</td>
                                        <td width="20%">@SP.SPMobilePhone</td>
                                        <td>$@SP.TotalSPPayAmount.Value.ToString("0.00")</td>
                                    </tr>
                                   }
                               }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="footer"><br /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
