﻿@using CSS
@model BLL.ViewModels.SPRankCalculationReportViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
@{
    ViewBag.Title = "SPRankCalculationReport";
}

<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" />


<script type="text/javascript">

    function expand_Click(spId) {
        $("#imgCollapse_" + spId).show();
        $("#trDetails_" + spId).show();
        $("#imgExpand_" + spId).hide();
    }
    function collapse_Click(spId) {
        $("#imgCollapse_" + spId).hide();
        $("#trDetails_" + spId).hide();
        $("#imgExpand_" + spId).show();
    }
   
</script>

<div>
@using (Html.BeginForm("SPRankCalculationReport", "Reporting"))
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Search Filter
            </td>
        </tr>
        <tr>
            <td>SPName :&nbsp;&nbsp;&nbsp; @Html.TextBoxFor(Model=>Model.SPName)&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Search" class="buttonLightYellow_100" name="submitbutton"/>
                <input type="submit" value="Export" class="buttonLightYellow_100" name="submitbutton"/>
            </td>
          
        </tr>
        <tr>
            <td class="footer">
                <br />
            </td>
        </tr>
    </table>
}
</div>

<div>

<table width="100%">
        
        <tr>
            <td class="content" align="center">
                <br />
                <table width="98%" style="border:none">

                    <tr>
                        <td style="padding-left:40px;text-align:left" >
                            <div>
                             <a onclick="#">
                               
                            </a>
                            SPName
                           </div>
                        </td>
                        <td>
                            Rank
                        </td>
                        <td>
                            OriginalRank
                        </td>
                        <td>
                            Current SPRating
                        </td>
                        <td>
                            OverDueDiaries
                        </td>
                        <td>
                            Rejection Percentage
                        </td>
                    </tr>
                   
                    @{
                                                                       for (int i = 0; i < Model.SPRankCalculationReport.Count; i++)
                                                                       {
                                                                           var record = Model.SPRankCalculationReport[i];
                                                                           
                        <tr>
                            <td align="left" style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;" width="55%">
                                <div style="float: left;">
                                    &nbsp;&nbsp;
                            <a onclick="expand_Click('@(record.Master.UserId)')">
                                <img id="imgExpand_@(record.Master.UserId)" src="@Url.Content("~/Content/Images/plus.png")" style="cursor:pointer;" />
                            </a>
                                    <a onclick="collapse_Click('@(record.Master.UserId)')">
                                        <img id="imgCollapse_@(record.Master.UserId)" src="@Url.Content("~/Content/Images/minus.png")" style="display:none;cursor:pointer;"/>
                                    </a>&nbsp;&nbsp;
                               
                                    <b>@record.Master.FullName</b>
                                </div>
                                

                            </td>
                            <td align="left" style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;" width="3%">
                                <b>@record.Master.Rank</b>
                            </td>
                            <td align="left" style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;" width="3%">
                                <b>@record.Master.OriginalRank</b>
                            </td>
                             <td align="left" style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;" width="14%">
                                <b>@record.Master.OverDueRank</b>
                            </td>
                            <td align="left" style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;" width="3%">
                                <b>@record.Master.OverDueDiary</b>
                            </td>
                            <td align="left" style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;" width="22%">
                                <b>
                                    @record.Master.RejPercent
                                </b>
                            </td>

                        </tr>
                        <tr id="trDetails_@(record.Master.UserId)" style="display:none;">
                            <td align="right" colspan="6">
                                <table width="100%">
                                    <tr style="color: #c8c8c8;">
                                        <td width="35%" style="text-align:left">Claim #</td>
                                        <td width="10%" style="text-align:left">Rank</td>
                                        <td width="30%" style="text-align:left">Note</td>
                                        <td width="15%" style="text-align:left">Count In Rejection</td>
                                        <td width="5%" nowrap="nowrap" style="text-align:left">No.Of Times Rejected</td>
                                        @* <td width="5%" nowrap="nowrap">Expired</td>*@
                                    </tr>
                                    @for (int pr = 0; pr < Model.SPRankCalculationReport[i].Detail.Count; pr++)
                                    {
                                        var detail = Model.SPRankCalculationReport[i].Detail[pr];
                                        var claimId = css.Claims.Where(a => a.ClaimNumber == detail.ClaimNumber).FirstOrDefault().ClaimId;
                                        var assignmentjob = (from aj in css.AssignmentJobs join pa in css.PropertyAssignments
                                                             on aj.AssignmentId equals pa.AssignmentId
                                                             where pa.ClaimId == claimId && pa.FileStatus != 11 && aj.JobId == 6
                                                             orderby pa.AssignmentId descending
                                                             select aj).FirstOrDefault();
                                        <tr>
                                            <td style="text-align:left">
                                                @if (assignmentjob != null)
                                                {
                                                    <a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = claimId, Jobid = assignmentjob.JobId, IsView = true, ServiceId = assignmentjob.ServiceId,CanAssignmentJobId = assignmentjob.AssignmentJobId })' style="border: none; color: blue; text-decoration: none;">
                                                        @detail.ClaimNumber
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href='@Url.Action("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(claimId.ToString()) })' style="border: none; color: blue; text-decoration: none;">
                                                @detail.ClaimNumber
                                              </a>
                                                }
                                            </td>
                                            <td style="text-align:left">@detail.Rank</td>
                                            <td style="text-align:left">@detail.Note</td>
                                            <td style="text-align:left">@detail.CountInRejection</td>
                                            <td style="text-align:left">@detail.RejectionCount</td>
                                            @*<td>@detail.Expired</td>*@
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                                    
                                                                       }
                                                                       if (Model.SPRankCalculationReport.Count == 0)
                                                                       {
        <tr><td colspan="4" align="center">- No record found - </td></tr>
                                                                       }
                                                                      
                    }
                </table>
                @*<br />*@
            </td>
        </tr>
       
    </table>

</div>