﻿@model BLL.ViewModels.StatusRequestReportViewModel
@{
    ViewBag.Title = "StatusRequestReport";
}
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
      });

    function btnSubmit_Click() {
        debugger;
        var ToEmails = $("#ToEmails").val();
        if (ToEmails != "" && ToEmails != " ") {
            $("#frmRegistration").submit();
        }
        else {
            $("#divStatus").html("To Emails is required");
        }

    }
</script>
<style>
    #ToEmails{
       width: 250px;
        height: 40px;
    }
</style>
@using (Html.BeginForm("StatusRequestReport", "Reporting", FormMethod.Post, new { @id = "frmRegistration" }))
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Status Request</td>
        </tr>
        <tr>
            <td class="content">
                <table width="50%">
                    <tr><td colspan="2" style="color:green;font-size: 13px;"><b>@Html.LabelFor(model => model.Status, Model.Status)</b></td></tr>
                    <tr>
                        <td nowrap="nowrap" align="right" style="padding:10px">Assignment  Start Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.StartDate, Model.StartDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                        <td nowrap="nowrap" align="right" style="padding:10px">End Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:120px;" })</td>
                      
                    </tr>
                    <tr>
                        <td nowrap="nowrap" align="right" style="padding:10px;padding-bottom:20px">Company Name:</td>
                        <td nowrap="nowrap">
                            @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesList)
                        </td>

                    </tr>

                    <tr>
                        <td nowrap="nowrap" align="right" style="padding:10px;">To Emails:</td>
                        <td  colspan="2">
                            @Html.TextAreaFor(model => model.ToEmails, Model.ToEmails)
                            <br /><div style="display: inline; color: red;" id="divStatus"></div>
                        </td>
                        </tr>
                    <tr>
                        <td style="padding-bottom:10px"></td>
                        <td class="infoText">Use comma ',' to seperate email addresses.</td>

                    </tr>
                   
                </table>

            </td>
        </tr>
        <tr class="footer">
            <td align="right">
                <input type="button" value="Request Report" class="buttonLightYellow_100" onclick="btnSubmit_Click()" />
            </td>
        </tr>
        
    </table>
    <div>
    </div>
}
