﻿body
{
    font-family:Verdana;
    font-size: 11px;
    color: #727272;
    
}
/* Simulate Page Body For Pages Displayed in Popups */
.bodyFont {
    font-family:Verdana;
    font-size: 11px !important;
}
.bodyFont table tr td {
    font-family:Verdana;
    font-size: 11px !important;

}
/*
HTML Controls
*/
input[type="text"] {
    font-family: Verdana;
    font-size: 13px;
    border: solid 1px Gray;
    padding: 3px;
    margin-right: 3px;
}

textarea {
    font-family: Verdana;
    font-size: 13px;
    border: solid 1px Gray;
    padding: 3px;
}

input[type="password"] {
    font-family: Verdana;
    font-size: 13px;
    border: solid 1px Gray;
    padding: 3px;
}

select {
    font-family: Verdana;
    font-size: 13px;
    border: solid 1px Gray;
    padding: 3px;
}

/*
Page
*/
.infoText {
    font-size: 9px;
    color: gray;
}

.defaultPageText {
    font-family: Verdana;
    font-size: 11px !important;
    color: #727272;
}

.bannerBG {
    background-color: #F2F2F1;
    border-bottom: solid 1px Black;
    /*background-image: url('Images/LogoBG_Grad01.jpg'); */
    background-repeat: repeat-x;
    background-position: left top;
    height: 90px;
}

.pageBorder {
    border: 1px solid #9C9C9C;
}

.mainContent {
    padding: 5px;
}

.loginBar {
    color: Gray;
    background-color: lightgray;
    background-repeat: repeat-x;
    padding: 2px 15px 10px 15px;
    border-left: 1px solid LightGray;
    border-right: 1px solid LightGray;
    border-bottom: 1px solid LightGray;
}

    .loginBar a {
        color: Black;
        font-weight: bold;
        text-decoration: none;
    }

.navbar {
    width: 100%;
    color: White;
    font-weight: bold;
    height: 40px;
    background-image: url('Images/NavBarBlueButton_10.gif');
    background-repeat: repeat-x;
}

    .navbar a {
        color: White;
        font-weight: bold;
        text-decoration: none;
    }

/*
Text Headers and Footers
*/
.mainHeader {
    color: Black;
    font-size: 15px;
    font-weight: bold;
    background-color: #F0F0F0;
    padding: 5px;
    border-bottom: solid 1px LightGrey;
}

.footer {
    background-color: #F0F0F0;
    padding: 5px;
    border-top: solid 1px LightGrey;
}

.headingBlack {
    color: Black;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 5px;
}

.headingRed {
    color: #F30202;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

.subHeading {
    background-color: White !important;
    color: Black;
    font-size: 12px;
    font-weight: bold;
    border-bottom: solid 1px LightGrey;
    padding-bottom: 5px;
}

.subFooter {
    background-color: White !important;
    padding: 5px;
    border-top: solid 1px LightGrey;
}

.subHeadingRed {
    color: #F30202;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}

.subHeadingBlack {
    color: Black;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}

.headingBGColour {
    background-color: #F0F0F0;
}

.footerBGColour {
    background-color: #F0F0F0;
}
/*
Panels, Content Areas
*/
.content {
    background-color: #F9F9F9;
}

/*
Page Content Borders
*/
.borderBottomBlack {
    border-bottom: solid 1px Black;
}

.borderBottomGray {
    border-bottom: solid 1px Gray;
}

.borderRightLightGray {
    border-right: solid 1px LightGrey;
}

.borderBottomLightGray {
    border-bottom: solid 1px LightGrey;
}
.borderTopLightGray {
    border-top: solid 1px LightGrey;
}
.borderBottomRed {
    border-bottom: solid 1px #F30202;
}

.borderBottomBlue {
    border-bottom: solid 1px #46B0EE;
}

.grayBox01 {
    border: 1px solid #D1D1D1;
    background-image: url('Images/BoxGradientBG03.jpg');
    background-repeat: repeat-x;
    background-color: #E6E6E6;
}
/*
Buttons
*/
.buttonYellow_100 {
    background-color: Transparent;
    color: Black;
    background-image: url(Images/ButtonYellow_100_20.png);
    width: 100px !important;
    height: 20px !important;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    cursor:pointer !important;
    text-align:center !important;
    font-size: 12px !important;
}
.buttonYellow_120 {
    background-color: Transparent;
    color: Black;
    background-image: url(Images/ButtonYellow_100_20.png);
    background-size: 120px 20px;
    width: 120px !important;
    height: 20px !important;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    cursor:pointer !important;
    text-align:center !important;
    font-size: 12px !important;
}
.buttonLightYellow_100 {
    background-color: Transparent;
    color: Black;
    background-image: url(Images/ButtonLightYellow_100_20.png);
    
    width: 100px !important;
    height: 20px !important;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    cursor:pointer !important;
    text-align:center !important;
    font-size: 12px !important;
}
.buttonLightYellow_120 {
    background-color: Transparent;
    color: Black;
    background-image: url(Images/ButtonLightYellow_100_20.png);
    background-size: 120px 20px;
    width: 120px !important;
    height: 20px !important;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    cursor:pointer !important;
    text-align:center !important;
    font-size: 12px !important;
}
/*Box Blur*/
.boxBlurTopLeft {
    width: 15px !important;
    height: 25px !important;
    background-image: url('Images/BoxBlurTopLeft01.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.boxBlurTopRight {
    width: 15px !important;
    height: 25px !important;
    background-image: url('Images/BoxBlurTopRight01.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.boxBlurBottomLeft {
    height: 25px !important;
    background-image: url('Images/BoxBlurBottomLeft01.jpg');
    background-repeat: no-repeat;
    background-position: right top;
}

.boxBlurBottomRight {
    height: 25px !important;
    background-image: url('Images/BoxBlurBottomRight01.jpg');
    background-repeat: no-repeat;
    background-position: left top;
}

.boxBlurBottomMiddle {
    background-image: url('Images/BoxBlurBottomMiddle01.jpg');
    background-repeat: repeat-x;
    background-position: top;
}

.boxBlurTopMiddle {
    background-image: url('Images/BoxBlurTopMiddle01.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
}

.boxBlurLeftMiddle {
    background-image: url('Images/BoxBlurLeftMiddle01.jpg');
    background-repeat: repeat-y;
    background-position: right;
}

.boxBlurRightMiddle {
    background-image: url('Images/BoxBlurRightMiddle01.jpg');
    background-repeat: repeat-y;
    background-position: left;
}

/*Messages*/
.errorMsg {
    font-weight: bold;
    color: red;
    display: inline;
}

.successMsg {
    font-weight: bold;
    color: darkgreen;
}

/*Table Grids*/
.tableHeader {
    background-color: #B2B2B2;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

    .tableHeader a {
        color: #FFFFFF;
        text-decoration: none;
    }

.tableRow {
    background-color: #F9F9F9;
}

.tableRowAlternate {
    background-color: #EAEAEA;
}

/* Progress Bar*/
.progress {
    text-align: left;
    vertical-align: middle;
    position: relative;
    width: 200px;
    border: 1px solid #C6C6C6;
    position: relative;
    padding: 0px;
    background-color: White;
}

.bar {
    background-image: url('Images/progressBar01.png');
    background-color: #0A89E2;
    width: 0%;
    height: 16px;
}

.percent {
    width: 100%;
    text-align: center;
    color: black;
    position: absolute;
    display: inline-block;
    top: 0px;
}

/* Menu */ ​ .cssmenu ul,
.cssmenu li,
.cssmenu span,
.cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
}

.cssmenu {
    height: 49px;
}

    .cssmenu:after,
    .cssmenu ul:after {
        content: '';
        display: block;
        clear: both;
    }

    .cssmenu a {
        display: inline-block;
        /*font-size: 12px;*/
        line-height: 30px;
        padding: 0 20px;
        text-decoration: none;
    }

    .cssmenu ul {
        list-style: none;
    }

    .cssmenu > ul {
        float: left;
    }

        .cssmenu > ul > li {
            float: left;
        }

            .cssmenu > ul > li:hover:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                /* border-bottom: 10px solid #71b00c;/*Green Default*/
                border-bottom: 10px solid #6EB9ED; /*Blue*/
                margin-left: -10px;
            }

            .cssmenu > ul > li:first-child > a {
                border-radius: 5px 0 0 0;
                -moz-border-radius: 5px 0 0 0;
                -webkit-border-radius: 5px 0 0 0;
            }

            .cssmenu > ul > li:last-child > a {
                border-radius: 0 5px 0 0;
                -moz-border-radius: 0 5px 0 0;
                -webkit-border-radius: 0 5px 0 0;
            }

            .cssmenu > ul > li.active > a {
            }

            .cssmenu > ul > li:hover > a {
            }

    .cssmenu .has-sub {
        z-index: 1;
    }

        .cssmenu .has-sub:hover > ul {
            display: block;
        }

        .cssmenu .has-sub ul {
            display: none;
            position: absolute;
            width: 200px;
            top: 100%;
            left: 0;
        }

            .cssmenu .has-sub ul li {
                white-space: nowrap;
                *margin-bottom: -1px;
            }

                .cssmenu .has-sub ul li a {
                    /*background: #71b00c; /*Green Default*/
                    background: #6EB9ED; /*Blue*/
                    /*border-bottom: 1px dotted #aad06d; /*Green Default*/
                    border-bottom: 1px dotted #1272D6; /*Blue*/
                    filter: none;
                    display: block;
                    line-height: 120%;
                    padding: 10px;
                }

                .cssmenu .has-sub ul li:hover a {
                    /*background: #528009; /*Green Default*/
                    background: #199AE5; /*Blue*/
                }

        .cssmenu .has-sub .has-sub:hover > ul {
            display: block;
        }

        .cssmenu .has-sub .has-sub ul {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
        }

            .cssmenu .has-sub .has-sub ul li a {
                background: #528009;
                border-bottom: 1px dotted #97b36b;
            }

                .cssmenu .has-sub .has-sub ul li a:hover {
                    background: #345105;
                }

/*
    Pager

 */

.pager .pag_list li a {
    color: #7E97AC;
    display: inline-block;
    font: bold 13px/14px arial;
    padding: 10px 13px;
    float: left;
}

.pager ul, .pager li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    float: left;
}

.pager a {
    outline: 0 none;
    text-decoration: none;
}


.pager .pag_list li a:hover, .pager .pag_list li a.act {
    background: none repeat scroll 0 0 #303E47;
    color: #FFFFFF;
    text-decoration: none;
}

.pager {
    border-bottom: 1px solid #DDE0E3;
    border-top: 1px solid #DDE0E3;
    height: 34px;
}

.pager .ppn {
    background: none repeat scroll 0 0 #BECBD5;
    color: #FFFFFF;
    display: inline-block;
    font: bold 12px/14px arial;
    padding: 4px;
    height: 34px;
    width: 34px;
    border: solid;
}

.pager .BR {
    background-color:lightgray;
    cursor:pointer;
}
.pager .PR {
    background-color:lightgray;
    cursor:pointer;
}

.buttonYellow_180 {
    background-color: Transparent;
    color: Black;
    background-image: url(Images/ButtonYellow_100_20.png);
    background-size: 180px 20px;
    width: 180px !important;
    height: 20px !important;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    cursor:pointer !important;
    text-align:center !important;
    font-size: 12px !important;
}