﻿@model BLL.ViewModels.AssignContractorCompanyViewModel

@{
    ViewBag.Title = "AssignContractorCompany";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<table style="width:100%;">
    @{
        var PropertyAssignmentDetails = css.PropertyAssignments.Where(x => x.AssignmentId == Model.AssignmentId).FirstOrDefault();
        var ClaimDetails = css.Claims.Where(x => x.ClaimId == PropertyAssignmentDetails.ClaimId).FirstOrDefault();
        var assignmentjob = css.AssignmentJobs.Where(x => x.AssignmentId == Model.AssignmentId).FirstOrDefault();
        var UserDetails = css.Users.Where(x => x.UserId == Model.OAUserId).FirstOrDefault();
   
    <tr>
        <td>
            <div style="height : 20%;">
                <table style="width:100%;">
                    <tr>
                        <td class="mainHeader">The  Claim Has Been Auto-Assigned</td>
                    </tr>
                </table>
            </div>
            <table width="100%" style="padding-bottom:14px;">
                @{
                   

                    <tr class="tableRowAlternate">
                        <td>
                            <b>Job Type</b>
                        </td>
                        <td>
                            @{
                                var jobtype = css.JobTypes.Where(x => x.JobId == assignmentjob.JobId).FirstOrDefault();
                                @jobtype.JobDesc
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Service Type</b>
                        </td>
                        <td>
                            @{
                                var servicetype = css.ServiceTypes.Where(x => x.ServiceId == assignmentjob.ServiceId).FirstOrDefault();
                                @servicetype.Servicename
                            }
                        </td>
                    </tr>
                    <tr class="tableRowAlternate">
                        <td>
                            <b>Service Provider Name </b>
                        </td>
                        <td>
                            @UserDetails.FirstName @UserDetails.LastName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Location of SP</b>
                        </td>
                        <td>
                            @UserDetails.StreetAddress,@UserDetails.City,@UserDetails.State,@UserDetails.Zip
                        </td>
                    </tr>
                    <tr class="tableRowAlternate">
                        <td>
                            <b>Contact No </b>
                        </td>
                        <td>
                            @UserDetails.MobilePhone
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Email </b>
                        </td>
                        <td>
                            @UserDetails.Email
                        </td>
                    </tr>
}
            </table>
        </td>
    </tr>
    <tr>
        <td class="footer">     
            
            <input type="submit" class="buttonLightYellow_100" value="Back" onclick="window.location.href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = @ClaimDetails.ClaimId, Jobid = @assignmentjob.JobId, IsView = true, ServiceId = @assignmentjob.ServiceId,CanAssignmentJobId = @assignmentjob.AssignmentJobId })';" />
                              
            @*<a href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = @ClaimDetails.ClaimId, Jobid = @assignmentjob.JobId, IsView = true, ServiceId = @assignmentjob.ServiceId })' class="buttonLightYellow_100">
                Return to Claim
            </a>*@
        </td>
        </tr>
    }
</table>