﻿@model BLL.ViewModels.AssignServiceProviderViewModel
@{
    ViewBag.Title = "AssignServiceProvider";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}


<table>
    <tr>
        <td class="mainHeader">Assign Service Provider</td>
    </tr>
    <tr>
        <td class="content">
            @if (Model.hasBeenAssignedSuccessfully)
            {
                @:<br />The selected Service Provider has been assigned to the Property Assignment.<br /><br />
                }
            else if (@TempData["ErrorMessageforAssign"] != null)
            {

                @:<br />@TempData["ErrorMessageforAssign"].ToString() <br /><br />
                }
        </td>
    </tr>
    <tr>
        <td class="footer">@using (Html.BeginForm("Search", "PropertyAssignment"))
                           {
            @*<input type="submit" class="buttonLightYellow_100" value="Back" />*@
        var AssignmentJobId = css.AssignmentJobs.Where(x => x.AssignmentId == Model.AssignmentId).Select(x => x.AssignmentJobId).ToList();
    <input type="button" value="Back" onclick="location.href='@Url.Action("GetReferalDetails", "PropertyAssignment", new { ClaimId = Model.ClaimId, Jobid = Model.JobId, IsView = true, ServiceId = Model.ServiceId, CanAssignmentJobId = AssignmentJobId[0] })'" class="buttonYellow_120" />
                           }</td>
    </tr>
</table>
