﻿@{
    ViewBag.Title = "ContractorCompanyAlertMessage";
}

<table>
    <tr>
        <td class="mainHeader">Message</td>
    </tr>
    <tr>
        <td class="content">
            <b>
                The Assignment has been submitted to the “Dispatch Contractor Assignments” map,<br />
                and will be manually assigned to a qualified contractor by the administrator.
            </b>
        </td>
    </tr>
    <tr>
        <td class="footer">
            @using (Html.BeginForm("Search", "PropertyAssignment"))
            {
                <input type="submit" class="buttonLightYellow_100" value="Back" />
            }
    </td>
</tr>
</table>

