﻿@model BLL.ViewModels.CreateAssignmentViewModel
@using (Html.BeginForm("Index","NewAssignment"))
{
    <table width="100%" align="center">
        <tr>
            <td valign="top">
                <table align="left" width="400px" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="headingBlack borderBottomLightGray" bgcolor="#F0F0F0">
                            Make Property Appraisal Assignment
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F9F9F9">
                            <div class="errorMsg" style="width: 100%;">
                                @Html.ValidationSummary()
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F9F9F9">

                            <strong>
                                <br />
                                Damage Levels</strong>
                            @Html.RadioButton("grp","Residential", "R")
                            <label>
                                Residential</label>
                            @Html.RadioButton("grp", "Commercial", "C")
                            <label>
                                Commercial</label>
                            @Html.RadioButton("grp", "Contents", "Co")
                            <label>
                                Contents</label>
                            <br />
                            <br />
                            @Html.CheckBox("one")
                            <label>
                                CAT Claim</label>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F9F9F9">
                            <br />
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="subHeadingBlack" bgcolor="#F9F9F9">
                            Instructions for Assignment
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F9F9F9">
                            <br />
                            <strong>Location&nbsp; </strong>
                            @Html.TextBoxFor(model => model.Location, new { style = "width:300px" })<br />
                            (Enter Zip or City, State)
                        </td>
                    </tr>
                    <tr>
                        <td class="borderBottomLightGray" bgcolor="#F9F9F9">
                            <br />
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="right" bgcolor="#F0F0F0" style="padding: 5px">
                            <input type="submit" class="buttonYellow_100" value="Submit" />
                            <br />
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                &nbsp;
            </td>
            <td valign="top">
                <table align="left" width="400px">
                    <tr>
                        @*<td class="headingBlack borderBottomLightGray">
                            Some Info
                        </td>*@
                    </tr>
                    <tr>
                        <td>
                            <br />
                            &nbsp;@* Some Text*@<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
