﻿@{
    ViewBag.Title = "NoContractorCompanyMessage";
}

<table>
    <tr>
        <td class="mainHeader">Message</td>
    </tr>
    <tr>
        <td class="content">
            <b>
                There is no Contractor Company for this Assignment as per the Auto Assign Rules.                
            </b>            
        </td>
    </tr>
    <tr>
        <td class="footer">
            @using (Html.BeginForm("Search", "PropertyAssignment"))
            {
                <input type="submit" class="buttonLightYellow_100" value="Back" />
            }
        </td>
    </tr>
</table>

