﻿@model BLL.ViewModels.AssignmentServiceProviderSearchViewModel
@using CSS
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dhtmlxslider.css")" />
<script src="@Url.Content("~/Scripts/dhtmlSider/dhtmlxcommon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/dhtmlSider/dhtmlxslider.js")" type="text/javascript"></script>


<script type="text/javascript">
    window.dhx_globalImgPath = "@Url.Content("~/Content/Images/dhtmlSlider/")"; // sets image path DHTMLSlider
    $(document).ready(function () {
        // debugger;

        $('#viewmoresp').click(function () {

            $('#SPList tr').each(function () {
                //  debugger;
                //alert($(this));
                $(this).css('display', 'table-row');


            });

        });



    });

    debugger;
    function AssignConfirmation(AsgID, spID, ClaimNumber, Companyid, CompanyName1) {
        debugger;
        if (spID != '') {
            if (Companyid != '') {
                $.getJSON('@Url.Content("~/SPMapSearch/CheckCertificate")',
          {
              SPid: spID, Companyid: Companyid, CompanyName: CompanyName1
          },
           function (data) {
               if (data == 1) {
                   if (confirm("Selected SP has an expired Certificate for this claim.  Do you want to proceed with assigning?")) {
                       $.getJSON('@Url.Content("~/SPMapSearch/CheckUnQualifiedSP")',
                   {
                       SPid: spID, Companyid: Companyid, LOBId: '', ClientPOCId: '', AssignmentId: AsgID
                   },
                       function (data) {
                           if (data == 1) {
                               debugger;
                               if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                                   // window.location.href = "/NewAssignment/AssignServiceProvider?assignmentId=" + AsgID + "&OAUserId=" + spID;
                                   SPSigenedcheck(spID, AsgID);
                               }
                           }
                           else if (data == 2) {
                               alert('Selected Service Provider does not qualify for the company of Claim #' + ClaimNumber);
                           }
                           else if (data == 4) {
                               alert('Selected Service Provider does not have for license for this state');
                           }
                           else if (data == 3) {
                               if (confirm("Selected SP has an expired license for this state. Do you want to proceed with assigning them to this loss?")) {
                               if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                                   SPSigenedcheck(spID, AsgID);
                               }
                               }
                           }
                       });
                   }
               }
               else {
                   $.getJSON('@Url.Content("~/SPMapSearch/CheckUnQualifiedSP")',
              {
                  SPid: spID, Companyid: Companyid, LOBId: '', ClientPOCId: '', AssignmentId: AsgID
              },
            function (data) {
                if (data == 1) {
                    debugger;
                    if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                        // window.location.href = "/NewAssignment/AssignServiceProvider?assignmentId=" + AsgID + "&OAUserId=" + spID;
                        SPSigenedcheck(spID, AsgID);
                    }
                }
                else if (data == 2) {
                    alert('Selected Service Provider does not qualify for the company of Claim #' + ClaimNumber);
                }
                else if (data == 4) {
                    alert('Selected Service Provider does not have license for this state');
                }
                else if (data == 3) {
                    if (confirm("Selected SP has an expired license for this state.  Do you want to proceed with assigning them to this loss?")) {
                    if (confirm('Assign Claim #' + ClaimNumber + ' to the selected service provider?')) {
                        SPSigenedcheck(spID, AsgID);
                    }
                    }
                }
            });
               }
           });
            }
        }
        else {
            alert('Please select a Service Provider');
        }
        //oldcode
        //if (confirm("Are you sure you want to Assign Service provider?")) {

        //    $('#OAUserId').val(userid);

        //    $("#frmAssignServiceProvider").submit();
        //}
    }

    function SPSigenedcheck(spID, AsgID) {
        debugger;
        $.getJSON('@Url.Content("~/SPMapSearch/SPSigenedcheck")',
     {
         SPId: spID
     },
         function (result) {
             if (result == 1) {
                 debugger;
                 //alert();
                 if (confirm('Selected SP does not have a signed contract on file. Assignment to the SP can proceed, but any net payment to SP will be prevented until the contract is signed.')) {
                     window.location.href = "/NewAssignment/AssignServiceProvider?assignmentId=" + AsgID + "&OAUserId=" + spID;
                 }
             }
             else if (result == 0) {
                 window.location.href = "/NewAssignment/AssignServiceProvider?assignmentId=" + AsgID + "&OAUserId=" + spID;
             }
         });


    }

</script>
<style type="text/css">
    .style1 {
        width: 16px;
        height: 16px;
    }

    .style3 {
        width: 100%;
    }
</style>
<table width="100%">
    <tr>
        <td valign="top" width="200">
            @using (Html.BeginForm("SelectServiceProvider", "NewAssignment", FormMethod.Post))
            {
                <table align="left" cellspacing="0" width="200">
                    <tr>
                        <td class="mainHeader">Search Filter
                        </td>
                    </tr>
                    <tr>
                        <td class="content">
                            <div class="errorMsg" style="width: 100%;">
                                @Html.ValidationSummary()
                            </div>
                            @Html.HiddenFor(model => model.AssignmentId)
                            @Html.HiddenFor(model => model.JobTypeId)
                            @Html.HiddenFor(model => model.ServiceTypeId)
                            @Html.Partial("_NewAssignmentSPSearchFilter")
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="footer">
                            <input type="submit" class="buttonLightYellow_100" value="Search" />
                        </td>
                    </tr>
                </table>
            }
        </td>
        <td valign="top">
            <table align="left" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader">Outside Service Providers List
                    </td>
                </tr>
                @if (Model.ServiceProvidersList != null)
                {
                    if (Model.ServiceProvidersList.Count != 0)
                    {
                    <tr>
                        <td class="subHeading">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="content">

                            @Html.Partial("_GoogleMap", Model.GoogleMapViewModel)
                        </td>
                    </tr>
                    <tr>
                        <td class="subFooter">&nbsp;
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <td class="content">
                        @using (Html.BeginForm("PropertyAssignment", "PropertyAssignment"))
                        {
                            <table cellpadding="3" cellspacing="0" width="100%" id="SPList">
                                <tr>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;"></td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;">SP Name
                                    </td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;">Location
                                    </td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" align="center" width="100">Miles
                                    </td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;">Phone No</td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;"></td>

                                </tr>
                                @{
                            bool isRecordAvailable = false;
                            if (Model.ServiceProvidersList != null)
                            {
                                        BLL.Claim c = new BLL.Claim();
                                        BLL.PropertyAssignment pa = new BLL.PropertyAssignment();

                                        if (Model.AssignmentId > 0)
                                        {
                                            pa = css.PropertyAssignments.Find(Model.AssignmentId);
                                            c = css.Claims.Find(pa.ClaimId);

                                        }
                                foreach (BLL.AssignmentSPSearch_Result spDetail in Model.ServiceProvidersList)
                                {
                                    if (!isRecordAvailable)
                                    {
                                        //Model.ServiceProviderList be enumerated only once
                                        isRecordAvailable = true;
                                    }
                                  
                                    <tr @((spDetail.OverdueRank == null || spDetail.OverdueRank < 4) ? "style=display:none" : "style=display:table-row")>
                                        @*   <tr> *@
                                        <td bgcolor="#EAEAEA" valign="top">
                                            <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=@spDetail.RowNumber|B2B2B2|000000" /></td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            @spDetail.Company<br />

                                            @switch (Convert.ToInt32(spDetail.OverdueRank))
                                            {
                                                case 1:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                             
                                            
                                                    break;
                                                case 2:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                                case 3:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                                case 4:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                                case 5:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                    break;
                                                default:
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                            }




                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            @spDetail.Location
                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top" align="center">
                                            @spDetail.Distance
                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            @spDetail.MobilePhone
                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            @*<a class="buttonYellow_100" href="@Url.Action("AssignServiceProvider", "NewAssignment", new { assignmentId = Model.AssignmentId, OAUserId = spDetail.userid })" style="text-decoration:none; text-align:center;vertical-align:middle;border: none; color: black; cursor: pointer;float:left;">Assign*@
                                            @*<a class="buttonYellow_100" onclick="AssignConfirmation(@Model.AssignmentId,@spDetail.userid)" style="text-decoration:none; text-align:center;vertical-align:middle;border: none; color: black; cursor: pointer;float:left;">*@
                                                <a class="buttonYellow_100" onclick="AssignConfirmation('@Model.AssignmentId','@spDetail.userid','@c.ClaimNumber','@c.HeadCompanyId','@c.Company.CompanyName');" style="text-decoration:none; text-align:center;vertical-align:middle;border: none; color: black; cursor: pointer;float:left;">
                                                Assign
                                            </a>

                                           

                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                isRecordAvailable = false;

                            }
                            if (!isRecordAvailable)
                            {
                                    <tr>
                                        <td colspan="5" align="center">
                                            <br />
                                            <br />
                                            - No records found -
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                            }
                               
                                }
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        @{
                            var prevurl = (string)Session["PreviousUrl"];
                            var prevclaim = (string)Session["claimid"];
                            if(prevurl != null)
                            {
                            bool b = prevurl.Contains("Search");
                                if (!b)
                               
                                {
                                    using (Html.BeginForm("Details", "PropertyAssignment", new { claimid = (prevclaim)}))
                                    {
                                        <input type="submit" class="buttonLightYellow_100" value="Back"  />
                                        if (Model.ServiceProvidersList != null && Model.ServiceProvidersList.Count() > 0)
                                        {
                                             <input type="button" class="buttonLightYellow_100" value="ViewMore" id="viewmoresp" />
                                       
                                        }
                                    }
                                }

                                else
                                {
                                    using (Html.BeginForm("Search", "PropertyAssignment"))
                                    {
                                        <input type="submit" class="buttonLightYellow_100" value="Back"  />
                                        if (Model.ServiceProvidersList != null && Model.ServiceProvidersList.Count() > 0)
                                        {
                                             <input type="button" class="buttonLightYellow_100" value="ViewMore" id="viewmoresp" />
                                       
                                        }
                                    }

                                }
                            }
                            else
                            {
                                using (Html.BeginForm("Search", "PropertyAssignment"))
                                {
                                    <input type="submit" class="buttonLightYellow_100" value="Back"  />
                                }
                                
                            }
                        }
                        @* @using (Html.BeginForm("Search", "PropertyAssignment"))
                        {
                            <input type="submit" class="buttonLightYellow_100" value="Back"  /> 
                        }*@
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div>
    @using (Html.BeginForm("AssignServiceProvider", "NewAssignment", FormMethod.Post, new { id = "frmAssignServiceProvider" }))
    {
        

        <input type="hidden" id="AssignmentId" name="AssignmentId" value="@Model.AssignmentId"/>
    <input type="hidden" id="OAUserId" name="OAUserId" />

            }
</div>
